[2015-05-25 12:54] Danimal696 commented on #778
actually, do you resize door in code? i tried a 1:1 used as a creature mesh and the size was rigth

I craft a door, kobold mounts it and the combat music start playing, pressing space returns me to door like some figth is happening there, i only tested in "falling keeper" map thought

[2015-05-25 13:52] hwoarangmy commented on #778
ATM, they are scaled (0.7,0.7,0.7) like nearly all entities (building objetcs, spike trap, cannon, boulder, ...). If you want, we can scale this one differently or adapt to the other objects size. Just tell.

I've just tesed and I confirm the bug. I will fix it soon.

[2015-05-25 14:00] akien-mga commented on #778
I wonder if this scaling by 0.7 won't become a bother as times goes on. Maybe it would be better to scale everything to 1.0 and just adapt the camera view accordingly to keep the same visuals? Then we could use scaling on a per-object basis for those objects that we really want to scale for a reason or another.

[2015-05-25 14:14] hwoarangmy commented on #778
No, we can't. That would mean to scale differently all the other meshes (tiles, creatures, ...). And play with the camera as you suggest to keep the same aspect ratio.

The other solution would be to resize the objects to have a 1.0 scale to be the correct size. But that would mean updating all building objects, traps, rooms...

[2015-05-25 17:48] Danimal696 commented on #778
so ill just upsize it by 0.3, no prob

[2015-05-25 18:22] akien-mga commented on #778
Technically, by 0.43 ;-)
`1.0/0.7 = 1.43`

[2015-05-25 20:23] Bertram25 commented on #777
@alketii I guess you mean a true lobby server, like in wesnoth, I suppose?

I'm not against the feature at all. In fact, it would be awesome! But I wondered, who could host this for us?
@Wout-van-Dongen Do you think it's possible for host this somehow (once implemented)?

[2015-05-25 21:12] #774 closed, assigned to hwoarangmy

[2015-05-25 21:14] akien-mga commented on #776
Fixed by 9ec35a2a.

[2015-05-25 21:14] #776 closed, assigned to hwoarangmy

[2015-05-26 07:00] hwoarangmy commented on #777
@alketii Sorry for not being there yesterday but it was too late to connect when I was available. I will try to catch you on IRC.

@Bertram25 I talked with @alketii and he proposed to ask http://tuxfamily.org/ if they can host OD. I've had a look at their website but couldn't really find technical infos about what we can do or not (running executables ?). I've also seen that they host stuff for Ma

[2015-05-27 15:09] Bertram25 commented on #777
Ok, ack. :)

N.B.: It will be cool but I'll keep focusing on my current goals for now since it seems I'm slow enough those times. ;)

[2015-05-27 15:17] akien-mga opened #779 "Leave SourceForge definitively?"
On top of displaying ads everywhere, it seems that for a couple of years SourceForge has been bundling malwares in Windows installers of the projects they host (it does not affect us currently, but ethically... yuck!). Now I just read a report from a GIMP developer saying that SourceForge has taken over the control of the GIMP entry on SF, pretexting a "lack of inactivity", and they now distribute

[2015-05-27 19:46] #778 closed, assigned to hwoarangmy

[2015-05-27 19:55] hwoarangmy commented on #779
I don't really care about moving or not. I've never faced the problems described in your link. But I've been to the gimp website and they talk about it so it must be true.
Anyway, we almost have nothing in sourceforge ATM.
Do you know tuxfamily ? If we want to move there, I'm ok.

[2015-05-28 05:53] akien-mga commented on #779
I don't fear that we could be affected by the same issue, since we don't propose Windows installers (only zip archives with a Windows executable, but I don't think they would bother with bundling something in our executable for such a small scale project). It's more about the ethics, I'm starting to think that SourceForge is no longer a place for free software made by people on their free site.

O

[2015-05-28 06:14] akien-mga commented on #779
Some more context, in English this time: http://arstechnica.com/information-technology/2015/05/sourceforge-grabs-gimp-for-windows-account-wraps-installer-in-bundle-pushing-adware/

[2015-05-28 09:13] ghost opened #781 "Game does not show up after validating the Ogre rendering settings"
Hi there,

I just tried to run OpenDungeons on my 11" notebook with Linux Mint (Ubuntu). The display resolution would be 1024x600 and lower (also tried 640_480 and 800_600 in full screen and windowed).
The only thing that is appearing is the selection for the renderer, nothing else.
I couldn't find a log file and also no information on which system the game should run. On Windows it worked fine.

[2015-05-28 10:03] akien-mga commented on #781
I'm not sure what the issue is exactly.
Did you select a renderer, or have you none proposed?

[2015-05-28 20:01] hwoarangmy commented on #781
I would guess at an exception while reading config files or something like that.

Could you please post your log file ?
It should be somewhere like "~/.local/share/opendungeons/opendungeons.log"

[2015-05-29 14:12] ghost commented on #781
Hi,
I think I forgot to mention I'm a Windows user. Simple commands like "copy" are unknown to this stupid Linux. It's really not nice to say "look into a folder where you can't get with the gui".
I think it would have been too easy to drop the log file in the same directory as the game?!

And I'm also too stupid for Github. A long time ago there had been "TinyMCE" with a "<code>" button. So here'

[2015-05-29 19:43] akien-mga commented on #781
I still don't understand your issue, apart from the fact that Linux seems to bother you.

The log does not show any error, actually it just shows that you started OpenDungeons... and then nothing more happens. So could you please answer my earlier question:

As for:

It's normal practice on any operating system that user-specific data should go to a standard folder, which is C:/Users/YourName/AppD

[2015-05-29 19:56] ghost commented on #781
Of course I chose a renderer, it seems I will never understand Linux, but I'm not too stupid to press a button -.-

And for this "AppData" folder: It didn't exist on Win95 where I started. So everything went into the program's or game's folder. Now I can't decide which OS to run. For university I need something newer. The something newer doesn't let me do what I want the way I want it: Very neatly

[2015-05-29 20:13] akien-mga commented on #781
You are asking for support and give very little information, it's only legitimate that I ask for more info. And yes, some people do not understand how to select a renderer, because it's not 100% clear that the empty field can be clicked to show a drop-down list. So excuse me for presuming that might be your case, but the information you gave was very sparse.

Now that's already more useful to see

[2015-05-29 20:16] akien-mga commented on #781
Also, if I understand correctly, OpenDungeons works on Windows on the same notebook?

[2015-05-29 20:24] akien-mga commented on #781
Another thing, could you indicate which version of OpenDungeons you are running, and where you took it from? Is it our official Linux binary for OpenDungeons 0.5.0, a third-party package from the PlayDeb repo, or did you build it from source?

[2015-05-29 21:25] hwoarangmy commented on #781
There is no accusement, you said Ogre windows opens and nothing happens. It's legitimate to ask if you choose something. Moreover, the bug might be that the renderer is not found for whatever reason.

It would have been easy but OS with real rights handling might not allow to write everything anywhere. That's why we choose the user application folder (like most games do). Sorry for not focusing on

[2015-06-01 07:53] Bertram25 commented on #781
Hi there, :)

@akien-mga @hwoarangmy
The user has been deleted for seemingly being a troll. Let's close this issue and forget about this moron.

[2015-06-01 07:53] #781 closed, assigned to nobody

[2015-06-01 09:37] alketii commented on #777
I'm willing to do the PHP/MySQL side.
What I need is:
0. To store the masterserver url in some ini
masterserver=http://opendungeons.tuxfamily.org/masterserver/
NOTE: this link doesn't exists , and ofc it should be used as variable in upcoming calls)
1. When someone clicks to host a game, an UUID should be generated and HTTP request should be made to
   http://opendungeons.tuxfamily.org/masterserve

[2015-06-01 10:58] Bertram25 commented on #777
@hwoarangmy @akien-mga Are we going with an web-based lobby server? (Just to make sure the scope and vision is ok here.)

If we're going toward that road:

@alketii I guess those external requests would end opening or ending dedicated server sessions, ready for players. Could you shortly describe what would happen behind each of those calls?
I.e:
http://opendungeons.tuxfamily.org/masterserver/anno

[2015-06-01 11:00] alketii commented on #777
I just modified a bit the announce thing, added the most important part, the ip hehe, totally forgot abbout it.

@Bertram25 currently im making the php/mysql code, will publish very soon.

[2015-06-01 11:04] alketii commented on #777
Also about the web thing, you can use it in game also, you can fetch the output of games in CSV format with getCSV.php and render it in game.

[2015-06-01 11:53] alketii commented on #777
Here it is https://github.com/alketii/OpenDungeons-Masterserver
I also modified the "http requests doc"

[2015-06-01 12:00] hwoarangmy commented on #777
From what I can guess from @alketii API, the server only is a repository for running games (OD executable has to be run in a "host" computer).
That's the simpliest we can have and that will not avoid hosts to run a modified cheated version of OD.
@alketii Do you know if it is possible to run an executable on tuxfamily servers ? That would be the best way to avoid cheats and take full advantages of

[2015-06-01 14:52] alketii commented on #777
Sorry for confusion, im not very familiar with these terms. What I did was a list when you can join games (so no need to exchange ip and will make finding other players quite easy)

Something like top part of this https://i.imgur.com/XFZGsso.jpg

[2015-06-02 08:25] hwoarangmy opened #783 "Retrieved gold is not shown when destroying a trap"

[2015-06-02 09:00] akien-mga commented on #777
As a start though, it might be an interesting enough feature to let players find each other. If we want to prevent cheat, we might have an array of allowed maps hosted on the master server with md5/sha1/sha256/whichever-we-like-best sums to check if the map selected by the host is "official" or "custom" (I think we should allow custom maps, but warn about it in the lobby).

TuxFamily is already ho

[2015-06-02 09:40] hwoarangmy commented on #777
As long as the host is on a player computer, there is no way to prevent cheat. It is so easy that I wouldn't even try to prevent it...

[2015-06-02 10:15] akien-mga opened #784 "Mood modifiers are shown on top of the UI"
As shown in this screenshot:
![od-mood](https://cloud.githubusercontent.com/assets/4701338/7933688/1abaa09c-0921-11e5-933f-cc3af82e5e8c.jpg)

[2015-06-02 10:32] alketii commented on #777
I think first is mostly important to find other players through masterserver, cheating could be prevented with headless server hosted/maintained by OD team.

[2015-06-02 10:40] Bertram25 commented on #777
+1 Let's make this work first and bring fun to players. Cheat can be covered afterwards. :)

[2015-06-02 11:45] hwoarangmy commented on #784
This might be hard to fix. It was already not easy to display overlays on top of CEGUI (for the keeper hand). But displaying CEGUI between the keeper hand and the creature overlays might be even harder

[2015-06-02 12:34] hwoarangmy opened #785 "Creature selection"
ATM, to know which creature is clicked on, we use Ogre to know which creature is hovered by mouse cursor. It makes very hard to select a specific creature because several can be in the same tile and, if there is a big one (like a Kreatur), you are pretty sure to pickit up and not the other ones.

IIRC, in DK, the selection was based on the tile selector. If it was over a tile with 2 creatures, you

[2015-06-02 14:12] hwoarangmy commented on #665
Fixed by #775

[2015-06-02 14:12] #665 closed, assigned to hwoarangmy

[2015-06-02 16:43] ghost opened #786 "CEGUI crashes when accessing its log in a path with non-ascii characters"
After pressing OK button in OGRE settings window, application keeps constantly crashing with exception:
"Microsoft Visual C++ Runtime Library
This application has requested the Runtime to terminate it in an unusual way.
Please contact the application's support team for more information."

Absolutely no useful information in log:
http://hastebin.com/wemuzebibo.md

[2015-06-02 16:48] hwoarangmy commented on #786
Hello,

Do you have a file "crash.log" in Open Dungeons folder ? If yes, could you post it ?

Moreover, which version have you downloaded and where ?

[2015-06-02 17:13] ghost commented on #786
There is no such file in OD folder.
I've downloaded latest Windows-version (0.5.0) by link on this page: https://opendungeons.github.io/#downloads

[2015-06-02 18:52] Danimal696 commented on #785
if its easy to implement i say yes

[2015-06-02 19:17] hwoarangmy commented on #786
It runs on WIndows 7 64 bits since I also use it. I would guess at a problem with rights. When listening game port or writing log file may be.
Could you please right click OpenDungeons.exe and clic "run as administrator" ?

[2015-06-02 19:35] ghost commented on #786
Already checked that.
Same exception on startup, same information in log.

[2015-06-02 21:08] hwoarangmy commented on #786
Then, I would guess at a missing dll. Could you please download dependency walker:
http://www.dependencywalker.com/

You just have to unzip the file and go to FIle->open Opendungeons.exe. It will check if a dll is missing. I would guess at some microsoft c++ framework.

[2015-06-02 21:34] ghost commented on #786
"Warning: At least one delay-load dependency module was not found":
API-MS-WIN-CORE-COM-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-ERROR-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-ROBUFFER-L1-1-0.DLL
API-MS-WIN-CORE-WINRT-STRING-L1-1-0.DLL
API-MS-WIN-SHCORE-SCALING-L1-1-0.DLL
DCOMP.DLL
GPSVC.DLL
IESHIMS.DLL

I've attached to OD process by Visual Studio Debugger and got callstack of ma

[2015-06-03 09:07] hwoarangmy commented on #786
I've tryed my own executable and I have the same missing libraries as you do. It seems that's not the problem. I will try tonight to build you a fresh MS Visual studio package (and add some more logs) with the pdb file. That may help to find out what's going on. Moreover, you will have many more features than the standard 0.5.0 version ^^

In any case, thanks for the tests you've done and I hope w

[2015-06-03 10:11] ghost commented on #786
I've downloaded previous version, 0.4.7 and wow, it works just fine, with both OpenGL and D3D rendering subsystems.
Can't wait until fresh build will be ready :)

[2015-06-03 10:29] hwoarangmy commented on #786
0.4.7 ? That's a very old version. There will be lots of improvements ^^

[2015-06-03 21:09] hwoarangmy commented on #786
@DeepestDungeon I've released a dev build:
http://sourceforge.net/projects/opendungeons/files/Dev%20Snapshots/OpenDungeons-git20150603-Win32-MSVS2013.zip/download

Could you please try it ? The pdb file is included if needed. It contains my latest commits (not well tested).
I've also added D3D renderers but it crashes if you try to select them. Our shader code is probably not adapted.

[2015-06-03 21:45] ghost commented on #786
Well, game keeps crashing with exception CEGUI::FileIOException.
Here call stack info: http://hastebin.com/ecewarigav.coffee
Here content of crash.log file, that created in OD folder: http://hastebin.com/ganehuyure.tex
Nothing interesting in opendungeons.log file: http://hastebin.com/deloyozami.md
I have decided to save minidump, so here it is: https://www.dropbox.com/s/5ud77umb20qfnfo/OpenDungeon

[2015-06-04 06:50] hwoarangmy commented on #786
Yep, that might be the cause. CEGUI is a dependency and, as expected, that's where the crash occurs. That might also explain why you have a crash with 0.5.0 and not with 0.4.7 (appdata was not used before 0.5.0).

I will have a look if I can see why the crash happens. I've googling a bit but I've not found anything that may let me think that CEGUI has an incompatibility with cyrillic characters. I

[2015-06-04 07:26] hwoarangmy commented on #785
I don't think it would be hard. We already have the cursor position to display the hand (at the tile top position). We just have to use it to ground position and that should be enough. I will have a look to see if it feels nice or not.

[2015-06-04 19:40] hwoarangmy commented on #786
@DeepestDungeon I've uploaded a new version:
http://sourceforge.net/projects/opendungeons/files/Dev%20Snapshots/OpenDungeons-git20150604-Win32-MSVS2013.zip/download

There is a pdb for the cegui dll crashing. Could you please check where does it crash exactly ? From what I've seen while looking at CEGUI code, it seems a problem while opening the file so it can definitely be because of cyrillic cha

[2015-06-04 19:59] hwoarangmy commented on #785
I've tried and it works. It feels a bit strange because I'm used to clic on a creature to pickit up but it allows to select more precisely (and it is also more "natural" for someone new to the game IMHO since we always show the square selector). I will upload a new version to test it.
Anyway, I won't add more commits to my current PR as it is already big enough like that (excepted if there are bug

[2015-06-04 20:05] Danimal696 commented on #785
wait till i finish my exams and i start adding new things, then i foresee big pr´s again ;)

[2015-06-04 20:59] hwoarangmy commented on #785
cool ^^

[2015-06-05 19:23] ghost commented on #786
So, I found out that CEGUI throws exception in func DefaultLogger::setLogFilename (located in DefaultLogger.cpp):

[code]

File stream cannot be created because of broken path.

Yes, overriding %AppData% is perfectly solves the problem!
It's great that I can try out the new version finally :)

[2015-06-05 20:36] hwoarangmy commented on #786
Feedback is always welcome ^^

[2015-06-05 20:58] akien-mga commented on #786
@hwoarangmy @Bertram25 Any idea whether we can fix this in our code base, or if we should report this upstream to CEGUI?

[2015-06-05 22:24] hwoarangmy commented on #786
I've tried with some non ascii chars but didn't get the same crash. I think we should test a little bit more on our side before reporting. Moreover, now, it's pretty easy to change appData and choose weird paths.

[2015-06-05 22:34] #772 closed, assigned to hwoarangmy

[2015-06-05 22:34] #783 closed, assigned to hwoarangmy

[2015-06-06 12:54] Bertram25 commented on #786
@akien-mga Good idea!

@DeepestDungeon Could you provide us the complete data path that used to make the game crash?
I'll then provide some info on their forums. Thanks in advance.

Btw, now that appdata has been added thanks to @hwoarangmy 's work, and that the bug is upstream, let's close it once I've reported to CEGUI's guys.

[2015-06-06 13:08] akien-mga commented on #786
It's on the first line of opendungeons.log, since we seem to access it just fine before CEGUI comes up:

[2015-06-06 13:56] Bertram25 commented on #786
Ah thanks, I missed it somehow in the rush.

[2015-06-06 13:59] akien-mga commented on #786
Now that we have the appData switch, we'll be able to narrow down the issue a bit more:
- Is it Windows-specific
- Is it specific to Cyrillic characters, or non-latin UTF-8 characters, CJK, etc.

[2015-06-06 14:10] akien-mga commented on #786
I've tested on Linux with those dir names:

[code]

All of them fail miserably, they are seen by CEGUI as (respectively):

[code]

[2015-06-06 14:11] akien-mga commented on #786
On the other hand all those dir names appear properly in opendungeons.log, so our own code (or boost more likely) does a good job with UTF-8.

[2015-06-06 14:13] Bertram25 commented on #786
Thanks for all the tries.
We might need to somehow make a `reinterpret_cast<const CEGUI::utf8*>` around the path
EDIT: Here: https://github.com/OpenDungeons/OpenDungeons/blob/development/source/render/Gui.cpp#L46

or use a try catch. I'm looking into a solution proposal.

[2015-06-06 17:33] OursDesCavernes opened #788 "Current version doesn't properly install on Gentoo through package manager"
Hello,

When I install OpenDungeons from the package manager on Gentoo, the game crashes when I cast heal or explode spell.
This is due to the particles folder not being installed.
It is missing here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/CMakeLists.txt#L652

[2015-06-06 18:00] #788 closed, assigned to nobody

[2015-06-06 18:10] Bertram25 commented on #779
I'll be thinking about this. I believe the main argument making me think about leaving is the fact that AFAIK downloads are limited to certain countries.

Any news from the tux family?

[2015-06-06 18:25] #786 closed, assigned to Bertram25

[2015-06-06 18:28] Bertram25 commented on #784
@hwoarangmy @akien-mga

My best guess is that we should determine when the GUI should be rendered here:

[code]

I guess the next step is to determine the queueGroupId we have and probably the invocation value?

Other references:
http://cegui.org.uk/forum/viewtopic.php?f=10&t=5694
// make sure you check the invocation string, or you can end up rendering the GUI multiple times
// per frame due to s

[2015-06-06 22:40] Bertram25 opened #792 "Editor: Removing a room tile doesn't refresh the tile."
With latest master, when one removes a room tile (I tried with a portal), the tile is still looking as claimed while the portal is replaced as correctly.
Then, when one click on terrain tiles (like dirt) and place it, it actually refreshes the view.

[2015-06-06 22:48] #673 closed, assigned to Bertram25

[2015-06-06 22:48] #766 closed, assigned to Bertram25

[2015-06-06 22:51] Bertram25 commented on #757
Just found why:
the console editbox is executing command when this event is happening: CEGUI::Editbox::EventTextAccepted
But this event is triggered when tab is pushed as well.
I'll be fixing that.

[2015-06-07 07:37] #757 closed, assigned to Bertram25

[2015-06-07 09:16] hwoarangmy commented on #792
I don't get what you mean. Portal tiles use the same mesh as claimed so it is normal that removing the portal tile do not change the tile. I've tried with another room (dormitory) and it works fine (not with latest master but with my PR).

[2015-06-07 20:05] Bertram25 commented on #792
Yes. I was confused and lacking sleep last night. As I added seat 0 portals, I got confused by them not changing when removing some tiles from the room.
I'll close. Sorry for wasting your time.

[2015-06-07 20:05] #792 closed, assigned to nobody

[2015-06-08 07:27] hwoarangmy commented on #785
Closed by #790

[2015-06-08 07:27] #785 closed, assigned to hwoarangmy

[2015-06-08 08:45] hwoarangmy opened #794 "Display picked up entities at same size no matter zoom"
ATM, if you zoom, picked up creatures will be bigger (too big when zoomed and too small at default zoom)

[2015-06-08 21:49] hwoarangmy opened #795 "Cannot create fighters/workers in editor"
due to my last PR

[2015-06-09 12:36] hwoarangmy commented on #763
@Bertram25 @akien-mga Could you reproduce this bug ? If not, I would consider it as fixed as I've never seen it.

[2015-06-09 12:48] Danimal696 opened #797 "Regression - cant place creatures in edit mode"
With latest windows build:
OpenDungeons-git20150607-Win32-MSVS2013

[2015-06-09 12:49] #797 closed, assigned to nobody

[2015-06-09 12:51] Danimal696 commented on #795
i saw they are actually generated in 1-1 (?) corner (left down)

[2015-06-09 13:54] akien-mga commented on #797
Dup of #795 (for the reference).

[2015-06-09 13:55] akien-mga commented on #763
Not recently, but I haven't played really long games recently.

[2015-06-09 15:10] hwoarangmy commented on #763
Well, I have (and btw, I confirm Falling Keeper level is winnable ^^) and I've not seen it.

[2015-06-09 15:13] hwoarangmy commented on #795
What is sure is that the bug happens because pickup fails. Thus, I don't know what happens to the creature as it is never put on map. However, because it is not in hand, it is possible it appears on the 0,0 tile since that's the default position.

[2015-06-09 23:22] hwoarangmy opened #799 "Cannot change to D3D renderer"
By default, OpenGL renderer is selected (which is fine). But when we go to the settings and choose D3D renderer, nothing happens and after restarting, OpenGL renderer is selected again.

[2015-06-09 23:37] #671 closed, assigned to hwoarangmy

[2015-06-09 23:37] #729 closed, assigned to hwoarangmy

[2015-06-09 23:37] #784 closed, assigned to hwoarangmy

[2015-06-09 23:37] #794 closed, assigned to hwoarangmy

[2015-06-09 23:37] #795 closed, assigned to hwoarangmy

[2015-06-10 05:53] Bertram25 commented on #799
Note that it's normal. Atm, and afaik, it is not possible to change the renderer option in ogre config or change the renderer "for later".
We'll have to move the video + audio config into a custom made user file first.

[2015-06-11 14:30] hwoarangmy commented on #715
I'm having a look at this one. Note that we said that a player who loses his dungeon temple can still manage his creatures (but his mana stops increasing and no more creatures will come to his dungeon even if he still holds a portal). That means that he won't see why his creatures get more and more angry when a new payday happens.

[2015-06-11 15:50] akien-mga commented on #779
I've discussed with the TuxFamily guys, and the default formula is 1 GB of storage on their servers for any libre project that asks for it. Upon request, we can also have more (which would be good as currently we have ~2 GB on SF, and it would be sad to have to leave the old binaries behind).

We would have SSH access, so updating new files would be done via scp or similar. A bit less user-friendl

[2015-06-11 15:54] akien-mga commented on #777
So, I've discussed a bit with guys from TuxFamily (Reid from manaplus says hello btw @Bertram25 :p).
So basically they can provide the needed server facilities if we want to go with the mysql/php masterserver proposal, and they can also provide a Debian VM to host standalone server(s) directly.

For the VM, we'd need to have OD packaged for Debian. Given our currently development pace, I'm not sur

[2015-06-11 15:55] akien-mga commented on #777
And basically, I was told that as long as the game is free, they are really open to anything in terms of service that they can provide (at least that's how I understand it) :)

[2015-06-11 17:22] Bertram25 commented on #715
My bad. Yes, let's check only for fighter creatures, then.

[2015-06-11 20:36] #799 closed, assigned to hwoarangmy

[2015-06-11 21:36] Bertram25 commented on #777
Eh eh, I miss her jokes, too.

Muammar took care of that a few days ago ;)
https://ftp-master.debian.org/new/cegui-mk2_0.8.4-1.html

Totally, :D I think we could even adapt the control file and co from a close neighbor, such as 0ad or supertuxkart. :)

You might have noticed but I'm neck deep in RL stuff atm, so it will have to wait for next week as for me.
Anyway, before we start asking vm/server

[2015-06-11 21:43] Bertram25 commented on #779
Hmm, IMHO you can definitely ask and start moving files there little by little if you agree to take care f this. :)
Once we have the files there and that we have updated the download links everywhere, we're good to go. :D

[2015-06-11 21:46] akien-mga commented on #777
Cool! Make sure to ping him to get https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=737058 closed.

About your proposal, it sounds really good :)

[2015-06-11 21:56] akien-mga commented on #779
OK, so do we have a formal agreement to proceed this way? It's kinda political, so I want to be sure we all agree with the move :)

@hwoarangmy @oyvindln @Danimal696 @Wout-van-Dongen ?

[2015-06-11 21:59] Bertram25 commented on #779
You have my vote for it. (suspense for the others votes. ;])

[2015-06-11 21:59] Bertram25 commented on #777
You're right! I'll do that right now.

[2015-06-11 22:01] Danimal696 commented on #779
does it have downloads tracker? its the only thing i like about sourceforge, anyways, yes, moving its not a bad idea

[2015-06-11 22:08] Danimal696 commented on #694
Hwoarangmy, what is in your opinion the best way to solve this? water and lava rotation are material-made so the tiles can be copied( to retain the corner fix) and asigned differently rotated materials? or just go back to the old system?

[2015-06-12 06:34] hwoarangmy commented on #694
I've tried to change materials to make rotation work when rotated but I couldn't achieve an acceptable effect. However, you have more experience with this kind of stuff so you might do it better.
If not, as you say, there is the option of using 1 different mesh per rotation as it used to be

[2015-06-12 06:41] hwoarangmy commented on #779
I'm also ok to move.

[2015-06-12 10:50] akien-mga commented on #779
OK, I created an "opendungeons" project on TuxFamily: http://projects.tuxfamily.org/#%3Fdo%3Dgroup%3Bname%3Dopendungeons

Don't hesitate to create an account on TuxFamily and give me your username, so that I can add you as managers of the opendungeons project.

[2015-06-12 11:39] alketii commented on #777
@Bertram25 yes I would like to join but I'm not sure what my contributions beside masterserver and testing would be since my knowledge on developing is limited.

[2015-06-12 11:54] akien-mga commented on #779
Our download space is live: http://download.tuxfamily.org/opendungeons/

[2015-06-12 11:57] Danimal696 commented on #694
i can export them but you will have to redo the tileset config file

[2015-06-12 11:58] akien-mga commented on #779
Yeah I agree it's a very cool feature of SourceForge. According to the doc [1], TuxFamily also provides stats, e.g. http://stats.download.tuxfamily.org/vhffs4/
It doesn't work yet for the opendungeons project, but we'll sort it out in time :)

[1] http://faq.tuxfamily.org/Downloads/En#Stats

[2015-06-12 13:40] hwoarangmy commented on #694
If you are to re-create the tiles, will they be different from the ones we used to have previously to tilesets ?
If not, just tell me and I will take them back. If there is no simple solution playing with materials, it will save you time (for the kobold replacement ;) As @Bertram25 said, internet never forgets - so do I ^^ )

[2015-06-12 13:58] akien-mga commented on #779
Our first files are online: http://download.tuxfamily.org/opendungeons/

For the stable releases, I've redone the Linux binaries to get the 32bit and 64bit versions in the same folder (thus saving a lot of space, though it means that Linux users get ~20 MB more of libraries that don't match their system architecture, but it's pretty common to see both 32bit and 64bit binaries in Linux tarballs).

[2015-06-12 14:00] akien-mga commented on #779
BTW, some TuxFamily servers are down due to an air conditioning issue in their datacenter. Don't worry, I just found out that they are hosted by the same datacenter as Mageia, and it's usually a very good service, we usually get at most 2-3 days of downtime a year.

[2015-06-12 14:03] Danimal696 commented on #779
that page is pretty lackluster... having a look at their game section really put me off due to low looks.

[2015-06-12 14:04] akien-mga commented on #779
Well it's a FTP, it's not meant to look fancy. It's our website's role to look good, normal users won't browse the FTP repo, they'll just click our download links.

[2015-06-12 16:16] Bertram25 commented on #777
@alketii Helping us maintaining the masterserver would be more than enough for a start. ;)
+ There might be other needs once we add a true lobby, etc...

@hwoarangmy @akien-mga @oyvindln @Danimal696 @Wout-van-Dongen
Ok to create a new repo for the masterserver code and welcome @alketii in the developers team? :)

[2015-06-12 16:17] Bertram25 commented on #694
+1 :)

[2015-06-12 16:18] akien-mga commented on #777
Gladly :)

[2015-06-12 16:19] Bertram25 commented on #779
@akien-mga Could you add a small page documenting the new links links on the wiki? :) nothing extraordinary, just so we don't forget.

[2015-06-12 16:38] hwoarangmy commented on #777
yep

@alketii Please note that we try to never merge our work (someone else has to review it and merge). That allows to be sure the dev branch is as stable as possible so please open a PR when you want to merge something.
Welcome in the team ^^

[2015-06-12 17:33] Danimal696 commented on #777
sure, fine by me

[2015-06-12 17:33] alketii commented on #777
Thanks guys.

@hwoarangmy don't worry that I'm going to touch the development branch, just the masterserver.

[2015-06-12 17:36] Danimal696 commented on #694
The tile will be the same as now (fixed corners)

kobold... grumble... damn it - the kobold is actually pending on some mocap files, so it be ready eventually... hope not as eventually as duke nuken was

[2015-06-12 18:43] hwoarangmy commented on #777
I'm not worried ;-)

Well, if you want to do something in the source code or you feel like an artist and you want to mess with blender, you can. But even in the masterserver, you should do a PR that someone else will merge. Just as we will all do if we have something to change in the masterserver. The idea is that we should only merge code that as been reviewed. In OD source code as well as on the

[2015-06-12 22:44] Bertram25 commented on #777
@alketii You've just been invited. Welcome. :)

@hwoarangmy  told everything I guess. :)

[2015-06-12 22:45] Bertram25 commented on #777
Ah, and the OpenDungeons-masterserver repo has been created.
https://github.com/OpenDungeons/OpenDungeons-masterserver

@alketii You should delete your repository and fork that one instead. The content will be the same + some readme fixes. :)

[2015-06-12 22:55] hwoarangmy commented on #694
@Danimal696 I've tried to take tiles from the old tileset but it seems you have changed them as I have holes between tiles (as we used to have). I think we have no choice, we need you to export all tiles again (1 per tile position) :-(
If you can export them, I will happily handle the tileset (which will be pretty easy BTW). Note that AFAIK, there is only the water tileset (we used to patch the ma

[2015-06-12 23:23] alketii commented on #777
@hwoarangmy oh I misunderstood, thanks.

@Bertram25 deleted, thanks.

[2015-06-12 23:31] Bertram25 commented on #777
Ah, btw, I'd like to add this also permits to keep reviewers in the loop of everything happening.
But everyone can comment everyone's code. :)

[2015-06-13 21:22] akien-mga opened #805 "Tag old releases (for the legacy)"
IMO it would be nice to tag older releases if we can find the commit that they were based upon. WDYT?

Here are the most recent ones:
- 0.4.8: 50404612
- 0.4.7: Around f0010044 (not sure if they used a version variable back then - @oyvindln might be able to point to the proper commit though).

[2015-06-13 21:29] akien-mga commented on #805
Not sure if we want to go much further as it can be tedious, but at least 0.4.8 would be nice to show how much the game evolved between 0.4.8 and 0.4.9 :)

[2015-06-13 22:03] #715 closed, assigned to hwoarangmy

[2015-06-14 09:11] Bertram25 commented on #805
Ok, I'll tag 0.4.8 but let's first about the rest. :)

[2015-06-14 09:14] akien-mga commented on #805
BTW I played 0.4.8 yesterday... wow, how did it change :-D

[2015-06-14 09:15] Bertram25 commented on #805
:O Can you uploaed screenies into the website? It would be cool to see the evolution. :)

[2015-06-14 09:17] akien-mga commented on #805
Yeah we should probably have a screenshot section on the website. I'd like to split the main page into several subpages instead of having everything in index.html.

BTW to try 0.4.8 is relatively easy, the Linux binaries we have on TuxFamily and SF work fine provided you symlink the missing 32bit deps.

[2015-06-14 09:22] Bertram25 commented on #805
I's done: https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.4.8 :)

+1

Noted. :)

[2015-06-14 09:24] #805 closed, assigned to akien-mga

[2015-06-14 09:25] Bertram25 commented on #805
Assigned @akien-mga as he did the actual job of searching the correct commits.

[2015-06-14 09:25] akien-mga commented on #805
Thanks :)

[2015-06-14 12:30] akien-mga commented on #779
The TF guys upgraded our repo to 2 GB when I requested it. For the time being it should be sufficient, and I'm sure we can have more if I ask again, I just did not want to be too greedy at first ;) (actually I've asked for "at least 1 GB more [...] but 2 GB would give us more air", and I guess the moderator just took the "2 GB" number and not "+ 2 GB" :)

I'll ask again for more space when it gets

[2015-06-14 20:49] hwoarangmy commented on #779
@akien-mga I've created my account. Username: hwoarangmy

[2015-06-14 21:01] akien-mga commented on #779
@hwoarangmy Ok, I've added you to the "opendungeons" group.

[2015-06-14 21:16] hwoarangmy opened #807 "Improve fighter creature behaviour"
Basically, when not forced, they should never be sleepy/hungry if they have a bed, the hatchery is big enough and they don't have to walk too much to go from one room to another.

ATM, they stop working when sleepy/hungry. But they go wandering instead of sleeping/eating.

[2015-06-14 22:30] Bertram25 commented on #779
@akien-mga It's done. Name: bertram :)

[2015-06-14 22:55] akien-mga commented on #779
@Bertram25 I've added you too. All four of us (@alketii is also in the group) should be able to connect to ftp.tuxfamily.org to upload files to our download repo.

[2015-06-15 12:16] Bertram25 commented on #779
@akien-mga Cool, thanks. :)

[2015-06-16 11:39] hwoarangmy opened #810 "Claimed wall textures are much too big"
The consequence is that when the first wall is claimed (and the mesh loaded), the game freezes.

Seems like I was too fast to integrate #808

@Danimal696 Could you please reduce a bit its size ? 2048x2048 is too much...

I'm pretty sure that 512x512 would be enough. I also bet that's a reason why the game freezes when we build a room (because of loading textures for ground tiles as well as the bui

[2015-06-16 12:08] akien-mga commented on #810
Note that the 2048x2048 version could go in the -media-source repo, while we use a lower res version in the game.

[2015-06-16 15:36] Danimal696 commented on #810
1024 will the least we can afford if we want them to have some quality, have in mind theres a lot of them packed into the same png

[2015-06-16 16:00] Danimal696 commented on #810
please try now, on my pc both worked perfectly

[2015-06-16 16:02] Danimal696 commented on #807
it annoying when they are starving or very sleepy and they just decide to idle on the other side of the dungeon

[2015-06-16 17:05] hwoarangmy commented on #810
ok. On my way

[2015-06-16 17:07] hwoarangmy commented on #807
Yep. That's why I wanted to change that ^^

[2015-06-16 17:21] hwoarangmy commented on #810
I've tried. It is faster but you also need to resize ClaimedWallMask.png and ClaimedWallNormal.png.
However, I still have a small lag just when the tile is claimed (and my computer is decent: i7 with GeForge GTX 560M).
I've tried with 512x512 pngs and got no lag but the quality is clearly lower.

[2015-06-16 17:39] akien-mga commented on #810
Could we split those textures into several files? I guess the issue is that the file itself is too big, and several 512x512 files might help circumvent this hardware issue.

[2015-06-16 19:25] Danimal696 commented on #810
When i did this one i wanted to avoid exactly that, it would help when adding diferent biomes to be into the same file, but im going to just cut them all.

I have a I5 and AMD Radeon HD 7700 and see no lag at all, nvidia drivers migth be the culprit in your case

[2015-06-16 20:03] hwoarangmy commented on #810
Well, the main reason is that I use a debug version which is much slower. However, its pretty nice to see the bottlenecks and the problems that may happen on weaker configurations

[2015-06-16 20:11] alketii opened #813 "Hovering mouse at gold makes it look like liquid (due to normal maps)"
I don't know if its reported (I did a search).
Hovering mouse at gold makes it look like liquid.

[2015-06-16 20:14] akien-mga commented on #813
It's a known issue, but indeed it doesn't seem that there is a ticket for it yet.
The "liquid" looks is due to the normal maps added in 0.5.0, it has been discussed in an issue or a pull request, but I don't remember which one :)

[2015-06-16 20:26] akien-mga opened #814 "Add an IRC service hook"
This one is for @Bertram25 (or anyone with management rights on the repo).

Could you add an IRC service hook that would point to #opendungeons on Freenode?
The purpose of this hook is that a bot will send a notice to the channel each time something is merged into the development branch, which is pretty cool to keep the lesser creatures aware of the workings of our evil dungeon.

To enable this, g

[2015-06-16 20:39] alketii commented on #814
why not all branches :smile:

[2015-06-16 21:24] akien-mga commented on #814
Because nothing happens on the other branches ;)

[2015-06-17 07:40] Bertram25 commented on #814
I'm on it. :)

[2015-06-17 07:46] Bertram25 commented on #814
Should be done now. Let's close once the first event has been witnessed. :)

[2015-06-17 08:02] eugeneloza opened #816 "Character model requirements"
@Danimal696, what bones are used for animation purposes? Should the models stick to logic 'the less the better' or there is some OD standard or pattern to follow?
I.e. the model requires at least a specially defined weapon bone, right?

[2015-06-17 08:17] hwoarangmy commented on #816
`Creatures with hands that should be able to hold a weapon should have two bones at their hands that have to be named Weapon_L and Weapon_R`

Taken from the wiki:
https://github.com/OpenDungeons/OpenDungeons/wiki/How-to-import-models-in-OD

[2015-06-17 09:24] akien-mga commented on #814
Thanks! @Wout-van-Dongen is not sure about enabling external messages on the channel as it could lead to spam, so could you disable "Message without join" for the time being?
Then you can test the service by clicking the "Test service" button or something similar at the top.

[2015-06-17 10:29] Danimal696 commented on #816
less the better, for any model. With mocap using the existing bones from the mocap file is the best, remember to use the weapon bones, which are specific to OD.

Overall, having lots of bones can give really good animations, but the amount of work involved and the expertise are very high.

[2015-06-17 10:37] eugeneloza commented on #816
Ok. I'll need to dig firstly into the mocap then and re-rig the naga to fit the mocap with IK tail.

[2015-06-17 12:22] Danimal696 commented on #810
This is very important, are claimed walls harcoded to only use Claimedwall.material?
no matter what i change on the model or material it always uses whats in Claimedwall.material, and its making impossible to make the tiles piece by piece

[2015-06-17 12:28] Danimal696 commented on #810
more on that, its harcoded on the tileset config file, but now im needing 3 textures = 3 material per wall tile model, tileset config only allows 1 material. ill try merging textures with different sizes

[2015-06-17 12:38] akien-mga commented on #810
Why 3 textures = 3 materials? You can declare several textures in the same material script no?

[2015-06-17 12:57] Danimal696 commented on #810
how? give me an example, the main problem is how that is done inside blender so uv map doesnt overlap all textures?

[2015-06-17 13:26] Bertram25 commented on #814
@akien-mga Ok, I've disabled the message without join option.
I've also clicked on test service, just tell me how it turns out. :)

[2015-06-17 13:26] akien-mga commented on #779
Looks like uBlock Origin (a very nice open source ad blocker with great performance and, so far, better ethics than AdBlock*) decide to blacklist sourceforge.net :-D I guess moving away from there is not a bad idea :)

[2015-06-17 13:34] akien-mga commented on #814
It works great, thanks!

[code]

[2015-06-17 13:34] #814 closed, assigned to Bertram25

[2015-06-17 15:01] Danimal696 commented on #810
[code]

This is what i get from the blender material creator, i cant adapt to ogre can you?
i managed to do the 1 material-multi texture, but until the material is properly working i cant test, or see if the mask will get in the way at the last moment

[2015-06-17 15:36] eugeneloza commented on #816
Do Weapon_L and Weapon_R support 'dual wield'? Or only a right-hand weapon and a shield?

[2015-06-17 15:38] Danimal696 commented on #816
dual wield as well

[2015-06-18 11:47] hwoarangmy opened #817 "Library logic"
This issue is a requirement for #577
ATM, in the library, creatures go to work and, when they gather enough points, an entity is created representing the given research. When it is brought to the dungeon temple, the corresponding room/trap/spell is unlocked. Before the researches are taken by a worker, the research entity takes 1 active spot in the library (wall or center if no wall available). An

[2015-06-18 12:43] eugeneloza commented on #816
Another relative question: How many quads/tris for the model are appliccable? Is 1.5k tris fine? Or should I lower the polycount?

[2015-06-18 12:56] Bertram25 commented on #817
@hwoarangmy IMHO, I think you can now do @OpenDungeons/developers This will be quicker with the growing team. ;)

I'll answer asap.

[2015-06-18 20:43] Danimal696 commented on #816
up to 4k is fine, 3k is the ideal. Kudos to you if you can make it lower poli and good looking

[2015-06-18 20:47] Danimal696 commented on #817
sounds good to me, different way and same result, but i wouldnt remove the spell in a book item, so it can be awarded/captured on the dungeon on certain levels

[2015-06-18 21:01] Bertram25 commented on #816
Could you modify the wiki page?

[2015-06-18 21:04] Bertram25 commented on #817
A bit like crafting points as seen in Dungeon II, I like the logic and it sounds simpler. You have my vote.

[2015-06-18 21:31] Bertram25 commented on #810
Ogre will indeed search for one specific material section. (It doesn't even care about the filename, btw).
IMHO, you will have to cope with this. I mean make tests until you have a model working with a material using several textures not higher than 512x512. IMO, it is the best for us in term of performance and resources management.
Is it ok for you to keep doing that way?

[2015-06-18 21:33] Bertram25 commented on #779
@akien-mga We're not far from done here, right? :)

[2015-06-18 21:34] Bertram25 commented on #763
Ok, I'll close it now. I couldn't reproduce so far. :)

[2015-06-18 21:34] #763 closed, assigned to nobody

[2015-06-18 22:00] akien-mga commented on #779
Yep, what's left is basically cleaning the SF files, close the git and svn repos there, and put a notice saying that we moved to another location with links.

I'll need @Wout-van-Dongen to do this, or I can do this if he puts me admin on the SF page.

[2015-06-18 22:01] #807 closed, assigned to hwoarangmy

[2015-06-18 22:02] Bertram25 commented on #779
k, thanks for the update. :)

[2015-06-18 23:46] Danimal696 commented on #810
im fine with that, but how could i translate what i posted before to the material we are using for claimed wall?

[2015-06-19 08:36] Bertram25 commented on #810
Let's try to put it all from the start as it will help me, too. From what I understand, the `RTSS_NormalMapping_Multipass` technique has three default passes. `ambient`, `lighting`, and `decal` done in this order.
https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/RTShaderLib/materials/RTShaderSystem.material#L67
`lighting` permits to set the normal texture(s) in the `rtshader

[2015-06-19 11:52] Danimal696 commented on #810
i cant put it to work for my life...
Since you gyus are the pro at materials please take a look at forum, ill be leaving a full sample of multitexturing there.

[2015-06-22 13:01] akien-mga commented on #393
Looking forward to hearing those in-game!

_shameless bump_ :-D

[2015-06-22 19:21] Bertram25 commented on #393
Now that was shameless. ;P Might fell on my shoulders, eh. ;)

[2015-06-22 20:32] Bertram25 commented on #540
@akien-mga @hwoarangmy @Danimal696  Just for the small point of situation. What are your current short-term mid-term plan?
Mine is to:
- [x] Finish support for custom settings.
- [x] Made sound volume change heard immediately.
- [x] Made all the video renderer options listed in the settings automatically.
- [x] Move settings to full custom settings.

[2015-06-22 22:29] Bertram25 opened #821 "Favorite IP support should be added in the user settings."
Taken out of #3

[2015-06-22 22:32] Bertram25 opened #822 "Video renderer's options should be auto-added to the videosettings menu."
As discussed a bit earlier with @hwoarangmy , when choosing/changing a renderer, the settings should list all the renderer's options and added them with default values in the video settings + auto-create widgets on need there.

This way, one will be able to fully configure the video renderer based on its capabilities.

[2015-06-22 22:33] Bertram25 opened #823 "Move to full custom config support."
For now, we're using ogre.cfg to configure Ogre at startup. The goal of this issue is to use our user config support only.

[2015-06-22 22:35] Bertram25 commented on #3
Split into #821 #822 and #823 for the last remnants of it. This issue is now solved for the rest, is old and a bit obsolete. I'll deal with the new issues little by little. ;)

[2015-06-22 22:35] #3 closed, assigned to Bertram25

[2015-06-22 22:38] Bertram25 opened #824 "Should we auto-claim borders?"
If you have a look at this picture;
![route1](https://cloud.githubusercontent.com/assets/765917/8269163/6892e49c-179e-11e5-9ff2-4fc1fbd7c4ba.png)
You can see that corners aren't claimed and are creating a visual glitch. The models being adapted or not.

I thus propose that corners get claimed if they can be at the moment the last tile next to it is claimed.
Feel free to discuss whatever is needed.

[2015-06-22 22:56] Danimal696 commented on #540
unless last minute change:
- Fix current tileset, the dungeon biome; gold texture not tiling, gem blocks, lava/water rotation.
- Stone bridge model
- New cannon model

[2015-06-23 06:52] hwoarangmy commented on #540
- Implement new decided library logic
- Improve ranged creatures fighting behaviour

[2015-06-23 06:55] hwoarangmy commented on #822
Just for the remind, the reason is that render options are render specific and may not be compatible (For example, video resolution string for OpenGL render is not compatible with D3D renderer).

[2015-06-23 06:57] hwoarangmy commented on #821
If you are having a look at settings, it would also be nice to be able to choose Player name in the global settings windows so it is used everywhere and we don't have to change it in the join/host menus.

[2015-06-23 07:22] hwoarangmy commented on #824
Note that fully linked claimed tiles currently are squares (you can see them by opening scream in the dark) and are not vey nice in this configuration.
@Danimal696 WDYT ?

[2015-06-23 07:24] akien-mga commented on #540
My current list:
- Finish moving away from SF.net to tuxfamily.org for file hosting and nuke the SF repo :)
- Fix links everywhere (README, wiki, website)
- Create a couple skirmish maps :)
- Code-wise, I might try to have a go at loading user content from mUserPath

[2015-06-23 07:48] eugeneloza commented on #540
A quick note: tuxfamily.org does _not_ support CC-BY license (including OGA-BY), only CC-BY-SA. See: http://faq.tuxfamily.org/License/En . They have no statement about CC0, but it seems to be ok for them.
It should be checked before moving to this hosting. Or contact them on IRC to re-check if they demand this deliberately or it's just a poorly written document 'cause GNU license guide they referr

[2015-06-23 08:00] akien-mga commented on #540
They say "We do accept other open licenses, feel free to join our irc channel if you have questions about a specific license." I think it's just a badly written document, as I don't see why they would accept GPL and BSD code (i.e. strong copyleft and almost public domain) but not CC-BY for artwork. I'm asking them on IRC to clarify.

_Edit:_ Confirmed on IRC, they accept any CC license as long as

[2015-06-23 08:41] hwoarangmy commented on #817
I agree it would be a good thing to keep. However, I think we could group that with the "gift box" we are planning to do.

[2015-06-23 08:47] hwoarangmy commented on #736
- Do we want the gift box to display what it does (by displaying an overlay, for example) or is it a surprise ?
- Do we want to use the same mesh for every gift box ?

Concerning support, what could we do with gift boxes ? Few propositions:
- unlock a research
- add many gold
- add many mana

[2015-06-23 09:52] akien-mga commented on #817
I think this is a sane proposal; we might also want to extend it to the workshop, so that the library produces grimoires, the workshop produces toolboxes, and both are resources that can be used for research and crafting.

[2015-06-23 10:34] Danimal696 commented on #824
try making a fully linked claimed wall, but surrounding it with dirt walls (four sides only), the result is a lot of empty corners with just the superior claimed tile, thats the reason i made it a full square

[2015-06-23 10:34] Bertram25 commented on #540
Perfect. Thanks for the heads up. :)

[2015-06-23 10:59] Bertram25 commented on #736
IMHO, best as surprise (even a bad one. :>)

If we think biomes, I'd rather have it as a mesh parameter somewhere, so that it can be a treasure box, a book, ... We'll start with one, of course, and hit @Danimal696 to get more. ;)

- Make own creatures level up. (A good classic)
- Make own creatures have effect for a few seconds, or cast X spell on every creatures.
- Turn a worker into a pitdemon,

[2015-06-23 11:05] Bertram25 commented on #753
From @akien-mga

[2015-06-23 11:12] Danimal696 commented on #736
I would like to keep the grimoire for spells found around
- becomes a hero to figth for you
- claims all dirt walls on your dungeon

It would be nice, but for now lets stick to this one since theres stil a lot of missing models pending

[2015-06-23 11:49] hwoarangmy commented on #824
Yes, I see perfectly what you mean and why you did it that way. But if we autoclaim corner walls, that's the result we will have

[2015-06-23 11:50] hwoarangmy commented on #736
Don't you want to use the grimoire for gathered research points ? If not, which one do you want to use ?

[2015-06-23 12:23] Danimal696 commented on #824
its not that bad imo

[2015-06-23 12:25] Danimal696 commented on #736
i meant it, like for example there is a feral dungeon with a grimoire containing a spell you need to advance the level, far more explicit than just a surprise box. Cant the two systems survive?

[2015-06-23 12:37] hwoarangmy commented on #736
Yes, they can. My question is only about which mesh to use for what. I was thinking of using the grimoire for research points and a gift box for a researched spell. But from what I understand, you would prefer to the grimoire for researched spells. If so, which mesh should we use for research points (the entities that will be created in the library and brought to the temple to increase research po

[2015-06-23 12:47] hwoarangmy commented on #824
Well, you are the artist ^^
If you are ok with it, I agree.

[2015-06-23 15:25] Danimal696 commented on #736
the very same grimoire, lets just add particles to a grimore that contains a full research

[2015-06-23 21:42] Bertram25 commented on #824
So if I understand enough of it, there is no actual need to claim corners as it won't improve the current situation much?

[2015-06-23 21:44] Bertram25 commented on #817
Hmm, we already discussed about not using the crafting points. So, what is the team favourite concept for crafting here?
Do we want two separate logic for trap crafting and research (IMO, why not.) or do we want the same kind of system for both (IMO, why not, too but the logic has to be changed again...)

WDYT all?

[2015-06-23 22:23] Danimal696 commented on #824
it would be a nice touch nontheless, and if its easy to do, why not?

[2015-06-23 22:36] Bertram25 commented on #824
Well, to be completely honest, I'm completely in favour of it. And if we can upgrade the tileset to look cool with, it's even better.
So if you're ok about it, it has my vote. :)

[2015-06-30 20:36] Danimal696 opened #828 "Material values on dirt, gold and rock materials"
i think we could fix the "liquid" like impression with normals just by attenuating them, but i have no idea how to. Help?

[2015-07-01 10:57] #822 closed, assigned to Bertram25

[2015-07-01 10:57] #823 closed, assigned to Bertram25

[2015-07-02 10:53] hwoarangmy commented on #824
I've had a look at @Danimal696 new full claimed tile but it looks like a dirt tile and do not fix the glitch. Is it worth auto claiming border tiles ?

[2015-07-02 20:15] Bertram25 commented on #824
Hey @hwoarangmy :) I hope your few days away were fun: ;)
You will probably have to recall me something first. @Danimal696 said he fixed the claimed1111, so if I understand well, claimed corner walls are believing every direction is a wall of the same type? (I don't really remember and lazily didn't check but now we're speaking about it, I believe not.)
If I'm right, there would be several other "

[2015-07-02 20:30] Danimal696 commented on #824
yes, there are still empty corners, but i dont think this is something easy to fix

[2015-07-02 20:35] hwoarangmy commented on #824
Yep, it was nice, thanks ^^

Yes. And there is no way ATM to allow them to link to claimed tiles only that will not break the link between full claimed tiles and full dirt tiles.

Yep, I also don't see an easy way to do it. And I would add that it might need to change the tileset logic so I'm not sure it is worth doing it for such a small glitch. However, I think the new full claimed tile is bette

[2015-07-02 20:48] Bertram25 commented on #824
Hmm, then let's forget about that one for now. We have much more interesting to add and fix. ;)

[2015-07-02 20:48] #824 closed, assigned to nobody

[2015-07-03 20:42] Bertram25 commented on #810
Hey, :)
Multitexturing problems apart, isn't this issue fixed?

[2015-07-03 20:43] Bertram25 commented on #816
@eugeneloza  @Danimal696 Could you update the wiki page if needed?
https://github.com/OpenDungeons/OpenDungeons/wiki/How-to-import-models-in-OD

[2015-07-03 20:47] Bertram25 opened #830 "Fix problems around config handling..."
From @hwoarangmy
- [x] Problems when destroying certain children windows in the window settings.

I've had a deeper look and it is because when we click cancel, there is a call to `SettingsWindow::initConfig`

In this function, `mCustomVideoComboBoxes` is cleared. The problem is that we try to remove them from `mSettingsWindow` while their real parent should be `mSettingsWindow->getChild("MainTabC

[2015-07-03 21:00] hwoarangmy commented on #540
Note that we are already at 4 months from the start of 0.6.0 dev. Should we start moving to next version what won't be done in a near futur ?

[2015-07-03 21:01] hwoarangmy commented on #810
I guess so. But I will let @Danimal696 have the last word ^^

[2015-07-03 21:02] Bertram25 commented on #540
I'm not sure I get what you mean, sorry.

[2015-07-03 21:04] Bertram25 commented on #540
ah I took what for that.

[2015-07-03 21:05] Bertram25 commented on #540
@hwoarangmy

What have you got in mind? Or more precisely what do you think should be moved?

[2015-07-03 21:07] Bertram25 commented on #540
I would also add that we should all have a look at all the issues open and see whether there are points not clear about how to fix the issues. We never know, we may even have forgotten a few ones to close? ;)

[2015-07-03 21:08] Bertram25 commented on #810
Arf, yes, he's still the boss (or at least he must think so... ;})

[2015-07-03 21:13] Danimal696 commented on #810
so thats what you talk behind my back? 10 whips for each of you, im fine with closing this, mutitexture material requires a lot of time to set up; so please close this issue

[2015-07-03 21:22] Bertram25 commented on #810
Ok boss. ;)

[2015-07-03 21:22] #810 closed, assigned to Danimal696

[2015-07-03 21:22] Bertram25 commented on #810
1 (arg), 2 (aaaaarg), 3 ...

[2015-07-03 21:23] Bertram25 commented on #810
9 (owww), 10 (ahhhh), 11 (huh??!), 12 ...

[2015-07-03 21:25] Bertram25 commented on #458
@Danimal696 Speaking of normals, how do you see the status of this task? What's left in your opinion?

[2015-07-03 21:26] Bertram25 commented on #566
Setting to later as an effort to clean the way for next release as proposed by @hwoarangmy
And as @Danimal696 asked to...

[2015-07-03 21:27] Bertram25 commented on #584
Moving to later so that @eugeneloza has time for this.

[2015-07-03 21:28] Bertram25 commented on #590
@hwoarangmy Do you think it's possible to clean this now, so we don't have to think about it later?

[2015-07-03 21:29] Bertram25 commented on #663
Taking @hwoarangmy latest comment. Let's do that Later:

[2015-07-03 21:34] hwoarangmy commented on #540
ATM, I've released a PR with library logic (obviously what I was on). So I guess we should move all non "critic" stuff to later and focus on what we are currently doing or what we really want for the 0.6.0. For my part, I've nothing to do unless you see something in my PR ^^

[2015-07-03 21:35] hwoarangmy commented on #590
ok

[2015-07-03 21:40] Bertram25 commented on #540
Good for me. I'm always for smaller and saner scopes. ;)
I'd like to see #590 #632 fixed as such details can be removed from the way once and for all, and #722 for usability purpose.
(I'm fixing the settings as requested atm.)
All the rest can move to 0.7 or 0.6.1 as you like, where I'll personally keep on with the GUI stuff. (bugs, skin + help @akien-mga with user maps support.)
Why not focus on

[2015-07-03 21:48] Bertram25 commented on #540
Ah, while we're speaking of that kind of stuff. There is a bit of vision to discuss:
For the next release or the one after that, shall we:
1. Keep focusing on adding missing rooms, and such?
2. Have a look at the master server implementation and try to have a good base of wan multplayer games?
3. Start looking at scripting toward campaign support?

My own preference is the given order. Why? Becaus

[2015-07-03 22:01] hwoarangmy commented on #722
Since @Bertram25 wants to fix this for 0.6.0, we should decide what we want to do here.

IMHO, using a shift / ctrl / tab / alt seems a bit too complex for players  and I guess many won't use this feature because they won't know it is there. Moreover, it seems a bit too much for what we need.

As @Danimal696 stated, one solution could be to not allow slapping creatures during let's say 1 or 2 seco

[2015-07-03 22:06] Bertram25 commented on #722
I like this idea but I wouldn't want to prevent overall slapping for 2 seconds, more making the dropped creature unslappable for 2 secs.
This makes me think that we didn't talk about what happens to dropped minions? (for later) Should they get hurt? Should they stay with the 'dead/ko' animation for one second before getting up?

[2015-07-03 22:06] hwoarangmy commented on #540
IMHO, the most missing right now is game content. ATM, the game is too repetitive. Building a hatchery + dormitory is enough to unlock almost everything. I think we should go for 2-3 specific rooms and a few spells to make the game fun ^^
Concerning points 2 and 3, I would also choose the same order because IMHO, the point of the whole project is to have a multiplayer game (otherwise, playing DK2

[2015-07-03 22:07] Bertram25 opened #832 "Crash at startup when using SFML Audio 2.3"
Here is the valgrind log:

[code]

[2015-07-03 22:11] Bertram25 commented on #832
Not forcefully us but for info until I find why...

[2015-07-03 22:12] Bertram25 commented on #540
We're in line then. :)

[2015-07-03 22:16] Bertram25 commented on #832
Probably linked to this:
https://github.com/SFML/SFML/pull/757

[2015-07-03 22:17] hwoarangmy commented on #722
Good idea.

I prefer them to be KO instead of hurt because we might end up by killing creatures when trying to save near dead ones.

[2015-07-03 22:23] Bertram25 commented on #722
K, I'll create an issue for the next milestone.

[2015-07-03 22:26] Bertram25 opened #833 "Dropped minions handling improvement."
The dropped creatures are atm teleported on ground fresh and sound....
Hmm, this is not the OpenDungeons way of things. ;)

As discussed, they should drop or appear on ground ko (using the dead/ko animation) for 2 seconds before getting up and starting to move again.

They shouldn't lose HP as  we might end up by killing creatures when trying to save near dead ones.

[2015-07-03 22:26] Bertram25 commented on #722
Done. #833

[2015-07-03 22:44] Danimal696 commented on #810
admit you like it...

[2015-07-03 22:45] Danimal696 commented on #458
statues from cript and traps, but traps normal and transpaarencies dont mix well

[2015-07-03 22:54] Bertram25 commented on #458
I think we should forget normals on models needing transparency for now...

[2015-07-03 22:56] Bertram25 commented on #722
Ah, also we shouldn't slap when right clicking to unselect an option above a creature (room, trap, spell, ...)

[2015-07-03 23:49] hwoarangmy commented on #458
Yep, I agree

[2015-07-04 15:01] hwoarangmy opened #835 "Workshop logic"
In #817, we decided to change library logic so that library produces books that represents a fixed amount of points and that workers have to bring to the dungeon temple. Once enough points are gathered, the pending research is unlocked.

In the issue, @akien-mga proposed to use the same logic for workshop:

ATM, workshop produces items that will activate a trap of the corresponding type. We can se

[2015-07-04 15:01] hwoarangmy commented on #817
Since this issue will be closed by my PR about library logic, I open a new one for the workshop: #835

[2015-07-04 15:27] Danimal696 commented on #835
but then the toolboxes would be stored in the Hearth? limitless storage? i would make it so they can only be stored into the workshop until used, so they take working places and eventually leaves no place for working until used (or selling workshop and building elsewhere<-cheating rigth here?), and then the kobolds have to make several travels to build a complex trap

[2015-07-04 17:15] Bertram25 commented on #835
I agree being consistent in the way we make ressources available is the way to go so using grimoires to obtain crafting points? Ok for me. :)
Now, we need to make such resource limited and show it in the gui IMHO.
I don't mind if the resources are vanishing in the heart as many rts do that anyway.
As for the resource limit per type, maybe it can depends on skills?

[2015-07-04 17:20] Danimal696 commented on #835
i actually wouldnt change the current workshop logic, it feels more realistic and satisfactory than just some generic crafting point numbers. But i guess we have to agree in here to it.

[2015-07-04 17:33] hwoarangmy commented on #835
That's what would have to be decided. IMO, it would be better to bring them to the trap like is is done ATM (but it would be an craft item and you will need 1 or more to activate a trap). I don't see the point of bringing them to the dungeon heart.

Well, you would loose half the workshop price. That's expensive enough IMHO to not need another penalty.

We have a working logic ATM that is IMHO, sa

[2015-07-04 17:43] eugeneloza commented on #584
I'm in Carpathians now, we're holding a children camp :) There was tons of preparations for it, so I didn't have enough time to finish this one by now. I'll be back home at ~13 July and somewhere there I'll be able to resume the work on the Tutorial. Thanks to Pomodora technique, I hope, I'll work more efficiently on it in comparison to previous half-year.
(P.S. I finally gave up trying to make th

[2015-07-04 22:24] Danimal696 commented on #584
Have fun with all the kiddos!

[2015-07-05 00:48] Danimal696 opened #836 "Replacing mesh for "Call to arms spell""
Pretty soon
![demo1](https://cloud.githubusercontent.com/assets/8299756/8509862/400e8fe4-22c0-11e5-8509-6fd147e765cc.png)

[2015-07-05 04:03] eugeneloza commented on #584
Oh yes, we do! :D
![aimg_9998 55](https://cloud.githubusercontent.com/assets/10726162/8510248/e56775a0-22e3-11e5-83cd-9c6090fd4b9f.jpg)

[2015-07-05 07:35] Bertram25 commented on #584
Eh eh :)

[2015-07-05 08:11] hwoarangmy commented on #836
Cool ^^

[2015-07-06 14:48] Bertram25 commented on #835
Again, if the current logic is sufficient for everyone, let's not change. My overall point is that we should either change when it fails to satisfy you guys, and in that case, stay consistent, or do not change if we find it good as is.
I don't care if we take one or the other road.

[2015-07-06 14:49] Bertram25 commented on #832
Ok, solved it by a full recompile of OD. Gah, I love upgrades ;)

[2015-07-06 14:49] #832 closed, assigned to nobody

[2015-07-06 14:52] Bertram25 commented on #821
Proposal to handle favorite IP (and for own memory when implementing)
- Turn the ip widget into a combobox and store the new ip when using it successfully to connect to a lan.
- then, the next time one start a lan as client, the ip will be in the combo box list, but not set per default.
- The most recent ip should be stored first both in the config and proposed in the combobox.
- In the settings g

[2015-07-06 17:57] #817 closed, assigned to hwoarangmy

[2015-07-06 18:17] #836 closed, assigned to Danimal696

[2015-07-07 11:52] hwoarangmy commented on #577
Closed by #831

[2015-07-07 11:52] #577 closed, assigned to hwoarangmy

[2015-07-07 12:17] Bertram25 commented on #835
I'd say: Let's not change it. Ok for you guys?

[2015-07-07 12:25] hwoarangmy commented on #835
ok. I close the issue then

[2015-07-07 12:25] #835 closed, assigned to nobody

[2015-07-07 12:29] Bertram25 opened #839 "Minimap: Add a key to switch the minimap type and hide it."
A new key such as 'X' for instance, it would cycle between the minimap states:
- Standard (new one)
- Old one (Since @Danimal696 loves it)
- No minimap.

[2015-07-07 12:30] Bertram25 commented on #530
IMHO, this issue is solved. The minimap isn't perfect but at least it is not badly rendered anymore.
I'll open a new issue about the possibility to switch minimap type and hide it.

Unimplemented part supported by #839

[2015-07-07 12:30] #530 closed, assigned to hwoarangmy

[2015-07-07 12:31] Bertram25 opened #840 "Improve the Research button"
This issue is about adding visual cooldown support to research buttons, using a child vertical progress bar in it.

[2015-07-07 12:31] Bertram25 commented on #517
This issue is done. I'll open a new issue about the skill button.
Unimplemented part supported by #840

[2015-07-07 12:31] #517 closed, assigned to Bertram25

[2015-07-07 12:50] hwoarangmy commented on #840
cool. Do you think it is feasible for the 0.6.0 ? IMHO, it would be a nice addition (that will improve gameplay).

[2015-07-07 12:50] hwoarangmy commented on #839
Note that from what I've tried, the old minimap do not work with D3D renderer. I've not looked why, though.

[2015-07-07 13:17] Bertram25 commented on #839
Good point. We may need to test the renderer until it works there.
Also, do you think we could make it so the old and new minimap have the same zoom ratio?
A later feature would be to add +/- buttons there but both implementations need to act the same first, IMHO.

[2015-07-07 13:18] Bertram25 commented on #840
Ok, I'll fix the last dicussed stuff for settings and I'll hop on that one. :)
Hopefully, it will be not too hard to implement. (Fingers crossed.)

[2015-07-07 13:27] hwoarangmy commented on #839
That would need to adjust the minimap camera position. ATM, we compute camera position so that 30 tiles are displayed (width and height). I don't exactly know how many are displayed on the old minimap.
You want to allow to change that at runtime ? Or through the settings (and thus, will only change for the next game ?)

[2015-07-07 13:45] Bertram25 commented on #839
I'd like the game to be able to change the minimap zoom ration at runtime, but if possible and not too cumbersome, as usual. For the new minimap, I guess it's about lowering the camera height?
For the old camera code, I can handle it if you want, since I already played with it to try and find a better ratio.

I also wonder at whether it would be possible to render the minimap using custom meshes (

[2015-07-07 13:51] hwoarangmy commented on #839
yep

The problem with the minimaps we have is, IMHO, that we don't see the whole map and, thus, we might loose some events.

[2015-07-07 14:12] Bertram25 commented on #839
For that I wonder whether we could steal a FPS mechanism: When the minimap ratio is >x1 maybe we could highlight the minimap border where the event is from, for something like half a second?

Again, I would also make the minimap display specific event icons (not shown in game) for a few seconds..
Hence, why I would render all that in the same scene, with specific models. But it's again all theoric

[2015-07-08 11:16] #590 closed, assigned to hwoarangmy

[2015-07-08 11:16] #722 closed, assigned to hwoarangmy

[2015-07-08 11:16] #632 closed, assigned to hwoarangmy

[2015-07-08 16:44] #830 closed, assigned to Bertram25

[2015-07-08 19:32] hwoarangmy opened #843 "Create a ResearchManager class"
The goal being to gather research related stuff and try to make clear which functions are needed when creating a new room/trap/spell (like the SpellManager allows to have a compiler error if a new Spell doesn't have required static function)

[2015-07-09 06:45] Bertram25 commented on #458
@Danimal696 Basically, what do you see left for this issue to be considered done in your opinion?
I admit the issue description is a bit vague and it's my fault, sorry. ;)

Ah, and btw, the issue is also speaking about adding the normal how-to in the wiki. An example of how to create a model with transparency would be cool, too.

[2015-07-09 06:48] Bertram25 commented on #556
I'm moving that one to Later as it is non-blocking for the next release, and we should not make useless pressure on @Danimal696 , except for the usual threats and whipping stuff, of course. ;)

[2015-07-09 06:49] Bertram25 commented on #458
Same here, moving to Later as it is non-blocking.

[2015-07-09 06:56] Bertram25 opened #844 "Adds the new kobold model"
This issue is about replacing the current Kobold with a new cool model. ;)

It was also made so that @Danimal696 and @hwoarangmy can exchange the casual threats we can sometimes see in other issues. :P

Useful links:
http://forum.freegamedev.net/viewtopic.php?p=61049#p61049
http://www.blendswap.com/blends/view/68844
Maybe: http://opengameart.org/content/imp-0

[2015-07-09 06:56] Bertram25 commented on #844
Ping @hwoarangmy

[2015-07-09 06:57] Bertram25 commented on #694
@Danimal696 What models are left here?

[2015-07-09 07:25] Bertram25 commented on #694
Nevermind, saw this:
http://forum.freegamedev.net/viewtopic.php?p=64465#p64465

[2015-07-09 07:38] Bertram25 commented on #540
@OpenDungeons/developers
As we're in what could be called "integration" phase for 0.6.0, I'd propose this:
- Move sounds part to 0.7 (Sorry again @eugeneloza :S)
- Move the user map support part to 0.7 as well (IMHO, it goes along with creating a new map from the editor for usability purpose). Let's let @akien-mga and me kill that for 0.7
- Move the forge and equipment system to 0.7 (It will be th

[2015-07-09 07:47] akien-mga commented on #540
First of all, I agree with the general vision outlines above (more game content first, then masterserver, then campaign).

For the 0.6.0 integration phase, I also agree with @Bertram25's points. I'll create issues for the remaining points that I want to fix before the release (create a new map, finish the move to TuxFamily, update the release notes).

As we're still working on core gameplay elemen

[2015-07-09 07:48] akien-mga opened #845 "Update release notes for 0.6.0"
As usual, #540 can be used as a basis. The issues and pull request history might be useful too.

[2015-07-09 07:49] Bertram25 commented on #540
Sure, I'll create the milestone now. :)
Edit: Done: https://github.com/OpenDungeons/OpenDungeons/milestones/0.7.0

[2015-07-09 07:51] akien-mga opened #846 "Write a 0.6.0 release announcement for the website and forum"
#845 will likely be a prerequisite so that we know what to put the focus on.

@Bertram25 is usually pretty good at this exercise. *Evil grin*

[2015-07-09 07:55] akien-mga opened #847 "New multiplayer map with dungeon ruins"
At first I planned to make a skirmish map now that we are separating skirmish from "lan solo", and we have little skirmish-only maps. But without scripting skirmish maps are kind of limited anyway, so I'll just create another cool multiplayer map for the time being.

My idea would be a map with dungeon ruins in the middle, where there would be patches of rogue rooms, some rogue portals to claim, m

[2015-07-09 08:00] akien-mga commented on #779
@Wout-van-Dongen @oyvindln Could one of you appoint me administrator on the SourceForge page, so that I can start closing down the repos, rework the description and do the necessary adjustments to effectively "leave SF"? I'll try to put a banner similar to that of megaglest: https://sourceforge.net/projects/megaglest/

[2015-07-09 08:01] Bertram25 commented on #847
I wonder whether you could also add a wave portal with low level creatures getting out of it not too often, to create more a distraction than a threat to keepers. IMHO, that would outline the feature well and make it more dynamic even with several games.

[2015-07-09 08:01] akien-mga commented on #779
Things left to do for this issue:
- [x] Retire the SourceForge page (needs admin rights)
- [x] Update links on the website
- [x] Update links in the documentation (wiki)
- [x] Announce it on the forum

[2015-07-09 08:02] akien-mga commented on #847
Yeah great idea. I already planned to put rogue creeps in the ruins, but I could also had one or two low level wave portals so that those creeps get reinforcements :)

[2015-07-09 08:03] Bertram25 commented on #779
Feel free to assign @Wout-van-Dongen and move this to later once you're done with other tasks in case he needs time for that.

[2015-07-09 08:04] Bertram25 commented on #846
eh eh.

[2015-07-09 08:09] Bertram25 opened #848 "[Technical] - Turn the ConfigManager::mUserConfig into a vector or maps."
As discussed with @hwoarangmy .

No behavioral changes should be noticeable, but it is saner.

[2015-07-09 08:15] Bertram25 opened #849 "0.7.1 Release"
Here we go!! :D

**Multiplayer:**
- [x] Lobby / Masterserver implementation #777
  - [x] Segfaulted games are not removed from the masterserver #1040

**Creatures AI**
- [x] Add creature KO state #751
- [x] Test and Improve if needed ranged creature behaviour #376
- [x] Allow creatures to use skills (spells, special attacks, ...) #984
- [x] Workers should learn to work in team. #565

**Gameplay**

[2015-07-09 08:56] hwoarangmy commented on #847
Note that portal wave always try to attack the closest dungeon. So, if you add 1 per player, they should attack only him (unless he turtles).

[2015-07-09 08:57] akien-mga commented on #779
I've updated the download link in the FAQ and created https://github.com/OpenDungeons/OpenDungeons/wiki/TuxFamily-hosting

[2015-07-09 09:03] Bertram25 commented on #779
Thanks. The info is indeed helpful. :)

[2015-07-09 09:03] hwoarangmy commented on #844
I don't like this one much

This one is nice. And @Danimal696 already sweared he would integrate it. He is probably waiting to get whipped (and that would be deserved)...

[2015-07-09 10:29] akien-mga commented on #779
It's now announced on the forum: http://forum.freegamedev.net/viewtopic.php?f=41&t=6419

[2015-07-09 11:00] hwoarangmy opened #851 "Research queue handling by default"
ATM, the research queue is defined in the level by default.
That means that if we add a new spell and want it to be in the research queue in every level, we need to edit all of them.
That seems like a problem to me. IMHO, we should turn the ResearchPending level tag optional. If it is present, the queue is used as it is ATM. If it is not, we should decide what we want:
1 - No research per default.

[2015-07-09 11:07] Danimal696 commented on #556
and dont forget the clubbing and public humiliation

[2015-07-09 11:13] Danimal696 commented on #851
both? we do by hand and we could also add a few butttons that resemble a path\specialization  (military, common, magic) with just the main skills of each, forgetting the branching ones (so we dont have to recode it each time the research topics are changed, just one at final release or big changes on trees)

[2015-07-09 11:35] Danimal696 commented on #844
:P you see, im trying to get my own rig for homemade mocap, once i manage i can make some real good animations i could never with my sucky animations skills. So we need to wait a bit more... again...

[2015-07-09 11:56] Danimal696 commented on #540
I havent heard about that, what is it about?

[2015-07-09 12:09] hwoarangmy commented on #540
That's the button that displays a progressbar for researches

[2015-07-09 12:11] hwoarangmy commented on #844
Isn't that what rogues tell to their victims before finishing them off?

[2015-07-09 12:14] hwoarangmy commented on #851
Yes, a button to automatically fill paths may be nice once we have enough game content.
But we can always associate each researchs with a specialization and, if the player clicks a the button for the given path, select all researches flagged (including dependencies, being on the same path or not).

[2015-07-09 12:18] Danimal696 commented on #849
Adding gem tiles

[2015-07-09 13:09] akien-mga commented on #779
And the SF project page is now retired too :)

[2015-07-09 13:10] #779 closed, assigned to akien-mga

[2015-07-09 13:11] akien-mga commented on #779
BTW @Wout-van-Dongen also put @Bertram25 and I admins on the SF project page (we'll still keep it to redirect to our website and TF repo, since many people still browse SF when looking for free software, and the SF page is the second result for OD in Google).

[2015-07-09 13:12] Danimal696 commented on #816
couldnt this be closed?

[2015-07-09 13:15] akien-mga commented on #816
After you've updated the above mentioned wiki page with the relevant info ;)

[2015-07-09 13:37] Bertram25 commented on #556
My bad, duly noted. ;>

[2015-07-09 13:41] Bertram25 commented on #779
@Wout-van-Dongen Thanks :)

@akien-mga And thanks a lot for handling that communication management part. :)
One good thing done.

[2015-07-09 13:43] Bertram25 commented on #816
@Danimal696 If you have problems with the wiki syntax, feel free to give us the info you want there and a dev will handle it. Probably me, but @akien-mga usually does that real fast, too.

[2015-07-09 13:43] Danimal696 commented on #694
Im leaving my tileset blender file here:
http://forum.freegamedev.net/viewtopic.php?f=38&t=6380&p=64795#p64795

[2015-07-09 13:44] Bertram25 commented on #849
Ok, adding issue #735

[2015-07-09 13:58] Bertram25 commented on #851
I agree with @hwoarangmy . It is dead easy to set a path to a research now. Just click on the research  if not set and everything will set up automatically.

I'm for a evil mix of 1 and 2:
- The research queue is empty at start.
- An auto-research button is added. It will choose a research completely at random each time a research is completed. The button can be activated/deactivated at will but i

[2015-07-09 14:07] Bertram25 commented on #540
@Danimal696 @hwoarangmy Ok with my move proposal?

[2015-07-09 14:08] akien-mga opened #852 "Update the media-source repo with recent additions"
I'm assigning to @Danimal696 as he has most of the art sources at least for meshes and textures, but it concerns all of us developers.

Once we get the media-source repo in sync with the main repo again, what should be our strategy to ensure that we keep them in sync? Should we try to update the media-source repo each time we update the main repo? Or could we maybe use this issue as a todo list fo

[2015-07-09 14:17] Bertram25 commented on #852
If @Danimal696 can upload those data to e.g. OpenGameArt, we don't forcefully need them into media-source. But in a perfect world, we should have the media source, would it be to prove we made those, and thus can apply the license we claim.

[2015-07-09 14:20] Danimal696 commented on #816
could you please link this:
https://github.com/OpenDungeons/OpenDungeons/wiki/3D-Modelling-guidelines

inside Map creation/Modding and rename "How to create models" to "Exporting Blender models"; also it will need prettyfying, i cant put the code examples into place.

[2015-07-09 14:24] Danimal696 commented on #852
To date i upload everything to OGA, would it be fine if i upload them in batches whenever i feel i have made a lot?

[2015-07-09 14:25] Danimal696 commented on #540
yes, go ahead

[2015-07-09 14:27] Bertram25 commented on #852
IMHO, it's fine. My sole advice would be to keep a public list somewhere so that you don't forget what to upload.
(We're all humans after all.)

[2015-07-09 14:29] Danimal696 commented on #851
+1 i like that

[2015-07-09 14:30] Danimal696 commented on #852
ok, i will do it like that.

[2015-07-09 14:44] Bertram25 commented on #816
@Danimal696 Should be now done. :)

[2015-07-09 14:52] Bertram25 commented on #816
Assigning @Danimal696 (I assigned @hwoarangmy  by mistake.) and closing since the job is done. :)

[2015-07-09 14:52] #816 closed, assigned to Danimal696

[2015-07-09 14:52] Bertram25 commented on #540
3 voices. Ok. I apply.

[2015-07-09 14:57] hwoarangmy commented on #540
It sounded like a summary, I didn't get that you were waiting an approvation ^^
But as I said, I am for finishing what we all are doing and releasing ASAP. IMO, the only "blocking" issue would be the water/lava animation (even if it is a big problem in my mind)

[2015-07-09 15:02] Bertram25 commented on #540
@hwoarangmy Eh eh. Did I sound that much like a dictator? XD
There are at least one task left for each of us so hopefully you'll have a bit more time to finish what you will. :)

[2015-07-09 15:15] Danimal696 commented on #540
hwoarangmy i posted the models into the forum in case you didnt see my topic reply

[2015-07-09 15:31] Bertram25 commented on #705
I just did Spells: https://github.com/OpenDungeons/OpenDungeons/wiki/Spells

I'll work on the rest. :)

[2015-07-09 15:37] akien-mga commented on #705
It looks awesome :-D
You should probably make it clearer that the spells from 0.5.0 are also in 0.6.0.

[2015-07-09 15:41] Bertram25 commented on #705
Yep. :) Btw, do you remember what rooms were in 0.5.0 and 0.4.9?

[2015-07-09 15:42] akien-mga commented on #705
Check the release notes ;-)

[2015-07-09 15:42] Bertram25 commented on #705
ah true. thanks. :)

[2015-07-09 16:03] Bertram25 commented on #705
Precised version in spells, added rooms:
https://github.com/OpenDungeons/OpenDungeons/wiki/Rooms

[2015-07-09 16:16] Bertram25 commented on #705
Improved a bit the research tree page:
https://github.com/OpenDungeons/OpenDungeons/wiki/Research-Tree

Once @hwoarangmy will have done more progress on it, I'll follow with according changes.

[2015-07-09 16:59] hwoarangmy commented on #705
@Bertram25 The wiki is really nice. The only thing I've seen is that you didn't use the icon for haste spell and you made a note about the workshop under the trainingroom.

[2015-07-09 17:07] akien-mga commented on #851
Strategically-speaking I'm more for 1 too. I like @Bertram25's 1 and 2 evil mix, it looks a bit like how it would work in other strategy games with a research tree like in the Civilization series: it's up to you to define your research strategy, but you can also make it automatic IIRC.

The auto-research button should only pick at random between researches that are directly available in the skill

[2015-07-09 17:11] #848 closed, assigned to Bertram25

[2015-07-09 17:14] Bertram25 commented on #705
Yeah, I had a branch without the icon. As soon as I've finished the creature page, i'll fix up the spells and rooms pages. :)

[2015-07-09 17:16] hwoarangmy commented on #851
What about a button that would choose all not already selected available researchs randomly ? It would not add a new functionality while a button that would choose a research only when another 1 is finished will. Moreover, it will allow you to set some research you really want and then, to fill randomly the others.

I agree on all other points.

[2015-07-09 17:22] Bertram25 commented on #705
spells and room pages are fixed. I'll resume the creatures page.

[2015-07-09 17:23] akien-mga commented on #851
Yeah actually that sounds better. Choosing everything at random little by little makes for somewhat unpredictable games, and thus does not go in the way of advanced tactics.
On the other hand a "lazy fill" button sounds pretty good: you can see directly what the game plans for you, and if you don't like it, you can change it again.

[2015-07-09 17:30] Danimal696 commented on #705
Go for it! :D

[2015-07-09 18:00] akien-mga commented on #191
The wood and stone bridges models are now available since #571 and #853, so what's left is integrating them in the gameplay. I guess this can be done for 0.7.0.

[2015-07-09 18:30] Bertram25 commented on #705
Ok, I should be done now.
What can be done to improve all that for instance would be to take screenies of models using meshy to get a better profile, and why not add details about their fighting, crafting and research proficiency using a ranking, like the one one can see on website with stars:
https://mlsvc01-prod.s3.amazonaws.com/914e81f3101/ce883c9a-4f4b-4efa-99ce-ecccf5e8dd64.png

[2015-07-09 18:31] Bertram25 commented on #705
In any case, this should be enough to close this issue. I'll do it now but feel free to have a look and fix typo or tell me to fix anything you see.

[2015-07-09 18:31] #705 closed, assigned to Bertram25

[2015-07-09 18:41] akien-mga commented on #705
That could be pretty cool, but I don't think you should spend too much time on it right now as the game might still need some balancing to be more fun.

[2015-07-09 18:43] Bertram25 commented on #705
I'll polish it from time to time. But for the moment, I'll get back to more urgent stuff. :)

[2015-07-09 18:46] Bertram25 commented on #700
@hwoarangmy Let's move it to later as the answer may happen sooner or later than 0.6.

[2015-07-09 18:46] Bertram25 commented on #752
Moving to 0.7 as I need time to investigate and it's no blocker.

[2015-07-09 18:51] Bertram25 opened #854 "Add wiki doc about how to mod creature data in level files."
Everything is in the summary.

N.B.: We may even want to make a Mod/Level Editing pages family.

An example of the BossDragon enemy from Greed or Might:

[code]

[2015-07-09 18:55] Bertram25 commented on #846
@akien-mga I'll happily take that one if you do the release notes. Deal?

[2015-07-09 18:57] akien-mga commented on #846
Deal :)

[2015-07-09 20:18] akien-mga opened #855 "Portal wave AI configuration"
Thinking about #847, I got an idea on how to make the portal wave more interesting in various scenarios. IIUC, the current AI will locate the nearest player, and send waves towards him at regular intervals.

That means that to get a fair multiplayer map using portal waves, we'd need one portal wave per player. So I thought about making the portal wave choose for each wave a random target among the

[2015-07-09 20:21] akien-mga commented on #753
@Bertram25 Do you still want to handle this for 0.6.0, or would you prefer to leave it like that for now?

[2015-07-09 20:24] Bertram25 commented on #753
I don't know whether I'll have the time to. Let's move it to 0.7 and if I do it before, we'll change again.

[2015-07-09 20:27] akien-mga commented on #821
For the reference, the username has already been added to the settings.

[2015-07-09 20:37] Danimal696 commented on #855
i love it, i want to see the undergroung become an ant farm crawling with coming and going ferals

[2015-07-09 21:01] Bertram25 commented on #840
@hwoarangmy Still need to investigate on sending progress from server to client but with the above patch, you have progress bar in buttons which is looking even better that way.
I'll improve the progress texture used to be more readable afterwards.
Feel free to comment.

[2015-07-09 21:25] akien-mga commented on #694
Maybe we can already add the fixed tiles from http://forum.freegamedev.net/viewtopic.php?p=64465#p64668 in the main repo, and handle the two meshes that are still problematic afterwards?

[2015-07-09 21:53] akien-mga commented on #517
Moving back to 0.5.0 milestone, actually the core of this issue was already fixed when 0.5.0 was released. Further improvements to the research logic were done in separate issues (like #817).

[2015-07-09 22:05] akien-mga commented on #747
Poor @eugeneloza, I'm going through the 0.6.0 issues and I see many of your reports have been closed as invalid... Just wanted to say: keep them coming! We always need fresh input on the game, and if some of you proposals are considered duplicates of existing concepts or invalid issues, it most likely just means that we still have to make the gameplay concepts clearer :)

[2015-07-09 22:58] hwoarangmy commented on #840
As said in the commit, if the progressbar works, please create a PR and I will handle feeding the progressbars ^^

[2015-07-10 06:29] Bertram25 commented on #840
Ok, I will. Just please keep the cog icon for the research being processed. :)
I add a function implementing what I need, even if I know it is valid only on server-side. Thanks a lot.

[2015-07-10 07:59] hwoarangmy commented on #840
Ok, I will. However, research points are not attributed to a research so if you change the pending list, points will be on the new next research

[2015-07-10 08:09] Bertram25 commented on #840
Sure. But IMO, what should happen to the user, the cog icon will just move to the new active research button and the progress bar will then appear there.
Also, IMHO, the research progress bar should only appear if the progress is > 0 as you may have seen in the current logic. I'll also probably make it so it doesn't cover the cog icon afterwards by reducing it's width a bit.

For the record on the

[2015-07-10 13:31] hwoarangmy commented on #840
Agreed.

For the record, it would be nice to use those buttons on the spells to display the cooldown

[2015-07-10 13:35] Bertram25 opened #858 "GUI: Visually show the cooldown on spells buttons"
Let's try to achieve that before release.
This will be based on the solution used for research button as seen in: #857

[2015-07-10 13:37] Bertram25 commented on #845
@akien-mga IMHO, you're done with that one. My turn I guess. :) Ok to close?

[2015-07-10 13:42] Bertram25 commented on #855
For the record, this is not part of the currently implemented behaviour, at least AFAIK.

Adding a range is a fun option and random target is cool, too! :)
I would even be for a third option: A fixed Team ID target. All allies in team X.

[2015-07-10 13:52] Bertram25 commented on #458
@Danimal696
Now the wiki has been updated and that we stated we won't mix transparency and normals for now. What is left about this issue in your opinion?

[2015-07-10 14:02] Bertram25 commented on #736
So, AFAIK, what's left here is to:
- Add particles to grimoire from research.
- Add giftbox entities (with different models) support to levels (isn't this done?)
- Add a way in the editox to add/move/remove such entities.

[2015-07-10 14:09] Bertram25 opened #859 "Map image preview when clicking on a map in the map selection list."
- The image filename should either be a given file parameter, or computed by the engine (as a fallback?)

This issue is a false friend, as it is implying that levels won't be potentially a lone file anymore, and thus require that we organize our files so that no files are overlapping one another, especially with user map support.

Reorganizing our levels to take in account several files will be us

[2015-07-10 14:14] Bertram25 commented on #540
@akien-mga Thanks for the wiki cleanups. We're mostly done on the communication part now. :)

[2015-07-10 14:37] alketii commented on #540
For 7.0 release, please add Masterserver.

[2015-07-10 14:41] hwoarangmy commented on #858
It should not be too hard since cooldown is already handled on client side (through cooldown time display)

[2015-07-10 14:56] Bertram25 commented on #858
Cool, could be done rather quickly then. :)

[2015-07-10 16:10] Bertram25 commented on #540
I'll add it. Let's pray that someone bites it during that release. ;)

[2015-07-10 16:15] Bertram25 commented on #777
Btw, meagaglest has got a masterserver in php. Might help: https://github.com/MegaGlest/megaglest-masterserver

[2015-07-10 17:32] Danimal696 commented on #458
Only statues from cript, the rest is all done

[2015-07-10 19:16] akien-mga commented on #845
I'm just keeping it open to remember to add the latest changes before the release (incoming research buttons, etc.). But you can start on the announcement indeed :)

BTW I did not mention the cool new documentation that you wrote, nor the move to TF in the release notes (as they are more related to actual game features IMO), but we should probably mention both in the release announcement.

[2015-07-10 19:20] akien-mga commented on #858
That would be a really cool addition indeed :)

[2015-07-10 19:21] akien-mga commented on #540
You don't like our leading 0, do you? :p
I think **0.**7.0 is important to show that we are well aware that our game is not complete yet :)

[2015-07-10 19:24] akien-mga commented on #458
Which is #566, so I'll close this issue as fixed (in 0.5.0 to be precise).

[2015-07-10 19:24] #458 closed, assigned to Danimal696

[2015-07-10 19:52] hwoarangmy commented on #845
Yep. IMHO, release notes should not mention TF or documentation progress.

[2015-07-10 20:28] akien-mga opened #860 "Add support for newlines in level descriptions"
I mean support for newlines that would be interpreted in the map selection UI, so that we can write longer descriptions with e.g. two paragraphs.

Support for writing the description over several lines in the level file would also be nice, as long descriptions that have to fit on one line in the level file would be annoying.

[2015-07-10 21:44] Bertram25 commented on #860
Not completely related, but for the record, in cegui XML and setText() calls, you can use `&#0010;`
http://cegui.org.uk/forum/viewtopic.php?t=876

As for you need, I guess we should:
- Turn description from a one liner to something like

[code]

And auto add new line to our corresponding setText call.

[2015-07-10 21:46] Bertram25 commented on #845
Ok, I'll be on the announcement notes asap. :)

[2015-07-10 22:11] akien-mga commented on #860
Sounds like a good solution yes.

[2015-07-10 22:16] akien-mga opened #862 "Output info in the log/stderr when having problems parsing levels"
Currently, when a level file is badly formatted and can't be parsed (in my case I had a tag written `Waves]` instead of `[Waves]`), the log/stderr does not give really useful information:

[code]

If it would be possible to give a hint about the parsing error in the log, it would be great. I don't expect something as well defined as what a compiler would do, but maybe we could tell which line coul

[2015-07-10 23:36] hwoarangmy commented on #862
If the error is with waves, you should have had an error log:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/rooms/RoomPortalWave.cpp#L374
However, when something fails, the level continues to be read and usually, other errors are printed.

The problem with displaying line number is that the first thing done within map loading is to remove the empty lines and the comments. Th

[2015-07-11 10:18] akien-mga commented on #862
Ah indeed I overlooked the error message which was earlier in the log:

[code]

If there are similar mechanisms when encountering other parsing issues, I get this bug report can be closed.

[2015-07-11 10:20] akien-mga commented on #862
Looks like there are, e.g.:

[code]

This one should maybe be changed to an error btw, as it prevents loading the level altogether (at least in the editor).

[2015-07-11 10:20] #862 closed, assigned to nobody

[2015-07-11 11:09] akien-mga opened #863 "Show human readable spell name next to the tile selector instead of code name"
Currently when casting a spell like "Summon worker", the tooltip next to the tile selector shows "summonWorker" (same for other spells). It would be nice to display "Summon worker" instead.

I'll assign to myself as it seems a relatively easy task. We'll see ;-)

[2015-07-11 15:02] akien-mga commented on #863
Looks like the fix was simpler than I thought.
@hwoarangmy @Bertram25 Could you confirm that the above change is harmless, or will it break something in the spell manager logic?

From what I could see the spell name is only used in SpellManager::getSpellTypeFromSpellName, which itself is never used. And it's argument is a const std::string&, so I guess using "human-readable" names (e.g. with space

[2015-07-11 15:36] akien-mga commented on #863
I've looked a bit more, and though it does work for spells, if I do the same change for the TrainingHall room (by changing its name to "Training Hall"), it breaks the logic for e.g. config/spawnconditions.cfg where "TrainingHall" is used to retrieve the room type.

What are your thoughts about this issue? Should we keep "engine" names like "summonWorker" and "TrainingHall", and also declare a (som

[2015-07-11 18:09] akien-mga opened #864 "Save the open/closed status of doors in the level file"
Unless I'm mistaken, we can't save the open/closed status of door currently. All doors will open themselves when you start a saved game or a map with doors already placed.

For the map I'm making, it would be cooler that the doors are closed when the game starts.
The feature is needed both for saved games (keep state as it was when the game was saved) and for the editor (allow to define the status

[2015-07-11 18:14] akien-mga opened #865 "Traps can't be removed in the editor"
Or at least I did not find how :) The "Destroy trap" button does not seem to work.

[2015-07-11 19:27] akien-mga commented on #863
Note that I removed 34b5b93 from my fork to prevent pushing it in my current PR, as I believe my proposed change is not as good as I thought it first.

[2015-07-12 07:41] hwoarangmy commented on #864
I confirm the door state is not saved in file ATM

[2015-07-12 08:01] hwoarangmy commented on #863
As you already noticed, the registred name is also used to retrieve the spell type from the name (as in the RoomManager and in the SpellManager) in SpellManager::getSpellTypeFromSpellName.
However, for spells, it is not used. But for handling it in a more generic way, the simpler would be to add a new string parameter in the register function and save for each a "readable name". Then, we just have

[2015-07-12 09:22] akien-mga commented on #863
Yes I agree, that seems to be the cleaner solution if we want to keep "shortnames" like TrainingHall or PitDemon for the config files, while displaying a different name in game.

[2015-07-13 18:01] #847 closed, assigned to akien-mga

[2015-07-13 19:22] #840 closed, assigned to Bertram25

[2015-07-13 19:22] #843 closed, assigned to hwoarangmy

[2015-07-13 19:22] #865 closed, assigned to hwoarangmy

[2015-07-14 08:01] Bertram25 commented on #694
Assigning to @hwoarangmy since he said he would have a look, now @Danimal696 has uploaded new files on the forum.
No pressure though, it's just glitches and should be fixed little by little and serenely. :)

[2015-07-14 08:06] akien-mga opened #868 "Keeper hand blinks on the UI"
This is a known issue that comes from the refresh rate of the UI needed to update the new camera minimap. It's fine this way for the current release, but we might want to find a way to improve this for 0.7.0, either by putting the minimap on another UI layer if possible (then the "blinking" will only be when hovering the minimap), or something else.

[2015-07-14 08:08] akien-mga opened #869 "Notify player when the research queue is empty"
As discussed previously, a notification should be sent to the player when the research queue is empty, in a similar way as done for the lack of treasury tiles.

It sounds relatively easy to do, so I'll take it.

[2015-07-14 08:18] akien-mga commented on #869
For the reference, the fix should probably be similar to #435.

[2015-07-15 08:07] Bertram25 commented on #868
That one is indeed not an easy one. IMHO, we should definitely open a thread on ogre about the better way to draw a texture, or a scene on a texture in ogre forums.

I still believe custom low-poly models should be drawn with materials ignoring ambient light in the same scene, with some kind of off-screen rendering technique if possible. But all that is theory until someone puts his/her hands on t

[2015-07-15 08:07] Bertram25 commented on #869
@akien-mga Thanks for getting more in the dirt for the project. :)

[2015-07-15 10:13] hwoarangmy commented on #868
I agree this one might not be very easy unless some ogre guy pops up and tells us some magic...

[2015-07-15 10:51] akien-mga commented on #869
Thanks for letting me use our project as a learning material, and mentoring me on the way ;)

[2015-07-17 12:35] #855 closed, assigned to hwoarangmy

[2015-07-17 12:36] Bertram25 commented on #869
I guess this is done.! Congrats. :)

What's left is to check whether the player has got a library before complaining.
Should we also disabled the library panel until the player has got a library (in the menus and on the UI)?

[2015-07-17 14:22] hwoarangmy commented on #869
I would say no as it allows to choose researches at the beginning of the game, when there might be not much to do.

[2015-07-17 14:34] Bertram25 commented on #869
Good point.

[2015-07-17 20:46] akien-mga commented on #869
The problem with this is that the current logic triggers the warning only when defining the next research; so if we don't trigger the warning when the player defines an empty research queue without a library, the warning won't get triggered after the library is built.
We could of course also add a check in the function called when creating the library, or find a better logic altogether.

[2015-07-18 00:10] hwoarangmy opened #873 "Creature mood modifier is not saved when saving a level"
This means that is we save a level (in editor or save game), the creature mood is lost. That can be seen in RuinsOfTheConfluent.level (AFAIK, the only level that defined a creaturemood modifier for a custom creature)

[2015-07-18 20:25] hwoarangmy commented on #864
I've had a look and I've seen an architecture problem with traps. Traps are expected to be defined 1 line per tile with optional data following. That means that the door state should be expected to be at the end of the trap definition. But when we read a trap, we call the tile activate method just after loading it (before loading trap specific data). For the record, the real fix would be to load a

[2015-07-19 07:52] #858 closed, assigned to Bertram25

[2015-07-19 08:33] #694 closed, assigned to hwoarangmy

[2015-07-19 08:36] akien-mga opened #874 "Wrong floodfill seat index in Ruins of the Confluent"
This error appears in the logs when loading Ruins of the Confluent:

[code]

[2015-07-19 09:09] akien-mga commented on #874
The faulty tile seems to be a (fullness 0) claimed tile for seat 5, with a wooden door from seat 5 on it. I'll check the code to see what triggers the error more precisely.

[2015-07-19 09:13] akien-mga commented on #874
Looks like it's this test that triggers the error log: https://github.com/OpenDungeons/OpenDungeons/blob/618f2b324a8f0609b5ad21292f94c8954e0737d8/source/entities/Tile.cpp#L773
I'm not really familiar with the concepts there though, I'll leave it up to you guys ;) @hwoarangmy @Bertram25

[2015-07-20 09:53] Bertram25 commented on #869
IMHO, as the warning is periodically triggered whatever the library state is, I guess adding a check to silence the warning whenever there is no library before triggering it may be the way to go.
(I mean maybe you can disable the visual warning in that case without disabling the whole periodical check?)

[2015-07-20 09:56] Bertram25 commented on #858
I'll still work on that part in my next PR. (Even if I know I'm slow at making things lately. :])

[2015-07-20 10:00] akien-mga commented on #869
That's a good point yes, I'll have a look.

[2015-07-20 11:22] hwoarangmy commented on #869
@akien-mga If you want, there is something similar with treasuries (even if in your case, since the message is sent on server side, the client do not need to know if there are libraries or not).
The idea would be to compute the library number in the seat (like it is done for treasuries) and to not check the research tree if the number of libraries is 0.
See Seat::mNbTreasuries

[2015-07-20 13:58] Danimal696 opened #877 "Suggestion - New damage/resistance type: Poison"
in addition to physical and magical, some creatures could be pure poison damage like the slime, also skills like poisoned projectiles/blows or traps.
Is it feasible?

[2015-07-20 15:32] Bertram25 commented on #877
If I extrapolate, this means damage resistance to (negative) effects on creatures?
Like Stun, berserk,  ...

[2015-07-20 18:15] Danimal696 commented on #877
doesnt need to, in fact i think those could have a separate value, something like "Special resistance" per creature, but those would need to use a 0-100% to calculate everything? since it wont just be hp lost due to time acting poison, stunned/berserk time would need to be calculated with the % reduction

[2015-07-21 07:21] hwoarangmy opened #878 "Veteran Scarab is not used in the new map "Ruins of the confluent""
A level specific class "VeteranScarab" is defined but the scarabs on the map are simple Scarab, not VeteranScarab. Is it wanted ?

@akien-mga BTW, when you create a level, when it is done, please do not hesitate to open it in the editor and to save it (even without changing anything) to test if map saving is correct. Moreover, it would ensure that everything is sorted as the editor does which is b

[2015-07-21 07:35] hwoarangmy commented on #877
Everything is possible ;-)
The question is: is it worth the configuration / balancing / coding ? IMHO, it is not a bad idea as 3 damage types doesn't sound too much.

[2015-07-21 09:23] akien-mga commented on #878
Ah right I forgot to adapt the names of the scarabs, I'll fix that.
When I create levels I often go back and forth from the text editor to the OD editor, but I might have not saved it after my last edits indeed, I'll see if it creates a diff before pushing the rest of the changes.

[2015-07-21 11:07] hwoarangmy commented on #878
Note that you should wait for #873 to be fixed or you will need to add the mood modifier manually if you want to keep it.

[2015-07-21 11:36] #126 closed, assigned to hwoarangmy

[2015-07-21 11:36] #864 closed, assigned to hwoarangmy

[2015-07-21 11:36] #874 closed, assigned to hwoarangmy

[2015-07-21 13:13] Danimal696 commented on #877
actually, i would like for just a select few to dish out poison damage, the other creatures can have a defense value depending on tier or some characteristic, like slimes and uskeletons being inmune, ranger and lizardman very resistant...

[2015-07-21 18:28] hwoarangmy commented on #878
@akien-mga I confirm the bug about the pick selector sound. In reality the cause is that my fix makes the game load every sound as spacial. And interface sounds are played at position 0,0. That's why it worked on the 2v2 skirmish small test map (because the dungeon is near 0,0 and not in the maps lwhere the dungeon is far.
I've fixed it but I will wait for your PR about your map because it will co

[2015-07-21 19:35] #878 closed, assigned to akien-mga

[2015-07-24 10:07] #851 closed, assigned to hwoarangmy

[2015-07-24 10:07] #873 closed, assigned to hwoarangmy

[2015-07-24 10:10] Bertram25 opened #882 "Spell button refinements"
Use the seconds per turn member to compute a smooth update of button cooldown progress value.

[2015-07-24 10:15] Bertram25 opened #883 "[Technical] - Use a lambda function to list every spells in a more automated way when updating the spell cooldown."
To be applied on spell buttons cooldown:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/modes/GameMode.cpp#L1399

As it is done here for researches:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/modes/GameMode.cpp#L1392

Also, the new function listing every spells will have to move to the ResearchManager.

[2015-07-24 10:16] Bertram25 opened #884 "Rename the Research* to Skill*"
The research manager, UI and so on, is in fact a skill thing.

This is a more generic name, fitting more a RPG-ish game and will make it clearer other skills obtained through magic and maybe gold, too? can go there.

[2015-07-24 10:17] Bertram25 commented on #858
Created #882

[2015-07-24 10:28] Bertram25 opened #885 "Sounds - Normalize, monoify the new sounds, use ogg, and maybe a few other tricks"
This is a blocker for 0.6, after: https://github.com/OpenDungeons/OpenDungeons/pull/876

Related to #126

[2015-07-24 10:37] hwoarangmy commented on #884
Seems like a better name, yes.

Why not ? But as a second step or if someone really wants to bite this as it is not something required for a first release

[2015-07-24 10:38] hwoarangmy commented on #883
I can take this one if you want

[2015-07-24 10:38] Bertram25 commented on #884
Yep, I agree. :)

[2015-07-24 10:38] Bertram25 commented on #883
Thanks!

[2015-07-24 10:39] hwoarangmy commented on #882
That's a good idea. I will also take it and see if I can do that before 0.6.0

[2015-07-24 10:39] Bertram25 commented on #882
Thanks a lot (bis)

[2015-07-24 11:20] akien-mga commented on #884
Sounds good to me.

[2015-07-24 11:41] akien-mga commented on #885
I wonder, should we not use WAV instead of OGG for short sound effects?

[2015-07-24 11:44] akien-mga commented on #883
/me needs to do some reading on lambda functions :-)

[2015-07-24 12:44] hwoarangmy commented on #883
The concept is pretty simple. Usually, when you use a callback, you need to expose a function with the correct signature and pass it to the API that needs the callback.
When something happens, the callback will be called. The problem with this approach is that you need 1 class (or at least function) for each different behaviour. And that's pretty annoying especially when the behaviour is simple. M

[2015-07-24 12:45] hwoarangmy commented on #885
wav are much bigger than ogg and the repo will grow much if we do that...

[2015-07-24 12:55] akien-mga commented on #885
That's true, I just did a quick test converting all ogg files in sounds/ to wav, and the way files are about 10 times bigger, so the folder goes from 1.6 MB to ~15 MB. I haven't had a look at the wav quality setting though, maybe it can be brought down; but anyway if ogg is good enough, no need to use wav indeed :)

[2015-07-24 13:30] tomluchowski opened #887 "Keyboard not working"
After a few minutes of gameplay the keyboard stops working, and I cannot do any action via keyboard (camera hoovering , rotate, etc. )

[2015-07-24 13:38] Bertram25 commented on #883
Lambdas are cool to emulate higher level languages calls, do easy callbacks, avoid function pointers, ... But, yeah, it's really not that straight.

[2015-07-24 15:08] Bertram25 commented on #887
Cannot reproduce here, and I do use keyboard a lot while playing.
Is it systematic?

[2015-07-24 22:06] akien-mga commented on #887
I'd suspect a conflict with the window manager regarding keyboard grab. Maybe you hit a key combination like Alt+Tab or the Windows/Desktop key that would make the window lose focus, and thus lose keyboard grab?

[2015-07-25 10:53] hwoarangmy opened #889 "Segfault when when calling CEGUI::Window::getProperty"
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/modes/GameEditorModeBase.cpp#L259

We call the templated version of getProperty that returns a PropertyHelper<T>::return_type:
http://static.cegui.org.uk/docs/0.8.3/classCEGUI_1_1PropertySet.html#ad5f30fae4570428877a3ba832cb93586

 In reality, we want a CEGUI::String so we could call:
http://static.cegui.org.uk/docs/0.8.3/classCE

[2015-07-25 14:06] akien-mga opened #890 "Review quick help for 0.6.0"
Notably to tell about the new skills system.

[2015-07-25 15:41] tomluchowski commented on #887
You mean does it always happens ? Well on that system sometimes  works a few seconds than it stops.
The game is compiled without the OD_NO_LINUX_KEYBOARD grab.

[2015-07-25 16:19] #885 closed, assigned to Bertram25

[2015-07-25 16:29] tomluchowski opened #891 "Code snippet which does not work"
How one is supposed to move the camera ?
putting that snippet onto end of  :  bool GameMode::mouseMoved(const OIS::MouseEvent &arg):

[code]

From what I understand many commmits ago the function moveCamera(CameraManager::Direction) has been heavily changed , so now this snippet does not work, any ideas how that could be merged into ?This would require some smart debugging , for what I found so fa

[2015-07-25 16:35] akien-mga commented on #891
Maybe check the CameraManager? https://github.com/OpenDungeons/OpenDungeons/blob/development/source/camera/CameraManager.cpp#L437

[2015-07-27 07:58] Bertram25 commented on #889
It must be my past self doing weird stuff. There is IMHO no downside in using the CEGUI::String getProperty() function, and you're right, this have to be changed as proposed.
My apologies for that small mistake leading to build failures... :S

[2015-07-27 08:12] Bertram25 commented on #891
Is this question still valid or was ruled out as per discussion in #892 ?

[2015-07-27 08:36] hwoarangmy commented on #889
No problem. It is common for us all to do such things when using a library we are not used to ^^
Moreover, cegui is not the best documented library I've ever seen (functions are pretty well documented but not how they should be used).

I will fix that then as I'm already on it ^^

[2015-07-27 09:21] akien-mga commented on #891
Judging by @tomluchowski's PR, it looks like he found out that the moveCamera function needs to pass two arguments now.

[2015-07-27 09:21] #891 closed, assigned to akien-mga

[2015-07-27 15:11] hwoarangmy commented on #882
Note that smooth cooldown can be done only for spells as it is not linear for researches (since it depends on bringing grimoires)

[2015-07-27 16:41] Bertram25 commented on #882
Hmm, I guess it depends on how you see the implementation. As for me, a spell button would start from 0 and try to reach the current progress value set when a grimoire has triggered it. Is there something else I didn't see?

[2015-07-27 18:01] hwoarangmy commented on #882
ok. So, you want to increase smoothly the research button ?
For example if a research needs 2 grimoires, when the first one is brought, it would fill half smoothly (instead of filling half at once) ?
Note that if it is the case, I don't think it is worth doing that as it will only be visible if you have the research tree open while a grimoire is brought, which is not very likely. So, IMHO, it is t

[2015-07-27 18:59] hwoarangmy commented on #869
@akien-mga Do you want me to handle the message when no library ?

[2015-07-27 20:45] akien-mga commented on #869
Feel free to do it, I won't have much time to code before Thursday I think.

[2015-07-27 21:27] hwoarangmy commented on #869
ok. I will then

[2015-07-27 23:12] hwoarangmy commented on #863
@akien-mga If I'm not mistaken, that's the last code release blocker for 0.6.0. If you want, I can take it so you can focus on the last other tasks for the release and we can build a RC1 ^^

[2015-07-28 08:29] Bertram25 commented on #882
Well, I won't push too hard on a feature that is only a small visual and also because you are the one doing the job so far. And this small stuff can be sorted out in 0.7.
(I guess someone should tell me: If you want to see it done, just do it you little mor... ;])

Anyway, here is what is bothering me so far:
When a grimoire is brought to the temple, the research progress is set to, let's say, a 0

[2015-07-28 08:58] akien-mga commented on #863
Sounds good to me; I'll get started on the release announcement to help @Bertram25 :)

[2015-07-28 09:09] akien-mga commented on #882
That sounds like a cool idea, if we do that we are really starting to go past the beta stage :-P

[2015-07-28 09:13] hwoarangmy commented on #882
ok, that sounds good to me too

[2015-07-28 09:29] hwoarangmy opened #894 "Research button refinements"
Split from #882

For research buttons we want to fill the current research in progress in a smooth way because when you open the research tree, you don't really know whether the progress is heading up or down.

For that, we will fill smoothly the current research each time the research tree is open

[2015-07-28 09:29] hwoarangmy commented on #882
I've separated the 2 issues are they are pretty different after all and the spell one is already fixed #894

[2015-07-28 11:02] hwoarangmy opened #895 "Progressbar issue"
While playing with the progressbar, I've found a weird issue. I've tried to fill it with hardcoded values to see how it behaves and got unexpected results:
- When I fill it with 0.25, I get no visual at all (like if it was 0%)
- When I fill it with 0.33, I get a small visual (a bit less than 20%)
- When I fill it with 0.5, it is half filled as expected
- When I fill it with 0.75, it is fully fille

[2015-07-28 11:05] akien-mga commented on #895
I've been running cegui 0.8.4 for many months now. I'll see if I can reproduce the issue.

[2015-07-28 11:36] Bertram25 commented on #882
Perfect. :) Thanks!

[2015-07-28 11:42] Bertram25 commented on #895
@hwoarangmy Does that issue apply both on spells and research buttons? (with cegui 0.8.4)

Personally, I've been using cegui 0.8.3/0.8.4 and even 0.8.5-to-be versions but I couldn't see any behavioral difference with my latest PR.
I'll try yours asap.

Feel also free to see whether a progressbar param is getting the way or missing:
http://static.cegui.org.uk/static/TaharezLookProperties.html#Progr

[2015-07-28 12:52] hwoarangmy commented on #895
yes. That's the first thing I've tried. I will have a look tonight and maybe try with cegui 0.8.3 if you tell me that you don't have the issue

[2015-07-28 15:33] tomluchowski commented on #887
How do I close issue liike this one ?
Now it works again after setting to grab mouse and keyboard.

[2015-07-28 15:48] Bertram25 commented on #887
You can click on the 'Close Issue' or 'Close and comment' button.

Did something change in your setup for this to work?

[2015-07-28 16:34] hwoarangmy commented on #895
I've had a look at the progressbars we use. I've found something a bit weird about the area as the area is defined bigger than the button:
https://github.com/OpenDungeons/OpenDungeons/blob/development/gui/WindowResearchTree.layout#L20

I tried to play with it and set it to 0,0 to 1,1. As expected, horizontally, the bar was smaller than the button (which explains the hack I guess). However, vertica

[2015-07-29 10:13] #869 closed, assigned to hwoarangmy

[2015-07-29 10:13] #882 closed, assigned to hwoarangmy

[2015-07-29 10:13] #883 closed, assigned to hwoarangmy

[2015-07-29 11:43] Bertram25 commented on #846
Will be done as a first draft tonight. :) @akien-mga will be able to fix my mistakes then, and add his own stuff. ;)

[2015-07-29 11:47] Bertram25 commented on #540
We're getting close! :)

[2015-07-29 12:16] alketii commented on #540
great news

[2015-07-29 12:42] hwoarangmy commented on #540
I will upload a PR tonight with the last needed fixes. Once it will be reviewed/merged, the RC1 will be on its way ^^

[2015-07-29 14:14] akien-mga commented on #540
Nice :) So once this PR is merged, I propose that we create the 0.6 branch from the development one, and use it as a basis for RC1. IMO we don't need to add a git tag for RC1, I think all our testers will use the precompiled binaries, and we don't really need to keep a tagged RC1 for the posterity (I'd even remove the existing 0.4.9-RC1 and 0.5.0-RC1 tags, but that's nit-picking, they don't hurt :

[2015-07-29 23:20] #863 closed, assigned to hwoarangmy

[2015-07-29 23:20] #894 closed, assigned to hwoarangmy

[2015-07-29 23:20] #895 closed, assigned to hwoarangmy

[2015-07-29 23:20] #887 closed, assigned to nobody

[2015-07-29 23:22] Bertram25 commented on #889
Done with https://github.com/OpenDungeons/OpenDungeons/commit/3f6ab7caf06a9baea706951a4be10aafea840bea

[2015-07-29 23:22] #889 closed, assigned to hwoarangmy

[2015-07-29 23:24] Bertram25 commented on #540
Left is adding the announcement and maybe a few balancing tweaks. RC1 is good to go before lans! :D

[2015-07-30 07:18] hwoarangmy opened #897 "Sound issues"
From @Bertram25 in #896 :
Noticed while playing:
Sounds, nothing urgent but it's hearable now that part has improved:
- No sound when casting the Heal spell while the sound is there.
- No sound when placing a room, or is that sound too shy?

[2015-07-30 08:52] Bertram25 opened #898 "0.6.0 Balancing tweaks"
- [ ] @akien-mga is right, library stuff grimoire cost should be doubled, so that it's not that easy to get everything, and this will add more strategy.
- [ ] Why are spikes depending on the cannon trap while they are at same level in the research tree?
  Overall, researches shouldn't depend on same level research tree items but on the one level higher items.
- [ ] Spell heal and explosion cooldow

[2015-07-30 08:53] Bertram25 commented on #898
Taken from #896

[2015-07-30 09:02] Bertram25 commented on #898
Note to self: From what I can understand, a research can be... researched once one of its dependencies has been researched.
See: https://github.com/OpenDungeons/OpenDungeons/blob/development/source/game/Research.cpp#L32
So each research should have the one level higher items as dependencies. :) Hopefully easy enough.

[2015-07-30 09:57] akien-mga commented on #898
Regarding the research tree and based on @hwoarangmy's input, feel free to change it how you like it. hwo's version was just to implement the code features, but the current placement of skills in the tree and their dependencies are "au pif" IIUC :)

[2015-07-30 10:54] hwoarangmy commented on #898
That's what the code does. And that's a bug due to a wrong copy/paste because that's not what I wanted to do ^^ Seems like I've inverted the return false/true.
In my mind, all research dependencies have always been required to unlock the next research. And I believe it is the best solution. I had not seen that because ATM, every research as at most one dependency only. But having 1 or 2 depend on

[2015-07-30 12:28] Bertram25 commented on #898
So, I guess that pre-release, we should go toward fixing the logic to use a logical AND, and see whether this could achieve the same effect. IMHO, it is fine if we make every researches of a same level in the same skill area needed before being able to move on to the next level of the given skill area, I mean even in the long term.

Eh eh. This should definitely become an official figure of speech

[2015-07-30 12:38] akien-mga commented on #898
I agree. There are basically two approaches in a skill tree:
- Linear skill tree, where you need Skill A1 from Tier 1 to be able to unlock Skill A2 from Tier 2. If you research B1 instead, then you can't research A2, but you can research B2.
- Tier-based tree, where you need to research several or all researches or Tier 1 to unlock Tier 2, and then research any of the Tier 2 skills.

Some games, l

[2015-07-30 13:54] hwoarangmy commented on #898
There have already been some discussion on the forum. For the record:
http://forum.freegamedev.net/viewtopic.php?f=37&t=6079

I had something like that in mind:

![skill](https://cloud.githubusercontent.com/assets/7493706/8984599/d693f596-36d2-11e5-8509-3c839bc07365.jpeg)

But with more links (possibility to have a research that depends on more than 1 research). We could also divide the screen in

[2015-07-30 20:05] akien-mga opened #900 "Separate SFX and music volume configuration"
Currently there is only one global volume slider for both the music and the sound effects. Separating the volume for the two types of sound events would help us and the players find a good balance between the music and the SFX (once we have found a good balance, we can make it the default, so that everything sounds good at the reference levels for the music and SFX volume sliders).

[2015-07-30 20:53] Bertram25 opened #901 "New sound events to add"
Partly from #897 :

Sounds have to be found and events added for:
_Rooms:_
- When a room is destroyed.

_Traps:_
- When a creature places a trap.
- When the spike trap is triggered.
- A sound looped while the boulder rolls

_Spells:_
- Explosion trigger on each tiles where it is triggered.
- Haste trigger on a creature.

_Creatures:_
- Add claws attack sounds
- Add punch attack sounds.
- Link thos

[2015-07-30 20:53] #897 closed, assigned to hwoarangmy

[2015-07-30 22:31] #898 closed, assigned to Bertram25

[2015-07-30 22:44] Bertram25 commented on #846
First draft!! http://forum.freegamedev.net/viewtopic.php?f=35&t=6454

[2015-07-30 22:48] Bertram25 commented on #540
Sound and balancing tweaks in. Announcement draft done!

[2015-07-31 02:56] akien-mga commented on #540
Nice! I think it's time to branch development into a new 0.6 branch, and that we create the RC1 binaries for wider testing. I'll do the Linux binaries in the evening or tomorrow.

[2015-07-31 07:52] hwoarangmy opened #903 "Heal spell can be cast on full health creatures"
I've tested the heal spell and seen it can be cast on full health creatures. At is a regression (maybe from the SpellManager). Since during battle, creatures tend to be all on the same tiles, it will be pretty hard (and costly) to cast heal spell if it targets every creature including healthy ones...

If everybody agrees, I will make a patch tonight

[2015-07-31 08:46] Bertram25 commented on #540
Ok, will do asap. Note that you guys have the access level to do it, in case you're tempted.

[2015-07-31 08:47] Bertram25 commented on #903
I fully agree.

[2015-07-31 08:49] Bertram25 commented on #846
I'll make a PR for the website part when you think the announcement is ready. I guess we'll need a few more pictures...

[2015-07-31 11:58] Danimal696 commented on #901
i did this repository awhile ago:
http://forum.freegamedev.net/viewtopic.php?f=39&t=5695
but:

spells:
http://opengameart.org/content/spell-4-fire
http://opengameart.org/content/3-heal-spells
http://opengameart.org/content/freeze-spell-0

Atacks:
http://opengameart.org/content/3-melee-sounds       weapons/claws
http://opengameart.org/content/37-hitspunches        punches

[2015-07-31 11:59] Danimal696 commented on #901
i want to get my hands on the new build sounds and start filling it :D

[2015-07-31 12:52] hwoarangmy commented on #901
I will try to make a last PR about the heal spell when I get at home and build the RC1 so you can play with sounds. Note that if you want to add sounds for not already available events, just tell it and we can add the corresponding functions.

[2015-07-31 16:49] Danimal696 commented on #901
for water tiles (just one, unrelated to how many water tiles are present)
for dungeon hearth (looped heartbeat)

[2015-07-31 19:00] hwoarangmy opened #905 "Bugs seen on 0.6.0 RC1"
For the record, we can gather here the bugs we see in the 0.6.0 RC1 and decide if we fix them or not

[2015-07-31 19:01] hwoarangmy commented on #905
The video renderer cannot be changed. If you set it to D3D, the game will ask to restart and exit as expected. But when the game is launched again, OpenGL renderer is still selected
(_Edit:_ Fixed in hwo's local git)

[2015-07-31 19:02] hwoarangmy commented on #905
The settings window is too small. When D3D renderer is selected (I've fixed the video renderer that couldn't be saved), it seems there are more settings and they don't fit in the window

![settings](https://cloud.githubusercontent.com/assets/7493706/9015180/838f3b9e-37c7-11e5-8ef0-c9eb74da214b.png)

[2015-07-31 20:11] #903 closed, assigned to hwoarangmy

[2015-07-31 20:54] akien-mga commented on #540
@Bertram25 We're going to play test 0.6.0 RC1 with @hwoarangmy tonight, if you're around ;)

[2015-07-31 21:15] hwoarangmy commented on #905
ERROR: Assert failed file C:\devMSVS2013\od-gh-src\source\network\ODServer.cpp line 228
seems like we send chat messages to computer player

[2015-07-31 21:38] hwoarangmy commented on #905
AI should try to take hungry/tired creatures back to dungeon when it helps an allied player and there is no threat anymore (_Edit:_ Moved to #909)

[2015-07-31 21:47] akien-mga commented on #905
Default start view for seats != 1 is wrong in Ruins of the Confluent (_Edit:_ Fixed in #906)

[2015-07-31 21:48] akien-mga commented on #905
Ruins of the Confluent needs dirt bridges until we have support for actual bridges (_Edit:_ Fixed in #906)

[2015-07-31 21:52] hwoarangmy commented on #905
Crash in Ruins of the confluent due to PortalWave:
- L781 we fill a vector with central tiles of the dungeon temple assuming the dungeon is there
- L817 we use the tiles but if the room is not on the central tile, we use a nullptr tile and segfault

This won't be hard to fix ^^

[2015-07-31 22:56] Bertram25 commented on #905
@hwoarangmy As for parameters, I'll have a look at making the area scrollable.

[2015-07-31 22:57] hwoarangmy commented on #905
ok. In the mean time, I can make it bigger so the D3D menu fits

[2015-07-31 23:00] hwoarangmy opened #907 "Do not show mood of enemy creatures"
Actually, mood is displayed for every creature. It should be displayed for allied creatures only

[2015-07-31 23:02] Bertram25 commented on #905
Sure!

[2015-07-31 23:18] akien-mga commented on #907
The mood overlay should also be removed when picking up a creature. Currently it stays displayed on the screen where the creature was.

[2015-07-31 23:25] akien-mga commented on #905
Inactive doors are hard to notice IMO, they should be made more transparent. (_Edit:_ Fixed in #911)

[2015-07-31 23:47] Bertram25 opened #908 "Traps: It is not possible to place a trap where another one was previously located."
See while playing a lan. ;)

[2015-08-01 14:27] hwoarangmy opened #909 "AI should take hungry/tired creatures back to dungeon when they cannot reach their dungeon heart"
This happens pretty often especially when AI helps an ally. But after, creatures cannot get home and get angry/sleepy/hungry

[2015-08-02 09:46] akien-mga commented on #540
FYI, I've pushed the 0.6 branch which is currently in sync with the development one. So we can start merging 0.7 stuff in development if you want ;)

[2015-08-02 10:04] akien-mga opened #910 "Configurable input"
Title says it all :) Now that we have a great settings manager, it's time to let the user redefine the input keys (and I will finally be able to play with ZQSD instead of WASD ;)).

Nota: a nice-to-have feature when implementing this would be a function that returns the current key for a given action, so that we don't have e.g. to hardcode key names in the help window or a future tutorial.

[2015-08-02 10:49] akien-mga commented on #846
For the website, I was wondering if we should not do a "next" branch or something, and do this kind of PR in this new branch. This way we can merge the PR, and continue working on the new content, without pushing it live on the website.

Use case that I have in mind: merge your current announcement which is quite cool ASAP, and then let me make a second PR to adjust some formatting/punctuation for

[2015-08-02 11:14] akien-mga opened #912 "Ambient lighting configuration in the settings"
On my intel IGP the game is pretty dark, and at times I find it uncomfortable. _Edit:_ It's also dark with nvidia GPU btw, now the two drivers seem to give me a similar display, which is good.

It would be nice to have the possibility to configure the gamma correction (_Edit: ambiant lighting_), if OGRE allows such things. I see mentions of "hardware gamma" on the OGRE forum and in the source code

[2015-08-02 11:43] akien-mga commented on #846
As for the screenshots, I'll have a look. I guess we can put a couple screenshots from far away to show a neat dungeon, and then close ups on new features: one or two spells, doors, tileset, etc.

[2015-08-02 20:43] hwoarangmy commented on #700
For the record, for some unknown reason, I get what looks like a systematic crash when opening RuinsOfTheConfluent level in the editor and exiting with the camera looking at the player 1 dungeon temple with the troll on the top right of the screen.
I get no callstack so I'm not really sure if it is related to this bug but it might be. The good news is that I get the bug even in debug mode. By usin

[2015-08-03 07:42] hwoarangmy commented on #540
@Bertram25 @akien-mga Could one of you try to launch a game with valgrind to check if we have memory problems ? I don't have a Linux computer to try but I think it would be good.
The game will probably be (very) slow but if you could just open a level, let it play for some time and exit to check if everything goes well, it would be nice ^^

[2015-08-03 10:43] Danimal696 opened #914 "New rooms: Guard post and Bunker"
I have some concepts for these two; the basic of their workings is this:
Creatures that like guarding automatically goes there instead of idling; creatures asigned there by hand will return to it after resting/eating instead of idling, unless they go to do something they like. Each tile has space for one creature, it doesnt merge with adyacent Guard posts.

Guard post: just the guarding function,

[2015-08-03 15:30] hwoarangmy commented on #700
I could find a pretty (nasty) workaround to avoid the crash. With it, I couldn't reproduce the crash (that was almost systematic). I will try to update my PR ASAP.
Note that I could reproduce the crash by slapping a creature so it seems to confirm that it is the same bug

[2015-08-03 18:31] hwoarangmy commented on #907
Fixed in #913

[2015-08-03 18:33] hwoarangmy commented on #907
Note that I've had a look at this issue but fixing it requires a change in the architecture. It will have to wait for the 0.7.0 ^^

[2015-08-03 21:09] Bertram25 commented on #907
Np at all. :)

[2015-08-03 21:38] Bertram25 commented on #540
Sure. I'm trying to sort a few things out first, but I'll do it tomorrow evening at most. :)

[2015-08-03 21:43] #845 closed, assigned to akien-mga

[2015-08-03 21:43] #890 closed, assigned to akien-mga

[2015-08-03 22:00] hwoarangmy commented on #540
Well, there is no rush. IMHO, it is better to wait the final release candidate

[2015-08-03 22:04] Bertram25 opened #915 "Make each settings tabs potentially scrollable."
Maybe using a scrollablePane?
http://static.cegui.org.uk/docs/0.8/classCEGUI_1_1ScrollablePane.html

[2015-08-03 22:06] Bertram25 commented on #540
My thought as well. It seems there are still a few vital bits waiting. Thanks for the branch, though. :)

[2015-08-03 22:08] Bertram25 commented on #910
Good idea. :) And since we're using CEGUI, we can even return image of special keys and use them inline.

[2015-08-03 22:09] Bertram25 commented on #912
Gamma or simply make the ambient lighting modifiable?

[2015-08-03 22:11] Bertram25 commented on #846
Yeah, good idea. :)

Yep. Sounds good to me.

[2015-08-04 06:11] eugeneloza opened #916 "Creature is misplaced when sleeping"
Creatures are not sleeping in their beds (sometimes looks very funny :D) 0.6.0 RC1 Win7 64
![odscreenshot_2015-08-04_072510_0](https://cloud.githubusercontent.com/assets/10726162/9054328/9a7d9986-3a88-11e5-83db-4079cfb2f85d.png)
![odscreenshot_2015-08-04_072703_1](https://cloud.githubusercontent.com/assets/10726162/9054330/9aa2dd04-3a88-11e5-94d4-1a9e4a52a521.png)
Maybe the cause is in 'displaceme

[2015-08-04 06:17] eugeneloza commented on #905
Creature misplaced when sleeping: https://github.com/OpenDungeons/OpenDungeons/issues/916
Minimap lag: https://github.com/OpenDungeons/OpenDungeons/issues/917
Grabbed object blink: https://github.com/OpenDungeons/OpenDungeons/issues/918

[2015-08-04 06:20] eugeneloza commented on #901
Today played 'Failing keeper' and heard some strange crumbling noise around Dungeon Heart / Portal. I've thought it's lava (might be interpreted this way), but eventually, this sound is near the Dungeon Heart, not near lava array which is silent.

[2015-08-04 06:21] eugeneloza commented on #907
Maybe, also relative: Do not show enemy 'call to war' spell cast on player's Dungeon Heart.

[2015-08-04 06:22] eugeneloza opened #917 "Minimap lags at movement"
Minimap lags a little after rotating/moving around the map. Not too important but disorients and distracts a little (a movement finished, but something's blinking).

[2015-08-04 06:24] eugeneloza opened #918 "Grabbed object blink"
Had a few graphical bugs after grabbing objects. For a moment a huge copy of the object blinks almost full screen. Noted at grabbing gold (at least once), creature (I don't remember the creature blinking, but the mood icon blinked fullscreen at least once)

[2015-08-04 06:28] eugeneloza commented on #905
Actually 0.6.0 RC1 is really fantastic. The progress is outstanding!

[2015-08-04 09:37] hwoarangmy commented on #917
The minimap is refreshed every 0.5 seconds. That creates a lag but refreshing more often will be CPU consuming. We have to find the good frequency.

[2015-08-04 09:38] hwoarangmy commented on #907
This one is displayed to enemy players on purpose. However, if most people here want to not show it, we can open an issue.

@OpenDungeons/developers WDYT ?

[2015-08-04 09:40] hwoarangmy commented on #901
We have added sound events recently but they are about creatures. When you slap for example, or when they dig, die, fight. Also when dirt tile is dug. That's probably one of those you heard. However, there is no sound yet on lava/water tiles (but that may change)

[2015-08-04 09:44] hwoarangmy commented on #916
The problem is that we play the sleep animation (or die if a creature do not have sleep) when they reach their bed. To make it better, we should define the tile of the bed where they should sleep as well as the direction they should face.

[2015-08-04 09:45] hwoarangmy commented on #905
RC2 will come soon as we have fixed the bugs we have seen in RC1 ^^

[2015-08-04 10:57] akien-mga commented on #912
Ambient lighting might be enough, I'm not sure how this stuff is handled or named actually :P

[2015-08-04 10:59] akien-mga commented on #918
The blinking is a known issue (#868), but you refer to a copy of the object taking up the full screen, and that I haven't experienced yet. Would you be able to take a screenshot or make a screencast?

[2015-08-04 11:08] eugeneloza commented on #918
I'll try screencast, but I'm not sure I'll have time to this week. And not sure it'll works, as printscreen doesn't (maybe I'll try windowed mode).

[2015-08-04 11:21] Danimal696 commented on #907
Show it, let them feel the fear

[2015-08-04 11:26] Danimal696 commented on #916
having proper sleep animations will also help, but those will come with the new characters

[2015-08-04 12:27] akien-mga commented on #540
FYI: I moved to Germany yesterday and started a new job, and I don't have flatrate Internet at home yet, so I might be less active than I used to in the coming weeks. I can still reroute my phone's data to the laptop, so I won't be totally off ;-)

[2015-08-04 22:51] #700 closed, assigned to hwoarangmy

[2015-08-04 22:51] #908 closed, assigned to nobody

[2015-08-05 07:14] eugeneloza commented on #918
Couldn't reproduce the bug today. Maybe it was something wrong with my videocard (it's very hot now and it overheats frequently and starts glitching around). However, it usually glitches a few 3d mesh points, never before scale.
I'll test it better as soon as I have time (no earlier than August 11th).

[2015-08-05 20:25] hwoarangmy commented on #905
We have fixed or opened a dedicated issue for everything here. I close this one and we will see if we need another one for RC2 ^^

[2015-08-05 20:25] #905 closed, assigned to nobody

[2015-08-06 12:50] Bertram25 commented on #918
I think I have a way to reproduce this. Try grabbing a worker with gold on its head.

[2015-08-06 12:51] Bertram25 commented on #917
linked to #868 This is an area where we should definitely ask to people at ease with Ogre.

[2015-08-06 12:54] Bertram25 commented on #912
I must say I'm saying this because changing the ambient lighting is usually better looking than gamma correction which can lead to weird colors or artefacts in the worst cases for the same desired result. Plus, AFAIK, it's really easy to set.
WDYT?

[2015-08-06 12:55] Bertram25 commented on #907
No strong opinion. Just that I think it's giving information to enemy players.

[2015-08-06 12:56] akien-mga commented on #912
I trust you on that one, IIUC ambient lighting would be plenty enough for what I described above,

[2015-08-06 12:58] Bertram25 commented on #914
I like the concept. I think it should be the same room with a skill improving the Guard port into the Bunker.
More detailed mechanisms about how the Guard post can become the bunker should be discussed, if everyone thinks the room is a good addition.

[2015-08-06 13:55] hwoarangmy commented on #907
That's my line ^^

[2015-08-07 07:54] akien-mga commented on #540
@Bertram25 I built RC2 binaries locally, but I don't have flatrate Internet at home and don't want to kill my work phone data quota by uploading a 100 MB tarball ;-)
If you want to have a look at making Linux binaries yourself, feel free to do it. Another simpler alternative would be that I send you only the binary + bundled libraries (8 MB compressed), and you could generate the tarball with data

[2015-08-07 07:55] akien-mga commented on #540
BTW I think I need to update the linux build scripts in the repo, I've reworked them a bit IIRC.

[2015-08-10 07:37] #907 closed, assigned to hwoarangmy

[2015-08-10 07:49] akien-mga commented on #907
Wow, what is the chance to have a commit hash starting with 1111111? You should start playing lotto @hwoarangmy :-D

[2015-08-14 05:46] akien-mga commented on #918
Confirmed, I tried grabbing a worker with a gold stack on its head, and I saw a huge gold sack for a second or so. I'm leaving it assigned to 0.6, but as a non-critical issue; if the release is ready and we haven't found the bug, we can release.

[2015-08-14 05:47] akien-mga commented on #846
I'll try to get started with the website part based on the content @Bertram25 wrote.

[2015-08-16 11:16] akien-mga commented on #846
Done, the initial version by @Bertram25 + some adjustments is ready for merge into the news-0.6.0 branch: https://github.com/OpenDungeons/opendungeons.github.io/pull/14

I'll get to work and try to get some screenshots to illustrate the announcement.

[2015-08-16 11:20] akien-mga opened #921 "Split the "downloads" and "about" into their own subpages"
We currently have all release announcements + downloads section, contact links and project description in the same index.html. With 3 release announcements, it's starting to get a big crowded, and the download links are kind of hard to find.

I think we should split the "downloads" section in its own page. Same thing for the "about" section (which corresponds to the "The Project" menu entry), and

[2015-08-16 20:39] Bertram25 commented on #921
Completely agree. :) It wasn't done before out of pure (own) laziness and lack of time AFAIK. ;)

[2015-08-16 23:11] Bertram25 opened #922 "Linking failure when using gcc 5"
I'm opening this issue to start the investigation:

ld linking using c++ version 5.2.1-15 is failing because of OIS:

[code]

`libois-dev` is installed, along with `libois` and this was working when using gcc 4.9. When checking the linking command, `-lOIS` is there. Note that ld doesn't complain about the `destroy*` corresponding functions, which are also used in the `InputManager`

[2015-08-16 23:13] Bertram25 commented on #915
Since I cannot compile the beast for now, this will have to wait for 0.7.0 of #922 to be fixed.

[2015-08-18 08:49] akien-mga commented on #922
Were libOIS and OGRE compiled against gcc 5.2.1 too?

[2015-08-18 09:36] Bertram25 commented on #922
Indeed. That's what I'll check next. (Whenever I get some time to).
Note that I'm just speaking about a debian-specific problem here for self-memory purpose. :)
I should have assigned this issue to me, btw.

[2015-08-18 09:39] akien-mga commented on #922
Well we don't know yet if it's Debian-specific or if it would affect any system with gcc 5.2.1.
I'm still using 4.9.2 here, so I haven't tested 5.x yet.

[2015-08-18 09:59] Bertram25 commented on #922
IMHO, it is, because Debian is currently in a half-baked state between 4.9 and 5.2. But of course, it can be about any project in such a state.
And you're right. It seems libois is still depending on gcc >=4.7. I'll use gcc 4.9 and close this issue. It is too early to try and compile od with gcc 5.2 on Debian form what I can see.

[2015-08-18 09:59] #922 closed, assigned to Bertram25

[2015-08-18 12:13] akien-mga commented on #412
Note that the "autorotate" part of this issue has been implementend in #892. The changes regarding the scrolling have been reverted for now in this same PR.

For clarity, I'll propose to close this issue as fixed once #892 is merged, and open a new issue to discuss the scrolling behaviour that we would want to see implemented.

[2015-08-18 12:23] akien-mga commented on #813
Actually superseded by #828.

[2015-08-18 12:23] #813 closed, assigned to nobody

[2015-08-18 12:24] akien-mga commented on #828
I guess we'll have to dig into the OGRE documentation :)

[2015-08-18 12:27] akien-mga commented on #839
Note that even without reimplenting the old minimap, we could already add a button that toggles the minimap (and later that would switch between the different types or none if/when we implement other minimap types).

[2015-08-18 12:31] akien-mga commented on #917
If there are performance concerns on low-end hardware, #839 might provide a first workaround by making it possible to hide the minimap.

[2015-08-18 12:33] akien-mga commented on #540
I just went through the open issues, we do a pretty good bug triage work IMO, everything is well categorised. I'm eager to get started with 0.7.0, let's get this 0.6.0 out soon :-D

[2015-08-18 20:15] tomluchowski opened #924 "Do we want custom culling ?"
As in question , I implemented a version of custom made culling and the framerate significantly rised .
There were two mechanism involved  sometimes causing crashes. The issue is whether is worth for me to reimplement them ; would they be merged into final code if I somehow achieve the non-crashing status for my code ?

[2015-08-20 15:26] IBPX opened #925 "Internationalization support"
OpenDungeons should have internationalization support, so it could be translated.

I think the best/easiest way to go about doing this would be using `gettext`, and [Transifex](https://www.transifex.com/) for translating.
Transifex offers free unlimited translations for open source projects.

Alternatively, you can host your own service with something like [Weblate](https://weblate.org/), although

[2015-08-20 15:51] akien-mga commented on #925
Thanks for this report. We have some devs with internationalization experience in the team, so the support shouldn't be too difficult to add. We haven't focused on it yet though as the game is still far from complete, and there isn't much to translate yet.

When we start introducing campaigns, internationalization will become a higher priority.

[2015-08-20 19:01] Bertram25 commented on #925
@akien-mga said it all :)

[2015-08-22 08:35] akien-mga commented on #922
Just FYI, we've just pushed gcc 5.2.1 in Mageia Cauldron (future Mageia 6), and I have the same kind of issues to rebuild OD there :) I'm now fighting my way through the OGRE dependencies to get them all rebuilt with C++11 which is the new default implementation.

[2015-08-22 10:46] akien-mga commented on #922
After rebuilding OGRE, CEGUI, OIS, SFML and most of their dependencies against gcc 5.2.1, OD 0.5.0 rebuilt just fine: http://pkgsubmit.mageia.org/uploads/done/cauldron/core/release/20150822103922.akien.valstar.11279/opendungeons-0.5.0-3.mga6/build.0.20150822104005.log

There are some new warnings in there that might be relevant for us, but I shall try to compile 0.6.0 RC2 with gcc 5.2.1 first befo

[2015-08-22 11:48] akien-mga commented on #921
@Wout-van-Dongen Want to have a go at this before the release goes live? :D

[2015-08-22 11:51] akien-mga commented on #915
So, #922 was fixed. _hums innocently_

[2015-08-22 11:57] akien-mga commented on #846
Based on the current release announcement, I'd say I need to show at least:
- Particle effects (maybe one spell + a wizard firing)
- New research UI
- Doors
- Brick walls
- Creature mood icons
- Ruins of the Confluent "presqu'île" in no FOW mode

[2015-08-22 13:58] akien-mga commented on #846
I added some screenshots here: https://github.com/OpenDungeons/opendungeons.github.io/pull/15

[2015-08-22 23:39] Bertram25 commented on #922
Yep :) Nice things to have you as a maintainer of mageia. :D
Btw, for the record, the command used to build od using a specific compiler:
`CC=gcc-4.9 CXX=g++-4.9 cmake .`
(But on my side, it failed at link time because of the use of gcc 5 in certain debian packages.)

Btw, I confirm I can see the same deprecated warnings from Ogre source when using gcc-5.2. IMHO, this is Ogre fault and may need fi

[2015-08-22 23:40] Bertram25 commented on #915
Eh eh. Not on Debian unfortunately. ;) But I'm on it.

[2015-08-23 00:53] Bertram25 commented on #915
I finally made od compilation feasible again (and on gcc-5!). I'll be on this one. :)

[2015-08-23 07:50] akien-mga commented on #922
Note that from my experience, you might also have to rebuild OGRE, CEGUI and SFML and their dependencies if the Debian maintainers haven't done it yet. Else you will also get linking issues related to whatever changed in C++11 for basic stuff, e.g.: std::__cxx11::basic_string

[2015-08-23 09:29] Bertram25 commented on #922
Yep, but fortunately, only libois was left out the gcc 5 transition. Plus, I already built cegui myself.
Btw, I reported a bug for the exact same reason you on the debian bts, yesterday.

[2015-08-23 11:58] Bertram25 commented on #915
@akien-mga @hwoarangmy It should be much nicer to use now. :) See PR.

[2015-08-23 13:21] #915 closed, assigned to Bertram25

[2015-08-23 15:06] Bertram25 commented on #915
@akien-mga To test it, you can for instance reduce the area property of a scrollable pane in the settings windows, or reduce the window size. :)

[2015-08-23 19:23] Bertram25 commented on #924
Good question, actually. Getting better FPS is always tempting, for sure.
That said, we remove the custom culling because it has several flaws, and IIRC more than two crashes root causes. Weren't there also tiles culled while they shouldn't be?

Another thing is I'm pretty sure Ogre already does culling on unviewable tiles (otherwise FPS would be very low whatever the viewpoint), so is it worth it

[2015-08-24 19:09] hwoarangmy commented on #918
I confirm the issue. It also happens if you grab a creature affected by a spell

[2015-08-24 19:19] hwoarangmy commented on #924
As you say, better FPS is always welcome. However, since it is a pretty technical feature, could you please explain how you want to do it ?
Note that if you go for it, since it is technical, it will require to be pretty well documented (by comments in the code) so that we can all review and fix/improve what needs to be.
Moreover, since Ogre 2 is supposed to have a good culling algorithm (according

[2015-08-28 08:22] hwoarangmy commented on #909
@akien-mga I don't think we should add this to 0.6.0. IMHO, we should only add bug fixes, no new functionality (even if in this case, we could consider the behaviour is buggy)

[2015-08-28 08:24] akien-mga commented on #909
Fine by me; better release 0.6.0 asap than adding further behavioural changes that might come with their own bugs.

[2015-08-28 10:18] Wout-van-Dongen commented on #921
Depends, I'm going to be a few days without internet (except for at work).
When will the release go live?

[2015-08-28 10:32] hwoarangmy commented on #909
That's my line ;-)

[2015-08-28 11:19] tomluchowski opened #928 "Publishing code with lots of LogManager debug calls"
As in title , suppose I have a code decorated with various calls to LogManager::logMessage() .
What should be done with it when publishing on remote server : Should it be either commented out for future use or removed so the code looks nicer ?

[2015-08-28 12:18] hwoarangmy commented on #928
There are 2 cases:
- If the log is really specific for your setup (for example for finding some magic number), you can remove it
- If the log may be interesting for debug reasons, you can let it in the code with OD_LOG_DBG. This way, the log will not be printed unless you explicitly turn it on. Note that it may be tempting to let all your logs but please keep in mind that too many logs make the lo

[2015-08-28 15:42] akien-mga commented on #921
@Wout-van-Dongen No fixed date for the release, but I'd say ASAP :) But if the split is not done when we want to push 0.6.0, it's not a big deal IMO, we're not really expecting tens of thousands of new visitors after the release announcement ;)

[2015-08-28 16:14] akien-mga opened #929 "Rework Stonekeep Siege once bridges are implemented"
The north dungeon (I guess the "Stonekeep") in Stonekeep Siege is a pre-built based for seat 4 (light blue), but all the claimed tiles and traps seem to belong to seat 0. So the traps actually attack the creatures of seat 4 :)

The rooms seem to belong to seat 4 though.

[2015-08-28 16:17] akien-mga commented on #929
Maybe it's not a bug and it was intended to be so though? IIRC the map was designed by @Danimal696.

[2015-08-28 16:21] akien-mga opened #930 "Tilting the camera does not work when facing certain directions"
Note that this comes from tests of the main development branch, i.e. @tomluchowski's changes to the camera management were not merged yet.

After rotating the camera a bit with Q and E, and sometimes find that I can't tilt the camera up with PageUp. It looks like the tilting is limited at some angles.

[2015-08-28 17:45] hwoarangmy commented on #930
That will probably change when @tomluchowski PR is merged. Wait and see ^^

[2015-08-28 18:18] akien-mga commented on #930
I'm not sure, but I'll check.

[2015-08-28 19:47] tomluchowski commented on #928
Real Example :

[code]

Should the lines starting with ss<< be left, commented out or removed ?

[2015-08-28 20:31] hwoarangmy commented on #928
Well, it was already there and it may be usefull for debugging. I would say to let it commented. However, please comment all the block (like it was) instead of line per line (it is not as easy to remove).
But we should avoit this kind of thing as much as possible. Camera is always a bit hard to understand when it starts getting crazy. So, in this particular case, it might be useful.

[2015-08-28 21:02] akien-mga commented on #415
Just had a user on IRC with issues with the same keyboard grabbing issue, using XFCE on Ubuntu 15.04. I guess XFCE does something weird with OIS. The user reported that keyboard would work at first, and then stop working, whether it's in fullscreen or windowed mode.

I think it would be really nice if we could add the possibility to toggle keyboard and mouse grabbing in the settings for 0.6.0. @Be

[2015-08-28 22:04] akien-mga commented on #415
@Bertram25 @hwoarangmy I've had a go at implementing this feature myself: https://github.com/akien-mga/OpenDungeons/commit/89fff26b2f9b00d13c14e9ec7c96e8d357fc33cb
It's still incomplete as described in the log, but I'd like to have your comments regarding both the questions in the logs and the changes I made.

[2015-08-29 12:40] akien-mga commented on #415
Just for the reference, there now seems to be an official GitHub repo for OIS, though not really maintained judging by the unmerged and uncommented pull requests: https://github.com/wgois/Object-oriented-Input-System--OIS-

There are also some forks with potentially interesting fixes:
https://github.com/Alexpux/Object-oriented-Input-System--OIS-/tree/devel
https://github.com/sajty/ois

[2015-08-29 12:53] akien-mga commented on #415
After a quick look at the OIS API, it looks like it's not possible to change the ParamList of the InputManager once it's created, so to take into account changes to the mouse/keyboard grab, we should probably reinitialise the InputManager when applying the settings, I suppose?

[2015-08-29 18:41] akien-mga commented on #846
I guess this is now fixed.

[2015-08-29 18:41] #846 closed, assigned to akien-mga

[2015-08-29 18:44] akien-mga commented on #540
@OpenDungeons/developers He's everywhere!
![imag0049](https://cloud.githubusercontent.com/assets/4701338/9563752/cc6adc32-4e8e-11e5-86f3-8213dae56cac.jpg)

[2015-08-29 20:15] Bertram25 commented on #540
:D Thanks for the pic!

[2015-08-29 20:51] Bertram25 commented on #415
I don't know if using a custom forked OIS is the way to go I must say, even if I agree it's unfortunate no fork is recognized as a valid replacer.

And in any case, yes, destroying the input manager and restarting it after applying new grabbing parameters is the way to go. :)
Good luck on this. Feel free to ask if anything.

[2015-08-29 20:54] akien-mga commented on #415
Yeah those were just links for myself to check if some fork has some useful bugfixes. Then we could do some lobbying upstream to get those merged in the main repo :)
If there was a fork that really improves the situation, we could also use it for our own binaries, advise PlayDeb to use it too, etc., but make sure to stay compatible with OIS 1.3.

But indeed, for the time being it's better to live

[2015-08-29 20:59] Bertram25 commented on #415
I agree, while it's a somewhat spurious thing to do, IMHO, since if you understand enough of the overal code and changes done in the fork to know the fork is actually better and not breaking any ABI, you've invested already enough time for that, and that means maintaining your own fork is just the next step.
It's a choice to make but I'd avoid maintaining or following OIS status if we're not serio

[2015-08-29 23:57] akien-mga commented on #415
@Bertram25 I've made the changes to ModeManager that we discussed about, and it compiles fine: https://github.com/akien-mga/OpenDungeons/commit/0efa28f904735139881c0371f6c508d3b3625e5d
But... it segfaults on startup :) After some quick checks it looks like the ModeManager creation works fine, but there is an issue afterwards when accessing the InputManager:

[code]

AbstractApplicationMode::giveFo

[2015-08-30 05:49] eugeneloza opened #932 "Settings should be made easier to find in the main menu"
I've been looking for some time for a way to make the game windowed... Until I've figured out that I have to start the game to do so. I think it's good to have settings menu in main screen, just after the game has started.

[2015-08-30 05:59] eugeneloza opened #933 "Settings for AI"
I've thought it'd be a good idea to have difficulty settings for enemy AIs. Not very needed for single maps, but that'd be good for campaign. I.e. of course the maps difficulty might be set by enemy lack of dungeon heart or portal, or access to gold, but the player should gain (a learning) experience of defeating a full-scale enemy base, however, this should still be easy to do so.

[2015-08-30 09:31] Bertram25 commented on #932
Hi @eugeneloza :) I hope you're doing fine.
Actually, you should find a cog button top right of the main title screen doing exactly what you need to, in the 0.6 or HEAD version.

[2015-08-30 09:38] Bertram25 commented on #933
@eugeneloza This will be true once we start with the campaign. :)
As a general note:
@akien-mga @hwoarangmy Seems some of us want a campaign ;)

[2015-08-30 09:59] akien-mga commented on #932
Reopening and renaming the issue, as IMO the real problem is that settings are not easy to find. On a screen with hi dpi the cogs icon is quite small, and it's somewhat puzzling not to find the settings among the other menu buttons I think.

I'd suggest to either:
- Add a "Settings" button in the main menu (while still leaving the cog icon, it would be a duplicate but it doesn't hurt)
- and/or mak

[2015-08-30 12:15] akien-mga commented on #415
Maybe it's a bit late now to mess with the ModeManager for 0.6. Unless you see an obvious mistake that I did and would be easy to fix, the alternative could be to revert my last commit and keep the new settings feature as a "please restart the game to take into account". Still better than nothing, and relatively harmful.

[2015-08-30 20:20] hwoarangmy commented on #932
IMO, a new button in game option is the best. That's also what the games I used to play do

[2015-08-30 20:22] hwoarangmy commented on #933
@eugeneloza AI is designed to be able to have different difficulty levels. However, we need to decide the levels we want and the differences between each.

[2015-08-30 22:53] Bertram25 commented on #932
Oops, sorry for looking abrupt in my answer. I thought it was a more simple thing.
I can easily add a Settings word next to the Cog icon. This way, users will link the two at first glance, and make the button a bit bigger.

WDYT all?

[2015-08-31 06:31] hwoarangmy commented on #932
seems good to me

[2015-08-31 08:05] Bertram25 commented on #932
k, then I'll do it this evening. :)
Ok for your @akien-mga @eugeneloza ?

[2015-08-31 21:15] Danimal696 commented on #929
That level is in need of heavy reworking, once we have things like bridges i want to fix it. Meanwhile, by pure chance the traps act as a limiter to the blue seat having too much power from start.

[2015-08-31 21:18] akien-mga commented on #929
Hehe okay, let's move this to 0.7.0 then as a general "Stonekeep Siege" needs love.

[2015-08-31 21:19] Danimal696 commented on #933
I agree, things like:
Digging and room construction speed
Attack intensity and frequency
Creature retrieval speed (or lack of retrieval)

Name more yourself...

[2015-08-31 21:25] Danimal696 commented on #540
My god, a street named after him! He´s hiding something from us all!

By the way, what is stoping the 0.6.0 release?

[2015-09-01 08:15] hwoarangmy commented on #929
ATM, OD games are pretty slow. I guess the lack of bridges is one of the main reasons. If nobody else does it before, I might have a go soon.

[2015-09-01 08:33] akien-mga commented on #929
I agree that games are pretty slow currently, that was especially clear when we last played with only the two of us on Greed or Might, since the map is quite big for two. (though arguably, you were doing the dishes and I was coding some stuff while playing :P)
For 0.7 we need to find how to make the game a bit faster IMO, first with bridges, and then maybe by doing some balancing or improving defa

[2015-09-01 08:36] akien-mga commented on #415
I'll do this tonight and make a pull request. We can always improving it further for 0.7, but have the possibility to configure the input grabbing will really be a life saver for some desktop environments it seems.

[2015-09-01 10:40] hwoarangmy commented on #929
No excuse !!! You lost and that's all the world needs to know ^^

The problem is that such games will not allow to make researches and will not allow to have a little bit advanced buildings. Note that I also don't have any solution, yet.

[2015-09-01 12:07] Danimal696 commented on #929
Implementing the gem tile would be a pretty good addition as well besides bridges, and i suspect its even easier

[2015-09-01 12:15] akien-mga commented on #929
IMO to make the game funnier, we need incentives to get early encounters between players while they are still building up their base. We currently have rogue portals and huge gold reserves as incentives, and we could probably use those more when creating maps. Then we'll add the gem tile to those.

There should still be more things IMO; the aim would be that after 8-10 min. player would already be

[2015-09-01 12:16] akien-mga commented on #929
Basically, we need to encourage players to explore the map and have early fights instead of simply securing gold and turtling until their creatures are from high tiers and high levels :)

[2015-09-01 12:18] akien-mga commented on #929
Note to self: I still need to play DK more to have a better understanding of what its gameplay entails, I guess the suggestions I'm making right now sound more Wacraft-ish ;)

[2015-09-01 15:30] Danimal696 commented on #929
no, they are pretty fine. A new creature for cript and the prison and torture room are very needed to use the rogues as resources. We will get there on time

[2015-09-01 16:01] hwoarangmy commented on #929
Note that prison will come soon (when my current PR is in ;) )

[2015-09-01 16:50] Danimal696 commented on #929
nice, ill have to ready a few iron bars and nasty rats

[2015-09-01 19:05] hwoarangmy commented on #754
I'm more or less done with the prison. ATM, enemy KO creatures are brought to prison and cannot leave it (as expected). But what about owned creatures ? Can they go through the prison ? If they cannot, that means the prison could be used like a wall. Moreover, what happens if the prison is attacked and your creatures are on the other side of the prison ?

IMHO, the most simple is to let the defaul

[2015-09-01 20:35] tomluchowski commented on #924
For large maps ( 400x400 ) I get speedup from 30fps to 44fps . By using the tile culling .
Do you think it is worth programming time ?

[2015-09-02 11:33] Danimal696 commented on #754
Default behaviour +1; lets not complicate ourselves too much with something so trivial

Questions: how much HP is given to captured and jailed creatures? can we jail our creatures as well? what about jailing capacity? HP drop per time? Mood drooping of creatures?

[2015-09-02 12:08] akien-mga commented on #754
Default behaviour sounds fine for a first implementation. If we want to refine creature movements, we should probably do it all at once for all kind of environments and rooms that creatures could go through (so that creatures don't walk _inside_ the dungeon heart for example :))

[2015-09-02 13:29] eugeneloza commented on #754
Or, the prison might be freely passable by free creatures with imprisoned creatures chained/caged (i.e. to active spots).

[2015-09-02 15:38] hwoarangmy commented on #754
Note that I've implemented 2 kind of KO:
- "KO to death" => The creature will die after some time if not brought by a kobold to bed (if same seat) / jail (if enemy). That happens during a fight. The KO creature plays the die animation and stays on the ground (it cannot be attacked) with 1 HP
- "Temporary KO" => The creature stays stuned and cannot move/be picked up. After few time, it will wake up

[2015-09-02 15:57] Danimal696 commented on #754
very well thougth, nice work, and a chance to put the "sad" animation to work

[2015-09-02 21:48] Bertram25 commented on #415
Thanks for finding a nice compromise on this. I'll definitely help with restarting the input manager in 0.7.

[2015-09-03 05:24] #909 closed, assigned to hwoarangmy

[2015-09-03 06:22] akien-mga commented on #415
I could workaround this by passing a pointer to the ModeManager in the initialiser of SettingsWindow, but I'm pretty sure there's a better way to achieve that.

It compiles and runs fine, but the game segfaults when actually trying to change input grabbing and restarting the InputManager. It sounds like the game doesn't like the InputManager to disappear while it's polling for mouse position or so

[2015-09-03 07:32] hwoarangmy commented on #415
If you look your backtrace, you see that there is "OIS::LinuxMouse::_processXEvents". The segfault seems to happen while processing events. The reason is probably that the input manager is added to listen to something and you delete it without removing it from the listener queue.

[2015-09-03 07:34] akien-mga commented on #415
Yes I supposed something like that but did not have the time to investigate further. I'll see how to handle the listener queue.

[2015-09-03 19:53] akien-mga commented on #415
Hm I've had a first look but couldn't see what I should do exactly to prevent the issue. I tried adding a return in ModeManager::update() if mInputManager happens to be a nullptr, but that did not do the trick.

I've uploaded my current code in my development branch: https://github.com/OpenDungeons/OpenDungeons/compare/development...akien-mga:development
(the input-grab branch used for my PR does

[2015-09-03 19:57] Danimal696 commented on #754
Im wondering, should i a make a wall of iron bars and one corner as the models? or would a totally different model be better?

[2015-09-03 20:14] hwoarangmy commented on #754
the easiest the better IMO.

[2015-09-04 12:29] hwoarangmy commented on #540
Note that we should add #935 to the 0.6.0 since we added scrollpanes in the settings menu.

[2015-09-07 10:24] hwoarangmy opened #937 "Prison room improvements"
see http://forum.freegamedev.net/viewtopic.php?f=45&t=4765&start=575#p65809
- Dropped creature needs an icon different to KO creatures
- Time to get up needs to be fine-tuned, the heavier and powerful the creature the longer, kobolds should only have 0.5 seconds or so time
- healing spell should work into imprisioned creatures
- we should be able to slap imprisioned creatures

[2015-09-07 21:54] hwoarangmy commented on #540
We have a game tonight with @akien-mga and infrared. We have seen small stuff but no release blocker. Seems like 0.6.0 RC3 is the official 0.6.0 release ^^

[2015-09-07 22:00] akien-mga opened #938 "Multiplayer saving improvements"
- [ ] Clients should get a message about not being allowed to save when pressing F5
- [ ] "Save game" button should be deactivated in the menu for the clients
- [ ] Clients should get a message when the server saves

[2015-09-07 22:04] akien-mga opened #939 "Scrolling on chatbox should not zoom, only scroll the text area"
Note that it is also true for the event window

[2015-09-07 22:05] akien-mga opened #940 "When loading a multiplayer save, server player is renamed "You""
So all players see the server player as "You" in the lobby and chatbox :)

[2015-09-07 22:11] akien-mga commented on #540
Here it is: https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.6.0

What's left is uploading the binaries and source tarball, as well as updating the website :)

[2015-09-07 22:15] alketii commented on #540
Congratulations.

[2015-09-08 04:18] eugeneloza commented on #540
Great!!!

[2015-09-08 06:38] akien-mga commented on #415
Somewhat fixed in #934. What would be left to do would be to make those settings apply without a need to restart OD (but just restart the InputManager).

[2015-09-08 06:38] #415 closed, assigned to akien-mga

[2015-09-08 06:38] akien-mga commented on #540
Win32 and Linux64 binaries + the source tarball are now on the FTP.

[2015-09-08 06:43] akien-mga commented on #540
The release announcement is posted on the website: http://opendungeons.github.io/

[2015-09-08 06:43] #540 closed, assigned to nobody

[2015-09-08 07:32] akien-mga commented on #540
And posted on the forum: http://forum.freegamedev.net/viewtopic.php?f=36&t=6540

[2015-09-08 09:16] akien-mga commented on #849
Time to discuss what we want for this milestone \o/

[2015-09-09 06:59] hwoarangmy commented on #849
We can already add the prison ^^

[2015-09-09 10:12] hwoarangmy opened #941 "Room/Trap names should use name given to the manager instead of the mesh name when building unique name"
That would allow to have empty mesh name for buildings that do not use ground mesh (like portals)

[2015-09-11 09:14] Bertram25 commented on #849
Yep, added. :)

[2015-09-11 09:16] Bertram25 opened #942 "Make Input grab settings apply without a need to restart OD (but just restart the InputManager)."
As told by @akien-mga in #415

[2015-09-11 09:32] Bertram25 commented on #928
This has been more or less fixed with: 65b90a162384e5592a0d2c4cf42f4cf9e16705f6

[2015-09-11 09:32] #928 closed, assigned to tomluchowski

[2015-09-11 15:58] Danimal696 commented on #937
Stunned by dropping creature icon
![stunned](https://cloud.githubusercontent.com/assets/8299756/9819496/a74923d0-58ae-11e5-9185-2b179b3bcc09.png)
![stunned2](https://cloud.githubusercontent.com/assets/8299756/9819498/a9341ef2-58ae-11e5-9a1c-7a4903876e81.png)

Which one do you like the most? none of them? any suggestion?

[2015-09-11 16:03] akien-mga commented on #937
I think the first one is quite good :)

[2015-09-12 22:07] #751 closed, assigned to hwoarangmy

[2015-09-12 22:07] #754 closed, assigned to hwoarangmy

[2015-09-12 22:07] #941 closed, assigned to hwoarangmy

[2015-09-14 06:00] #191 closed, assigned to hwoarangmy

[2015-09-14 06:01] akien-mga opened #944 "Wooden bridges are completely coloured and stone bridges have no colour"
As shown here:
![colour](https://cloud.githubusercontent.com/assets/4701338/9836209/f14ff4c8-5a10-11e5-961f-bd7dcb832f01.png)

Also, the stone bridge does not seem coloured, but I guess it's because there is no reference to its mask in the material definition. @Danimal696, could you have a look at it using the snapshot @hwoarangmy recently uploaded? I guess StoneBridge.material should be more simi

[2015-09-14 06:05] akien-mga opened #945 "Rooms UI panel is starting to feel crowded"
As shown in this picture:
![gui](https://cloud.githubusercontent.com/assets/4701338/9836193/6314871e-5a10-11e5-955b-25efb96d3ea3.png)

Or here in the editor:
![ui](https://cloud.githubusercontent.com/assets/4701338/9843076/1778b6ca-5ab7-11e5-8a44-ef490716c76f.jpg)

For me I think there is still enough space to put everything on one line, but it might not work so well at lower resolutions. Ideally

[2015-09-14 11:22] Danimal696 commented on #944
![bridges](https://cloud.githubusercontent.com/assets/8299756/9848664/7df92b1a-5ae3-11e5-9468-bd620743a6be.jpg)

[2015-09-14 11:26] Danimal696 opened #947 "Bridges cant be layed down in edit mode"
After selecting them, their name appears on cursor but they dont appear after clicking, neither on water/lava or ground

[2015-09-14 12:23] hwoarangmy commented on #947
FYI, it works but as in game mode, they have to be connected to a ground  claimed tile. I guess that in the editor, we shouldn't care for that.

[2015-09-14 17:28] akien-mga commented on #944
Fixed by efc2b01.

[2015-09-14 17:28] #944 closed, assigned to Danimal696

[2015-09-14 18:46] hwoarangmy commented on #937
I also like the first one. @Danimal696 do you have a 32x32 version ? Can you post the link to the original website?

[2015-09-14 21:19] Bertram25 commented on #937
First one, too. :)

[2015-09-14 21:42] Danimal696 commented on #937
Ok, ill upload shortly, its a remix from the usual site, so only i have the source

[2015-09-14 21:46] Bertram25 commented on #937
@Danimal696 Use the media repo, Luke!

[2015-09-14 21:49] Bertram25 commented on #937
I'd add the stunned creature stun time shouldn't go over 5 seconds. It's already quite long and we'll be able to fine tune this if there are case where it is "too short", IMHO.

[2015-09-14 22:07] hwoarangmy commented on #937
I will release a PR tonight with creature tunable stun time and some more related candies ^^
Note that I've not used @Danimal696 icon because I couldn't get anything worth it by changing its resolution. But it will be easy to change if he can do something nice on 32x32

[2015-09-15 11:42] alketii commented on #777
I'm ready whenever you are :sunglasses:

[2015-09-15 13:06] hwoarangmy commented on #833
Fixed by #936

[2015-09-15 13:06] #833 closed, assigned to hwoarangmy

[2015-09-16 11:17] tomluchowski opened #951 "Game works utterly slow"
Since sevaral commits ago , the development version works with 19 frames per second , which is circa about HALF THE SPEED of usual gameplay. Does anyone experienced similar issue ?

[2015-09-16 11:28] akien-mga commented on #951
I did not experience this as far as I can tell when testing recent pull requests. Since when did it become slow? Is it working fine with 0.6.0?

[2015-09-17 10:23] #951 closed, assigned to nobody

[2015-09-17 10:29] tomluchowski commented on #951
Sorry, it was due to high antialiasing settings -- issue closed .

[2015-09-18 05:55] #918 closed, assigned to hwoarangmy

[2015-09-18 05:55] #937 closed, assigned to hwoarangmy

[2015-09-18 05:55] #947 closed, assigned to hwoarangmy

[2015-09-18 05:55] #916 closed, assigned to hwoarangmy

[2015-09-18 05:55] #940 closed, assigned to hwoarangmy

[2015-09-18 05:55] akien-mga opened #952 "Worker behaviour: carrying entities (like grimoires) should be of higher priority"
It's all in the title.

[2015-09-18 08:06] hwoarangmy opened #953 "Creature weapons"
I've been thinking a bit about creature weapons and how do they fit in the global fighting system (especially how the weapon damages interacts with creature damages).
The proposition is to add to weapons (the modifiers apply to melee or range depending on weapon range):
- Physical damage: The physical damages the weapon deals
- Magical damage: The magical damages the weapon deals
- Max range

Note

[2015-09-18 08:47] akien-mga commented on #953
This looks like a good plan to me, it allows to create some interesting weapons (e.g. magic swords which deal both physical and magical damage, etc.).

A related question though is how will all this be micro-managed? Will creatures equip themselves automatically with fitting weapons from the armoury, or will there be a kind of equipment UI where you'll be able to assign a weapon to a given creatur

[2015-09-18 10:39] Danimal696 commented on #953
Awhile ago, cant remember where, we more or less agreed that creatures dropped on forge would "work" there and upgrade their weapon one level if the research was completed (3 research were decided masterful-magical-legendary);
Another option was forge creating weapon points that are stored into an armory, and creatures would go there and grab a weapon upgrade.

[2015-09-18 11:29] hwoarangmy commented on #953
In any case, weapon creation do not dependent on weapon use. We can discuss that when the forge will be in (we might have better ideas when we will want to implement it). Concerning the weapon use as defined in the issue, WDYT ?

[2015-09-18 11:32] Danimal696 commented on #953
Are the modifiers really needed? or the other way around, i dont see the point of having the two at the same time, since just one acomplishes what we want.

[2015-09-18 12:48] hwoarangmy commented on #953
Nothing is really needed, we just have to make a choice ;)
The basic idea of the modifiers is to allow to turn off physical or magical attack when using a weapon. For example, if we assign a bow to a wizard, is it normal to deal magic damage when the same bow would not when used by an adventurer ?
Of course, we can always say that we will somehow find a way to not let wizards use bows. But, after

[2015-09-18 12:56] akien-mga commented on #953
I think modifiers are a cool idea :)

[2015-09-18 17:31] Danimal696 commented on #953
i think we should refrain from too much micro-management, having to specify by hand what weapon wears each creature is a bit too much, and could create situations like squishy mages swordfighthing. Its a cool idea, but somewhat flawed, also take in account that the heroes will be the more benefited by weapons, since the keeper will have lots of non-weapon wearing beasts.

On the technical side, it

[2015-09-18 19:23] tomluchowski opened #955 "Eliminate black empty space outside the level limits"
As the game takes place in deep dungeons there is no reason why our sandbox be pack of various tiles "hoovering " in black space. What I propose is :  A) give maximal camera movement only between 0 to X map size , and 0 to Y for vertical movement. B) add some margin made from Rock Tiles or some other impenetrable tiles to become margin and make "black holes " invisible .
What do you think of that

[2015-09-18 19:29] hwoarangmy commented on #953
I agree and that's why I propose to use modifiers. That would allow to let any creature (that can use weapons) to use any weapon. Even if it becomes less powerfull with it.

Well, if someone wants to equip his mages with swords, why not ? In any case, since creatures are not hardcoded, if we want to specialize creatures so that a mage cannot equip a sword, that will lead to the "too much micro man

[2015-09-18 19:34] akien-mga commented on #953
I guess what @Danimal696 means is that we don't need management at all: creatures would have a "weapons path" that determines which weapon upgrade they can get, and stick to it. It would not allow to create more fine-tuned combinations by choosing which weapon a creature can get.

[2015-09-19 10:58] Danimal696 commented on #953
that way is the easiest but its not like im not open to others options, it just needs to be easy to use

[2015-09-19 17:09] Danimal696 commented on #955
or creating a few skyboxes, limiting movement outside of the last tiles is also a good idea

[2015-09-19 17:17] Danimal696 commented on #953
Also bear in mind that having an universal rig means that all models animation will look the same, making them all kind of generic, having creatures specialized in certain weapon makes possible to give the barbarian some brutish walking step or the ranger a sneaky one.

So the choice is a generic rig or a per model one, a workaround to have both would be to define a kind of animation depending on

[2015-09-19 17:25] hwoarangmy commented on #953
Well, after thinking a bit more about that, it may be a good (and simple) solution. I will stick to adding physical/magical damages, then, as it is done ATM. I will change the original message so that it is clear

[2015-09-19 17:49] Danimal696 commented on #953
I would like to add poison damages as well as i said before, i think that damage trinity is a good one (thinking on traps and spell and our very own vile demon-esque creature).

[2015-09-19 22:38] tomluchowski opened #956 "Micromanagment"
What managers make fun is micromanaging - those small things you don't have to do , but can give a little or larger effect when you engage yourself in such activity .
Please give your ideas : mine would be
1. Killing spiders and rats ( by just clicking on it ) -- your creatures become more healthy , and have more pleasant env-ment .
2. Feeding the chicken with grain , making them eating more , wou

[2015-09-20 10:52] Danimal696 commented on #956
pointless, we are trying to have a fast game and avoid micromanagement at all; hell, the game is still lacking lost of core mechanics, this is the lest wanted feature rigth now

[2015-09-20 14:25] tomluchowski commented on #956
Danimal , I see you and since last time how you give answers , and I see you are not understanding  question.  Those propositions does not imply the player MUST engage them to achieve success. Instead it would be the last thing to do -- stopping from large scale planning into playing some micro - games . But some strategic games have that option, and that makes it fun .

[2015-09-20 19:51] hwoarangmy commented on #956
I think the idea is interesting. However, I'm not really sure there should be a real game interest into doing that (otherwise, it might force players to do that and that's not what we want). IMHO, a message to every player telling "tomluchowski has become the most hated keeper by the spiders for having killed 100 of them".
Concerning the examples you give, I think 1, 2 and 6 might be nice small ga

[2015-09-21 11:29] Bertram25 commented on #956
As for me, I've got nothing against such niceties. The thing is we are a speare-time project and we should focus on the most needed features first and before anything else. I'd drop that issue for now and see once we have a full core gameplay + a campaign ready.

[2015-09-21 17:36] Danimal696 commented on #956
Tom instead of this you should focus on fixing all problems with your culling algorithm; please dont get sidetracked with barely useful mechanics.

[2015-09-24 07:46] hwoarangmy opened #958 "Read/Write creature mood class like the other read from file classes"
ATM, the specific data is read within CreatureMood class and the subclasses are created accordingly. It would be better to read it directly from the subclasses like it is done for the other similar ones so we have a general similar behaviour.

[2015-09-25 10:29] hwoarangmy commented on #376
I have implemented creature skills. ATM, we can use heal/explode.
I am currently trying to merge fighting behaviour into creature skill (after all fighting can be seen as a creature skill like casting a spell).
However, for improving fighting behaviour, we should decide how the creature should position itself during fight. ATM, it tries to go to the closest spot where it can hit (depending on its

[2015-09-25 12:56] Danimal696 commented on #376
the lazy solution would be to give only melee range skills to melee warriors and ranged skills to ranged ones, also ranged to have always the same (or close) range in all its skills.

Think on warriors having skills like: armor up, shelf-healing, attack up, speed, invisibility....
And mages/archers: firebolt, fireball, poison arrow, granade arrrow...

Great update by the way.

[2015-09-25 16:20] hwoarangmy commented on #376
I reopen this issue because there is still a discussion going on and the fighter behaviour is still in work

[2015-09-25 22:15] akien-mga commented on #777
Ok guys, back to this topic. It looks like @alketii is waiting on us, and we are waiting on him, so I guess we need to discuss how should this stuff be implemented.

We already have the masterserver repo; what is the next step?

Quoting @Bertram25 from a few comments above:
- [x] Create a masterserver official repository and welcome @alketii 's code in it (Would you be ok to be officially part of

[2015-09-25 22:17] alketii commented on #777
@akien-mga yes its ready to test, check the README for calls.

[2015-09-25 23:24] hwoarangmy commented on #376
After thinking a bit more, I've added a new property to creatures: "distance when not fighting". The basic idea is to check if a skill can be used. If a skill is available but the distance is not good, try to go to the best spot (at range max from the enemy).
If no skill is available because all in cooldown, try to stay at "distance when not fighting"

I think that with this simple logic we can ac

[2015-09-25 23:55] hwoarangmy commented on #953
As we said, I've implemented the most simple way weapons: I've removed range and missile mesh. Now, they just have physica and magical damages that are added to the used attack. It will be the modder responsability to make things logic (bow for ranged units, for example, and not swords)

[2015-09-26 20:47] hwoarangmy opened #960 "Use appVeyor and Travis for CI"
That would allow to check that OD always compiles. I gave a try for another open source project (UFOAI if you want to know) and using appVeyor is pretty easy (I guess Travis is the same).

@OpenDungeons/developers WDYT ?

[2015-09-26 21:59] tomluchowski commented on #960
Maybe a little intro of what those two are ?

[2015-09-26 22:15] hwoarangmy commented on #960
They are more or less the same with appVeyor being for windows and Travis for Linux. Basically, they are tools that build the sources each time a new PR is merged automatically. It allows to ensure the master branch can always be compiled.
Moreover, I think we can also use them to build and deploy binaries. That means that each time a PR is merged, we can use them to upload to our repos new binari

[2015-09-27 15:54] hwoarangmy commented on #960
I've just seen in UFOAI that even when a PR is proposed, it checks if the sources still compiles. Note that if there are unit tests, they can also be run automatically, which makes much more usefull to have some.

[2015-09-27 16:12] Danimal696 opened #962 "Adding the Roach"
My most complete rig and animation to date, but the Roach is finally here after many hours of animation work:
https://github.com/OpenDungeons/OpenDungeons/pull/961

Shoulndt conflict with other PR´s, needs an entry to be created in
config file once the Creature skill PR is merged; spider one can be
copied but mesh size needs to be 0.15 in all 3 values.

![roach2](https://cloud.githubusercontent.co

[2015-09-27 21:13] hwoarangmy commented on #962
looks good. I will integrate it when the Creature skill PR is in if it is not already done ^^

[2015-09-27 21:22] hwoarangmy opened #963 "Creatures in prison are free after saving/loading a game"
As stated here:
#959

[2015-09-27 21:38] Bertram25 commented on #960
As for me, I'm using Travis CI for VT and I've been using AppVeyor for a few other projects. It's a must IMHO. Running unit tests could be an fine extra point.

[2015-09-27 21:39] Bertram25 commented on #962
Cool :D

[2015-09-29 19:23] hwoarangmy commented on #877
I might take this one soon. However, I was thinking that poison might not be the best for a new skill. I would think that an armoured creature would be pretty well defended vs a snake or the usual creatures that uses poison. It could be something like "acid", "fire", "cold" or "electricity".
In any case, note that this is only for the game story as technically, its the same.

@OpenDungeons/develop

[2015-09-29 21:25] Danimal696 commented on #877
i was thinking of it being a special kind of damage, slimes would deal pure poison damage , spiders some (they currently do a bit of magic damage in replacement of poison), some skills would deal it as well, and there could also be an state "poisoned" caused by poison skills used by some creatures.
Only a few creatures would have partial or total resistance.
Traps would benefit as well, think on p

[2015-09-29 21:52] hwoarangmy commented on #877
Yes, I agree with the logic. I was just saying that poison may not be the most adapted. But that's not a big deal, we can stay with poison.

[2015-09-30 01:37] eugeneloza commented on #877
I'd say there might be a 'strategic triangle' or 'strategic task' behind each damage type.
E.g. physical attacks are strong against unarmored targets but weak against armored, electric attacks are strong against armored targets, but deal overall less damage than mlee. And finally the 'strategic triangle' looks like knight (armored, low-hp) kills ogre (unarmored, high-hp), ogre kills electric eel (

[2015-09-30 06:57] hwoarangmy commented on #877
In fact, that's my point. Naturally, if we talk about poison damage, I would think it is something that takes time. But if I'm not mistaken, that's not what @Danimal696 wants (and neither do I). We only want another damage type to make interesting to have some units rather than others. Basically, ATM, there is no interest in keeping creeps when you can have the highest creature of a tier. Adding a

[2015-09-30 07:33] eugeneloza commented on #877
Another way to make tentacles&slilmes useful - not limit their number. Or... they can even 'breed' under some conditions (e.g. after killing an enemy and consuming its corpse) to multiply their number - a swarm-like creatures. And maybe even a kind of a spell to summon a slime (or a horde of slimes). Harmless alone, but useful as a support unit (not limiting other creatures, or limiting them by 0.

[2015-09-30 08:13] eugeneloza commented on #956
Well, I think that there's a lot of micromanagement already. I'm really afraid of what would happen in case player will need to give/improve weapons for his minions :). And adding something not very relative to game would simply distract from the gameplay. E.g. those are plausible in case the keeper is banished and can doodle around, when waiting for other players to finish the session, and can ev

[2015-09-30 10:30] Danimal696 commented on #877
hwoarangmy, thats exactly my idea, calling it "poison" its not mandatory but i cant think of any other name that fits in there

[2015-09-30 12:03] hwoarangmy commented on #877
What about "Acid" ?

The problem is that it is true for every tier. We don't want to favorize tentacles only or whatever but to make combinations better than other. Just like your example, we could say that spiders > tentacles, roaches > spiders and tentacles > roaches (that's just an example). And we should have something like that for every tier ^^
That would increase very much game replayabilit

[2015-09-30 12:12] eugeneloza commented on #877
Maybe:
Physical
Magical
Shadow<->Light (depending on side, but similar in effect) / Dark<->Divine / Death<->Life
Psi (mental)

[2015-09-30 12:20] akien-mga commented on #877
Yes it should stay relatively abstract so that we can categorize creatures among the 3 or 4 kinds of power, e.g.:
- physical/strength
- magical (offensive, like fireballs etc)
- mental/psi
- divine: this depends whether we want to add some kind of religions/evil cults, or just be content with a typical dark side (keepers) / light side. IMO it's maybe enough if we already have three faction-agnosti

[2015-09-30 12:52] Danimal696 commented on #877
isnt that overkill? magic can cover for divine/unholy,  the effect is the same no matter the source (something miracleous out of nothing ), physical is pretty straighforward, and thirdly , acid/poison... to give more strategic options,
Im not agaisnt adding more damage kinds, but we risk a lot of complexity and worst, rebalancing of stats for all creatures.

[2015-09-30 13:18] hwoarangmy commented on #877
Yes, I think 3 damage typs are enough (and I guess we all agree on that). However, "mental/psi" doesn't sound adapted for tier 1 units (I cannot imagine tentacles with strong psi powers ^^). IMHO, acid is the more suited even if it can be discussed (especially because of the hero faction). And I'm not for Shadow<->Light because that would mean to rename everything depending on faction.

[2015-09-30 18:19] akien-mga commented on #877
My only concern is that we seem to try to introduce a "third power" just for a couple tier 1 units, so I get the feeling it won't bring us to a "triangle of powers" like @eugeneloza described, which would be IMO a nice addition. What other creatures could use the acid power, and how does it relate to the other two (physical and magical)? Would it be efficient against both mag. and physical defense

[2015-09-30 19:04] hwoarangmy commented on #877
No, it's for every tier. Acid would be independant from physical and magical. There would be a defense like for the 2 others (that are not related). I agree acid seems to be for tier 1 only but the goal of this third power would be for creatures of every tier.
In my mind (and I guess in @Danimal696 too), there would be more or less 3 creatures per tier one being specialized per "power". That would