[2016-03-31 08:27] hwoarangmy commented on #982
I was also thinking that it would be nice to group (in the forum or in an issue) the prioritary things we all agree on. For example, for rooms, the blacksmith, stuff like that. Ideally, we should let in the first message the 2-3 ones we want the most. Same for spells/traps.

[2016-03-31 08:30] akien-mga commented on #982
I guess we should have extensive discussions on the forum, but try to keep GitHub issues as a summary of what was decided on each topic. We are not all moderators on the forum so we can't edit the OP as we can do on GH, so that's an advantage of GH issues for such "roadmap" topics.

[2016-03-31 08:35] Loobinex commented on #1147
I have started making a big post about creature attracting which I'll post on the forum when it's done and my account is approved there. That's not what I mean by dungeon building here,...
What I'm talking about is that on the two levels I've played I just made a clean grid of 5x5 rooms and whenever I researched a new room I just build it straight away. It does not seem to matter where to build ro

[2016-03-31 08:39] Loobinex opened #1153 "Workers reinforce walls far too quickly"
Workers are very quick to reinforce all your walls. Which sounds very nice, but it is too convenient.
Having reinforced walls makes your rooms function better and keeps heroes and rival keepers out of your dungeon, these benefits should not come almost for free but should come with a big time investment.

If reinforcing walls takes a lot of time the player has to make a strategic choice between sp

[2016-03-31 08:47] eugeneloza commented on #1143
Kinda https://youtu.be/8gInoX2mwgM?t=8m33s (however, sacrifice altar will require additional room)

[2016-03-31 08:49] hwoarangmy commented on #1147
ok. That is planned and more or less implemented. Infortunately, for balancing purposes, we didn't use it much. ATM, only spiders/cavehornets fight each other when there are too many of them together. This has been done almost only to remind how it should be done.
If you want to give a try, you can have a look at config/creatures.cfg. You can add mood modifiers that will make creatures get angry i

[2016-03-31 08:53] hwoarangmy commented on #1148
yes.

Well, here the crash.log is not very explicit so I was hoping the log would be better. Do you see this crash often ? Do you have a way to reproduce it ? I never experienced similar crash so it might not be straight forward. Depending on crash frequency, it might be worth or not to fix it before 0.7.0.

[2016-03-31 09:43] hwoarangmy commented on #1153
I guess the most easy would be to turn wall claiming value configurable

[2016-03-31 09:43] Loobinex opened #1154 "Alarm trap"
A central mechanic in a dungeon sim is to defend it from heroes trying to invade your dungeon to kill you or sneak in to take your gold.

What makes sense is that you are able to build an early warning system: An alarm trap that is triggered by rival creatures that pass it. It should:
- Send an alert to the player who can instantly zoom to the alert
- Cause any creatures in range of the alarm to f

[2016-03-31 09:44] hwoarangmy commented on #1152
Indeed, the information is usefull but the GUI size is limited. I guess we could add that near the fighter number

[2016-03-31 09:45] hwoarangmy commented on #1151
IMHO, the minimap should show the whole map. ATM, that's not how it is done but it would be better to see everything

@OpenDungeons/developers WDYT ?

[2016-03-31 09:47] Loobinex commented on #1152
Another possibility would be to put it as an overlay on the creature pane. You can do this both on the workers and the fighters.
For fighters right now it would be redundant information but my guess is that at some point this pane will show each creature type separately.

[2016-03-31 11:04] eugeneloza commented on #1151
At this moment I don't really see the minimap useful. So, it really might show the whole map.

But if it will look like the current minimap (top-down full render view) it might cause lags and on large maps it'll be "unreadable". AFAIR the minimap was more simple and large-scale in previous versions, but it was remade due to lags it caused.
Maybe, changing (and maybe, even customizing) the scale wo

[2016-03-31 14:49] Danimal696 commented on #1151
eugeneloza +1

[2016-03-31 15:01] Danimal696 commented on #1024
I would say its as open as the game source :)  any suggerence?

[2016-03-31 15:02] Danimal696 commented on #556
the forge doesnt really fits, ill pull something together this weekend

[2016-03-31 15:04] Danimal696 commented on #1083
not really relevant as long as other creature researches for the time being, yes, rigging is coming pretty slowly...

[2016-03-31 15:41] hwoarangmy commented on #1151
IIRC, the old minimap used 1 pixel per tile. Since its size was hardcoded in the GUI, it means that if the level was bigger, only part of it was visible. I think the best would be to group the tiles per pixel. For example, if the level is 200x200 and the minimap is 100x100, 1 pixel should represent 4 pixels. Then, depending on what is on one of the group of tiles, the pixel should take a different

[2016-03-31 16:34] Loobinex commented on #1151
When the minimap becomes too small, it becomes useless. Corridors are single tiles wide, so they will disappear when you do that. The 1 pixel per tiles seems better, with a toggle to expand the minimap it to full screen(you can call that the not-so-mini-map).
To keep performance ok you can stop rendering the game screen.

[2016-03-31 19:55] hwoarangmy commented on #965
I've had a closer look and seen some stuff. First, the __auto\* are alo hardcoded in CEGUI code and defined in OD look n feel (and it is required by CEGUI). Thus, calling them as it is done doesn't seem to be bad after all. However, there are higher level events (at Frame level) and I think it is better to use those instead of dealing directly with the child widgets so I will create a PR with corr

[2016-04-01 07:12] eugeneloza commented on #1148
Tested it thoroughly today morning. I always get CTD when closing the OD window at Model's Fair. I remember I got a crash at some other map, but I can be wrong.
Maybe that's the prison/torture room? I see the skulls at the walls, but no active spots, neither particles when I imprison the creature (I'm not sure if they are implemented in latest snapshot?). And I'm almost sure I got the torture room

[2016-04-01 07:16] eugeneloza commented on #1139
Today I've ran a game and found out that 'Creature cannot create a bed' and 'Those weaklings are tired, they need rest' fire rapidly one after another, yet those mean almost the same and seem to reset each other's counters (so I get repeatedly first-second-first-second-first-second phrase). Easily reproduced at Model's Fair test map start.

[2016-04-01 07:25] eugeneloza opened #1156 "Scrollbar visible at messages"
When there are a lot of messages I get an inactive scrollbar at the right. It might be useful (however, I can hardly say when), but anyway it cannot be operated neither by mouse drag nor scroll.

![odscreenshot_2016-04-01_075846_0](https://cloud.githubusercontent.com/assets/10726162/14200484/e47f3af2-f7f3-11e5-8aae-180b418444a2.png)

[2016-04-01 07:26] eugeneloza opened #1157 "Custom names for creatures"
I have an idea... why call cave hornet - cavehornet8, if we can simply make a random name for it, e.g. cave hornet Ba-man-kar. It's no problem in properties menu, but not very interesting to see spider51 took its fee... :)
The logic is simple:
1. Get a random number WordParts=random(5)
2. Define some word parts like 'fun' 'koo' 'pas' 'tir', some can be 'checked' as ending only, some can apply only

[2016-04-01 07:34] eugeneloza opened #1158 "Mimic (a stupid idea?)"
After reading a nice RPG-joke I've had an idea, maybe it's fun to implement mimic creatures for Keeper? E.g. a creature that can transform into furniture and heroes stop attacking it (doesn't affect keepers' creatures). E.g. if it is not killed quickly by heroes it will hide, restore health, and attack again and can be killed only if overwhelmed and killed before it can transform. Unaffected by gr

[2016-04-01 07:36] eugeneloza commented on #1151
link https://github.com/OpenDungeons/OpenDungeons/issues/917 & https://github.com/OpenDungeons/OpenDungeons/issues/839

[2016-04-01 07:53] Loobinex opened #1159 "Just show total payday amount"
On payday you'll get 15-20 messages on how much pay each creature took. This information is not particularly useful and drowns out other messages. I would find it much more useful if I'd get a single message stating the total payday amount.

It is still nice to get some input on which creatures are expensive and which ones aren't, that can be accomplished by briefly displaying the amount of gold t

[2016-04-01 15:13] Danimal696 commented on #1157
Nice suggestion, i always loved how creatures had names in DK.

[2016-04-01 18:10] hwoarangmy commented on #1148
I've seen what's going on. Stupid me ^^

[2016-04-01 23:04] Bertram25 commented on #1150
@Loobinex You should be accepted quite soon. It's cool to have you on board. :)

[2016-04-01 23:13] Bertram25 commented on #1151
The old minimap used 4 pixels-wide squares for one tile. I was useful, but looked really ugly as it was using raw colors + the slow use of texture writing each frame.

To have a more schematic minimap, we should have a tileset of simplified tiles texture representing each terrain type and use that to draw either the full minimap, or a convenient part of it.
We could even use a pretty dumb tileset

[2016-04-01 23:15] Bertram25 commented on #1152
We have special buttons types permitting to show number and small icons next to the button image, so fortunately, this shouldn't be too hard to do. :)

[2016-04-01 23:16] Bertram25 commented on #1157
Looks cool to me.

[2016-04-01 23:17] Bertram25 commented on #1158
Some kind of stealth/invisibility skilled creature. Looks fine to me. :>

[2016-04-01 23:18] Bertram25 commented on #1158
@Danimal696 @hwoarangmy @akien-mga WDYT?

[2016-04-01 23:19] Bertram25 commented on #1159
Good points. Actually, there are 2 changes:
- Show the estimated total amount
- Add billboards for a few seconds showing how much gold was taken above creatures when they pick gold.

[2016-04-01 23:20] Bertram25 commented on #1083
Ok, setting it to Later, as it'll come when it'll come.

[2016-04-01 23:21] Bertram25 commented on #1024
My only suggestion would be to close this issue, and open/update the corresponding forum thread.

[2016-04-01 23:24] Bertram25 commented on #982
I'm all for creating some 'old' sub-sections on the forums for the development, and place everything that has more than 1 year in it, for a start. WDYT? Who is admin on the OD forums, btw?

[2016-04-01 23:26] Bertram25 commented on #1032
Duly noted. I'll push something soon. I also played with the fog this week, it is working but feels like a not that cool change, so I'll revert back to be able to set the ambient lighting in the settings only while on it.

[2016-04-01 23:28] Bertram25 commented on #849
Based on the original plan, we only have the confluent level to update and the wiki doc to create before 0.7.0. (+the usual QA testing and website update) :)

[2016-04-01 23:38] akien-mga commented on #849
I'll try to work on updating the release notes.

[2016-04-02 08:37] Loobinex commented on #1159
Three changes actually if you also count the removal of the current notifications.

[2016-04-02 13:10] Danimal696 commented on #1158
it would be fun

[2016-04-02 19:01] hwoarangmy commented on #1148
@eugeneloza I've uploaded new binaries with a version that should fix the bug you have seen. Could you please confirm that it is ok ?

[2016-04-04 07:59] hwoarangmy commented on #965
Note that it seems the CEGUI team has fixed the bug. I will try ASAP the fix. Moreover, they seem to want to go for another release if the bug is fixed.

[2016-04-04 08:18] hwoarangmy commented on #1094
@akien-mga This one is set to 0.7.0. Do you want to set it to later ?

[2016-04-04 08:21] akien-mga commented on #1094
Yeah I'll have a look at it for 0.8.0.

[2016-04-04 10:23] hwoarangmy commented on #1120
the freezing issue is fixed as it was a packaging issue.
Since it has been discussed here, we can change this issue to try to display the callstack in the logs when a crash occurs

[2016-04-04 10:37] eugeneloza commented on #1148
I've downloaded the binaries. I will try it today evening.
Yeah... that normal skrimish map I've played also had a door :)

[2016-04-04 10:55] eugeneloza commented on #1159
Well, the endless messages "Spider took its fee 145 gold" are fun for me. They add some greedy mood :) However, yes, It'd be better if a total estimaet would be shown (maybe, even long-before the payday, kinda 'upkeep'). But it might be good to have a 'switch off individual payday message' option.

[2016-04-04 11:34] eugeneloza opened #1160 "Payment notification for creatures and persons"
At the moment we have 'Cave Hornet took **_its_** fee 100 gold'. That's nice for animalish creatures, like kretaurs, rats, wyverns, etc... but for humanoids like orcs, elves, it's not the best idea. And heroes would definitely want to have "his/her" grammar style :)

Variant 1: Introduce the unit gender (rat - it, dark elf - she, ork/hero - he) and use as appropriately.

Variant 2: Rewrite the mes

[2016-04-04 19:59] hwoarangmy commented on #965
I've just tried the CEGUI fix and I don't get the crash anymore. Let's wait if they go for another release or not and we will see ^^

[2016-04-04 20:34] Bertram25 commented on #965
Perfect! :)

[2016-04-04 22:09] JKatzwinkel commented on #965
Very nice!

[2016-04-04 22:19] Loobinex opened #1161 "Creatures run for payment"
I'd like to propose an alternative to issue #1160 that @eugeneloza proposed, following his remark on #1159 that he likes his creatures to be greedy. Right now there's message spam on creature payday, and flavor could be added to those messages, but I think it would be a lot more fun if the flavor is added to the game itself.

I think creatures should RUN towards the treasure room on payday, showin

[2016-04-05 05:36] eugeneloza commented on #1148
Works flawlessly! Thanks!

[2016-04-05 05:36] #1148 closed, assigned to hwoarangmy

[2016-04-05 12:54] hwoarangmy commented on #1149
fixed by #1155

[2016-04-05 12:56] hwoarangmy commented on #1141
ATM, we have no better suited message for that. When we will have, we can replace it.

[2016-04-05 12:56] hwoarangmy commented on #1120
fixed by #1155

[2016-04-05 17:51] Loobinex commented on #1141
I think any random placeholder sound is better than a misleading one, but fine.

Do you already have a script for the voice actor for this alert? In DK it was "Your creatures are fighting among themselves".

As this is a common notification make sure it is neutral in tone and doesn't contain a joke, because otherwise it will become jarring. Perhaps something like 'A fight has broken out.' or 'Some

[2016-04-05 20:05] hwoarangmy commented on #1141
@eugeneloza do you have somthing in stock about this ?

[2016-04-05 21:14] sverre123 opened #1162 "Suggestion regarding dying and death of minions"
Very cool game! I have a suggestion regarding the dying and death of friendly minions, basically what they did in DK2.
1. When health bar goes down to zero (faction tag turns dark), the minion is "dying", but not immediately dead.
2. The faction tag starts blinking signalising the minion is now dying, and will stay so for about 20 seconds. (you can of course not pick them up or use healing spells

[2016-04-05 21:22] sverre123 commented on #1161
The running is a very cool idea. I think the pay day is very frequent and time consuming, and it is often irritating to deal with when you need your minions elsewhere. The pay day is a necessary, but not the most fun part of the game, so I support whatever that can speed it up.

[2016-04-05 22:48] hwoarangmy commented on #1162
It is already implemented that way. What you describe is KOing creatures instead of killing. IIRC, it was an option in the DK games and it is also the case here. You can activate it in the menu you can open by pressing the hammer button near the minimap.
However, the option is disabled by default. And if it is disabled, the creatures will fight to death.

[2016-04-05 22:50] hwoarangmy commented on #1161
Well, we are lacking animations for this. Almost no model have a run animation. Some don't even have flee...

[2016-04-05 22:56] Loobinex opened #1163 "Enemy workers escape prison"
I played a map in version git20160402 where enemy workers entered my dungeon. I had enabled the checkbox to stun rivals and a prison to bring those workers to. However, when they were carried towards prison they immediately walked out and started fighting with my creatures again. They were recaptured and escaped indefinitely until I disabled the config for them to be captured.

To see this behavio

[2016-04-05 23:01] Loobinex opened #1164 "Wizards kill whole armies in a single shot"
I like wizards as much as the next guy, but they seem a bit overpowered. I have yet to be able to win a single fight as whenever a wizard shows up they manage to kill every creature I have with a single shot.

To see this in action load the attached saved game, complete the bridge in to the northwest that allows the heroes access to your dungeon and use all 15 creatures to attack the wizards that

[2016-04-05 23:02] Loobinex commented on #1161
What's the difference between a flee animation and a run animation?

[2016-04-06 07:23] hwoarangmy commented on #1163
I had not seen this one. I've always thought about fighters regarding prison but not workers ^^
I guess it is worth fixing.

[2016-04-06 07:34] Loobinex commented on #1163
And what is the intended behavior in this case?

[2016-04-06 07:34] eugeneloza commented on #1141
@hwoarangmy no problem :), but there are two variants:
1. Re-record the whole phrase set. That's better quality, but requires modifying the script to host most recent changes. Like pay-day phrase and etc. see here http://forum.freegamedev.net/viewtopic.php?p=61717#p61717
2. Add just a few phrases. I'm afraid I've lost the specific filters setup when my Adobe Audition experienced a deadly bug :) So

[2016-04-06 07:46] hwoarangmy commented on #1141
Well, that's your call to choose which one is better for you (regarding available time and what you want to do). For my part, I'm ok with a temporary solution if you prefer.

[2016-04-06 07:47] hwoarangmy commented on #1163
Good question ^^
I was thinking about letting workers be in prison/torture room. That would make possible to have more than what mana would possibly allow.

[2016-04-06 07:50] Loobinex commented on #1163
For the capturing player, sure,... What about for the player who has his workers captured, while they are in prison can he have fewer workers available? So can I defeat a player by capturing all his workers and keeping them alive?

[2016-04-06 07:59] eugeneloza commented on #1141
For me it's better to re-record everything correctly (plus fix some issues of the previous recording), than doing something flawed :)
But if we're up to re-recording, let's re-check the scenario again. Maybe I should open an Issue?

[2016-04-06 08:02] hwoarangmy commented on #1163
Indeed, as long as they are alive, they will count as owned by the player they used to belong to before getting captured.
IMHO, that's not a big problem. After all, if you can manage to get all my workers, I will accept the handicap it will be for me. However, implementing this behaviour might be a game breaker before a release as for now, we always stated that fighters only could use rooms (inclu

[2016-04-06 08:13] Loobinex commented on #1163
In that case the easiest way forward for now is to make it that workers always die, not get stunned.

[2016-04-06 08:19] hwoarangmy commented on #1141
I guess it would be easier to open an issue and ask what you need. You might also have thought about new stuff to record...

[2016-04-06 08:20] hwoarangmy commented on #1163
yep, I guess it is wiser ^^

[2016-04-06 08:21] eugeneloza commented on #1141
Yeah, I have a few new ideas, I'll include them in the latest script and open the issue today.
Let's do it :D

[2016-04-06 10:56] Danimal696 commented on #1164
He is very weak to archers, but its true, its in need of heavy balance .

[2016-04-06 18:32] hwoarangmy commented on #1164
I've tried your save game and he is far from being alone. There are quite a lot of knights/wizards coming to your dungeon. I'm not sure this level can still be won since the last balancing

[2016-04-06 18:50] Loobinex commented on #1164
yeah, I know there's more than enough there to kill me. Let the others heroes walk by, focus on the wizards because they are truly impossible.

[2016-04-07 07:51] eugeneloza opened #1165 "Voice acting as of 7 April 2016"
@OpenDungeons/developers , hi all!
It seems that we lack a few phrases at the moment, so it might be a good idea to re-record the voice acting. Please, re-check the script for errors, additions and corrections. Thanks!
I might be able to record next week (plus might steer me up to finish the trailer finally :))

[OpenDungeons_voice_150215-1.zip](https://github.com/OpenDungeons/OpenDungeons/files/2

[2016-04-07 08:05] Loobinex commented on #1165
For inspiration, here is the full dungeon keeper script: https://raw.githubusercontent.com/dkfans/keeperfx/master/keeperfx/lang/speech_eng.pot

I think nice to add are these, but DK has many others which also apply to OpenDungeons:
- Your creatures are vandalizing your dungeon!
- Your prisoners are escaping!
- The enemy has broken through your walls!
- You are losing territory.
- Your creatures ar

[2016-04-07 08:36] eugeneloza commented on #1165
@Loobinex a good addition. Thanks! But seems that we'll have to expand the amount of in-game events to host those.
@hwoarangmy , @Bertram25 what expansions are planned? As soon as I have all the required messages types, I'll expand the scenario based on DK script (with changes to avoid copyright issues / while the file is released under GPL2 I'm not exactly sure it was assigned with full responsib

[2016-04-07 09:02] hwoarangmy commented on #1165
I guess most are important so if you go for them, we will add corresponding events.

[2016-04-07 09:20] eugeneloza commented on #1165
I can go for anything :D But let's make a list :)
E.g. KeeperFX script proposes hero greeting keeper... "Your Torture Chamber is not big enough." "You need a bigger Training Room." and etc. Are these and similar events planned?
If yes - no problem. If no - no problem :) If no, but it will change to yes in some time - a very little problem (but still it's better to record something unused than to r

[2016-04-10 16:27] Danimal696 commented on #1164
i tried the new level, just two unguarded wizards destroyed my 15 man army. Im so nerfing them...

[2016-04-10 16:29] Loobinex commented on #1164
Yeah, I would go so far as claim levels with wizards in them are unplayable now. And I haven't found a level without them yet.

[2016-04-10 19:42] hwoarangmy commented on #1164
I've just had a look and they have same stats as other tier 3 units. Since they have magical attack, you should take care of using creatures that are not weak against it.

I will try to edit a level to add a few wizards and check how hard it is.

[2016-04-12 07:52] #1146 closed, assigned to nobody

[2016-04-12 07:52] #1145 closed, assigned to hwoarangmy

[2016-04-12 07:52] #1163 closed, assigned to hwoarangmy

[2016-04-12 14:17] #1149 closed, assigned to nobody

[2016-04-12 20:24] hwoarangmy commented on #844
I've found a model that can also fit for a worker:
http://opengameart.org/content/creeper

@OpenDungeons/developers WDYT?

[2016-04-12 21:59] Loobinex commented on #844
Seems to be far too much 'head' to be a worker. The worker model should revolve around the tools so it does not look like just another creature.

Look at dungeon keeper, the imps have personality when you look at the artwork, but the models are basically just a pick-axe and gold sack with legs. For open dungeons you can give the worker a completely different personality, but the tools-to-creature

[2016-04-12 22:32] Danimal696 commented on #844
i would prefer doctor armpit, its much cuter

[2016-04-13 07:23] hwoarangmy commented on #844
ok. Let's stay on Dr Amphit then

[2016-04-14 09:22] #1120 closed, assigned to hwoarangmy

[2016-04-14 20:19] hwoarangmy commented on #849
I've created a branch for 0.7.0 as well as windows binaries.

@akien-mga Could you please create linux binaries ?

@akien-mga @Bertram25 I let you handle the announcement part ^^

[2016-04-16 11:51] akien-mga commented on #965
BTW, with the recent changes to window titles, etc., are we still compatible with 0.8.4 or do we need 0.8.5 + the fix? And subsequent question, what version should I use for the Linux binaries for 0.7.0?

[2016-04-16 11:59] akien-mga commented on #1032
Hey @Bertram25, what's the status on this? If you don't have something ready yet we could still move the issue to 0.8.0 and release, it's not a blocker per se.

[2016-04-16 12:00] akien-mga commented on #1117
Torture room object was handled, where should we put the weapons?

[2016-04-16 12:01] akien-mga commented on #921
Handled in https://github.com/OpenDungeons/opendungeons.github.io/pull/17, but it needs rebasing. Changing milestone as it's not a blocker anyway for 0.7.0.

[2016-04-16 12:02] akien-mga commented on #854
Moved to 0.8.0, non critical for 0.7.0.

[2016-04-16 12:04] akien-mga commented on #849
I'm currently uploading the Linux binaries. I'll try to write the release notes today.

@Bertram25 Do you want to have a go at the release announcement? You always write something nice :smiling_imp:

[2016-04-18 11:48] Bertram25 commented on #849
@akien-mga I'm back from the depth since today. I'll happily handle the announcement text and the ruin of the confluent changes tonight.
The last thing that may hurt the user experience is the wizard crazy strength balance bug IMHO. :> Too bad it was spotted, I finally had a weapon against the @hwoarangmy evil knights(TM)

[2016-04-18 11:50] Bertram25 commented on #1117
Let's talk about weapons in #1100 , and best set up what we want on the forums if it's not already done. I'll close that one since the issue is done for the main part of it.

[2016-04-18 11:50] #1117 closed, assigned to hwoarangmy

[2016-04-18 11:51] Bertram25 commented on #1164
IMHO, needs a good check before release.

[2016-04-18 12:53] Danimal696 commented on #1164
he shots too fast and gives lots of damage, two lv7 wizards ended my mixed 15 man army of rats/spiders/roaches/goblins/lizardman, and i had dropped all of them on their heads... my poor creeps didnt stand a chance...

[2016-04-18 13:04] akien-mga commented on #1164
Well, I think it OK that two lvl 7 wizards can defeat 10-12 tier 1-2 creatures (at least if there was more tier 1 than tier 2). But maybe they should be nerfed a bit still so that it's not such a huge defeat, you should have been able to kill one of them and still lose the battle IMO :D

[2016-04-19 21:08] Danimal696 opened #1167 "3D Model size affects Weapon size"
I have run into a common blender problem (and not for the first time), the thing is once you scale an armature it goes crazy and you get a spagetti party for result. If i dont rescale it the animation works fine, but our code-added weapon uses the model as a reference for its own size; so for a model i define as 0.007 the sword/shield is so small you cant even see it. Can this be avoided? if the s

[2016-04-20 10:27] Danimal696 commented on #1083
Just pending of #1167 resolving

https://www.youtube.com/watch?v=xyiEAO7U3x8

[2016-04-20 10:32] Danimal696 commented on #1083
I have planned to use this rig as a base to build upon, so i also added a few new torture animations that will fit all new humanoid characters and use the new models from eugeneloza, they are:
- Torture in electric chair
- Torture by putting in a small cage
- Torture over a table

You can see them as the last three animations; Im drooping the motion capture for now since its pretty limited in vari

[2016-04-21 08:06] Loobinex commented on #1083
I like the look of the model. What looks a bit silly to me though is the stretching of the middle part of the robe when he walks/runs. (the piece with the yellow crosses). This makes it look like he's wearing spandex.

Would it be possible to make that bit of the texture not stretch when he pulls his legs apart, but instead stretch the brown bit of the robe?

[2016-04-21 10:43] Danimal696 commented on #1083
Not without major changes to model, armature and animations, i would spend roughly the same time correcting this than animating a new model. But i appreciate the feedback, i wont be repeating the same mistake again, after all im still learning animating and blender stuff.

[2016-04-22 22:07] hwoarangmy commented on #1083
Indeed, the stretching of the yellow crosses looks a bit weird. But I guess it won't be that visible ingame so it might not be worth fixing.

[2016-04-22 22:13] hwoarangmy commented on #1164
I've had a look at the creature definition file. Indeed, there is a problem with wizard (the cooldown/warmup is 2/1 where is should be 3/2 like the other ranged creatures). And after a few tests, I confirm it makes a pretty huge difference.

I've tried to let 2 level 7 wizards with a pack of 3 roaches + 3 spiders + 3 rats + 2 lizard mans + 2 goblins.

With the original stats, they use to kill ever

[2016-04-22 22:16] hwoarangmy commented on #849
I will fix the wizard bug soon. @Bertram25 I will wait your fix of the ruin of the confluent level before building the release then.

[2016-04-22 22:18] hwoarangmy commented on #965
We are compatible with 0.8.4 and 0.8.5 + fix. The problem comes from the CEGUI FrameWindow core code and makes our code not compatible with official 0.8.5.
So, to answer the second question, you should use 0.8.4 until the 0.8.6 is out ^^

[2016-04-22 22:42] hwoarangmy commented on #1167
Well, in this case, we should first decide what we want. To answer the question, we can handle the weapon size on the code size.
However, the first question is do we want the weapon size to change according to its user ?
For example, if a goblin and a Troll-like creature both using sword use the same sword, do we want it to have the same size ?
If yes, that would mean that we need on the artist si

[2016-04-23 07:27] Loobinex commented on #1164
If the current problem is with the cooldown, it would be very interesting to see (after the fix) if there is any army composition of 15 or more creatures that can take down an army of 9 mid-level wizards.
It appears to me they do area of effect damage, and if a group can kill an army of any size in a single shot the cooldown becomes irrelevant.

[2016-04-23 08:29] hwoarangmy commented on #1164
No, they have no area effect. So far, only the boulder trap and explosion spell have area effect. They just shoot once per creature (but most are one shooted so it goes pretty fast). And, even if they aim at the same creature, the missile will hurt the first enemy creature on its path so, if there is a pack of creatures, they will always hit.

however, a cooldown from 3 to 2 means 33% more hits. A

[2016-04-23 08:41] akien-mga commented on #1164
50% actually :p

[2016-04-23 11:02] hwoarangmy commented on #1164
Yep, it's 33% less cooldown for 50% more hits ^^

[2016-04-23 13:02] Danimal696 commented on #1167
Thats my problem exactly, there is no point for me to use a pre-animated rig if i cant rescale it later to work on ogre (it goes crazy) and i just found a great one but has that flaw. If we can fix the weapon scale issue its a huge bonus not having to worry about remaking every single animation. i think the extra weapon scale value is a good solution that doesnt sacrifice anything (weapon still gr

[2016-04-23 13:05] Danimal696 commented on #849
The cultist can already be used as well, no visible weapons though. Im uploading it today.

[2016-04-23 13:06] Danimal696 commented on #1083
the animation for mele attack is the most visible, but since we still dont ramdomize attack animations ill just declare the spell attack one as the default

[2016-04-23 16:26] hwoarangmy commented on #1161
flee animation is when a creature is hurt and retreats from battle. It will usually run but will also look hurt/scaried

[2016-04-23 16:28] Loobinex commented on #1161
Do you think it is a good idea to include run animations for all future models?

[2016-04-23 17:35] hwoarangmy commented on #1161
I think it is a good idea to open a forum thread and discuss the animations we want. The more, the better. However, more animations means more work for artists so there is a compromise to do.
IMHO, torture animations, for example, are funnier than a run animation. On the other hand, run animation should not be very hard. That's why it should be discussed ^^

In any case, the way I see it, we shoul

[2016-04-23 17:39] Loobinex commented on #1161
Running can be used in many more ways than just being funny on payday. There's a good chance it will come up in the future for other things.

As for torture animations, one idea to steal from DK1 is that while a lot of creatures have a torture animation, there's also a torture animation that does not show the creature that is being tortured that is used for creatures that lack the animation, savin

[2016-04-23 18:50] hwoarangmy commented on #965
@akien-mga Note that CEGUI 0.8.6 is out. I've not tried it yet but I guess it fixes our bug. I will try it ASAP but probably not before tomorrow night. If you test on Linux, please let us know if it works well and if you see the wandering CEGUI artefact or not anymore.

[2016-04-23 22:06] Loobinex opened #1168 "Workers gain speed spell too fast"
Workers get the speed spell at level 8, which they reach really soon after you created them. Because of this, basically all your workers will have the speed spell active and it effectively becomes the norm.

What would be more fun, is that having speedy workers is a true reward for having kept your workers alive for a long time. I would suggest that you must have a worker active for something like

[2016-04-23 22:09] Loobinex opened #1169 "It is possible to see through walls"
When you have a fortified dungeon, you can see the hero parties trying to dig into your dungeon. See the screenshot below from the 20160402 build:

![seethrough](https://cloud.githubusercontent.com/assets/13840686/14764231/d1f44f3e-09b0-11e6-96da-85dfdb35b0ca.jpg)

[2016-04-23 23:00] Loobinex opened #1170 "Diagonal corridors don't work well"
See this image from the 20160402 build:

![diagonal](https://cloud.githubusercontent.com/assets/13840686/14764424/4b74fef2-09b7-11e6-9eab-66423eda9257.jpg)

This is created by the AI and it looks silly. Much more so when creatures walk through it because they turn 90 degrees on every tile. This situation should be avoided. I see three possible solutions:

1) Don't have the AI dig diagonal lines, j

[2016-04-23 23:03] Loobinex opened #1171 "When a player is defeated, unfortify his claimed walls"
See this screenshot from the 20160402 build:

![itsmine](https://cloud.githubusercontent.com/assets/13840686/14764446/15b5a54a-09b8-11e6-8d15-2e3855f6a6e4.jpg)

I've claimed the white tiles, but the white walls are still there and I can't dig through them. This should not be the case: When a wall has no 'friendly' non-wall tiles next to it it should become unfortified.

[2016-04-23 23:21] hwoarangmy commented on #1171
Unless there is a bug, you should be able to claim an enemy claimed wall if and only if you have claimed all its neighboor ground tiles. Are you sure the tile on the other side of the wall next to your worker is not claimed ?

[2016-04-23 23:22] Loobinex commented on #1171
After I claimed the tiles my workers indeed fortified the white walls to turn them red.

[2016-04-23 23:24] Loobinex opened #1172 "Creatures should use the closest room"
I frequently see creatures walk past a room they need to go to another room of the same time. Often they turn angry in the process. They should always use the closest room, especially when they walk through it.

See this screenshot from the 20160402 build and see I dropped all my creatures next to a treasure room on payday only for them to walk through it to another treasure room:
![bettergoldelse

[2016-04-23 23:25] hwoarangmy commented on #1169
Here, that's a feature, not a bug. IMHO, that allows to see enemy units trying to dig to your dungeon and I think it is pretty cool ^^

[2016-04-23 23:27] Loobinex commented on #1169
It's not cool at all, it's a glitch. You should be alerted some other way, like hearing a sound of pounding on walls or digging through dirt. This rewards the player who pays attention, and he can use the 'sight' spell to see the units there.

[2016-04-23 23:29] hwoarangmy commented on #1168
Yes, I also think they level too fast. That's part of the balancing we need for the game. The easiest would be to change the XP table in config/creatures.cfg. If you want to make some tries and come up with something, that would be great as you probably play more the game as most of us ^^

Wow, you're hitting hard. We aim for an average multiplayer game of  minutes so I guess it is too much. But 5

[2016-04-23 23:33] hwoarangmy commented on #1170
Well, here, it's not easy to change. When computing path, we assume a creature is on a central tile and goes to the center of the next one. To go diagonally, both tiles that make a square with the diagonal tiles must be dug (otherwise, they would go through half of the wall). Which is never the case in a corridor such as the one on the screenshot.

However, I agree we should try to do something.

[2016-04-23 23:35] hwoarangmy commented on #1172
Strange, they should go to the nearest. Is it systematic ?

[2016-04-23 23:36] hwoarangmy commented on #1171
ok. Then, that's the expected behaviour. Don't you like it ?

[2016-04-23 23:36] Loobinex commented on #1172
Perhaps, looks totally random though like they just do whatever they want. When I see a pattern I'll let you know.

[2016-04-23 23:41] Loobinex commented on #1171
I noticed this after I reported the issue,... I guess it's fine.

What is the behavior on the death of the keeper? In DK when a keeper is defeated all his tiles become unclaimed and the adjacent walls unfortified allowing players to dig through the walls from the outside. I think it is important to be able to access dungeons of defeated opponents/allies.

[2016-04-23 23:45] Loobinex commented on #1168
I've yet to finish a single level. Last time I died to a bunch of wizards(weeks ago), now I'm trying a new level with modified stats for the wizard but as there's no game map a single level is taking forever. They are so big, with so much gold and no indication of where the enemy is that it takes hours and becomes dull.

Having a multiplayer level just take minutes is silly though. It's a dungeon-

[2016-04-23 23:54] Loobinex commented on #1172
It almost looks like the go to the furthest room there is. On payday the creatures walk all the way to the treasure rooms I build closest to the gold I'm mining, ignoring the filled treasure rooms inside my dungeon. On the way there they walk straight through other filled treasure rooms.

[2016-04-24 00:13] Loobinex opened #1173 "Destroying enemy temple does not have the desired effects"
I've played the level 'Duel to death' and managed to kill the green temple in build 20160402.

At this point I expected several things to happen:
1) The game won
2) No new creatures coming from the green portal
3) All green creatures dying or fleeing to the nearest portal
4) My own creatures to stop destroying the green rooms so I could claim what was left and they could go 'home' to rest
5) Green

[2016-04-24 01:21] akien-mga commented on #965
Thanks for the notice, I'll update my Mageia package as well as the version I use for OD binaries. Based on the changelog, I don't expect many good surprises though, it should be just like 0.8.5 but without our issue. But maybe the 0.8.5 version brought useful fixes, we'll see :)

[2016-04-24 07:56] hwoarangmy commented on #1172
Oops, I had a look and the treasury is chosen randomly. And it seems like you are not very lucky ;-)
I guess I never noticed because I usually don't build that many treasuries ^^
I will fix that for the release.
Nice catch.

[2016-04-24 08:27] Loobinex opened #1174 "Unclaimed portals should be visible on the map"
Unclaimed portals should be visible on the map (and by default portals on maps should be unclaimed). This way the player knows which way to dig to claim the initial portal, one of the first things he does on any map, and not dig into an enemy pocket before he has his first creature.

But also importantly, this allows him to see which player is spawned where on the map. When a player claims it, bef

[2016-04-24 08:30] Loobinex commented on #1164
I've played a level with the intended stats, and now I've managed to beat a level. Wizards are still strong, but not overly so.

I think ALL creatures do too much damage though, reducing damage across the board might not be a bad idea, but I think this issue can be considered fixed when the stats are updated.

[2016-04-24 08:38] Loobinex opened #1175 "Casino fights cause casino to be too much of a hassle"
Yesterday I completed the first level and managed to build all rooms. I quickly found myself selling of my casino though because fights kept breaking out there for no clear reason.

I'm not sure what the casino is supposed to do - give me gold or make my creatures happy - but them dying there made having the room not be worth it.

I'm not against fights breaking out in the casino, but the mechanic

[2016-04-24 09:18] akien-mga commented on #965
Oh my... They changed their soname again for a bugfix release that is just supposed to fix a couple minor bugs. I think I never saw a lib with that bad a soname history as CEGUI...

The libs used to be `libCEGUI*-0.so.2`, now it's `libCEGUI*-0.so.1.5.1` (what of course any computer would consider as a _lower_ version, but whatever...). I'll still make a bug report upstream to make sure they know w

[2016-04-24 09:20] hwoarangmy commented on #1173
This has already been discussed. Excepted point 2, it is the expected behaviour. The reason is multiplayer gaming.

1 - Not implemented yet. Game never stops. Probably for the next release.
2 - Strange, they should not. Do you have the logs ?
3 - We have chosen to let dead keepers be allowed to use their creatures (ie pickup/drop) even when the dungeon heart is destroyed so that in multiplayer, wh

[2016-04-24 09:29] akien-mga commented on #965
Done: https://bitbucket.org/cegui/cegui/issues/1123/library-soname-was-changed-from-2-to-1-in

Doesn't impact much for us apart from the fact that binaries build for CEGUI 0.8.5 won't find the library they're looking for if you have 0.8.6, but as a packager I had to rant :p

[2016-04-24 09:29] akien-mga commented on #965
BTW I guess we can close this issue with resolution: _don't use CEGUI 0.8.5_?

[2016-04-24 10:33] Loobinex commented on #1173
2) Sorry, no.
3) As a consequence you can still die to a player after you have defeated him. Especially problematic if you have more than one adversary. A player without a dungeon heart should no longer be a threat. For coop you could allow the defeated player to help micromanage the surviving players dungeon.
5) It sounds like a good thing - a fun strategic consideration - if a defeated ally give

[2016-04-24 10:43] Loobinex opened #1176 "Sight spell"
I would like to propose to (re)introduce a 'sight' keeper spell. When cast on an area it should reveal it.

To make it interesting I propose the following requirements:
1) Click on an area to reveal it.
2) As long as the spell is active, you gain no mana and instead the spell very slowly drains your mana. It is deactivated when you run out of mana or when you toggle the spell icon.
3) The size of

[2016-04-24 14:11] Loobinex commented on #1168
I've looked into the exp numbers of the worker a bit, and he gains massive amounts of XP. Hardly anything when fortifying walls, a bit more when claiming, lots on digging and lots more on mining. I think fortifying should net more XP, and mining gold may be reduced a bit.

If a worker mines out a single 25 tile room, claims and fortifies it and mines 9 gold blocks he has acquired roughly 1000xp, m

[2016-04-24 16:16] hwoarangmy commented on #1164
ok, thanks for your feedback. IIRC, we set up HP/Damages so that in 1v1 level 1, 2 similar creatures will kill each other after 4 hits.

[2016-04-24 16:18] hwoarangmy commented on #1168
I'm ok with that and I will give a try

@OpenDungeons/developers WDYT ?

[2016-04-24 16:18] Loobinex commented on #1164
How many hits will it take for a lvl 1 rat to kill a lvl 10 pit demon?

[2016-04-24 16:26] hwoarangmy commented on #965
agreed. The way they name their releases is their choice...

[2016-04-24 16:26] #965 closed, assigned to hwoarangmy

[2016-04-24 18:54] Danimal696 commented on #1168
its true that rigth now Xp and levels  gains are quite messed up, i agree to any chance that bring some balance

[2016-04-24 19:00] hwoarangmy commented on #1164
Level1 Rat hits = 8 magical damages
Level 10 PitDemon magical defense = 4.4 + 9 \* 0.41 = 8.09

The rat cannot hit the pit demon at this levels.
Note that it would be true even earlier for Troll (good defense against magical). Against it, a level 1 rat will not hurt a level 3 Troll.

For leveling, we just stated that a Tier 1 level 1 unit should be able to hurt (not much) a Tier 4 level 1 good aga

[2016-04-24 19:25] Bertram25 commented on #1174
Hey, I think the actual problem you had is that you had some hard time spotting your own portal on some map, right?

I personally disagree that unclaimed portal should be spotable on game because it makes something simple more complex without any proper gaming reason, IMHO.

What I do rather think is that the portal that should be claimable near your own temple should either be obvious through pro

[2016-04-24 19:28] Bertram25 commented on #1169
@Loobinex Hmm, please understand that here, it would make a common simple game behavior more complex just for this specific need.
I do myself think it is cool to be able to sense what is around your dungeon, and that fear grips on you when you see the dwarves dig around your dungeon.

What you want is a specific DK1 behaviour but it is not a glitch, IMHO. Is there any other interesting reason you

[2016-04-24 21:15] Loobinex commented on #1174
I've had both problems,... the map I played two days ago I had to dig tunnels through the entire map until I finally found my enemy. A few weeks ago I played a level where I had to restart the game 2 times because I died before I found a portal.

Spotting unclaimed portals through fog of war has the same gaming reason as gold and rock being able to be spotted: You need this basic information about

[2016-04-24 21:17] Loobinex commented on #1164
Ok, that sounds ok. I thought I saw my pit lord get seriously hurt in 1 hit by a lvl 1 little green man, but I'm not sure, so I'll pay some attention to this in the future.

[2016-04-24 21:18] Bertram25 commented on #1170
I must say that, as a player, I wouldn't be surprised to see such a behavior as I expect playing against AI.
I agree this looks silly as in clearly non-human behavior. But what would be the simplest solution to this one in your opinion?
I'd advised against adding special cases in the path finding algorithm as it may add unnecessary corner cases in the implementation.

[2016-04-24 21:20] Bertram25 commented on #1171
I guess a simple solution to make sure the enemy zones are accessable would be to add the unclaim tile spell, right? This would permit not to break the current gameplay.

[2016-04-24 21:22] Loobinex commented on #1169
OK, if you actually intended this behavior, it is obviously not a glitch. I find it very silly to be able to see through walls, and would find not knowing what exactly is coming for me be both more logical and more ominous.

There's no deeper reason behind this, if you want to be able to see through your walls and be able to know what your enemy has without having to do anything for it, then no ch

[2016-04-24 21:23] Bertram25 commented on #1173
Funny. I don't find this is a problem, except in campaign, which is a type of gameplay we didn't enter yet.

[2016-04-24 21:26] Bertram25 commented on #1175
I agree with the 3 reasons here.
I guess 3 requires a game option, like the KO switch?

[2016-04-24 21:27] Bertram25 commented on #1176
A good addition, indeed.

[2016-04-24 21:30] Bertram25 commented on #1169
I'll wait for others point of view, but IMHO, sensing 1 tile next to your walls is something I can understand. So I'd vote to keep it as it is.

[2016-04-24 21:32] Loobinex commented on #1170
![walkplease](https://cloud.githubusercontent.com/assets/13840686/14770530/501cabea-0a74-11e6-8427-c211c46c6b0f.jpg)

Currently the creatures follow the red path. They should follow the blue path.
This is actually not a fringe case, but how pathfinding could always work by not assuming to be on the center of the tile but working with sub-tiles.

I don't think the current behavior is a big problem

[2016-04-24 21:34] Bertram25 commented on #1165
Hey :) Let's avoid everything touching the sentences as much as possible. The goal is to show we are creating something inspired from, and not a copy of DK.

As for the scripting, I'd say that we need to start the campaign script + determine the rooms left, to know what is missing.

[2016-04-24 21:35] akien-mga commented on #1169
Yeah, that's a behaviour you find in many other strategy games btw, like Age of Empires and the like. You often get some visibility beyond your walls so that you they can serve as a real strategic defense and not just an obstacle.

One could easily imagine that every piece of claimed wall is built with an arrow slit which lets creatures inside the dungeon see if there are enemies just behind the w

[2016-04-24 21:36] Bertram25 commented on #1162
@hwoarangmy I guess we can close then?

[2016-04-24 21:37] Bertram25 commented on #1161
I guess everything is in the forum thread.

[2016-04-24 21:38] Loobinex commented on #1171
That would work. As a consequence the player has this spell to use in other circumstances as well.

Having an unclaim-tile spell seems silly to me in general actually, that's what your workers are for. If I had to choose I'd rather accept the current behavior as is, which isn't bad, just not what I expected coming from DK. Like I said, I reported the issue before I found out that the workers can n

[2016-04-24 21:42] Bertram25 commented on #1160
Let's make a compromise. Why not add the billboard on the treasury when creatures steal gold, and add voice message variants on the payday + show the amount that will disappear. WDYT @OpenDungeons/developers ?

[2016-04-24 21:53] Danimal696 commented on #1176
so you want to make modifications to the spell Hmwro introduced last PR?

[2016-04-24 21:55] Bertram25 commented on #1171
Please note we are not cloning DK, but taking inspiration from it. :) That said, they can unfortify walls only when there are no ground tiles of the same color around.

This is somewhat edge casy, especially when you have allies that should still be able to use your tiles. But you're right, you should be able to tell when some keeper has been defeated.
To me, the difference has always been in the

[2016-04-24 22:01] Bertram25 commented on #1170
Ah, I see better what you mean now. IMHO, sub-tiles have nothing to do with this, but rather permitting creatures to reach a tile not forcefully at the center to actually "reach" it is part of the fix.
In other words, the tile offset chosen should be tweaked to offer the shortest path possible, but this is not trivial.

[2016-04-24 22:02] Loobinex commented on #1171
I know, that's why I said the current behavior isn't bad - just not what I expected.

Are you sure it is not more fun to have the walls already unclaimed when the player is defeated? That provided additional motivation to keep your ally alive and continue playing together instead of allowing your ally to die to go for the kill yourself. It introduces an additional risk of becoming unexpectedly exp

[2016-04-24 22:02] Bertram25 commented on #1176
@Danimal696 Erm, my bad, I didn't see what you guys did since a few days. I'll update. :)

[2016-04-24 22:05] Loobinex commented on #1170
Who said it was?

[2016-04-24 22:10] Bertram25 commented on #1174
Interesting bits here. Seems you treat portals as resources, while I treat them as treasures (I mean the ones you discover). Both points of view are perfectly right, IMHO.
What about: Making portals visible on the full map view (yet to be implemented, though.), so that you have a general direction where to go and can plan, but don't actually spy there, without the corresponding spell?

[2016-04-24 22:10] Bertram25 commented on #1168
Why not? :)

[2016-04-24 22:11] Bertram25 commented on #1170
eh eh. :)

[2016-04-24 22:12] Bertram25 commented on #1171
Hmm, why not. I must say I'm personally tempted. :) There is one case we need to discuss about then. What if you built a room on some ally tiles, and he gets defeated?

[2016-04-24 22:16] Loobinex commented on #1174
Both points of view are indeed correct, that is why the mapmaker should have the option to use them both ways. Usually initial portals are not used as treasure, neither are 'contested portals'(the one in the center everybody fights over). But especially on campaign levels they can be a discoverable bonus.

Therefore unclaimed portals are visible(I think just exposed is the easiest way, but I'm ope

[2016-04-24 22:18] Bertram25 commented on #1174
Can work. @OpenDungeons/developers WDYT?

[2016-04-24 22:20] Loobinex commented on #1171
I did not know you could build on allied ground - this also becomes very problematic when you at some point decide you want to allow breaking alliances. But right now that should not be too much of a problem as only claimed path becomes unclaimed, rooms stay with the owner.

Following the current behavior, you can also decide to keep walls alive but as the path behind it(not rooms) disappear they

[2016-04-25 08:00] hwoarangmy commented on #1171
Well, as long as there is no functional difference between an active and an inactive room, I don't see much point in allowing to see if they are active.

I have nothing against it or unclaiming his tiles when a player is defeated (even if his allies are still alive). We just have to think about the consequences and accept them ^^

IIRC, tiles that are built on are claimed by the room owner. That's

[2016-04-25 08:12] hwoarangmy commented on #1174
Being allowed to see some unclaimed portals and not some others would look like a bug to me. IMHO, we should go for a way or the other. I've nothing against being allowed to see unclaimed portals at game start. That would also avoid the problem with one of our levels where you start without a portal and, if you are unlucky, you may encounter hostile creatures before getting the portal (which means

[2016-04-25 08:16] Loobinex commented on #1174
I agree, that's why ALL unclaimed portals can be visible, and all claimed portals can be hidden.

[2016-04-25 08:18] hwoarangmy commented on #1170
Yes, the problem is that it depends on how the corridor is built. As @Bertram25 said, this information is likely to be found at pathfinding and, in most of the cases, it will be useless as, excepted AI, players will not build such corridors. So, adding complexity to pathfinding (which may become a bottleneck) for a specific case is not a good way to go IMHO. However, without having closely looked,

[2016-04-25 08:23] hwoarangmy commented on #1162
ok

[2016-04-25 08:23] #1162 closed, assigned to nobody

[2016-04-25 08:28] hwoarangmy commented on #1169
Well, the way I see it, it is even more logical. Claimed tiles give vision, be an allied creature on it or not. That's the keeper magic. And to say it is the same for claimed walls doesn't look weird to me.

Well, usually, you only see the workers putting pression trying to rush to you. But you don't know the army that will come if they can go through your wall...

[2016-04-25 08:29] eugeneloza commented on #1174
I think, that it's a bad idea, becasue it'll reveal enemy position. However, portals and other claimable objects can be visible IF they are no further than specific distance from your dungeon heart (e.g. 1/4-1/3 of the map size).
This will reveal portal prepared for you to claim and hide enemy portals.

[2016-04-25 08:32] Loobinex commented on #1174
Why is it a bad thing to know where your enemy is? This isn't a rts where you can easily send scouts around the map,.....

[2016-04-25 08:35] hwoarangmy commented on #1173
Well, for me, it is not a problem even for campaign. If you succeed to kill your opponent dungeon heart and that it is your only goal, the game will stop anyway and bring you to victory screen. If there is still something to do and you are not carefull enough with your dungeon heart, you will loose and that's acceptable IMHO.

Here, you are hitting something. In multiplayer, allied players cannot

[2016-04-25 08:41] hwoarangmy commented on #1174
In this case, you will not know where your enemy is in many levels as they start with a claimed portal.

Well, in a 400x400 map, it can be pretty annoying to search the whole map for a player turtling. Moreover, it makes a big difference between a player who knows the level and a player who doesn't.

As I said, we should go a way or the other IMHO. Half solutions are never player friendly...

[2016-04-25 08:45] Loobinex commented on #1174
That is a problem with the maps. And that's not surprising because currently there is no reason for mapmakers to leave the initial portal unclaimed except to annoy to player.
Like mentioned in the very first post here, by default portals should be unclaimed.

[2016-04-25 08:47] hwoarangmy commented on #1176
The sight spell is already in but doesn't work this way. Have you tried it ?

The main difference is that is doesn't prevent other spells, it is limited in time and doesn't change anything to mana gain.
However, other players can see you cast the spell

[2016-04-25 08:52] hwoarangmy commented on #1175
In the casino, creatures play with their fees and the keeper gets 10% of the bets back.
Fights can occur when a creature has lost all its gold (50% probability).

However, they should KO each other, not fight to death. Are you sure they died ?
Note that when a creature is KO, it needs a worker to get it back to its bed to wake up. If it has no bed, it will die.

[2016-04-25 08:53] Loobinex commented on #1176
I believe I saw it in an old build, in the current build I can't find it.
And it indeed functioned like the old DK spell, not like I describe here.

The differences I describe here have reasons,.... one of them is that the fog of war plays a major role and it would be very nice for the player to be able to consistently keep an eye on a certain area, but this needs some significant drawbacks.

Not

[2016-04-25 08:55] Loobinex commented on #1175
I'm not sure they died.
Is this dependent on the setting or will they always stun allies?

[2016-04-25 09:10] hwoarangmy commented on #1175
they always stun

[2016-04-25 09:48] Danimal696 commented on #1174
Yes, i also think you should now where they are at start.

[2016-04-25 10:02] hwoarangmy commented on #1174
Now that we are talking about portals, what about dungeon hearts ? Shall we also display them at game start ? It also doesn't look weird to me that a keeper can "feel" the other keepers dungeon hearts...

[2016-04-25 10:06] Loobinex commented on #1174
I'd say no,...

If you know where the portal is you know where to find your enemy, but then you still need to explore his dungeon to find his temple which is nice.

[2016-04-25 13:52] hwoarangmy commented on #1167
Note that I've played a bit with ogre mesh magick and I confirm it is what you need here (and what can help us to avoid constant resizing).
You can grab it from ogre comand line tools:
http://www.ogre3d.org/download/tools

Assuming the weapon you want to use is at correct size for knight (which is scaled 0.5), you can do (it will overwrite your model and also resize the skeleton):
`OgreMeshMagick

[2016-04-25 17:23] hwoarangmy commented on #1176
I've had a look and indeed, there is a problem. I made a mistake in spell positions in the gui and some are over others. I will fix that tonight

[2016-04-25 18:38] Loobinex commented on #1176
I had assumed it was taken out on purpose because you didn't like it,... that's why I mentioned reintroducing it.

[2016-04-25 18:38] hwoarangmy commented on #1176
No, no, just another mistake ;-)

[2016-04-25 19:10] hwoarangmy commented on #1173
I've had a look at 3 and I confirm there is a bug. Fix is on its way

[2016-04-25 19:11] Danimal696 commented on #1174
No as well, its too much of an advantage.

[2016-04-25 19:12] Danimal696 commented on #1167
can we use it to resize to 1:1 all meshes? thats the best solution

[2016-04-25 20:04] hwoarangmy commented on #1167
yes. Have you tried ?

[2016-04-25 20:58] Bertram25 commented on #1032
@hwoarangmy @akien-mga  Should I wait for some stats fixes here? I'm sure it would completely change the level.

[2016-04-25 21:02] Loobinex commented on #1173
You mean number 2 - spawning creatures after destruction of the temple.

[2016-04-25 21:05] hwoarangmy commented on #1032
they are here

[2016-04-25 21:06] hwoarangmy commented on #1173
yep, 2 you're right

[2016-04-25 22:48] Bertram25 commented on #1032
Perfect!

[2016-04-25 22:49] #1164 closed, assigned to hwoarangmy

[2016-04-25 22:49] Bertram25 commented on #1173
Is there anything left we agreed to change here?

[2016-04-25 22:56] Loobinex commented on #1173
The first point - winning the level on destruction of the temple.

Also, on Issue #1171 there's sort of agreement on point 5 - unclaim tiles/unfortify walls on defeat. My suggestion is to move discussion about the 5th point here and reject #1171.

[2016-04-26 07:48] hwoarangmy commented on #1173
Point 1 is obvious but not implemented yet. Concerning unfortifying walls when a player is defeated, it is more discussed in #1171 than here so let's close this issue and continue on the other (changing title)

[2016-04-26 07:48] #1173 closed, assigned to hwoarangmy

[2016-04-26 07:49] akien-mga opened #1178 "Implement win/defeat logic"
Moved from #1173.

[2016-04-26 07:53] hwoarangmy commented on #1171
@OpenDungeons/developers What do you prefer ? Shall we unfortify walls ? When a player is defeated or only when the whole team is defeated ?

For my part, I have no strong opinion so I will stay on what you decide if there is a consensus. And if I have to vote, I will go for letting as it currently is because it means nothing to do and I'm lazy ^^

[2016-04-26 08:01] Loobinex commented on #1171
If I get a vote I'd say keep the wall-behavior as is. Unclaim all floors when the player is defeated, even when his ally is still alive. This would also allow players to breach the walls.

[2016-04-26 09:30] hwoarangmy commented on #1178
Winning victory is easy:
Are all the goals filled ?

Loosing is harder. IIRC, some goals can be failed. That means we need a "defeat if failed" parameter if it is the case.

Then, do we want to let the player choose if he wants to continue playing ? Note that if yes, that means that if the host disconnects, the game will stop anyway.

[2016-04-26 21:10] hwoarangmy commented on #1172
@Loobinex I've checked the code and you are right, even for choosing job room, the creature chooses randomly between all usable rooms. I will fix that too

[2016-04-27 13:25] hwoarangmy commented on #1167
BTW, note that resizing to have all creatures at same scale is the best way to attach chickens to creatures when they eat (if one day we want to implement specific animations)

[2016-04-27 13:54] Loobinex commented on #1167
Or just make all creatures/heroes eat by falling face first on the chicken. ;-)

[2016-04-28 19:15] Danimal696 commented on #1167
done :)
Now i would like for us to settle on the animations, the knitgh is next on line for animation, lets not make it wait more than usual (a year or two...)

[2016-04-28 20:08] Danimal696 opened #1180 "Change aspect ratio of game"
We have pretty nice models, but so far they are being wasted by having everything into tiny corridors and weirdly sized walls.
im posting a few links of what i think some proper ratio:
http://www.theaveragegamer.com/wp-content/uploads/2015/03/War-for-the-Overworld-Overhead.jpg
http://core0.staticworld.net/images/article/2015/04/2015-04-19_00032-100580950-orig.jpg

Leaving aside the graphical quali

[2016-04-28 21:58] hwoarangmy commented on #1167
Note that I've created the PR with resizing of all our models

[2016-04-28 22:04] hwoarangmy commented on #1167
Also note that I've uploaded a new version of Ogre mesh magick (the version on their website uses Ogre 1.6 so I downloaded and compiled it with Ogre 1.9). If you want to give a try, you can download it here:
http://download.tuxfamily.org/opendungeons/Tools/OgreMeshMagick.zip

[2016-04-29 06:45] akien-mga commented on #965
Just for the reference, upstream released CEGUI 0.8.7 with a fix for the bogus soname: http://cegui.org.uk/download/cegui-087

[2016-04-29 19:46] Bertram25 commented on #965
Excellent! :)

[2016-04-29 20:47] Bertram25 commented on #1171
Sure. The point is eye candy and light addition as the main problem of the game atm is to be too dark.

sorry, but this doesn't make much sense to me. The only interesting bit to me was to potentially unfortify walls. Unclaiming tiles doesn't add anything in term of game play. And this would be completely be counter intuitive to the player, or at least me.

[2016-04-29 20:48] Bertram25 commented on #1173
Set to 0.7 as @hwoarangmy implemented the bits still from this one.

[2016-04-29 20:49] Bertram25 commented on #752
0.8.7 is out! :D Time to talk to @muammar ;)

[2016-04-29 21:16] Loobinex commented on #1171
Apology accepted.
But it does add to game play. As discussed above, when a wall has no friendly floors around it imps can destroy the fortifications. So when a player is defeated, unclaiming the floors makes is very easy to see this, will allow allies to claim the dungeon, and it will allow imps to destroy the fortified walls.
As all rooms stay claimed, I think it looks best if the walls also stay

[2016-04-29 21:16] muammar commented on #752
@Bertram25 yes, I have seen. One of the CEGUI's upstream wrote about this. I hope I upload it this weekend.

[2016-05-01 13:26] tomluchowski opened #1182 "Additional items for casino"
Hello, I had a short-lookup of what could be added to casino at blenderswap.com :
I found the roulet  table
[http://www.blendswap.com/blends/view/72520]
and the slot machine model
[http://www.blendswap.com/blends/view/72254]

Would you like to implement and add them to the game ?
BTW: How do I set proper labels for my issue ?

[2016-05-01 13:35] tomluchowski opened #1183 "Create separate tileset for rooms edge"
As in topic; every room in DK2 has a marked boundary around each room.
Example : http://oi63.tinypic.com/wbymir.jpg

What do you think of doing the same under Opendungeons ?

[2016-05-01 18:20] Bertram25 commented on #1171
If we are to unclaim anything, I would then unclaim both the grounds and the walls, as it would make clear to the "victim" that he's threatened.

Other solution is to change nothing and add the (very expensive) unclaim wall spell, and make spurious stuff on purpose. :)

[2016-05-01 18:21] Bertram25 commented on #752
@muammar Thanks in advance! Feel free to tell me so that I'll hint the cegui team in the corresponding thread.

[2016-05-01 18:37] Loobinex opened #1184 "Destroy enemy walls: Siege engine"
A nice addition to the game would be some way to breach the walls of a fully walled in player. This possibility does not need to be there on every map, but it being there will certainly provide interesting situations.

This method of breaking walls should NOT be a simple - even if expensive - 'destroy wall' spell for two very important reasons:
1. Heroes without a dungeon do not use spells and a m

[2016-05-01 18:38] hwoarangmy commented on #1171
In any case, it will be needed as otherwise, a player could turtle and make the game last forever...

[2016-05-01 18:41] Loobinex commented on #1171
The 'victim' is already dead of course.

But those are two completely separate issues. One is what happens when a player dies, the other is how to allow defeating a turtling player.

On a related note, I've raised issue #1184.

[2016-05-01 19:01] muammar commented on #752
@Bertram25 the package is in [NEW](https://ftp-master.debian.org/new/cegui-mk2_0.8.7-1.html). I hope this week is accepted.

[2016-05-01 19:25] hwoarangmy opened #1185 "Add a page with how to upload a new model in the wiki"
This page should:
- have some code to copy/paste in the main menu screen to add a new model and play a few animations
- Explain how to use the resize in the main menu screen to allow checking for the good size
- Explain how to display the new model next to an existing one to compare size (with a code to copy/paste)
- Explain how to use the resize tool OgreMeshMagick to resize the model once the si

[2016-05-03 09:57] hwoarangmy commented on #1184
I like your idea of having something not as simple as a spell that would unclaim the wall.

[2016-05-03 09:58] hwoarangmy commented on #1183
That would mean many new tile models per tile (or at least models to draw the separation). Not sure it is worth the work even if I agree it is nice.

[2016-05-03 10:02] hwoarangmy commented on #1182
We already have 2 models for casino central active spots. That's not the room that needs the more love IMHO. However, if the models are nice and you can export them, why not ?

[2016-05-03 10:07] Loobinex commented on #1183
I think if you implement this, the easiest way would be to overlay the borders over the tiles so you can more or less reuse borders across rooms.

[2016-05-03 10:31] Loobinex commented on #1184
Thanks, some additional strategy is always nice.

I would suggest to have the wall destroyed though, not unclaimed.

[2016-05-03 13:22] hwoarangmy commented on #1184
yes, I can see no reason to want to unclaim an enemy wall without destroying it

[2016-05-03 21:29] hwoarangmy commented on #1184
I've thought about something that may be interesting here. We could add a new room working like the workshop (ie producing some gems) that would be required for some kind of spells (very powerfull). Your siege weapon would be one of those. It would require gems during its powering up (and while active) and would collapse if none is brought for too long.
The spell would be so powerfull that every p

[2016-05-03 21:30] hwoarangmy commented on #1184
And for heroes, we could just let the portal spawn the gems with workers and cast the spell

[2016-05-03 21:34] Loobinex commented on #1184
I'm not entirely sure what you've got in mind, but what is important for the destroy wall mechanism is that the receiving player can know which wall is being attacked and has time to react to this very location, and has a possibility to stop it directly - but only by opening up another section of wall.

[2016-05-04 07:38] hwoarangmy commented on #1184
ATM, when you build a trap, it is not active once you create it. It has to be crafted in the workshop and brought by a worker. The idea here would be to do something similar (in a dedicated room). That would allow to have the time for the attacked player to do something if he is warned once the spell is cast while the "spell gems" are being created and brought. Moreover, it would add some strategy

[2016-05-04 09:12] Loobinex commented on #1184
Being alerted that a spell is being cast is not as nice as hearing that your walls are in the process of being assaulted. If the siege engine actually has to be placed against the wall it is trying to breach for a while you can attack there. If the timing takes place in the player 'workshop' there's not as much you can do.
Of course you could still have it - or separate components - placed the sam

[2016-05-12 15:47] akien-mga commented on #849
I got started on the changelog: https://public.etherpad-mozilla.org/p/opendungeons-0.7-changelog
I've gone through all pull requests since 0.6.0 and down to the last page of closed PRs (i.e. I still have 25 PRs to review for hidden new features that should go in the changelog). Feel free to rephrase/add missing stuff in the pad, and start thinking about what should be the highlights.

[2016-05-12 15:58] akien-mga commented on #849
And man, this release is HUGE :D It's at least 95% @hwoarangmy's work, so I guess we'll let him pick the title for the release announcement on the blog :P

[2016-05-13 11:03] muammar commented on #752
@Bertram25 the package has just been accepted in the Debian archives.

[2016-05-14 09:04] Bertram25 commented on #752
@muammar Thanks! :D I'll check it out asap!

[2016-05-16 21:34] #1172 closed, assigned to hwoarangmy

[2016-05-16 21:36] akien-mga opened #1187 "Big lag when loading master server "Join game" menu"
I started a couple skirmish maps in single player, then tried the "Join game" menu for the master server, and it took ~1 minute of freeze before it displayed the empty list.

I can't reproduce it anymore, but it's something we should keep an eye on, it gives quite a bad impression.

[2016-05-17 11:36] akien-mga commented on #849
Alright, I've finished to go through all PRs, I guess the changelog is more or less complete: https://public.etherpad-mozilla.org/p/opendungeons-0.7-changelog
Just need to cherry-pick/rephrase the most awesome changes for the "Highlights" section.

[2016-05-17 11:58] akien-mga commented on #849
@OpenDungeons/developers I cherry-picked some highlights in the pad, WDYT? If you're OK I'll make a PR.

Last blocking things for 0.7.0 IMO:
- Update CREDITS for #1115 and #1123
- Add Cultist definitions (#1181)

[2016-05-17 12:11] Bertram25 commented on #849
@akien-mga I commented on the pad. It is really good! :) I can even on that easily for the announcement. I'll create a pad too.

[2016-05-17 20:26] hwoarangmy commented on #1167
The wiki is done:
https://github.com/OpenDungeons/OpenDungeons/wiki/Adding-a-model-in-the-game

@akien-mga I've added in the wiki how to add a new model. I've added in our repo the tools to resize with windows (OgreMeshMagick). Could you please build the same with Linux and add a tarball ?
The tools available on the Ogre website are pretty outdated and compiled against Ogre 1.7 (at least for windo

[2016-05-17 20:26] hwoarangmy commented on #1185
Done:
https://github.com/OpenDungeons/OpenDungeons/wiki/Adding-a-model-in-the-game

[2016-05-17 20:26] #1185 closed, assigned to hwoarangmy

[2016-05-18 10:42] Danimal696 commented on #849
Note to myself, do credits on the spot, ill get to compile them now

[2016-05-19 08:01] #1167 closed, assigned to nobody

[2016-05-20 20:29] hwoarangmy commented on #1073
Now, we have 3 new creatures:
- Cultist
- Lava Spawn
- Monk

I propose:
Keeper side:
Tier1: Spider, CaveHornet, Rat
Tier2: LizardMan, Roach, Goblin
Tier3: DarkElf, Cultist, Orc (T)
Tier4: LavaSpawn, Troll, PitDemon (T)

Hero side:
Tier1: Adventurer, Slime, Dwarf1 (T)
Tier2: Monk, Knight (T), Dwarf2 (T)
Tier3: Elf, RunelordDwarf, Wizard (T)
Tier4: NatureMonster, Defender, Scarab

Dragon and Kreatur

[2016-05-20 22:14] Loobinex commented on #1073
I really like the lava spawn monster, but I'd rather not see it as a T4 creature, but T2 or T3 would be fine. However I think it would fit best as a rogue to be places around lava pits. It could also get a blue pallet swap to become a frost-spawn for ice maps.

I also have my doubts about the Cultist on T3, because thematically it looks like the main researcher on the evil side and research won't

[2016-05-21 08:25] hwoarangmy commented on #1073
Yes, I agree it doesn't look like a T4 unit. It doesn't look strong enough. But I think we should try to replace temporary units and Dragon is one of our weakest models.

You have a point here.

Maybe we can go for:
Keeper side:
Tier1: Spider, CaveHornet, Rat
Tier2: Cultist, Roach, Goblin
Tier3: DarkElf, LizardMan, LavaSpawn
Tier4: Orc (T), Troll, PitDemon (T)

Hero side:
Tier1: Adventurer, Slime,

[2016-05-21 08:43] Loobinex commented on #1073
Better.

And keep open the possibility when you make/find another good monster to turn the LavaSpawn rogue and replace it with another T3 creature.

[2016-05-21 20:15] hwoarangmy commented on #1073
Well, if we find better models, I guess any one can be removed to be rogue only ^^

[2016-05-22 07:34] tomluchowski opened #1193 "Voice acting"
Who is currently voice acting the Keeper ?
Current version is far from perfect; I don't like especially the synthesized "bassed" version of it.
When we have all sayings scripted we could take a professional actor for free ... ( however wird it sounds one can look for volunteers there ) :
Before we start, could someone start scripting.txt file with ALL possible Keeper sayings ?
Mines are :

"Keeper

[2016-05-23 07:29] akien-mga commented on #849
I think we're release-ready. Last things to do:
- Write release announcement + screenshots
- Have a multiplayer game to check for obvious issues

@OpenDungeons/developers When would you have time for a multiplayer game? I guess @hwoarangmy and I can make snapshots before that for those who can't build from source.

[2016-05-23 11:41] Danimal696 commented on #1193
Eugeneloza already did a long time ago, its just a matter of deciding exactly what we want and he will get to work, no need to look for anyone else. What do you dislike the most of the current voice version?

[2016-05-26 18:10] hwoarangmy commented on #849
@akien-mga When do you want to play ?
@Loobinex Wanna come ?

[2016-05-26 20:29] hwoarangmy opened #1194 "Crash when a creature is carrying something"
Reported in the forum
http://forum.freegamedev.net/viewtopic.php?f=45&t=4765&start=650#p68934

The callstack is

[code]

[2016-05-26 23:03] Loobinex commented on #849
I'm out of the country this week. Happy to try next week. 

[2016-05-27 07:35] hwoarangmy commented on #849
ok. Well, we will see when @akien-mga is available... For my part, I should be around as no holydays are planned now ^^

[2016-05-27 07:38] akien-mga commented on #849
I'm mostly available during the week-ends, so anytime this week-end or the next would do. I can also find time during weekdays in the evening too, but maybe only for one or two games :)

[2016-05-27 11:36] eugeneloza commented on #1165
Sorry for the delay. I've finished merging the KeeperFX script (highlighted in blue color, I left most lines unchanged because I first thought that it was proprietary DK script) and added a few lines inspired by it. I am planning to record tomorrow or Sunday.
Any suggestions (especially on reducing the amount of text :D) are highly welcome.
[OpenDungeons_voice_150527-1.zip](https://github.com/Open

[2016-05-27 11:37] eugeneloza commented on #1193
link to #1165

[2016-05-31 21:06] Loobinex commented on #849
I'm up for a game, but which communication channel do you use to arrange this. (I don't think setting up meetings in the comments is your preferred method). And which time zone do you use for your communication?

[2016-06-01 08:27] hwoarangmy commented on #849
@Loobinex Usually, we connect on the OD IRC and see who is connected. Then, we start a game if enough people are around. I might try to connect tonight.

[2016-06-01 08:30] ghost opened #1196 "Use of Lorc icons is not attributed properly"
Some OD icons come from CC-BY pack by Lorc
https://www.reddit.com/r/IndieGaming/comments/ifmie/i_made_700_rpg_icons_free_for_use_for_your_game/
Lorc explicitly asks to be credited:
"The fine print! I'm licensing these under under a Creative Commons Attribution 3.0 Unported License. Which is to say, you're OK to modify them, redistribute them and/or use them commercially so long as you mention me i

[2016-06-01 08:34] akien-mga commented on #1196
Those icons were also uploaded on OGA: http://opengameart.org/content/700-rpg-icons

And according to the OGA entry, also on game-icons.net. I think we only credit the latter, so we need to check if it's because we did wrong, or because game-icons.net does not make it visible who should be credited for the icons. If it's the latter, it should be fixed both in our CREDITS file and in game-icons.net

[2016-06-01 08:50] akien-mga commented on #849
@hwoarangmy @Loobinex I'll try to be around tonight; I might only be there around 22:30 or 23:00 CEST, but feel free to play without me if I'm not there. Apparently @oyvindln would be available too.
(@Loobinex: The IRC channel is #opendungeons on Freenode)

[2016-06-01 20:01] Danimal696 commented on #1180
I think ill try my hand at this in the future, @hwoarangmy sometime ago i asked you if you could upload a cleaner version of the tiles including only the used ones, did you upload it? if not, could you do it and name it to something easy to spot?.

[2016-06-01 20:42] hwoarangmy commented on #1180
If you want, I will build you a snaphot allowing to tune the size of creatures. If you find an aspect ratio that looks good, we can adapt the camera and resize all.

[2016-06-01 21:46] Danimal696 commented on #1180
i think allowing to resize the tile sizes would be better, btw, do you still have the cleaned up tileset file?

[2016-06-01 22:13] hwoarangmy commented on #1180
No. The tiles are our unit size. Changing creature size or tile size is equivalent (increasing tiles is equivalent to decreasing everything else). But if we change tile size, we have to adapt every position (otherwise, tiles will not be connected).
If we can achieve a fitting size for creatures, we can scale them and after, if needed, scale room objects.

The blend file ?
If yes, it is in the repo

[2016-06-02 06:52] #1194 closed, assigned to hwoarangmy

[2016-06-02 07:24] hwoarangmy commented on #1180
@Danimal696 I've uploaded the version:
http://download.tuxfamily.org/opendungeons/WIP/OpenDungeons-git20160601-Win32-MSVS2013-resize.zip

There is a dirty hack allowing to rescale creatures. To use it, go to config/global.cfg and check the last parameter in the file. By default, it is set to 0.5.

[2016-06-02 09:58] Danimal696 commented on #1180
Thanks @hwoarangmy , this is something that will need a lot of thinkering, but if i manage we can increase graphical quality a lot, make zooming stronger and smaller maps look good.

[2016-06-02 10:19] hwoarangmy commented on #1180
Note that only creatures will be resized. Building objects, default camera position and max/min camera height can be adapted later once the aspect ratio is good.

[2016-06-02 11:54] Danimal696 commented on #1180
go figures... now when i export the tileset all models are too big, am i forgetting something? i remember that at least the walls i remade were ready-to-go. Have there been any other scale change since i made those?

[2016-06-02 12:52] hwoarangmy commented on #1180
yep. Now, there is no ingame scaling anymore. To update a model, you need to scale it in the mesh file. That will avoid weird issues like weapons  becoming too small/big if you use them in a model not scaled as expected.

More importantly, to know how to resize correctly a model (be it a room object, a creature or a tile), you can have a look at the wiki:
https://github.com/OpenDungeons/OpenDungeo

[2016-06-03 06:42] hwoarangmy commented on #1196
I've just had a look and we have creted OD Team for some of Lorc icons. I guess we did that because we changed the icon visual, when we attributed most of things done by OD members to OD team instead of naming them.
However, the URL links to the original icons and it is pretty easy to find the icons from Lorc icon set (as it appears in the URL).

@akien-mga Do you want to go with this one or shoul

[2016-06-03 06:48] akien-mga commented on #1196
I planned to have a closer look over the week-end, but if you're on it already I won't complain :p

[2016-06-03 07:05] hwoarangmy commented on #1196
ok, I will do it for Lorc icons as they are pretty easy to find (and I've added most of them so the problem seems to come from me in the first place).

However, we might also have a problem with gui/ODIcons.png as it is a patchwork of many icons and I'm not sure of the source. Some of them are also used as spell icon so I guess it is ok (assuming the icons are correctly credited) but some are not

[2016-06-03 23:11] hwoarangmy opened #1199 "When dropped on a bridge, workers sometimes don't move"
Seen during lan with @oyvindln and @Loobinex

Seems like when they have something to dig, they go on. But if they have an enemy bridge to claim, they don't move and the action displays "walk to tile")

[2016-06-03 23:24] Loobinex opened #1200 "Letters disappear in multiplayer lobby"
I player a multiplayer game and in the lobby before the game started when I typed messages many of the letters did not show up. This made what I typed nearly illegible.

I have a very slow internet speed, especially upstream, which might help to explain why only my messages were affected and those from hwoarangmy and oyvindln worked fine.

Played version git20160601

[2016-06-03 23:26] Loobinex opened #1201 "Adventurer walks on lava"
The title says it all. This hero unit should not be able to walk on water, but he can. @hwoarangmy indicated he noticed the problem in the creature config file, caused by making a copy of the hornet config.

Played version git20160601

[2016-06-03 23:29] Loobinex opened #1202 "GUI shield from unit missing"
I had a monk, and he did not have a green shield above his head. See the image below, the monk under the cursor.

![monkshield](https://cloud.githubusercontent.com/assets/13840686/15795617/9bf9290a-29f3-11e6-9d44-bd7bacb0b56f.jpg)

From git20160601

[2016-06-03 23:32] Loobinex opened #1203 "Timeout for chat messages"
I played version git20160601 and noticed that chat messages stay forever. I think it would be best if they disappeared after a short while.

[2016-06-03 23:37] Loobinex opened #1204 "Symbols and hold key for ingame chat and lobby"
I played version git20160601 and because of bug #1200 I made a lot of typo's. I noticed I could not hold the backspace key to quickly correct my messages.

This is also the case ingame, where quickly sending messages is more important when you don't want to interrupt gameplay. Here the typo's were my own, but holding backspace would still be convenient.

Finally, I couldn't use an apostrophe( ' )

[2016-06-03 23:40] Loobinex opened #1205 "Possible to place trap on rival ground"
I played git20160601 and placed a boulder trap, but moments before my worker could deliver the trap the tile it was placed on was taken over by a rival worker. This did not deter my worker and he still placed the trap on enemy ground, which should not happen.

See screenshot:
![rivaltrap](https://cloud.githubusercontent.com/assets/13840686/15795746/fdb1b792-29f4-11e6-8100-642c9fc280b1.jpg)

[2016-06-03 23:52] Loobinex opened #1206 "Treasure room stopped being recognized by workers"
I played a multiplayer game in git20160601 and at some point I encountered a near blocking bug with my treasure room. I received the message that I had no treasure room and my workers would no longer bring gold there, causing me to quickly go broke. I could not build a new treasure room because I did not have the gold for it.
I sold rooms to build more treasure room and build bridges to be able to

[2016-06-03 23:59] Loobinex opened #1207 "Can place traps and doors before you have a workshop"
In version git20160601 you can buy and place traps/doors before you even have the workshop researched, let alone built. This is a bit silly, and also confusing for the player. I for example accidentally spent some gold on a canon-trap before I realized my workshop was not yet finished researching, this could be a lot worse for new players that don't know they need a workshop to build traps.

My su

[2016-06-04 00:03] Loobinex opened #1208 "Tweak vision spell animation"
When you cast the vision spell in git20160601, an animation plays that looks like a massive beholder flying in circles. I think it would look better if instead of one large creature there would be 3 or more small creatures forming a circle and only give vision within that circle.

[2016-06-04 08:12] hwoarangmy commented on #1205
I remember this one. It is not a trap. Before I claimed the tiles where the trap is, did you build a boulder trap here ?

My guess is that you built a trap and I claimed the tiles while your worker was carrying the trap. So, it dropped it there.
But when I saw it, I also made a try and saw that it did not triggered. Then, I built a boulder trap in the corridor and dropped a worker. It brought the

[2016-06-04 08:17] hwoarangmy commented on #1202
I've also already noticed that but I don't know where it comes from. It is not specific for the monk, I've seen it on many other creatures. But I don't think it will be easy to hunt.

[2016-06-04 08:57] Loobinex commented on #1205
Could be, but then it went very smoothly because I was watching the whole time to see what would happen when you claimed the tile with my boulder trap. If the worker indeed dropped it allowing you to steal it, this would be fine.

Although you could argue that the trapbox should be returned to the workshop by the worker instead of dropping it.

[2016-06-04 09:01] hwoarangmy commented on #1205
So far, if a crafted trap is left on the floor (because the worker was picked up or is killed), it stays there. But workers will consider bringing it to a trap that needs it.
I've nothing for or against bringing them back to the workshop, though.

[2016-06-04 21:23] Loobinex opened #1209 "Interface buttons to pick up specific creature types"
To pickup units and assign them to a fight you can only select the 'select a fighter in hand button' to get a random (?) fighter unit. This system is too basic.

The multiplayer game I played yesterday was the first time playing the hero faction, and I had no idea which creatures were of which type or which tier. In fact, without reading the manual there's no way to understand the combat system at

[2016-06-04 21:32] Loobinex opened #1210 "Voice alerts make it seem creatures start out tired"
At the start of a level you get creatures before you build a lair. This triggers  many voice messages to play (see issue #1139).
These are a bit too much, but a single alert to inform you that you need a lair is not a problem. However, what is annoying is that the voice alert says that your 'weaklings' are tired when they just arrived.

This is simply not true, you need a lair because your creatur

[2016-06-04 21:35] Loobinex commented on #1202
Is there something you can add to logging related to these shields, so that if you see it happen we can provide a log file for this issue?

[2016-06-06 07:44] hwoarangmy commented on #1209
ATM, the pick fighter button is pretty messy and will try to pickup the highest level creature available as well as the creatures fleeing. I had in mind to had another button next to the pick fighter button so that one would allow to pickup the most ready to fight creature and the other one the most in need of rest creature.

Concerning your idea of using one button per creature type, note that a

[2016-06-06 07:46] hwoarangmy commented on #1207
Here, I would be for displaying a message (and a voice alert) to say that you need a workshop when you place a trap.
That's because if we don't enable traps, what happens if you own a workshop but no creature to work there ? Should we disable the traps ? What happens if your workshop gets destroyed ?

IMHO, the simpliest solution is the best and a message is simpler ^^

[2016-06-06 07:48] Loobinex commented on #1209
Can creatures also be vulnerable to multiple types of damage? If not what they are strong against defensively can determine their type.

[2016-06-06 07:50] hwoarangmy commented on #1209
yes, they can. Basically, they have a default defense/attack value per type (value at level 1) and a bonus per type per level. So, the problem is the same ^^

[2016-06-06 07:52] hwoarangmy commented on #1202
I don't think so because overlays are handled by ogre. But I will think about adding something to help debugging this. At least log overlay position computing when pressing a key to help see if the problem comes from there or from the ogre part.

[2016-06-06 07:53] hwoarangmy commented on #1200
Messages are handled on client side and only complete messages are sent to the server. That means that the problem comes from the client (from CEGUI, OIS or the way we dispatch key events).

[2016-06-06 07:54] Loobinex commented on #1207
A message would be an improvement over the current scenario, but there is a downside.

As a general rule for any interface you don't want a user to have to take an action first (click a button, place a trap, whatever) to see what happens. You want to be clear in advance what's the consequence.
Not enabling traps before you have a workshop provides a much more intuitive interface.

Trap-buttons sho

[2016-06-06 07:59] akien-mga commented on #1207
But even if you don't have a workshop, or your workshop was destroyed, you might still have workers carrying crafted traps around (either from your previous workshop, or from an enemy creature that dropped it, or some other bonus that was carried by a rogue creature), so you should still be able to place traps if you spent time researching them.

IMO adding a message + ensuring that you have to re

[2016-06-06 08:03] Loobinex commented on #1207
I guess that means it's decided.

So how does it currently work if you find a trap you have not researched yourself? You should be able to place that too right?
If so, you could also always enable placing traps(not buying them) that you currently own. That would work in both situations.

[2016-06-06 08:07] akien-mga commented on #1207
It's not decided, we're discussing :)

The main problem with your idea IMO is that currently, the players have no easy way to see if they have a workshop, or have crafted traps that they can use, etc. So enabling/disabling buttons based on such information that is not evident to the player is IMO more confusing than letting the player place a trap to get a warning that they don't have/no longer ha

[2016-06-06 08:17] Loobinex commented on #1207
This is a way to help make it visible for the player he has no workshop. I don't know how you do your research, but I have a preferred path and when I'm waiting for the level to get properly started when my first imp digs my first rooms I just select everything to be researched and be done with it.

Even for more experienced players it is easy to forget if you already have build a workshop or not.

[2016-06-06 09:11] hwoarangmy commented on #1207
No

[2016-06-06 10:23] Loobinex commented on #1207
I think you should be able to.

[2016-06-06 11:46] hwoarangmy commented on #1207
Well, there is a difference between a crafted trap (workshop object) and the trap itself (research). And for the logic behind this, I would say that it sounds pretty normal to me that you don't know how to use something until you researched it. If you find some alien weapon, you won't know what it is for and how to use it. You will need to investigate and find out this information. Same here.

[2016-06-06 11:56] akien-mga commented on #1207
We could however change the way we think about traps and their research:
- The trap buttons would all be shown by default, but deactivated
- Researching a trap would provide the ability to _craft_ the trap
- All traps can be placed if you have them in your inventory, i.e. if you steal a trap from the enemy, you can place it, even if you don't know how to craft it (further on the alien weapon examp

[2016-06-06 13:38] Loobinex commented on #1207
I think you indeed research the ability to create a trap, not to use it. Not only from a conceptual point of view, but from a gameplay perspective this is also the superior option. For one it allows what I said above, to place traps you steal from your enemy even if you don't have a workshop/haven't researched traps yet, but also importantly it allows the creation of maps where trap boxes are prov

[2016-06-06 14:11] Danimal696 commented on #1209
i think its more sensible to create three buttoms, for melee, ranged and mages/support. I guess thats the best classification for now, since melee will always have more hp and the others need to be dropped at some distance from the fight; that is true regardless of what damage type they deal or resist.

[2016-06-06 17:36] Loobinex commented on #1209
Danimal696: I'm afraid to say If that's really is true you'd be much better of dropping the damage types completely and base the creature types around Melee/Ranged/Support.

[2016-06-06 19:09] hwoarangmy commented on #1206
I've had a look at the replay and you can see that no workers go between your rooms and the place where you dug gold.
This bug is linked to floodfill and is the same as #1199 even if the consequences are not the same.

The message no treasury available is displayed because the workers cannot find a way to the treasury.

[2016-06-06 19:09] #1206 closed, assigned to hwoarangmy

[2016-06-06 19:15] Loobinex opened #1211 "Wrong notification when workers can't reach treasure room"
When your workers can't reach your treasure room - or any unit cannot reach any room it needs - you should receive a message that says exactly that. 'Your workers cannot reach the treasure room.' However, according to hwoarangmy on issue #1206 you instead get the message that you need a bigger treasure room, which is confusing.

This situation can not only occur when the game bugs out, but also wh

[2016-06-06 20:36] Danimal696 commented on #1209
Then what do you suggest? its not the same to drop a cultist or a kreatur when you press magic damagers, the same as an orc or an elf. same kind of damage , but different roles

[2016-06-06 22:15] Loobinex commented on #1209
I'm suggesting to simplify or overhaul your creature types. Right now you've got lots of complexity without any real strategic choices. That's not system that delivers fun.

Currently you have Tiers (1,2,3,4) x Types (Physical, Magical, Elemental) x Roles (Melee, Ranged, Support), so already 36 combinations without taking into account that one creature can also have multiple types, multiple roles

[2016-06-07 07:50] hwoarangmy commented on #1211
A different message should not be too hard to implement

[2016-06-07 07:52] #1205 closed, assigned to nobody

[2016-06-07 07:56] hwoarangmy commented on #1193
Let's use the other thread for voice acting requests until it is closed

[2016-06-07 07:56] #1193 closed, assigned to nobody

[2016-06-08 19:00] #1199 closed, assigned to hwoarangmy

[2016-06-08 19:00] #1201 closed, assigned to hwoarangmy

[2016-06-09 14:12] akien-mga commented on #68
Found another occurrence of this bug, so I'm not sure the two of them would have the same cause: When you toggle the chat box while pressing a key, the corresponding event will never be released. E.g., try to press the `Left` key and then `Return`, it will lock the game into moving the camera to the left.

[2016-06-09 14:13] #1203 closed, assigned to nobody

[2016-06-11 12:23] tomluchowski opened #1214 "No 0.7.0 realease"
There is no  0.7.0 realease tag , altough akien-mga has set the RELEASE NOTES of 0.7.0 . could someone tag the proper version ? So in Code->realeases there would be proper tag ?

[2016-06-11 15:49] Danimal696 commented on #849
wse are really dragging the release this time, whats the main stopper?

[2016-06-11 16:29] Loobinex commented on #849
Well you wanted releases dates depending on time instead of features, and I figured you want exactly one year between releases.
I think for this release all that's left is playing some games to see if everything works well.

[2016-06-11 21:36] hwoarangmy commented on #849
Originally, we wanted more something like 6 months. But we are late ^^

IMHO, the main stoppers we have seen while playing are fixed. Now, one or two more games would be good to check everything is ok.
We also need the announcement text for the new release

[2016-06-11 21:41] Loobinex commented on #849
From this time forward, every summer solstice(21 June) should have a Open Dungeons release. To match the annual release on winter solstice(21 December). Celebrations will be held in your honor all around the world.

[2016-06-11 23:18] hwoarangmy commented on #849
Then, we should hurry up ^^

[2016-06-12 13:09] akien-mga commented on #849
We never planned releases based on time, but based on the features we want to pack in each milestone. As always, we (@hwoarangmy) have done more than planned initially, but the release is just being delayed because we're all busy and lack time to actually play-test the game before we put it out :)

[2016-06-12 13:09] akien-mga commented on #1214
It's not released yet, hence the lack of a date in the release notes for 0.7.0. It's just the changelog for the upcoming version.

[2016-06-12 13:09] #1214 closed, assigned to nobody

[2016-06-12 14:21] Loobinex commented on #849
On 8 March hwoarangmy proposed to time based releases, and as nobody objected, I have accepted his proposal. And set a date for the release. So you all better hurry up.
;-)

[2016-06-12 15:31] hwoarangmy commented on #849
Yes, we did but it was many time ago ;-)
Back then, we said that the list of features in the releases would be some kind of guideline but that we would try to have a release every 6 months to avoid having a last stable release very outdated.
However, we all do with the time we have and the release can wait until we can do it.

[2016-06-13 09:24] eugeneloza commented on #1165
25% recorded yesterday. I hope I'll finally finish this one in day or two :)

[2016-06-13 09:31] akien-mga commented on #849
Well "trying to release every 6 months" is quite different from doing time-based releases. Time-based releases (i.e. you release on the date planned 6 months before) needs a lot more dedication than we can provide, and also has no added value for us as we don't have a big user base eagerly waiting for the new release.

So as I've likely always advocated for, "release when it's ready". We can plan

[2016-06-13 09:47] hwoarangmy commented on #849
ok, I see what you mean. Indeed, I'm just saying that we said we would try to release every 6 months but we do what we can and if the release is not ready, it will wait.

[2016-06-14 06:50] eugeneloza commented on #1165
60% ready.

[2016-06-14 07:34] hwoarangmy commented on #1165
cool. Please post what you have when ready ^^

[2016-06-14 08:23] hwoarangmy opened #1215 "Culling should not be processed when camera doesn't move"
Following the PR #1198 and according to discussion in the PR.

@tomluchowski wanna take this one ?

[2016-06-14 15:23] tomluchowski commented on #1215
Err ... what we discussed was to slow down the refresh rate of minimap camera.
Are you sure you want to disable culling totally , when the camera is not moving ? First it's only one simple and short loop , second I don't know if we would be able to start culling properly after it is stopped : we need some frames to see that the camera is moving ; at the same time at those frames our algorithm shou

[2016-06-14 17:39] hwoarangmy commented on #1215
No, I'm just talking about not computing culling if the camera did not move. I'm not talking about stopping/starting.

However, as I told you, I'm working on some code to allow the player to choose between the old and the camera minimap. I've made quick tries and, as expected, we have a crash when using the old minimap.
I think I will have to split culling between minimap and main map to avoid cur

[2016-06-14 20:01] tomluchowski commented on #1215
Maybe I could make it as a parameter whether to do the culling only for main camera or both of them ?
Could you give me access to the branch with that minimap prototype ?

[2016-06-14 21:00] hwoarangmy commented on #1215
I've already tried and it seems splitting the culling is not that hard. BTW, I've played with the zoom value to see how it behaves and it seems to work pretty well. Is the algorithm from you ?

[2016-06-14 21:02] tomluchowski commented on #1215
Yes.

[2016-06-15 12:35] Danimal696 commented on #1180
testing with new values 0.75 seems a very good new ratio, creatures seem to be inside a dungeon instead of poking over it

[2016-06-15 13:00] hwoarangmy commented on #1180
Could you please post some snapshots so that we can have a look ?

[2016-06-15 14:30] Danimal696 commented on #1180
At first it looks strange, and many objects need resizing as well, but now the creatures fit were they are supposed to live (Skeletons and lava spawn need further resizing as well, im ok if lava spawn is that big, and i already found a great replacement for lich so no worries there):
![opendungeons 2016-06-15 16-22-35-501](https://cloud.githubusercontent.com/assets/8299756/16083662/1f39d802-3316-1

[2016-06-15 14:38] Danimal696 opened #1216 "New creature: Fairy"
Now that i have some free time, i retook an old model, its a character from OGA i reconverted to fairy:
![untitled](https://cloud.githubusercontent.com/assets/8299756/16084029/74b8cfc6-3317-11e6-8039-e5434b31caf3.png)
![untitled2](https://cloud.githubusercontent.com/assets/8299756/16084030/74c21798-3317-11e6-8487-48bc50a1b67d.png)

Some suggestion about it before moving to animation phase?

[2016-06-15 14:47] hwoarangmy commented on #1180
and what size would you like lava spawn to be ?

[2016-06-15 14:54] Danimal696 commented on #1180
its fine for now since i asume its a tier 3 or so creature

[2016-06-15 16:04] hwoarangmy commented on #1180
ok. Anyway, we can always change its size when we get better models

[2016-06-15 18:33] hwoarangmy commented on #1216
it looks very nice ^^

[2016-06-15 19:44] Loobinex commented on #1216
It looks very nice. Would work well with a magic wand.

You could look into making the wings a bit bigger and her legs a bit shorter. (more fantasy creature, less sexy-cossplay)

[2016-06-15 19:56] Loobinex commented on #1180
Be sure to also modify the scroll speed when you're zoomed in more, which is what you'll do more often now if you want to see your creatures. (#1142)

[2016-06-15 20:09] Danimal696 commented on #1216
i wont touch the legs since it would mess up the pretty nice rig it came with, but im making the wings bigger, thanks for the tip.
But im not sure about the little wand, a "hadouken" pose would look better for spells

[2016-06-15 21:11] Loobinex commented on #1216
Sure you do:
![fairy](https://cloud.githubusercontent.com/assets/13840686/16099243/9aef963a-3357-11e6-9988-4e41ff549d67.jpg)

You could still give her a cool pose/attack animation.

[2016-06-16 06:27] eugeneloza commented on #1165
100% recorded.
Just a few more hours for processing...

[2016-06-16 09:51] Danimal696 commented on #1216
beautiful wings, but mind you, we need to see her from up above all the time, so smaller wings are better

[2016-06-16 12:40] Loobinex commented on #1216
I fully realize you can't paste these painted wings onto your model, its just a picture for inspiration, with a longer dress, a wand and some bigger wings.

That being said, if the wings look good, I don't mind looking at the creature from above and seeing mostly wings instead of the back of her dress.
What does matter is that when they are flapping they should still fit inside the corridor while

[2016-06-16 12:47] akien-mga commented on #1216
I like it more with the longer dress too. Nice model anyway :)

[2016-06-18 11:55] #1215 closed, assigned to hwoarangmy

[2016-06-18 12:35] akien-mga opened #1218 "Dropping the unused AngelScript?"
Hi there,

We still have a quite old version of AngelScript bundled in our source tree, and lots of commented out references to AS in the CMake buildsystem, as well as a couple scripts in `scripts/` and a wrapper in `source/scripting/`.

I'd propose to just dump it, as most likely this code does not work anymore with the current branch and when we want to implement scripting, we'll want to start w

[2016-06-18 15:49] hwoarangmy commented on #1218
Back when we disabled AS (IIRC, @oyvindln did it), we decided to comment the use and makefile scripts to remember how to integrate it.
However, I don't know if we will really use scripting at all one day and if we will use AS (rather than LUA or whatever).

I guess we should first decide if we use a scripting tool and what for ?

[2016-06-18 22:16] Bertram25 commented on #1218
Hey there, (Yes, I'm still around, even if pretty much a ghost those times)
I do think some scripting will be very useful, if only for event based maps. I'm starting to have a bit of experience in Lua, and I can tell it made my day several times (even without the use of luabind).

So I agree we can remove the as source code, and that we can discuss again how to add event in maps and so on later, b

[2016-06-18 23:22] Bertram25 commented on #1196
If all the icon have the same license, naming the different author and the correpsonding icon is fine. If we mixed the license, we'll have to separate the files per license. Example: CC and GPL can't go together.

[2016-06-18 23:23] Bertram25 commented on #849
I guess I still have to finish the announcement, right? ;)

[2016-06-19 08:41] hwoarangmy commented on #849
It would be nice ^^

[2016-06-19 09:02] hwoarangmy commented on #1218
ok for removing AS code and to move to LUA (all the open source games I know of use LUA so I guess it is not a bad choice).
But it would be nice to open an issue and to list what we want to allow from the scripts to make sure at least the most basic features are available.
Note that the script will be played on server side.

As a first thought, I will add:
- Allow to ask the client to display some

[2016-06-19 09:59] akien-mga commented on #1218
Let's maybe fork the discussion about the scope of scripting to another issue, so that I can close this one when removing AS?

[2016-06-19 12:17] hwoarangmy commented on #1218
ok

[2016-06-22 07:22] eugeneloza commented on #1165
10% processing... damn, why am I so lazy...?!

[2016-06-22 07:24] eugeneloza commented on #1216
Looks cool! :) But... maybe too realistic for OD?
If it's possible to make some minor deformations on her face to make her look more cartoonish...?
However, it's fine the way it is :)

[2016-06-23 10:08] eugeneloza commented on #1165
15% processing... I should just sit down and finish it today already. We have 4 days off including weekends, so that I could already post the result tomorrow...

[2016-06-29 07:36] eugeneloza commented on #1165
Finally!!!
https://drive.google.com/open?id=0B5iDblaVLNOMamxJdjlLWVRrbVk

[2016-06-30 11:49] Danimal696 commented on #1165
Congrats and thanks Eugeneloza! :) ill have a look at it

[2016-07-02 17:17] Loobinex opened #1223 "Money amount doesn't fit in GUI"
When you have a few treasure rooms, the gold amount you have might not fit in the GUI, see the screenshots. As the font is not fixed-width, it depends on the exact number. Even with low amounts with 'wide' numbers it won't fit, sometimes the left most figure completely disappears.

When you get over 100k Gold, it surely no longer fits.

![moneymoneymoney](https://cloud.githubusercontent.com/assets

[2016-07-02 21:02] Loobinex opened #1224 "Creatures unhappy on payday"
I played a game today (git20160624) and on payday suddenly a lot of my creatures became unhappy. I had plenty of money and a filled treasure room right were my creatures were. This should not happen.
See the screenshot, or try the replay.

I've had this happen before(long time ago I last played, don't remember how exactly) My guess is that I missed the previous payday and creatures just went along

[2016-07-02 21:07] Loobinex opened #1225 "Gems are mined too quickly"
When you have access to gems, you'll get gold far too quickly. Workers seem to mine gems as quickly as they mine gold, with an additional benefit that you can build your treasure room really close. Even a single gem face can support an entire dungeon very easily, allowing you to do whatever you want.

This is completely unbalanced: Gold should always provide a faster income than gems, to motivate

[2016-07-02 21:22] Loobinex opened #1226 "Angel Nest is too cluttered with lava/water"
I've played the map Angels Nest today, and noticed what I've noticed on the other maps I played before: They are too cluttered with small patches of water/lava.

I like natural looking maps as much as the next guy, but the current maps overdo it to such an extent that I think they should be cleaned up a bit.
A minor issue is that it currently has water en lava tiles right next to each other, which

[2016-07-04 07:29] hwoarangmy commented on #1226
Looks straight forward. Note that this map is more a test of a tool that I did to convert an image into a map. There is no wanted gameplay here. If you see improvements, please feel free to edit the map and improve it.

[2016-07-04 07:34] hwoarangmy commented on #1225
Yep, I had alsio seen that. With only 1 gem tile you have no need to anything else. As you say, we should greatly decrease the gold rate so that it is better to go for gold rather than digging 1 gem tile.

As a side note, the number of available faces doesn't change anything. Only 2 workers can work on the same tile no matter the faces.

[2016-07-04 07:42] hwoarangmy commented on #1224
The logic for angriness concerning pay day is that the creature becomes negatively affected when its fee is more than 1 pay day. So, as you guessed, that means that your creatures could not get their fee on the previous pay day (unless there is a bug).

From the games I've played, I agree there is a problem. When the dungeon becomes a bit big, the creatures are unable to go the the treasury room i

[2016-07-04 07:43] hwoarangmy commented on #1223
I guess 1 more digit should be enough

[2016-07-04 07:58] Loobinex commented on #1225
Then that should also change! I assume not just for gems, but for any or all blocks.
If x amount of workers can work it, it should be per face, not per block. For a player it makes no sense if you have a gem block with 4 available faces and you can't get your workers to mine them.

[2016-07-04 08:02] Loobinex commented on #1223
No, you need two. Now the problem already occurs in the 10k-99k range, with a digit more you'll run into it above 100k gold.

[2016-07-04 08:05] Loobinex commented on #1224
Like I said, I think the solution revolves around getting creatures to get their gold in between paydays as well if they missed a payday.

[2016-07-04 10:04] hwoarangmy commented on #1225
Yes but it's easier to say than to do ;-)
Although feasible if someone wants to take it.

[2016-07-04 10:05] hwoarangmy commented on #1224
That's what they do. But if the dungeon is big, they will probably not reach any treasury room before you pick them up if there is a fight.

[2016-07-04 10:08] Loobinex commented on #1224
That was not the behavior in the game I played. As you can see on the screenshot, there was a treasure room right next to the training room and as very little has happened on this map until this point, I doubt I picked up all these creatures.
I had a compact and small dungeon.

[2016-07-04 10:13] Loobinex opened #1227 "Gem blocks (and others) should be mined from all sides"
This issue is a split from issue #1225, where hwoarangmy shares that gems blocks are only mined by 2 workers no matter how many faces are available.

This is not the proper behavior. The game should limit how many workers can work each side of a block, not limit the workers per block in general.
As a result a gem block where workers can reach 4 sides should provide 4 times the gold compared to a b

[2016-07-04 11:32] hwoarangmy commented on #1224
That's strange. I will have a look at the replay. BTW, when you post a replay please also post the log file as the replay only shows what happens on client side but we don't see what happened on server side (even if in this case, the log file will probably not be very verbose)

[2016-07-04 14:40] Loobinex commented on #1224
Will do. Here's the one that matches this replay:
[opendungeons.log.zip](https://github.com/OpenDungeons/OpenDungeons/files/346482/opendungeons.log.zip)

[2016-07-07 16:06] Danimal696 opened #1228 "What is needed the most?"
Im going to get a lot more of free time soon, so i was wondering, what is OD in most urgent need?
We are pacing slower these days, but its normal due to time restrictions and good weather, but @OpenDungeons/developers what do you think its the aspect most deserving of attention to progress?. Feel free to add yours:
- More game models
- More rooms and game elements (like mana fountain, Temple, forg

[2016-07-08 11:55] hwoarangmy commented on #1228
IMHO, what is needed the most:
- A campaign to be able to release a 1.0 version
- A way to be able to attack an enemy who is turtling (as discussed on #1184) as ATM, such an enemy cannot be attacked at all.

For my part, the lack of activity lately (except @Loobinex who has btw interesting ideas about game mecanics) has greatly reduced my motivation. I will probably continue to make some bug fixes

[2016-07-08 12:33] akien-mga commented on #1228
What @hwoarangmy points out is sad but true, over the last few months @Bertram25 and I have been mostly missing (my free time is pretty much split between contributing to @godotengine and to Mageia, not much time for other projects sadly) and @hwoarangmy has done most of the 0.7.0 development alone. It's understandably not motivating to put much work into the project.

I wouldn't consider the proj

[2016-07-08 20:14] Loobinex commented on #1228
I don't think a campaign should be high at the todo list at this point. Mechanics come before content.
When all the mechanics are finished you can make a campaign to make the most those mechanics, and allow other users to add more content with the map editor.

To be honest, I don't think the current game is that fun to play, and I don't think I would be the only one that would rather play one of t

[2016-07-11 12:30] hwoarangmy commented on #1228
Sadly, this sounds pretty true. I guess part of it comes from the fact the levels are too scattered with water/lava as you already noticed.
IMHO, we are also lacking real gameplay. Almost every creatures comes from the same rooms and the strategy part is also missing. We have the same problem as the original DK: the only strategy is to rush for top level creatures and try to get as many as possibl

[2016-07-11 12:35] Loobinex commented on #1228
Yeah, I believe I already made a post about that around here somewhere, but currently 'getting stronger creatures through dungeon keeping' is not what the game is about, it just happens.
The portal limit(if you get 15 creatures, no matter what you do, you want 15 strong creatures), basic attraction requirements and tier system make it almost inevitable.

[2016-07-11 20:36] Danimal696 commented on #1228
So, what can be done? tying high tier creatures to expensive and late game rooms is a given.
Perhaps increasing the HP pool of all of them so they dont fall like flies and combats last longer, something to make you care about them? or maybe the opposite, make them even more expendable so you only have to care about progressing the map.

It has to be decided which way to go, if we go for fast games

[2016-07-11 22:03] Loobinex commented on #1228
A lot can be done, but it's no quick fix. And yes, first you need to decide what kind of game you want (remember #1147), and then you can determine which steps are needed to get there. Unfortunately, there's not really a template out there to use when making a 'dungeon game'. Both the original DK games were rushed, Dungeons was there mostly to capitalize on the name and is indeed a lot slower and

[2016-07-12 09:53] Loobinex commented on #1228
Adding to the above, making a multiplayer focused game is possible of course. No need to make it a RTS game. There's lots of other options.
You need to focus the competitive elements around the strengths of the genre however. Both players should compete for creatures, where having the best dungeon will attract creatures from a limited but shared pool. And being able to push out on the map is both

[2016-07-12 13:29] hwoarangmy commented on #1228
Well, of course, we are not aiming for a Starcraft RTS like game play. But I think we should somehow try to find a way to make the game startegic so that it is not just a dice throw and you might win or loose depending on luck only (actually, I would even prefer to not rely on luck at all).

Concerning game length, when I joined the project, I was hesitating between OD and a settlers 2 clone calle

[2016-07-12 14:38] Loobinex commented on #1228
I'm not complaining, I'm helping. :)

And yes, the mechanics need tweaking to get fun gameplay, but you need to be clear on the high level concept before you can determine the mechanics to support them. And seeing Danimal696s comment, I really don't think you have your concept figured out.

Knowing that you want a multiplayer focused game with strategic choices and 30-60 minutes games is a start,

[2016-07-12 17:22] hwoarangmy commented on #1228
That was not meant to be negative. I could have said "the flaws you've seen" ;-)

BTW, without many thoughts, I find the idea of the shared spawn pool interesting. The cons being that it would make you know easily what your opponents are going for (especially in 1v1). But it would allow to add some use to most basic creatures (since when there are no more high level ones, you will have no choice)

[2016-07-12 19:28] Danimal696 commented on #1228
War for the overworld use a pretty fresh approach to getting cretures; for example basic rooms like lair and hatchery dont attract anything but are needed to keep creatures happy, the ones really attracting creatures are rooms like Training room = goblins; library = mages; beast den = beasts (duh!) and so on.

So the rooms will actually attracts X creatures based on their size and limited to a tot

[2016-07-12 22:18] Loobinex commented on #1228
When you have a shared pool a correctly functioning creature attraction algorithm should prevent you from knowing what your opponent is going for, at least until it is too late. And players should not know the size of the pool.

I think only low and mid tier creatures should be attracted simply by owning rooms, but the attraction force should be calculated by including both the number of creatures

[2016-07-13 09:50] hwoarangmy commented on #1228
That could indeed add some salt to the start of the game.
So, what about this logic:
- The spawn pool is fixed and unknown from players (once it is empty, only auto spawning creatures like skeletons or such can come to the dungeon - which would increase the need of similar rooms btw)
- At a fixed rate (depending on the seat number), a creature in the spawn pool is randomly chosen and the points fo

[2016-07-13 10:05] Loobinex commented on #1228
Sounds like a good start. To combat the negatives and add an additional layer what about:
- Distance from the room to the portal affects attraction rate. With multiple portals each portal gives another attraction score so you have a bigger chance to attract creatures (e.g. the portal close to training room and library attracts goblins and cultist, and the one close to workshop will attract trolls)

[2016-07-13 10:32] Loobinex opened #1229 "Tweak worker digging animation"
In the git20160624 build digging looks silly, and this together with the lack of sound events and no collapse of the dirt block causes that digging out rooms does not feel satisfying.

I believe what would help is if the digging animation is sped up around 4 times, and the total time it takes to dig a dirt-block is increased by 50%. This would make it seem like the worker is actually chiseling the

[2016-07-19 13:57] hwoarangmy commented on #1225
I've had a look at this one and their is a bug. The gem mining rate is the same as gold. I will fix that.

[2016-07-19 13:59] hwoarangmy commented on #1227
While looking at the gem/gold issue, I will have a look at this one too

[2016-07-19 14:05] hwoarangmy commented on #1224
I've had a look. The only issue I've seen is that creatures working in a room do not stop working even if their fee > 0. Each time they have nothing to do, they have a 50% chance of looking for their fee.

I guess you were not lucky with the PitDemon and it just choose to work somewhere instead of getting its fee (which took many time). And then, it got angry at the next payday.

To fix that, I wi

[2016-07-19 21:49] Loobinex commented on #1224
As you see on the screenshot, it's not just the pit demon but a whole lot of creatures that instantly turn angry. But when you've implemented this change I'll see if the same problematic behavior still occurs or not.

[2016-07-20 07:40] hwoarangmy commented on #1224
The thing is that 50% chances is pretty high and most of the times, creatures will choose to work somewhere if they don't go for their fee.
And if they are awake and not hungry, they can spend some time there (I've checked the code and they don't stop working for getting paid).

Moreover, if the creature is already working, it won't stop for the payday. Then, once it is hungry/tired, it will go to

[2016-07-20 19:41] hwoarangmy commented on #1174
Concerning this issue, IMHO, it would be better to make all portals (claimed or not) visible or not visible. It seems like most people here requested to make them visible. Do we agree ?

[2016-07-20 20:36] Loobinex commented on #1174
Could you elaborate a bit on how you formed your opinion on why both those situations would be better than the one I'm proposing? Is there any advantage for the player, or is it just easier to implement?

Personally I think it would be a big waste, as making them always invisible makes it so you don't have a target to go for and can't see player locations on large 4 player maps, and making them al

[2016-07-20 21:44] hwoarangmy commented on #1174
Because as a player, it would not seem straight forward to see some portals and not others. In a map where you wanna add a hiden portal, you will have to make it belong to some inactive player (otherwise, it would be rogue and, thus, visible). That means that if you don't want it to spawn creatures, we will have to find a trick for the portal not to spawn creatures.
Code wise, it would not be that

[2016-07-20 21:56] Loobinex commented on #1174
Has this behavior ever struck you as odd in the Dungeon Keeper games or any of the clones? Because the very first thing a player will do every single time when he plays a game is open the map to check the layout of the level and the location of his first portal, having the unclaimed portals as visible will be the most normal thing in the world.

As soon as the portals are claimed, fog of war will

[2016-07-21 07:35] hwoarangmy commented on #1174
It exists. That's what we call "rogue seat". In code, its creatures do not behave exactly like the ones owned by other keepers. They do not become angry/hungry/sleepy. And when a creature becomes furious and cannot leave the dungeon (because of a closed door or because it is somewhere it cannot reach any portal), it becomes rogue.

I was only thinking about allowing the players to know where the p

[2016-07-21 07:39] Loobinex commented on #1174
But that's the whole point: Seeing the location of your enemies/allies without actually knowing anything about their dungeon.

[2016-07-22 08:16] hwoarangmy commented on #1174
I will go for displaying every portal at game start as unclaimed portals (giving no vision). That will allow to locate enemies and see if there are portals reachable.
Then, if we want to, we can tune the behaviour.

[2016-07-26 07:44] #1225 closed, assigned to hwoarangmy

[2016-07-26 07:44] #1227 closed, assigned to hwoarangmy

[2016-07-26 07:45] #1174 closed, assigned to hwoarangmy

[2016-07-26 07:45] #1224 closed, assigned to hwoarangmy

[2016-07-26 09:28] hwoarangmy commented on #1224
@Loobinex I've uploaded binaries with the fixes. Could you please try if you reproduce the bug ?

[2016-07-26 10:19] Loobinex commented on #1224
Sure.

[2016-07-26 10:22] Loobinex commented on #1228
With the recently implemented changes, I'd say the single most needed feature now is a full-map screen (#1151).

[2016-07-26 11:54] hwoarangmy commented on #1228
I might have a look at this as I agree it would be a nice addition. Probably will I add a new type of minimap to not mess with the current ones.

[2016-07-26 23:11] Loobinex commented on #1224
@hwoarangmy: I can confirm this issue fixed.

[2016-07-26 23:19] Loobinex opened #1231 "Creatures should always keep the job you assign them to"
In this game it feels you have very little control of what your creatures are doing.  Part of this is because when you assign a creature to work a room, they will just quit and do something else as soon as they come back from eating/sleeping/gold.

This should not be the case, once assigned to a job a creature should keep returning there unless he has a valid reason not to.

I've attached a save f

[2016-07-26 23:23] Loobinex opened #1232 "Mood icons rarely show up"
In this game it feels you have very little control of what your creatures are doing. Part of this is that you always see creatures wander off for no reason.
Mood icons would be perfect for this, but for some reason you only see those occasionally.

Whenever a creature is leaving an assigned room, he should show the reason why with the mood icon.

I've attached a save from git20160725 to see cultis

[2016-07-26 23:34] Loobinex opened #1233 "Creature info screen"
In this game it feels you have very little control of what your creatures are doing. Part of this is because when you assign a creature to work a room some of them will simply refuse and walk out. My guess is that not all creatures can work all rooms.

A very useful feature to have is to have a creature 'info' screen that shows important info in a user friendly way.

This should include the skill

[2016-07-26 23:39] Loobinex opened #1234 "Spells/rooms displayed as free when unable to cast/build"
![freeimp](https://cloud.githubusercontent.com/assets/13840686/17159027/9a54cc50-539a-11e6-8c5b-fa52838628be.png)
![freebridge](https://cloud.githubusercontent.com/assets/13840686/17159026/9a370292-539a-11e6-8363-9d6581ea5e79.png)

See the above screenshots. When you try to create a worker and don't have the mana, you'll quickly see the text flash it is 0 mana.
The other screenshot is made when yo

[2016-07-26 23:44] Loobinex opened #1235 "Fortified walls should be single sided besides rock"
![solidwall](https://cloud.githubusercontent.com/assets/13840686/17159103/13e71a6e-539b-11e6-9793-75d50747d0f5.jpg)

See the above screenshot from version git20160725. On the left you see a single sided fortified wall. This is correct, on the other side is dirt. On the top you see double-sided wall tiles, below rock and lava.
For the wall facing the lava this is correct, it should be double sided

[2016-07-26 23:50] Loobinex opened #1236 "Unclear where/what/who is under the effect of CTA spell"
The player does not get enough feedback when using the Call to Arms spell. Using it is currently trial and error.

When I cast it and when it's active I do not see the range. Furthermore creatures do not show if they are effected either.
I think it would be very helpful if the area where the spell can be heard is visualized and that a mood icon is introduced for creatures affected.

[2016-07-27 00:02] Loobinex opened #1237 "Change workshop icon"
On the research screen, the workshop icon looks like a trap and is positioned between other traps. This will cause the player to not recognize it as the workshop room, but as a trap.

So please either change this icon to indicate the workshop (like an anvil or something) or make a clear distinction between rooms, spells and traps in the research tree.

[2016-07-27 00:02] Loobinex opened #1238 "No warning for too small hatchery"
I played a game in version git20160725 and suddenly I had several creatures angry and I did not know why. After investigating a bit I found out that my creatures were hungry and I needed a larger hatchery.

It would have been very nice to receive a warning for this.

In case I should have, I attached the log file and replay of this game. I played just a single game in git20160725 so these are also

[2016-07-27 00:06] Loobinex opened #1239 "Keyboard shortcut to go to angry creature"
When you get a message a creature is angry, there's very little you can do about it because it takes a very long time to find and identify the unhappy creature.

What would be very helpful to streamline this process is to be able to press a single key to instantly focus the screen on the last creature you got an alert about and when you press it again toggle through all the other unhappy creatures

[2016-07-27 00:10] Loobinex opened #1240 "Creatures hide in lava"
When I played I suddenly noticed two 'prison' mood-icons in a lava lake. When I build a bridge the creatures did not surface.

When I pressed Alt I found out I now had multiple creatures under the bridge. See screenshot:
![mustbetrolls](https://cloud.githubusercontent.com/assets/13840686/17159659/376b4d26-539f-11e6-8769-0cb7b78ad649.jpg)

Doesn't seem right to me.

[2016-07-27 00:13] Loobinex opened #1241 "Trolls are always angry"
In the last game I played I've had several trolls, and they kept going angry. They shouldn't because they were in my dungeon and had enough food/gold/sleep. See save: [2016-07-27_010005-SK-Angel.zip](https://github.com/OpenDungeons/OpenDungeons/files/385053/2016-07-27_010005-SK-Angel.zip)

My guess is that they walk so slow that they can't keep themselves happy.

[2016-07-27 00:22] Loobinex opened #1242 "Room too small notification"
In this game it feels you have very little control of what your creatures are doing. Part of this is because when you assign a creature to work a room some of them will simply refuse and walk out. Load the attached save and drop two or more creatures in the arena south/west from the temple. Nobody will fight, creatures will just walk out and you don't know why.

My guess is that the room is too sm

[2016-07-27 00:28] Loobinex opened #1243 "Save camera position and hand"
I've noticed that when you load a save you'll always start at the temple and have nothing in the hand of evil. I don't know what happens to the creatures you were holding.

It would both be useful for the player to continue exactly where and how he left off when loading a save, and useful for the development team to get easily reproducible issues. When you see something wrong you can save the game

[2016-07-27 00:36] Loobinex opened #1244 "Unpaid creatures all waited around in treasure room"
I let all my creatures go unpaid during payday(had 0 gold). I started digging gems after payday which caused all creatures to go to the treasure room to get gold, but there was not enough to go around.

They then all stood there inside the treasure room doing nothing for a long time. Unfortunately the save game doesn't show it. The replay and log file are attached to issue 1238, the behavior occur

[2016-07-27 08:14] hwoarangmy commented on #1224
Thanks for the confirmation ^^

[2016-07-27 08:20] akien-mga commented on #1232
As far as I know the mood icons should show on hover or when you press <kbd>Alt</kbd> IIRC. When a creature has several mood affections, they should be shown one after the other in a rotation. If it doesn't, it might be a regression.

[2016-07-27 08:21] hwoarangmy commented on #1244
It is normal for the creatures to all go to the treasury as soon as you get some gold. However, they should go back to doing something else when there is no more gold. Note that since last PR, creatures will check much more often for their fee. That means that if you get gold from gem tiles only (which is pretty slow), they will all go to the treasury each time some gold is dug, do something else,

[2016-07-27 08:22] Loobinex commented on #1232
I did press Alt as well, and no mood Icons showed up.

[2016-07-27 08:22] akien-mga commented on #1218
Will handle this asap.

[2016-07-27 08:22] akien-mga commented on #1223
I'll fix that asap.

[2016-07-27 08:24] akien-mga commented on #1236
More than yet another mood icon, I think it might be nice to have a visual effect like a red glow on affected creatures, like they were subject to a kind of "frenzy" spell.

[2016-07-27 08:24] hwoarangmy commented on #1243
ATM, save games is not a complete feature. Many stuff is not saved (like you noticed) and bugs are expected to happen at load time. But I agree camera position and picked up stuff should be saved.

[2016-07-27 08:26] hwoarangmy commented on #1241
I guess your guess is correct ^^

[2016-07-27 08:27] Loobinex commented on #1244
It was not they were walking back and forward, they were all just standing there.
A random guess is that they decided to get gold, went to the treasure room, looked around and found it empty now. And in between the time they decided that and decided to return, workers dug some more gold so they decided to get gold again which was not enough for 15 creatures, repeat,...

Anyway, the steps I did wer

[2016-07-27 08:27] hwoarangmy commented on #1240
What's wrong with taking a bath ?

[2016-07-27 08:29] hwoarangmy commented on #1239
Good idea. I guess we may need some more mood icons (to show that they are not happy because they don't have their fee especially)

[2016-07-27 08:29] Loobinex commented on #1240
Prisoners don't deserve baths.

[2016-07-27 08:29] akien-mga commented on #1241
I guess we should slow down the troll's metabolism to match its speed. It should grow hungry and tired more slowly, and when it does, it should likely have to sleep longer and eat more than other creatures.

Not sure about how to circumvent the payday issue though. Should we introduce different payday modes, for creatures that would want to be paid e.g. only every other payday?

[2016-07-27 08:31] Loobinex commented on #1239
Or you can use a single 'Angry' mood icon and switch back and forth between that and for example the 'get gold' icon.

[2016-07-27 08:33] hwoarangmy commented on #1238
Concerning hunger, there is a mood icon so it should be easy to see that creatures are hungry.

Concerning room size, I would go for something more generic like displaying a message when a room is at full capacity for too long.

[2016-07-27 08:35] hwoarangmy commented on #1236
ATM, all creatures that can reach the call to arm and that are not busy should go. But if the spell is cast far from the creatures, it can be tricky to know what's going on. I guess something to see affected creatures would not be a waste.

[2016-07-27 08:36] Loobinex commented on #1241
I don't think the troll needing fewer paydays is a nice idea. Think it would be better to give it a bit more leeway with his mood if needed.

And like mentioned on another issue, perhaps it would be better to make creatures unhappy not when they are hungry/sleepy/unpaid but when they arrive at an empty treasure room/hatchery or are pulled away from sleep to do a job.

[2016-07-27 08:37] akien-mga commented on #1196
I think this was partly fixed by f5a65dc. Remains the issue with `gui/ODIcons.png`.

[2016-07-27 08:39] akien-mga commented on #1241
Well the issue is that if the troll is particularly slow and needs to go grab gold every 3 minutes, it's basically incapable of doing any job apart from going to a treasury room.

[2016-07-27 08:39] Loobinex commented on #1238
Yes, but I was busy digging tunnels toward the enemy when the creatures at home turned angry. I had to go back to my dungeon and search around for angry creatures. #1239 would help, but I'd like to be warned that I'm out of chickens before my creatures become unhappy.

A simple (voice) message "You need a bigger hatchery" would suffice.

[2016-07-27 08:41] Loobinex commented on #1241
Just make sure trolls are useful enough to have to make them worth the trouble. Then a player who wants to use trolls has to make sure he has gold right next to his training room/workshop.

[2016-07-27 08:43] akien-mga commented on #1238
Just a side note, we should make sure that we have a consistent design for visual and audio feedback that we give to the players. There are tons of things that need to be conveyed, and we already have quite a few different mechanisms:
- Overlay icons
- Text messages
- Audio messages

We need to ensure that we're using for each kind of feedback the proper mechanism and that it conveys the informati

[2016-07-27 08:50] hwoarangmy commented on #1232
No, mood icons are always displayed. Only the health icon is hidden and appears when pressing alt.

However, ATM, no mood icon says why a creature stops working as it may stop before getting too hungry or sleepy.

[2016-07-27 08:52] hwoarangmy commented on #1231
Yes, that's the current behaviour.

[2016-07-27 08:52] Loobinex commented on #1232
Well, that needs to be tweaked then. The whole point of the mood icons is to give visual feedback to the player on what a creature is going to do. In other words, if a creature is hungry enough to stop training, he is hungry enough to show the mood icon.

[2016-07-27 08:55] Loobinex commented on #1231
What is? Going back to the old job, or changing jobs after eating?
If the former, it is not working and I've got the saved game to prove it. (and the replay as well, see issue 1238).

[2016-07-27 09:01] Loobinex commented on #849
Any plans to still release any time soon, or is the new plan to keep adding issues to this milestone until you can rename it to 'version 1.0'?

[2016-07-27 09:03] hwoarangmy commented on #1244
ok, I will have a look.

[2016-07-27 09:05] akien-mga commented on #849
It should be released asap. The main issue being to prepare a release announcement :)

[2016-07-27 09:38] Loobinex commented on #849
If the announcement is holding it up, start freezing a version and do all new developments on the 0.8.0 milestone. With the 0.7.0 version waiting finished on a shelve the announcement will arrive sooner and doesn't have to aim for a moving target.

[2016-07-27 11:56] hwoarangmy commented on #1231
the current behaviour is to not remind the job it is doing when picked up

[2016-07-27 12:00] hwoarangmy commented on #849
Well, the thing is that it is usually @Bertram25 who takes care of the release announcement but he doesn't seem to be around for some time. And we don't know when he will come back.

However, IMHO, we should release the 0.7.0 version anyway (even with a basic announcement) and update the text when it will be ready.

[2016-07-27 12:34] akien-mga commented on #849
I agree; our website doesn't have much visibility either anyway, so the most important is to have a tagged version to show we're still alive IMO :)
I need to setup my chroot again to make the official binaries, but it should be easy to do.

[2016-07-27 12:36] Loobinex commented on #1231
Yes, that's fine. But I was not talking about picking it up. Steps to reproduce the issue:
1. Start a map.
2. Research a training room.
3. Assign all cultist you receive to the training room.
4. Observe as cultist will return to research before reaching level 10.

[2016-07-27 12:38] Loobinex commented on #849
Great. Any last minute bug fixes and/or configuration tweaks that will still go in 0.70 or do we have the final version?

[2016-07-27 12:41] akien-mga commented on #849
I want to handle #1223 and likely #1218 tonight, but probably won't do much more for 0.7.0. I don't know if @hwoarangmy has fixes queued, but the current state is good to release IMO, so we can tag it tonight.

[2016-07-27 13:55] hwoarangmy commented on #1231
yes, that's what I said. Once they stop working because sleepy/hungry/whatever, they do not remind that they were dropped in some room.

What I want to say is that what you describe is the current behaviour, not a bug. And reminding that the creature has been dropped somewhere would be an improvement, not a fix ;-)

[2016-07-27 13:56] hwoarangmy commented on #849
Well, I might go for the full level minimap soon but I have nothing queued at the moment.

[2016-07-27 17:59] akien-mga commented on #1234
I've had a quick look, this probably warrants some refactoring as right now the behaviour seems to be hardcoded in each spell. Maybe there should be a shared function for the delay of this string that would only be passed the spell-specific conditions for validity @hwoarangmy?

[2016-07-28 18:19] #1218 closed, assigned to akien-mga

[2016-07-28 18:19] #1223 closed, assigned to akien-mga

[2016-07-28 21:43] hwoarangmy commented on #849
IMHO, the current repo can be released.

[2016-07-29 21:54] Loobinex commented on #1151
@hwoarangmy Does this 'minimap' come with an option to toggle it to full screen?

[2016-07-29 22:20] hwoarangmy commented on #1151
no. It is a different minimap than the 2 other ones. For now, it is not possible to switch minimap.
This one displays all the map and do not rotate with the camera

[2016-07-29 22:23] Loobinex commented on #1151
Ok, I'll have a look when the binaries are available. I think though that a 'map' is a more important feature to have than a 'minimap'.

[2016-07-29 22:32] hwoarangmy commented on #1151
what do you call 'map' ? Would it be displaying the minimap bigger ?

[2016-07-29 22:40] Loobinex commented on #1151
Generally a map is full screen yes. What is key though, is that they have a different purpose.

A map is something you study. You actively open in to plan something or to look for something. This is a separate piece of gameplay altogether.
A minimap is something you keep your eye on during 'regular' gameplay, for example to see if white dots appear that you need to respond to.

A player would open

[2016-07-29 22:54] hwoarangmy commented on #1151
Well, we will see with the minimap if it is enough for you to display it bigger or if something else is needed.

Note that the minimap I've added is based on the current drawn minimap and probably lacks many stuff (for example some kind of alert and such). It is more a first draft ^^

[2016-07-29 23:07] Loobinex commented on #1151
Sure, we'll have a look first.

Having alerts is indeed a feature that fits a minimap. As they are displayed during normal gameplay performance is important to focus on, and they need to be rotated along with the player screen to be useful.

For maps, performance is hardly an issue because the normal gameplay does not need to be displayed. Maps always face north.

For reference, this is how the or

[2016-07-30 11:52] hwoarangmy commented on #1151
I've uploaded new binaries with the new minimap. To enable it, you need to go to the 'settings' menu in the 'game' tab

[2016-07-30 12:43] oyvindln commented on #849
Agreed, we should get a release out as soon as possible.

[2016-07-30 13:39] Loobinex commented on #1151
Sorry, but I've got to say it has become quite useless now. Everything is really small so you can't see what's going on. There's no clear indication on where you are (e.g. a rectangle to indicate where you've got the main screen focused) and clicking on a spot to go there doesn't really work. When I do the screen turns black (it seems to be outside of the level range).
I can't even see the rival p

[2016-07-30 14:22] hwoarangmy commented on #1151
granted, the rectangle to know where the player is looking is needed (as I said, it is a first draft that only draws the map like the other minimap does). I've checked what happens when clicking the minimap and it seems like there is a bug when the camera is rotated. I will have a look.

[2016-07-30 15:05] hwoarangmy commented on #1151
I've looked and it is a typo. I should be more carefull when doing last minute changes before committing ^^

[2016-07-30 18:03] hwoarangmy commented on #1151
I've fixed the binaries to allow clicking on the minimap to move the camera. Note that with the bug, the T shortcut to move back to the temple did work but because the camera goes pretty far, it takes some time. It seems like you were not patient enough ;-)

[2016-07-30 18:41] akien-mga commented on #849
Done: https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.7.0 \o/
Congrats everyone, and especially @hwoarangmy who did most of the work on this release!

I'll start working on a release announcement, if the rest of you feel like making some cool screenshots for the blog post, it would be great :)

[2016-07-30 18:49] akien-mga commented on #849
Wow, I hadn't realized that 0.6.0 was 11 months ago already o_O

I'm currently uploading the source tarball to TuxFamily, as well as preparing the Linux binaries. (need to setup my chroot again for that)

[2016-07-30 19:50] hwoarangmy commented on #849
windows binaries are also uploaded. Note that I won't be around for some days but I will try to come to the forum from time to time.

[2016-07-30 22:18] Loobinex commented on #849
Congrats.

![cultists](https://cloud.githubusercontent.com/assets/13840686/17273382/506c06aa-56b3-11e6-90ba-49cf08ba4825.png)

[2016-07-30 23:02] akien-mga opened #1247 "StackTraceUnix: Add support for arm arch"
I was positively surprised to see that OD [builds almost properly on armv5tl on Mageia](http://pkgsubmit.mageia.org/uploads/failure/cauldron/core/release/20160730220223.akien.duvel.33969/log/opendungeons-0.7.0-1.mga6/build.0.20160730221608.log); however it fails right at the end when building StackTraceUnix:

[code]

So, opening an issue for this TODO. It would be nice to have support for those ar

[2016-07-30 23:06] akien-mga commented on #1247
A few lines above we have:

[code]

So I guess it's wrong to make the lack of support for non-x86 platforms a blocking `#error`.

[2016-07-31 12:30] akien-mga commented on #1247
I fixed the arm builds on Mageia with this patch: http://svnweb.mageia.org/packages/cauldron/opendungeons/current/SOURCES/0001-Fix-compilation-of-StackTraceUnix-on-non-x86-platfor.patch?view=markup
It's a bit hackish though, but if it's fine with you as a quick solution I can make a PR :)

[2016-08-02 09:21] eugeneloza opened #1248 "GUI buttons scale strangely"
GUI buttons scale strangely. Moreover, default window size makes lower button clip (window height should be larger by ~64px). P.S. note that Windows and Linux calculate window height differently: If I remember it correctly it's pure window height (without caption and borders) in Windows and total window height (including borders and caption) in Linux.
![160802_od_bugs](https://cloud.githubusercont

[2016-08-02 09:22] eugeneloza commented on #1165
Oops... I've just noted that you're using normal keeper voice (while noted as "groan"), and I was re-recording groan (more agressive) voice :) I should re-record the keeper using normal voice also.

[2016-08-07 10:13] Loobinex opened #1249 "Classic temple - Pray and sacrifice"
In DK1 the temple was used both to make creatures pray to get happy and to sacrifice creatures. In DK2 the casino was introduced for the happiness part and the temple was used to get more mana and to sacrifice creatures.
OpenDungeons has renamed the dungeon heart as the temple, and does not have the classic temple room at all.

However, as you want to have a multiplayer focused game, I want to pro

[2016-08-12 18:54] hwoarangmy commented on #1165
The voices can be chosen in the settings menu. Both groan and normal are available IIRC.

[2016-08-12 21:48] hwoarangmy commented on #1249
I agree the temple was not used enough in the original DK games and its behaviour should be improved. However, we have no fitting model AFAIK so let's hope someone would upload something fitting on open game art.

[2016-08-13 09:13] hwoarangmy commented on #1247
Well, I wouldn't be against removing all the flags for platforms that can be removed (beware of the pointer size). After all, if it is an Unix system, it should work. And it might work for untested platforms (like in this case).

[2016-08-16 05:52] roman-yagodin opened #1250 "Cannot destroy a room on reclaimed title"
Playing 0.7.0 (Linux version) I've noticed, that I cannot destroy rooms build on titles, that were reclaimed from another player. The destroy tool shows "retrieve 0 gold" and do nothing. The other strange thing (could be somewhat linked with the issue) is that workers seems ignore remaining enemy-claimed fortified walls if those are around my rooms.

[2016-08-16 23:09] hwoarangmy commented on #1250
Hi

Which room have you tried to sell ? The only claimable rooms right now are portals and bridges. And portals cannot be sold (be it stolen from someone else or owned since game start) so I assume that's what you wanted to sell and that's why it didn't work.

Workers should claim enemy fortified walls as soon as there is no enemy claimed ground tile connected to the given claimed tile. Are you su

[2016-08-17 04:01] akien-mga commented on #849
Still WIP, but I haven't forgotten about this. I was delayed by publishing a Godot release: https://godotengine.org/article/godot-reaches-2-1-stable and now have some holidays, so I'll work on this end of August.

[2016-08-18 06:19] roman-yagodin commented on #1250
I've tried to sell my own rooms (e.g. treasury) build on my own titles, which were (previously) claimed by enemy.

Well, I'm pretty sure:

![odscreenshot_2016-08-18_084150_2](https://cloud.githubusercontent.com/assets/5691178/17763597/b82ba63a-652a-11e6-91d8-647fcc6125ec.png)

Other files - a savegame, short replay and log:

https://github.com/roman-yagodin/bug-reports/tree/master/opendungeons/ope

[2016-08-18 17:09] hwoarangmy commented on #1250
Thanks, your report seems pretty complete. I will have a look ASAP. But at first glance at your screenshot, it seems the treasuries doesn't provide you with vision so it seems you are not considered as owner of the tiles they are on. Thus, you cannot claim the walls near to them (nor sell them). The strange thing is that your creatures should attack them.

[2016-08-18 17:53] hwoarangmy commented on #1250
Note to self: I should add a log when a tile is claimed

[2016-08-18 18:54] hwoarangmy commented on #1250
@roman-yagodin I've had a look at the files you posted and, indeed, the tiles belong to player 2 while the room belongs to you. This seems to have been kept in the savegame. I've tried to reproduce the bug but couldn't (it worked well for me when I tried to claim enemy claimed tiles and then built a treasury).

Do you remember how you achieved this result ?
Have you saved/loaded games or played th

[2016-08-18 19:59] roman-yagodin commented on #1250
No, and I cannot reproduce it either, as when I load older savegame (before rooms was build), workers behave just as intended trying to reclaim enemy-claimed fortified walls and my newly build rooms are destructible.

I save/loaded several times.

I haven't noticed. Can only guess that it was showed up after loading a savegame.

I've build rooms on my own titles just after they were reclaimed from

[2016-08-19 17:36] hwoarangmy commented on #1250
ok. Let's keep that in mind and do not hesitate to post the replay and log if you can reproduce it.

[2016-08-20 09:36] roman-yagodin commented on #1250
I tried to reproduced the issue again and have some progress at this time.

I've loaded game from `2016-08-13_213203-SK-DuelToDeath.level` savegame - before any my rooms was build on reclaimed titles. Playing game don't produce any issues, but saving to
`2016-08-20_121349-SK-DuelToDeath.level` after building my rooms and then reloading game from the save shows up the issue.

See files here: https:

[2016-08-20 12:44] Loobinex commented on #1151
@akien-mga: That commit does not fill this request. Could you please re-open this issue?
The request is for a map screen that provides an overview. What @hwoarangmy implemented is a different minimap that is too zoomed out to be useful.

At the very least the map should allow you to see where the portals are located.

[2016-08-20 18:10] hwoarangmy commented on #1250
Thanks. Now, we have a better vision of what is happening. I will have a look ASAP

[2016-08-20 19:47] hwoarangmy commented on #1250
Ok, I've seen what's going on. You have spotted 2 different bugs here.
First, when a room is destroyed, it should be kept until all human player have seen it destroyed. Since you are playing skirmish, you are the only human player and the room (the treasury you destroyed) should have been removed. But it seems it is not.

Second, when the rooms are created, the tiles they are on are associated wit

[2016-08-20 21:44] Loobinex commented on #1250
You must get lucky a lot.
;-)

[2016-08-21 07:43] hwoarangmy commented on #1250
At least when new bugs are found ;-)

[2016-08-21 10:46] #1250 closed, assigned to nobody

[2016-08-21 14:50] hwoarangmy commented on #1250
@roman-yagodin The bug is fixed and should be released in the next snapshot. Thanks for reporting. If you see something else or if you want to give some feedback, please do not hesitate.

[2016-08-21 14:52] hwoarangmy commented on #849
On the 0.7.0, we have found that the editor is broken. Is it worth baking 0.7.0 again ?

[2016-08-21 14:54] roman-yagodin commented on #1250
OK, thanks!

[2016-08-21 22:50] akien-mga commented on #849
Now that's it's tagged, it might be better to tag 0.7.1 instead.

[2016-08-22 17:30] hwoarangmy commented on #849
ok. Do you want to use the current dev repo or only push the needed commits ?

[2016-08-22 17:37] akien-mga commented on #849
I think current dev would be fine, we have too little manpower to start maintaining "stable" branches (and too little players for it to matter much, I think most players will like having the very latest even if slightly less tested).

[2016-08-23 07:28] roman-yagodin commented on #1178
I'd like to add my two coins...

I think objectives could be divided to primary and secondary. If all primary objectives fulfilled, it means victory. If one or more of primary objectives failed, it means defeat. Player can fill or fail any number of secondary objectives, but they could have some meaning in reaching some primary objectives more easily or in long-term view (campaign mode).

By examp

[2016-08-23 18:13] hwoarangmy commented on #849
I agree. I will make 1 last PR for displaying the rectangle on the full minimap and then, I'm done

[2016-08-23 18:27] hwoarangmy commented on #1178
That's what the RTS games I know do so I guess it is a good choice ^^

Note that our architecture requires 1 server (usually a player). If he disconnects, the game ends. Concerning player disconnection, ATM, no AI will replace it. However, it should not be impossible to change that (but not planned yet).

[2016-08-23 20:25] akien-mga commented on #849
The good thing is that I can then skip the 0.7.0 release announcement and announce 0.7.1 directly :P

[2016-08-24 10:48] Bertram25 commented on #849
@akien-mga @hwoarangmy I've started something here: https://etherpad.net/p/od_0.7.0_release_notes (I'm trying to fulfill my promises.)
Feel free to comment and improve. A note about what's is needed next would be good to attract new people IMHO. Just my two cents, of course. ;)

[2016-08-24 12:21] Bertram25 commented on #24
Closing as obsolete. Let's open issue about a potential scripting language once we will be there.

[2016-08-24 12:21] #24 closed, assigned to nobody

[2016-08-24 12:25] Bertram25 commented on #852
@Danimal696 Still not done?

[2016-08-24 12:26] Bertram25 commented on #868
@hwoarangmy @akien-mga  I don't have this issue anymore with the latest build. Can you confirm?

[2016-08-24 12:28] Bertram25 commented on #912
Was added in #1253

[2016-08-24 12:29] Bertram25 commented on #924
@hwoarangmy Isn't this done, btw?

[2016-08-24 12:30] Bertram25 commented on #1056
Last checked, this was almost done. I think we can close this one. WDYT @hwoarangmy @akien-mga ?

[2016-08-24 12:31] Bertram25 commented on #1076
I'm closing since the answer was given.

[2016-08-24 12:31] #1076 closed, assigned to Danimal696

[2016-08-24 12:40] Bertram25 commented on #1226
@Loobinex  I precised the issue scope. Please don't open vague issue here, but rather open forums threads for such cases. Issues should have a defined scope, otherwise we will never be able to close them.

Is @hwoarangmy fix sufficient or do you see further improvements? Should the map be tagged as test?

[2016-08-24 12:46] Loobinex commented on #1226
@Betram25 The task at hand was not vague, just large and annoying, many of the included maps feature too much cluttered water/lava. Angel Nest was just a single example. The task would be to check and change all map.

But I can't be bothered by that either, so we'll leave it at this and if I play another map and I find it particularly annoying I'll report it for that specific map.

I've looked at

[2016-08-24 14:07] Loobinex commented on #849
So, what do you want to focus on for 0.8?

[2016-08-24 14:34] Bertram25 commented on #1226
@Loobinex Please don't get me wrong. I fully understand the point here. the thing that I'm trying to defend as a developer standpoint, is that vague/large/neverending tasks never get done.

To keep our own motivation going and permit other to easily participate, we need to have itemized tasks so that someone can accomplish them in a sane amount of time. that's why I'm trying to advocate for large

[2016-08-24 14:34] #1226 closed, assigned to hwoarangmy

[2016-08-24 17:37] Loobinex commented on #1226
@Bertram25 Having some high level placeholder issues also has some uses. If I would have taken my time, looked at all the maps with issues, and reported 25 separate issues for maps that need fixing your issue list will also start to look like a massive mountain to climb. I'm having no problem with this particular issue being closed, just talking in general.

'Big issues', even vague ones do have v

[2016-08-24 18:06] hwoarangmy commented on #1226
Yes but @Bertram25 is only saying that it looks more like forums issues (that should be on our forum) rather than github issues. I must say I agree with him here. That's because we use github issues to know more or less what everybody is working on and avoiding working on similar stuff when possible. Since there is not that much activity, it might seem a bit oversized but, a year ago, when there w

[2016-08-24 18:07] hwoarangmy commented on #849
well, it would be 0.7.1 ^^

[2016-08-24 18:11] hwoarangmy commented on #1056
Well, I was thinking about the GUI::\* static strings and there are still many of them (after a quick look, there are many related to editor/game mode only for example).
But if you want to keep them there, I don't mind so feel free to close the issue if you want

[2016-08-24 18:15] hwoarangmy commented on #868
unfortunately, it is still present when the minimap camera is used. It is related somehow to rendering in the texture minimap (maybe because it takes too much time to render).

[2016-08-24 18:15] hwoarangmy commented on #924
Yes, done in #1198

[2016-08-24 18:15] #924 closed, assigned to tomluchowski

[2016-08-24 18:45] Bertram25 commented on #849
I thought 0.7.1 was done? I think @Loobinex 's question is right.

[2016-08-24 18:46] Bertram25 commented on #1056
Nope, if you believe it is not done. Let's keep it open, then.

[2016-08-24 18:47] Bertram25 commented on #868
Arg, you're right. Sorry, I'm still in the process of catching up.

[2016-08-24 18:49] Bertram25 commented on #1226
@Loobinex I must say I'm fully aligned with @hwoarangmy there. As this permits to prevent cluttering the issue list per release, and get things done (TM).
That said, if general features and problems arise, forum can be there to display them, and issues can be there to split the job in sensitive steps.

For instance, those are not fine, IMHO, as they will never ever be done as they are stated. Maki

[2016-08-24 18:59] hwoarangmy commented on #849
No, we baked 0.7.0 few days ago but seen critical problems (mainly the editor that crashes at map load). Since we had merged the full drawn minimap, I just added the rectangle so the minimap can be used.

IMHO, with the PRs merged, 0.7.1 is ready to go. I will make the build ASAP.

[2016-08-24 19:53] hwoarangmy commented on #849
I've updated the release/levels for 0.7.1

[2016-08-24 20:29] Bertram25 commented on #849
Ok, I think we're close from an actual release. :D What is left is to talk a bit about the initial plans for the 0.8.0 version, and I'll write something about that, and create a PR for the website once the release binaries are online.

[2016-08-24 21:06] Loobinex commented on #849
That was my question, what is the focus/theme/key feature of version 0.8?

[2016-08-24 21:20] hwoarangmy commented on #849
Binaries are uploaded:
http://download.tuxfamily.org/opendungeons/0.7.0/OpenDungeons-0.7.1-Win32-MSVS2013.zip

Only missing linux binaries

[2016-08-24 21:45] Bertram25 commented on #849
I was far away for quite long, so I must say I can't tell like that. @akien-mga @hwoarangmy @Danimal696 ?

[2016-08-25 17:03] hwoarangmy commented on #849
Well, as always, it depends on what he contributors want to do. Usually, there are many differences between what we aim for and what is done.
However, I would think that what is most needed is:
- Support win/defeat logic
- Improve creature behaviour to make the game more fun
- Use the new sound events

[2016-08-25 17:59] Danimal696 commented on #852
i actually did, the beast grow up to 800+ MB, Github failed at each try to update; should i try it again at smaller chunks or is it way too big?

[2016-08-25 20:49] Loobinex commented on #849
Setting a goal for the next milestone will help with focus and motivation, and will also help with release planning. It does not matter at all if unrelated features are worked on as well, or if focus is changed half way through.

[2016-08-26 13:48] Bertram25 commented on #849
Created PR for release notes: https://github.com/OpenDungeons/opendungeons.github.io/pull/20

I created a branch on the remote for the PR so that you can fix and push there as well.

One need to upload the binaries to tuxfamily first, though. :) @akien-mga ?

[2016-08-26 13:49] Bertram25 commented on #849
Let's speak of future goals, why not in a separate article, if at all. Improvement to the gameplay is something important it seems, in any case.

[2016-08-26 16:59] akien-mga commented on #912
Closing as fixed.

[2016-08-26 16:59] #912 closed, assigned to Bertram25

[2016-08-26 17:31] akien-mga commented on #1226
I think it's fine to have broad issues at first that then get closed and repurposed into more specific issues. Whether it's on GitHub or on the forum is a matter of taste and policy, if we want this to stick on the forum it's fine by me. GH is IMO a bit more convenient for most developers discussions (in other projects I contribute to we even have a "discussion" label for such issues), as you can

[2016-08-26 20:29] Bertram25 commented on #912
At least, I did something for 0.7.1 XD

[2016-08-26 22:41] Loobinex commented on #1151
@hwoarangmy, I've tried the updated minimap in 0.7.1 and noticed the rectangle does not quite show what's on screen. (notice the rectangle covers the border rock, but you can't see it.) That makes it a bit confusing.

![rectangle](https://cloud.githubusercontent.com/assets/13840686/18022398/d079b612-6bee-11e6-805c-ca4204d48ebd.jpg)

[2016-08-27 08:00] hwoarangmy commented on #1151
To know which tiles are on the border, we use ogre to know where the ray on each corner pixel hits the plane Z=0. When the camera is rotated like it is in this case, it probably hits a little too far.

[2016-08-27 08:01] Loobinex commented on #1151
It never matches in perspective view. I just took it to the border to make it easy to see. Compare the rest of the picture.

Edit, o wait, that's what you said, nevermind.

[2016-08-27 08:28] hwoarangmy commented on #1151
I guess one easy fix would be to check where the ray hits a little bit higher than Z=0 (but since the tileset is configurable, it is a kind of dirty fix).
We could also check which tile is hit like it is done when the player clicks. But I'm not sure how it would hurt performances.

[2016-08-27 08:39] hwoarangmy commented on #849
Yes. We also need to pecisely define how we want to tune the creature behaviour and create the corresponding issues (if they are not already)

[2016-08-27 21:10] hwoarangmy commented on #1240
I had forgotten about this issue ^^
Note that here, the problem is known and due to a synchronisation problem of creature positions between the server and the client.
Basically, when the server computes a path for a creature, it is sent on the client and the creature will go at the wanted position. No event is sent until the creature reaches its destination on server side. When that happens, the s

[2016-08-28 00:11] Loobinex commented on #1240
You're talking about solutions for when a synchronization problem occurs.

But what causes the client and server to go out of sync, and is it worth looking into (also) making sure that this doesn't happen (as much)?

[2016-08-28 20:26] Bertram25 commented on #852
Arf, I'm sorry for the hindrance. Git is simply not the best thing for that, while I admit I like to see repositories at the same location.
800 Mb is way too big IMHO for a single push. Do you think it could be possible to push 50-100Mb max at a time?

[2016-08-29 14:38] Loobinex opened #1255 "Inconsistent behavior when changing settings during gameplay"
When you start a level, go to the settings menu from there, and change a setting, there's no telling what will happen. Some settings are applied straight away, some settings take no effect, and other settings will break your game.

My suggestion is to apply the settings that can take effect without any problems, and for all others show a message that says something like 'These settings will apply

[2016-08-29 14:38] Loobinex commented on #912
@Bertram25: It's sunny outside today, so I had a look, and the game is totally playable now when I adjust this setting. It wasn't before.

Only strange thing is you put this setting in the 'game' tab instead of the 'video' tab of the settings menu.

[2016-08-30 18:07] hwoarangmy commented on #1255
In fact, there are 3 cases:
- Changes at game restart (needs to close and open the game). Example: Keeper language
- Changes for the next game (no need to restart the game). Example: Minimap type
- Changes immediately. Example: ambient light and ATM, screen resolution

I have also witnessed some random behaviours when changing resolution. I guess the safer way to handle that would be, as you sugge

[2016-08-30 21:06] Bertram25 commented on #912
@Loobinex Thanks for the test and the feedback on it. I could indeed move the setting back into video, and if everyone is ok about it, I'll do it. WDYT guys?

[2016-08-30 21:15] Bertram25 commented on #1255
We could also add captions. Like adding a little star in front of certain settings. And link the star to some explanation.
Another simple way could be to show a pop-up warning about the change after restart whenever one of the settings involved is implying a restart.

Also, I know it's not part of this issue, but I wonder if we couldn't improve the minimap mode to be changeable on the fly using a

[2016-08-30 21:24] Loobinex commented on #1255
I think captions, color coding or a legend are a bit much. People will not find it strange that not all settings can be applied without a restart and or new game, and it is very common to just throw a standard dialog that says the settings will be applied after a restart.

Important is just for you to register for every setting (in a uniform way) whether it requires a restart or not, and act on th

[2016-08-31 19:33] hwoarangmy commented on #1255
Actually, the star was also my first idea but I thought that talking about colors would be more meaningfull.
Some games I know of use a popup as you suggest but I think it would be better to see at first glance if a setting will require a restart or not (instead of having to change the setting to know if it will be applied at runtime or not).

Everything is possible ;-)

[2016-08-31 21:17] Danimal696 commented on #852
i can try

[2016-08-31 21:42] Loobinex commented on #1255
There's nothing wrong with making a pretty solution for this, I just think you'll get a low return on investment here.

[2016-09-04 19:29] hwoarangmy commented on #1151
Removing assignment since I'm done with the minimap.

[2016-09-06 15:32] Danimal696 commented on #849
Great update in the Webpage! :)

[2016-09-06 17:54] Loobinex commented on #849
People should be flooding in now: https://keeperklan.com/threads/896-OpenDungeons?#post50878

[2016-09-06 20:19] hwoarangmy commented on #849
Cool. Shall we close this one ?

[2016-09-07 09:14] roman-yagodin opened #1256 "libpcre.so.1 is missing in Linux 64-bit binary package"
So the subject, `libpcre.so.1` library is missing in Linux 64-bit binary package for v0.7.1 release. Adding one from v0.7.0 fixed the issue.

[2016-09-07 09:20] akien-mga commented on #1256
Thanks, I'll have a look.

[2016-09-07 19:12] hwoarangmy commented on #1256
@akien-mga BTW, is there a reason why you don't build 32 bit versions ?
It would work on more systems than 64 bit, no ?

[2016-09-07 19:18] akien-mga commented on #1256
There aren't many 32-bit Linux users, it's a privilege left to the Windows ecosystem to stay so behind technology :p More seriously, it's just a bit more work and so far nobody complained, so I guess all users were happy with the 64-bit binaries. If there's demand, I'll do 32-bit binaries too.

[2016-09-07 20:27] hwoarangmy commented on #1256
I'm asking because I've been asked on ufo ai forum:
http://ufoai.org/forum/index.php/topic,9071.0.html

Since you are the one baking linux binaries, it is your call to decide if you want to build 32 bit binaries or not.

[2016-09-08 17:41] shinnova opened #1257 "Option to toggle the system cursor display on top of the keeper hand"
When I am in game I have both the hardware and software cursor visible at all times. Any ideas what could be causing this?

[code]

[2016-09-08 22:27] hwoarangmy commented on #1257
It is not a bug. That's because the keeper hand do not make very easy to know exactly where the cursor is.

[2016-09-09 08:43] Loobinex commented on #1257
It works fine for now, but I think eventually the hand-cursor should be redesigned to make it clear where the hotspot is.

[2016-09-09 08:46] akien-mga commented on #1257
I'd propose to make it possible to toggle the display of the system cursor in the options. IIRC I have a couple patches in a local branch that I never finalised as I was getting crashes in the input manager and was not familiar enough with C++ to fix them :P I'll have another look.

[2016-09-09 08:48] akien-mga opened #1258 "Rework the keeper hand model to make the hotspot clearer"
Follow-up on #1257.

[2016-09-09 08:49] Loobinex commented on #1258
Does implementing this one not make #1257 obsolete?

[2016-09-09 08:55] akien-mga commented on #1258
It might, though the option wouldn't hurt either in case some users are still uncomfortable even with an improved keeper hand. And this issue requires an artist, which typically makes it a long-term solution :P

[2016-09-09 15:37] bark10 opened #1259 "Issues with libstdc++.so.6 in Linux 64-bit binary package"
I'm having issues running the 0.7.1 Linux64 binary on Trisquel 7.0 (3.13.0-93-lowlatency). I have tested the binary on two different Trisquel boxes (one being a fresh install) and on Ubuntu 15.04 (3.19.0-68-generic x86_64). The binary works fine on the latter, but does not in Trisquel.

Interestingly, binary packages prior to OD-0.7.0 still run fine (on both Trisquel boxes), while 0.7.0 and 0.7.1

[2016-09-09 15:50] akien-mga commented on #1259
Thanks, I'll have a look together with #1256. Prior to 0.7.0, I had another script to generate the binaries in my chroot but I sadly lost it, and had to go back to the earlier version we currently have versioned in the git repo. I'll have to compare the libraries I bundled in 0.6.0 and 0.7.1 and see what needs fixed.

[2016-09-13 18:28] hwoarangmy commented on #1244
I've had a look at the replay and indeed, it is the described behaviour. Once you get a small amount of gold, all the creatures rush to the treasury to get their fee. And because you are broke, they wander around.
We could lock the gold to avoid this behaviour but IMHO, it is ok like this.

[2016-09-13 21:05] Loobinex commented on #1244
My suggestion is to park the issue for a while. I think when #1232 and #1231 are fixed, the behavior in this situation would be completely different.

[2016-09-28 19:55] akien-mga commented on #1259
Do you still have that error log? The paste expired.

[2016-09-30 10:44] bark10 commented on #1259
Certainly. Link in initial report has been replaced - this one will not expire.

[2016-09-30 10:52] akien-mga commented on #1259
Thanks. The issue is that the chroot I used to build the binaries is a Mageia 5 x86_64 with glibc 2.20, which is likely too new for  Trisquel 7.0.
For previous binaries, I was using Mageia 4 x86_64 with glibc 2.18, which gave better compatibility with older distros. I changed the chroot distro version because I lost the previous one when reinstalling the host OS carelessly, and somehow could not g

[2016-10-03 20:28] akien-mga commented on #1256
I uploaded an hopefully fixed tarball, can you test? http://download.tuxfamily.org/opendungeons/0.7/OpenDungeons-0.7.1-Linux64.tar.bz2

[2016-10-06 16:07] roman-yagodin commented on #1256
Unpacked and running OK.

[2016-10-06 16:10] akien-mga commented on #1256
Awesome :)

[2016-10-06 16:10] #1256 closed, assigned to akien-mga

[2016-10-09 17:31] akien-mga opened #1261 "License of the website contents"
Currently our website repo seems to use the GPLv2 license: https://github.com/OpenDungeons/opendungeons.github.io/blob/master/LICENSE

That's a bit weird since our source code is GPLv3+, so I'm not sure why @Bertram25 chose GPLv2 in the first place.

I'd propose us to use something more appropriate for a website and its screenshots, like CC BY-SA 4.0, WDYT? It should be mentioned in the web repo a

[2016-10-13 16:23] oyvindln commented on #1041
I'm going to have a crack at moving to SFML for input and get rid of ois, which should hopefully solve this issue.

[2016-10-28 19:35] akien-mga commented on #1261
@OpenDungeons/developers Do you all agree to relicense the website contents to CC BY-SA 4.0?

[2016-10-28 19:36] akien-mga opened #1263 "Provide a RSS or ATOM feed for the website news"
So that I can get it added to http://planet.freegamedev.net/

[2016-10-28 19:41] Bertram25 commented on #1261
@akien-mga sure. Sorry for the non-fitting license.

[2016-10-29 20:06] #1041 closed, assigned to oyvindln

[2016-10-30 20:45] oyvindln commented on #1263
Seems simple enough:
https://help.github.com/articles/atom-rss-feeds-for-github-pages/

[2016-10-30 21:40] akien-mga commented on #1263
Not that simple as we're not using jekyll but static html content, so our news section is not really one, it's just index.html that gets updated :)

[2016-11-23 13:57] abenkovskii opened #1265 "Traps are invisible after load"
Version: 0.7.1
Steps to reproduce:
1. Start skirmish
2. Research, designate and build traps
3. Save
4. Close the game, reboot computer (not sure if this is necessary, but that's what I did)
5. Load skirmish

Expected:
Traps are visible
Got:
Traps, both the ones already built and the ones just designated, but not built are invisible, but appear to be there (can't designate other traps on this squar

[2016-11-23 18:16] abenkovskii opened #1266 "Doors don't work"
Version: 0.7.1
Enemies walk through closed doors.
Alternatively:
Doors destroyed by dragons and nature monsters look like they are still there when in fact they are "disarmed".

[2016-11-26 15:56] oyvindln commented on #1266
This only happens with some types of monsters?

[2016-11-29 13:09] abenkovskii commented on #1266
@oyvindln Do doors only "work" on allays? Because all enemies seam to be able to pass through them.

[2016-11-29 22:46] oyvindln commented on #1266
No they're supposed to work on all creatures, so if enemies can pass through them that's a bug.

[2016-11-30 19:22] hwoarangmy commented on #1266
It is strange for enemy creatures to go through doors. They should attack it. My guess is that the door is only placed, not built (no door trap has been brought from the workhop).
If it is not the case, could you upload a replay showing this bug ?

[2016-11-30 19:23] hwoarangmy commented on #1265
Is it systematic ? If not, could you please upload the log file and the saved game that shows this bug ?
I will try that when I can.

[2016-12-01 13:47] abenkovskii commented on #1266
I definitely saw a worker carry a door to the designated location and it definitely was closed. I even checked: allies weren't able to go through it. Sadly, I didn't save the replay (very foolish of me). I'll try playing it again.

[2016-12-01 13:57] abenkovskii commented on #1265
It it happens often, though not always. Where to find the log file? I only found OpenDungeons/build/Ogre.log. Is this the one?

[2016-12-01 15:43] abenkovskii commented on #1265
Sorry can't find the saves. Where are they stored on linux?

[2016-12-01 16:08] abenkovskii commented on #1265
NVM I found them in ~/.local/share/opendungeons

[2016-12-01 17:22] abenkovskii commented on #1266
Here is the replay. I didn't watch it, but the door definitely was built and it looked intact when enemies were walking right through it.
[replay_20161201_174327.odr.zip](https://github.com/OpenDungeons/OpenDungeons/files/625302/replay_20161201_174327.odr.zip)
Here are the log files I found. One of them must be the one.
[CEGUI.log.txt](https://github.com/OpenDungeons/OpenDungeons/files/625140/CEGU

[2016-12-01 17:32] abenkovskii commented on #1265
Here is a save file where it happened.
[2016-12-01_175801-SK-DuelToDeath.level.zip](https://github.com/OpenDungeons/OpenDungeons/files/625333/2016-12-01_175801-SK-DuelToDeath.level.zip)
Here is a replay showing a worker carrying a trap to a seemingly empty square
[replay_20161201_180200.odr.zip](https://github.com/OpenDungeons/OpenDungeons/files/625336/replay_20161201_180200.odr.zip)
Here are the

[2016-12-01 21:01] hwoarangmy commented on #1266
Thanks for the report. If you want to report another bug, opendungeons.log is the last game log. Each time you launch the game, log files are renamed in case you accidentally launch another game before getting the log (that's the files .log.1, .log.2, ...).
Back to the topic, I've had a quick look and, indeed, there is a problem. It seems like rogue creatures ignore doors (unlike your creatures or

[2016-12-01 21:08] hwoarangmy commented on #1265
It seems traps are not displayed, even in standard games. A big bug we missed ^^

[2016-12-02 03:55] abenkovskii commented on #1266
Are heroes from the "Falling keeper" considered rogue? They have their own player (blue) assigned to them and they can go rogue (white) sometimes. I think I saw them pass through doors too.

[2016-12-03 09:03] hwoarangmy commented on #1266
Then, the bug is worst than expected.

[2016-12-08 00:20] Svetomech commented on #1145
I have this exact issue on a fresh install. Also, it doesn't go away thus rendering the game unplayable in SP.

[2016-12-15 11:04] Hokbras opened #1267 "added the Private variable names section in the Naming, comments and documentation"
Hi,

In the code guidelines, I added the "Private variable names" section in the "Naming, comments and documentation". [here](https://github.com/OpenDungeons/OpenDungeons/wiki/Code-Guidelines/_compare/a33831b6cf8ec8bfc9f6f478161989bf40a53bf0...a46416a935154dbf927047d45f7cfc9f445fcb59)

Hope it's good for you ;-)

[2016-12-27 16:27] hwoarangmy commented on #1266
I've had a look and it is indeed related to trap vision management (like the other bug you spotted on traps not being visible) #1265
Thanks for reporting, I will fix it ASAP

[2016-12-27 16:28] hwoarangmy opened #1268 "Remove dependency to OIS"
@oyvindln I think you have started working on this point. Are you still working on it ?

[2016-12-27 16:32] oyvindln commented on #1268
I started on it yea, and committed some stuff, I haven't worked much on OD lately though.

[2016-12-27 16:35] hwoarangmy commented on #1268
wow, that's fast answering ^^
Are you still on it ? Do you want to assign this issue ? If you want, I can help as I should have some free time.

[2016-12-27 16:41] hwoarangmy commented on #1267
Looks good, thanks

[2016-12-27 16:41] #1267 closed, assigned to nobody

[2016-12-27 17:43] hwoarangmy commented on #1268
@oyvindln BTW, I've tried your PR and it seems I get some weird results with windows
![sfml_window](https://cloud.githubusercontent.com/assets/7493706/21505067/57b76180-cc64-11e6-8815-ef63962243ce.png)

Please tell me if you want me to test something

[2016-12-27 18:09] oyvindln commented on #1268
Hm, no idea why it would be like that. Does it happen if OD_USE_SFML_WINDOW is not set to ON(in cmake)?

[2016-12-27 18:46] hwoarangmy commented on #1268
If I don't set it, display is as it used to be. Note that I've tried after compiling with MinGW. I've not tried with MSVS2013. Have you ?

[2016-12-27 19:37] oyvindln commented on #1268
I used MSVS2015 when I was testing on windows. I can't remember having that issue, but I'll have a look.

[2016-12-27 21:37] oyvindln commented on #1268
I seem to have some path issue that makes some of the file paths contain a null character, I will have to try to solve that first before it's possible to test.

[2016-12-27 22:51] hwoarangmy commented on #1268
well, don't worry about that, i will test tomorrow. I have functional environments with MSVS2013 and MinGW (which are what we said we officially support). I will tell you if the issue is the same or not.

[2016-12-28 10:31] #1265 closed, assigned to hwoarangmy

[2016-12-28 10:31] #1266 closed, assigned to hwoarangmy

[2016-12-28 17:08] hwoarangmy commented on #1268
I've tried the MSVS2013 version. With OpenGL renderer, I get the same behaviour. With the D3D renderer, as expected, it doesn't work. I've not checked what happens in details but since we explicitely use the open gl renderer, I didn't expect it to work.
Note that the glitch also happens in the main screen so it is not related to ingame settings. It is like something is messed with the z buffer and

[2017-01-04 19:25] hwoarangmy commented on #1268
@oyvindln I've had a quick look and it seems to work when creating the SFML window with a dept of 32:
[code]

Does it also work for you ?
Note that I've tried the minimap camera with the SFML window and it seems pretty laggy. It seems pretty less efficient than the OIS version (at least the debug version). I will try a release when I can.

[2017-01-05 18:34] oyvindln commented on #1268
Changing the depth bits to 32 seems to work fine for me on linux. (No idea what the ideal value is though.)
I haven't tested on windows yet as I haven't looked into fixing the path issue that is happening there. (For some reason the paths output when trying to load files have a null character in the middle.)

I guess whatever the depth buffer is set to if the parameter is 0 is making the depth buf

[2017-01-09 13:56] Hikawa opened #1271 "Execution immediately failed with "Resource with the name MedievalSharp already exists" exception"
OS: ubuntu 16.04
Source commit: 00de4b92af21127a312b23263a96722ae3e56aac
OGRE: 1.10 (custom build)
CEGUI: 0.8.7 (custom build)

Ogre.log: http://pastebin.com/raw/rwLSyBNi

[2017-01-11 19:52] hwoarangmy commented on #1271
Hi,

It seems like the system loads the font used in the game twice. I've never seen this problem but never used CEGUI 0.8.7. I will try when I can.
Could you please try an older version of CEGUI (0.8.4 if possible since it is the one I use and probably the one we tested most) ?
If not, could you please try Linux binaries so that we know if it comes from your computer settings or from our code or

[2017-01-11 22:53] oyvindln commented on #1271
I've used CEGUI 0.8.7 on Ubuntu (16.10) without having this issue, so I don't think that's the source of the problem.

[2017-01-14 14:30] Mazayw opened #1272 "Crash when user directory has non-ascii characters on Windows"
The game crashes in a few seconds after start
OpenDungeons-0.7.1-Win32-MSVS2013
[opendungeons.txt](https://github.com/OpenDungeons/OpenDungeons/files/705982/opendungeons.txt)
[DxDiag.txt](https://github.com/OpenDungeons/OpenDungeons/files/705984/DxDiag.txt)

[2017-01-14 23:32] hwoarangmy commented on #1272
From what we can see in your log file, your user directory has some non-ascii characters. It is known that we have a problem with this but since no developper is in this situation, it has not been fixed yet (and we don't even know if it is possible/hard to fix).
In any case, could you launch the game setting the game user data to some directory where you have write access ? You can do so by launch

[2017-01-15 03:14] Mazayw commented on #1272
It works!
Thanks!
One more question - how to hide hardware cursor that displayed over software?

[2017-01-15 09:57] hwoarangmy commented on #1272
There is already an issue #1257 but it is not possible yet. For now, we display both cursors because it is not clear with our current software cursor only where the click spot is.

[2017-01-15 17:48] Mazayw commented on #1272
Thank you

[2017-01-20 20:59] #1236 closed, assigned to nobody

[2017-04-25 16:04] akien-mga commented on #1038
Finally! Ogre3D 1.10 has been officially released, with version 1.10.4 already as apparently some impatient users had forked it and released 1.10.0 to 1.10.3 ;)

http://www.ogre3d.org/2017/04/23/ogre3d-1-10-released

We should see what upgrading implies, and if we can stay compatible with 1.9 to give Linux distros the time to upgrade.

[2017-04-26 19:23] hwoarangmy commented on #1038
Good news. I've not tried latest version but few months ago, I used to compile OD against ogre 1.10 latest branch. I would guess that the code is already compatible...

[2017-04-26 19:36] oyvindln commented on #1038
I tried to compile with ogre 1.10, and it worked fine (as long as OD_WARNINGS_AS_ERRORS was turned off as there were some ogre functions marked as deprecated.) The game failed to start with a resource already exists exception though:
[code]
Not sure why this happens, though it would probably be relatively simple to fix.

[2017-04-26 20:26] hwoarangmy commented on #1038
There is issue #1271 with the same problem. It might be interesting to dig...

[2017-04-26 21:25] oyvindln commented on #1271
Changing the addResourceLocation calls in resourcemanager.cpp to not be recursive solved this for me, not sure why they were set to recursive in the first place.

[2017-05-21 13:28] #1271 closed, assigned to nobody

[2017-12-01 14:03] paroj commented on #1272
probably you need this https://bitbucket.org/sinbad/ogre/commits/0dfbd51b36b7d22fe391f316a23158bc65cc3e32?at=default

[2017-12-03 05:59] JuanNeedsToApologize commented on #1272
Not a high priority at all. Voting to close this.

[2017-12-03 05:59] JuanNeedsToApologize opened #1278 "Think twice before giving feedback to this community!"
(Since everyone keeps closing this, I am going to continue to post it until one thread remains visible for discussion, no need to censor)

![](https://i.gyazo.com/364f1b11bc57924374d0a8c81df1eeab.png)

Lead developer sent this message after a user was giving his honest feedback via this [reddit thread](https://www.reddit.com/r/gamedev/comments/7gmtxl/godot_30_beta_1_is_there_right_in_time_for_ludu

[2017-12-03 13:56] oyvindln opened #1279 "Full drawn minimap crashes on larger maps"
There is still a memory issue with this minimap type, drawn seems to have been fixed after #1277

[2017-12-03 14:07] oyvindln opened #1280 "Accommodate Ogre 1.11 deprecations and changes"
- [ ] Replace `Ogre::SharedPtr::isNull` and related since it's deprecated.
- [ ] Do camera operations on scene node camera is attached to (doing it directly is deprecated)
- [ ] Do something about the large number of string lookups of nodes, as [`OGRE_NODE_STORAGE_LEGACY`](https://www.ogre3d.org/2017/09/02/ogre-1-10-mid-term-report) will no longer be supported in 1.11 and using `OGRE_NODE_STORAGE_

[2017-12-04 22:08] hwoarangmy commented on #1272
@paroj Thanks for the input. Nice to see that Ogre people know about this game

[2018-01-05 18:07] oyvindln opened #1284 "Deal with socket::connect returning NotReady"
randall on IRC couldn't start a single-player game as the call in https://github.com/OpenDungeons/OpenDungeons/blob/development/source/network/ODSocketClient.cpp#L33 returned NotReady rather than Done. I have no idea what could cause this to happen, the only stuff I can find about it is when using non-blocking sockets (which we aren't), and an [old bug from 2009](https://en.sfml-dev.org/forums/ind

[2018-04-30 15:16] goupildb commented on #1268
On my 32-bits Debian Sid, the compilation stop on:
[ 40%] Building CXX object CMakeFiles/opendungeons.dir/source/game/Skill.cpp.o
[ 41%] Building CXX object CMakeFiles/opendungeons.dir/source/game/SkillManager.cpp.o
[ 41%] Building CXX object CMakeFiles/opendungeons.dir/source/game/SkillType.cpp.o
In file included from /mnt/DDprc/Download/OpenDungeons-0.7.1/source/modes/GameEditorModeBase.h:21:0,

[2018-04-30 15:28] goupildb opened #1289 "The source file (0.7.1) on your site is corrupted"
On the Download page, when i select: OpenDungeons 0.7.1 (Source code)
The file don't work, the error is:
xz: (stdin): Compressed data is corrupt
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

[2018-04-30 16:17] akien-mga commented on #1268
Debian puts its OIS headers in `/usr/include/ois` instead of the default upstream `/usr/include/OIS`, which we expect: http://metadata.ftp-master.debian.org/changelogs/main/o/ois/ois_1.3.0+dfsg0-6_changelog
There should be a `/usr/include/ois` symlink to `/usr/include/OIS` though, that should keep things working.

[2018-04-30 17:14] akien-mga commented on #1289
Indeed, I can reproduce that, I'll look into fixing it.

[2018-04-30 17:22] akien-mga commented on #1289
Interestingly, the archive on the TuxFamily repository (https://downloads.tuxfamily.org/opendungeons/0.7/opendungeons-0.7.1.tar.xz) is a valid tar.xz, I could extract it there without problem. Its sha256 sum is:
[code]

But locally after download (two attempts done), the size is the same but the sha256 sum differs:
[code]

I'm not sure what would cause that, I'll ask the TuxFamily admins.

[2018-05-02 08:28] goupildb commented on #1289
Maybe you could add the binary on GItHub (on https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.7.1), and put a link in place on TuxFamily?

[2018-05-02 09:05] goupildb commented on #1268
Thank you very much, it works with:
# ln -s /usr/include/ois /usr/include/OIS

For information, it seems that the Debian maintainer has added in the meantime the symbolic link in the package.
The problem can therefore also be solved with a:
# apt install reinstall libois-dev

Thank you

[2018-05-02 09:08] goupildb commented on #1268
Sorry for the size of the font above :)

[2018-05-02 09:10] akien-mga commented on #1268
Indeed, I didn't think to ask that as that symlink was added in 2012 and I would expected it already present on your Debian Sid :)

[2018-05-02 09:11] akien-mga commented on #1268
Oops, reopening, the issue was initially about something else (please open a specific issue next time).

[2018-05-02 10:02] goupildb commented on #1268
2012? :))
I think I had installed the libois-dev library in February 2011 on the occasion of my [first test](http://download.tuxfamily.org/sdtraces/BottinHTML/Bottin_K-O_files/Open_Dungeons-12137.html) of your game (0.4.6): it seems coherent :)

Sorry, my compilation problems were related to OIS, I thought that putting it here was suitable, but you're right, I should have created another Issue

[2018-05-14 13:30] akien-mga commented on #1280
Ogre 1.11 was released, and one more thing to fix would be:
[code]
(edited in OP)

I think they might have fixed this in the `v0-8` branch without checking/updating your issue, so you might want to try again. I just built the tip of the `v0-8` branch against Ogre 1.11 without issues (you can see that there were some patches for compatibility with Ogre 1.10/1.11 in March 2018).

----

Since distro

[2018-05-14 19:58] oyvindln commented on #1280
Dropping support for 1.9 is probably okay, it's not like we're adding features at a lightning phase anyway :p

[2018-05-14 22:50] Bertram25 commented on #1280
Please consider my opinion as much as my participation here ;) Anyway, I'd say +1 to upgrade. 1.9 is really old, and the use of C++11 is really desirable for a copy-friendly language the C++ is. :)

Plus, if more and more people upgrade, the distribution will have more pressure to do so themselves.
Can't wait for some 2.1 stuff.

And of course, it was also and mostly to say hello!

[2018-05-17 23:08] hwoarangmy commented on #1280
Hi,

Nice to see everybody is still around even if not very productive ^^

[2018-06-03 17:34] akien-mga commented on #1280
A fellow Mageia packager did some work to get OpenDungeons 0.7.1 to build against Ogre 1.11, and sent me a patch for the `development` branch. I'll make a PR with it asap for review.

[2018-06-03 17:40] oyvindln commented on #1280
Oh, I had actually done some work on that as well that I forgot to PR

[2018-10-23 11:01] akien-mga opened #1296 "Fixing Travis builds"
Travis builds are now failing since the GetDeb PPA we used to rely on is no longer in service, so we can't install CEGUI 0.8.x on Ubuntu 14.04: https://github.com/OpenDungeons/OpenDungeons/blob/development/.travis.yml#L27-L30

I found this which seems to be a mirror of the GetDeb repos from the MegaGlest project, I'll start by checking if we can use it. http://getdeb.megaglest.org/ubuntu/pool/game

[2018-11-09 08:51] akien-mga commented on #1296
It's now fixed with #1297, but that's not a long term solution.

Eventually we may also want to build against Ogre 1.11+, so we'll need to work on something else anyway.

[2018-11-09 08:55] akien-mga commented on #1272
So next time we do a release, we should look into building Ogre with `_OGRE_FILESYSTEM_ARCHIVE_UNICODE` on Windows IIUC.

[2018-11-09 08:57] akien-mga commented on #1257
This is becoming increasingly relevant as on my current system (newer OIS?) the system cursor and the keeper hand are at an offset. (#1298)

[2018-11-09 09:13] akien-mga opened #1298 "Keeper hand is at an offset to system cursor"
- System: Mageia 7 x86_64
- Dependencies: Ogre 1.10.12 & 1.11.2, CEGUI 0.8-git (2018-03-22), OIS 1.4.0, SFML 2.5.0

Building the current master branch da9beaf (with Ogre 1.10.12) or #1291 (with Ogre 1.10.12 and 1.12.2), I get an offset between the system cursor and the keeper hand mesh which makes the cursor almost unusable.

![screenshot_20181109_101329](https://user-images.githubusercontent.com/