[2015-04-04 12:47] akien-mga commented on #615
Unless otherwise told, I'll be on setting 1.0 everywhere for this alpha parameter.

[2015-04-04 13:27] akien-mga commented on #610
Tried again with @Bertram25's branch, no segfault either when going all the way to turn 2161.

[2015-04-04 15:40] Danimal696 commented on #615
please do it, my sanity is going down with each new material issue

[2015-04-04 16:26] Bertram25 commented on #615
Yes, 1.0 is the default value anyway. Thanks for catching up this one.

[2015-04-04 16:29] Bertram25 commented on #610
@akien-mga Feel free to change the bridge level if you want. I must say I wantes to make it more twisted anyway.

[2015-04-04 16:35] hwoarangmy commented on #610
I've also tried @Bertram25 branch and I get the same segfault. I've tried to change randomly the cavehornet materials to see if I could find out what causes the crash. Strangely, if I rename cavehornet.png as cavehornet2.png and change the 2 material files, I don't get the segfault. That might sound strange but it is systematic. If I return to the older name, it segfaults again...

[2015-04-04 17:13] Bertram25 commented on #610
Then I'd say do it and let's comment the material about that crash so that we don't revert accidentally later if we can't find why. Is the cavehornet png file use elsewhere in OD or in the Ogre Sdk?

[2015-04-04 17:19] akien-mga commented on #615
Reference doc: http://www.ogre3d.org/docs/manual/manual_16.html

[2015-04-04 19:37] hwoarangmy commented on #610
AFAIK, no. It used to be Cavehornet_col.png. But I've tried to use different names (like cavehornet2.png and I get the same behaviour).

Unfortunately, I don't think it will be that easy. First, if we have a problem with cavehornet (in my case), we can assume there might be similar problems with other creatures. Moreover, if I compare my log with @lowerthanred, I see that my crash (with a backtrac

[2015-04-04 19:58] akien-mga commented on #610
I'm not sure I understand. Why would the crash be linked to the renaming of the texture? If the texture name is wrong, the material file should throw an error when it's parsed, no?

[2015-04-04 20:08] hwoarangmy commented on #610
I never said the texture name is wrong. I just say that when I rename it (and change the name in the corresponding materials), I get no segfault. That's just an observation, not an explication.

[2015-04-04 20:21] akien-mga commented on #610
Thanks for the clarification :-) That's definitely an interesting symptom :-)

[2015-04-04 20:42] hwoarangmy commented on #610
After googling a bit, the few issues I've seen with similar backtrace that got an explication said that the problem comes from a bug in the driver that is fixed when upgrading them. I'm currently downloading the latest ones for my computer. I will tell if it changes something.

[2015-04-04 21:12] Bertram25 commented on #610
K, definitely curious, but this might definitely come from the way the shaders are interpreted and the texture is cached and uploaded. Very interesting while somewhat nasty.

[2015-04-04 22:27] hwoarangmy commented on #610
I've upgraded my drivers and got no segfault since then. Just like the original backtrace, my segfault was in the drivers so we can assume the bug is more or less the same (even if I use windows).
For the record, my drivers were pretty old (04/03/2012 version: 8.17.12.9616).
@lowerthanred Could you please try to upgrade your drivers and check if you still have the segfault ?

[2015-04-04 22:43] #615 closed, assigned to akien-mga

[2015-04-04 23:02] Bertram25 commented on #610
Ah. I must say I'm a bit reassured. :)

[2015-04-04 23:34] hwoarangmy opened #618 "Portals should not spawn units when no more dungeon temple"
Since from now, portals are claimable, they continue spawning units even when the player is killed until someone claims the portal. Shouldn't we turn off spawning once the dungeon temple is killed ? After all, no creature would like to go to a dead dungeon...

[2015-04-05 08:24] akien-mga commented on #610
For me it's the contrary, I'm a bit concerned. Because the nvidia driver version 331.113 used by @lowerthanred is the one provided by Ubuntu AFAICT: http://packages.ubuntu.com/search?keywords=nvidia&searchon=names&suite=trusty&section=all (at least on 14.04 LTS and 14.10).

Only Ubuntu 15.04 has the current legacy GPU longterm branch (340.x) and the new longterm branch (346.x), see the currently s

[2015-04-05 08:33] akien-mga commented on #618
I guess disabling them when they are claimed to a non-existing dungeon temple would be a good idea yes.

[2015-04-05 09:14] hwoarangmy commented on #610
@akien-mga You raised a valid point. But the only solution I can see is to revert what @Danimal696 did on normals since I guess that's what causes the crash...

[2015-04-05 09:29] Bertram25 commented on #610
This could also some ogre bug nvidia workarounded themselves. I guess I'll google a bit, who knows...

[2015-04-05 09:30] Bertram25 commented on #618
Makes sense. +1

[2015-04-05 13:22] hwoarangmy commented on #610
For the record, if you find something, I get the following bt:

[code]

[2015-04-05 13:24] hwoarangmy commented on #618
ok. I will stop spawning once the player is dead then ^^

[2015-04-05 14:05] akien-mga opened #620 "Add tooltips in the research tree"

[2015-04-05 14:14] #618 closed, assigned to hwoarangmy

[2015-04-05 15:51] akien-mga opened #622 "Main menu: some buttons produce too many "clicked" sound events"
When you click on some buttons of the main menu (e.g. in the new skirmish UI, when you click on "Start game", or the "Quit" button in the main screen), one can hear the "clicked" sound two or three times in a row. This has no practical incidence on the usability, but maybe there's something to look at?

Some buttons are fine, other are behaving in this funny way.

[2015-04-05 16:15] akien-mga commented on #622
I've done some more debugging. Looking at the .layout files, there does not seem to be anything particularly wrong with those buttons. For the "Start game" button, it only produces one "click" sound when you click it without selecting first a level in the skirmish menu. So what produces several "clicked" sound events is actually the transition between the "Select a level" menu and the "Configure s

[2015-04-05 17:34] hwoarangmy commented on #622
I know that when you click the start button, the level is loaded and the cpu is pretty busy. That may be the reason why there is a glitch sound...

[2015-04-05 18:34] hwoarangmy commented on #180
BTW, I've not seen a problem with this bug for ages and I frequently try to let the AI play alone. IMHO, it can be closed

[2015-04-05 18:35] #180 closed, assigned to Bertram25

[2015-04-06 10:59] #620 closed, assigned to akien-mga

[2015-04-06 16:07] hwoarangmy opened #623 "Segfault when the portal wave searches a way near the map border"

[2015-04-06 17:12] Bertram25 commented on #610
Well, this could be anything among those, for instance:
https://ogre3d.atlassian.net/browse/OGRE-85?jql=text%20~%20%22nvidia%22
http://us.download.nvidia.com/Windows/331.65/331.65-winxp-desktop-release-notes.pdf
http://us.download.nvidia.com/Windows/347.88/347.88-win8-win7-winvista-desktop-release-notes.pdf

I've spent some time searching for something in the above links + similar, but no luck so

[2015-04-06 17:12] Bertram25 commented on #623
Nice catch. Doing modifications on the map? ;)

[2015-04-06 17:19] Bertram25 opened #624 "Final balancing needs before release?"
@akien-mga @hwoarangmy @Danimal696 @oyvindln

Do we need some balancing obvious fixes before release and what would they be?

IMHO, the research points need to be 50 on first row, 75 on second, 87 on third, ... as a first start on tweaking.

The waves in Falling Keeper need tweakin even if I've got no idea what. ;)

Apart from that, and the last bugs to fix, we can release, IMHO.

Note:
Transfered

[2015-04-06 17:21] Bertram25 commented on #600
I'll test adding logs tonight.

[2015-04-06 18:32] akien-mga commented on #610
I think a mention in the README and the release notes will do. 0.5.0 will still be an alpha/beta game, so we don't necessarily aim for a perfect support of every hardware and drivers. Since the bug is fixed in currently-supported drivers, let's just tell our Ubuntu players to have a go at upgrading their drivers, it's not too hard and I'm pretty sure Ubuntu has some good doc about it.

[2015-04-06 18:38] hwoarangmy commented on #623
No. But I've let it play several times to test game stability ^^

[2015-04-06 19:40] Danimal696 commented on #624
i would say: cheaper wages, less gold stored in each treasure room, reduce all creatures walking speed by a 10%, rise their working times in rooms, set armor increase value to 0.1 for all creatures and raise experience got in battle to be higher than in training room

[2015-04-06 19:41] Bertram25 commented on #610
K. But then, are we going to fix this at all?

[2015-04-06 20:32] Bertram25 commented on #600
Exiting the application (using the cross) while playing:

[code]

Stopping using the Escape/Yes, then Quit button:

[code]

[2015-04-06 20:56] hwoarangmy commented on #624
Increasing research for higher level things makes sense.
I agree wages are too high and treasure rooms can have too much gold (almost no need to build more than 1 treasury).

Concerning waves in falling keeper, it may be too high but I've never really tried the level (unless playing alone to test the portal wave).

IMHO, we should try to set up a lan and try multiplayer ^^

[2015-04-06 21:01] hwoarangmy commented on #600
looks pretty similar, no ?

[2015-04-06 22:25] #623 closed, assigned to hwoarangmy

[2015-04-06 22:35] Bertram25 commented on #600
Yes and no (even if I didn't have the time to test a lot).
Seems to me that the notifyExit() is calling ODSocketServer::stopServer() twice. But commenting the call in notifyExit() doesn't change anything.
Secondly, when exiting normally, we can see a line telling the client disconnected successfully.
I don't know yet whether it could be related. I don't know what other differences there are yet, t

[2015-04-08 08:22] hwoarangmy commented on #610
So, do we close this as won't fix ?

[2015-04-08 08:29] akien-mga commented on #610
IMO yes. If this was for a major release, with the game almost feature complete and well-balanced, I would push for a workaround to reach as many players as possible. But now we're just past the tech preview that 0.4.9 was, and we are entering a kind of beta level I'd say. So let's not bother too much about outdated drivers (even though it's a concern that Ubuntu 14.04 LTS has outdated drivers, bu

[2015-04-08 08:29] #610 closed, assigned to hwoarangmy

[2015-04-08 08:38] Bertram25 commented on #610
+1 Let's move on. :)

[2015-04-08 08:51] hwoarangmy commented on #600
@Bertram25 You are right, I had not seen the difference at the beginning of your log. Indeed, the difference might be that when we close OD with the window cross, a client is still connected while the server is closed (and as pointed in the SFML link, it seems the socket is not properly closed).

IMHO, the easiest would be to close the server after the client. That would mean to invert close order

[2015-04-08 08:54] Bertram25 commented on #600
I'll do asap. Thanks for the hindsight. :)

[2015-04-08 08:58] hwoarangmy commented on #584
@akien-mga would you mind dealing with that ?

[2015-04-08 09:00] hwoarangmy commented on #600
Always welcome ;-) If it works, please feel free to do the PR ^^

[2015-04-08 09:05] akien-mga commented on #624
So to sum up, we should:
- [x] Increase research points needed for higher level researches (50 for first row, 75 for second, 90 for third, 100 for fourth as a first try).
- [x] Decrease wages (say by 30%?)
- [x] Decrease amount of gold stored in each treasury tile (currently 5000, we can make it 2500)
- [x] Reduce creature walking speed by 10%
- [x] Set armor increase/level to 0.1 for all creature

[2015-04-08 11:41] Danimal696 commented on #624
Hi, what i mean is that currently the game plays like its on crack/cocaine, everything is way too fast paced, its good for development but an actual gameplay will suffer from that pace.

There are some points to refine in there:
Walking speed -> too fast in general
Portal spawing time -> you get your dungeon full of critters in no time, increasing the time would be good so we can build some rooms

[2015-04-08 11:46] Danimal696 commented on #622
I discovered clicking on empty ground plays the dig sound.

[2015-04-08 12:09] akien-mga commented on #622
True, I think that's due to a recent change, I don't remember this from earlier versions. Let's open a separate issue for that (#627).

[2015-04-08 12:09] akien-mga opened #627 "Clicking on empty ground plays the dig sound"

[2015-04-08 13:09] hwoarangmy commented on #627
That's probably due to one of my commits. I will fix that.

[2015-04-08 13:22] hwoarangmy commented on #624
I've updated the main text with the wanted changes. If you want to discuss something, please do not hesitate ^^

[2015-04-08 14:48] Bertram25 commented on #624
I'd say:
-25% on spawning speed.
+10% on xp when fighting (Let's tweak carefully this one)
Call to War cost x2
Claiming rate -15% but not less IMHO.
I'd request hitting an enemy creature gives a little bit of good mood back. But few.
WDYT?

[2015-04-08 15:08] akien-mga commented on #624
Ok with your proposal @Bertram25, apart from the claiming rate reduction: IMO we should only reduce the wall claiming rate, and not the ground tiles claiming rate. Claimed ground is vital to be able to setup your base, and the current rate is good IMO, but as @Danimal696 said the claimed walls are too easy to get.
If we use the same rate for both ground and walls, then it's probably worth discussi

[2015-04-08 17:21] Bertram25 commented on #624
Well, to be honest, I wouldn't change the claiming rates either, and aren't the claiming **times** different due to the tiles fullness?

Danimal says the game is too fast but it's not my own feeling, so I guess it's a matter of taste.

I would thus propose to try the requested change as an average speed value and later make the game speed a settings parameter.

[2015-04-08 17:48] hwoarangmy commented on #624
Well, I must say that I agree with @Danimal696 concerning claiming wall speed. It is so fast that I sometimes manage to wall with 1 kobold while a hero worker is digging to my dungeon in the 2v2 skirmish test map...

[2015-04-08 18:58] eugeneloza commented on #584
Ping me if you need to voice over the tutorial or a trailer.
I'm afraid I'm not that experienced at OpenDungeons to make a quality tutorial myself, but if a script is present I may voice it after I finish "Let's play VT" (and it's gonna be soon:)).

[2015-04-08 19:22] Bertram25 commented on #584
Yeah, Eugene's voice FTW! :)

[2015-04-08 20:12] akien-mga commented on #584
I guess I could handle a basic video tutorial (i.e. I record my desktop during playing and explain the core components of the game at the same time).

As for the trailer, I don't have the skill nor the time to do video editing and stuff like that. But a trailer with @eugeneloza as an evil keeper would be so awesome :-D

[2015-04-08 20:44] #627 closed, assigned to hwoarangmy

[2015-04-08 21:12] Bertram25 commented on #584
Np, let's start with the video. @eugeneloza can add some voicing if we help him with the script. :)

[2015-04-08 21:17] Bertram25 commented on #624
Are we ok to look at reducing the wall claiming rate (but not the ground one yet)?

I'll update the list for the other items.

[2015-04-08 23:22] Bertram25 commented on #622
Adding this to 0.5.0 but as a non-blocker.

[2015-04-08 23:24] Bertram25 opened #630 "Claimed walls should be unclaimed when the temple is destroyed."
At least that's what I'm thinking, because it will permit to dig dead keepers/heroes walls, and rip their dungeon's content apart.

And you guys, WDYT?

I'm also tentatively setting this to 0.5.0 but as a non-bocker.

[2015-04-08 23:43] Bertram25 commented on #622
I confirm this is a bug.
I disabled the registration of sound clicks there (by commenting this code):
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/render/Gui.cpp#L92-L99

And I added a direct call of the Gui::playButtonClickSound() function in the Skirmish launch button, as an example, in: bool MenuModeSkirmish::launchSelectedButtonPressed(const CEGUI::EventArgs& e)

The so

[2015-04-08 23:51] Bertram25 commented on #622
I added some logging in the click sound function, and indeed it is called between 5 and 7 times when clicking on the launch button when using the default event registration.

[2015-04-09 00:16] Bertram25 commented on #622
I added a workaround making it so the sound is only played if not already playing. Even with this, the sounds is sometimes played twice if the app is taking more than half a second to change the menu.

To be perfect here, we might have to reinstate playing a sounds in the button functions. The bug is definitely in the CEGUI::GlobalEventSet object IMHO but I don't think it's easily fixable.

WDYT?

[2015-04-09 00:46] oyvindln commented on #622
I think we should investigate further, putting the function call in every button click function is not ideal. It could be that it's only the list box change event that gets called multiple times when launching.

[2015-04-09 05:50] eugeneloza commented on #584
It'd be rather easy for me to re-voice this tutorial. I.e. I hear what you speak (even a webcam quality will do) and repeat it.
The problem is that I'm also not skilled at video editing, so I'm voicing 'blindly' in Adobe Audition without seeing the image, just sound. So having a good time-reference would significantly increase work efficiency.

I have an interesting idea of a trailer intro... Just

[2015-04-09 07:09] akien-mga commented on #622
I don't think it's a CEGUI bug, or maybe more a design flaw. I think I found the culprit: if you comment out those three lines https://github.com/OpenDungeons/OpenDungeons/blob/development/source/render/Gui.cpp#L97-L99 (i.e. sound event on CEGUI::Listbox update), the bug is fixed. But then of course you don't get a sound event when clicking on listboxes.

So I think the issue is that the initialis

[2015-04-09 08:43] #600 closed, assigned to nobody

[2015-04-09 09:28] akien-mga opened #632 "Main menu music should be dehardcoded"
Most likely making it configurable in global.cfg. It is currently hardcoded in all main menu source files, so a mildly related task could be to make it defined once and used consistently in all main menu windows.

[2015-04-09 10:08] Bertram25 commented on #622
Cool, then initializing the list could be done in the corresponding menus, right?

[2015-04-09 13:07] akien-mga commented on #584
I've recorded a basic tutorial for OD 0.5.0 with Simple Screen Recorder (awesome free software ;-)), and audacity to capture the audio. My microphone is quite bad so there is quite a bit of noise, and audacity keeps freezing on me so I haven't managed to reduce the noise.

I've done the basic editing (coupling the video + lower volume OD music + audacity recording) in kdenlive, now I'm doing the H

[2015-04-09 13:11] akien-mga commented on #584
@eugeneloza I can upload my WAV for the voice over if you want to have a look at reducing the noise.

[2015-04-09 13:29] hwoarangmy commented on #630
The problem with unclaiming dead keepers walls is that if you have common walls with an allied keeper and he dies, you will be exposed...

[2015-04-09 13:37] eugeneloza commented on #584
Cool. Give me the files (by mail or by link) and I'll do all the audio processing.

Yes. I absolutely agree that 'plain voice' is better for the tutorial.
But as for the trailer... I have a cool idea... I hope my modeling skills will be enough to XD At least that gonna be an outstanding blender experience:

a dark cave. First person view of a scared hero with a torchlight (or a flashlight - easier

[2015-04-09 13:56] hwoarangmy commented on #584
Wow, you are preparing something much better than I thought ^^
Can't wait to see that. In any case, the script seems really nice to me

[2015-04-09 13:59] hwoarangmy commented on #624
I am ^^

[2015-04-09 14:06] akien-mga commented on #584
Here is the WAV file for the voice over: http://remi.verschelde.fr/files/misc/od-tutorial-raw.wav
The only other file is the MKV from my screen recording with the video + OD audio, I'll just put a filter in kdenlive to lower the volume of OD's audio so that the voice is clearly audible.

[2015-04-09 14:21] hwoarangmy commented on #624
What about adding a variable in Creature class "time without battle" and using it in a mood modifier ?
That would allow to increase creature mood when fighting and to add a (big) negative mood modifier when not fighting for naturally aggressive creatures

[2015-04-09 14:29] eugeneloza commented on #584
Downloaded. Signal to noise ratio is very low. I'll see what I can do without damaging the natural sound. But usually it's much better to make something like 'input mic boost'. The higher the input the less influence do the internal audiocard noises have.
I'll be done in ~20 minutes, I hope...

[2015-04-09 15:26] Bertram25 commented on #630
Arf, you're right. I've been thinking about this and the true solution is the spell that unclaim them all.
I'll close as invalid.

[2015-04-09 15:26] #630 closed, assigned to nobody

[2015-04-09 15:30] Bertram25 commented on #622
I'll have a look at the available listboxes events and make tries.

[2015-04-09 15:33] Bertram25 commented on #624
Sounds good. :) And compatible with how the mood modifiers are implemented.
Ok to dissociate the wall claiming rate from ground one. But I'd say that the wall claiming rate should be something like 80% of the ground claiming rate to avoid creating yet another creature stat. WDYT?

[2015-04-09 15:36] hwoarangmy commented on #624
IMHO, it makes sense to use the same stat (if a worker is good at claiming ground, it is good at claiming walls). However, the penalty percentage may be in the config file to allow easy tweaking...

[2015-04-09 15:38] akien-mga commented on #624
Yes to both :-)

[2015-04-09 15:39] Bertram25 commented on #584
About the trailer: Excellent :D Hope it will turn out good.
I wish I had time to help you guys but I have unfortunately little time atm. :S

[2015-04-09 15:42] Bertram25 commented on #418
Can anyone have a lan tonight or tomorrow night? I can steal one hour or two if it happens.

[2015-04-09 15:44] Bertram25 commented on #624
+1 :)

[2015-04-09 15:53] akien-mga commented on #418
I should be around on #opendungeons :)

[2015-04-09 15:54] hwoarangmy commented on #418
I will try to join you tonight

[2015-04-09 15:58] akien-mga commented on #418
@hwoarangmy @Bertram25 If one of you has the time to cook up a Win32 binary, that might be nice. If you don't it's no big deal either, I'm making a Linux binary for the guys on the IRC channel that might be around, I think most of them are Linux users.

[2015-04-09 16:03] Bertram25 commented on #418
Ok, see you tonight. I'll be there around 9pm.

[2015-04-09 16:03] eugeneloza commented on #584
Hmm... was playing a long time to process the audio... The noise is too strong and noise reduction artefacts showed up as reverb and swirling sound.
I'm not satisfied with the result, but I'm afraid I'm not likely to do it any better...
I made up 2 variants here:
https://www.dropbox.com/sh/58sm1t97etbdaf2/AAD4bmDFpF96rgz2ugRil4Aba?dl=0
mixdown 1 has better noise reduction with the price of less na

[2015-04-09 16:12] akien-mga commented on #584
Sorry that you had to spent so long on my poor recording. I'll definitely learn how to improve the signal to noise ratio (and maybe reduce the noise at the source altogether) for my next recording :)

I have downloaded the files, so feel free to remove them from your Dropbox. I'll check them out in a little while.

[2015-04-09 16:17] eugeneloza commented on #584
Don't worry :). I often have to work with low quality recordings, so it's fine. I was just doing a lot of other work in parallel, so it took me longer.
I really hope that the final quality is enough for the tutorial.

[2015-04-09 16:22] hwoarangmy commented on #418
Ok. I will try to make a win32 binary ASAP

[2015-04-09 16:30] hwoarangmy opened #634 "When an enemy claims a claimed tile, sometimes, it appears with claimed color (but gives no vision)"
My guess is that it is because it is set to dirt and claimed within the same turn (that can happen if claiming rate > 2 or if several kobolds claim the same tile).
I will have a look if there is a not too heavy fix. If not, it will be for 0.6.0

[2015-04-09 16:45] akien-mga commented on #584
Here's the first version that I made before @eugeneloza improved my voice recording: https://www.youtube.com/watch?v=NDliJOP1Z1g
I'll now work on the 2nd version and replace the first one with it.

[2015-04-09 16:51] oyvindln commented on #584
If you send it to me when you are done, I can upload it to our official youtube channel. EDIT: Actually I'm not sure if I am able to do that, having issues accessing the account.

[2015-04-09 18:13] hwoarangmy commented on #418
The binary is online:
http://sourceforge.net/projects/opendungeons/files/Dev%20Snapshots/OpenDungeons-git20150409-Win32.zip/download

[2015-04-09 18:52] lowerthanred opened #635 "Segfault when attempting to load a saved game"
The crash occurs when clicking "Start game" (under the list of seats) after choosing the saved game from the list.
Backtrace: http://pastebin.com/8p2Jf7Gy
Saved game: http://www.mediafire.com/download/d45tnvj89l7wvns/2015-04-09_203337-SK-ScreamInTheDark.level

[2015-04-09 19:00] akien-mga commented on #635
Just to clarify, was this saved game generated with the same OD version, or with a previous development snapshot? The saves are not necessarily compatible between versions since some stuff change in the way the saved content is handled.

[2015-04-09 19:09] eugeneloza commented on #584
Damn it!!! I love blender!!! It makes things that seemed impossible to be so simple...
https://youtu.be/IxQZc6ijaNE

[2015-04-09 19:13] Bertram25 commented on #418
@hwoarangmy My sister is thanking you! ;)

[2015-04-09 19:15] hwoarangmy commented on #584
Wow, the cave is really nice. How did you do that ?

[2015-04-09 19:15] Bertram25 commented on #584
Wow!!! @eugeneloza Mind taking me as a trainee as well? :D

[2015-04-09 19:16] hwoarangmy commented on #418
She is welcome ^^

[2015-04-09 19:17] hwoarangmy commented on #635
I will give a try right now to see what's going on. Thanks for the feed back

[2015-04-09 19:22] akien-mga commented on #584
Omg, how did you come up with that so fast?!

[2015-04-09 19:22] eugeneloza commented on #584
That was actually just a cylinder, 3 copies to make 3 sleeves... and then sculpt, sculpt and sculpt with dynamic topology. Mindless sculpt. I was just scratching the walls and the floor to look homogeneous. Then... mindlessly made 3 seams and unwrapped UV and placed Nobiax (CC0) texture. And then made the camera move through it with some noise-driven shake with noise for light source also... Almos

[2015-04-09 19:24] akien-mga commented on #584
@eugeneloza Better versions might come up later, Youtube often makes your video available at low res while it continues processing the high res.

[2015-04-09 19:24] eugeneloza commented on #584
Yes... but it warned me of non-standart resolution (blender default export) - maybe this is the cause...

[2015-04-09 19:29] hwoarangmy commented on #635
Hmm, I can't even launch the saved game. Could you please tell us which version you played ?

[2015-04-09 19:48] lowerthanred commented on #635
Yes, the saved game was generated with the same version (dev snapshot from April 9).
Yes, as the issue describes, the crash occurs before launching the game itself.

[2015-04-09 19:57] akien-mga opened #636 "Display level name instead of filename in configure seat screen"
As in the title.

[2015-04-09 20:00] akien-mga opened #637 "Dark blue seat colour is overpowered"
Just kidding :-)
But actually the dark blue is very hard to read on top of OD's colours (ground tiles, marked tiles, etc.).

Basically you can't really read the name of the player using the dark blue seat (minor problem), but it's also hard to read the creature overlays, i.e. to see if the overlay is full or partly full.

As discussed with @Bertram25, we should probably make the dark blue a bit li

[2015-04-09 20:05] akien-mga opened #638 "Possible enhancements for the chatbox"
Dumping the ideas I got when playing online today:
- Escape key in the chatbox should discard the message and close the chatbox. Currently it sends the typed message.
- Movement keys should be disabled in the chatbox (i.e. if you press "Left" to try to edit a message, it should not move the camera).
- It would be nice to be able to browse the chat history. Maybe record the chat and show a scrollba

[2015-04-09 20:08] hwoarangmy opened #639 "Display player nick in logs when a client connects and when a client disonnects"

[2015-04-09 20:10] akien-mga opened #640 "Can't connect after a failed connection attempt"
After a failed connection attempt (like when trying to join an already full game), it looks like some stuff stays badly initialised as one can't connect to another game, OD needs to be restarted first for it to work.

[2015-04-09 20:11] hwoarangmy opened #641 "In the lobby, display only the map name instead od the complete path in the window title"

[2015-04-09 20:16] akien-mga commented on #641
Duplicate of #636 :-)

[2015-04-09 20:16] #641 closed, assigned to nobody

[2015-04-09 21:12] akien-mga commented on #636
Note that when #383 is implemented, we might want to add a marker that shows if the levels comes from a different paths that the game dir's levels/ folder.

[2015-04-09 21:26] alketii opened #642 "Monospace font for in-game chat"
Monospace font for in-game chat since i think its better to read when you're playing, and not lot of time to read.

[2015-04-09 21:50] Bertram25 commented on #642
+1
I also wondered. Should we keep all the chat log for instance?

[2015-04-09 21:51] akien-mga commented on #642
I'd like to have the chat log browsable in-game yes (and maybe saved to disk as chat.log or something?)

[2015-04-09 22:00] hwoarangmy opened #643 "When a player disconnects, the log gets full of failing assert"
In ODServer.cpp:155 due to the fact the player has no more client. This assert is still usefull to know what happens ingame. It should probably be replaced by a log that is displayed only once per player

[2015-04-09 22:01] akien-mga commented on #584
@oyvindln Here is the new version of the video tutorial, with @eugeneloza's mixdown n°1 (noise removed, some voice distortion, but it's better than the original version). Can you upload it on OD's channel?

_Edit:_ The link: http://remi.verschelde.fr/files/misc/od-tutorial-edited2.mkv

Title: OpenDungeons 0.5.0 Video Tutorial
Tags: some relevant stuff like "free software", "tutorial", "game develo

[2015-04-09 22:02] Bertram25 commented on #636
@akien-mga You mean if the level is official or not, right?

[2015-04-09 22:04] akien-mga commented on #636
Yes. Or we could check the md5sum of the level to know if it's official, but I'm not sure we want to add md5sum as a dependency on windows ;)

[2015-04-09 22:07] hwoarangmy commented on #642
IMHO, it would be better

[2015-04-09 22:09] Bertram25 commented on #636
I'd rather have SHA256 for instance, and there a few open-source c++ implementations we can borrow. ;) (I already did that for mana after all)

[2015-04-09 22:10] Bertram25 commented on #636
https://github.com/mana/mana/blob/master/src/utils/sha256.cpp for reference

[2015-04-09 22:10] akien-mga commented on #636
Sounds good :)

[2015-04-09 22:12] Bertram25 commented on #642
Ok, should we save the chat on request, or anytime?
Should newer games overwrite the old chat.log or append to it?

[2015-04-09 22:13] Bertram25 commented on #642
(Yes, I'll take that one for 0.6.0 ;})

[2015-04-09 22:18] akien-mga commented on #642
I'd say anytime, but it should be probably be configurable in the settings menu.

Append to it IMO, as long as we only record player chat and not the other textboxes (creatures notifications, server notifications, etc.).

[2015-04-09 22:23] Bertram25 commented on #622
Ok, I've tried ListBox::EventMouseClick and EventMouseDown but this doesn't work for lists.
@oyvindln Would you agree if I add click sounds for selection change in the concerned menus once the list boxes are initialized?
This would fortunately be less of an unoptimization.

Thanks for all the feed-back about that guys. :)

[2015-04-09 22:34] Bertram25 commented on #638
I may do some for 0.5.0, but I'll let this for 0.6.0 ;)

[2015-04-09 22:49] oyvindln commented on #584
I have trouble accessing the account, so I can't upload it for now. (Will make a forum post later, we may have to make a new one.)

[2015-04-09 22:50] oyvindln commented on #622
I guess we don't really have a choice if we want sounds for the action.

[2015-04-09 23:49] eugeneloza commented on #584
Improved the intro concept (with normals, better resolution and more improvements): https://youtu.be/K9t_2WwXuw4

[2015-04-10 00:35] Bertram25 commented on #622
Ok, I'll do that then.

[2015-04-10 01:11] Bertram25 commented on #636
The sha stuff will be for later and we'll open a new issue when we get there (after initial support for user content.)

For now, let's display the map inner title if possible.

[2015-04-10 01:12] Bertram25 opened #645 "Lan: Remote clients shouldn't be able to call the save function."
Atm, clients are able to make the server save on the server's machine.
Only the local client should be able to do that.

[2015-04-10 01:20] Bertram25 commented on #636
Btw, the server does send the entire level info to clients now. So there is no need to checksum both level files anyway. The server should tell whether it's a custom level but that's a detail for later.

[2015-04-10 01:51] Bertram25 commented on #584
OMG, I jumped at the end of it. XD

Good stuff guys!

[2015-04-10 08:04] akien-mga commented on #584
Ok, in the meantime I uploaded the new version to my account and removed the old one: https://www.youtube.com/watch?v=P4MClQUdb0E
We can migrate it later to an official channel when we've sorted out the issues you're having with it.

[2015-04-10 08:24] akien-mga opened #647 "Editor does not show notification when saving level"
I guess it's a regression due to @Bertram25's work on the game mode chat/notifications, maybe the editor hasn't been completely adapted to the new system yet.

[2015-04-10 08:45] hwoarangmy commented on #584
I didn't think you would do that so fast. You are almost there, that's amazing. IMHO, we should make more clear that the vision is from a hero (by displaying vision throught an helmet or by using a camera effect showing the hero and flying to his head).
Then, once you will have added the effects you were talking about (some creatures lurking, a sword and your big voice), it will be perfect ^^

[2015-04-10 08:49] hwoarangmy commented on #645
Actually, I had already seen that but I think we shoould somehow handle in the server a way to choose which player is the "leader" ie the one that can change configuration.
ATM, in the seat lobby, we check if the server is connected. That works but assumes that the server is also a client. We should not make such assumptions. I will have a look if it is not too heavy

[2015-04-10 09:06] eugeneloza commented on #584
I didn't think it would be possible to do is so quickly either :D
I've gone through flames tutorial... It doesn't look hard to make it... So handling a torch and a sword would do. I was considering a helmet idea, but I'm not sure if I can make it 'representative' - i.e. we shall just have black areas around the screen...
I have something like this in mind https://youtu.be/m4PzNoi_KU8?t=9m1s (9 til

[2015-04-10 09:37] akien-mga commented on #584
I changed the title to reflect the two topics of this hijacked issue ;-)
The video tutorial is done, but we can probably continue discussing the trailer here as GitHub does not provide an easy way to fork the discussion AFAIK.

Adding @Danimal696 to the discussion, because he might love @eugeneloza's previews :)

[2015-04-10 09:51] hwoarangmy commented on #584
Seems good. If we see the hand, torch and sword, it will be clear that we are following a hero. But it may be more difficult than the helmet.

[2015-04-10 10:01] eugeneloza commented on #584
Actually sword and a torch look easier for me :) I just move 4 objects (camera, lamp, sword & torch) together, adjusting them each key frame & randomizing f-curves. No need to make them perfectly aligned and some errors in position would only add 'uncertainity' to movement. No hands, I won't be able to model them yet (I tried).
While the helmet would require very rigorous fixation of location&rota

[2015-04-10 10:54] hwoarangmy opened #648 "OD crashes when launching 2 instances of the game"
Due to an exception when renaming log files (log file being in use).

[2015-04-10 11:11] Bertram25 commented on #648
Not for me. Might be windows related?

[2015-04-10 11:31] Danimal696 commented on #584
eh, you bastard, you are becoming better than me ;) . Helmet migth be too much, if you still want to add it, why not use a black mask that blocks surrounding vision (no need to show metal), you can get many hand sets from blendswap:
http://www.blendswap.com/search?keywords=hand&object_class=Blend&comparator=contains&is_fan_art=1&blend_license=&blender_version=

Heart sounds can be replaced with pa

[2015-04-10 11:39] eugeneloza commented on #584
And of course, thanks again for teaching me and giving me the practice!!! :P

Wow! Cool!!! Exactly what I needed!

Yeah... I planned to fix&add all this. I'll make the ground more even also or make the camera follow the floor, as it looks unnatural now.

Planned :) I'll do voice acting soon as I finish the video part. Actually I wanted both - heartbeat and panting (as in example video from Oblivio

[2015-04-10 11:47] hwoarangmy commented on #648
yep, maybe

[2015-04-10 12:19] akien-mga commented on #648
Ah I hadn't thought about this. It doesn't crash on Linux indeed, but it might mess the log files too.
Do you have an idea how this could be fixed?

Maybe by logging to a temp file (e.g. opendungeons-fulldate.log) and doing the renaming when closing OD?

[2015-04-10 12:21] hwoarangmy opened #649 "Add a new mood modifier for nb turns without battle"
That would allow to add a positive modifier for aggressive creatures and a negative modifier for creatures that do not like battle.

[2015-04-10 13:36] hwoarangmy opened #650 "Claiming walls should not be as efficient as claiming ground"
Claiming walls should be based on worker claiming rate but use a configurable coefficient to make walls slower to claim than ground.

[2015-04-10 13:40] hwoarangmy commented on #624
I've copied what was decided to #418 so I close this issue

[2015-04-10 13:40] #624 closed, assigned to nobody

[2015-04-10 13:52] Danimal696 commented on #648
Happens to me as well

[2015-04-10 14:10] hwoarangmy commented on #648
To me, it is windows related. I've never had any problem renaming a file I was using with linux (even a script or executable currently used). With windows, files are open exclusively so that may explain why. Concerning using the same file issue, timestamping seems straightforward but deleting old logs will not be easy. I would say most players will never open several instances so it's minor and no

[2015-04-10 14:33] Bertram25 commented on #648
I agree it's not worth fiddling since it's not the standard behaviour if it comes to handle timestamps and file copy.

[2015-04-10 14:33] Bertram25 commented on #648
That said, maybe later add a copy to set the log filename on the command line could be thought of?

[2015-04-10 14:35] hwoarangmy commented on #648
That's what I was going to propose ^^

[2015-04-10 14:40] Bertram25 commented on #642
I've been thinking about this and I must say I'm not fond of setting up an ever-growing chat.log file.
I'd rather have it overwritten on each game. And why not, optionally disable its creation in the config.

Ok with it?

[2015-04-10 15:28] Danimal696 opened #651 "Regression - Goblin weapon is untextured"

[2015-04-10 15:36] akien-mga commented on #651
Actually I think I never saw it textured even when I merge the PR where you introduced it. The mesh seems to link the good material "GoblinKnife", which links the good texture "GoblinKnife.png".

[2015-04-10 15:39] akien-mga commented on #651
If I remove the normal component, I see some bits of texture, or at least the blade is not white but a mix of white and grey. Maybe the mesh does not reference the correct part of the texture file?

[2015-04-10 15:42] hwoarangmy commented on #635
I've had a look. The bug is easy to fix but more important than I expected (somehow, I've broken map saving). I will release a fix in my next PR

[2015-04-10 15:43] Danimal696 commented on #651
it worked before on ,materials seem to be ok, maybe the mesh upgrade did something to it? im checking as well

[2015-04-10 15:48] akien-mga commented on #648
My idea was more:
- initialise the log file as "opendungeons-20150410-174720.log" and write to it.
- in the function that closes OD, do the usual renaming that makes opendungeons.log.N become opendungeons.log.N+1 (2 → 3, 1 → 2, 0 → 1) and rename opendungeons-20150410-174720.log to opendungeons.log

This way we shouldn't have conflicts because the two instances of OD would have different logs (unle

[2015-04-10 15:49] akien-mga commented on #642
As you prefer, logging only the last game is also fine IMO. We're not an IRC client after all :)

[2015-04-10 15:54] Danimal696 commented on #651
its working on the 29/03/15 release, thats it the one before the materials clean-up, im betting that the material name was changed but the mesh is still calling the older name, can you check?

[2015-04-10 15:56] Danimal696 commented on #648
what about an error message that warms that another instance of the game is open?

[2015-04-10 15:56] akien-mga commented on #651
I've checked the names and everything seems to be correct. I'll investigate this a bit deeper, maybe the mesh upgrade did something wrong as you say.

[2015-04-10 16:00] Danimal696 commented on #651
did the mesh call the correct material name? thats the only thing i cant check

[2015-04-10 16:01] akien-mga commented on #651
Yep:
`<submesh material="GoblinKnife" usesharedvertices="true" use32bitindexes="false" operationtype="triangle_list">`
(that's from the XML version of the mesh)

[2015-04-10 16:04] akien-mga commented on #651
You are right the texture is well displayed in the 29/03/15 release. This was before the whole material upgrade with added normals, I'll compare the material files to find what went wrong.

[2015-04-10 16:07] akien-mga commented on #651
Ok I found the issue. It looks like you removed `tex_coord_set 1` in the texture_unit part of the material file: https://github.com/OpenDungeons/OpenDungeons/commit/91a5f27fa521b6fa1cba838b65ed0eac9a92c229#diff-c7476a08969ea16055ffc7e967122081
Adding it back solves the issue.

[2015-04-10 16:13] Danimal696 commented on #651
My bad, thanks for the fix :)

[2015-04-10 16:19] #622 closed, assigned to Bertram25

[2015-04-10 16:19] #636 closed, assigned to Bertram25

[2015-04-10 16:19] #637 closed, assigned to Bertram25

[2015-04-10 16:19] #638 closed, assigned to Bertram25

[2015-04-10 16:33] #651 closed, assigned to akien-mga

[2015-04-10 16:45] hwoarangmy commented on #648
@akien-mga your idea is not bad but if a crash happens, we loose the log and that's not acceptable IMHO.

For development reasons, it is required to be able to launch several instances of OD. I will make a simple patch that surrounds by a try/catch logs renaming and prints a message if the log could not be renamed. That should be enough IMHO

[2015-04-10 17:03] akien-mga commented on #648
No, as I said, if a crash happens the log will just be named "opendungeons-$timestamp.log" instead of "opendungeons.log".

[2015-04-10 17:25] Bertram25 commented on #642
k :)

[2015-04-10 17:29] Bertram25 commented on #639
Fixed with 4fd0ecb3e9a206f22397e4d14d98d310ae4b43df and e80e70c07a9cc90d2113d0d6d26ebc3417ba869e

[2015-04-10 17:29] #639 closed, assigned to Bertram25

[2015-04-10 17:30] hwoarangmy commented on #642
yep. One game is enough.

[2015-04-10 17:33] hwoarangmy commented on #648
When I say "we loose the log", I want to say that we will have a log with an unknown filename that will not be removed. And, as I said, that's not acceptable IMHO because, with time, we might have plenty of them. And, again, there is no real need...

[2015-04-10 18:55] akien-mga commented on #648
Ah, my bad, I misread and thought you meant "lose the log", not "loose" :)

So yes your commit fixes the issue of not being able to start two instances on Windows. But are we not hiding the real issue? What happens to the log file when two instances of OD are writing to the same file?

[2015-04-10 19:29] akien-mga opened #654 "Chatbox/event notifications are not refreshed when leaving/starting a new game"
So you might end up seeing the notifications from the previous game in your new game, and they stay until a new notification comes and reactivates the timer that should make them disappear.

[2015-04-10 20:04] #634 closed, assigned to hwoarangmy

[2015-04-10 20:04] #635 closed, assigned to nobody

[2015-04-10 20:04] #645 closed, assigned to hwoarangmy

[2015-04-10 20:04] #648 closed, assigned to hwoarangmy

[2015-04-10 20:04] #649 closed, assigned to hwoarangmy

[2015-04-10 20:04] #650 closed, assigned to hwoarangmy

[2015-04-10 20:44] Bertram25 commented on #654
K, I'll take it. :)

[2015-04-10 21:51] hwoarangmy commented on #643
Fixed in #653

[2015-04-10 21:51] #643 closed, assigned to hwoarangmy

[2015-04-10 22:39] Bertram25 commented on #643
Isn't the reverse still true? I mean I think the clients still get spammed when the server disconnects from what I could see. I'll retest though.

[2015-04-11 06:01] eugeneloza commented on #584
At this point I've sketched up a timeline:
0..10 seconds - intro, the hero enters the cave
10-16 seconds - Keeper speaks welcome
16-20 seconds - Hero answers
20-24 seconds - Keeper laughs and answers
24-27 seconds - eyes & whispers
27-30 seconds - Rock golem action
Looks rather dense, no 'wasting time'. Are 10 seconds ok for intro? Seems to be atmospheric and not too long.

[2015-04-11 07:04] akien-mga commented on #584
10 seconds are completely OK for the atmospheric intro IMO. I think you can even go higher than 30 s for the whole trailer if you want, maybe keeping it under 1 min is a good idea, but it's not rare to see 2 or 3 minutes long trailer for games.

[2015-04-11 07:04] #647 closed, assigned to hwoarangmy

[2015-04-11 07:20] eugeneloza commented on #584
30 seconds it's just a game-irrelevant atmospheric intro. And then another ~1 minute of game fragments, showing&commenting game peculiarities. We'll discuss that part later.
Moreover, I'm not good at non-linear-video-editing. In Avidemux it'll take me stupidly-long amount of time + low quality result. I'll need to use something better, like blender video editor... but I have never done anything li

[2015-04-11 08:01] hwoarangmy commented on #642
BTW, I had not seen you were talking about a chat log. IMHO, that's not needed (unless you prefer to use a file instead of memory for storing chat messages).
In any case, I think it is better to be able to browse 1 game chat history (during the game).

[2015-04-11 08:03] hwoarangmy commented on #584
IMHO, 10 seconds is ok for introducing the fact we are seeing trough an hero eyes and we are in the underground. For the rest, if you need some more time, between 30s and 1 minute, there is no problem...

[2015-04-11 09:23] Bertram25 commented on #642
I'm not needing a chat.log file either. I proposed to keep only the latest chat as @akien-mga seems fond of the idea.
Currently, the latest game chat history is viewable until the game's end, so if we don't add a chat log, then all the best for me. ;)
Shall we vote on what we want?
Chat log or no chat log, that is the question?
@oyvindln @Danimal696 ?

[2015-04-11 09:41] akien-mga commented on #642
Well I'm not a strong advocate of keeping chat logs either, it's just that lately when tend to do some debugging in the ingame chat, so it could be useful to have the history right at hand. But I don't think it's a useful feature for players, and writing down bugs on a piece of paper as we encounter them is also just fine :-)

[2015-04-11 10:17] Bertram25 commented on #642
Ok, so more against, than for so far. I'll focus on adding the monospaced font for chat then.

[2015-04-11 15:40] hwoarangmy commented on #642
Well, if it is just for debug purpose, we print chat messages received in ODClient in opendungeons.log

[2015-04-11 15:51] Bertram25 commented on #642
Pretty true, btw. k, I'll do that a comprise way.

[2015-04-11 20:32] Bertram25 opened #659 "Skirmish - Configuring seats: The player 'Player' can be put two times."
How to reproduce:
Select 'Scream in the Dark...' in Skirmish mode.
Then, make the Local Player be on seat 5 for instance. The Seat 1 is left empty.
Select the Seat 1 and put back 'Player'.

'Player' is then on both seats as seen here:
![od-bug1](https://cloud.githubusercontent.com/assets/765917/7103161/8f24d4ac-e09a-11e4-931a-afa2b10fad07.png)

Starting the game leads (obviously) to a crash.

[2015-04-11 20:47] #654 closed, assigned to Bertram25

[2015-04-11 20:52] akien-mga commented on #659
I can confirm the issue, actually Player can be added in all seats :)
There is no issue on Greed or Might where all seats are defined as "Choice". On the other hand, Scream in the Dark has all seats predefined, so the player should not be able to change them.

I guess it's a regression from c5c3f08.

[2015-04-11 21:16] hwoarangmy commented on #659
k. I will have a look

[2015-04-11 21:29] Bertram25 commented on #659
Thanks, I was on something else. ;)

[2015-04-11 21:32] akien-mga opened #660 "Unwanted texture addition when several similar creatures are on top of each other"
When some similar creatures are in the exact same position on the exact same tile (and with the current AI, it actually opens relatively often), it looks like their textures are superimposed additively, as if the models were semitransparent.

This screenshot speaks better than words:
![lizards](https://cloud.githubusercontent.com/assets/4701338/7103352/f587e07e-e0a2-11e4-87d0-1cbcb5429466.jpg)
Fro

[2015-04-11 21:33] akien-mga commented on #660
The effect is similar if I disable the normal texture, so that's not the culprit.

[2015-04-11 21:37] akien-mga commented on #660
Actually if I remove all references to the RTShaderSystem from the material script, the bug disappears.

[2015-04-11 21:39] Bertram25 commented on #642
@hwoarangmy While thinking about this, this could become pretty awkward when we'll ask the log to players. I guess we'll have to go with a separate file if any.

I'll close the issue for now (after my next PR's merge.). If a log is actually requested with proper grounds, we'll open a new issue. ;)

[2015-04-11 21:45] Bertram25 commented on #660
Pinging @oyvindln .

IMHO, this may be more a feature than a bug but you're right, it is always better to report anyway.
I'll set this to 0.6.0 as I don't see any "easy" way to get rid of this for now.

[2015-04-11 22:44] Bertram25 commented on #640
Tested locally after latest @hwoarangmy 's changes on setting the player with config support. It seems I'm able to connect to the host even after I first try to connect to a wrong IP or before the host has created the game.

Can you reproduce on your own?

What's still to be done IMHO, btw, is to see whether e can add a timeout on client connections attempts.

[2015-04-11 23:00] Bertram25 commented on #640
Ok, after adding https://github.com/Bertram25/OpenDungeons/commit/0dd0f45286537ae25c2da6d70d24299f8eec9cd7 , I can much more easily reproduce that bug.

I'll make a few tests.

[2015-04-11 23:06] Bertram25 commented on #640
I think I've got it. ;) Now, the Join button is functional even if the first joint attempt fails.

[2015-04-11 23:16] Bertram25 opened #662 "Multiplayer - Crash when a remote client quits."
How to reproduce:
Start two instances of OD.
Host and Guest as nicknames.

Host is hosting Scream in The Dark... and is on Seat 1
Guest joins and is placed by Host on Seat 5.
No team changes.

In game guest presses Escape and Yes, then Quit.
The server is crashing.

Bt found (server side):

[code]

[2015-04-11 23:19] Bertram25 opened #663 "Multiplayer: Should the game be pausable?"
Or except for the server client. And then, the remote clients should simply follow.

IMHO, less simple than it seems. ;)
We should discuss what we want here.

[2015-04-12 00:08] hwoarangmy commented on #659
k. I've seen that the problem is that seats forced to AI/Inactive seem to be usable. If you try a level that allows players (like 2v2 multiplayer), it works. I will make a fix soon

[2015-04-12 00:55] hwoarangmy commented on #663
Yes, IMHO, it is more a question of what behaviour do we want...

[2015-04-12 08:15] akien-mga commented on #663
That's a good question actually. I can see pros and cons for letting the host client manage the pause feature. Basically in the current version, since there is no matchmaking feature or server listing, most people will be playing with acquaintances; in such a configuration I think that the pause feature is a nice addition, because one player might ask the host to pause the game 5 min if need be.

[2015-04-12 08:45] Wout-van-Dongen opened #665 "Dedicated server"
Would it be possible to add in a "dedicated server" feature to OD so that games/maps can be hosted on an external machine?

[2015-04-12 10:42] #659 closed, assigned to hwoarangmy

[2015-04-12 10:44] hwoarangmy commented on #665
Yes. That's something I was already thinking of bitting but I am waiting for the 0.5.0 to be ready.

[2015-04-12 10:46] hwoarangmy commented on #663
In SC2, every client can pause the game (up to 3 times). If the game is paused, any client can resume it.

[2015-04-12 10:47] akien-mga opened #666 "Spectator mode for multiplayer games (or skirmish with only AI players)"
That would be a nice addition for a later milestone, especially for our shy players who don't want to compete against us because we know the core elements on the gameplay and how to exploit balancing issues :-p

Setting to "Later" for now, though I wouldn't be surprised to see @hwoarangmy grabbing this one for 0.6.0 together with the dedicated server stuff ;)

[2015-04-12 10:52] akien-mga commented on #663
That could be a nice way to do it, maybe with a small timer before other clients can unpause the game (e.g. 5 seconds to prevent compulsive un-pausing ;)).
If we do it like that, I'd like the chat to stay on when the game is paused (that's pretty obvious, but it doesn't hurt mentioning it).

[2015-04-12 12:15] hwoarangmy commented on #666
Depends. That would need more specifications. First, do we want to use specific seats (ie need to define observers in the level) ?
Second, what do an observer sees (everything? Only what one of the player sees) ?

[2015-04-12 12:23] akien-mga commented on #666
I would make observers all-seeing, and not using seats defined in the level. IMO they should not be able to participate in the player chat (if they are all-seeing they could spoil the game), but maybe they could have a separate spectator chat to discuss between observers.

[2015-04-12 14:37] akien-mga commented on #662
Once @Bertram25's PR is in, this one is the last blocker for 0.5.0 IMO. We should probably do a RC snapshot afterwards.

[2015-04-12 17:12] hwoarangmy commented on #662
I've had a look. It is a regression due to my PR about not spamming the logs when a client disconnects. Fix is pretty simple and PR incoming

[2015-04-12 17:16] #642 closed, assigned to Bertram25

[2015-04-12 17:16] #640 closed, assigned to nobody

[2015-04-12 19:29] #662 closed, assigned to hwoarangmy

[2015-04-12 19:32] akien-mga commented on #418
So basically we're done with this release :-)
Since our last multiplayer game there were a good deal of nice fixes, the only unchecked box above is "Do something about keeper waves". Any idea about this one?

IMO we can make Win32 and Linux snapshots and label them "0.5.0 RC1". I'll upload a Linux binary asap.

[2015-04-12 19:45] akien-mga opened #668 "Add a human readable changelog / release notes"
It would be nice to have a changelog in-tree, so that distro packagers could add it as a documentation file in their packages and we could also include it in our binary releases for curious users.

Seeing how much progress we're doing might motivate some users to get involved in the team :)

Slightly related, we might also need a "distribution" README, i.e. not an explanation of the repo organisat

[2015-04-12 19:50] akien-mga commented on #418
So I have a "OpenDungeons-0.5.0-RC1-Linux64" portable binary at hand now based on the current development branch. I'll wait for your approval about releasing this as RC1 before I upload it though :)

[2015-04-12 20:00] hwoarangmy commented on #418
win32 release on its way

[2015-04-12 20:58] hwoarangmy commented on #418
win32 release is there:
http://sourceforge.net/projects/opendungeons/files/Dev%20Snapshots/OpenDungeons-0.5.0-RC1-Win32.zip/download

[2015-04-12 21:02] Bertram25 commented on #668
I must say that for the sake of simplicity, I'd do all that in the news and why not git shortlog for the rest + minor cleanups of its output.

WDYT?

[2015-04-12 21:09] akien-mga commented on #668
Hm I'm not sure about git shortlog, that's not really what I would like to read as a player. If people are interested in the git history, browsing github is way better than a static version of the shortlog IMO.

What I had in mind is more a text file version of the 0.5.0 "what's new?" that we'll base on the content of #418.

[2015-04-12 22:09] Bertram25 commented on #668
Ah sure :) But still, I wouldn't bother adding a distribution README and rather point to the what's new of the website.

As for the dynamic page, we could use the compage page of github: https://help.github.com/articles/comparing-commits-across-time/

WDYT? :)

[2015-04-12 22:13] Bertram25 commented on #418
@hwoarangmy Would you mind if I or somebody else simply remove the strongest waves, so that the game is winnable with affordable chance to become too easy?

[2015-04-12 22:24] Bertram25 opened #670 "Modes handling"
@hwoarangmy @oyvindln

Hey there guys :)

We've all been in the frenzy of preparing the release but I'm convinced @oyvindln raised a good thought when we spoke about how we should handle modes.
For instance, I just push a fix for clearing the chat queue on Game/editor mode exit, but that's not ideal because the event queue will for instance be cleared up when you open/close the console.

Thus, we

[2015-04-12 22:54] hwoarangmy commented on #418
No, you can follow your heart

[2015-04-12 23:03] hwoarangmy commented on #670
You know, I am someone simple but when I see stuff like:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/modes/ModeManager.h#L52
A red flag shows up telling "wrong conception, big hack detected".

Then, I see stuff like:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/network/ODClient.cpp#L229
(and there are lots of them), and another red flag raises telli

[2015-04-12 23:06] Bertram25 commented on #418
Then, My heart will go on. ;)

[2015-04-12 23:22] Bertram25 commented on #670
Good stuff pal. :) Speaking freely that way about the code is IMHO what makes the project vision advance the most.

IMHO, being a simple man, aka liking things simple and slick is a quality, and in many ways, I think your instinct can be trusted.

Now, to speak about the specific hurting parts of the code:

If you speaking about the settings like the game settings, I'd myself say that the the sett

[2015-04-12 23:26] Bertram25 opened #671 "Add a warning when a player adds a trap but doesn't own a workshop (yet or anymore.)"
Everything is in the summary.

[2015-04-13 01:19] oyvindln commented on #670
I think we should consider trying properly doing [component-based design](http://gameprogrammingpatterns.com/component.html), and create "modes" using composition.

[2015-04-13 08:32] hwoarangmy commented on #671
Makes sense

[2015-04-13 09:08] hwoarangmy commented on #670
IMHO, we should define once and for all what a mode is. ATM, it is clearly not well defined. If we look at how modes are handled, we see they are stored in a vector in the ModeManager. Moreover, ModeManager provides an API that allows to get the current mode. That clearly suggests that modes are meant to be exclusive (I even remember that before I moved map loading to the server, it was done in th

[2015-04-13 09:43] Bertram25 commented on #670
Agreed. Be it a state machine, component based or something else, we should find a consensus first. To sum up: My own suggestion is to adapt the current code and make "modes" exclusive, with specific components + global-scoped components for the settings and a Game/Editor scope for the console.

@oyvindln Your turn. ;) Are you still convinced of a (full) component-based design? If so, then how spe

[2015-04-13 09:49] Bertram25 commented on #666
That point of view is relevant in the player's point but less technically, Eh eh.
This means the server will have to send every update data to every spectator and that may (or may not) kill performance. This needs investigating.

I'm still convinced it is something we should add, but maybe not until we have an option to disable them when hosting.
On the client side, the client would simply tell th

[2015-04-13 09:50] Bertram25 commented on #665
The beginnings of a server lobby? :)

[2015-04-13 10:05] Bertram25 commented on #663
There are two roads, IMHO.
Either we add something rather simple, like disabling pausing in multiplayer or simply letting the server-client pause, or we add something more advanced.

WDYT?

If we go the second way:
What's your favorite way to do it? What would useful for you IRL?

[2015-04-13 10:20] hwoarangmy commented on #663
IMHO, being able to pause is required. I would not be for a half solution here. The current behaviour is enough IMO. But if we want to go further, we should go for a definitive solution like allowing 3 pauses per client and allowing any client to resume a game.

[2015-04-13 10:24] hwoarangmy commented on #665
BTW, @Wout-van-Dongen What do you have in mind ?
For my part, I was thinking about allowing to let a server alone probably by allowing to launch OD with command parameters to open a server and launch a game. Then, clients would be allowed to connect.

[2015-04-13 10:27] hwoarangmy commented on #666
I agree it is for later. Moreover, that may also imply to change the server logic. ATM, events are only sent to relevant players. If observers can see everything, they should be able to see traps and everything. Well, might not be too difficult but as @Bertram25 pointed, it may hurt performances pretty much since observers would have vision on the whole map. It will be as long as opening the map i

[2015-04-13 10:33] hwoarangmy commented on #670
And how do you see what should be done about the console and the intertwined menus (settings, load, ...)

[2015-04-13 10:48] oyvindln commented on #670
Yeah, that's sort of what I meant with component-based design. The console and other windows can be made separate objects contained in the respective mode instead.

[2015-04-13 12:39] Bertram25 commented on #670
Ok, so I propose:
- The thing we currently know as "Modes" (that can stay named that way) are exclusives, they are mother input grabbers and are those:
  - Main menu.
  - Skirmish.
  - Client join.
  - Server host.
  - Configure Seats.
  - Game.
  - Editor.
- The Settings window is a global scoped menu, available through a button and/or a shortcut key in the modes giving access to it.
- The FPS mo

[2015-04-13 12:46] hwoarangmy commented on #670
I guess what you propose is the easiest to do considering the actual architecture. To pass the data between modes, the most straight forward would be to use a structure that survives through modes, probably the gamemap, as it is done ATM.

Also note that doing it this way will imply that gamemap goes through modes (and, thus, will never be a member of gamemode as we wanted to do). Moreover, the co

[2015-04-13 13:34] Bertram25 commented on #670
That's a fair trade. I'm fine with it.

Hence, why we separate the gamemode in smaller things, like the tileContainer, the pathfinding struct, ...

@oyvindln ?

[2015-04-13 14:14] oyvindln commented on #670
The various menus could also be components in the "menu mode". Though I suppose some of it can be separate modes as we aren't supposed to have more than one of them active at the same time.

Or, if we want to be really crazy, we could try [FRP](https://en.wikipedia.org/wiki/Functional_reactive_programming)

It could still be moved around, though I do at least want to try to reach a design where th

[2015-04-13 14:28] Bertram25 commented on #670
If we haven't got more than one menu active at the same time, then plain polymorphism is enough, then.  Or is there something components will help compared to that solution?

It's a fair goal.

[2015-04-13 19:08] Bertram25 commented on #418
Development has been push to stable, a 0.5 branch has been created and the 0.5.0-RC1 tag has been added :D
https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.5.0-RC1

We're getting there!

[2015-04-13 19:14] Bertram25 commented on #668
Ah seems we got @akien-mga on the case. ;)

[2015-04-13 19:41] hwoarangmy commented on #418
I'm creating the win32 release RC1

@akien-mga I've removed our RC1 since it was not the real RC1 ^^
Could you please rebuild the linux one ?

[2015-04-13 19:43] akien-mga commented on #418
Sure.

[2015-04-13 19:46] Bertram25 commented on #418
Yeah :D

[2015-04-13 21:20] hwoarangmy commented on #418
The win32 version is here:
http://sourceforge.net/projects/opendungeons/files/Dev%20Snapshots/OpenDungeons-0.5.0-RC1-Win32.zip/download

[2015-04-13 21:21] akien-mga commented on #418
Oops I forgot about my build while in a (long, like always) Mageia council meeting. Uploading right now :)

[2015-04-13 21:22] hwoarangmy commented on #418
BTW, I've had a try at level falling keeper. Even after using many traps and killing all heroes lurking, the next wave with the 4 level 25 bigknights raped me. Unbeatable as expected ^^

[2015-04-13 21:24] Bertram25 commented on #418
Fortunately, not anymore. :)

[2015-04-13 21:42] Danimal696 commented on #418
We are all joining into the trauma Bertram felt ;), that unit is crying for a new model and name; please dont forget to update webpage as well.
Also whats new in this one since the last build?

[2015-04-13 21:46] akien-mga commented on #418
Linux 0.5.0 RC1 is now online too.

[2015-04-13 21:47] akien-mga commented on #418
Just the latest PR from @Bertram25 (#669) which balances the keeper waves a bit and fixes an issue with the chat vs the console.

[2015-04-13 21:52] Danimal696 commented on #418
uh oh, win32 build has an error, apparently is missing a letter style: LiberationSans-bold.ttf

Edit: its in there, so maybe the linking is wrong?

[2015-04-13 22:00] Danimal696 commented on #660
didnt we talk about offseting creatures into the same tile so they dont visually merge into one?

[2015-04-13 22:17] Bertram25 commented on #418
Oh my, must be my fault. What does the log say?
Sorry about that.

[2015-04-13 22:22] Bertram25 commented on #660
Yes, we did. I'll open a new issue about that if nobody does it before me. Nice catch.
Also, I'll be honest, I don't think we'll fix this issue unless @oyvindln has got some trick about it even if I do think this issue is relevant. :)
Hopefully, @Danimal696 point will help minimize this one.

[2015-04-13 22:25] hwoarangmy commented on #418
It says it cannot find LiberationSans-Bold.ttf but it is included in the release. I guess it doesn't search in gui/fonts

[2015-04-13 23:37] hwoarangmy commented on #418
It is my fault after all.
I had not seen the file resource.cfg had changed and I had shipped an old one. The new snapshot is currently uploading ^^

[2015-04-14 06:17] Bertram25 commented on #418
Thanks :D

[2015-04-14 10:07] hwoarangmy commented on #418
I will try to be around on IRC tonight to try a lan with the new RC1 release

[2015-04-14 10:28] Bertram25 commented on #418
Me too. :) Around 9-9:30PM

[2015-04-14 10:44] akien-mga commented on #418
I should be around too :)

[2015-04-14 23:05] Bertram25 opened #672 "Seat colors : Seat 5 is too close from Seat 1."
Very visible when playing Scream in the Dark...

[2015-04-14 23:08] Bertram25 opened #673 "The Bridge: ideas for gameplay enhancement"
As discussed with @akien-mga , that map could have small bridges on both sides for both seats, some fake gold sometimes to hint the way, for instance, and a rogue portal, for instance on both extremities, but not too far from opponent' side, so that it's always something to guard.

[2015-04-14 23:09] Bertram25 opened #674 "GUI: Make tab useful on the client join menu."
So you can type your nickname, tab, the IP/hostname.

[2015-04-14 23:10] Bertram25 opened #675 "GUI: Add copy/paste support from/to edit box (/Combo box when not read only)"

[2015-04-14 23:10] Bertram25 commented on #670
I'll deal with this issue first, so that I can cleanly work on settings afterwards.

[2015-04-14 23:11] Bertram25 commented on #3
Noted by @akien-mga : Favorite IP support should be added in the user settings.

[2015-04-14 23:15] Bertram25 opened #676 "The news have no date."
The 0.4.9 news should have a small indication of its date.
The next one too. :)

[2015-04-14 23:17] Bertram25 commented on #418
Well, we did have lans and fixed a lot of issues. The 0.5.0 version has a quality level far beyond 0.4.9 IMHO. Since we're still in beta, even a rock-solid one, I think we can release now.

If you're ok, I'll close this issue and the milestone once the news are out. :D
The two other issues are post-partum ones, anyway.

[2015-04-14 23:19] Bertram25 commented on #540
Once the release news is out, it'll be time to open a new discussion thread on OD forums for 0.6.0 :D
It will be two releases done!

[2015-04-14 23:22] Bertram25 commented on #584
The tutorial is out, btw: http://forum.freegamedev.net/viewtopic.php?f=36&t=6269

I'm assigning @eugeneloza for the trailer as he is simply doing it. :)

[2015-04-14 23:26] Bertram25 commented on #584
@eugeneloza I've invited you in the OD developpers Team.
This simply means you're recognized as an active contributors and can be assigned to tasks. Not much more, I'm afraid, but welcome in any way. :D
I think nobody will have a word against it. (If you do, please speak now, or... ;])

[2015-04-15 05:30] akien-mga commented on #675
\o/

[2015-04-15 05:33] akien-mga commented on #676
I agree. This can probably be made right now with a hardcoded date.
I'll discuss his plans with @Wout-van-Dongen, personally I'd like to split the main page into several static pages sharing the same menu: News (main page), Downloads, The project.
And then news should be made more "blog-like" indeed.

[2015-04-15 05:34] akien-mga commented on #584
Nice :+1:

[2015-04-15 05:37] akien-mga commented on #418
What about the segfault experienced yesterday? Do we have any clue as to what may have triggered it?

I'll be on #668 now so that we can include it in 0.5.0 final.

[2015-04-15 06:45] eugeneloza commented on #584
Thanks! I'm afraid, not too much use of me now (just trailer & voice)... but anyway, I'll try to do my best where I can :)

[2015-04-15 07:48] hwoarangmy commented on #584
Well, that's already good (and so far, the trailer seems pretty nice).

[2015-04-15 07:50] hwoarangmy commented on #418
No the segfault happened in a win32 release and there is no backtrace :-(
I just hope it is not related to nvidia drivers again...

[2015-04-15 07:52] akien-mga opened #677 "Update or drop the FAQ.txt"
As says the title. It's partly outdated right now, and the formatting and English could use some love. IMO we should either update it (and maybe move it to the wiki), or drop it depending on whether it's still relevant for us or not.

[2015-04-15 07:53] akien-mga commented on #677
Setting to 0.5.0 milestone but if we haven't reached a decision before publishing 0.5.0, that's fine by me :)
So definitely not a blocker.

[2015-04-15 07:54] akien-mga commented on #418
So should we release 0.5.0 like that and maybe do a 0.5.1 if/when we identify the cause for the segfault? (+ other backported bug fixes or balance improvements from the development branch)

[2015-04-15 07:57] Bertram25 commented on #677
I'd be to move the useful content from it to the wiki, so we can centralize documentation, at least until the game features are more or less in place.

[2015-04-15 08:03] akien-mga commented on #677
I agree. I'll have a look at what's salvageable then :-p

[2015-04-15 08:05] Bertram25 commented on #418
IMHO, that would be a good plan. If we have more users testing the feature, we'll have more feedback on potential flaws, especially on Lan/Wan games.
WDYT?

[2015-04-15 08:25] akien-mga commented on #668
What would be a good name for this file? It won't be a changelog strictly speaking, I just want to name the new features and important bug fixes as we do in release announcements, not give a complete commit history.

It could be: CHANGES, NEWS, CHANGELOG, RELEASE-NOTES, or one of those with .txt or .md at the end, depending on the formatting we want to use and if we want to make the files easy to

[2015-04-15 08:30] hwoarangmy commented on #668
I would vote for release notes. That's pretty generic and can fit with almost everything (be it a full change log or not).
AFAIK, windows only rely on extensions. I've no win8 or win10 to test, however.

[2015-04-15 08:34] hwoarangmy commented on #418
I think we are in beta stage and it is pretty clear that the game may crash. 0.5.0 was the release that changed from a demo to a game. Compared to 0.5.0, I think we should release more often so, yes, IMHO, we can release even if we experienced an unknown segfault.

[2015-04-15 08:36] akien-mga commented on #418
OK let's release asap. I'm discussing our plans for the website with @Wout-van-Dongen to get something ready for 0.5.0, even if it's not the definitive version of the website that he has in mind :)

[2015-04-15 08:37] hwoarangmy commented on #677
I agree the wiki seems a pretty good place for a FAQ...

[2015-04-15 08:48] akien-mga opened #678 "Screenshots for the release announcement"
We're about to release OD 0.5.0, and for that we'll need some good screenshots to show our game. @Wout-van-Dongen is planning a "media" page on the website to hold screenshots, so we might need a good deal of them, but the focus should be first on 2-3 really neat screenshots for the release announcement IMO.

@Danimal696 Do you think you could make a new "showcase" image similar to the family phot

[2015-04-15 08:52] Bertram25 commented on #676
Cool. I think we'll also need some kind of "What is OD?" page once the split is done. :)

[2015-04-15 08:53] Bertram25 commented on #584
You've done a lot already. :)

[2015-04-15 08:56] Bertram25 commented on #668
Agreed for release notes. And linux doesn't mind a .txt so let's be open and add it for Windowsians?

[2015-04-15 08:57] akien-mga commented on #668
Yeah I'm trying not to be too sectarian ;-)
I'll go with .md if that's fine with you, so that we can have a nice display on GitHub. I'll make sure not too use too much Markdown formatting though apart from titles and such, so that it stays easily readable in a text editor.

[2015-04-15 08:58] Bertram25 commented on #418
\O/

[2015-04-15 08:58] akien-mga commented on #668
I think I'll also rework the README afterwards, switch it to Markdown and make a better distinction between contribution-related stuff and end-user content.

[2015-04-15 10:52] Danimal696 commented on #678
ok, i can try, give me some time

[2015-04-15 15:19] Bertram25 commented on #668
Fine by me. :)

[2015-04-16 09:22] akien-mga commented on #668
Fixed by #679.
The only thing left to do will be to add the actual release date in the release notes.

[2015-04-16 09:22] #668 closed, assigned to akien-mga

[2015-04-16 10:32] akien-mga commented on #673
IMO we should add the multiplayer version for 0.5.0, even without the additions mentioned above. I'll do a quick and dirty multiplayer version without changing the setting too much, and I'll let you do the adjustments that you want for 0.6.0.

[2015-04-16 10:41] oyvindln commented on #673
Why do we have a separation between singleplayer and multiplayer maps in the first place?

[2015-04-16 10:41] akien-mga commented on #672
That's the kind of change that we could easily make for 0.5.0 IMO.

[2015-04-16 10:51] akien-mga commented on #673
I guess the idea is that multiplayer maps needs to be "fair" for all players, while singleplayer maps can be designed so that the AI players and the human players have different resources/possibilities. For example Scream in the Dark was designed with the idea that the player would be in seat 1, and all other seats have a pre-built base from scratch.

The distinction makes sense IMO, but I agree t

[2015-04-16 10:52] Bertram25 commented on #673
Because single player maps can be designed to give an advantage to the available seats, while the multiplayer ones should balance the available slots.
See the single player games as one-level campaigns.
The fact that we're reusing content from one to another is because it's making us earn time. But I agree that the single player and multiplayer modes should later have more unique scenario.

[2015-04-16 10:52] akien-mga commented on #673
I've renamed the issue since I'll take care of the "make it multiplayer" component in my next PR. The ideas that I discussed with @Bertram25 are valid both for skirmish and multiplayer IMO.

[2015-04-16 10:54] Bertram25 commented on #673
Ah @akien-mga was quicker than me.
IMHO, it's a bad idea to merge files in the same folder because it will make things messy when we have more levels.

[2015-04-16 10:57] akien-mga commented on #673
On the other hand it makes maintaining the skirmish and multiplayer versions of a same level quite messy too, because changes need to be made in two files.

[2015-04-16 10:57] Bertram25 commented on #673
Thanks @akien-mga, I'll indeed make the changes for both maps. The bridge is a bad example as it clearly looks like a lan map adapted for single-player more than the other way around.
I'll add more difference between the two versions to reflect my initial idea. ;)

[2015-04-16 10:58] akien-mga commented on #673
Sounds great :-) Basic multiplayer version incoming for 0.5.0.

[2015-04-16 10:58] Bertram25 commented on #673
I'm on a

[2015-04-16 11:01] Bertram25 commented on #673
I'm on a phone, please be indulgent with my writing for that. ;)
Yes, only if the files look too much the same. Which is why we should try to make each experience more unique, IMHO. :)

[2015-04-16 11:04] hwoarangmy commented on #673
It is messy because we choose to use single player maps for multiplayer. But as you have already said, the maps are going to be different (for example, by removing the prebuilt rooms). Thus, the maps will be different and, if you want to change something, you will have to change in both maps, be it on different folders or not.
As @Bertram25 said, skirmish maps should be seen as one level campaigns

[2015-04-16 11:14] akien-mga commented on #672
I've made the colour of seat 5 more orange-ish to be distinct from the dark red of seat 1. Then I've made seat 7 purple instead of gold previously, since it would be too close to the orange of seat 5. And seat 8 is now pink instead of purple :)

[2015-04-16 11:15] Bertram25 commented on #673
And yes, we're speaking of level design, which means we're in the production preparation phase already. \O/

[2015-04-16 11:20] akien-mga commented on #673
After reading your comments, here's how I envision things:
- we keep the distinction skirmish/multiplayer, since skirmish levels are meant to have some kind of "scenario" like one-map campaign
- for future release, we try to actually produce those skirmish levels that are great to play solo, and multiplayer maps that are awesome to play with friends
- we add an optional parameter in multiplayer ma

[2015-04-16 11:24] akien-mga commented on #673
In Warcraft 3 (playing this currently, this game is still freaking awesome), they also have this kind of distinction: when you select "Custom Game", most games are multiplayer maps that you can play solo against the AI, but there is also a "Scenario" folder (and a "Frozen Throne" folder, I guess those are scenarios from the expansion) with some maps that are more like what we want for our skirmish

[2015-04-16 11:25] oyvindln opened #682 "Add LICENSE.md file"
See https://help.github.com/articles/open-source-licensing/

[2015-04-16 11:26] Bertram25 commented on #673
Your summary looks very relevant to me. :)

[2015-04-16 11:33] akien-mga commented on #682
The CREDITS file already address this, but I agree that we could add a LICENSE.md file for clarity, even if it's redundant. I will make it very minimal though, forwarding people to the licenses/ folder and the CREDITS for more details.

[2015-04-17 09:14] hwoarangmy opened #683 "Spell logic"
To summarize what has been said:
- Spells should have a cooldown after casting (displayed on the text near the keeper hand)
- Spell cost should be per target (depending on spell type, can be allied allied claimed tiles, allied creatures, enemy creatures, ...)
- If a spell is cast on several targets but there is not enough mana for all, it should be cast randomly on affected targets until there is

[2015-04-17 10:09] Bertram25 commented on #683
DK had it IIRC. Mana cost and cooldown, and certain spells didn't have any cooldown.
My opinion is thatif we have an example of spell where a cooldown is needed, then it's relevant.

Should we be able to spam healing, or spam lightning casting, for instance?

[2015-04-17 11:27] hwoarangmy commented on #683
That's the question ;-)

[2015-04-17 11:29] akien-mga commented on #683
IMO we need to implement cooldown, because it's an easy way to balance the game without having to rely solely on mana cost. If there was no cooldown for e.g. a lighting spell that strikes enemy creatures, we would need to make it _really_ expensive to prevent players from being able to cast it 10 times in a row if they accumulated enough mana.

[2015-04-17 11:45] hwoarangmy commented on #683
I agree for the cooldown. @Bertram25 If we go for cooldown, do you know if there is some way to have the button background color it self as a progress bar to display cooldown ?

[2015-04-17 13:11] Bertram25 commented on #683
Maybe by creating a widget in the look'n'feel that is composed of a button and a progressbar.
Yet, that's all theory for now. I'll have a look and if I'm helpless, I'll ask on cegui forums.

[2015-04-19 12:50] #672 closed, assigned to akien-mga

[2015-04-19 12:50] #677 closed, assigned to akien-mga

[2015-04-19 12:50] #682 closed, assigned to akien-mga

[2015-04-19 12:52] akien-mga commented on #418
So basically what's left is taking some good-looking screenshots (#678) and preparing the publication of the release announcement on the website. Then we can probably ask the FreeGamer guys to make a post about us :)

[2015-04-19 13:20] akien-mga opened #684 "Key to hide keeper hand and tile selector"
This could come in handy when taking screenshots of the game without having the tile selector in the picture :)

[2015-04-19 13:21] akien-mga commented on #678
Here are some first screenshots, feel free to propose yours :)

![screen1](https://cloud.githubusercontent.com/assets/4701338/7219594/b5659bac-e6a7-11e4-8859-b53591adf536.jpg)
![screen2](https://cloud.githubusercontent.com/assets/4701338/7219595/b75e42b0-e6a7-11e4-8001-a65d10cb982e.jpg)
![screen3](https://cloud.githubusercontent.com/assets/4701338/7219596/b956685e-e6a7-11e4-9a98-99b58079b08d.jpg)

[2015-04-19 13:24] akien-mga commented on #418
We should also remember to add the release date in RELEASE-NOTES.md before creating the 0.5.0 tag.

[2015-04-19 14:34] alketii commented on #584
Thanks @akien-mga  for the video, I learned quite a lot from it. I practiced a bit and the game play was awesome, rally nice game.

Thanks

[2015-04-19 18:23] Danimal696 commented on #678
not bad at all; i had to make a report for the uni this weekend so i didnt progress much, but expect them soon, tomorrow at most. I also like that map a lot, its pretty well done

[2015-04-20 07:28] Bertram25 commented on #418
Sure, thanks for the all the work done on doc. :)
Quick link to the news preparation topic for handiness:
http://forum.freegamedev.net/viewtopic.php?p=63377#p63377

As for the release date, I've merge howarangmy bt upgrade so we can have better feed-back FTW. :D
so we can release sometimes really soon like this evening or tomorrow night if you guys wish it.

[2015-04-20 07:31] Bertram25 commented on #418
From @akien-mga 's PR:

I've updated both stable and 0.5 branches with both newly merged PR. We're officially ready to release. I'll work on the release news on the website tonight if nobody else does it before me. :D
Congrats for all the work done.

[2015-04-20 07:36] Bertram25 commented on #678
@akien-mga About the release notes. Will the screen shots be part of it?
Did you want to add another page about the game itself or something?
Just tell me and I'll try to help as much as I can. :)

[2015-04-20 07:38] Bertram25 commented on #584
@eugeneloza @akien-mga Would you prefer to see the trailer done before releasing? Or is it ok if we release officially, and show the trailer in a later news? IMO, both are fine, the latter will make the trailer more visible as it will have its own news.

[2015-04-20 07:50] akien-mga commented on #584
IMHO we should release 0.5.0 and publish the trailer when it's ready. I wouldn't want to put pressure on @eugeneloza to finish the trailer asap, and 0.5.0 is ready, so let's get it out and work on the awesome 0.6.0 :-)

[2015-04-20 07:52] akien-mga commented on #678
Not necessarily all of them, but we definitely need to add some visuals to the release announcement. Maybe a couple of screenshots, and the treat that @Danimal696 is cooking for us right now :)

That would be the plan, but IMO we should first publish the new version, and in the short to middle term, work on improving the website. We'll never get this release out if we try to get everything perfect

[2015-04-20 07:53] akien-mga commented on #418
IMO we can release this evening if we're sure that @hwoarangmy backtrace upgrade does not introduce regressions in the Win32 build.

[2015-04-20 07:55] Bertram25 commented on #678
Thinking the same actually. :) Yet, I'm ok if someone see something in need of love, just as you did for the doc.

Ok, I'll make something and use one or two of them. Then, you'll be able to tell me what's wrong about it.

[2015-04-20 07:57] Bertram25 commented on #418
So far, no regressions as for me. (I played a game to make "sure".) I think the good is far beyond the bad though, as getting bt when players have crashes will help a lot IMHO.

[2015-04-20 08:01] Bertram25 commented on #584
Yeah, agreed.

[2015-04-20 09:02] Bertram25 commented on #418
I'va added the news as a PR with what we have so far.
It's all a matter of tweaking the screenshots and the release date as necessary now.
Feel free to ping me about all that as necessary. :)

[2015-04-20 09:52] hwoarangmy commented on #418
It is just adding a callback when a crash occurs. If there is a bug, it should be when a segfault occurs, so, not a big problem ^^
However, I couldn't find any way so far to have an executable smaller than 45 Mb to have the symbols (needed to display the whole backtrace when the game crashes)

BTW, sorry for not being very active but I'm on holydays right now ^^

[2015-04-20 09:53] hwoarangmy commented on #584
Yep, if we wait for everything to be ready, we will not move very fast ^^

[2015-04-20 09:56] hwoarangmy commented on #684
Should not be very hard. However, a console command might not be the best suited. That's a client side command to do client side stuff (that do not impact the game). IMHO, a keyboard key (like FXX) is more suited.

[2015-04-20 10:13] hwoarangmy commented on #683
Well, as a first step, we could display cooldown time in the selected action text (displayed near the keeper hand).
- Should we be able to cast spells on many tiles (like healing or firebolt). If so, will the mana cost be 1 per selected tile or 1 per tile where there will be an effect (for example, if we cast healing on an array of 5 tiles with 2 creatures, will the price be 5 or 2?). It could als

[2015-04-20 10:34] Danimal696 commented on #683
I prefer this one, making games too punitive its not a good idea

[2015-04-20 10:42] Bertram25 commented on #418
If the starting and running of the exe isn't too hampered by the binary size, I'd be to use debug symbols.
But I let the final decision in your hands.

Np at all. Have fun! Hope you'll sunny ones. :)

[2015-04-20 10:43] Bertram25 commented on #684
+1

[2015-04-20 10:46] Bertram25 commented on #683
+1 too, a per target effect. While, I would add that if the player triggers the spell in the middle of nowhere, the cooldown should trigger. So he knows he'd better aim next time. ;)

[2015-04-20 11:03] hwoarangmy commented on #418
In reality, it is in yours since I won't be there to build the 0.5.0 release ^^
But I have the same feeling as you do: nowadays, with the current HDD and internet conexions, the binary size is not that relevant...

[2015-04-20 13:10] Danimal696 commented on #678
Do you want them zipped or will get them from here?
![showcase1](https://cloud.githubusercontent.com/assets/8299756/7230508/ebd6fc2c-e76e-11e4-90b4-c43ba4d863d9.png)

[2015-04-20 13:23] Bertram25 commented on #418
True! @akien-mga  I'll make the binary asap.
@hwoarangmy Yeah, it's holidays time for you. I'll take care of it. ;)

Ok, I'll see whether I can keep those debug symbols in place.

[2015-04-20 13:29] akien-mga commented on #678
Wow @Danimal696 this is looking freaking awesome! :-D

If you can confirm that the screenshot are in full resolution on GitHub, then it's okay to link them here (what I can download now is 960x540 px).

[2015-04-20 13:34] akien-mga commented on #418
@hwoarangmy Have a nice and well-deserved holiday! (at least based on your hard work on OD ;-)).

Should we add a paragraph in the FAQ about how players can retrieve the opendungeons.log file + the Linux stacktrace or the crash.log file and attach it all when making bug reports?

[2015-04-20 13:35] Danimal696 commented on #678
do you want it in 1920? i lowered resolution in case it was too big, a second one is in the oven rigth now; i feel like we are cheating by showing this :-P

[2015-04-20 13:43] akien-mga commented on #678
Yeah please send them to me in full resolution too at: rverschelde ::at:: gmail ::dot:: com.
We'll probably use the lower res ones for the release announcement, but the high res ones could be used for other stuff too, e.g. @eugeneloza's trailer or maybe official OD wallpapers to put on our website :)

[2015-04-20 15:12] Danimal696 commented on #678
the zip is heavy, 20 mb, here a smaller version of the second one, in the future these will look cooler with more creatures in :D
![showcase2mini](https://cloud.githubusercontent.com/assets/8299756/7233153/e912a958-e77f-11e4-89bf-6728832abb37.png)

[2015-04-20 15:53] Bertram25 commented on #678
:D

[2015-04-20 17:22] hwoarangmy commented on #418
Good idea

[2015-04-20 19:36] Bertram25 commented on #418
Yes!! :D

[2015-04-20 19:39] akien-mga commented on #418
@Bertram25 Do you know how to make the 0.5.0 look as good as 0.4.9 on GitHub?
Cf. the overview page: https://github.com/OpenDungeons/OpenDungeons/releases 0.4.9 is shown as the "Latest release".

And the tag description is just the commit log: https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.5.0
where it was custom for 0.4.9: https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.4

[2015-04-20 19:44] Bertram25 commented on #418
@akien-mga Thanks for the reminder:

This should be fixed now: https://github.com/OpenDungeons/OpenDungeons/releases
The tag had still to be declared as a release.

[2015-04-20 19:44] akien-mga commented on #418
It's perfect now :)

[2015-04-20 20:05] akien-mga commented on #418
I have the source tarball and Linux binary tarball ready. I'll using .tar.xz for the source, as it's starting to be widespread enough and we gain some precious MB for mirrors and distros that will host of copy of the source.

For the binary tarball, I'll use .tar.gz though, because Lutris does not handle .tar.xz yet and I don't want to upload another duplicate tarball in Misc/ like I did for 0.4.9

[2015-04-20 20:20] akien-mga commented on #418
@Bertram25 Know what? We'll have to add a fixup commit and redo the 0.5.0 tag ;-)
"make install" is broken on Linux since I changed the names of some doc files.

I think I'll simply skip installing the doc files to the user's system, package managers usually handle those themselves, choosing what's relevant for their package and what's not.

Note that it doesn't affect binaries at all, so if you'v

[2015-04-20 20:23] akien-mga commented on #418
Ah no I'll keep installing the doc, because I think providing at least the CREDITS file is a must-have, so it's better to enforce it.

[2015-04-20 20:50] akien-mga commented on #418
Ok I think I've managed to update the 0.5 branch and recreate the tag to point on the proper commit. I know it's bad to use `git push -f`, but as long as it's only for tags, it shouldn't be too bad :)

[2015-04-20 21:06] Bertram25 commented on #418
And you did fine. :) Thanks a lot for spotting it. I was about to say the same. Still on the beast but it is coming. ;)

[2015-04-20 21:09] akien-mga commented on #418
We have 1 hour left CEST until our release notes are lying about the release date :-p

[2015-04-20 21:17] akien-mga commented on #418
Uploading the Linux 64bit binary right now. I'll probably do a 32bit binary tomorrow, but for now you can comment out the line about the Linux 32bit binary when you update the links for 0.5.0.

[2015-04-20 21:18] Bertram25 commented on #418
Np, this can be fixed afterwards. ;) I'm not far as well, but it is my first MingW release, so could you try it out once it is uploaded?

[2015-04-20 21:19] akien-mga commented on #418
Yep, I can try it on Wine and also boot Win 8.1 to give it a try.

[2015-04-20 22:16] akien-mga commented on #418
It looks like @hwoarangmy put some Big Knights in the MinGW-specific code :-P
I've prepared my 32bit chroot again, so the 32bit Linux binary should arrive soon. Afterwards I'm off to bed :-)

[2015-04-21 08:21] eugeneloza commented on #584
I might finish the trailer intro till the weekends... but about the 'main part' I can't say how fast it'll go. I've never done any serious non-linear videoediting before, actually I've used only ugly Windows Movie Maker. So, I'm rather unsure if I'll be able to find&master new software quickly.

[2015-04-21 08:49] akien-mga commented on #678
I had an interesting discussion with some Lutris guys who thought that those awesome Blender renderings could be seen as in-game renderings by people who don't know OD, and thus they could be disappointed that the game does not look like that "for real".

So for the Lutris page I added the logo + a small line to make it crystal clear that those are not in-game renderings (even though I hope our in

[2015-04-21 08:56] Bertram25 commented on #418
I'm uploading the installer. (Phew...) Sorry for being slow, the newer mingw installation I have, has got a fresh bug and is lacking libiberty, making ld failed with: cannot find -liberty
I thus disabled the auto-bt for now. Apart from that, it's working fine. I'll eventually fix that and me or @hwoarangmy can later provide a new binary with auto-bt support later on.
Btw, since I have no auto-bt s

[2015-04-21 09:58] Bertram25 commented on #678
Screenshots are there. @akien-mga I'll let you close this one when you think it's ok about it.

[2015-04-21 09:59] Bertram25 commented on #678
Yeah, it's pretty clear, IMHO.

[2015-04-21 09:59] Bertram25 commented on #676
Fixed with https://github.com/OpenDungeons/opendungeons.github.io/commit/c071021d04d365590f9a1f421bf9e13260473087

[2015-04-21 09:59] #676 closed, assigned to nobody

[2015-04-21 10:02] Bertram25 commented on #418
The file is uploaded the news fixed merged.
Yes, 0.5.0 is official now :sunglasses:

I've tried the win32 zip on another computer and it's working fine so far, but feel free to try!
@akien-mga Still ok to ping FreeGameDev?

I'm officially closing this one + the milestone. All what's done is considered post-partum now.

[2015-04-21 10:06] hwoarangmy commented on #418
@Bertram25 I've tried the win32 binaries on a non dev computer and it doesn't launch because you have not included 2 needed dlls from MinGW:
- libgcc_s_dw2-1.dll
- libstdc++-6.dll

Apart from that, the game crashes when starting OpenGL renderer but it is a pretty old computer so it might not be able to use that ^^

[2015-04-21 10:10] Bertram25 commented on #418
On it!! Thanks :D

[2015-04-21 10:20] Bertram25 commented on #418
New file being uploaded. The game is running fine on my own, but feel free to keep feeding if needed. :)

[2015-04-21 10:48] Bertram25 commented on #418
It should be ok now. :)

[2015-04-21 10:50] #678 closed, assigned to Danimal696

[2015-04-21 12:00] Danimal696 commented on #584
no pressure here :) , it will be done when its done, if its takes too long we will use it for 0.6

[2015-04-21 12:02] Danimal696 commented on #540
Not much to fill out on this one, yet...

[2015-04-21 12:12] akien-mga commented on #540
Yeah, we'd better discuss this all on the forum to maybe also get feedback from players directly, and determine our roadmap for 0.6.0.

[2015-04-21 12:52] hwoarangmy commented on #418
@Bertram25 I've had a look at your release and you seem to have less dlls then I had. That might come from the options you have compiled with. We will see when @Danimal696 will have tried the binaries...

[2015-04-21 12:56] akien-mga commented on #418
I've tried the Win32 binary on Linux with wine, and it gives this error:

[code]

So basically libCEGUIExpatParser.dll is missing.

[2015-04-21 13:04] akien-mga commented on #418
I compared the provided DLLs with what I bundle for the Linux binary release, and here are the missing ones in the Win32 build. I don't know if all are required though.
- boost_atomic
- boost_date_time
- boost_locale
- boost_unit_test_framework
- bz2
- CEGUICoreWindowRendererSet
- CEGUIExpatParser
- FLAC
- freeimage
- fribidi
- icudata
- icui18n
- ogg
- vorbis
- vorbisenc

There are also some OGRE

[2015-04-21 13:09] akien-mga commented on #418
Looking at @hwoarangmy's 0.5.0 RC1 build (this one runs fine in Wine), here are the differences:

Missing in 0.5.0 final:
- libboost_locale-mgw48-mt-1_55
- libCEGUICoreWindowRendererSet
- libCEGUIExpatParser
- libiconv-2

Only included in 0.5.0 final:
- libglew
- libglfw
- libjpeg
- liblibpng
- liblua
- libSILLY
- libtoluapp
- libzlib
- mingwm10
- OgrePaging
- OgreProperty
- OgreTerrain
- OgreVolu

[2015-04-21 13:37] Bertram25 commented on #418
Sorry for the two times failure.
I'll make the according changes based on previous MinGW releases.
I'll upload it asap. Keep the feed back coming. :)

[2015-04-21 13:39] Bertram25 commented on #540
Yeah, it's time to open a new topic about what we want for 0.6.0. If I could just release the win32 binary with all the deps before next month... XD

[2015-04-21 13:40] akien-mga commented on #418
Ready to test :-)

For futures releases I'll have a look at how to make minimal builds of our core libraries (Ogre, CEGUI, SFML) to minimise the number of unused bundled dependencies. For CEGUI at least I've already made myself a minimal RPM spec file to build CEGUI only with support for Ogre and the Expat parser, as we use.

[2015-04-21 14:16] Danimal696 commented on #418
sorry, i missed on the rush, will try now

[2015-04-21 14:30] Bertram25 commented on #418
Btw, freeimage is statically linked to the Ogre lib, but I don't know about the other deps.
The newest file is being uploaded with deps corresponding to the 0.5.0-rc1 release.
I didn't add zlib since I didn't compile with auto-bt support.

[2015-04-21 14:33] Danimal696 commented on #418
bad news, win32 fails:
![error](https://cloud.githubusercontent.com/assets/8299756/7254554/1e84a1d0-e844-11e4-82d8-e3d45f918ae7.jpg)

[2015-04-21 14:35] Bertram25 commented on #418
Yep, new one still being uploaded. :) I'll ping here once it's done (~15min left)

[2015-04-21 14:55] Bertram25 commented on #418
It's done!! The new file should be the good one. :D  But fear my noobiness about MingW builds and try it out. ;)
I won't close the issue a third time. Once everyone can start the game, we close this one.

[2015-04-21 15:03] akien-mga commented on #418
It works fine in Wine, congrats :-D

[2015-04-21 15:12] Danimal696 commented on #418
confirmed working in win32

[2015-04-21 15:24] Bertram25 commented on #418
k, closing finally. ;)
Thanks to everyone for the help on this one. :)

[2015-04-21 15:24] #418 closed, assigned to nobody

[2015-04-21 16:52] oyvindln commented on #415
For whatever reason, this doesn't cause problems for me any more, I don't know why. In either case maybe this could be made into a configuration option rather than a build-time option.

[2015-04-21 17:54] Bertram25 commented on #415
Did the same to me some time ago, actually.

Yeah, that's the plan. Hence, why I truly need to take a firm grip on #3 and finish it, first. ;)

[2015-04-21 17:54] akien-mga commented on #415
Based on the feedback @MCMic gave me on IRC, it looks like he also has issues with the keyboard grab.

[2015-04-21 21:40] hwoarangmy commented on #584
No pressure, no pressure... Now that I've seen the first part of the trailer, I want to see the end...

More seriously, @eugeneloza, why do you need video editing ? Isn't blender enough for what you had in mind (excepted sounds) ? From what we could see in your last video, adding some creatures lurking or some eyes doesn't seem very hard compared to what you've done (but I pretty noob with blender

[2015-04-21 23:28] oyvindln opened #688 "Add command-line options"
This would be useful for quickly changing between settings, particularly when developing, e.g to test keyboard grab. Boost has a [nice library](http://www.boost.org/doc/libs/1_58_0/doc/html/program_options.html) for this.

[2015-04-22 06:33] akien-mga commented on #584
I think the preview he showed us would only be the first part of the trailer. IIRC correctly afterwards there would be in-game recordings, etc., so it would require editing to put everything together.

I've used kdenlive recently to do the minimal video editing that was needing for the tutorial (I just had to cut the end of the video + add fade-in/fade-out + add the voice recording on top of it),

[2015-04-22 07:06] akien-mga commented on #415
Did you change or update your window manager?

+1. IMO we should make it grab the keyboard out of the box to be on the safe side (nobody reports that the game does not work when the keyboard is grabbed, it's just inconvenient when you want to access other stuff than OD while playing), and have an option to disable keyboard grab in the options menu.

I guess the options will be on the 0.6.0 milesto

[2015-04-22 10:48] eugeneloza commented on #584
I have been struggling with torch flame for a few days... not too much luck yet... maybe I go the wrong way... A nice-looking frame takes ~1 hour to render and still is not natural... hmm... I should try another flame tutorial :)

I need video editing because as I see the trailer structure:
1. intro
'Have you ever been afraid of the dark? No? Maybe the dark is afraid of you? Then you are one of us

[2015-04-22 10:48] eugeneloza commented on #584
I have been struggling with torch flame for a few days... not too much luck yet... maybe I go the wrong way... A nice-looking frame takes ~1 hour to render and still is not natural... hmm... I should try another flame tutorial :)

I need video editing because as I see the trailer structure:
1. intro
'Have you ever been afraid of the dark? No? Maybe the dark is afraid of you? Then you are one of us

[2015-04-22 10:54] eugeneloza opened #689 "0.5.0 libstdc++-6.dll runtime error"
Got this message yesterday when trying to run 0.5.0
https://www.dropbox.com/sh/58sm1t97etbdaf2/AAD4bmDFpF96rgz2ugRil4Aba?dl=0 (temporary link)
I'm a fraid I couldn't attach the files here for some reason.

[2015-04-22 10:59] akien-mga commented on #689
@Bertram25 had to make a new Win32 build to fix a similar error yesterday, could you check whether you are using the new build or the previous one? https://sourceforge.net/projects/opendungeons/files/

If you are using the old build, it should be lacking libCEGUIExpatParser.dll among others.

[2015-04-22 11:01] eugeneloza commented on #689
I've been using one from freegamedev link (at ~12:00 GMT+2)
OpenDungeons-0.5.0-Win32.zip from http://sourceforge.net/projects/opendungeons/files/

[2015-04-22 11:08] akien-mga commented on #689
Yeah so 12:00 GMT+2 would be before the new OpenDungeons-0.5.0-Win32.zip which was uploaded around 17:00 CEST. Could you try that one?

[2015-04-22 11:10] eugeneloza commented on #689
Yes... but I'm on a conference now... the internet is absolutely awful here :D

[2015-04-22 16:58] oyvindln opened #690 "RectLayoutManager - is it used for anything?"
This class/header isn't included anywhere. Is it supposed to be used for anything? Otherwise it should be removed.

[2015-04-22 20:40] Danimal696 commented on #540
when will you open it? i have a few ideas

[2015-04-23 09:34] Bertram25 commented on #690
Hey @oyvindln . IIRC, @hwoarangmy created this class to manage Skull Flags as billboards. I can't tell more and I guess he'll answer when he's back from holidays? ;)

[2015-04-23 09:35] Bertram25 commented on #689
Yeah, sorry again for the three-time upload for the release. It was my first MingW OD binary. ;)
The newest zip has now all necessary deps. :)

[2015-04-23 09:36] Bertram25 commented on #689
Ah, just tell if it's ok now. :)

[2015-04-23 09:58] hwoarangmy commented on #690
@Bertram25 is right, that's a remaining from skull flags. Actually, that's code I had downloaded to test overlays and it wasn't expected to be pushed to OD. If you want to remove it, please assign this issue and do so. Otherwise, I will do it when I'm back. Sorry for not cleaning my mess.

[2015-04-23 10:02] hwoarangmy commented on #688
I've had a quick look at the boost library and it seems pretty nice. For my part, I've always tried to not cache ConfigManager values and most of the code I've reviewed does the same. So, using such a library should be pretty straight forward to change settings at runtime.
IMHO, you can feel free to use that if you want to.

[2015-04-23 10:34] Bertram25 commented on #540
Sure:
http://forum.freegamedev.net/viewtopic.php?f=35&t=6299

[2015-04-23 10:36] Bertram25 commented on #688
Hey,

Before doing this, I'd request more use cases. ;) Why? Because: 1. I'm Evil, and 2. because I wouldn't want you to invest time on this without a clear view of what we want.

[2015-04-23 12:33] hwoarangmy commented on #688
From what I've read, it is a replacement/enhancement for the ConfigManager allowing to change config values at runtime (avoiding to have to quit/launch OD to change a config value). That would allow, for example, to change the max number of creatures at runtime (for debug purposes).
@oyvindln Please correct me if I'm wrong or if it isn't what you had in mind ^^

[2015-04-23 12:52] oyvindln commented on #688
By command line options I meant adding options when starting, e.g:
`opendungeons --no-keyboard-grab`

[2015-04-23 13:23] akien-mga commented on #688
I guess what @Bertram25 would like is more examples of the options we would like to support.
Once we've added the options in the in-game menu and possibly got rid of the Ogre launcher, we'll probably want to be able to override at least some graphics-related options from the command line, like:
- renderer
- fullscreen
- resolution
  So that if the game can't start in fullscreen for example, or if

[2015-04-23 14:39] oyvindln commented on #688
It would be mainly for things that may require the settings to be done before starting, like graphics, as stated.
Other useful feature this could be useful for would be setting the logging level, and specifying alternate paths for resources/data.

[2015-04-23 19:37] Danimal696 opened #692 "Replace webpage image with the one Samuncle modified"
http://forum.freegamedev.net/viewtopic.php?f=36&t=6290#p63844

[2015-04-23 19:44] hwoarangmy commented on #688
Seems like I've read too fast. If it doesn't allow to modify parameters at runtime, I'm not sure it is that usefull. However, if it doesn't imply linking with another library and it is usefull for you, I wouldn't be against if you want to go for it.
The hardest part will be to convince @Bertram25 ^^

[2015-04-23 20:04] akien-mga commented on #688
+1
Also setting the log file and stuff like that.

[2015-04-23 20:26] Bertram25 commented on #688
k, indeed, I wasn't asking about how to use the command line but have a few example explaining why you need it in the first place. :)
To make things clear, I wasn't mistrusting or anything, I'm just trying to make everyone specify the need before entering the code battle arena. As usual. ;)
I'd also add the help function listing all the commands. @oyvindln I guess you'll want to do it a bit like w

[2015-04-23 20:34] hwoarangmy commented on #688
In any case, using command line options is, IMHO, required. The question is more to use boost or not for that.
The main reason I can see is to allow to start OD in standalone server mode (and passing a level that would be open automatically).
Another good thing would be to force the log filename to allow splitting logs when debugging and using the same computer for client and server.

[2015-04-24 00:02] Bertram25 commented on #688
+1 for the use of boost. We're extensively using it already, anyway, and the lib looks fantastic. :)

[2015-04-24 06:37] akien-mga commented on #688
Since we are already relying on a good deal of boost libraries, I don't see a reason not to continue this way. At least for people who would like to build OD, if they have boost headers, they most likely have the whole of the boost libraries installed.

[2015-04-24 07:16] eugeneloza commented on #689
I've downloaded the latest variant and it's working! :)

[2015-04-24 07:16] #689 closed, assigned to Bertram25

[2015-04-24 18:30] Bertram25 commented on #692
I can handle that. :)

[2015-04-24 18:32] Bertram25 commented on #673
Btw, I'll make the planned changes to the level (on both versions), but I do think @akien-mga is right we should add a level option to make certain multiplayer levels available in single player mode and remove certain redundancy.
Can I open an issue about it?

[2015-04-24 18:33] akien-mga commented on #673
+42 :-)

[2015-04-24 18:40] Bertram25 opened #694 "Tileset: Lava and water animation is broken due to tiles mesh rotation."
As displayed below:
![od-bug4](https://cloud.githubusercontent.com/assets/765917/7325931/05b43c76-eac2-11e4-8a22-a01620e60b53.png)
This is more visible live, of course.

Should we reuse certain deleted models?
Useful progression forum link:
http://forum.freegamedev.net/viewtopic.php?p=64465#p64465

[2015-04-24 18:40] Bertram25 commented on #273
I'm sure @Danimal696 just fixed that one. What's left is to upgrade the model version and fix the the lava and water animation (But that's another issue I'm going to open.) - #694
Edit: Fixed with: 069d042267c3ede31e3fed7a659b7510d4ccd7d9

[2015-04-24 18:40] #273 closed, assigned to Danimal696

[2015-04-24 18:44] Bertram25 commented on #584
@eugeneloza needs quite a few things if we want it to work. :) But it's cool!

k, I'll move this to 0.6.0 since it may take a bit of time. We should split the work to be done.
Can someone handle the raw vids needed?

@eugeneloza Without pushing at all, what about kdenlive?

[2015-04-24 18:49] Bertram25 commented on #673
k, I'll do it. Time to sum up a bit what we want on the 0.6.0 topic, btw. :)

[2015-04-24 18:57] Bertram25 opened #695 "Should we remove the stable branch?"
As raised by @akien-mga , the stable branch and the latest 0.x branches have got the same content.
Should we then remove the stable branch? Or is there a need for it we didn't see?

Feel free to comment. :)

[2015-04-24 19:18] #692 closed, assigned to Bertram25

[2015-04-24 19:25] akien-mga commented on #695
tl;dr: I'd say drop _stable_ and create _0.6_ as soon as we want to start stabilizing things for the next milestone.

I think the initial idea with the stable branch was that _development_ would be a messy place full of untested commits with regressions, _stable_ would be the ready-to-release WIP version of our next milestone, while the _0.x_ branches would hold bug fixes and eventually allow us t

[2015-04-24 20:11] hwoarangmy commented on #695
I agree, stable branch can be dropped. If someone wants to download latest stable, he would have already seen the latest version on our website anyway and he would easily find it looking at the branch names

[2015-04-24 20:24] Bertram25 commented on #695
Fine, it will be done shortly. :)

[2015-04-24 20:30] Bertram25 commented on #695
It is done.

[2015-04-24 20:30] #695 closed, assigned to Bertram25

[2015-04-24 20:35] Bertram25 opened #696 "Remove level redundancy"
Taken from @akien-mga 's comments:

Skirmish levels should be designed to be played alone (and therefore not necessarily fair to all seats, which can help create more of a "scenario"), and multiplayer levels meant to be fair for all seats.

Yet, to avoid redundancy in levels as it is for now, multiplayer levels should be made available from the skirmish menu if they are tagged as such by a level p

[2015-04-24 20:35] Bertram25 commented on #696
Ideally to be done before #673

[2015-04-24 20:43] Bertram25 commented on #22
Moved to 0.6.0 milestone as requested by @akien-mga If it is a problem later, we'll talk about it. ;)

[2015-04-24 20:55] Bertram25 opened #697 "Add a position offset to creature position when there are more than one on the same tile."
This could also concern other entities such as gold.

[2015-04-24 21:01] Bertram25 opened #698 "The training room max training level should be part of room config"
its final value is still to be decided.

[2015-04-24 21:04] Bertram25 opened #699 "Create the Arena!"
The arena room is used to make creatures fight one against another and can be hurt badly in this one.
But it is the only way to train a creature higher than in the training room.

More specs:
Creatures should still get mood change and if they come hate one another, you could lose a few of them if you're careless.
The XP formula earned there should be the same than in combat.

[2015-04-24 21:43] hwoarangmy commented on #696
Well, here, I'm not sure it is such a good idea. When thinking about this kind of stuff, I usually think about how it is handled in the games I know. AFAIK, most of them allow to play multiplayer with only 1 player and they do not display common maps for multiplayer and skirmish.
Secondly, we currently dupplicate levels because we don't have many. When we will have more, skirmish will be more or l

[2015-04-24 21:51] Bertram25 commented on #696
Well, yeah, it is true that one can host a one player server game, resulting in the very same thing than a skirmish game.

I think the main point is that people won't catch that fact easily and reusing the skirmish menu should help with this.
In WarCraft III, players can select multiplayer map after a conscious fashion when clicking on the mutiplayer folder when starting a skirmish.
Maybe instead

[2015-04-24 22:17] Danimal696 commented on #699
i think this will trigger a "KO" state discussion, it will be a feature needed for the prison as well. Basically you decide if to kill creatures on combat or KO them, KO creatures behave like dead ones but get on their feet after some time, giving time to kobolds to carry them to the jail (or their bed if KO´ed in Arena?)
I also think that arena XP should be higher than combat one, unless creature

[2015-04-24 22:24] oyvindln commented on #695
The stable branch is basically a relic from the sourceforge days.

[2015-04-24 22:50] hwoarangmy commented on #696
I think it is better to make it clear. And, the combobox is a good solution. The difference between starting a multiplayer game from skirmish menu would be to fill other players with AI (even if stated as "player only seat" ?)

[2015-04-25 06:43] akien-mga commented on #696
The combobox solution would be fine with me.

If a multiplayer map has some seats that are "player only", then it can't be turned into a singleplayer map in my opinion. Hence my proposal to make this an opt-in parameter, if we ever wanted to create multiplayer maps that would not be suited for singleplayer.

But actually, I don't really see why we would create multiplayer maps with "player only" s

[2015-04-25 09:23] akien-mga commented on #697
Will it really suffice to add a tile-based offset, or will we run into problems when they are more than one creatures on two adjacent files, and some creatures might overlap at the tile junction?

What about handling collision between creatures? Would it hurt performance a lot? (I suppose so, but you're more experienced than me with this stuff :p)

[2015-04-26 14:23] hwoarangmy commented on #697
Most of all, we have to define how we want creatures to behave. For example, if we allow 2 creatures per tile, what happens if 2 are on the same tile and want to go north. But on the north tile, there are already 2 creatures that want to go south.
Moreover, what happens if a keeper drops more than 2 creatures on the same tile ?

In any case, an advanced behaviour would have to be handled on server

[2015-04-26 15:13] hwoarangmy opened #700 "Segfault in graphics drivers"
I'm back in the arena ^^
During my holydays, I've tested OD on a friend computer (I think it was 0.5.0 RC1). He got a segfault very similar to @lowerthanred had (segfault with the last log being a creature remove). I've also had something pretty similar with my laptop with last nvidia drivers. I also got something pretty similar on a laptop with an Intel HD 4500 (but in the drivers after removing

[2015-04-27 07:04] hwoarangmy commented on #696
Well, if we use a new parameter to tell if the map can be played in multiplayer, we definitely have to replace players by AI. However, we could also state that only multiplayer maps that do not have more than 1 player only seat can be played in skirmish (this way, we don't need to tell if the map is multiplayer only - avoiding description parameters is always good when they are not needed even if

[2015-04-27 19:46] #690 closed, assigned to oyvindln

[2015-04-29 08:37] Bertram25 commented on #462
Btw, I've added a fix to the next 0.9/1.0 cegui version here:
https://bitbucket.org/cegui/cegui/pull-request/155/added-support-for-a-read-only-mouse-cursor/diff

According to Ident, the fix is good and will be reviewed in the next few days. :)

[2015-04-29 09:29] Bertram25 opened #702 "Add image colouring property to the image/research buttons"
... and remove "hardcoded" icons colors.

[2015-04-29 09:30] Bertram25 commented on #702
Example:

[code]

[2015-04-29 09:34] Bertram25 commented on #343
Might be simpler than I thought:
Example:
http://static.cegui.org.uk/static/TaharezLookProperties.html#WantsMultiClickEvents

Look'n'feel:

[code]

[2015-04-29 09:43] akien-mga opened #703 "Make a better distinction between names of game UI tabs and configuration menus"
Currently in gui/ we have a lot of OpenDungeonsMenu\* layout files, but some refer to configuration menus (OpenDungeonsMenuConfigureSeats, OpenDungeonsMenuLoad, etc.), while others refer to the tabs in the game or editor interface (OpenDungeonsMenuSpells, OpenDungeonsMenuTraps, etc.).

IMO we should use distinctive names for both "things" to avoid confusion.

[2015-04-29 09:50] Bertram25 commented on #683
Yep, in any case, I'll make sure to add text support to the button type used. :)

But I wanted to tell that I've witnessed a button behaving the way you want in TorchLight II (which is using CEGUI 0.7.x). By opening a few files, I've noticed nothing relevant in the look'n'feel but I couldn't open the layout files as they have an unknown (and non-standard) encoding.
I'll open a new topic on CEGUI s

[2015-04-29 09:51] Bertram25 commented on #703
+1 (+1000 in fact. ;])
What kind of renaming or maybe subfolder sorting have you got in mind?

[2015-04-29 09:52] akien-mga commented on #703
No precise idea yet, but I thought I'd raise the issue so that we can decide what would be fitting.
This is btw partly related to #670, depending on what we do with modes we might want to use one word or another.

[2015-04-29 09:53] akien-mga commented on #703
Another related question is, do we want to keep the "OpenDungeons" prefix that makes all filenames quite long? What was the reason behind it initially?

[2015-04-29 09:59] Bertram25 commented on #703
I don't know the initial reason, the OpenDungeons prefix can be removed, as for me, or changed to OD if we somehow want to keep it. :)

[2015-04-29 10:04] akien-mga commented on #703
IMO we can remove it altogether, as it's pretty obvious in the OpenDungeons source tree that the stuff is related to OD :) It would make sense if some files were from CEGUI upstream, while others were tailor-made for OD, but AFAICT all files are tailor-made for OD (even if some are based upon upstream templates).

[2015-04-29 10:16] Bertram25 commented on #703
Yep. :)

[2015-04-29 10:31] Bertram25 commented on #697
IMHO:
- We shouldn't limit the creature number per tile or we should limit it to a high value. Otherwise, we will have noxious and rare pathfinding problems.
  Creatures should still be able to get through one another and stand on the same tile, or corridors will break your dungeon. :)
- When dropping creatures, they should be dropped on a random offset (with a margin safety for floating point imp

[2015-04-29 10:50] hwoarangmy opened #704 "Gold handling"
ATM, when a creature gets killed, it gives back the money it has up to 1 pay day. That means that gold is lost as soon as a creature gets a second payday.

In the games we have played, gold was always a problem. So, what about recycling all the money letting creatures give everything back when they die. That would allow to kill weaker creatures to get better ones. And that would not kill game play

[2015-04-29 10:54] akien-mga commented on #704
Sounds good to me :)

[2015-04-29 10:57] hwoarangmy commented on #697
FYI, in my current PR (not already released, I'm waiting for the current one to be merged), I have added creatures to the tiles on client side (as it is done on server side). That might allow to know on client side how many creatures there are per tile and, thus, find nice offsets.

Concerning the other points you raised, I agree as long as we don't want to handle collisions. The real question is:

[2015-04-29 10:59] Bertram25 commented on #704
I'm fine with it. This will have to be done anyway, when we'll add rooms to make creatures spend their money onto.

[2015-04-29 11:00] hwoarangmy commented on #703
Funny, I had the same thought yesterday. ATM, it is messy and hard to know if a file is a real menu or if it is just a tab.
Concerning the prefix, I agree it is not that needed...
+1 for renaming, so ^^

[2015-04-29 11:03] Bertram25 commented on #697
Yep. :) It is way too nasty to get into for such a small benefit, IMHO.

[2015-04-29 11:19] hwoarangmy commented on #704
BTW, I forgot to add that it will also give another good reason to players to be aggresive. If you can kill a dungeon, you will get more money and that can become a needed source of income ^^

[2015-04-29 11:22] hwoarangmy commented on #683
@Bertram25 I've followed your tuto about icons to create spells buttons but it seems you do not use "Rock.png" for them as they look pretty different from the other ones. Could you please tell me which one do you use for the current icons ?

[2015-04-29 15:41] Bertram25 commented on #704
True. :)

[2015-04-29 15:45] Bertram25 commented on #683
Ah, funny, I'm actually using that one: https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/textures/Rock.png

Have you made sure to increase the lighting/decrease saturation of the rock texture layer above the icon before inverting colors for instance?
If the tuto happens to be vague, I'll add here an image of the result per step, so you get an idea where things got wrong.

[2015-04-29 16:00] Bertram25 opened #705 "Document Creatures and Rooms per Tiers in the wiki"
Details here:
http://forum.freegamedev.net/viewtopic.php?f=37&t=5851&p=59643&hilit=tier#p59643

Taken from around here: http://forum.freegamedev.net/viewtopic.php?p=63914#p63914

From @Danimal696 :

[2015-04-29 20:32] hwoarangmy commented on #683
Yep, I had forgotten the opacity step ^^
It's good now

[2015-04-29 22:23] #343 closed, assigned to Bertram25

[2015-04-29 22:23] #702 closed, assigned to Bertram25

[2015-04-30 11:56] Bertram25 opened #709 "Recreate the particle flare.png texture to get rid of its license mud."
I'll handle it once the particles PR is merged.

[2015-04-30 12:27] hwoarangmy commented on #709
Thanks for that ^^
BTW, since it is also used for the heal spell, we could use some heart like images in a second step (but for now, a flare like would be more than enough).

[2015-04-30 17:08] hwoarangmy commented on #697
I've tried to add a random offset and it is not too bad. I will upload it once my actual PR is in.

[2015-04-30 22:48] hwoarangmy commented on #434
I think I understood what was happening. It is easy to reproduce. Just launch a level, select some tiles, go back to main menu and launch again the level. Try to select the same tiles and they will not be shown. I guess the tile selector is not destroyed between 2 games. Note that the problem is probably with the entity which means that the bug relies on tile coords, no matter the level you launch

[2015-05-01 15:16] Bertram25 commented on #434
Cool ":D

[2015-05-02 22:23] Bertram25 commented on #462
The fix has been accepted and merged. :)
We'll now have support for readonly cursor image on editboxes. :)

[2015-05-02 22:56] Bertram25 commented on #683
After some research, it seems they are likely to use a child widget (such as a staticImage) to buttons and setting its opacity and area through the code to show the cooldown.

Once your PR is in, I'll open an issue to myself so I don't forget to test that. :)

[2015-05-03 08:04] #683 closed, assigned to hwoarangmy

[2015-05-03 08:11] akien-mga opened #710 "Adjustments to the new spell logic"
- [x] Make the the spawn worker spell have a 0 cooldown value. 581b02858a1b33fe4ca30305731dd7c0c74c56f3
- [x] Make the spell be casted only if it's relevant. I mean if it has no effect, it shouldn't trigger. 0e50df85297b7d23c2776d99991c9cdb79c06a5b

Question:
Make the heal, explode, and spawn worker spells castable on creatures whatever their tile type is?
Done. Heal and Explode will be castable o

[2015-05-03 08:14] akien-mga opened #711 "Heal animation does not work on Intel HD Graphics chipsets on Linux"
To investigate this further, @Bertram25, @oyvindln and or @akien-mga should try the Ogre samples so that we can narrow down what is not supported by the Intel chipsets.

[2015-05-03 08:26] akien-mga opened #712 "'Close' cross on research works only if clicked at its lower edge"
As reported on the forum by @eugeneloza. I can confirm the issue, it looks like the cross graphics are not in sync with the actual location of the clickable square.

[2015-05-03 08:34] Bertram25 opened #713 "Improvement to the text overlay"
- [x] Now we have more spells and more rooms, it would be better to make the text overlay display the unit along with the cost.
  Example:
  Training Hall [150 Gold]
  Heal [5000 Mana]
- [x] The spells and rooms overlay texts shouldn't show a 0 cost when unspawnable/uncastable, just the text in red.

[2015-05-03 08:38] Bertram25 commented on #712
Confirmed. Must be my fault somehow and I'm sure this one is pretty old. (From the time I upgraded the windows look'n'feel).
I'll handle it.

[2015-05-03 09:14] #434 closed, assigned to hwoarangmy

[2015-05-03 09:14] #660 closed, assigned to nobody

[2015-05-03 09:14] #684 closed, assigned to hwoarangmy

[2015-05-03 09:14] #697 closed, assigned to hwoarangmy

[2015-05-03 09:14] #698 closed, assigned to hwoarangmy

[2015-05-03 09:14] #704 closed, assigned to hwoarangmy

[2015-05-03 09:18] akien-mga commented on #711
I've tested the "Nimbus" animation in Ogre's SampleBrowser, and indeed it does not work with my Intel chipset. It works fine with my Nvidia GPU. The other particle effects seem to display just fine.

[2015-05-03 10:46] eugeneloza opened #715 "It's payday... but no one to pay."
I've got a message 'It's pay day' but I've got no creatures to pay (strangely, but none came to the dungeon for a long time and the only spieder came was immediately after the pay day so it took no fee).

[2015-05-03 10:57] eugeneloza opened #716 "Lava inhomogenity"
Lava is inhomogeneous near the walls - all the lava is animated synchronously, but lava near walls is animated reverse. It doesn't look good at a screenshot, but very well seen at runtime.
![lava_inhomogenity](https://cloud.githubusercontent.com/assets/10726162/7444773/c3185cac-f193-11e4-9f43-79fd5e399116.png)

[2015-05-03 11:04] eugeneloza opened #717 "Darkened gold in treasury"
One pile of gold is of darker color than others... can be seen at any angles/zooms, dependless if there are any creatures around. After some creature took its fee from the pile it changed to normal color, but when kobolds replaced it, it again became darker than others.
![treasury_color](https://cloud.githubusercontent.com/assets/10726162/7444792/e36738c4-f194-11e4-8f05-75df836881a2.png)

[2015-05-03 11:10] eugeneloza opened #718 "384000 mana required while 250000 is max"
To summon a new worker I need 384 ths mana, while the mana caps at 250 ths. This is not a problem, but the message should better read like 'you cannot summon any more kobolds' rather than red 384000 number.

[2015-05-03 11:18] eugeneloza opened #719 "A training hall dummy after temple destroyed"
After the temple is destroyed a training hall dummy was hanging around at its center. It's cool to see the keeper hanged up :) But it seems to be not as planned :)
https://www.dropbox.com/s/lxvahzvbtbms8gq/replay_20150503_133520.odr?dl=0 /// the very end of the replay.

[2015-05-03 11:29] eugeneloza opened #720 "Unneeded rooms & traps"
Are 'no longer needed rooms and traps' are needed? I.e. we have a library for research. But when all research is done, there is no need in the library so it seems to be practical to demolish it.
The same relates to traps. They cost quiet a handful of money to build but when the battle shifts to other areas they are (hopefully) no longer needed. Can they be 'transported' to a new location, or shoul

[2015-05-03 11:37] eugeneloza opened #721 "Scarab nose too thin"
Scarab nose looks too thin and from a high point of view it looks like a helicopter spin on its nose http://thumbs4.ebaystatic.com/d/l225/m/mi2Er-gfYYI_biAAPpRobUw.jpg

[2015-05-03 11:39] eugeneloza opened #722 "Easy to sacrifice the creature when placing it"
Right mouse button is used to place creatures and sacrifice them. But when you have ~15 fighting creatures selected and you need to place them quickly you're easy to miss the amount of clicks and smash your own creatures when you need them most. Maybe shift-right click to sacrifice? It's not a very often option in contrast to throwing all your fighters at the enemy.

[2015-05-03 11:40] eugeneloza commented on #711
No particles for my Radeon HD5400 either.

[2015-05-03 11:41] eugeneloza opened #723 "Heal a healthy creature"
I can heal a healthy creature with a healing spell. It doesn't seem to eat up the mana, but triggeres a cooldown (latest dev snapshot of 3.05).

[2015-05-03 11:53] eugeneloza commented on #723
Hmmm... the spell actually appears to do nothing (the creature is killed almost a few moments after it was healed) and doesn't use mana (as it was 250 000 it remained so)

[2015-05-03 11:54] eugeneloza commented on #719
![odscreenshot_2015-05-03_145026_5](https://cloud.githubusercontent.com/assets/10726162/7444924/e6ce2a48-f19b-11e4-9519-7b7d70431580.png)

[2015-05-03 11:54] eugeneloza commented on #715
Moreover, got 'its pay day' after defeat.

[2015-05-03 11:57] eugeneloza opened #724 "Heroes fight each other and empty space?"
The heroes seem to fight each other and empty space after defeating the keeper.
![odscreenshot_2015-05-03_145224_8](https://cloud.githubusercontent.com/assets/10726162/7444929/0e2b55e8-f19c-11e4-80ad-5ae24c89fdc4.png)
A group of wizards attacking an empty tile:
![odscreenshot_2015-05-03_145043_6](https://cloud.githubusercontent.com/assets/10726162/7444928/0e2aefae-f19c-11e4-9bda-aa4fa3236856.png)

[2015-05-03 12:54] Danimal696 commented on #722
you mean slapping, and its true, i have killed a few almost dead creatures rescued from combat when dropping them on the dormitory

[2015-05-03 12:57] Danimal696 commented on #721
that its easy to fix, ill take it, just making it bigger should work

[2015-05-03 13:05] Danimal696 commented on #720
i have been playing dungeon 2 these days and i love their trap mechanics; ill explain:
-Traps and doors are free
-Workshop make only toolboxes
-The traps and doors cost is represented in needed toolboxes (2 for wooden door,  4 for spinning trap...)
-The workers carry the toolboxes to the trap until all needed boxes are there and then start building the trap
-Meanwhile the worshop creatures create

[2015-05-03 13:07] Danimal696 commented on #719
are you sure its not the "Call to war" spell? currently it has that icon as a placeholder, but thinking about it, maybe its the way portal home into dungeons? Hmwo should know about this...

[2015-05-03 13:12] Danimal696 commented on #717
anything staking will darken its texture (gold or creatures) on the pic there are two money bags stacking on each other, problably a kobold carried it to the treasure room, saw it full and dumped it there, later when some space was empty on it another properly added the gold to the room. Ill open an issue with a soultion

[2015-05-03 13:17] Danimal696 opened #725 "Make gold bags have a random rotation and offset in treasure room"
To avoid staking visual texture error and make the room look better

Reference to this:
#717

[2015-05-03 13:46] eugeneloza commented on #719
I've never used "Call to war" and its definitely not the case. However, it disappeared after a few secs. So might that be a kind of 'autocast' on game end? Or enemy heroes cast this one at my temple?

[2015-05-03 17:05] akien-mga commented on #723
Yeah, only the cooldown will be triggered. We decided to do that at first, but after testing it we think it would be better to do nothing, cf. #710.

[2015-05-03 17:05] akien-mga commented on #723
Closing as duplicate of #710.

[2015-05-03 17:05] #723 closed, assigned to nobody

[2015-05-03 17:06] akien-mga commented on #719
That would be your enemy casting "Call to war" I think :)

[2015-05-03 20:03] hwoarangmy commented on #710
ok.

I'm not sure that it is a good idea because it would allow to cast spells behind claimed walls (since they give vision). I'm not sure it is compatible with this behaviour. But maybe with a spell upgrade, they can change from "castable on claimed tiles" to "castable on not enemy tiles (claimed + unclaimed)" and finally to "all tiles".

[2015-05-03 20:05] hwoarangmy commented on #711
Ok. Then it is a problem with the effect himself. I will have a look at google since it should be pretty easy to find something about it if it happens with Ogre samples. In any case, the effect is pretty easy to change by playing with the particle script file.

[2015-05-03 20:07] hwoarangmy commented on #712
I cannot reproduce on windows. However, while looking at it, I've seen that if I double clic on the research (and any other) window, it disapears and it won't show again even if I press the research tree button.

[2015-05-03 20:08] hwoarangmy commented on #713
true

[2015-05-03 20:09] hwoarangmy commented on #715
Yes, payday message is not related to having creatures or not. But adding a check should not hurt too much if it bothers you.

[2015-05-03 20:12] hwoarangmy commented on #716
Yes, that's a know problem since the tilesets. It comes from the tiles being rotated. Too many people are complaining, I guess we will have to do something ^^

[2015-05-03 20:16] hwoarangmy commented on #717
As @Danimal696 said, it comes from the meshes being one over the other. Adding a rotation offset would look weird IMHO (since most of the bag would be superposed). But we can add a random offset ingame and, why not, a random rotation would make it look better.

[2015-05-03 20:16] hwoarangmy commented on #718
seems fair

[2015-05-03 20:20] hwoarangmy commented on #719
Yep, that's how it works. The portal wave digs a way to your dungeon (if any) and, once it has opened a way, it cast a call to war spell to make sure the creatures go at the good place. And that's what you see here ^^

[2015-05-03 20:20] #719 closed, assigned to nobody

[2015-05-03 20:21] hwoarangmy commented on #720
well, both mechanisms can be used. I don't particularly prefer one or the other way.

@Bertram25 @akien-mga @oyvindln WDYT ?

[2015-05-03 20:22] hwoarangmy commented on #722
Yep, some of my creatures got slapped for this same reason ^^

[2015-05-03 20:27] hwoarangmy commented on #724
I've not had a look at your replay but for the heroes fighting each others, it comes from them not being of the rogue faction. Because of that, they have mood. And when they are angry for too long (because hunger/tiredness/paydays), they become rogue and fight the other heroes. We should decide what to do about that. If we want to change that we could:
- allow some seats to behave like rogue ie no

[2015-05-03 20:36] eugeneloza commented on #724
Absolutely. The treasury gold is 'what remains of the temple'. No more creatures. They just hit an empty tile after defeating me (noticed this in 2 different games)

[2015-05-03 20:40] akien-mga commented on #722
I killed a lot of creatures like that too. I'm not sure if we want to keep this as a feature since we're an evil game, or if we want to make it easier to drop creatures without killing them :)

[2015-05-03 21:18] hwoarangmy commented on #724
ok. I will have a look then
BTW, don't you have the log file ?

[2015-05-04 09:59] Danimal696 commented on #722
should a restriction of one second be added to use slap after any action of the hand?

[2015-05-04 10:03] Danimal696 opened #726 "Regression? Casting "Call to war" makes nothing"
The doll is not planted and creatures dont go there; is it related to portals planting their own? error seems to happen on every map

[2015-05-04 10:33] eugeneloza commented on #722
... after 'drop'. But as for me, those should be different keys (i.e. right-mouse click and shift-right-mouse click)

[2015-05-04 10:40] Bertram25 commented on #713
Ah, btw, while we're speaking about it.
Both debug and room/spells/trap text overlay should be hidden when leaving the game/editor modes.
Atm, if you leave the game with those shown, they'll stay shown on the main menu.

[2015-05-04 10:41] Bertram25 commented on #715
Having a payday should indeed happen to those still having a temple IMHO. Once you've lost, it's not relevant indeed.

[2015-05-04 10:42] Bertram25 commented on #716
Indeed. Known and a duplicate of #694

[2015-05-04 10:42] #716 closed, assigned to nobody

[2015-05-04 10:44] Bertram25 commented on #717
Superseded by #725 as @Danimal696 told. :)
It's good to see we're at a level of details that means the quality is high already. :)
Keep them coming. :)

[2015-05-04 10:44] #717 closed, assigned to nobody

[2015-05-04 10:49] Bertram25 commented on #718
IMHO, this issue is not relevant for several reasons.
The very first one is that we planned to let players unlock higher mana max later on by adding corresponding skills in the skill tree. (Even if it's not quite formally said anywhere. ;])
And secondly, it's pretty explicit you can't spawn a worker when the summon worker spell cost 384000 mana and you only have 250000 (max or not). The text overl

[2015-05-04 11:00] Bertram25 commented on #720
Hey there, :)

There are several interesting things there.

I think I disagree. Why? Well, you're right that the library is no longer needed for research once you've researched everything. (even if later, with more skills, they will be needed longer.) <- The goal to btw to make it impossible to research everything in a reasonable amount of time.
Also, they're still needed to keep attracting certai

[2015-05-04 11:04] Bertram25 commented on #725
True. Making them a random position (both rotation and offset) when put on floors will help. :)

[2015-05-04 11:08] Bertram25 commented on #722
I also think @eugeneloza is right here. Slapping should be a conscious thing. ;>
I don't mind about the Shift+Right-click, but if you can think about something simpler, feel free to tell.

Eh eh. :)

[2015-05-04 11:29] Bertram25 commented on #726
I confirm the issue. :)

[2015-05-04 11:32] Bertram25 commented on #712
Meh, I confirm the issue. I'll have a look at whether the window don't get minimized or something.
Maybe I should also disabled multiple clicks for frame windows and system button.

[2015-05-04 12:02] hwoarangmy commented on #726
I will have a look tonight

[2015-05-04 12:14] hwoarangmy commented on #718
Didn't knew that ^^
In this case, it is better to let the mana amound displayed

[2015-05-04 12:19] Bertram25 commented on #718
Well, I'm evil (and a mere mortal), that may explain that. ;)

[2015-05-04 12:24] Bertram25 commented on #710
I'll be honest, I don't think we should make spells that complicated. And I do think different spells should have different cast conditions support.
For instance, I'd like to have heal be castable on ally creatures whatever the tile is, explode on ally claimed tiles, spawn workers and call to war on any visible tiles.
WDYT?

[2015-05-04 12:25] Bertram25 commented on #709
True. I can handle that. Then, may I request we change the "not-intel-compatible" particle first so I can have a view at what it is looking like. Then, I'll make a proposition. :)
WDYT?
I can have a go at playing with the particle effect if you're ok with it.

[2015-05-04 12:28] Bertram25 commented on #694
@Danimal696 Hey,

To fix this one, (and finally have a good looking default tileset), do you think you could recreate the lava borders tiles with differently rotated lava textures?
This way we could fix the tileset config to get the desired result.
@hwoarangmy @akien-mga @oyvindln Are you ok with my proposal?

[2015-05-04 12:29] hwoarangmy commented on #709
I've not taken the particle effect bug so feel free to take it and play as you want. Anyway, I'm not best suited since I don't reproduce the problem so...

[2015-05-04 12:37] hwoarangmy commented on #710
Ally creatures ? That would mean that is you want to focus on 1 particular creature, it will be harder since casting the spell may randomly choose a weak ally creature when you wanted to heal your pitdemon ^^

However, I would say it is a player question (rather that a dev question) so let's ask what everybody wants.

@akien-mga @Danimal696 @eugeneloza @oyvindln  WDYT ?

[2015-05-04 14:37] Danimal696 commented on #720
traps could also be free but its creation worshop points upped by x4 so they are not so easily layed

[2015-05-04 14:41] Danimal696 commented on #694
we would need to add more tiles then (4 for lava + 4 for water) since we are just using the same one but rotated, no big problem but someone will have to modify the config file afterwards to included them

[2015-05-04 17:29] hwoarangmy commented on #694
@Danimal696 if you want, I can handle this one

[2015-05-04 17:37] hwoarangmy commented on #720
There is a philosophic choice to do here. IIRC, there was 3 "ways": creatures, spells and traps. Creatures need gold, spells need mana and if traps are free, they might be overpowered...

[2015-05-04 18:49] Danimal696 commented on #694
please do, but bear in mind to use the fixed tiles

[2015-05-04 20:45] hwoarangmy commented on #694
@Danimal696 Sorry, I've had a look but rotating the material doesn't work when there is an animation. Could you please do it ?

[2015-05-04 22:18] Danimal696 commented on #694
ok

[2015-05-04 22:38] Bertram25 commented on #720
This is true, as this means that once you have a workshop, you won't stop adding traps.
This is truly making me think that we could have a go at simply reducing the traps price and see how only doing this will change the gameplay.
The toolbox mechanism isn't not incompatible with this idea, but doesn't add much to the gameplay if we keep making trap cost gold.
On the strategical field, adding trap

[2015-05-04 22:42] Bertram25 commented on #718
k, we're two agreeing with this, so let's close.
Feel free to reopen if you see anything relevant.

[2015-05-04 22:42] #718 closed, assigned to nobody

[2015-05-04 22:54] Bertram25 commented on #709
I've found the "offending" statements:
In the SpellCreatureHeal.material file:
If you comment those, the effect works again.

[code]

There are rose dots going up. Is that the correct effect? I mean: is the effect similar for you?

[2015-05-04 22:56] Bertram25 commented on #709
For the record, I think we should avoid using point based quads for intel graphics?
http://www.ogre3d.org/docs/manual/manual_16.html#point_005fsprites

@oyvindln WDYT?

[2015-05-04 23:13] hwoarangmy commented on #724
I've had a look at your replay. I confirm the wizards are attacking rooms. If you have changed nothing, their range is 7 and there is the dormitory not far.
Actually, I think the bug is that they are attacking through the wall. That can be seen here:
![odscreenshot_2015-05-05_010224_1](https://cloud.githubusercontent.com/assets/7493706/7464433/8a5f0196-f2c3-11e4-9848-da7d358e7924.png)

And here, a

[2015-05-04 23:14] hwoarangmy commented on #709
yep ^^

[2015-05-04 23:14] Bertram25 commented on #709
PR incoming then. ;)

[2015-05-04 23:16] Bertram25 commented on #724
I do think a flame particle effect could do the trick. ;)
For instance, we could reuse the cannon ball + flames?

[2015-05-04 23:19] hwoarangmy commented on #720
well, in reality, ATM, one creature can easily craft as many traps as you want. In any case, I think we should not spend too much time on balancing until we have a decent number of traps/rooms/spells. The time to play will come soon and that will be the occasion to see all that in action. But remember that creatures now store all the gold they got for payday. That means that gold will be a little

[2015-05-04 23:20] hwoarangmy commented on #724
why not. I will have a look

[2015-05-04 23:28] Bertram25 commented on #720
k. IMHO, one more argument to wait and see. If nobody else has strong argument against, I'll close this one in a few days. If anything else pops up, feel free to reopen later. :)

[2015-05-04 23:35] Bertram25 commented on #710
Sure, you're right. :)

[2015-05-05 04:10] eugeneloza commented on #724
Haaa! Now I get it. Really they looked like punching an empty space...
The particles is the way to go. Something like this? https://youtu.be/JEiKX_xXTVQ?t=14m44s

[2015-05-05 06:23] hwoarangmy commented on #724
BTW, now that I come to think about it, I'm pretty sure they check what to fight on visible tiles only. That means they cannot attack through walls.
In the first picture, I think they are attacking the tiles where the Knights are (which are more or less 7 tiles away)

[2015-05-05 06:25] #724 closed, assigned to nobody

[2015-05-05 07:16] akien-mga commented on #694
Isn't there a way to handle the animation as a particle effect or something similar, so that we don't have to make sure every mesh orientation matches the overall animation?

[2015-05-05 07:52] #709 closed, assigned to Bertram25

[2015-05-05 07:52] #711 closed, assigned to Bertram25

[2015-05-05 08:14] akien-mga opened #729 "Add a cheat to unlock all skills at once"
For testing purposes of course... Mouahahaha :smiling_imp:

[2015-05-05 08:42] Bertram25 commented on #694
The problem is the "ground" texture orientation (The texture flat part). Animated or not.
If you look carefully, dirt and gold tiles are also affected.
But we can later add particles on lava. :)

[2015-05-05 08:48] Bertram25 opened #730 "Add support for a starting mana value per seat"
Just for the sake of completness. ;)
I think the 0.6.0 release will be the magic & lights one. ;)

[2015-05-05 09:15] akien-mga commented on #730
There's already support for that, no?
https://github.com/OpenDungeons/OpenDungeons/blob/development/levels/skirmish/FallingKeeper.level#L21

[2015-05-05 10:57] hwoarangmy commented on #730
Yep, there is. It is not configurable in the editor (like the other seat related stuff) but it works

[2015-05-05 10:59] hwoarangmy commented on #729
For every player or just those with a nick starting by "aki" ?

[2015-05-05 11:20] akien-mga commented on #730
Closing then.

[2015-05-05 11:20] #730 closed, assigned to nobody

[2015-05-05 11:21] akien-mga commented on #729
Lol :-) More seriously I was thinking about a server-side command like "unlockskills" that would instantly make all skills researched, so that one can easily test spells/higher tier rooms without having to play for too long.

[2015-05-05 11:22] akien-mga commented on #729
The alternative is to make all researches achieved on test levels, as currently done (or at least partly) on the 2v2 test map.

[2015-05-05 11:31] akien-mga commented on #694
I'm not sure I see what you mean. I thought the problem in this bug report is that the water and lava tiles have a texture animation, and the rotated meshes on the edges break the flow by making the animation transversal or backwards.

[2015-05-05 12:11] #726 closed, assigned to hwoarangmy

[2015-05-05 12:11] #725 closed, assigned to hwoarangmy

[2015-05-05 13:20] hwoarangmy commented on #729
No, I guess the console command makes sense as it can allow to test more easily

[2015-05-05 15:17] Bertram25 commented on #730
My bad. Cool if it's done. :)

[2015-05-05 15:21] Bertram25 commented on #694
Unfortunately, not only. the animation makes the problem more visible, but rotated tiles have got the same problem of textures being not seamless.
I'll make a few screenies asap to show the problem.

[2015-05-05 16:33] Bertram25 commented on #663
I then ask a vote:
Should we either:
- Let it as is?
  or:
- Add 3 pause per player and permit any player to unpause after a few secs.

@oyvindln @Danimal696 @hwoarangmy @akien-mga ?

[2015-05-05 16:48] Bertram25 commented on #663
oops, I forgot: pinging also @Wout-van-Dongen @eugeneloza

[2015-05-05 16:51] Bertram25 commented on #540
pinging also @oyvindln @Wout-van-Dongen @hwoarangmy @eugeneloza
Hey,
I've updated the 0.6.0 issue content to reflect the current effort. :)

This one is big and will be quite a good stuff to release.
I'll also add an issue about the fact that the development branch game should now be 0.6.0 as there already are incompatible level changes.

Let's review the progress and iteration drifting in a month

[2015-05-05 16:53] Bertram25 opened #731 "Move the game binary version to 0.6.0"
As there are incompatible change in level content already. :)

[2015-05-05 16:56] Bertram25 commented on #191
Note to self: tweak the texture and material to add the owner star.

Is there a will to see bridges in 0.6.0 or do you guys think there is already enough for now?

[2015-05-05 16:57] Bertram25 opened #732 "Add the door trap."
- [x] Model + Texture needed.
- [x] Icon needed.
- [x] Wiring it in game is then to be specified and done.

Specs:
the door is a special trap that can be closed/opened when slapping it.
A closed door must be identified as walkable for allies, but as a visible trap for enemies.
Doors can only be placed on ally claimed grounds when there are two ally claimed wall next to it.

[2015-05-05 17:04] Bertram25 opened #733 "Skull flags - Improvement - Health visual part."
As discussed here:
http://forum.freegamedev.net/viewtopic.php?f=35&t=6299

The skull flags needs to have more than 4 states as it is making hard to guess when a creature is actually becoming weak. The change is often too sudden.

8 states has been proposed.

[2015-05-05 17:07] Bertram25 opened #734 "Skull flags improvement - State display part."
See also #733

As discussed in:
http://forum.freegamedev.net/viewtopic.php?f=35&t=6299

Skull flags should also display when:
- A creature is in bad mood.
- A creature wants to quit the dungeon.
- A creature has become feral.
- A creature is sleepy.
- A creature is hungry.
- A Creature is on its way to get its pay.
- A creature is KO (for the arena)

Small icons shown above the skull flags have be

[2015-05-05 17:10] Bertram25 opened #735 "Infinite gold tile support."
This is a new tile type that permits to dig gold forever but as a slower rate (let's say 40% or the nominal speed.) Slow workers will thus be a waste on this one even if they will improve fast.

Also, as a first thought about it, I'd say that no more than 4 workers (one per accessable side) should be able to work on it.

The tile model should first be done.

[2015-05-05 17:13] Bertram25 opened #736 "Gift box support"
A gift box is an entity that once brought to the temple will offer the keeper a unique skill triggerable only once but will be a very powerful one.

For now, gift boxes could simply be free gold, mana, equipment, or traps.
Support for more skills is IMHO a separate issue but this should be kept in mind while implementing that gift boxes could be linked to a skill.

N.B.: Creatures can also drop su

[2015-05-05 17:18] Bertram25 opened #737 "Grass tile types."
Grass tile types are dirt tiles that have seen the sun. ;)

As a long-term gameplay feature, the grass tile types could be used to get plants and wood from trees
and be used to boost mana or traps crafting.

As a short-term one, such tiles could be used to have levels with partial exteriors and make the game more interesting. Grass tiles types should have to be turned to dirt before being claimabl

[2015-05-05 17:50] eugeneloza commented on #663
I'm afraid, I have never ever played an online game :D Not a single one :D
So as for theoretic: yes, the best solution seems to me unlimited pauses for everybody but anybody can unpause.
Or (more complex): the player may issue a 'please, can we pause the game for ___ minutes?' which has to be approved by every participant. I.e. the pauser must define how long the pause will be.

[2015-05-05 18:31] Danimal696 commented on #191
stone one shouldnt take more than a day to finish, if you are adding them i can prioritize it

[2015-05-05 19:07] hwoarangmy commented on #734
Note that it doesn't have to be the skull flag (but another overlay)

[2015-05-05 19:13] hwoarangmy commented on #376
Note that I am planning trying to allow ranged units to launch missiles instead of attacking from far away (making buggy impression that they are fighting alone). However, that doesn't change anything to the fact that they will try to retreat when attacked by ranged units.

[2015-05-05 19:14] hwoarangmy commented on #540
There are more here than what I was expecting ^^
Let's try to do most of it.

[2015-05-05 19:18] hwoarangmy commented on #731
thanks to me ^^

[2015-05-05 19:22] hwoarangmy commented on #710
I will take care of not casting spell if no targets. However, I won't close this issue until we decide if we allow casting spells on allied creatures or only owned.

[2015-05-05 19:28] hwoarangmy opened #738 "Crash when using explode spell"
@Bertram25  Could you add something similar to the flare.png in Ogre (without hearts) ?

flare.png was used for explode spell (in the material file)

[2015-05-05 19:57] Danimal696 commented on #376
thats why i proposed they should have a safe zone where they will run (less than 3 tiles) and an effective attack zone (3 - 5/6 tiles), my reason being that if you drop them rigth into the war zone they will lose a lot of time repositioning or just running away if there are enemies on both sides closer than their max rattack range. And they should also be able to figth other ranged 1 on 1, rigth?

[2015-05-05 22:10] Bertram25 commented on #734
True :)

[2015-05-05 22:13] Bertram25 commented on #540
Don't worry, we'll likely move the hurting pieces preventing from releasing as we want once we're at mid scope.

[2015-05-05 22:26] Bertram25 commented on #731
Yes, but it's for the better. :)

[2015-05-06 09:29] Bertram25 commented on #738
Thanks and sorry for the dumb mistake. I'll fix this asap.

[2015-05-06 10:06] Bertram25 commented on #713
Done with commit b96b57e7821c16bced7ed6881987a74c7ac42694

[2015-05-06 10:06] #713 closed, assigned to hwoarangmy

[2015-05-06 10:09] Bertram25 commented on #710
Let's open a new issue about this, and close this one. I'll deal with it.

[2015-05-06 10:09] #710 closed, assigned to hwoarangmy

[2015-05-06 10:12] Bertram25 opened #741 "Should spells be castable on ally creatures?"
@eugeneloza @oyvindln @Wout-van-Dongen @akien-mga @hwoarangmy @Danimal696

Should defensive spells be castable on ally creatures or only on own creatures?
Other thoughts about this?
Let's have Heal in mind as an example.

[2015-05-06 10:12] Bertram25 commented on #710
Extended by #741

[2015-05-06 10:13] Bertram25 commented on #741
Should they also be castable on ally claimed tiles but on own creatures?

[2015-05-06 10:51] eugeneloza commented on #741
I think that every spell must be castable anywhere, except summoning/very powerful/etc. But it is possible to make them twice as expensive if cast on non-ally area (unclaimed or enemy's).
I don't think the spells hould be castable on AI controlled ally creature... however, that might be the way to go for multiplayer. So... maybe multiplayer test might answer the question?
I don't actually think it

[2015-05-06 11:20] #738 closed, assigned to Bertram25

[2015-05-06 12:25] Danimal696 commented on #741
+1
Also, yes, castable on allies

[2015-05-06 12:29] akien-mga commented on #741
I like the idea :)
IMO it does not make sense to restrict a spell like Heal to claimed tiles, as then it becomes strictly a defensive spell, and not a support spell when attacking. The price difference suggested by @eugeneloza makes for a nice way to differentiate the spell without creating two different spells for the two use cases.

As for casting on allies, I'd say why not, but the spell should

[2015-05-06 12:30] Danimal696 commented on #734
Creature is on its way to get its pay
Creature is hungry

i would propose the skull flags changes to this new icons, and they are always visible so you can easily locate affected creature, except when hovering them or pressing Alt or in battle that the skull flag will reappear

[2015-05-06 12:33] Danimal696 commented on #741
Pertty cool idea! i want it someday!

[2015-05-06 13:56] Bertram25 commented on #734
@Danimal696

@hwoarangmy will know more, but AFAIK changing the skull flag texture itself would force us to create 8 health states per icons and it's not relevant in term of development effort.

[2015-05-06 13:57] Bertram25 commented on #741
I like the idea, too.

Overall, I agree with what @akien-mga said.

[2015-05-06 14:40] akien-mga commented on #734
IIUC @Danimal696 meant not to display the skull flag, but display a status flag instead. Personally I think we should keep the skull flag, and just add a second overlay on top of it, like a small coloured icon at the bottom right of the skull flag.

[2015-05-06 14:48] Bertram25 commented on #734
Indeed. :) But as we'll still want to know about the creature health level, it will mean 8 state per icon.

I do also think alike. Let's see whether the others have something to add here.

[2015-05-06 19:54] hwoarangmy commented on #734
Yes. So far, it is not possible to dynamically change the skull flag. Moreover, It is IMHO too big to be displayed automatically. To display some creature state, another overlay should be better IMO.

[2015-05-06 20:08] hwoarangmy commented on #741
Remember that the spells I've added so far are just for demonstration, that's why I didn't ask before implementing so, if everybody wants to change something, please feel free to do it. However, I was thinking that we could also add some research that would allow to cast spells outside claimed tiles. That would allow someone to goes fast for rooms (and for stronger creatures) to not overcome someo

[2015-05-06 21:24] Danimal696 commented on #736
Any concept of what it could look like?

[2015-05-06 21:26] Danimal696 commented on #732
Are you sure? i expect my creatures to not being able to cross it while locked and enemies to always find it locked

[2015-05-07 06:49] hwoarangmy commented on #732
I would also expect allied creatures to not be able to go through a locked door.

[2015-05-07 07:43] Bertram25 commented on #732
It's true that it's sometimes useful to lock creatures. I agree.

[2015-05-07 10:52] Bertram25 commented on #736
From internet, those looks good:
![good](https://cloud.githubusercontent.com/assets/765917/7513836/c2e1003c-f4b7-11e4-8853-1c775f2a414a.jpg)
![good2](https://cloud.githubusercontent.com/assets/765917/7513839/c586eae0-f4b7-11e4-88e7-c7d34b2c5be5.jpg)
Does this one remind you another game?
![mario](https://cloud.githubusercontent.com/assets/765917/7513841/cfffc870-f4b7-11e4-8cc8-a4f35cf8ea3f.png)
Wo

[2015-05-07 10:56] Bertram25 commented on #732
Proposition for the wooden (and first type of) door:
http://game-icons.net/lorc/originals/wooden-door.html
![wooden-door](https://cloud.githubusercontent.com/assets/765917/7513898/8270d6de-f4b8-11e4-8294-223a0436f46e.png)

[2015-05-07 10:58] Bertram25 commented on #734
I guess it's settled then. :) Sorry @Danimal696 but I'm sure we'll find something good looking using another overlay.

[2015-05-07 11:04] Danimal696 commented on #734
ohhhhhh, you are breaking my lil evil heart :p
no prob here

[2015-05-07 11:05] Danimal696 commented on #736
i think ill do a new version inspired of the one in DK

[2015-05-07 11:09] Bertram25 commented on #734
Icons proposal:
- A creature is in bad mood: http://game-icons.net/lorc/originals/death-zone.html http://game-icons.net/lorc/originals/lizardman.html
- A creature wants to quit the dungeon: http://game-icons.net/lorc/originals/spade-skull.html
- A creature has become feral: http://game-icons.net/lorc/originals/pirate-skull.html
- A creature is sleepy: http://game-icons.net/lorc/originals/sleepy.ht

[2015-05-07 11:19] Bertram25 commented on #720
Closing as won't fix. Feel free to reopen or open a new one if anything feels relevant.

[2015-05-07 11:19] #720 closed, assigned to nobody

[2015-05-07 11:20] Bertram25 commented on #699
KO will need an icon btw. I'll add that one in #734 ;)

Arena icon proposal: http://game-icons.net/sbed/originals/arena.html
http://game-icons.net/lorc/originals/sword-in-stone.html

[2015-05-07 11:22] Bertram25 opened #742 "Replace ingame/editor rooms, spells, creatures, ... tabs name with icons?"
After working on modes handling, and before the settings addition, I'd like to do this.

The tabs names would then become tooltips.

Icons proposal:
- Rooms: http://game-icons.net/lorc/originals/white-tower.html http://game-icons.net/lorc/originals/stone-tower.html ~~http://game-icons.net/lorc/originals/anvil.html~~
- Traps: Reuse the Trap room icon so the link is visual.
- Spells: http://game-ico

[2015-05-07 11:26] Bertram25 commented on #736
What? You made me search internet for... ;)
No problem at all. :)

[2015-05-07 11:38] Danimal696 commented on #736
ironically the only difference with many of the ones you show it that is has more spikes

[2015-05-07 11:44] Danimal696 commented on #699
first one is no good, i cant make out, what it is; a few of my own:
http://game-icons.net/lorc/originals/all-for-one.html
http://game-icons.net/delapouite/originals/aqueduct.html <- Feels like a coliseum

[2015-05-07 11:53] Danimal696 commented on #734
Bad mood, i like lizarman better; the hand and bag for payday
for KO: http://game-icons.net/lorc/originals/pummeled.html
for quitting:
http://game-icons.net/lorc/originals/journey.html
http://game-icons.net/lorc/originals/pig-face.html

Hey, this could be good for workshop: http://game-icons.net/lorc/originals/gear-hammer.html

[2015-05-07 12:05] hwoarangmy commented on #742
Rooms: I prefer the first one
Traps: Good
Spell: Good
Light: Good
Creatures: I don't like pawn but blade bite is nice (as well as the one for heroes)

[2015-05-07 12:07] hwoarangmy commented on #699
IMHO, aqueduct is the best one. I don't like the 3 others (it isn't clear at all what an arena is)

[2015-05-07 12:08] akien-mga commented on #732
Looks great :)

[2015-05-07 12:22] hwoarangmy commented on #734
Bad mood (angry): http://game-icons.net/lorc/originals/pummeled.html
Bad mood (furious): http://game-icons.net/lorc/originals/spade-skull.html
Leaving: http://game-icons.net/lorc/originals/journey.html
Become feral: No need for an icon
sleepy: Good
Hungry: ok if nothing else
Get paid: http://game-icons.net/lorc/originals/snatch.html
KO: I prefer @Bertram25 's one.

[2015-05-07 12:23] hwoarangmy commented on #732
Yep, looks good

[2015-05-07 12:28] Bertram25 commented on #741
Sure, please don't take anything personally (well, you know us). :) The fact is, your example spells are good enough to be definitely included IMHO, with a few tweaks and that's what we're discussing atm.

It's a good idea and it isn't incompatible with the twice cost rule, btw.
As a design pov, what you're proposing is our first keeper passive skill, right? (I mean not a new spell per se, and not

[2015-05-07 12:51] akien-mga commented on #742
Same comments as @hwoarangmy, apart for the room icon for which I'm not convinced yet. I guess I prefer the stone tower one, but it refers more to claimed walls than to placing rooms like the library or hatchery IMO. I don't find a better candidate anyway :)

[2015-05-07 12:53] akien-mga commented on #699
+1 for the aqueduct. I like the sword in stone though, but to use it we would have to make a clear reference to it in the arena model ;)

[2015-05-07 13:25] Bertram25 commented on #742
Cool you agree about the change.
As for rooms, we'll see once I'm there. :)

[2015-05-07 13:27] Bertram25 commented on #699
k, I'll work on the aqueduct one. :)

[2015-05-07 13:32] Bertram25 commented on #734
I must say I prefer the current one. But if everyone prefer this one, I won't mind adding it.

[2015-05-07 13:34] Bertram25 commented on #734
Why? Because, for instance, red fighting red makes it obvious? Or is there a technical reason?

[2015-05-07 13:41] akien-mga commented on #734
I guess units becoming feral would change their factions, no?

[2015-05-07 13:41] hwoarangmy commented on #734
Because IMHO, it is a bug that when a creature becomes feral, the skull flag is not replaced. And the technical reason is that I don't think it is a good thing to make a difference between feral from start and feral because of mood. Especially things that are player specific (since other players should not see any difference I guess).

[2015-05-07 13:44] Bertram25 commented on #734
Makes sense.

[2015-05-07 13:45] Bertram25 commented on #732
Here we go :D
![wooden-door](https://cloud.githubusercontent.com/assets/765917/7516483/01fa1eee-f4d0-11e4-9bd1-bf0ab2183ee1.png)

[2015-05-07 13:47] Bertram25 commented on #699
Here it is: :)
![aqueduct](https://cloud.githubusercontent.com/assets/765917/7516540/622460f4-f4d0-11e4-9cb8-21a31488d05b.png)

[2015-05-07 13:55] hwoarangmy commented on #741
That was just to say that I do not consider the code to be mine and I won't feel offended if anyone changes it (for the best I hope ^^)

Yes but a research would be needed, which is an important difference IMHO

I think that it is a player choice. My feeling is that casting only on owned creatures is better. But if most of us think the opposite, I'm ok.

Yep. It makes choosing the hovered creature

[2015-05-07 14:01] Bertram25 commented on #742
Since I was on it: ;)
Spells:
![kindle](https://cloud.githubusercontent.com/assets/765917/7516664/1b11979e-f4d1-11e4-9bf1-c89bdc32e6d8.png)
Creatures:
![battle-gear](https://cloud.githubusercontent.com/assets/765917/7516788/bef2245a-f4d1-11e4-81e9-ca6028cf47fb.png)
![blade-bite](https://cloud.githubusercontent.com/assets/765917/7516831/f62e9b38-f4d1-11e4-93c4-4f7657cffb7b.png)
Rooms (I went for th

[2015-05-07 14:08] Bertram25 commented on #741
Don't worry, only @Danimal696 is afraid. (Must be some kind of world domination related paranoia.) ;)

True. Right, let's go that way and have people comment on it once it is ingame.

Well, I'm in favour of simple game mechanisms. So, let's add that behaviour first. If once it is ingame, a need arises, we'll add either the shift or twice cost feature.

[2015-05-07 14:10] Bertram25 commented on #741
If nobody else has got a strong argument against that, let's plan to, as a first row, at least:
- Keep the spells on claimed tiles and add a skill that permit to cast them on unclaimed tiles.
- Only target own creatures when casting defensive spells.

[2015-05-07 14:45] Danimal696 commented on #734
not to me? i think a creature going rogue or feral has switched to the feral team present on map, so if their skull changes to white (if thats the colour used for unaligned creatures on that map) and i get some voice message about what just happened, i understand quite well that creature its not mine anymore, not to confuse with angry creatures hitting others(like spiders/flies).

Having a feral o

[2015-05-07 14:58] Bertram25 commented on #734
@Danimal696 In fact, I do think @hwoarangmy and you are thinking the sameas he said he considers that the skull flag not being updated is a bug.

If you guys are ok with it, I'll open an issue about it.

[2015-05-07 16:08] Danimal696 commented on #736
![mysterybox](https://cloud.githubusercontent.com/assets/8299756/7520022/0a2b0f6a-f4e4-11e4-93c8-a13afffdae60.jpg)
Uploading shortly

[2015-05-07 16:36] hwoarangmy commented on #734
To be honest, I've only seen that in @eugeneloza replay (where he was complaining that heroes were fighting each others) but I had not seen by myself.
I wanted to check but I didn't take time yet. However, if it is confirmed, it is definitely a bug and should be fixed. So please feel free to open the issue if you confirm the bug.

[2015-05-07 16:38] hwoarangmy commented on #741
IMO, we should start settling a lan and try how it feels like that. Then, if I loose, that would mean that we need to change something

[2015-05-07 17:12] Danimal696 commented on #736
https://github.com/OpenDungeons/OpenDungeons/pull/743

[2015-05-07 20:43] hwoarangmy commented on #736
The box is in. Now, using it is todo ^^

[2015-05-08 06:10] Bertram25 commented on #736
Cool :)

[2015-05-08 06:11] Bertram25 commented on #741
You mean, in your _humble_ opinion, right? ;P

[2015-05-08 06:12] Bertram25 commented on #734
Ok, I've also witnessed that but I will try with latest change to make sure before opening the issue. :)

[2015-05-08 07:11] Bertram25 commented on #734
I confirm the issue. Creatures that cannot leave the dungeon and become feral are keeping their former color.

[2015-05-08 07:15] Bertram25 opened #745 "Creatures becoming feral are keeping their former team color."
As discussed in #734 , a creature upset enough to be leaving your dungeon and which can't in due time becomes feral. (And that's normal).

The issue is that such creatures are keeping their former color (at least concerning their skull flags).
This should be fixed to make things clearer for the player.

[2015-05-08 09:02] hwoarangmy commented on #741
^^

[2015-05-08 09:28] hwoarangmy commented on #745
I tried and confirm the issue ^^

[2015-05-08 09:42] Danimal696 commented on #734
i comfirm too, after a very nice spider-fly experiment

[2015-05-08 16:26] Bertram25 commented on #202
For the record: In ODApplication.cpp:

[code]

Ah, and add -lX11 to the linker flags.

The next step is to get a const unsigned char\* valid buffer used as an icon. Phew... Still not actually sure it will work, though. :/

[2015-05-08 19:00] Bertram25 commented on #202
Arf, can't get it to work even when passing a valid buffer + its size.
If someone wants to take it, I'll gladly let you. :) I'll move onto something else.

[2015-05-09 08:31] akien-mga commented on #742
The PR looks great.

An idea for future improvements of this part of the UI: how about making the main box textures like a parchment, and make the tabs look like bookmarks? Something like in:
- Arx Libertatis/Fatalis: http://www.geek.com/wp-content/uploads/2012/04/arx_lib_Character.jpg
- TESIV: Oblivion: http://images1.westword.com/imager/skyrim-and-oblivion-fantasy-role-playing/u/original/6566545

[2015-05-09 15:23] akien-mga commented on #696
I've thought a bit about this feature, and I think we could have something like this:
![od-combo1](https://cloud.githubusercontent.com/assets/4701338/7550789/f3d87152-f66f-11e4-8006-447e965f2f82.jpg)

The combobox would let you switch between Skirmish maps, Multiplayer maps (though we probably need a better name for those than "Multiplayer" when you play them solo), and maybe also User maps (could

[2015-05-09 20:50] hwoarangmy commented on #742
That would mean to redo the look and feel. Why not for a future release ^^

[2015-05-09 20:56] hwoarangmy commented on #696
seems good

[2015-05-09 21:57] hwoarangmy commented on #376
I've been thinking about fighting behaviour and I have some propositions:
- We could remove physical/magical attack and replace by physical/magical melee attack and physical/magical range attack
- For range, we could add min range and max range. The fighter would use his attack if within range
- If a creature (fighter) has physical/magical melee attack > 0, it is a melee fighter
- If a creature (f

[2015-05-09 22:09] Bertram25 commented on #696
@akien-mga Your idea is pretty good. I like it. :)
If nobody else does it, I'll take it once I'm done with the current PR.

[2015-05-10 10:19] Danimal696 commented on #376
how would this fit if we add skills in the future?
Imagine the mage the wizard has "fire bolt" as lv1 basic attack and learns fireball at lv10,  could it still be done?

[2015-05-10 15:05] eugeneloza opened #747 "Room dependency tree"
Maybe it's a good idea to make some rooms dependent on others. E.g. you can build library only after dormitory and hatchery.

[2015-05-10 17:36] hwoarangmy commented on #376
I would say that skills should be used like ranged attack: check if one skill can be used depending on range, use it if possible and, if not, go for standard range/melee attack

[2015-05-10 17:37] hwoarangmy commented on #747
There is already this concept with research. But I don't think we should be too strict on build order for basic buildings or the game would feel too linear.

[2015-05-10 18:19] Bertram25 commented on #747
I agree with @hwoarangmy here. Building the library first is part of the strategy, for instance.

[2015-05-11 09:49] eugeneloza commented on #747
Ok. Just a raw idea. So closing then.

[2015-05-11 09:49] #747 closed, assigned to nobody

[2015-05-11 17:45] #703 closed, assigned to Bertram25

[2015-05-11 17:45] #731 closed, assigned to Bertram25

[2015-05-11 17:45] #742 closed, assigned to Bertram25

[2015-05-11 17:59] Danimal696 commented on #745
i confirm the new pull fixes this

[2015-05-11 19:18] hwoarangmy opened #748 "Sleep animation is looped"
To see it, in the 2v2 skirmish test map, build a 1 tile dormitory and drop the bigknight. You will see his die animation... several times ^^

[2015-05-11 19:18] hwoarangmy commented on #748
@Bertram25 Since I am currently on creature behaviour, do you want me to take this one ?

[2015-05-11 19:19] hwoarangmy commented on #745
It is not a PR yet ;-)

[2015-05-11 19:21] Bertram25 commented on #748
Sure, go avead. :) I'll be on gui stuff if possible.

[2015-05-11 19:22] Bertram25 commented on #745
Yeah, the latest binary comes from the future. ;)

[2015-05-11 19:29] hwoarangmy commented on #748
ok

[2015-05-11 21:11] Bertram25 commented on #741
In any case, there are no changes planned so far after the discussion. I'll close this issue.

Let's reopen or open a new one if necessary.

[2015-05-11 21:11] #741 closed, assigned to nobody

[2015-05-11 21:12] Bertram25 commented on #670
Closed with 78c4e1e3a1ac1974a02e170ed3a53d179878f4a2 54a7772493b79781e3b2924d1af493ddbd410b70 and 2b61e4d3955c7b304d6293fe39a6b33a02eec254

[2015-05-11 21:12] #670 closed, assigned to Bertram25

[2015-05-11 22:19] hwoarangmy commented on #745
almost ^^

[2015-05-11 22:44] Bertram25 commented on #696
Once this PR is in, mind handling the level part @akien-mga ? :)

[2015-05-12 07:05] akien-mga commented on #696
Sure :)

[2015-05-12 18:30] hwoarangmy commented on #688
@oyvindln Are you on this one ? It looks like a prerequisite to allowing to use command line option to launch OD in server mode.

[2015-05-12 20:02] Danimal696 commented on #732
How do you we want to handle the closed door case? i can make a lock model to put over the doors when its closed or do you have any other idea? by the way, wooden door is very advanced by now.

[2015-05-12 20:13] hwoarangmy commented on #732
animations are always welcome ^^
IMHO, an open door when the door is open and closed when closed would be ok

[2015-05-12 20:17] Danimal696 commented on #735
Wouldnt an automatic structure be better? claim it and it spits gold from time to time...
Better than clashing with mining priorities

[2015-05-12 21:47] hwoarangmy commented on #735
It would be easier. But both can be done

[2015-05-12 21:58] Bertram25 commented on #735
@Danimal696

The idea behind it was to undermine your ability to let worker do something else by forcing a given amount of them to work on that tile. I think it's a good strategical twist.
An automatic structure is a full feature without any drawbacks.

Now, it's about personal taste. What do you think of my reasoning?

[2015-05-13 12:52] Bertram25 commented on #696
Thanks. :)

[2015-05-13 21:17] Bertram25 commented on #734
![ko](https://cloud.githubusercontent.com/assets/765917/7621322/42a098d8-f9c6-11e4-9dbb-443287035e8f.png)
For later reference.

[2015-05-13 22:54] hwoarangmy opened #751 "Implement KO state for creatures"
Note that we need to define the wanted behaviour:
- How do we choose to KO or kill creatures ?
- What happens to a KO unit (will it die after a while if not healed/taken by a kobold) ?
- How can a creature become KO (by enemy creatures/in the arena/by spell) ?

  Note that the KO state icon is temporary. The one that should be used is in #734

@Bertram25 @akien-mga @Danimal696 @oyvindln @eugeneloz

[2015-05-14 23:33] eugeneloza commented on #735
Automatic structure that requires 4 workers to operate :D like library/workshop mechanics.

[2015-05-15 08:14] Bertram25 commented on #751
IMHO:

I'd say if the killer's seat has got a Crypt, let's KO the opponent, if not, well, how to say that nicely?

Yeah!!! Erm, I mean, yes. AFAIk, it's what happens to "corpse" atm, they disappear after some time. The same value should be used. corpse should disappear immediately.

By anything making its HP become 0. In the arena, the kobolds will have the duty to bring them back to their beds, t

[2015-05-15 08:19] Bertram25 commented on #735
lol. In any case, that can work, too. ;)

[2015-05-15 09:31] Danimal696 commented on #735
i can make any model when i have more free time, but it would be good to reach a consensus on it before doing it

[2015-05-15 09:44] Danimal696 commented on #751
there will be the problem of having jail and cript, cript should only take dead ones. So i think we will need a button to imprison; if you have a prison and while checked, enemies monsters are ko´ed, when not checked (default state) they are killed. The button could appear only when jail/prison is researched

It dies after some time

Arena KO?: after a creature is KO´ed in the arena it could recov

[2015-05-15 10:10] akien-mga opened #752 "The mysterious CEGUI artefact"
Quoting myself from #746:

I reproduced it today when letting the game idle in the background, so here is a screenshot:
![od1](https://cloud.githubusercontent.com/assets/4701338/7650898/409b0902-fafb-11e4-8561-96a2699457fa.jpg)

[2015-05-15 10:16] Bertram25 commented on #735
Well, to avoid being forced to use new animations (while it is fun), I'd rather have a forever-diggable tile.
Is there at least someine about that part?

[2015-05-15 10:29] Bertram25 commented on #752
This looks definitely a CEGUI empty tooltip.
AFAIK, as mouse move events are injected by us, CEGUI might have edge cases where the tooltip is not well handled.

Maybe there is a way to disable the tooltip of the main DefaultWindow of those modes. I'll have a look. (But can't promise an easy win, yet.)

[2015-05-15 10:30] Bertram25 opened #753 "GUI: Improve the sliders visuals."
Atm, the sliders visual are the poorest in the Skin.
I need to improve that.

[2015-05-15 10:58] hwoarangmy commented on #752
BTW, I confirm it is the same thing as I have.

[2015-05-15 11:03] hwoarangmy commented on #735
That's not the easiest way for us coders because atm, workers do not work in any room so it would be a completely new feature.

IMHO, the easiest would be:
- A structure that splits gold bags (easy for coding but need a new mesh)
- An infinite diggable gold tile (easy for artists since it only needs a new material and not too hard for coders since I was already planning on checking how many worker

[2015-05-15 11:14] hwoarangmy commented on #751
Seems good. We should only think if there are other such options and decide if we go for a dedicated window or in the main guy.

IMHO, it would be better to always display it. Even if we have no prison, I see no reason not to allow KOing creatures.

IIRC, in DK, when a creature was KO, a kobold had to bring it to its bed. Otherwise, I think it would die. That seems not a bad idea to me. Do you wan

[2015-05-15 11:18] Bertram25 commented on #202
I've opened a topic on Ogre about this one:
http://www.ogre3d.org/forums/viewtopic.php?f=2&t=83337

But I'm still stuck and I won't hack Ogre further for now. Let's see how it turns. ;)

[2015-05-15 11:22] Bertram25 commented on #735
Unless our Lead artist is against, I would be for that solution, then. It's easy to understand as for the player experience and easier for us to add. We can also later replace that tile with cooler looking textures/shapes.

[2015-05-15 12:08] Bertram25 commented on #751
Could be a small checkbox in the corner of the GUI with a prison door icon next to it? :)

IMHO, it would be better to always display it. Even if we have no prison, I see no reason not to allow KOing creatures.

True, but let's wait for the jail before that. I'll create an issue for later: #754

Well, I like this behaviour a lot, if it's possible I'd love to see it kept.

[2015-05-15 12:12] Bertram25 opened #754 "Add the Prison room"
The prison room is a room where you can place the KO enemies after a battle.

Specs proposal:
The enemies there stay a low health and either:
- Die and become Skeletons (?)
- Turn to your side if you have enough gold to tempt them.
- Later: Be reused for spells needing sacrifice or torture. (By making them eat candies until they also die or turn to your side willingly. ;])

[2015-05-15 13:13] Danimal696 commented on #735
yes, i like that, a gem tile with gems sticking from it would look nice

[2015-05-15 13:22] Danimal696 commented on #754
i think jail should be kind of the store room for the torture chamber/sacrifies for temple, creatures that die in here turn to skeletons, and rats lurking inside of it speed the process(like the spiders in cript)

[2015-05-15 22:28] #733 closed, assigned to hwoarangmy

[2015-05-15 22:28] #734 closed, assigned to hwoarangmy

[2015-05-15 22:28] #745 closed, assigned to hwoarangmy

[2015-05-15 22:28] #748 closed, assigned to hwoarangmy

[2015-05-15 23:19] Bertram25 opened #755 "Gui: Disable title bar double/triple click."
To not forget about this one.
Double/triple clicking on windows title bars make them disabled/minimized, making the gui unusable.
This needs to be disabled, preferably in the look'n'feel.

[2015-05-15 23:20] Bertram25 opened #756 "Check for last Ogre::toString() and move them to Helper::toString() if possible."

[2015-05-16 00:49] hwoarangmy opened #757 "Regression in command completion in the console"
When I press tab in the console, the available commands are still displayed but the current command is cleared instead of being completed.

[2015-05-16 01:17] hwoarangmy opened #758 "Crash in the console"
I think I found a systematic way to reproduce:
Launch a skirmish level and launch a console command (I used logfloodfill)
Press escape to quit the game.
Launch another skirmish level (can be the same) and launch a console command (I used logfloodfill)

The game crashes. In gdb, I saw that GameEditorModeConsole::mModeManager is corrupted. I have not investigated what was going on (I had seen this b

[2015-05-16 01:26] hwoarangmy commented on #758
I've tried to reproduce to get the stacktrace. Here it is:

[code]

Note that the calls come from CEGUI. I guess the problem comes from having registered the gamemode for key events and probably not removed it (or something got wrong). I guess, we end up calling the deleted gamemode instance causing the crash

[2015-05-16 20:13] hwoarangmy commented on #732
I'm almost done with implementing door logic. On allied side, it works well. When open, creatures can go through and when closed, allied creatures cannot.
Doors appears as soon as they are in sight and can be attacked.

However, fighting logic is not totally implemented. ATM, enemy creatures can see through doors and they will engage creatures behind (with a buggy behaviour because they cannot go

[2015-05-16 20:39] Danimal696 commented on #732
Nop, only when open

If open, yes; its something quite logical that shouldnt be messed with

[2015-05-16 23:40] oyvindln commented on #688
Nope, I'm not really active on the project at all for the time being.

[2015-05-17 07:17] hwoarangmy commented on #732
The good news is that it is the easiest to implement ^^
So, if the door is closed, creatures cannot see through (and won't attack enemy creatures on the other side).
If open creatures can go through and ranged units can attack through. Note that enemy creatures can go through open doors if they see enemy units on the other side (but if there is no enemy unit on the other side, they will attack the

[2015-05-17 10:06] akien-mga commented on #732
Yes I agree with @Danimal696. My understanding is that open doors should behave as if there was no door, and closed doors should behave as if they were a wall (apart from the door attacking mechanism).

[2015-05-17 16:10] hwoarangmy commented on #732
The current implementation should be ok then ^^

[2015-05-17 22:31] Bertram25 commented on #758
@hwoarangmy I can have a look but you're right. This must be it as there is a GameMode KeyPressed() call, I suppose after quitting the game mode as you said.

I'm almost sure because we're using unique modes now, we might have to unsubscribe events. (again, as you said.)
I'll have a go at it so you can focus on other things. ;)

[2015-05-17 22:32] Bertram25 commented on #757
I can have a look this week if you want.

[2015-05-17 23:08] Bertram25 opened #760 "Regression? New rooms aren't added to events anymore."

[2015-05-17 23:13] Bertram25 opened #761 "GUI: The Heal Spell icon is slightly too much on the right."

[2015-05-17 23:14] Bertram25 opened #762 "GUI: Research tree - The spells on the left side aren't centered."

[2015-05-17 23:50] Bertram25 commented on #732
Looks fine in game. The mesh to be changed later of course. :)
I can finally lock-up my minions while I'm preparing an attack!
I caught a crash but I don't think it's related to the PR. (I'll make an issue.)

[2015-05-17 23:52] Bertram25 opened #763 "Crash when removing an entity"
I've seen that crash several times. Especially when removing a bed. But I finally caught a bt on this one:

[code]

I'll upload the replay asap.

[2015-05-17 23:53] Bertram25 commented on #763
Latest git at the time of writing. + Door PR.

[2015-05-18 00:01] Bertram25 commented on #763
Here is the replay:
https://www.dropbox.com/s/n3ey137ua20q578/replay_20150518_011428.odr?dl=0

[2015-05-18 06:29] hwoarangmy commented on #763
Very interesting. I think I also had this kind of crash for a while (since @lowerthanred 's issue) and I couldn't get an interesting backtrace (no backtrace at all or only something in the drivers).
During a time, it used to happen pretty often  (let's say once per game) but lately, it had disappeared. Seems like it is back ^^

[2015-05-18 07:13] hwoarangmy commented on #763
Now that i've looked more closely, it is unfortunately not what I thought :-(
Here, the bug happens on server side so it is not related to rendering stuff...

[2015-05-18 07:13] Bertram25 commented on #758
Ok, I've found it. Note for later: We should find a way to wipe out every event connection when leaving a mode now that they are unique in memory. I'll keep that in mind.

[2015-05-18 07:35] Bertram25 commented on #763
Ahh, too bad. But maybe they're somehow related? Won't hurt fixing them anyway.

[2015-05-18 07:41] hwoarangmy commented on #763
Yep. In any case, calling the rendermanager on server side is definitely not a good thing to do (which is done in clearParticleSystems).

[2015-05-18 16:11] Danimal696 commented on #732
Almost ready, expect it later today

[2015-05-18 19:26] hwoarangmy commented on #763
I've had a look in the code and Ive not seen anything that could explain the crash. ParticleEffects pushed on the vector are always removed from the vector when deleted and every ParticleEffect pushed is created with a new before pushing (no double push).
I don't see what can explain the crash...

[2015-05-18 21:45] Bertram25 opened #766 "Big icons should be aligned on a 64x64 grid."
And the imageset should be adapted.

[2015-05-18 21:56] Bertram25 commented on #763
We'll find out eventually. :) First step, I'd say tell me if it happens to you also.

[2015-05-18 22:06] hwoarangmy commented on #763
no, I've never seen a bug in server side due to entity deletion Only bugs that looks to come from client side (but no stacktrace so I can't be sure).

[2015-05-18 22:23] #755 closed, assigned to Bertram25

[2015-05-18 22:23] #756 closed, assigned to Bertram25

[2015-05-18 22:23] #758 closed, assigned to Bertram25

[2015-05-18 22:23] #760 closed, assigned to Bertram25

[2015-05-18 22:23] #761 closed, assigned to Bertram25

[2015-05-18 22:23] #762 closed, assigned to Bertram25

[2015-05-18 23:14] hwoarangmy commented on #763
I've just had a crash with gdb (the same I use to have) and I confirm it happens on the client side (I've tried all threads and found the server thread so it was not the one crashed).
However, it might be on some Ogre thread (since it is not easy to know which one is the client thread since there are several ogre threads).
As always I get no stack...
And as always, if I look in the logs, it happen

[2015-05-19 07:41] #721 closed, assigned to Danimal696

[2015-05-19 07:42] akien-mga commented on #732
Wooden Door mesh and animations have been merged in #765, now the code should be adapted to handle three non-looped animations (open, close, destroy) and select the proper orientation for the door based on surrounding tiles.

[2015-05-19 07:43] Bertram25 commented on #732
Nice team job guys. :)

[2015-05-19 07:47] Bertram25 commented on #766
I'll handle that tonight (along with redoing the new spells shadows).

[2015-05-19 08:33] Bertram25 commented on #763
We might have to deal with a bug in Ogre. I'll start having a look at related posts in the forums.

[2015-05-19 08:40] akien-mga commented on #763
Still no ETA for Ogre 1.10 btw?

[2015-05-19 08:55] hwoarangmy opened #767 "Creatures cannot go through not activated closed doors"
Creatures should be able to cross closed doors if they are not activated

[2015-05-19 08:56] Bertram25 commented on #763
That's the beauty and the dangers of extreme programming. I guess the guys are still working on many things at once. Might be worth pinging?
http://www.ogre3d.org/forums/viewtopic.php?p=496225

[2015-05-19 08:58] akien-mga commented on #767
What do you mean by not activated? Should doors be crafted in the workshop and placed by kobolds too?

[2015-05-19 09:00] hwoarangmy commented on #767
yep. And ATM, if you close them before they are crafted, creatures cannot go through

[2015-05-20 21:44] hwoarangmy opened #769 "New wooden door open animation ends by closing the door"
@Danimal696 Could you please check the animation ? It should stop when the door is open.

[2015-05-20 23:04] Danimal696 commented on #769
it must have taken an extra frame. ill reupload tomorrow; but to make sure, is there a closing animation? or does it jump to closed from fully open?

[2015-05-20 23:43] hwoarangmy commented on #769
The close animation seems good. FYI, I've downloaded a program "Ogre Meshy" that allows to open a mesh and see its materials, submeshes, animations. And you can even play them ^^

[2015-05-21 08:18] Danimal696 commented on #769
doesnt work on w7, i tried. Back to the question, the faulty animation opens and closes door?

[2015-05-21 08:33] hwoarangmy commented on #769
I use W7 ^^

Yep. "Open" animation opens and closes the door (at the end of the animation, the door is closed).

[2015-05-21 13:05] #769 closed, assigned to Danimal696

[2015-05-21 15:02] hwoarangmy opened #772 "Do not use ogre for logging"
This is a requirement for #665 since the basic idea would be to not launch the rendering thread (only the server one). The main thread would have to wait for the server to be stopped somehow.

I guess the best would be to use boost instead. An example here:
http://stackoverflow.com/questions/16102128/how-to-redirect-boost-log-to-file

http://www.boost.org/doc/libs/1_55_0/libs/log/doc/html/log/tuto

[2015-05-21 21:04] #688 closed, assigned to hwoarangmy

[2015-05-21 21:04] #732 closed, assigned to hwoarangmy

[2015-05-21 21:07] #696 closed, assigned to akien-mga

[2015-05-21 21:47] hwoarangmy commented on #772
BTW, we could also use a macro like OD_LOG that would allow to easily change logging if required. Moreover, we could also implement a logging level to also remove most of OD_ASSERT(false, ...)

WDYT ?

[2015-05-21 23:13] Bertram25 commented on #772
I've personally checked about the NullRenderer but overall, it looks more risky as it might make us use more workarounds and such, so yeah, the best solution so far is to use boost to log. Thus, I agree.

Sounds good. What levels have you got in mind? Info, warning, error?

[2015-05-22 07:18] hwoarangmy commented on #772
Well, we don't use Ogre so it seems better to me to not launch it at all...

Usually, I like to have error, info and debug (the later not being shown by default). But in this case, warning seems pretty interesting especially for unexpected client events (like trying to pickup a non existing creature or something that may look like an error but can be normal if we clic twice a creature).

[2015-05-22 09:42] hwoarangmy commented on #772
BTW, after thinking a bit more and looking at @oyvindln test, this is not a requirement for #665
I just have to create another log manager (that uses boost) and use it instead of Ogre one.

@Bertram25 Do you think using a macro is better ? IMHO, a macro is better only if we choose to use log level...

[2015-05-22 10:24] Bertram25 commented on #772
Based on our previous discussions on this and on the fact that IMHO we'll need different log levels, I'd say yes to macros.
My two cents. :)

[2015-05-22 14:35] Bertram25 commented on #767
I just retested the model's fair. Isn't it fixed already?

[2015-05-22 15:54] hwoarangmy commented on #767
yes it is. I forgot to close this

[2015-05-22 15:54] #767 closed, assigned to hwoarangmy

[2015-05-22 16:11] hwoarangmy opened #774 "Seat configuration menu should be filled on server side"
Since seats are sent when client connects, it is ok to fill possible values on client side. However, currently, we also set the first player seat and we fill the default seats on client side, which is not the best way

[2015-05-22 20:43] Bertram25 commented on #774
+1 (just in case)

[2015-05-22 21:01] hwoarangmy commented on #774
Always good to know ^^

[2015-05-23 09:17] akien-mga opened #776 "Comboboxes not refreshed properly for all clients multiplayer seat configuration"
Note that I noticed this when testing the new standalone server mode.
I connected three players to my server, in this order: Alice, Bob and Eve.

As expected, Alice is the "game master" and can manage the seat affectations. She gets added to seat 1 and this is shown in the combobox.

When I connect Bob, he gets added to seat 2 and this is shown in his client, on the other hand it's not shown in Al

[2015-05-23 09:18] akien-mga commented on #776
If Alice starts the game without touching the comboboxes, it works fine, so that confirms that it's just a refreshing issue. Bob and Eve _are_ affected to seat 2 and 3.

[2015-05-23 10:39] hwoarangmy commented on #776
This is a regression from my current PR #775 . I will try to fix it ASAP. Thanks for testing

[2015-05-23 21:26] alketii opened #777 "Lobby"
An in-game lobby with chat could be very useful to play multiplayer.

[2015-05-23 21:30] akien-mga commented on #777
Yeah mean basically adding a chat box in the current "seat configuration" screen?

[2015-05-23 21:32] alketii commented on #777
I think before that, before hosting. I forgot to mention that lobby should be in masterserver (also requestion a masterserver :smile: )

[2015-05-23 23:02] hwoarangmy commented on #777
yep. That means a need for a server ^^

[2015-05-24 21:28] Danimal696 opened #778 "Built door activates combat alert and is too small"
The size is my fault since i couldnt compare to anything, ill fix it soon.

[2015-05-25 10:50] hwoarangmy commented on #778
what is the problem with combat alert ?