[2014-09-21 22:29] Bertram25 commented on #153
The values I've put in the next creatures.cfg file are blunt copy/paste atm. But hopefully, the file will help making tests. :)

[2014-09-22 07:38] hwoarangmy commented on #153
Yes, that's what I've seen. And why I try to help finding values, as it is not an easy task :)

[2014-09-22 08:24] hwoarangmy commented on #165
That brings us to how to destroy a trap ? At first, it should be hidden. If a player triggers the trap, it will become visible. Then, can creatures attack it ? If there are no creature to attack, during how much time will the trap become visible ?

[2014-09-22 08:25] hwoarangmy opened #168 "Import new training dummy and map light"
See http://forum.freegamedev.net/viewtopic.php?f=38&t=5528&p=59634#p59621

[2014-09-22 10:30] Bertram25 commented on #165
You're right, certain traps should be hidden, but I think cannons shouldn't, so this should remain an option, IMHO.

I also do think the trap should remain visible once discovered as it won't move anyway, and it would look weird to let creatures rediscover it again and again.
Once discovered, then yes, I'd be for letting creatures destroy it before being able to claim the tile.
Thus, traps should

[2014-09-22 12:30] hwoarangmy commented on #165
It's not a correction, just another discussion about the subject. I was able to find what I was talking about :
#139

[2014-09-22 12:41] oyvindln commented on #132
dirent.h is really not needed since we are using boost::filesystem, which is much simpler, through Ogre anyway. I can have a look at doing that once my previous changes are merged.

[2014-09-22 13:40] Danimal696 commented on #153
Well, in my opinion i would make 4 creatures tiers: weak, medium, strong, elite, each tier having some tanks, damage dealers... and somewhat similar max stats.
Then, i would only use small integers for the values since they are more explicit and easier to handle.

[2014-09-22 13:43] Danimal696 commented on #165
My opinion is not mandatory, but im in favor of traps not being directly attacked even when discovered

[2014-09-22 13:59] oyvindln commented on #132
Pthreads can also be dropped, we should use boost or std::thread instead.

[2014-09-22 14:18] Bertram25 commented on #165
If you don't want them attacked by fighters when discovered, then what should happen, in your own opinion?

[2014-09-22 14:59] Danimal696 commented on #165
they have to be triggered a number of times before becoming deactivated or claimed fast enougth so it doesnt trigger again when your kobolds are still over it (and die from it)

[2014-09-22 15:57] Bertram25 commented on #165
I'm fine for this with spikes, but this doesn't fit well for cannons, right?

[2014-09-22 16:16] akien-mga commented on #165
I guess turrets and traps can't be handled exactly the same way.

[2014-09-22 18:07] hwoarangmy commented on #165
As @akien-mga suggested, we could separate traps and turrets. What do you think ?

[2014-09-22 18:09] hwoarangmy commented on #153
Thanks for the forum thread :)

[2014-09-22 18:28] Bertram25 commented on #165
Good idea. :)

[2014-09-22 19:56] Danimal696 commented on #165
yes, some traps like cannon should be destructible

[2014-09-23 08:08] Bertram25 commented on #167
@hwoarangmy Ok, so to summarize, you'd propose the following default warnings?
`-Wall -Wno-unused-local-typedefs -Wno-format -Wno-reorder`

If so, I would be fine, but we should then open an issue about reordering stuff in initialization asap. This isn't a warning that should be ignored for performance purpose, usually, and IMO.

Best regards,

[2014-09-23 08:25] Bertram25 opened #170 "Culling management"
Atm, the creature and tile culling management is done in the same named class, through a culling manager that updates optionally within the camera manager.

Unfortunately, the code is making the game crash and is very hard to grasp. I don't blame @tomluchowski at all for that, I rather understand why he couldn't finish it since it's very hard to follow.

To get out of this without getting crazy, I

[2014-09-23 08:35] Bertram25 opened #171 "Prettify screenshot names"
At the moment and thanks to latest @oyvindln's patch, screenshot names gets a serial number based on the time value added as a suffix on their filenames.

This permits to prevent making them overwritten between two sessions of OD.

Since this serial number is based on time, we should prettify the time given and make it human readable, such as:
OD_screenshot_YYMMDD_HHMMSS.png instead of OD_screensh

[2014-09-23 08:38] Bertram25 opened #172 "Remove the (Skirmish) or (Multiplayer) part of map names."
Now the gui has been improved a bit, and that map info is displayed when clicking on a map, this info is redundant and is wasting space.

[2014-09-23 13:54] Bertram25 commented on #165
Ok, then we all are ok that:
- If a trap is visible per default, it has to be destructed by fighters before letting workers claim the underlying tile. (Room-like.)
- If a trap is invisible, then workers have to claim the tile before being killed by the trap. Either by triggering it so much it is defunct, or by being quick enough.

Now, let's try to take a more complete example (without saying it w

[2014-09-23 13:59] Bertram25 opened #174 "XP: Make the creature's XP fall back to 0 once leveled up."
This will permit to more clearly implement the XP table, and should already help with the problem of creatures leveling up too fast.

[2014-09-23 14:00] Bertram25 commented on #137
No answers so far. I'm considering this task free to take again.

[2014-09-23 14:40] hwoarangmy commented on #167
I agree. But it will require to change almost all initialisations. IMHO, it can be done later.

[2014-09-23 14:50] hwoarangmy commented on #137
ok. Do you think we should even keep the render manager ? It was probably usefull because of the old thread system. Now that we have only one thread on the client side, I don't see why we would need this anymore.
I can see good reasons to remove it :
- The code will be more readable (you don't have to search for a message in another class when you end up in a function that sends it).
- When an exc

[2014-09-23 15:29] Bertram25 commented on #167
Sure. Thus my proposal of opening another issue tagged for Later.

[2014-09-23 15:34] Danimal696 commented on #165
i dont think they should be separated in different tabs, perhaps the upper row of the trap tab goes to visible, and the lower row to invisible

[2014-09-23 15:40] Bertram25 commented on #137
Heya, :)

Just to be clear, if someone ever have to readd thread in the previous fashion (with all the semaphores spread everywhere and all that), you will see me dance with red spotlights and 'Warning! NO! This is wrong!!' panels ;) To me threads are to be dealt with clean interfaces, preventing bugs by design, not simple luck. (And I do think you are rather clear with this yourself. :])

That se

[2014-09-23 15:44] Bertram25 commented on #165
It's an idea. Traps icons would be smaller but that's about it.

Thus, internally, we could either have two separate classes, or a mVisibleForCreatures boolean triggering either of the two described behaviour for traps.

Code speaking, what would be your favourite road, guys?

[2014-09-23 16:48] akien-mga commented on #147
Another small sound bug: the battle music is triggered directly when you load the oldTest level, but there is no battle unless I'm mistaken. It then switches back to the calm music after ~10 sec.

[2014-09-23 19:06] hwoarangmy commented on #165
IMHO, a flag will be enough because I believe they will do nearly the same. We could also have turrets that are hidden and pops up when firing for a bit (while they can be attacked). Then, if still alive and no creature nearly, they could hide again.
But in any case, we have to do something to make sure players will know if a trap is to be attacked or to be claimed.

[2014-09-23 19:17] hwoarangmy commented on #137
As you know, I second you on that point. But I tried to bring up all the good/bad reasons I could think about :)

Really ? The game engines I've worked on until now used a listener to allow changing the game state within the rendering thread (and Ogre looks much like that with the frame listener). That allows them to not have costly synchronisation during rendering. But if there is a dedicated thr

[2014-09-23 20:29] Bertram25 commented on #165
IMHO, the creatures should know where the trap is, once it has popped up the first time. The trap would then be invisible once for this case.

Fine to me.

[2014-09-23 20:42] Bertram25 commented on #137
I've checked some article about that, and I've seen many about threading the Ogre render engine. This means that by default it isn't threaded. Thus my apologies, it must have dreamt that.

While it is possible, it is not done, so indeed we could drop the render manager if it means simplifications. ;)

[2014-09-23 20:48] Bertram25 commented on #58
Late answer, but ok, I'll add this on my todo list. :)

[2014-09-23 20:48] hwoarangmy commented on #165
The problem is the one @Danimal696 said : once they see the trap, it will be very easy when there is FPP to kill the trap with 1 ranged unit

[2014-09-23 20:54] hwoarangmy commented on #137
No problem :)

The thing is that before doing that, we should check if the performance are the same if they drop. Which can be easily tested in the render manager by calling handleRenderRequest when a render request is sent instead of adding it to the queue.
So, I will try to do that and see how performance goes. Then, if I see no problem, I will make a PR that does that. And if nobody sees any pr

[2014-09-23 21:05] Bertram25 commented on #165
Well, what is the point of the FPP mode if not doing exactly such kind of things? (Apart from enjoying dark corridors ;])
IMHO, it's not bad, it's even strategical. To me, the time you "loose" being a creature isn't spent managing the rest.

@Danimal696 Is there something wrong with my point of view?

[2014-09-23 21:05] Danimal696 commented on #165
For active traps like the cannon that is valid, posses some warlock and blast the cannon in pieces while dodging the bullets; but for floor traps it render them pointless, hence why i think they should be undestructible by force; its fine if they remain visible once triggered, so you can avoid it, but it wont go anywhere until you disarm it.

[2014-09-23 21:06] Bertram25 commented on #137
Yep, we can even only make a PR only meant to be tested. :)

It's empirical but we don't have time to do better. I do hope Ogre is batching the rest. :)

[2014-09-23 21:16] Bertram25 commented on #165
Ah I see. But I think we agree since the beginning. Let me split all the examples:
- The cannon, always visible. Fighters have to destroy it before proceeding.
- Spike traps are always invisible (even if visually shown when triggered) and only workers can disable them by claiming the tile or die in the attempt.
- hwoarangmy's mighty cannon that burst out of the ground and fires. It is invisible at

[2014-09-23 21:19] Danimal696 commented on #165
Spike traps can become visible when triggered once, since you cant forcefully destroy them, at least you know where they are, the lazy explanation could be the trap cant be destroyed since the mechanisn its fully underground

[2014-09-23 21:25] Bertram25 commented on #165
Then, there are several notions:
The trap is:
- visible for the player's team: Once discovered and visually shown.
- visible for the creature: Making fighters able to fight it, workers will try to claim if invisible.

So if we take the examples:
- The cannon example is visible for creatures and the player's team.
- Spikes are visible to none. Then, once triggered, they are visible for the player's

[2014-09-23 21:32] Danimal696 commented on #165
Fitghers should only engage traps like the cannon. Spike, poison and the like shouldnt be destructible by force, just by triggering a number of times or claiming the tile its on.

[2014-09-23 21:33] Bertram25 commented on #165
I think we agree, then. :)

[2014-09-23 21:42] Danimal696 commented on #165
Uhmm, i would call it the "camo cannon" and make it a step above the normal cannon, same damage but hiding capabilities, it shoots and is made invisible again when no enemies are near.

[2014-09-23 21:56] Bertram25 commented on #165
Don't worry, those were just examples. ;) But this helps when making specs.

[2014-09-24 06:28] #164 closed, assigned to hwoarangmy

[2014-09-24 06:28] #166 closed, assigned to hwoarangmy

[2014-09-24 07:28] #174 closed, assigned to nobody

[2014-09-24 07:39] hwoarangmy commented on #165
Ok, let's start with those 3 types. At first, we can just show/hide "camo cannon" or play with its size to do as there was an animation. Later, it would be nice to have a special animation for this kind.

[2014-09-24 09:36] Bertram25 commented on #165
Ok :)

[2014-09-24 09:49] oyvindln commented on #137
Right now, the render manager also does things it shouldn't, like deleting map objects. It's not ideal that it's tied in with the GameMap given that it's in use before we even load a map.

[2014-09-24 09:56] hwoarangmy commented on #137
Yes. When I added the server game map, I added a function to queue deleted objetcs and to clean up that is called at each turn (as for obvious reasons, server game map do not use rendering). When the render manager had its own thread, it was probably good to delete objects there. But now that there is only 1 thread that handles client gamemap, we could use the same as on server side (processed aft

[2014-09-24 12:13] Bertram25 commented on #172
@hwoarangmy I'll do that something like tonight if you don't before me. :)

I'll take the opportunity to try to refresh the map titles and description a bit.

[2014-09-24 12:14] Bertram25 commented on #168
@hwoarangmy Same here. I'll take it and will do it asap. If it's bothering what you've already done, just tell me :)

[2014-09-24 12:17] Bertram25 opened #176 "Fix initialization ordering warnings"
As dicussed in #167, the reordering warnings (disabled with -Wno-reorder) are many and are hurting a standard compilation time and readability.

They should be fixed by setting this particular warning on in a fresh build and fixed point by point.

Then, this warning can enabled by default again.
#167 is to be fixed first, though.

[2014-09-24 12:19] hwoarangmy commented on #168
no problem, I am not on that :)

[2014-09-24 12:21] hwoarangmy commented on #172
ok, I was going to do it but I have not started yet so no problem :)

[2014-09-24 12:21] Bertram25 commented on #167
I added #176 Thus, the reorder warnings can be enabled once the such warnings are fixed, and aren't concerning this issue anymore.

[2014-09-24 12:25] hwoarangmy commented on #167
ok, I will try to do that tonight

[2014-09-24 12:53] Bertram25 opened #177 "Cannon trap - Make it rotate toward its target & size issue"
Hey there,
- [ ] Implement Cannon rotation

The cannon trap is for now fixed, and looking northward. Thus, seeing it shoot targets makes it weird most of the time.

The cannon should instead rotate toward its target and shoot when both its rotation is finished and its reload time is done.

Thus, the rotation depending on the line of sight toward its target should be implemented, and the actual rot

[2014-09-24 12:57] Bertram25 commented on #167
thanks :)

[2014-09-24 12:58] Bertram25 commented on #172
Ok, I'll try not getting in the way. :)

[2014-09-24 14:00] Danimal696 commented on #177
the one ill do will be a lot shorter, also i think ill make a fixed "feet" and a mobile upper part. Its that fine?

[2014-09-24 14:34] Bertram25 commented on #177
From what I understand, in short, it's better to have separate meshes, making it much easier to rotate only the mobile mesh code-wise.

If you're making a single mesh file with sub meshes, the only way to touch the sub-meshes separately is to create a skeleton and link it to the sub-meshes. We could then be able to play with its "bones" but only through animations AFAIK and that's not what we want

[2014-09-24 14:55] Bertram25 commented on #177
I'll have a look at attach points in skeleton files, too.

Btw, could you, when you have the time to, describe somewhere on the forums on in the wiki, what are the necessary bones and attach points needed in a skeleton file, so that a creature model can be "equipped"? Thanks :)

[2014-09-24 15:14] Bertram25 commented on #87
I'll add something like that (whenever I'll have the time to.):

[code]

[2014-09-24 15:18] Danimal696 commented on #177
it is on the wiki, on the part about importing models

[2014-09-24 15:34] Bertram25 commented on #177
Ah, true, sorry:

[2014-09-24 15:37] Bertram25 commented on #177
After some reading, it seems there might be a way to rotate attach points in skeletons with the cost that animations wouldn't work on those points from what I've read. All this is still very wild guesses, though. I'd need to make a few tries...

@oyvindln Any idea?

[2014-09-24 15:40] hwoarangmy commented on #87
Sounds ok. The server paradigm is nice in cases like that :)

[2014-09-24 15:44] Bertram25 commented on #9
According to this last bullet:
- Workers searching successfully for far away ground tile, walls to claim, gold or dirt to dig once their near-by counterparts are done. (Still depends on other improvement effects.)

@hwoarangmy Since you remade something like 70% of the pathfinding algorithm, do you know whether workers are now able to seek far away gold tiles to dig?
(I know that they are still re

[2014-09-24 15:45] Bertram25 commented on #87
Ok, I'll test it and will create a pull request asap.

[2014-09-24 17:45] hwoarangmy commented on #9
No, they only work where they see. Pathfinding works now and they would be able to go anywhere accessible if asked.
FYI, I've tried lately to run the 2v2 small map doing nothing for something like 2 hours. When I came back, all the gold in the map was mined. The AI ally had even dug my walls to get the gold near my dungeon temple ^^
All the tiles in the map were claimed.

I think that's the kind o

[2014-09-24 21:53] Bertram25 commented on #9
Ok. I'll open an issue for later. In the meanwhile, it's already quite fine. :)

[2014-09-24 21:55] Bertram25 opened #180 "Workers handling of far away tiles to claim or dig"
Workers should search for far away ground tile, walls to claim, gold or dirt to dig once their near-by counterparts are done.

For now, they only rely on their sight in tiles, which is a fine average of 15 tiles.

Later, we could for instance make them search for far away tiles to dig or claim when they are idle for a few turn.

[2014-09-25 07:40] Bertram25 commented on #132
for the record, I'm also in favour of dropping pthreads if using boost replacement isn't hurting. :)
EDIT: Replace dirent by boost::filesystem is a good thing IMO, too.

[2014-09-25 07:40] Bertram25 commented on #53
Strongly linked to #2 and #132
As those are for 'Later' atm, I'll move this one to the same milestone.

[2014-09-25 07:43] Bertram25 commented on #41
Why I am not in a hurry to fix this shader bug:
http://yosoygames.com.ar/wp/2014/05/a-glimpse-of-whats-comming-to-ogre-2-0-final/

[2014-09-25 07:54] Bertram25 commented on #89
Reopening as the hover tooltip part isn't done yet.

[2014-09-25 08:06] akien-mga commented on #2
Edited the first comment to better reflect the new scope of this issue (partly resolved already).

[2014-09-25 08:29] Bertram25 commented on #2
Thanks :)

[2014-09-25 08:31] Bertram25 opened #183 "Add newest forge objects and remove old ones."
As done by @Danimal696 here: :)
http://forum.freegamedev.net/viewtopic.php?p=59714#p59714

[2014-09-25 08:34] Bertram25 commented on #147
I've checked that one. It's not a bug. An orc is almost immediately attacked by your dragons at map start now the creature fighting behaviour has been fixed. Once the Orc is dead, everything is back to the usual evilish normal. ;)

[2014-09-25 08:36] akien-mga commented on #147
Ah good to know :-) I couldn't find it after a quick search, but this makes sense.

[2014-09-25 20:13] Bertram25 commented on #58
@akien-mga After checking the CMake file, `OPENDUNGEONS_DATA_PATH` is used to set where the data are meant to be installed:
https://github.com/OpenDungeons/OpenDungeons/blob/development/CMakeLists.txt#L515

Could you tell me whether adding `-DCMAKE_INSTALL_PREFIX="/usr"` in the cmake invocation is making something useful for you, at least speaking on installing the data?

[2014-09-25 21:03] akien-mga commented on #58
@Bertram25 IIRC, it was only used to configure the resources_install.cfg file with the proper path. I had a WIP patch that adds system wide installation for Linux (but was not that well written in terms of cross-platform compatibility), I'll look for it.

[2014-09-25 21:04] akien-mga commented on #58
Here it is, it's an enhanced version of https://github.com/OpenDungeons/OpenDungeons/blob/development/CMakeLists.txt#L530-L544

[code]

[2014-09-25 21:07] akien-mga commented on #58
Basically on the code side, you would have to retrieve the value of OPENDUNGEONS_DATA_PATH and add it to a virtual filesystem of some sort, maybe together with the build directory (with a relative path), so that the game can still be run in the source tree on Linux and Windows.

Edit: This would be to fix #57, but both topics are closely related.

[2014-09-25 21:23] Bertram25 commented on #58
Ok, I think I'm mostly done with that. I'll add a patch asap.

[2014-09-25 21:24] akien-mga commented on #58
Great! Then I'll have a look at refining my WIP for the system wide installation, and I won't hesitate to ask for some help if I can't do everything as I want it :-p

[2014-09-25 21:36] Bertram25 commented on #58
@akien-mga See #184 :)

[2014-09-25 22:04] Bertram25 commented on #25
As told in a743cb2:

The ogre.cfg and other cfg files should be in: ~/.config/OpenDungeons
Later, the saves should be in: ~/.local/share/OpenDungeons

Such paths shouldn't be hardcoded but rather taken through XDG\* variables using getenv() when possible.
I'll deal with this issue while I'm on such things anyway.

[2014-09-25 22:36] hwoarangmy opened #185 "When using training room, creatures sometimes go through wall"
To see it, build a room with a wall in the middle (linked by 1 tile). When creatures will switch dummies, they will go straigth to the next, going through walls if on their way.
Example :
TTTTTTT
TTTWTTT
TTTWTTT

T = training tile
W = wall tile

[2014-09-25 23:03] #87 closed, assigned to Bertram25

[2014-09-25 23:03] #168 closed, assigned to Bertram25

[2014-09-25 23:03] #172 closed, assigned to Bertram25

[2014-09-25 23:03] #183 closed, assigned to Bertram25

[2014-09-26 10:22] hwoarangmy commented on #139
Is there some model for the spike trap ? If so, I will integrate it :)

[2014-09-26 12:39] Bertram25 commented on #139
The model is ready AFAIK: https://github.com/OpenDungeons/OpenDungeons/blob/development/models/Spiketrap.mesh + skeleton

I'll have to integrate the icon first if you don't feel like adding it.

[2014-09-26 12:50] hwoarangmy commented on #139
ok, I'll rebase after the icon is added then. I prefer to let you integrate these as you know better what goes to credits and stuff as I do :)

[2014-09-26 12:52] Bertram25 commented on #139
k, will do that asap and as first, then. :)

[2014-09-26 13:09] Bertram25 commented on #25
Ah, to be clear about it, I'll let the code setting paths for Mac as is. I can't test that one since I don't own a mac. I'll deal with windows and linux, though.

[2014-09-26 13:18] Bertram25 commented on #139
Here is the converted icon. What's left is to add it to the texture and link it with the corresponding imageset file. I'll do it if you cannot for any reason:

![spiketrap](https://cloud.githubusercontent.com/assets/765917/4421008/a79e0e06-457f-11e4-9ee7-80930aeabc52.png)

License-wise, there is no change as the icon texture license isn't changed by a CC-BY 3.0 image.

[2014-09-26 16:39] akien-mga commented on #132
Dirent dropped with #186, updated the first comment.

[2014-09-26 20:20] hwoarangmy commented on #139
ok, I'll do that

[2014-09-27 09:11] #167 closed, assigned to hwoarangmy

[2014-09-27 09:11] #141 closed, assigned to hwoarangmy

[2014-09-27 11:20] Bertram25 opened #187 "Addition of the newest forge objects."
As prepared by @Danimal696 here:
http://forum.freegamedev.net/viewtopic.php?p=59775#p59775

Also, the former forge material and texture can die after the addition of those.

[2014-09-27 11:27] Bertram25 commented on #10
Once, #25 will be done. I'll bite this one. ;)

[2014-09-27 11:36] Bertram25 commented on #22
@akien-mga Btw, when you'll package OD, the editor won't be able to save maps, as they will be in /usr/share/...

Once #25 is done, do you have any idea on how we should deal with custom maps against bundled ones?
Or maybe we should only let the editor able to change maps in the user data dir?

[2014-09-27 12:39] akien-mga commented on #22
As stated previously, we should add support (using boost I guess) for multiple asset location, at first ~/.local/share/opendungeons/ and /usr/share/games/opendungeons/ (and maybe ./ too to cater for in-source builds?). The user diretory should be checked first, and the system directory afterwards. This way files that are found in the user directory will be loaded instead of the official system one

[2014-09-27 12:51] Bertram25 commented on #22
Fine by me.
I'd indeed use the given order you told:
1. ~/.local/share/opendungeons/ or ApplicationData and such on Windows (Depends on the version)
2. ./ for developpers (is the same for windows anyway.)
3. /usr/share/games/opendungeons/ of in general the installation data path.

[2014-09-27 14:36] Bertram25 opened #188 "Editor: The map overwrittent should only be backed up the first time."
See: http://forum.freegamedev.net/viewtopic.php?f=35&t=5869&p=59800#p59800

I realized something while digging through code:
Here: https://github.com/OpenDungeons/OpenDungeons/blob/development/source/ODServer.cpp#L838

When saving a map in the editor, it seems it is making a backup each time. I don't know whether it is the right thing to do. I'll explain:
- When you open a level, you don't want to

[2014-09-27 21:46] Bertram25 commented on #188
XD sorry.

I'll close this issue. As discussed on the forums, the issue isn't really relevant as the map could end up being backed up when being empty or near the beginning with this solution.

I'll close this one. Let's open another one once an actual flaw or need is discovered.

[2014-09-27 21:46] #188 closed, assigned to Bertram25

[2014-09-27 22:52] Bertram25 commented on #187
Ok, I added them with: https://github.com/Bertram25/OpenDungeons/commit/353fe6a0660cc2ecc97a566bbea0e9d8981e9c6b

A proof, it rocks!! :D
![odscreenshot_1411857846](https://cloud.githubusercontent.com/assets/765917/4432518/949e0cb0-4698-11e4-8aba-8f75779d98d9.png)

But I've got several requests:
- Isn't it Chim**n**ey instead of Chimmey? Could the model and used material be renamed accordingly?
- T

[2014-09-27 22:56] Bertram25 commented on #58
Considered ok with #184 for system-wide use. I'll be on #25 now.

@akien-mga Still ok for the installation part? :)

[2014-09-27 22:58] akien-mga commented on #58
Yep, assigning this one to myself now, you've done everything that I need for an easy system wide installation :-)

[2014-09-27 22:58] akien-mga commented on #57
PR #184 made this issue really easy to solve, I'm on it.

[2014-09-28 00:05] Bertram25 commented on #176
#189 needs to be fixed first before removing -Wno-reorder but I'll deal with reordering before that.

[2014-09-28 00:29] Bertram25 commented on #176
See #190 for the reordering warnings fixed. The -Wno-reorder can be removed afterwards...

[2014-09-28 09:48] Danimal696 commented on #187
sure, btw the new font looks great!

[2014-09-28 10:03] Bertram25 commented on #187
Thanks a lot!! :)

[2014-09-28 10:29] Bertram25 commented on #25
@oyvindln On developer builds, when the data path is overriden to "./". Do you think I should also make it so the ShaderCache should be written there, too? Or should I let it written to: ~/.local/share/opendungeons/ShaderDataCache/ instead?

[2014-09-28 10:40] akien-mga commented on #25
IMO, everything should be in the source tree for developers builds.

But then the question would be, what about end-users who compile the game themselves and run it in the source tree? I think we can expect them to run a "sudo make install" and make their build a "non-developer" build. If not, well let them have the save games and everything in the build tree, it's probably simpler that way (and t

[2014-09-28 11:05] Bertram25 commented on #25
You have a point. :) Ok, I'll do that.

[2014-09-28 16:19] Danimal696 commented on #187
updated and tested, look on forum you grammar nazi ;)

[2014-09-28 19:33] Bertram25 commented on #187
Mwahahaha...

[2014-09-28 21:14] Bertram25 opened #191 "Add bridges"
I just realized we have no means to cross water/lava and claim tiles. ;)
- Two sort of bridges need to be added: Wood and stone ones.

Both can be built over water and lava but wooden bridges will break after a dozen seconds over lava.
One cannot build something over bridges.

[2014-09-28 21:15] Bertram25 opened #192 "Add the portal and temple rooms as available rooms for the editor"
New icons are also needed.

[2014-09-28 22:13] Danimal696 commented on #191
there is a stone one on repo, ill convert tomorrow

[2014-09-29 08:45] #176 closed, assigned to Bertram25

[2014-09-29 08:45] #187 closed, assigned to Bertram25

[2014-09-29 09:21] hwoarangmy opened #194 "Canon traps should deal damage when its bullet hits, not when it fires"
That would allow to dodge bullets and to have missiles that can hurt creatures on their way like boulder trap

[2014-09-29 09:29] Bertram25 commented on #194
Soo, true.

[2014-09-29 09:31] Bertram25 opened #195 "Skirmish - Scream in the dark - Add a spawn pool for team 5, and review all spawn pools"
Everything is in the title.

[2014-09-29 09:33] Bertram25 opened #196 "Editor - Crash when adding a room for a factionless seat."
To reproduce the crash, search a level which has a seat slot with a faction parameter equal to 'none'

Then, load this level with the editor, select corresponding the team id with 'Y',
Click on Treasury for instance and try placing the room on map.

The editor crashes.
(I'll add the bt asap.)

[2014-09-29 09:50] Bertram25 opened #197 "Add the boulder trap."
Prerequisite: #194

@Danimal696 @hwoarangmy @akien-mga Feel free to correct those little specs as I might have missed something. :)

The trap boulder is triggered when an enemy is within the 5 nearest tiles.
A boulder appears and rolls slowy (movement speed to define) toward the unit.
When reaching a wall, the boulder change its direction randomly (making it more hazardous)
After two or three boun

[2014-09-29 10:00] Bertram25 opened #198 "The loading menus aren't centered on screen and behave not quite good when resized."
I'm on it.

[2014-09-29 10:04] hwoarangmy commented on #197
I think the idea is good but it should trigger when a creature is closer. This trap will be a powerfull one and if it triggers too early, it would be too easy to pickup the creature before it is hurt.

[2014-09-29 10:07] Bertram25 commented on #192
@Danimal696 @hwoarangmy @akien-mga please, tell me which ones to make :)
Icons proposal
- Portal:
  http://game-icons.net/lorc/originals/orbital.html
  http://game-icons.net/lorc/originals/magic-portal.html
  http://game-icons.net/lorc/originals/reticule.html
- Dungeon Temple:
  http://game-icons.net/lorc/originals/caged-ball.html
  ![caged-ball](https://cloud.githubusercontent.com/assets/765917/4

[2014-09-29 10:08] Danimal696 commented on #194
totaly agree on this.

[2014-09-29 10:11] akien-mga commented on #192
I like both the orbital and magic-portal icons for the Portal. The reticule one doesn't fit IMO. Maybe the magic-portal is best?

As for the Dungeon Temple, the proposal looks nice :-)

[2014-09-29 10:18] Danimal696 commented on #197
closer trigger +1

[2014-09-29 10:19] Bertram25 commented on #191
Stone bride icon proposal:
http://game-icons.net/lorc/originals/bridge.html

Wooden one:
An adapted version based on that one: http://game-icons.net/delapouite/originals/planks.html

What do you think?

[2014-09-29 10:20] Bertram25 commented on #197
Np. I guess it's something we'll have to fine-tune anyway.

[2014-09-29 10:29] Bertram25 commented on #192
Added the reworked dungeon temple icon. I'll wait for the others before doing more.
Ping @Danimal696 @hwoarangmy

[2014-09-29 10:33] akien-mga commented on #191
I'm not sure how the planks could be adapted to look like a wooden bridge.

As for the stone bridge, it could work, though my first impression is that it represents an archway more than a bridge. I think we need two similar icons for the two bridges, i.e. with the same perspective. It should just be the "texture" of the bridge that changes and makes it clear that one is made of planks, while the o

[2014-09-29 10:41] Danimal696 commented on #192
I like the magical portal icon, and the temple one fits for now

[2014-09-29 10:42] Danimal696 commented on #191
they dont really fit as they are; akien has a point. Bertram do you think you can do it? Vector graphics are not my strong

[2014-09-29 11:50] Bertram25 commented on #191
Yeah, quite understandable. Based on those, I should manage to make something:
I'd base the actual icon on them, recreating the tribal-tattoo-like effect of other icons:
http://opengameart.org/content/wooden-bridge
http://opengameart.org/content/stone-bridge-alt

What do you think as a base?

[2014-09-29 12:03] Bertram25 commented on #192
Here it is, still hot from the newest foundry model: ;)
![magic-portal](https://cloud.githubusercontent.com/assets/765917/4441265/a28327dc-47d0-11e4-8248-fe536e77c24a.png)

[2014-09-29 12:26] Bertram25 commented on #191
A picture is worth 1'000 words; a quick try on the wooden bridge icon based on OGA ref (actual game size):
![woodenbridge_try1](https://cloud.githubusercontent.com/assets/765917/4441509/d46fface-47d3-11e4-858a-38eba2b9894a.png)

[2014-09-29 12:32] Danimal696 commented on #191
Good, explicit enougth

[2014-09-29 12:35] hwoarangmy commented on #196
Strange, I had tested this. Maybe some weird side effect

[2014-09-29 12:42] hwoarangmy commented on #192
I also prefer the magic portal. The dungeon heart seems clear enough IMO.

[2014-09-29 12:51] hwoarangmy opened #199 "Wrong attack behaviour for ranged fighters when attacking rooms"
Ranged fighters always try to go at the maximum range before attacking. The problem with room is that when they try to spot a tile, they might end up somewhere where another tile is closer. That will make them move and possibly move indefinitly.

[2014-09-29 13:20] hwoarangmy opened #200 "Random crash when room/traps/missiles/roomobjects are destroyed"
Active objects are handled here :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/GameMap.cpp#L685

We can see in the code that the active objects list is not supposed to be changed outside this function (at least, not during its execution).
But in almost every entity (room/traps/missiles/roomobjects), we can see that it is removed. For example, for rooms :
https://github.com/

[2014-09-29 14:40] Bertram25 commented on #196
Yeah, maybe, hopefully the bt will help. :)

[2014-09-29 14:42] Bertram25 commented on #199
Setting to later until you or someone else has got the time and nerve to take it. Creature behaviour stuff are tricky and the game is smooth enough already.

[2014-09-29 14:44] Bertram25 commented on #200
Now you tell it. It explains a few glitches I've seen in game today, especially when destroying an enemy hatchery tile with chicken above it.

[2014-09-29 14:56] Bertram25 commented on #191
Cool, here is the stone one (I managed to make it look good on a somewhat higher scale):
![stonebridge](https://cloud.githubusercontent.com/assets/765917/4443497/c5aeb736-47e8-11e4-8a65-19ac160883ac.png)

[2014-09-29 14:56] hwoarangmy commented on #199
Actually, fighters will attack in priority creatures. If none is in sight, they will go on rooms. I think the easiest way is, for rooms, to check if a tile is in range (as it was done before) and, if so, attack.

[2014-09-29 14:59] Bertram25 commented on #199
And if not, get closer. (But you will tell me they already do that. ;])

[2014-09-29 15:09] akien-mga commented on #191
Looks nice! I think it would be slightly better if the point where the bridge wall changes angle to go down would be visible on the right-hand side too. My point might be clearer with this:

![bridge](https://cloud.githubusercontent.com/assets/4701338/4443709/78214658-47ea-11e4-98dd-252a5f8cd23c.png)

The current perspective looks a little bit off, editing the red part on my pic (or a subset of it

[2014-09-29 15:35] hwoarangmy commented on #199
;)

[2014-09-29 15:37] akien-mga commented on #25
Actually it's not that bad to have the settings in ~/.local/share/opendungeons on developer builds (it is the current behaviour IINM). I like that I don't have anymore to set fullscreen to no and the resolution to a smaller one each time I run a clean build :-P

[2014-09-29 16:03] akien-mga commented on #25
As far as I can tell, the only file that gets written to the runtime directory now is CEGUI.log. It should be written in ~/.local/share/opendungeons.

[2014-09-29 16:04] Bertram25 commented on #191
ok :)

[2014-09-29 16:05] Bertram25 commented on #25
True, and opendungeons.log, too.

[2014-09-29 16:07] Bertram25 commented on #25
So, the resource.cfg and ogre.cfg plugin files should be put there. But maybe with a fallback to "./" then?

[2014-09-29 16:26] oyvindln commented on #200
I think the entity classes are doing a lot of things they shouldn't in general, not sure if they should really manipulate anything other than themselves.

[2014-09-29 17:57] akien-mga opened #202 "Link game icon with GUI on Linux"
**Edit:** Icon embedded for Windows has already been achieved for 0.5.0, what's left to do (or decide not to do if it's too complex) is to get the icon shown by Linux window managers in the title bar and task bar.

On Linux at least, the OD icon is not linked with the GUI, so the game window appears with the default Xorg icon (both in the taskbar and in the title bar).

A prerequisite to fixing th

[2014-09-29 18:55] Bertram25 commented on #202
I guess I'm the icon guy ;) But isn't the default icon size requested by XDG specs 48x48?

I would concentrate on that one and that one alone. WDYT?

[2014-09-29 19:02] #57 closed, assigned to akien-mga

[2014-09-29 19:10] akien-mga commented on #202
What I mean is that the current icon ( https://github.com/OpenDungeons/OpenDungeons-media-source/blob/master/Logo/OpenDungeons-Logo.svg ) looks quite good already when resized to 48x48, see:
![opendungeons](https://cloud.githubusercontent.com/assets/4701338/4447568/bc0a8b9c-480b-11e4-84df-476cfde64828.png)

But with smaller resolutions, you can't really see the details of demonic "D", and it becom

[2014-09-29 19:41] #198 closed, assigned to Bertram25

[2014-09-29 19:43] akien-mga opened #203 "Adapt GUI to lower resolutions"
As seen on #201, the GUI is particularly out of scale when running the lowest windowed resolutions that are 640x480 and 800x600. The game in itself runs fine, so if CEGUI permits it, it would be nice to downscale the whole GUI (both the main menu and the in-game UI) to fit those lower resolutions.

[2014-09-29 19:45] Bertram25 commented on #202
Ok, now I see the point completely. I'll work tomorrow on the 32x32 and 16x16 versions if nobody else does it. :)

[2014-09-29 19:46] Bertram25 commented on #203
I'll adapt down to 640x480. :)

[2014-09-29 19:47] Bertram25 commented on #203
Note to self: The main menu might concerned.

[2014-09-29 20:24] #195 closed, assigned to Bertram25

[2014-09-29 20:38] #58 closed, assigned to akien-mga

[2014-09-29 21:08] akien-mga commented on #9
Wow we're really close to the 0.4.9 release :-)

[2014-09-29 21:20] akien-mga commented on #25
If I think in terms of end user, I want to use the config files in the XDG path, and overwrite them if I change a parameter.

As a developer, I don't want to override them each time I test something new. But I might like it to have a default config in the XDG path that can be applied to new builds.

Thus I would propose to put the cfg files in the XDG path, but in the case of developer builds, it

[2014-09-29 21:21] akien-mga commented on #2
Ok I'll package Angelscript for Mageia as a prerequisite to adding a CMake option to use the system package :-)

[2014-09-29 22:00] akien-mga commented on #2
AngelScript is not that packaging-friendly as far as I can tell, and it's shared library versioning seems a bit fishy. I think for now it's not particularly relevant to add CMake instructions to find a system-wide version of AngelScript and use it to build OD. WDYT?

If you agree I'll add a mention that the AngelScript part of this issue is "WONTFIX", and close the issue since the two other points

[2014-09-30 12:50] hwoarangmy commented on #196
I can reproduce. Not something very tricky, I will handle that in my next PR :)

[2014-09-30 13:03] hwoarangmy opened #207 "Editor - crash when opening a level with maplight visual indicator twice"

[2014-09-30 13:10] Bertram25 commented on #2
I'll be honest. I don't agree. ;)

Don't misunderstand me, though. I'm not meaning you should package AS, the issue isn't about packaging AS anyway.
But I do think you should add the option to find a system-wide AS lib while setting it to false per default.
This way packagers of other distribution can optionally use it (and maintain it for us if doesn't work for their distro for any reason.)

Feel

[2014-09-30 13:15] hwoarangmy opened #208 "Random crash when computing goals"
I've had several times a crash within Seat::checkAllGoals.

After a bit of search, it seems a vector iterator can be invalidated when the vector is resized (which might happen when elements are inserted). That might crash.
This one was tricky for me as I'm not used to STL containers :)

If interested, I'm talking about :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Seat.cpp

[2014-09-30 13:18] Bertram25 commented on #196
Cool :)

[2014-09-30 13:24] akien-mga commented on #2
I agree with you, but what I mean is that no distribution ships angelscript (apart from the OpenSUSE Games repository and the unofficial Fedora RPM Fusion), and both had to patch a broken makefile to fix the shared library soname, so I can't be 100% sure where the lib will be located on Linux systems, so at first I thought it was not worth the bother.

Now that I think about it a bit more, I guess

[2014-09-30 13:25] akien-mga commented on #2
What about the AngelScript addons? Do we use those?

[2014-09-30 13:26] Bertram25 commented on #25
Hey. :)

What cfg files are you talking about precisely talking about?
- ogre.cfg?
- plugins.cfg plugins_d.cfg?
- resources.cfg resources_d.cfg?
- Other ones?

Secondly, I'd drop this line:

We are developers after all, so the file can be created locally if it doesn't exist but I'm not fond fiddling with user files. To me, developer builds and installed build should if possible not mingle too much

[2014-09-30 13:28] Bertram25 commented on #2
Fear not. :) We might even be in the process of paving the road here. ;)

??? I don't know. @oyvindln Help!

[2014-09-30 13:30] Bertram25 commented on #9
Yeah, the main thing left now CMake stuff is mostly done is the creature def format. :)

(Disclaimer for below: This is not a complain, in fact, I'm quite happy about it.)
Note that @hwoarangmy is in Chuck Norris mode and he is already working on 0.6.3. ;)

[2014-09-30 13:43] akien-mga commented on #25
Good question :-) I guess I'm speaking about all config files + logs (e.g. CEGUI.log and opendungeons.log).

BTW while we're talking about config files, what is resources.zip.cfg used for?

I agree with your point, but then:

This doesn't sound right. As you said it, the developer build might be 0.5.1 when the system version (the one making use of the ~/.local/share/opendungeons path) might be 0.4

[2014-09-30 13:45] Bertram25 commented on #2
@akien-mga  Taken from the code in ASWrapper.cpp:
#include "scriptarray.h"
#include "scripthelper.h"
#include "scriptstdstring.h"
#include "scriptbuilder.h"

So, I'd say yes, we are.

[2014-09-30 13:53] Bertram25 commented on #25
You have a point. I agree.

Good question also. :) Technically, I'd like to have save game being level files with the necessary info to load a game "state". The only missing part AFAIK atm, being some creature stats I guess and script variables states. Now you've discovered all the evil plan, I'll need to make you forget about all this in a way involving ropes and whips. >;)
Anyway, I think save g

[2014-09-30 14:16] hwoarangmy commented on #9
^^
Indeed, I've prepared a huge PR for you to review :)
Many (too many ?) fixes. I had no time yesterday to do a PR as my ill younger daughter did not let me. The good point is that I had time to test and, so far, it seems pretty stable. I know that release time is not the best to do such a PR but I think it is worth it. And I'm sure our crazy tester @akien-mga will make sure I've not forgotten an

[2014-09-30 15:41] Bertram25 commented on #9
Arf, don't even think you have the right to apologize for accelerating the development pace of this project by ten. ;P

Yeah, your foolish efforts to make Akien the Archlich kneel before the testing charge are worthless, for he'll wipe all your patches with effortless testing reports. ;)

I also hope your daughter is feeling better, and that is wasn't that bad.

[2014-09-30 16:20] hwoarangmy commented on #9
We will see tonight if she can sleep :)

[2014-09-30 20:53] hwoarangmy commented on #165
The room part is fixed in #169
As decided, claiming trap is normal so it is not a bug. In my next PR, claiming trap will destroy them (even canons). If after testing, we want to change, we will open another issue.
I close this one

[2014-09-30 20:53] #165 closed, assigned to hwoarangmy

[2014-10-01 21:32] #139 closed, assigned to hwoarangmy

[2014-10-01 21:32] #185 closed, assigned to hwoarangmy

[2014-10-01 21:32] #196 closed, assigned to hwoarangmy

[2014-10-01 21:32] #200 closed, assigned to hwoarangmy

[2014-10-01 21:32] #207 closed, assigned to hwoarangmy

[2014-10-01 21:32] #208 closed, assigned to hwoarangmy

[2014-10-02 10:38] hwoarangmy commented on #177
Size issue is fixed as a side effect in #209

[2014-10-02 11:28] Danimal696 commented on #177
i wonder, how was it resolved? did you made the model smaller?

[2014-10-02 12:43] hwoarangmy commented on #177
Before my last PR, the mesh used for traps was displayed at full scale (exactly like room mesh). I've changed that so that it uses a room object rather than a ground mesh.
And in code, every room objects are scaled by 0.7. That's why I said it was a side effect :)

[2014-10-02 14:18] hwoarangmy opened #210 "Crash when quitting a game with creatures in hand"
To reproduce :
- Start a game
- Pickup one or more creatures
- Quit to main menu
- Start a new game
- Pickup another creature

[2014-10-02 19:29] hwoarangmy commented on #108
I've done the patch. Currently, it is possible to sell the dungeon temple and the portal (even if it costs 0). IMHO, I don't care. But if someone thinks we should not, that's the right time to say it :)

[2014-10-02 19:34] Bertram25 commented on #108
No, we should not be able to sell the portal and the dungeon temple!! It's a game breaker! You will add a suicide option to the game. XD

[2014-10-02 20:02] oyvindln commented on #41
I am getting this message spammed when I try the very small test map. It only appears when the yellow golem thing is on screen as you wrote first. I am not getting it simply by marking tiles for digging. The spinning thing under the golem also becomes opaque, with the transparent parts taking the team colour value when it's over claimed tiles. I have an old (dx9) nvidia card (quadro 3500m).

Also,

[2014-10-02 20:16] hwoarangmy commented on #108
yep ^^

[2014-10-02 21:55] #121 closed, assigned to akien-mga

[2014-10-02 22:12] Bertram25 opened #213 "Warnings when loading the chicken model + similar warnings for other models?"
WARNING: the mesh 'Chicken.mesh' includes vertices without bone assignments. Those vertices will transform to wrong position when skeletal animation enabled. To eliminate this, assign at least one bone assignment per vertex on your mesh.

[2014-10-02 22:41] Danimal696 commented on #41
that minion-thing is due to dissapear soon, i wouldnt worry about it

[2014-10-02 22:43] Danimal696 commented on #213
its simple, in the converter, after you do export-> realextend-tundra, roll down lower left corner; you need to make "trim weigths" to something like 0.16, rise the number if it doesnt work

[2014-10-02 22:46] Danimal696 commented on #213
i just saw the other thread, please make a list of all faulty models, ill reconvert them as needed

[2014-10-02 22:57] Bertram25 opened #214 "Small pathfinding glitches"
Not linked to the latest PR (merged or unmerged), here is what I've found:

Both when playing the 'Scream in The Dark...' map:
- A worker gets stuck in idle mode when digging top-left of the map. It is 100% reproducible. Have a look at the light blue team workers.
  ![odscreenshot_1412019361](https://cloud.githubusercontent.com/assets/765917/4499737/e8964250-4a86-11e4-87a0-d0977240f37d.png)
- Work

[2014-10-03 09:50] hwoarangmy opened #215 "Chickens spawn at tile 0,0"
They spawn at tile 0,0 and then walk to their hatchery. That's pretty weird :)

[2014-10-03 10:18] hwoarangmy commented on #108
now that we talk about it, if we want to avoid players selling some rooms, we should decide how we do. I mean Portals and Dungeon temples will be in the list but we will probably want to do the same for some other rooms. Probably in tutorial maps or in the campaign.
Even if we can do that later. For now, it can even help to be able to kill the portal/dungeon temple for debug purposes...

[2014-10-03 10:46] hwoarangmy opened #216 "Redo chicken logic"

[2014-10-03 11:24] Danimal696 commented on #108
yes, some other buildings should be un-sellable, they are still on planning phase but "gem mine", "relics" and "mana well" come to mind

[2014-10-03 12:03] hwoarangmy commented on #108
ok. Then I guess it will be better to think about it when we will have a better vision of what we wanna do :)

[2014-10-03 13:46] Bertram25 commented on #108
The room config (price and whether it is destroyable) will have to be part of the global config file, indeed.
For now, you can go ahead. I'll happily commit suicide to test it. ;)

[2014-10-03 13:50] Bertram25 commented on #215
Known as the Legendary Chicken Crossing. ;)

[2014-10-03 13:56] Bertram25 opened #217 "Editor: Crash when opening, saving and closing a level without any change"
Might be linked to line endings according to @hwoarangmy

See here for the level tested with the windows build:
http://forum.freegamedev.net/viewtopic.php?p=59984#p59984

[2014-10-03 14:06] Bertram25 opened #218 "Add new hammock bed for the Adventurer creature"
Model available here:
http://forum.freegamedev.net/viewtopic.php?p=59983#p59983

[2014-10-03 14:23] #199 closed, assigned to hwoarangmy

[2014-10-03 14:23] #210 closed, assigned to hwoarangmy

[2014-10-03 14:24] hwoarangmy commented on #215
^^

[2014-10-04 15:29] oyvindln commented on #214
I am planning to look at the pathfinding function more in detail in general, so I will have a look at it later if someone hasn't fixed it by then.

[2014-10-05 20:23] #108 closed, assigned to hwoarangmy

[2014-10-05 20:23] #215 closed, assigned to hwoarangmy

[2014-10-05 21:29] Bertram25 opened #221 "Deletion of a room should not unclaim the tile."
I've noticed that some time after merging.
Nothing hurting, though...

[2014-10-05 22:43] #218 closed, assigned to Bertram25

[2014-10-06 08:33] hwoarangmy commented on #214
This may be linked to floodfill (if the tile the worker gets on is not well floodfilled) or to the creature behaviour also.
@oyvindln if you decide to fix this, please assign the issue to yourself before doing so or give a word here so we don't end up doing the same :)

[2014-10-06 08:34] hwoarangmy commented on #221
That's the same behaviour as when the room is attacked. IMHO, we should keep the same behaviour when a room is sold or attacked (being letting the tile claimed or setting it to dirt).
What do you prefer ?

[2014-10-06 08:40] hwoarangmy commented on #152
Not to put any pressure but are you far from there ? It's just that I think it is the last step to have something we can call a game. And when we will have that, after a few testing, it would be cool to setup a lan to try all the work done :)

[2014-10-06 09:05] hwoarangmy commented on #217
I've looked at the file and it has been modified by the editor. I've seen 2 things :
- Lot of spaces have been added at each line
- subgoals handling "+ 1" have been changed to "1" resulting in every goal being considered main goals.

The problem @Danimal696 raised is caused by the spaces. Because of them, we do not see the end of the map information and we stay in an infinite loop. To fix that, I

[2014-10-06 09:19] oyvindln commented on #214
@hwoarangmy I will do that if I start working on it.

[2014-10-06 09:37] Danimal696 commented on #217
For more information, i used microsoft excel 2010 to modify it; i have been using it previously on the all the other releases, this is the first one to present errors with it.

[2014-10-06 09:44] Bertram25 commented on #221
I sincerely think it is more logical to let the tile claimed when selling/destroying a room/trap.
Because it is what I was expecting ;) and because it is preventing from being able to drop a worker in the middle of a destroyed room, even if now, workers are far less Chick Norris than before. ;)

But since we might want later to add a claim skill to workers, this doesn't fit in the long term, IMHO.

[2014-10-06 09:45] Danimal696 commented on #221
yes, let the tile still claimed

[2014-10-06 09:47] Bertram25 commented on #152
Arf, sorry, I didn't touch that part yet. I've locally almost fully adapted the GUI to 640x480, but I'm exclusively working on my 0.4.9 assignments. This means I was not planning to work on that before the sound culling and moving source into sub folders, for instance.
But we can always revise the priority of everyone if it helps focusing on releasing. :)
Do you want me to hop on that now, or are

[2014-10-06 09:49] Bertram25 commented on #217
My proposal: @Danimal696 Never ever use an office tool to edit OD files again. I'd propose Scite and such to do so. Sorry.

[2014-10-06 09:55] akien-mga commented on #221
Agreed :-)

[2014-10-06 09:59] akien-mga commented on #152
Looking at #9, the creature stats and the AI are the two things left between us and the 0.4.9 release :-) The sound culling doesn't appear on the issue, but maybe you can it too if it's something that you want for 0.4.9?

[2014-10-06 10:50] hwoarangmy commented on #152
Well, I don't want you to do anything you don't want or change your priorities. I'm just an impatient child waiting for his game :)
But concerning creature stats, I can help you if you want as I believe it won't be such an easy task. Feel free to ask :)

[2014-10-06 10:51] hwoarangmy commented on #221
ok. I will do that :)

[2014-10-06 11:49] Bertram25 commented on #152
Hey :)

The sound culling is something I should have thought about in the first place. So I consider the sounds still not working IMHO. That's why I'd like to do that for 0.4.9.

The major task is to reformat the current stats into the new format aka #151. Afterwards, it's just to point things out and add missing stats to be read from config. :) I believe anybody out of us 4 can handle it but I'll

[2014-10-06 11:55] Bertram25 commented on #15
Ah, while I'm thinking about it:
The AI should check it's available rooms from time to time. In case it already has them at start, or whenever it has got a few ones even partially destroyed.

[2014-10-06 11:56] Bertram25 commented on #15
Also, IMHO, the AI shouldn't use traps atm, as they aren't fine tuned and may make the AI invincible.

[2014-10-06 11:57] Bertram25 commented on #148
Unassigning myself for now. I'll come back at it when the creatures stats and AI are both in.

[2014-10-06 11:58] Bertram25 commented on #147
From @hwoarangmy The deposit gold spatial sound server message should be turned into a more generic one.

[2014-10-06 12:55] hwoarangmy commented on #15
IMHO, we should create some indicators telling the creatures needs. For example, the average hunger, the number of creatures without a bed, the average level (for training room).
This way, it would be easy for the AI to know which room is needed and when to build a bigger/new room

[2014-10-06 13:12] Bertram25 commented on #15
Yes, while you're already one step further. :)
I'd like the AI to create proper square/rectangle room shapes first and monitor their filling with convenient room tiles. Once this major step is done, the rest is just having fun with AI coding, IMHO. ;)

[2014-10-06 13:46] hwoarangmy commented on #15
Fun... and lot of headaches ;)

[2014-10-06 14:00] Bertram25 commented on #151
@hwoarangmy @akien-mga @Danimal696 @oyvindln Here is a (unfinished but yet with complete examples) snapshot of the next config/creatures.cfg file, replacing levels/creatures.def:
https://www.dropbox.com/s/6swdo6io5lp2oem/creatures.cfg?dl=0

What do you think as a 1:1 replacement? (I'm not yet speaking about missing/changing stats)

[2014-10-06 14:01] Bertram25 commented on #15
Indeed!

[2014-10-06 17:42] Danimal696 commented on #217
is there any other option closer to what excel shows? plain text editor make it very hard to see columns

[2014-10-06 17:46] Danimal696 commented on #15
i can remember neither in Dk1 or dk2 the AI put traps/doors, all were pre-laid at map design, even if the ai player had a full workshop

[2014-10-06 17:51] Danimal696 commented on #152
dont push yourself too hard, ok? :)

[2014-10-06 18:03] Danimal696 commented on #151
yes, by the end i was thinking it was the same old .def; what are the changes?

[2014-10-06 18:46] hwoarangmy commented on #151
In the file, the advanced worker has a bed. Is it wanted ? Do we want workers that sleep ?

[2014-10-06 19:02] Danimal696 commented on #151
No, the only advanced worker will be the robo-miner, which will be a kind of drilling tank, and not obtained from portals, rather by sacrifices and found on map. No sleeping or eating for it. Nope.

This unless we decide something different, but advanced worker is a nasty topic, they would take valuable warrior creatures spots if spawned normally, having it only when you need it its better. And it

[2014-10-06 19:41] Bertram25 commented on #151
Nope, indeed. But this doesn't hurt to have common parameters for every creatures, IMHO, at least for now.

There are no changes in the values, only in the format. The end of the file doesn't count, it's WIP.

[2014-10-06 21:04] Bertram25 commented on #217
After the change on creatures, there won't be columns anymore in creature definitions.
Other than that, you can also set a monospaced font for your text, which should help a lot already. (That's what I do. ;])

[2014-10-07 08:25] Bertram25 commented on #217
Since the level was changed using an external unsupported tool, I'd propose to close this one as won't fix.

[2014-10-07 08:36] hwoarangmy commented on #217
Even if it was modified with an unsupported tool, I think it is not acceptable to have endless loops. We might also have corrupted files or whatever. I will add in my next PR a fix to stop map loading when after EOF (at least for the case @Danimal696 raised. Concerning the subgoals handling problem, I agree, we don't have to fix it.
So I propose to close this issue when the EOF will be fixed.

[2014-10-07 08:42] Bertram25 commented on #217
Fair enough. :)

[2014-10-07 08:48] Bertram25 commented on #152
Thanks, but don't worry. ;) I'm quite busy atm, but so far, it's going fine. :)

[2014-10-07 08:51] Bertram25 opened #224 "Change rooms/traps definition in the level file."
While I see and think about it:

Rooms/traps are still defined the old way:
Room/trapName
Number of tile
The tiles
...
...

We should use tag couples as we do for everything else:
[Room]
[/Room]

The trick is to implement it at save time, load and save every level (and check they're ok),
and then only implement the new loading algorithm.

[2014-10-07 08:51] Bertram25 commented on #224
@hwoarangmy For info, since we're speaking about it.

[2014-10-07 09:04] hwoarangmy commented on #224
ok, i agree. It should not be very difficult. If someone wants to do this before I do, saving is here :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Trap.cpp#L410
Loading here :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Trap.cpp#L435

[2014-10-07 09:19] Bertram25 commented on #151
I'm in the process of finishing to update the future creature definition file.

I've got a few proposals:
- IMHO, the Gnome and Wizard are good creatures. Thus, I'd placed them in the hero team. What do you think? (We'd later need to name a creature for the wizard replacement for the evil side in that case.)
- The Pitdemon has a lava speed of 0.1. I'd propose to put it to 0.4 at least, since it ma

[2014-10-07 09:25] Bertram25 commented on #151
I finished the new file:
https://www.dropbox.com/s/6swdo6io5lp2oem/creatures.cfg?dl=0

I'll use it for implementation if you're all ok with it.

[2014-10-07 09:25] akien-mga commented on #151
Agreed. I guess the evil Wizard can be named Sorcerer (and/or Warlock depending on the skillset).

[2014-10-07 10:22] hwoarangmy commented on #151
In DK1, wizard was on evil side. But we can have something like a witch or vampire that does the same :)

I just put 0.1 to allow testing the PR. Now that it is tested, we can even set it to 1 if you prefer.

[2014-10-07 10:25] Bertram25 commented on #151
Fine by me, while I know this all about balancing and can be done anytime after the implementation of the new format.

I clearly didn't think about following DK1 about this point, I must say. And yes, I'd rather have some frightening Warlocks for the evil side instead. This would be more fun, IMHO. ;)
@Danimal696 ?

[2014-10-07 10:29] akien-mga commented on #151
IMO it alls depends on the model. Our current Wizard model looks like a friendly wizard and fits the Hero side better. If we want the name "Wizard" for the evil side, then we would need a frightening dark wizard model, but I think it's not worth dropping our current good model :-)
We could name it "Enchanter" if we want something that sounds even more Happily Ever After™ :-)

[2014-10-07 10:39] Bertram25 commented on #15
True. Yet, even with starting lighter, I hope we'll make it better even if it will never be perfect. :)

[2014-10-07 10:44] Danimal696 commented on #151
yes, a warlock would be more fitting for evil side, you can change wizard and gnomes to the heroes side. I would make demon faster on lava, since hes supposed to be a super creature.

[2014-10-07 11:31] Bertram25 commented on #151
Ok, :)

And what do you think about the new file format?

[2014-10-07 19:18] Danimal696 commented on #151
its very easy to read, it will do until we get the upgraded one ;)

[2014-10-07 20:11] hwoarangmy commented on #151
Seems good :)

[2014-10-08 06:55] Bertram25 commented on #151
Cool, I've got almost working code. The "almost" part is somehow taking time to resolve. ;)

[2014-10-08 10:06] Bertram25 commented on #191
And now?
![stonebridge2](https://cloud.githubusercontent.com/assets/765917/4557361/e229f592-4ed2-11e4-8fef-2fb9d86a0dda.png)

[2014-10-08 10:12] Bertram25 opened #225 "Drop OpenDungeons.cbp file?"
It seems obsolete, so I wondered? @hwoarangmy ?

[2014-10-08 10:57] Danimal696 commented on #191
still not very explixct, maybe adding some water ripples below?

[2014-10-08 11:01] hwoarangmy commented on #225
It was on my TODO list ;)

[2014-10-08 11:02] hwoarangmy commented on #151
Most of the time, it is the case ;)

[2014-10-08 11:45] oyvindln commented on #151
Shouldn't we be using some standardised data format for this, to make it easy to parse?

[2014-10-08 12:04] Bertram25 commented on #151
@oyvindln Good question. The current format we're using is looking like a midway between plain config files, and xml.
For the coming release, I think we shouldn't waste too much time on this and focus on releasing, even with some non-standard stuff about parsing.

Then, I guess we'll have to decide whether we create our own parser, streamlining the current code, or whether we switch to a data lang

[2014-10-08 12:05] Bertram25 commented on #191
Ok. :)

[2014-10-08 12:06] Bertram25 commented on #225
Trivial, I'll let this one to you. :) Thanks!

[2014-10-08 12:13] Bertram25 commented on #151
An example I (among others) worked on several years ago:
https://github.com/mana/mana/blob/master/src/utils/xml.cpp
https://github.com/mana/mana/blob/master/src/utils/xml.h

(Was improved on manaplus since then)
https://github.com/ManaPlus/ManaPlus/blob/master/src/utils/xml.cpp
https://github.com/ManaPlus/ManaPlus/blob/master/src/utils/xml.h

[2014-10-08 12:52] oyvindln commented on #151
I agree. I mean that if we are planning on changing the format, we should attempt to use a standardised format, but if we have something working right now, we should of course focus on releasing first. Also, looking at how other games do this is probably a good idea. This is FOSS after all :)

[2014-10-08 13:21] hwoarangmy commented on #151
Using XML with an external tool will make more complex the way objects are written in the file. In such a case, I usually think of the pros and cons. In the cons, I see adding the tool and adapting the code. In the pros, I would say that it may be interesting if it allows us to use a tool that can modify XML easily. But I don't know such a tool...

[2014-10-08 13:39] oyvindln commented on #151
I think it makes more sense to use a standardised format than spending a lot of time maintaining our own parser which will probably be slow and buggy. There are more human-readable formats than XML, such as YAML or JSON that could be used.

[2014-10-08 13:44] Bertram25 commented on #151
That's a very personal opinion so I'd understand if anybody has got another one on XML, but IMHO, XML is a pure data formatting language and has got a few nice things, such as being well known or famous, has validators, XML handling apps, and can probably be imported/exported using certain tools.

And IMHO, it's a common XML trap to think about editing it with an external or advanced tool right fr

[2014-10-08 14:01] oyvindln commented on #151
I think YAML looks nice, the structure is similar your file suggestion, but with a slightly different syntax. Using it looks very straight forward as well: https://code.google.com/p/yaml-cpp/wiki/Tutorial .

[2014-10-08 14:37] Bertram25 commented on #151
Ok, @hwoarangmy @Danimal696 @akien-mga ?

[2014-10-08 14:44] Bertram25 commented on #191
Like this?
![stonebridge3](https://cloud.githubusercontent.com/assets/765917/4561039/a4374272-4ef9-11e4-9def-ead6fb46ab81.png)

[2014-10-08 15:46] hwoarangmy commented on #151
I don't know YAML. Between JSON and XML, I would prefer JSON as it is more readable IMHO. That's just a feeling and I am not aware (and interested) enough on the available APIs to help deciding. So, you can choose the one you like.

I am curious to compare the speed when we will have implemented something else as we read it in a straightforward way. IMO, the advantage of using such a tool is not t

[2014-10-08 19:23] Danimal696 commented on #151
how is that an improvement over the more simple text we are using atm? i only see a lot of added complextity to something that can be explained just commenting some lines.

[2014-10-08 19:28] Danimal696 commented on #191
you forgot the other side, also, you should spread the ripples more and paint a black line on the upper/far side of the bridge

[2014-10-08 20:08] #203 closed, assigned to Bertram25

[2014-10-09 07:15] Bertram25 commented on #151
@Danimal696

Well, two days ago you said:

But anyway, why did I change that?
As the game is becoming more mature, our data is becoming more complex and needs structure to stay readable. At the moment, we only have stats based data for creatures mostly, but soon, we'll finally have spawn conditions and later even mood modifier conditions, skills, preferred job, ..., all added in their own sub-tags

[2014-10-09 07:19] hwoarangmy commented on #151
I don't want to speak for @Danimal696 but I believe he is talking about using XML/YAML/JSON, not about your PR ;)

[2014-10-09 07:21] Bertram25 commented on #151
Yeah, dumb me, I just realized that:

[2014-10-09 07:24] Bertram25 commented on #151
Btw, if we're to choose those options, I'd request we gather pros/cons for each ones. In the pros and cons, try not to forget whether there is a popular lib permitting us to parse/write in that format, whether it is mature enough and so on. And using our own parser is also an option as pointed out by @Danimal696

I know that libxml2 is more than fine for xml, but I don't know yet how widespread ya

[2014-10-09 08:04] akien-mga commented on #151
I don't know much about all those data formats and the correspond parsing libraries. I can give some input though about which projects use each one in Mageia, to give some context about how widespread they are (though Mageia is not a reference of all existing projects ;-).

The `urpmq --whatrequires <libname>` command that I use here lists the packages in the database that depend on the given argu

[2014-10-09 08:12] Bertram25 commented on #151
@akien-mga Thanks! It already indicates that the three options can used as system wide libs, and that they doesn't seem that heavy to install (seems there is no too much sub-dependencies AFAIK). :)
I'm already somehow relieved about that.

[2014-10-09 09:12] Danimal696 commented on #151
im out of my deep on here, so i wont talk and about it and leave all of the coding stuff to you guys :)
just remember not to need to know rocket science for the final product

[2014-10-09 09:34] Bertram25 commented on #151
Understood and completely agreed.

[2014-10-09 12:04] oyvindln commented on #214
For the second error I think it could have something to do with the creatures in idle mode only looking at visible tiles. They are supposed to walk to a random tile nearby, but I'm not sure if the random function is very good.

[2014-10-09 13:05] hwoarangmy opened #228 "Remove void* pointer when Traps are created and do the same for rooms"
As discussed with @Bertram25 :

We should handle Trap like RoomObjects are handled here to avoid the need of using void\* pointers in the Trap creation :
- Allow the Trap static function that creates Traps to use the stream to allow specialized Traps to get the information it needs
- Do not use a generic function on server side when creating a trap. Create the good trap instead with a new (since i

[2014-10-09 13:07] hwoarangmy opened #229 "Import spider bed and tentacle bed"
See http://forum.freegamedev.net/viewtopic.php?f=38&t=5866&start=50#p60089

[2014-10-09 13:54] Bertram25 commented on #229
I'll do within this week if nobody else does it before me. :)
I'll assign when starting.

[2014-10-09 13:54] Bertram25 commented on #228
0.4.9? Wanna do it?

[2014-10-09 14:06] Bertram25 opened #230 "Add support for default spawn pools and support to optionally override them in levels per seat."
Prerequisite: #150

The default spawn pools will be defined per faction in a config/factions.cfg file:

Example:

[code]

~~This will permit to define default spawn pools per faction, that can still optionally be overridden in the level file within SpawnPool tags.~~
=> We will see later if we want to open an issue for allowing editing spawn pools and how.

Thus, the current Faction in the level fi

[2014-10-09 14:10] Bertram25 commented on #152
Once my latest PR is merged, I'll start this one. :)

[2014-10-09 14:23] hwoarangmy commented on #214
I've already seen that the visible tile calculation is pretty restrictive. As you say, in such a case, I guess that the visible tile list may be empty (or maybe just the tile where the creature is). That would explain why...

[2014-10-09 14:30] hwoarangmy commented on #230
In the seat definition, we could have "Keeper", "Hero", "Choice". And, for now, if it is "Choice", we assume it is Keeper. This way, when we will have the GUI that allows to choose, it would be easy ^^

Right ^^ Again, it is just a mater of GUI :)

[2014-10-09 14:31] hwoarangmy commented on #228
Yes, I will if nobody does before

[2014-10-09 14:33] hwoarangmy commented on #152
Will you do here the needed rooms / active spots to get creatures ?

[2014-10-09 14:49] Bertram25 commented on #152
I'll be honest, not in the next one. I'll only deal with creature lacking/changing stats data.
It'll be easier to merge IMHO. We'll see who does what afterwards. :)

[2014-10-09 16:34] hwoarangmy commented on #152
No problem. When possible, I think it is better to have not too big PR (I know I don't always follow that but it is not always easy to split a dev)

[2014-10-09 22:30] #217 closed, assigned to hwoarangmy

[2014-10-09 22:30] #221 closed, assigned to hwoarangmy

[2014-10-09 22:30] #225 closed, assigned to hwoarangmy

[2014-10-10 09:47] hwoarangmy opened #231 "Rename RoomObject"
As they are not used by rooms only, they should have a more suited name.
RenderedEntity is the best so far.

@Bertram25 @oyvindln , what do you think of RenderedMovableEntity or RenderedAnimableEntity ?

[2014-10-10 09:53] Bertram25 commented on #231
As children of RenderedEntity or as a possible replacement? In the latter, I think it's useless as I thought such entities could already move and animate. Am I wrong?

[2014-10-10 12:27] hwoarangmy commented on #231
As a replacement. It's just because RenderedEntity reminds GameEntity (which cannot move). To be animated/able to move, you have to extend MovableGameEntity.
That's why I think RenderedMovableEntity or RenderedAnimableEntity would fit better. But it's a bit long...

[2014-10-10 13:44] Bertram25 commented on #231
I haven't looked a the code, but IMHO:
If you have to extend Movable\* you should rather keep that name part for the children.
That said, if we're always using those objects in game, a shorter name may be better.

Thus, IMHO, either RenderedEntity or RenderedMovableEntity. Your choice. :)

[2014-10-10 14:21] hwoarangmy commented on #231
OK. Let's go for RenderedMovableEntity ^^

[2014-10-11 19:06] #151 closed, assigned to Bertram25

[2014-10-12 18:16] hwoarangmy opened #233 "Traps that throws missiles should deal damage when they hit, not when they fire"
That's true for missiles in general as we can imagine some creatures will be able to throw missiles. But for now, only traps use them.

[2014-10-12 22:58] Danimal696 commented on #233
wouldnt a physics engine be needed here?

[2014-10-13 07:23] Bertram25 commented on #233
@Danimal696 The visuals aren't actually linked to when damages are dealt, so IMHO, not for this issue.

Overall, we might later want to make cannon ball follow an arc trajectory, but it's low priority since we're not even sure one could notice that detail during the game. (The cannon balls should be rather quick, right?)

[2014-10-13 07:37] hwoarangmy commented on #233
Depends on what we want to do. IMHO, to stay simple, I would say a missile should hit creatures on the same tile as it is...

[2014-10-13 07:48] Bertram25 commented on #233
Maybe @Danimal696 is also speaking about creatures' corpse pushed hard from the hit? ;) This one would add something, mwahaha

[2014-10-13 09:46] hwoarangmy commented on #233
Well, on server side, we cannot even rely on Ogre to check for collisions. But if you want to do that, please feel free to do so ;-)

[2014-10-13 15:21] Bertram25 commented on #233
Sincerely, it's just extrapolation. I think we have more urgent yet. :) But I'll keep my mind open.

[2014-10-13 19:14] Bertram25 opened #235 "Colored tile models aren't reset between two games..."
While playing scream in the dark with latest development, I encountered kobolds claiming tiles with the wrong colors:
Only the top-left (light blue) and bottom-right (blue) team were doing this.
The light blue team was claiming dark blue tiles, and the dark blue one was claiming with red ones:
100% reproducible.
![odscreenshot_1413226909](https://cloud.githubusercontent.com/assets/765917/4618719/e

[2014-10-13 19:14] Bertram25 commented on #235
Maybe this has to do with alliances? I'm not sure though.

[2014-10-13 19:52] Bertram25 commented on #235
I'll start again: It seems the claimed walls have all been changed at game start.
Then, the kobold are claiming what they can claim. So the bug might just be in the level data.

[2014-10-13 19:54] Bertram25 commented on #235
Ok, I've got the full way to reproduce:
- Start the game, and start the skirmish level small test map.
- Quit the level without quitting the game and start the Scream in the dark level.
- The bug happens.

[2014-10-13 19:57] #228 closed, assigned to hwoarangmy

[2014-10-13 21:17] #229 closed, assigned to Bertram25

[2014-10-13 22:17] hwoarangmy commented on #235
I will have a look asap

[2014-10-14 06:52] Bertram25 commented on #213
I'll be on making the list.

[2014-10-14 06:55] Bertram25 commented on #191
You mean like an horizon?

[2014-10-14 06:56] Bertram25 commented on #134
I'd rename the console_commands.txt to cfg or something more meaningful for an file extension.

[2014-10-14 07:01] Bertram25 opened #239 "Rooms.cfg - rooms configuration file"
This file should gather per room, configurable component, permitting to fine-tune the game without recompiling.

So far we have:
- **Hatchery**
  - How much hunger decreases per eaten chicken
  - How many hp recovered per eaten chicken
  - Chicken spawn rate (at the moment, it doesn't depend on active spots - only max number chickens depends on active spots)
  - min & max turns to wait before next

[2014-10-14 07:27] hwoarangmy commented on #239
I would add training hall : how many experience is given per attack.
And maybe : minimum and maximum turns to recover after an attack in training room (and maybe same for hatchery)

[2014-10-14 07:28] hwoarangmy commented on #14
For my information, could you please explain what is biomes support ?

[2014-10-14 07:29] Bertram25 commented on #239
Agreed, I'll add that in the summary.

[2014-10-14 07:36] Bertram25 commented on #14
Sure :)

A biome is somehow a ground type, e.g: Jungle, Desert, Volcano, ... (Only foolish examples not forcefully meant to get in game.)
This means that we could define a tileset per biome, and thus get total conversions of the terrain tiles used.
AFAIK, it is a desired goal to have levels where you no more are in a "standard" underground level, but in jungle galleries, or in a pyramid undergroun

[2014-10-14 07:39] Bertram25 commented on #191
@Danimal696 Without willing to bother you too much, could you make a quick and dirty mock up of what you have in mind? I'll redo it based on your input. :)

[2014-10-14 09:02] Danimal696 commented on #14
I think these ones could make it in:
-Default dungeon
-Desert/piramid
-Jungle/aztec-mayan piramid
-Ice/viking-dwarf

[2014-10-14 09:07] Danimal696 commented on #239
yes, its good.

[2014-10-14 09:08] Bertram25 commented on #239
Is chicken HP healing desired, or should it only touch hunger?

[2014-10-14 09:14] Bertram25 commented on #153
The sheet being made, once #152 will be more or less, I'll consider this one done as well.

Yet, should I push the file somewhere in the data repository?
While on it, can the old faction system be dropped there?

[2014-10-14 09:20] Danimal696 commented on #239
i do want it, but should it recover a % or some set value (say, 5 hp)

[2014-10-14 10:13] Danimal696 commented on #191
![a4374272-4ef9-11e4-9def-ead6fb46ab81](https://cloud.githubusercontent.com/assets/8299756/4627384/b9bf4cc6-538a-11e4-9605-ee008af5a6fc.png)
Like this, by the way, is the bridge already converted? we need a wood one as well, rigth?

[2014-10-14 10:33] hwoarangmy commented on #239
I would say a defined value or it would be too powerfull (especially since it would allow to recover hp for creatures in the arena). But I remember you said you didn't want to end up in a game where previously to a battle, you took all creatures to feed them like babies. If they get healed when they eat, that's a risk...
Anyway, we can prepare for that. We will always have the choice to set this v

[2014-10-14 10:36] hwoarangmy commented on #14
Ok, I see. Thanks. Then the level should define the wanted tileset.

[2014-10-14 10:40] Danimal696 commented on #239
Yes, let them heal a bit for now, if it can be abused, we remove the hp healing later

[2014-10-14 15:49] akien-mga commented on #239
Maybe we could have the creatures regenerate health slowly when well-fed, e.g. more than 85% satiated? Then the chicken would not be "health potions", but would permit to reach a hunger status that lets the creature heal slowly.

[2014-10-14 15:56] Bertram25 commented on #239
OMG, @akien-mga is back!! Take cover! ;)

[2014-10-14 15:58] akien-mga commented on #239
Let's spot some of the regressions that you let through while I was away :-p

[2014-10-14 16:01] Bertram25 commented on #239
Self-reported regressions don't count! ;P

[2014-10-14 16:24] hwoarangmy commented on #239
Concerning hatchery, I would propose to spawn 1 chicken per chicken coop (per central active spot) and to have a configurable spawn rate.
Max chickens would still be equal to the total number of activespots.

@akien-mga Welcome back :)

[2014-10-14 19:39] Danimal696 commented on #239
Wouldnt that be too few? maybe its better to make the max chicken number equal to total farm tiles?

[2014-10-14 21:03] hwoarangmy commented on #233
I've been thinking that currently, the cannon attacks every ennemy object including rooms or other traps. Do we want to focus on creatures only ? Otherwise, it would be easy to trigger a trap by creating a room where we suspect there is one...
@Bertram25 @Danimal696 @akien-mga @oyvindln what do you think ?

[2014-10-14 21:07] hwoarangmy commented on #239
Actually, it is the spawning rate that is too low. And the fact that only 1 chicken spawns at a time makes it better to have several small hatcheries than 1 big, which is not what we would expect. Concerning the number of chickens, using active spots makes it usefull to choose a good place where active spots are maxed...

[2014-10-14 22:18] Bertram25 commented on #233
I think traps should indeed trigger creatures only or we could have ways to pawn other players on both side (attacker/victim).
I wonder what the others are thinking though.

[2014-10-14 22:22] Danimal696 commented on #233
only creatures as well

[2014-10-15 10:28] akien-mga commented on #233
IMO it shouldn't be an issue that traps attack buildings if we balance the costs properly. Placing a building should be costly, thus making it a bad strategy just to detect a trap. BTW to place a building you would first have to claim the tiles without getting your kobolds killed.

But it's fine for me if we make it so that only creatures trigger the traps.

[2014-10-16 10:38] akien-mga opened #240 "Empty corners on the inner-side of dirt wall tiles"
As shown on the following screenshots, there are empty corners in the inner-part of some wall tiles. It seems the mesh used for a dirt wall tiles (i.e. a dirt tile with tile fullness 100% and next to a non-dirt tile or tile with tile fullness 0%) has smooth corners (since it looks better), but might not be placed correctly in some cases (here a "north-south" wall relative to the original position

[2014-10-16 10:39] akien-mga commented on #213
I snatch it from @Bertram25, he has enough on his plate :-)

[2014-10-16 12:01] hwoarangmy commented on #235
I've had a look. In fact, the problem comes from the tile colors being cached :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/RenderManager.cpp#L1282

If the color is found, it is keeped. The color name is constructed with the seat id. Something like MaterialNameColor_1_Claimed.

Colors are defined in the level file. Which means that you can have player seat id = 1 color gre

[2014-10-16 12:56] hwoarangmy commented on #233
Yes but if we take the example of the boulder, it would be easy to dig until someone's dungeon temple, place a boulder trap and it will go at the dungeon temple killing every tile on its way once triggered ^^

[2014-10-17 00:04] Bertram25 commented on #213
I'm fine with being relieved :) Thanks @akien-mga  :)

[2014-10-17 00:30] Bertram25 commented on #235
Thanks for all the investigation, @hwoarangmy :)

I'm for setting a list of nice looking colors globally and then use the color instead of the seat id when coloring the material. But I wonder whether we can easily free memory here.
@oyvindln What do you think about it?

[2014-10-17 00:32] Bertram25 commented on #233
What will be your vote @oyvindln ?

[2014-10-17 00:34] Bertram25 commented on #240
This bug is coming from the hard-coded way to select and rotate a tile not handling every cases properly.
It is feasible but will require some tests as breaking something else will be easy here. :)

[2014-10-17 10:20] oyvindln commented on #235
I don't mind either way.

[2014-10-17 10:25] oyvindln commented on #233
I'm leaning towards not allowing building attacks, though I think this has to be playtested to find what works best.

[2014-10-17 11:55] hwoarangmy commented on #235
Good idea. In the RTS I use to play, 8 player is usually the max number in one game. We should decide if 8 is enough/not too much and set corresponding colors ^^

[2014-10-17 11:59] hwoarangmy commented on #197
In the actual code, boulder trap is supposed to be directional. For now, I've set it to trigger only when a creature is on its left as there is currently no way of setting it. Do we want to keep that way (if no, more generally, do we want to keep traps that can trigger in only one direction) ?
If yes, does someone have an idea how to represent that ? A popup ? Some visual artefact ?

[2014-10-17 12:06] Bertram25 commented on #235
This is completely true :) And I agree.

[2014-10-17 14:06] Bertram25 commented on #235
Ok, I guess those will go into the global.cfg file.

[2014-10-17 14:09] Bertram25 commented on #197
I think we don't want limited traps. The boulder trap should ideally trigger on the straight tile the victim is, IMHO. @hwoarangmy How do you see it, as a player?

[2014-10-17 14:43] hwoarangmy commented on #197
As a player, I could understand both. But if you prefer not being a directional map at all, I will change that and add it in the PR :-)

[2014-10-17 14:45] Bertram25 commented on #197
Hmm, let's vote! @Danimal696 @akien-mga @oyvindln ?

[2014-10-17 15:28] Danimal696 commented on #197
i would prefer it detects the enemy and triggers in the direction it is.

[2014-10-17 15:32] Danimal696 commented on #240
Yes, a replacement for walls and its code is on the todo list for the future

[2014-10-17 21:31] #216 closed, assigned to hwoarangmy

[2014-10-17 21:31] #197 closed, assigned to hwoarangmy

[2014-10-17 21:31] #231 closed, assigned to hwoarangmy

[2014-10-17 21:31] #233 closed, assigned to hwoarangmy

[2014-10-17 21:37] Bertram25 opened #242 "The boulder trap icon is overlapping the spike trap one"
Both in game and in the editor

[2014-10-17 21:39] Bertram25 opened #243 "Some beds are misplaced"
The Orc and Lizard beds are placed south of where they should be.
It might comes from two things. The bed has got either a wrong default orientation, or isn't centered on the 2 tiles:
![odscreenshot_1413704495](https://cloud.githubusercontent.com/assets/765917/4692463/efdf543a-5764-11e4-83cf-55fd70b321b7.png)

~~The two beds models should be checked against the Bed.mesh one and get same alignment

[2014-10-17 21:46] Bertram25 commented on #242
I'll fix that trivial one. :)

[2014-10-18 11:53] Danimal696 commented on #243
they were, i used the values of bed to center them

[2014-10-18 12:06] Danimal696 commented on #243
did you  set their values to be "BedDim 1/2" 1x2 on creature.def? this is how i see them in my game
![new beds](https://cloud.githubusercontent.com/assets/8299756/4689529/fcd320be-56be-11e4-8cfc-1e0296778c69.png)

[2014-10-18 18:31] Bertram25 commented on #243
Ah ok. :) Then it seems the error doesn't come from the models. My apologies. :S

I'll give a screen shot asap.

[2014-10-19 07:53] Bertram25 commented on #243
Here is an example of what is happening on my end:
![odscreenshot_1413704495](https://cloud.githubusercontent.com/assets/765917/4692463/efdf543a-5764-11e4-83cf-55fd70b321b7.png)

[2014-10-19 09:48] Danimal696 commented on #243
wierd ill upload my .def and you tell me

[2014-10-19 20:24] Danimal696 commented on #243
i want a second opinion! could someone else besides Bertram confirm the same error?

http://forum.freegamedev.net/viewtopic.php?f=45&t=4765&p=60315#p60315

[2014-10-19 21:10] Bertram25 commented on #243
This might also be a regression due to the new creature definition format. I'll have a look. :)

[2014-10-20 08:04] Bertram25 commented on #10
Once my latest PR is done, I'll be on that one. (I've got a full evening tonight for that.)

[2014-10-20 08:14] #242 closed, assigned to Bertram25

[2014-10-20 08:16] hwoarangmy commented on #10
No child to care of ? ;-)

[2014-10-20 08:17] hwoarangmy commented on #138
If you want, I can do the weapon configuration file so you don't have to do all the configuration files by yourself...

[2014-10-20 08:24] Bertram25 commented on #10
Not tonight, but tonight only. :)

[2014-10-20 08:31] Bertram25 commented on #138
I'd be glad :) Yet I wonder if it wouldn't be best to first create the config manager and link the file to it, so we can access the values from anywhere in the code.
Wanna put your claws on that one?

[2014-10-20 08:48] Bertram25 opened #245 "Creatures stored in level file have missing parameters"
Now that #151 and #152 is almost bitten as well, the creatures stored in the level file and loaded at game start up need to be better in sync with the rest of the given stats:
This will also permit to move forward using level files as save games.

I'll thus propose to use the following parameters (already existing or not):
name
className
Current Level
Current XP
Current HP
Current Awakeness
Curren

[2014-10-20 09:16] hwoarangmy commented on #10
Lucky you ^^

[2014-10-20 09:22] hwoarangmy opened #246 "Memory management"
I've checked if there were memory leaks on GameEntity and I've fixed the only one I've seen.
But I've not checked for non-GameEntity.
I propose to do an instrumentation that would check memory management (a little bit like it is done for angel script) by adding the filename and file line when a memory block is allocated. To use it, it would be needed to use a macro to allocate memory instead of th

[2014-10-20 09:35] Bertram25 commented on #246
Hey, :)

I'll be honest, before putting out the rotary gun to kill memleak or corruption, I'd request some more standard measures before touching something very sensitive, and making it harder to read to any other standard c++ projects. I say that fully knowing the new operator is a general filler and can't be best one for everyone. But I'm just asking to take a special amount of care when touchin

[2014-10-20 09:43] Bertram25 commented on #150
Unassigned myself. I'll only keep assignment where I'm actual working on stuff. It's saner IMHO.

[2014-10-20 09:43] Bertram25 commented on #14
Unassigned myself. I'll only keep assignment where I'm actual working on stuff. It's saner IMHO.

[2014-10-20 09:44] Bertram25 commented on #41
Unassigned myself. I'll only keep assignment where I'm actual working on stuff. It's saner IMHO.

[2014-10-20 09:44] Bertram25 commented on #60
Unassigned myself. I'll only keep assignment where I'm actual working on stuff. It's saner IMHO.

[2014-10-20 09:44] Bertram25 commented on #138
Unassigned myself. I'll only keep assignment where I'm actual working on stuff. It's saner IMHO.

[2014-10-20 09:46] Bertram25 commented on #84
Do you think we could work on at least that button for 0.4.9?
Easily grabbing workers is the most missing gameplay feature atm, IMHO.

[2014-10-20 10:39] Danimal696 commented on #9
And the list keeps on growing :) , next 0.4.9 release will be something nice

[2014-10-20 11:21] oyvindln commented on #246
I think it would be a better idea to try to use smart pointers (or stack objects where appropriate) if we want to make sure memory is released properly, rather than messing with an OD_NEW construct. C++11 has Unique_ptr and move constructors which makes it possible to be quite explicit about ownership.

[2014-10-20 11:45] Bertram25 commented on #9
AI apart, we're close! Do you guys want to keep the AI for that release or should we move it out for now? (Seems nobody is convinced by jumping into AI coding, I guess until we have a rock-solid core game experience.)

[2014-10-20 11:46] akien-mga commented on #9
I think the AI could be moved to 0.5.0, it will be a big task, so I think it wouldn't hurt to have a stable release to show to the world before that, and one that is already great for LAN games :-)

[2014-10-20 11:55] Bertram25 commented on #246
Yep, that is true as well. If something has got a weird life cycle, we can either try to simplify it (the best option), or use smart pointers if it's hard to do, IMHO.

[2014-10-20 11:56] hwoarangmy commented on #246
It"s just that I've seen a memory leak and I wondered if we wanted to go further

valgring only works on linux AFAIK and I don't have a linux machine that can run OD.

I'll be honest, I don't like smart pointers very much (which can be pretty strange from someone who comes from the java world). When coding with C++, I prefer to handle that myself.

But NVM, if you don't want to do that (which I un

[2014-10-20 11:57] Bertram25 commented on #9
"A release to show to the world". It's always a daunting sentence. O.O' ;)

[2014-10-20 12:03] Bertram25 commented on #246
I'll be honest as well, I like your reasoning and prefer people to use the simplest tools as long as they suffice.

I wondered whether you could try out free tools for windows, such as Dr. Memory or VLD: http://drmemory.org/
http://vld.codeplex.com/

A lot of tools are listed here also: http://stackoverflow.com/questions/413477/is-there-a-good-valgrind-substitute-for-windows

Hopefully, those tool

[2014-10-20 12:03] hwoarangmy commented on #9
Well, if we want to have "A release to show to the world", I think we need to have an AI that at least builds basic rooms and can attack. For now on, if you have no gold into your dungeon temple, it will not even try to reach you...

But in 0.4.9, there is "Add support to disable a room for a specific player in a specific level" which can be set to later IMHO.

[2014-10-20 12:05] hwoarangmy commented on #84
Why not ?
IMO, we only need corresponding icons.
While talking about it, we would also need icons for the other creatures and add them in the creature.cfg file.

[2014-10-20 12:06] Bertram25 commented on #9
Really? I thought we wanted to add that to be able to disable the library and forge building (since they do nothing and cost money) Or maybe you want to be able to show them anyway?

[2014-10-20 12:06] akien-mga commented on #9
It's true, but I still think that it would be way better to release 0.4.9 in its current state than to still have 0.4.8 as our latest "showcase" release. We can make it clear that 0.4.9 is not full game, that it's already interesting to try but probably not to spend hours playing it against the AI.

[2014-10-20 12:07] hwoarangmy commented on #138
Ok, I will have a look.

[2014-10-20 12:08] akien-mga commented on #9
I'd leave them for now, because it's great to see them :-) Maybe we can just add to their price tooltip a mention that those rooms are not useful currently?

[2014-10-20 12:09] Bertram25 commented on #9
I'd leave a disclaimer in news about the release anyway. :)
Ok, let's put #86 out. :)

[2014-10-20 12:10] Bertram25 commented on #86
As discussed in #9, we'll do that later.

[2014-10-20 12:12] Bertram25 commented on #9
Btw, thanks to whoever completed the summary. It'll be very useful to create the release news. :)

[2014-10-20 12:14] hwoarangmy commented on #246
FYI, I've also tried to use a profiler for curiosity (I wanted to see if it worked with C::B) and I've seen that we spend much time refreshing the minimap. It's just a remainder as until we have no problem, I think there is no need to optimize too much (even if I wasn't expecting minimap to be the most CPU time consumming).
I talked about this memory instrumentation because I was playing with thos

[2014-10-20 12:17] hwoarangmy commented on #9
I thought it was you ^^

[2014-10-20 12:20] Bertram25 commented on #246
Funny, indeed. valgrinding and profiling will be something we'll have to consider eventually from time to time, so it's cool you already played with those tools. :) I guess it was gprof under C::B ?

[2014-10-20 12:21] Bertram25 commented on #9
Mostly, but not only. :)

[2014-10-20 12:22] hwoarangmy commented on #246
BTW, since @oyvindln is in this discussion and we have already talked about that, I've started to look at entities memory management because I changed the way they are deleted on client side. Now, they are handled like on server side (not deleted by the render manager anymore). So I wanted to make sure I had not broken too many things ^^

yes

[2014-10-20 12:25] Bertram25 commented on #84
The icon should be ready for workers: (the graphic at least)
https://github.com/OpenDungeons/OpenDungeons/blob/development/gui/OpenDungeonsIcons.png
The one on the bottom left is for workers, and the one next to it is for the same button but for fighters.

We agreed to first have a single button for every fighters and later add a button per creature type. See #85

I was only talking about workers

[2014-10-20 12:26] Bertram25 commented on #84
The related code could also help a lot in improving the AI to optimize a bit how it handles claiming/digging, IMHO.

[2014-10-20 12:27] Bertram25 commented on #246
Ah, this is cool :) I guess it's linked to future simplification in the render manager we talked earlier?

[2014-10-20 12:50] hwoarangmy commented on #246
Your guess is good ^^

[2014-10-20 12:52] hwoarangmy commented on #84
ok. So, let's do that for the 0.4.9 ^^

[2014-10-20 13:09] hwoarangmy opened #247 "Entities should be deleted by the gamemap on client side (like on the server side)"

[2014-10-20 23:18] #247 closed, assigned to hwoarangmy

[2014-10-21 00:01] #10 closed, assigned to Bertram25

[2014-10-21 10:30] Bertram25 commented on #171
I've done it.

[2014-10-21 10:40] hwoarangmy commented on #171
I've added a comment to your commit about using a more c++ way to get time

[2014-10-21 15:23] hwoarangmy commented on #246
As said, we will use external tools to check memory. No need for an implementation. I close the issue

[2014-10-21 15:23] #246 closed, assigned to nobody

[2014-10-21 20:52] #137 closed, assigned to hwoarangmy

[2014-10-21 21:20] #245 closed, assigned to Bertram25

[2014-10-21 21:32] Bertram25 commented on #147
All done :)

[2014-10-21 21:32] #147 closed, assigned to Bertram25

[2014-10-21 22:40] #25 closed, assigned to Bertram25

[2014-10-21 22:40] #171 closed, assigned to Bertram25

[2014-10-22 00:31] Bertram25 commented on #11
Set milestone 0.4.9 for the spawn conditions part. It'll move back to later once this part is done. :)

[2014-10-22 07:45] hwoarangmy commented on #11
Why don't you rename this one to mood system and open another one with spawn conditions ?

[2014-10-22 08:38] Bertram25 commented on #11
Official reason: Because at the time the issue was created, we needed to have a whole view of the future format and I didn't get around reviewing this so far.

Non-official reason: Because I'm such a lazy one sometimes. ;)

Ok, let's split the issue, especially now much of the new format is more or less functional.

[2014-10-22 08:45] Bertram25 opened #257 "Creature spawning conditions support"
Split out of #11

One of the most needed feature to make 0.4.9 feel more complete, the creatures shouldn't come out of the portal at random but rather based on conditions, such as room size or gold, and later why not weapon ability or a keeper skill.

This would also add a purpose to build a forge and a library, btw. :)

Spawning conditions should be parsed in the config/creatures.cfg file with a

[2014-10-22 11:52] Danimal696 commented on #257
While everything looks pretty good, isnt it a bit weird being attracted to a weapon? The up side of that is that its a reason to put the forge to work at making new weapons

[2014-10-22 11:53] Danimal696 commented on #152
crazy :D

[2014-10-22 12:34] Bertram25 commented on #257
It's as you wish, I just copy-pasted what was earlier discussed. The scope of this issue is to add room conditions, I even wonder whether adding a gold condition is relevant. What do you think?

[2014-10-22 13:35] hwoarangmy commented on #257
Well, that's also what I thought at first but after all, why not ? I think all the reasons to not use the weapons will work for gold...

the down side is that it is not implemented at all ;)
And if you ask the code guys to do that, we will ask for corresponding animations ^^

If we remove gold and weapon conditions, there will be not much conditions left. But to be honest, I don't really care so i

[2014-10-22 13:55] Danimal696 commented on #257
thats actually not bad, it means we can still get weak creatures even with a few rooms already built.
The issue with the weapons is that they will most likely be used by creatures once created, will it still count if a creature equips it? and what happens to the equiped weapon if the creature dies? gamer sense tells me it should just disappear

[2014-10-22 15:13] hwoarangmy commented on #257
Logic tells me to not consider used weapons. Because :
- It's the same for gold : once used, it will not be considered
- If a creature comes because there is a weapon, it is because she wants to use it. If it is already used, I don't see why it would be attracted

If the creature dies, we can consider the weapons are used and can be destroyed

[2014-10-22 15:43] Danimal696 commented on #257
good points

[2014-10-22 15:44] Danimal696 commented on #138
tell once this is done, i keep a really nice weapon cache on check just for this.

[2014-10-22 15:51] Bertram25 commented on #257
Right, let's remove weapon and gold then. :)

The spawning point system is something interesting, but I'd like to ask a few details on what we want first:
- What we agree: Based on the conditions, a creature can spawn if the minimal conditions are met and the creature is in the player's spawn pool.
  Once the conditions are met, how should handle spawning:
- At random between the permitted creatur

[2014-10-22 15:54] Bertram25 commented on #257
I like the fact spawned creatures change the attraction, but I'll need more details on the how we handle that. :)

[2014-10-22 15:58] hwoarangmy commented on #257
IMHO : yes. Why ? Because it's simple.

That's where spawning points are interesting

[2014-10-22 16:00] Bertram25 commented on #257
What I'm still lacking about that one, is if you think we should use a fixed barrier, such as 20 points like you said, or if you had something else in mind.

[2014-10-22 16:07] hwoarangmy commented on #257
To be honest, I think spawning considering points sounds logic. If you build a big library, it seems normal that more wizards would come than if you build a minimum library. But that would be more complex so if you feel like mesing with that, IMHO, it would be better. But if you prefer a simple approach, it should be enough IMO.

[2014-10-22 16:09] hwoarangmy commented on #138
I will try to do that tonight or tomorrow.
@Bertram25 I've thought to add Weapon tags to define usable weapons. What do you think about adding that into config/creatures.cfg ?
Or shall I use another file ?

[2014-10-22 16:15] Bertram25 commented on #138
Something like ?

[code]

[2014-10-22 16:17] Bertram25 commented on #257
I'm more than fine with the system approach, really. :)

What I'm trying to get is how we determine the number of points necessary for a creature to spawn. :) Is a fixed value ok? (I would do that as a first attempt and set it to 20 as an harcoded value.)

[2014-10-22 16:51] hwoarangmy commented on #257
If you want headaches, let's go for that ;-)
A creature can spawn as soon as the needed values are ok (minimum values in our file). But its probabilities to spawn should be bigger when you have more things that it likes.
A simple approach could be to count the total points of spawnable creatures and choose a random number between 0 and this total. Then, spawn the creature concerned.

For example,

[2014-10-22 16:57] hwoarangmy commented on #138
This will be good when the forge will be ready. For now, I wasn't planning on implementing that already.

I was talking about defining weapons :
[Creatures]
...
[/Creatures]
[Weapons]
[Weapon]
Name Longsword
Damage 10
Defense 0
Range 1
[/Weapon]
...
[/Weapons]

[2014-10-22 17:01] Bertram25 commented on #138
Ah in that case, I'd rather have a true equipment file, something like:
config/equipment.cfg:

[Equipment]
name
mesh
physicaldamage
magicaldamage
physicalDefense
magicalDefense
range
[/Equipment]

Plus, weapons doesn't fit since it's also listing protections. I'd propose accessories instead.

[2014-10-22 17:01] Bertram25 commented on #138
You can add a new loader function in the mapLoader if you don't feel like creating the configuration manager now.

[2014-10-22 17:08] Bertram25 commented on #257
Ok, so it would at random based on weighted values.

I do also think the weighting should be checked minus the minimum requirements, with one exception:
That the first time you meet the expectations, the given creature appears next in order of minimal requirement fulfillment.

Would this be ok?

[2014-10-22 19:20] hwoarangmy commented on #138
Ok

I had forgotten about the configuration manager :$
As you have worked on most configuration files, how do you see that ?
So far, configuration files are embedded into the level file. Shall we remove them from there ? How do you think the manager should be called from within code ?

[2014-10-22 19:21] hwoarangmy commented on #257
Sorry, I don't get that. Could you explain ?

[2014-10-22 19:52] #152 closed, assigned to Bertram25

[2014-10-22 20:27] Danimal696 commented on #257
say, you build your first forge, and next creature is a blacksmith, then build a Cript and next creature to appear is a ghost; its like you get a 100% chance to get the creaure that the rooms spawns just one time after being built.

No no no, you misunderstood, we want those in, we were just discussing in which cases a creature is attracted to a certain equipment piece.

[2014-10-23 09:08] Bertram25 commented on #85
Assigning to @hwoarangmy and milestone 0.4.9 since he's done it. :)

[2014-10-23 09:18] Bertram25 opened #260 "Potential starving / drowsiness handling"
Hi there,

I've noticed several times that my creatures could fight even with a hunger at 100 and/or an awakeness of 0. That's because they win a bad mood test and have 80% to fight in that case.

Let's define starving as Hunger = 100.0
and Drowsy as Awakeness = 0.0

I think this kinda shows a few potential improvements needs:
- The hunger growth and awakeness loss per turn probably need to be twe

[2014-10-23 09:33] akien-mga commented on #213
##### Meshes with vertices with more than 4 bone assignments

`WARNING: the mesh 'Wizard.mesh' includes vertices with more than 4 bone assignments. The lowest weighted assignments beyond this limit have been removed, so your animation may look slightly different. To eliminate this, reduce the number of bone assignments per vertex on your mesh to 4.`
- [x] Dragon.mesh
- [x] Dwarf3.mesh
- [x] Knight

[2014-10-23 09:40] akien-mga opened #261 "Worker behaviour: gold stacks should be fetched in priority"
I think recovering gold stacks is already high in the priority list of workers, but I noticed a case in which they seem to ignore it: if you don't have a treasury tile when they dig gold, the gold stack is left on the ground. When you build a treasury tile afterwards, you would expect the kobolds to fetch the gold instead of e.g. claiming tiles or walls, but they don't, even if you drop them on th

[2014-10-23 09:43] akien-mga opened #262 "Warnings with _cegui_ogre_X textures"
Some warnings with current dev branch:

[code]

[code]

[2014-10-23 10:21] hwoarangmy commented on #261
This behaviour is not implemented at all. I also think it would be nice to do that but it is not a priority for the next release IMHO.

[2014-10-23 10:26] akien-mga commented on #261
Agreed.

[2014-10-23 10:26] hwoarangmy commented on #260
If I remember well last time we talked about that, it has been said that drowsy/starving should fight (that's the reason behind the 80%). We said that it should play on mood and that would be the reason why the keepers will have to try to have happy creatures. Otherwise, they might leave the dungeon when the mood system will be there.
IMHO, it is an interesting improvement but not a top priority f

[2014-10-23 10:30] hwoarangmy commented on #85
I had forgotten this thread and the logic is slightly different. See #259 for more info. Anyway, this can be changed at will if we think it needs to.

[2014-10-23 10:39] hwoarangmy commented on #138
@Bertram25 Could you tell me your point of view about this ?
So far, what I'm planning to do:
- Remove the class + equipment files from the level files

Then, each time a level is launched
- Load config/creatures.cfg + config/equipment.cfg
- Check for tags in the config file (same format as in the config files) to check if the default creatures/equipments shall be overriden if so, override them.

[2014-10-23 10:43] akien-mga commented on #138
+1

[2014-10-23 10:58] Danimal696 commented on #260
i think its enougth as well, they are mostly spending their lives between the hatchery and dormitory anyways instead of training. we cant made them even more useless in battle.

I say no, else all feral creatures on map would eventually die of hunger/sleep deprivation

[2014-10-23 11:10] Danimal696 commented on #213
so this all is a result of an upgrade on the mesh exporter? i need help here as well, all the xxxxxBed were done recently so they shouldnt fail except in that case, what version is being used now to check agaisnt mine?

[2014-10-23 14:38] Bertram25 commented on #213
About old format:
I'll check my version of the mesh exporter and have a try at upgrading the files. IIRC, @oyvindln did have to export them to XML and turn those into mesh files for it to work. We should define a how-to if we can find how to fix this.

[2014-10-23 14:51] Bertram25 commented on #138
class + equipment files ?? I can't get it. Are you planning to remove the creature className and equipment parameters from level creatures definition? Or are you speaking about removing the config/creatures.cfg link given in the level files?

Sorry, I'm not sure I fully get it. I'll need a minimal example. Could you provide one? :)

[2014-10-23 14:53] Bertram25 commented on #261
It's so fun to take them by hand away from your opponents ;). (Maybe I'll eventually grow bored of it but not yet. ;])

[2014-10-23 14:55] Bertram25 commented on #262
Thanks for reporting warnings. :)

Duplicate of #29 . Yet, the warning list is more complete here while the explanation is more complete in this in the former one.
May copy/paste the warnings list there and close this one?

[2014-10-23 14:57] akien-mga commented on #138
From what I understood (at least of the overall logic, not the practical implementation):
- Creatures are defined in config/creatures.cfg with some default equipment, which is defined in config/equipment.cfg
- The level contains lists of creatures without having to redefine their characteristics + equipment. Tags can be used in the level files to override default values and further customise creat

[2014-10-23 14:59] akien-mga commented on #29
Complete list of related warnings:

[code]

[code]

[2014-10-23 14:59] #262 closed, assigned to akien-mga

[2014-10-23 14:59] akien-mga commented on #262
Done :-)

[2014-10-23 15:01] Bertram25 commented on #260
True. We said earlier that we could create feral creature that don't need to eat, but this would require creating duplicate creature definitions for feral ones or add yet another option. Thus, my point is indeed irrelevant.

Ok, then it is clear now why creatures shouldn't die per starvation, but might later leave if too much bad conditions are gathered. I'll close the issue. Thanks for your answe

[2014-10-23 15:01] #260 closed, assigned to nobody

[2014-10-23 15:21] Bertram25 commented on #262
Thanks! :)

[2014-10-23 15:36] Bertram25 commented on #138
AFAIK, level creatures necessary stats are all stored in the level file now and the already stored level parameter makes it possible to compute the rest. (was #252)
If we wants to add other growth values for one creature, we should define a brand new creature class, even one sharing its model, but not store something like 30 parameters more per overridden creatures in the level file.
I do not thin

[2014-10-23 15:40] hwoarangmy commented on #138
Yes, that's exactly what @akien-mga said :
In the level file, there will no more be the path to the config file because it will be automatically loaded (before the level).
Then, during level parsing, if a parameter is overriden, it will be used. For example :
config/creatures.cfg

[code]

And in the level file (optional) :

[code]

In this case, all the default Wyvern parameters will be used excep

[2014-10-23 15:41] Bertram25 commented on #257
What @Danimal696 said above. :)  You get a 100% chance to spawn the creature the first time you meet the requirements. It complicates the thing but will help visually debug it and make the player happy, IMHO.

Ah ok, I'll readd those in the description, but consider the fact that I won't implement the weapon condition for 0.4.9, ok? :)

[2014-10-23 15:43] hwoarangmy commented on #261
And I would add that it is a reason to try to get claimed tiles to reach the gold stacks before your opponent does (even if it is not a great challenge vs AI) ^^

[2014-10-23 15:45] hwoarangmy commented on #257
Since there are no stored weapon, I guess it is an acceptable demand ;-)

[2014-10-23 15:47] hwoarangmy commented on #138
Well, I'm not against that (it is simpler) but if so, why having added the config file into the level file ? I did that to try to stick to your code.

[2014-10-23 15:52] Bertram25 commented on #257
You don't know how evil @Danimal696 can be. ;P

[2014-10-23 16:05] Bertram25 commented on #138
Eh eh. In my defense, the creatures.cfg link was first here to permit easier modding of creatures class per models at the time. In practice, I do also think it's not relevant to do it that way anymore, especially as more config is appearing, whatever the files they are in. :)

The fact that overridden parameters are optional per level creature is cool, though. Meaning that you only describe what y

[2014-10-23 16:10] Bertram25 commented on #261
Yeah, beware on our next lan, @akien-mga the ArchLich is known to steal gold and put it in his cannon to increase damage when shooting on captured Keepers. ;)

[2014-10-23 16:21] Bertram25 commented on #138
Btw, I missed that one:

As discussed above, you're right, config files links should be removed from level files. We'll deal with true modding support as a whole, by (re)loading a different set of config files if needed.

I was at the very first thinking about a singleton, or a component of a manager such as the resource manager maybe, and invoked in the corresponding way?
Something like?
ConfigMa

[2014-10-23 16:22] hwoarangmy commented on #138
No need for defense, you are not being attacked ;-)
I was just saying that because I saw the config file there, I thought you were planning on allowing to customize it. I want this reason to be clear so that if it is a misunderstood, I don't end up allowing this customization for a wrong reason. If we decide to do it, I will do it. But don't think it is my wish and that I would be offended if you

[2014-10-23 16:27] Bertram25 commented on #138
Aww, /me removes a reason to crush @hwoarangmy on the next lan in his list.

I must say that I didn't think about it the way you did, but IMHO, your solution is better, as permitting much more twisted things :>, especially for single-player maps.
On the other hand, it may make map saving more difficult/complicated. I wouldn't add option to setup custom stats for now as well in the editor. We have

[2014-10-23 16:31] Danimal696 commented on #257
or worse! i guess the armory room can be reality later to store created weapons.

[2014-10-23 19:31] Danimal696 commented on #213
yes please, or else all models i export will have the same error

[2014-10-23 19:44] hwoarangmy commented on #138
ok. But do we want to change everything else (xp table, physical damage, magical damage per level, ...).
IMHO, we need to decide if we want to decide what is configurable and what is not.
1 - allowing only the things in my previous message + whatever we want
2 - allow to change everything in the level (by overriding the config files with the data in the level file).

1 would be easier to configure

[2014-10-23 19:45] hwoarangmy commented on #261
@akien-mga the ArchLich will never steal my gold because :
1 - I know the cheat code to give and steal gold
2 - I know the cheat code to make his creatures go directly in my traps

I am unbeattable \o/

[2014-10-23 20:01] #84 closed, assigned to hwoarangmy

[2014-10-23 20:01] #85 closed, assigned to hwoarangmy

[2014-10-23 20:37] Danimal696 commented on #138
Some degree of freedom in the editor would be good.

[2014-10-23 23:18] Bertram25 commented on #261
Cheats should definitely be disabled in lan or I will be too tempted ;)

[2014-10-24 07:19] hwoarangmy commented on #138
Ok, so, let's go for enabling to tune everything ^^

[2014-10-24 10:27] Bertram25 commented on #138
Yeah, have default values taken from the cfg file, and potentially overridden by level ones is the way to go. It is representing some work, though so feel free to tell if something seems too big.
Later, a way to reset to default (no override) will also be a good thing.

Good luck on that one, you're carving the road at this very moment. :)

[2014-10-24 12:59] Danimal696 commented on #138
but im not happy about creature modification tru editor, if you see a lv10 knigth it should have his corresponding stats, not the stats of a demi-god, for that a new creature should be created in .def and even make a skin variation (Knigth->black-knigth). But i would like to be able to set how much of its hp it has remaining, weapon equipped, lv, xp... to resume, all within the limits of his class

[2014-10-24 14:14] hwoarangmy commented on #224
Now that I think about it, I've done that in PR #232

[2014-10-24 14:14] #224 closed, assigned to hwoarangmy

[2014-10-24 16:18] hwoarangmy commented on #138
@Danimal696 Then, you will be happy with my next PR ^^
Now, a creature in a level file looks like :

[code]

If CurrenHP > maximum Hp for the creature level, it is set to the max (not from my PR - I think it comes from @Bertram25 PR about creature class configuration).

If you want to add a demi-god knight, you will have to create it in the creature config file or to define its class in the level

[2014-10-24 18:04] Danimal696 commented on #138
good additions!

[2014-10-24 19:01] hwoarangmy commented on #153
This has been fixed with #256 . The only missing stuff is about mood but it will not be done now so I close it

[2014-10-25 08:22] hwoarangmy commented on #20
Adding creature in editor is possible since #259

[2014-10-27 08:37] Bertram25 commented on #153
@Danimal696 @hwoarangmy @akien-mga I've got a very last question about this one:
Shall I add the file to the data repository? (And maybe drop the former faction system doc there?)

[2014-10-27 08:40] Bertram25 commented on #257
IMHO, the forge slots should be used for that, somehow. Otherwise, how would the weapons be stored if you don't have the armory yet?
Maybe the armory should permit to have advanced forged stuff instead?

[2014-10-27 09:55] Danimal696 commented on #257
Thats the idea, you can only make weapons at the forge when you research "armory room" (that also unlocks the weapons Lv2) for stronger weapon (lv3 and Lv4) you need other researchs

[2014-10-27 09:57] Bertram25 commented on #257
Then, what can you make at the forge when you have researched nothing else? Traps?

[2014-10-27 10:22] akien-mga commented on #153
Sure, it's better than Dropbox IMO :-)

[2014-10-27 10:23] Bertram25 commented on #153
@akien-mga Btw, @hwoarangmy just disappeared from github. Is this the same for you??

[2014-10-27 10:27] akien-mga commented on #153
@Bertram25 Yes, and his pull request and issues disappeared too... ?! That doesn't look good..

[2014-10-27 10:31] akien-mga opened #264 "Find @hwoarangmy"
It looks like @Bertram25 crushed him for real in their last LAN...

[2014-10-27 10:32] Bertram25 commented on #153
Oh my. I hope everything is fine for him. I opened a request on github support to know whether this is an error and a topic on the forums to know what happened. I hope we didn't offend him by whatever stuff we said ??

[2014-10-27 10:33] Bertram25 commented on #264
I swear I didn't!! And I do apologize if I caused his departure for any reason O.O' :cry:

[2014-10-27 10:34] Bertram25 commented on #264
A forum topic has been opened there:
http://forum.freegamedev.net/viewtopic.php?f=35&t=5936

[2014-10-27 10:40] akien-mga commented on #264
Don't worry, I don't see how you would have offended him in such a fashion that he would erase himself from github. And I'm pretty sure he would have expressed any kind of discontentment publicly before doing something rash. So it's likely just a technical issue.

[2014-10-27 10:54] hwoarangmy commented on #264
I've answered in the forum

[2014-10-27 11:18] Bertram25 commented on #264
Seems @hwoarangmy was stated as a robot by github itself. Hopefully, they'll agree to make him come back as a human entity soon.

[2014-10-27 11:24] Bertram25 commented on #153
Ok, I'll do that. Hopefully, he'll be back soon :four_leaf_clover:

[2014-10-27 11:25] akien-mga commented on #264
Hm, I bet he started working on the AI and github thought a robot was trying to improve AI algorithms to build a world dominating by AIs!

[2014-10-27 11:25] Bertram25 commented on #153
TODO: Move the sheet to the data repository (and remove the old faction doc.)

[2014-10-27 11:27] Bertram25 commented on #264
In that case, that would make us people of interest. ;)

[2014-10-27 16:11] Bertram25 commented on #264
@hwoarangmy is back into the human category. Welcome back. :D

[2014-10-27 16:11] #264 closed, assigned to nobody

[2014-10-28 10:27] hwoarangmy commented on #150
I've almost finished the configuration manager but I've been wondering about what we should do if a configuration parameter is missing ? For example the creature definition file or the equipement file ?
Shall we try to continue or to exit application ?
In any case, a log will be added.

[2014-10-28 11:06] Bertram25 commented on #150
If a mandatory file is missing, we should exit, or not load the level, and log why,  IMHO.
If a non-mandatory file is missing, I guess we can apply defaults and keep on.

The creatures.cfg and equipment.cfg files are mandatory IMHO.

And it's cool to know you're on it. :)

[2014-10-28 13:05] #138 closed, assigned to hwoarangmy

[2014-10-28 13:10] Bertram25 commented on #150
Just set milestone to 0.4.9 since it seems @hwoarangmy has almost done it. :)

[2014-10-28 13:17] Bertram25 commented on #41
I've just read somewhere that glsl shader compilers could sometimes trigger a warning or an error when a float values was expected on a uniform while a value without dots would be given. Example:
0 instead of 0.0 or 4 instead of 4.0

I'll check several material files tonight and will apply trivial fixes there. This can't hurt.

[2014-10-28 13:49] Bertram25 commented on #202
What do you think of those?
![od-16x16](https://cloud.githubusercontent.com/assets/765917/4809166/12c712da-5ea9-11e4-81fd-614c0ce51c35.png)
![od-32x32](https://cloud.githubusercontent.com/assets/765917/4809168/168b5962-5ea9-11e4-8d31-86a177892423.png)
I've reworked the outline for 32x32 one and simplified the pattern for the 16x16 one.

[2014-10-28 14:02] hwoarangmy opened #265 "Add support to allow a creature definition extend another one"
Add an optional "BaseDefinition" parameter in creatures.cfg file. If it is found, the definition will be initialized with the BaseDefinition and the parameters under [STATS] tag that are be present will be overriden.

Note 1: if this parameter is used in the creatures.cfg, the base definition should be defined previously.
Note 2: this parameter allows to change definitions from the creatures.cfg f

[2014-10-28 14:15] Bertram25 commented on #191
Here is the updated icon:

![stonebridge2](https://cloud.githubusercontent.com/assets/765917/4809566/d233988e-5eac-11e4-8bfd-a7cbbb8c6716.png)

If you can come up with models that tile well with other bridges tiles, and water/lava borders, it would be perfect. :)

[2014-10-28 14:18] akien-mga commented on #191
Nice :-D

[2014-10-28 14:19] akien-mga commented on #202
It's not 100% perfect, but it's good enough for now IMO. I'm looking forward to seeing it in the taskbar :-)

[2014-10-28 14:25] Bertram25 commented on #202
@akien-mga It's true I'm still not happy with the outline of 32x32 version. I'll improve it when seeing it live ;)
In the meanwhile, feel free to point out whatever feels bad.

[2014-10-28 14:33] akien-mga commented on #202
I like the 16x16 icon, you edited it well. As you say the outline of the 32x32 is not perfect yet, maybe some further simplification of the icon would be needed. I can have a go at it, but as you say, the drive will probably come when we see it live :-)

[2014-10-29 10:17] Bertram25 commented on #257
@hwoarangmy Since you've dived very deeply in config and creature definition management, I wondered:
It is obvious unfortunately for me that I won't be able to write a line on this issue before a few days. Do you want me to let this one to you ? (since it will be necessary before providing a Win32 binary so @Danimal696 can test and everyone can start balancing the game.), or are you ok if I'm stil

[2014-10-29 10:29] Danimal696 commented on #257
Traps and doors, its just an idea, but weapon forging can be something unlockable, you start forging weapons of the researched quality, and once you research a better quality those became available as well.

[2014-10-29 11:17] hwoarangmy commented on #257
It is as you want. As we've already said, OD is a spare time project so it can wait if for some reason, you don't have time to work on it. But if you want me to put my claws on this one, I can relieve you.

[2014-10-29 11:21] Bertram25 commented on #257
I do think it's a good idea, as for me. :)

Thanks. :) Well, it depends only on you but you have my leave to bite this one if you want. The goal is to provide a common release suitable to start balancing first.
We'll be able to deal with the remaining issues and the AI in the meanwhile. :)

[2014-10-29 11:22] Bertram25 opened #267 "Cave hornet's wings aren't translucent"
Must come from something that broke while upgrading material files. I'll be on that.

[2014-10-29 11:29] hwoarangmy commented on #257
Ok. Then, I unassign you from this issue and if I feel like stealing it from you, I will assign myself. If you wanna take it before I do, just re-assign it ^^

[2014-10-29 11:29] Bertram25 commented on #257
eh eh, ok. :)

[2014-10-29 13:25] oyvindln opened #268 "Update angelscript"
The version currently in the repo is 1 year old, and needs to be updated. However, there seems to have been some breaking changes, so some code changes are needed.

[2014-10-29 13:34] akien-mga commented on #268
Linked with #132. I don't set it as a duplicate though because #132 also requires dropping phtreads-win32.

[2014-10-29 15:59] Bertram25 commented on #268
@Danimal696 @hwoarangmy @akien-mga Do you mind if I make @oyvindln a reviewer?
I think he should be able to assign issues to him self, and why not merge other's PR when they are fine.

[2014-10-29 16:07] Bertram25 opened #269 "Replace the spider with new one"
From here:
http://forum.freegamedev.net/viewtopic.php?f=35&t=5941&p=60530#p60530

[2014-10-29 16:07] Danimal696 commented on #268
how much is he bribing us for that? i say Ok if he pays good. ;)

[2014-10-29 16:26] akien-mga commented on #268
Fine by me :-)

[2014-10-29 17:12] hwoarangmy commented on #268
no problem if he wants to. But it may be better to ask him first ^^

[2014-10-29 18:13] hwoarangmy commented on #265
The patch is done. It allows:
- To create a creature/weapon class from another one in the corresponding def file (note that the extended class should be defined before):
  In creatures.cfg, add at the end of the creature definitions:

[code]

That will create the new class that can be used like any other (and even modified in the level file)
- As said in the base message, note that it is not possi

[2014-10-29 22:11] Bertram25 commented on #268
Eh eh. Somehow, I am ;)

[2014-10-30 08:43] Bertram25 commented on #268
Ok to become a reviewer @oyvindln ?

[2014-10-30 09:16] oyvindln commented on #268
sure

[2014-10-30 09:50] hwoarangmy commented on #194
Fixed in #238

[2014-10-30 09:50] #194 closed, assigned to hwoarangmy

[2014-10-30 11:16] hwoarangmy commented on #257
I am inspired, I will steal it ^^

[2014-10-30 13:32] Bertram25 commented on #268
@oyvindln It's done. As simple rule, we try to never auto-merge the things we do, or never push directly to the reference repo, unless the fix is very trivial to do and is urgent to make the beast compile.
Apart from that, welcome ! :D

[2014-10-30 13:35] Bertram25 commented on #257
Good, I'll find something else to play with, don't worry. ;)

[2014-10-30 16:17] hwoarangmy commented on #257
I've been thinking about the spawning conditions and after all, I think that it may be better to use a different file from creatures.cfg because:
- For each creature, there will be spawning conditions. That means that we will have spawning conditions everywhere in creatures.cfg since a creature definition is quite big so it will not be easy to read (and it is a file supposed to be edited manually)

[2014-10-30 16:31] Bertram25 commented on #257
After thinking about this for a while, I personally think it would much simpler if we don't allow them to spawn, except through events maybe. Other choices will make the design more complicated for rare needs, IMHO.
That said, a script should be able to later spawn them for scenario or events needs. (and that's not linked to spawn pools so there should be no later problems.)

[2014-10-30 16:58] hwoarangmy commented on #257
Yes, that's also what I had in mind ^^

@Bertram25 Since you have already had a though about it, what do you think of using another file ?

[2014-10-30 17:17] akien-mga commented on #257
As long as they can be spawned through scripts, I guess that's enough.
The use case I have in mind would be mostly for tutorials or some campaign scenarios.

[2014-10-30 17:19] Bertram25 commented on #257
I see no problem about it. And it clearly makes it obvious this can't be overridden. May add a note about it in the file header, for instance?
I'll also request that the file is self-documented if possible (using doc comments in the header). :)

[2014-10-30 17:21] hwoarangmy commented on #257
I am a copy/paste master and I will gladly use my power to copy one of your config files and change the header documentation ^^

[2014-10-30 23:13] Danimal696 commented on #257
Im all for declaring all creatures :P

[2014-10-30 23:39] hwoarangmy commented on #257
Yes. I guess using that to declare only bosses is enough ^^
Good, I'm almost done. I will create another PR as soon as my current one is OK.

[2014-11-01 12:22] Bertram25 commented on #265
I'm testing atm... The whole thing is cleaner with the baseDefinition parameter handling :)

[2014-11-01 13:03] #148 closed, assigned to hwoarangmy

[2014-11-01 13:03] #150 closed, assigned to hwoarangmy

[2014-11-01 13:03] #235 closed, assigned to hwoarangmy

[2014-11-01 13:03] #265 closed, assigned to hwoarangmy

[2014-11-01 13:05] Bertram25 commented on #257
The former one is merged :)

[2014-11-01 19:19] Bertram25 commented on #153
Done in https://github.com/OpenDungeons/OpenDungeons-media-source/pull/1

[2014-11-01 19:26] hwoarangmy commented on #257
ok. As promised, I will upload the fix for this one ^^

[2014-11-01 19:37] Bertram25 commented on #213
@Danimal696 @akien-mga : I try upgrading the models using this method and it seems to work:
I install the `ogre-tools` package

[code]

When playing the game, the warning about the mesh format is gone. I didn't speak about meshes with bone assignment problems, of course.

Can you test this @akien-mga ?

[2014-11-02 12:28] Danimal696 commented on #213
ill check if my ogre tools are outdated

[2014-11-02 12:39] Danimal696 commented on #269
i think i have read somewhere this model was giving fails? it was textured in an inconventional way, so that may be the cause. Please tell me if thats the case.

[2014-11-02 12:51] Bertram25 commented on #269
In any case, this model has got a non power of 2 texture and this might give problems on gpu without support for that. Can you fix this ?

[2014-11-02 13:00] oyvindln commented on #268
Solved now

[2014-11-02 13:00] #268 closed, assigned to oyvindln

[2014-11-02 13:13] #41 closed, assigned to Bertram25

[2014-11-02 13:13] #269 closed, assigned to Bertram25

[2014-11-02 13:13] #240 closed, assigned to Bertram25

[2014-11-02 13:16] akien-mga commented on #269
The issue was something else, it was just a guess from @Bertram25 that it could be related to the new model, but in fact... PEBKAC :-D

[2014-11-02 13:17] akien-mga commented on #132
Only pthreads-win32 is left to be dropped and replaced by boost.

[2014-11-02 13:20] akien-mga commented on #41
I confirm that the fix removed the warnings for me too.

[2014-11-02 13:29] akien-mga opened #272 "Segfault when closing the OGRE launcher"
When you click "Cancel" in the OGRE launcher prior to actually starting OD, the game segfaults:

[code]

[2014-11-02 13:41] akien-mga opened #273 "Tileset glitches: corners and oblique walls"
After merging @Bertram25's PR #258, I noticed some other glitches in our current tileset (at thought it was a regression, but then I checked @hwoarangmy's branch and the same issue appears).

See the following screenshot. On the second image, the faulty tiles are highlighted with great artistic skills.
![odscreenshot_2014-nov-02 14 36 29_0](https://cloud.githubusercontent.com/assets/4701338/487539

[2014-11-02 13:54] #257 closed, assigned to hwoarangmy

[2014-11-02 14:59] Bertram25 commented on #273
Hey :) I'm embarrassed with this issue as I'm not even sure we've got the necessary models for that. I'd say we should first check the available tiles with some thing like meshy or something. Then, can Danimal or Skorpio make the missing ones ?

[2014-11-02 15:17] Bertram25 commented on #9
Ok, what's left is start balancing and improving the ai. :)
I'd propose once we've got better balancing, to play a bit together and see how it turns ;)

[2014-11-02 18:25] Danimal696 commented on #269
ok, ill get to it

[2014-11-02 22:26] hwoarangmy opened #275 "OD_VERSION not defined with MSVS"
Seen while testing #274
This results in all levels being unreadable.

[2014-11-03 00:48] Bertram25 commented on #275
True. I had to define it in the preprocessor options each time. I haven't looked at a way to define it properly in cmake yet.

[2014-11-03 08:34] hwoarangmy commented on #272
This is because when you cancel ogre launcher, the log manager is not created. But it is used diring cleanup so it segfaults

[2014-11-03 08:43] Bertram25 commented on #275
As far as I've seen, something like this:
Line 453:
-set( PLATFORM_C_FLAGS "/W3 /MD /Od /D \"WIN32\" /D \"_WINDOWS\" /Gm /Gy /fp:fast /ZI /EHsc" )
+set( PLATFORM_C_FLAGS "/W3 /MD /Od /D \"WIN32\" /D \"_WINDOWS\" /D \"OD_VERSION=\"0.4.9\"\" /Gm /Gy /fp:fast /ZI /EHsc" )
As a first try.

If this is working, the OD_VERSION CMake variable will be have to be adapted so that it only keeps the actual OD

[2014-11-03 08:47] Bertram25 commented on #272
Arf, there must be a way to avoid this, while I fully agree this pop-up shall disappear once we have a true options menu.

[2014-11-03 08:48] Bertram25 commented on #272
Wanna do it for 0.4.9 for the sake of completion, guys?

[2014-11-03 08:48] akien-mga commented on #275
What about the OD_DATA_PATH and other variables that we pass to the compiler with -D?
Or for example:

[code]

I don't know if CMake has a better build-in way of handling this argument difference between MSVC and other compilers?

[2014-11-03 08:49] Bertram25 commented on #275
Yep, those will have to be handled, too.
As for OD_PATH_DATA, it is still working even if undefined thanks to fallback values.

[2014-11-03 08:52] hwoarangmy commented on #12
This should be part of #239

[2014-11-03 08:54] hwoarangmy commented on #88
Should we use AS for that (would be a good occasion to test) or define something specific in the level file ?

[2014-11-03 08:58] Bertram25 opened #276 "devel_tools/ and documentation/ content seems obsolete"
Hi there,

On both those folders, there seem to be quite outdated stuff.
@oyvindln @tomluchowski @hwoarangmy @akien-mga @Danimal696 Could you all have a look and tell me what we can get rid of?

[2014-11-03 09:00] Bertram25 commented on #12
I'm not sure. Those parameters are for specific instances of portals. Or maybe were you speaking of default values?

[2014-11-03 09:02] oyvindln commented on #88
The AS part of the code needs to be reworked first if you want to use that, seeing as the server runs in a different thread.

[2014-11-03 09:03] hwoarangmy opened #277 "Spike trap (and more generally traps that covers their tile) should disable tile default rendering"
As discussed in #258 comments.
The problem is that active spots are created within doupkeep which occurs after the trap is created. We could wait for that before showing the room but IMHO, it would introduce an avoidable lag (a little bit less than 1 second) when creating a room.

[2014-11-03 09:05] Bertram25 commented on #88
@hwoarangmy The fact that this AI is scripted or hardcoded depends on how much we can count on the scripting language. I'd say that ultimately the AI should be scripted, but if you don't want to lose time testing both AS and the new AI, it can be hardcoded at first, IMHO.

[2014-11-03 09:08] Bertram25 commented on #277
I've set the Later milestone for now as it's not a release blocker, while anybody can take it, of course. :)
IIRC, you proposed to show the tile until the trap object was added, right?

[2014-11-03 09:09] oyvindln commented on #276
Devel_tools is some source paul424 was working on, don't think it's of much use any more.
As for the documentation folder:
The thread model picture is outdated, so it can be removed if we don't want to keep if for historical purposes.
Doxyfile is for generating doxygen documentation, don't know if anyone uses that or not, the logo is also used in that.
The map I think is from some background story

[2014-11-03 09:10] Bertram25 commented on #273
@Danimal696 Help?

[2014-11-03 09:16] Bertram25 commented on #276
@oyvindln  thanks for the info.

There is also a doxyfile along the source:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Doxyfile
IMHO, the one in documentation can be removed.

AFAIK, the Small event system shouldn't be of use since we're planning to do events in scripts.
And the HCS has been integrated into the code, even if rather useless atm.

Yeah, I'd also put the old

[2014-11-03 09:23] oyvindln commented on #276
sounds good

[2014-11-03 09:29] oyvindln commented on #60
Not sure why I haven't seen this before, but in the example RTShader material files, it's shown how a normal map is supposed to be defined for the RTSS materials. I tested it on one material, and it worked, so normal maps shouldn't have to be defined in the catalog file.
https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/RTShaderLib/materials/RTShaderSystem.material#L110

[2014-11-03 09:49] hwoarangmy commented on #277
yes

[2014-11-03 09:52] hwoarangmy commented on #276
For that kind of stuff, I would trust @oyvindln as he is the one with more elements

[2014-11-03 09:55] hwoarangmy commented on #88
I'm not talking about scripting the AI (this would require testing performances) but only to use that to spawn hero waves (asI don't see how we can do that currently).
@oyvindln Yes, it shall be done on server side or it would have no effect.

[2014-11-03 09:56] hwoarangmy commented on #12
Yes, I'm talking of default values (do we really want them to be overridable ?)

[2014-11-03 10:03] Bertram25 commented on #276
k, I'll do as discussed. :)

[2014-11-03 10:04] hwoarangmy opened #278 "Remove thread/pthread references"
As noticed by @Bertram25 in #274

[code]

[2014-11-03 10:05] Bertram25 commented on #88
@hwoarangmy I guess we have to start somewhere. :)
What would be really cool is to give them a destination upon spawn (A keeper temple ;>) and make them dig their way the closest possible, but this can be done in a second step, of course.

[2014-11-03 10:07] Bertram25 commented on #12
Yes, or specially guarded portals would have no special values, for instance. And Hero spawning portals wouldn't be interesting to put in place, IMHO.

[2014-11-03 10:12] Bertram25 commented on #132
pthreads and other thread reference were dropped as we're now using sf::Thread() for the server part.
This issue can be closed.

[2014-11-03 10:12] #132 closed, assigned to oyvindln

[2014-11-03 10:15] Bertram25 commented on #2
@akien-mga

I know adding a find angelscript module is uneasy. Still wanna do it? If not, we might want wider acceptance of AS as a system lib before moving on with this. Your call.

[2014-11-03 10:30] Bertram25 commented on #60
@oyvindln If you're right, that would be good news. :)

Can you tell me exactly how you tested it? I'll then have a look at making sure every instance of the given object does have the normal applied, and we could move on with this.

[2014-11-03 10:32] Bertram25 commented on #243
@Danimal696 With the new rolling release out, could you tell me how beds do behave now? Thanks!

[2014-11-03 10:34] hwoarangmy commented on #88
yes, I understand that as it is the behaviour in DK. But I think we should decide if we want to define hero portal spawning in code or in AS. If we choose to hardcode, we might also use a different portal than the current one (even if it can use same mesh) and have different behaviour (spawning by wave - and make it configurable).

[2014-11-03 10:42] Bertram25 commented on #88
I'd be for hardcoding a new portal (and personally I don't care if it's the same mesh, I'd rather have another one to show it's not a keeper's portal.)
This way, adding levels with hero waves would be brain dead easy. Smarter events and AI could come later.

[2014-11-03 10:43] oyvindln commented on #60
I changed the Dirt material file like [this](https://gist.github.com/oyvindln/f79922f0a34f66a7aae3#file-dirt-material)

(It's the wrong normal map file, as there wasn't one for the dirt material.)

[2014-11-03 10:45] akien-mga commented on #2
It shouldn't be that hard, the main problem is just that last time I had a look at it, angelscript was not well-defined as a system library. This may have been improved in the last release, I'll have another look at it. Basically (for Linux) we just have to search for the main header in its normal installation location, provided it's something reliable such as $(prefix)/include/angelscript, and to

[2014-11-03 10:51] Bertram25 commented on #2
ok. But feel free to report here, I'll be happy to add that in the corresponding AS forums. :)

[2014-11-03 10:53] Bertram25 commented on #60
Np, the example is cool. I'll have a look at whether we could use that for everything. @Danimal696 would be so happy. ;)

[2014-11-03 11:06] akien-mga commented on #2
Basically the main issue is that when you build AS as a shared library, it creates a libAngelscript.so library (with its SONAME being simply libAngelscript.so). I'm not a library guru, but "normally" libraries have a versioned suffix after .so, which is often the API major.

I don't know about the AS versioning model, but most likely the SONAME should be something like libAngelscript.so.2 or libAn

[2014-11-03 11:15] akien-mga commented on #2
With the gnuc buildsystem, it's already better: you can build AS with `make SHARED=1 VERSION=2.29.2` and it produces a library named `libangelscript-2.29.2.so`.

That's already better, but that's probably overkill: such a name means that programs using libangelscript-2.29.1.so won't run with libangelscript-2.29.2.so. Such a naming scheme is used when there are heavy API changes from one version to

[2014-11-03 13:26] Bertram25 opened #279 "Gold dropped on the floor should follow the same mesh logic than the one in treasury rooms."
Atm, whatever amount of gold is left on dirt, the same mesh will be displayed.
An improvement would be to use the same logic about the mesh used than the one on treasury tiles, so that the player can know at a glance whether some gold piles are interesting or not.

What do you think about it? @akien-mga @oyvindln @hwoarangmy @Danimal696

[2014-11-03 13:34] Bertram25 commented on #214
As I could have bet, that one is the next most annoying thing on the list, IMHO.
I'd propose to test this change:
Have a new sight algorithm taking in account all tiles in the creature sight (default 15 tiles around it but configurable.) and not only the ones not hidden by walls.
And rename the current one for visible tiles only if the name isn't fitting already.

Then, I'd use the new unrestricte

[2014-11-03 13:38] oyvindln commented on #214
That sounds good.

[2014-11-03 13:50] Bertram25 commented on #2
I've put a few questions on AS forums about this and linked back here. Hopefully, this will be interesting for both him and us. :)

[2014-11-03 13:51] Bertram25 commented on #214
Ok, I'll have a look. ;)

[2014-11-03 14:12] hwoarangmy commented on #279
yes it could be good

[2014-11-03 14:15] hwoarangmy commented on #214
Again, I've not checked but the more I think about it, the more I'm sure it is because the visible tiles list is empty. So, if it is the case, it will be a clever way to overcome this.
And if it is not, you will have to debug ^^

[2014-11-03 14:17] akien-mga commented on #279
Sounds great. I already foresee a free for all map with an enormous dragon in the middle sitting on piles of gold :-D

[2014-11-03 14:23] hwoarangmy commented on #279
Sounds like a good idea. Do you want to do this map ? You kill the dragon while I collect the gold...

[2014-11-03 14:37] akien-mga commented on #279
Hehe, I guess as long as we don't have the fog of war, it would be a race for the ones that can pick gold quickly enough :-)

[2014-11-03 14:53] Bertram25 commented on #214
Eh eh. :)

[2014-11-03 14:53] hwoarangmy commented on #214
While I'm thinking about it, I think there is a problem with the visible tile computation. If you start the skirmish test map 2v2 and destroy one tile (releasing the dragon) he will take ages to come to your dungeon. Normally, as soon as it is in the line between the wall, it should see the dungeon heart and attack...
And that's the same for your screenshots. In your cases, the visible tiles shoul

[2014-11-03 14:54] Bertram25 commented on #279
I love the map idea. ;)

[2014-11-03 14:55] Bertram25 commented on #214
@hwoarangmy Oh ok, I'll use this case to quick-test.

[2014-11-03 15:00] oyvindln commented on #214
One issue in the worker movement algorithm is that it tries to make the worker move to far away visible tiles, by sorting tiles by distance, and choosing a random tile from the furthest away half of the visible tiles list. When there are only 2 visible tiles, this could potentially make the worker go back and forth alternating between two tiles if nothing else is visible. The fact that random func

[2014-11-03 15:22] akien-mga commented on #214
Is this also the reason why workers tend to go back and forth when claiming walls (they claim a wall tile on one wall, then run to another wall and claim a tile, then back to the first to claim a tile in the neighbourhood, then to another wall, etc.? This can easily be seen when digging a big rectangular room.

[2014-11-03 15:27] oyvindln commented on #214
That may be, I thought they were supposed to check nearby tiles for work first though. The moving far away bit part is for choosing random tiles to walk to if they are idle.

[2014-11-03 15:33] hwoarangmy commented on #214
Maybe the surrounding tiles are not considered visible. That would explain why they claim far away walls instead of nearby...

[2014-11-03 15:44] akien-mga commented on #214
To illustrate my above comment, here is a picture showing in which order a kobold claimed wall tiles. You will also notice the fact that workers tend to claim every other wall tile before they claim the the remaining wall tiles (making it look like a chessboard). I can infer that most likely they do not _see_ the tiles that are adjacent and parallel to the one they just claimed (it works well in a

[2014-11-03 15:53] Danimal696 commented on #279
nice idea!

[2014-11-03 16:02] Danimal696 commented on #273
that is pretty annoying, i could try and have a look at the unported tiles to expand some borders, but the real solution would be a simpler tileset, needless to say that would be a huge job i would prefer to leave for later. For now im trying to get more content in but ill dig it.

[2014-11-03 16:07] Danimal696 commented on #88
i have a few new portal models located but they need textures and the like, so dont expect them soon; but anywyas the models are there.

[2014-11-03 16:08] Danimal696 commented on #9
We are sooo close!

[2014-11-03 17:06] Bertram25 commented on #214
@akien-mga I'm sure you got a bug, but as far as I've looked, the workers blocked in corners bug seems to indeed come from the gamemap->visibleTiles() function that is listing only tiles within view and probably broken for a few use cases.

I'll be working on that one now as it's quite interesting. :) As a first step, I must say that swapping this method with one returning any tile within sight ra

[2014-11-03 17:14] Danimal696 commented on #243
they are still misplaced,
1x1 bed OK
1x2 bed the center in the same place as a 1x1
2x2 the center is in the same place as a 1x1 would be

[2014-11-03 17:23] Danimal696 commented on #243
![opendungeons 2014-11-03 18-21-32-038](https://cloud.githubusercontent.com/assets/8299756/4886633/ff9ab6ba-637d-11e4-84de-1a7d34bd9f05.png)

[2014-11-03 18:02] Danimal696 commented on #214
while creatures train they dont stop jumping from machine to machine, maybe its related?

[2014-11-03 19:18] akien-mga commented on #214
You mean I'd better open another issue, since this one is more about the corner issue?

[2014-11-03 19:28] Bertram25 commented on #243
Thanks! This simple example really helps! :)

[2014-11-03 19:29] Bertram25 commented on #214
IMHO yes. :)

[2014-11-03 19:30] Bertram25 commented on #153
Now that file is merged, I'm considering this issue done.

[2014-11-03 19:30] #153 closed, assigned to Bertram25

[2014-11-03 19:37] Bertram25 commented on #2
@akien-mga The author answered: http://www.gamedev.net/topic/662413-compiler-warnings-with-latest-stable-version/#entry5190921

I think all three version number have to be included according to what he says. And I'm sure he would be more than happy to see a CMake module in action. :)

[2014-11-03 19:54] Bertram25 commented on #267
The whole cave hornet is translucent on windows according to @Danimal696 . So the actual solution is to separate the wings and the body into two models using different materials.
Care to do it @Danimal696 or should I simply revert?

[2014-11-03 19:54] #278 closed, assigned to Bertram25

[2014-11-03 20:31] #276 closed, assigned to Bertram25

[2014-11-03 20:45] Danimal696 commented on #267
let me try separating first

[2014-11-03 22:19] hwoarangmy commented on #243
I had seen that in the good way. Previously, creatures used to go at bottom left to sleep. Now, they go at center. I thought it was an improvement but it seems like it is a bug. I don't know when we introduced that (maybe while playing with the renderer ?) but I would say it comes from the beds being centered now.

[2014-11-03 22:21] hwoarangmy commented on #214
No. Creatures training are handled by the training hall. But each turn they have a chance to change dummies. It might happen too often. I will add min and max turn numbers for changing dummies  the room config file in #239

[2014-11-03 22:28] akien-mga commented on #243
Judging from the screenshot, it seems the beds are centered on one tile, independently of the number of tiles that they are supposed to cover. Is it because they are placed on active spots?

[2014-11-03 23:13] hwoarangmy commented on #243
No, dormitory is a special room and active spots were never used there. Beds are on empty tiles. But when I look at the screenshot, I would say they are centered on the bottom left tile (where the creature used to sleep) instead of the center of their place.

[2014-11-03 23:30] Danimal696 commented on #243
that the creature sleep at his center is good and something i would request on the future, but not in this way...

[2014-11-04 09:28] hwoarangmy commented on #230
While doing the faction stuff, I'm trying to set up the menu to configure seats (to associate seats to players). But I'm loosing patience while trying to set up cegui combo boxes. has anyone ever tried it ? The list is empty no matter what I've tried...

@Bertram25 an idea ?

In the layout I've added a "OD/Combobox" and in code, I used the addItem function to add items...

[2014-11-04 10:56] Danimal696 commented on #214
yes, its too often, they hit two times at most and then switch machine

[2014-11-04 11:47] Bertram25 commented on #230
IMHO, you doing nothing wrong so far. The combo boxes might be broken without anyone aware of it.
That's a bummer really. What I've found so far but without any actual clues:
http://delta3d.org/forum/viewtopic.php?showtopic=19760
For self reference: http://cegui.org.uk/wiki/Sample_code_for_all_Widgets#Combobox

I don't know what code you've used to create the combo box maybe but have a go at using

[2014-11-04 12:13] Bertram25 opened #282 "Workers: The claiming order is weird (walls and sometimes ground)"
As reported by @akien-mga and @oyvindln  in #214 ,

@oyvindln
One issue in the worker movement algorithm is that it tries to make the worker move to far away visible tiles, by sorting tiles by distance, and choosing a random tile from the furthest away half of the visible tiles list. When there are only 2 visible tiles, this could potentially make the worker go back and forth alternating between t

[2014-11-04 12:36] Danimal696 commented on #267
a problem here; separating means two meshes, can the two of them be loaded at the same time?

[2014-11-04 12:42] Bertram25 commented on #267
The golem worker seems to be using different material files for different parts:
https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/scripts/Construct_ReflGold.material
https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/scripts/Con_Worker.material

The separation may indeed be not with different model files, but is it possible to do the same here, for insta

[2014-11-04 13:26] hwoarangmy commented on #230
I will test tonight if I can find something. Thanks for your help anyway.

[2014-11-04 17:23] Bertram25 opened #283 "F1 Help window for new players"
Yes, there are players in the world that don't know Dungeon Keeper and even worse, certain of them don't know about OpenDungeons. ;)

That's a sad reality and the world seems not ready yet to bow before Evil Keepers while in chains and being tamed eagerly by dark mistresses.
For all those relevant reasons, a F1 text window should be added to explain the game key and the game basic functionalities.

[2014-11-04 18:05] hwoarangmy commented on #230
OK. I've had a look and it is nin CEGUI FAQ. The combobox height should include its list and not only the combo itself. That's why I had an empty list. Not an expected behaviour...

[2014-11-04 18:11] hwoarangmy commented on #283
Yes. A tutorial/campaign will take much too time so it'll be enough for now...

[2014-11-04 19:39] Bertram25 commented on #230
Indeed. Does it mean it is fixed ??? :) If so, I'll gladly improve the skin afterwards. :D

[2014-11-04 20:43] hwoarangmy commented on #230
It is fixed but there is a scroll bar...

[2014-11-04 22:43] Bertram25 commented on #243
What I have seen so far is that creatures getting a bed location are usually taking the most left-bottom one available, while the code is correcting the mesh location as if the tile chosen was forcefully the top-right one.

[2014-11-05 08:22] #272 closed, assigned to Bertram25

[2014-11-05 09:15] Bertram25 commented on #230
IIRC, there is an horizontal/vertical scrollbar policy option you should be able to set. I'll check the doc asap. :)

[2014-11-05 10:33] hwoarangmy commented on #230
IMHO, it is ok the way it works. I've made some tests by adding several items to see how it behaves and it is not bad. When wanted, we might want to improve the look and feel buit even the style fits pretty well with the rest of the menu

[2014-11-05 10:45] akien-mga commented on #2
I wrote a simple CMake module to find AngelScript on Linux systems:

[code]

It works fine, but the problem I have now is with the addons. The addons directory contains source code but no evident way to turn it into a shared library + headers, so I wonder if using a system-wide AS (with addons) is even possible?

[2014-11-05 11:05] Bertram25 commented on #230
Cool. This means I've got a bit more time to port those controls to our gui style. :) And thanks for this feature, it will be soo cool! :)

[2014-11-05 11:23] Bertram25 commented on #2
Thanks Akien :)

I did the proxy once again about your question. We'll see what are the author's advice here. Maybe it's possible or maybe not yet. After all, I have the impression we are still digging a new road here.

[2014-11-05 11:24] Bertram25 commented on #214
Base issue fixed with #281 Other issues have been opened for the other problems. :)

[2014-11-05 11:24] #214 closed, assigned to Bertram25

[2014-11-05 16:28] Bertram25 opened #284 "Add new boulder animated trap model"
From here:
http://forum.freegamedev.net/viewtopic.php?p=60705#p60705

[2014-11-05 16:29] hwoarangmy opened #285 "Creatures should be able to spawn with a weapon by default"
This should be added in creature definitions file

[2014-11-05 16:30] hwoarangmy opened #286 "Add and test new animation for boulder trap"
From here:
http://forum.freegamedev.net/viewtopic.php?p=60705#p60705

[2014-11-05 16:30] Bertram25 commented on #285
Should we do that for 0.4.9?

[2014-11-05 16:32] Bertram25 opened #287 "Add fixed training dummy model"
From here: http://forum.freegamedev.net/viewtopic.php?p=60706#p60706

[2014-11-05 16:32] Bertram25 commented on #286
Oops, superseding #284 I'll close the other one. :)

[2014-11-05 16:33] Bertram25 commented on #284
Superseded by #286

[2014-11-05 16:33] #284 closed, assigned to nobody

[2014-11-05 16:40] Bertram25 commented on #285
Arf, let's say yes as it seems required for balancing...

[2014-11-05 16:45] Bertram25 commented on #15
Ok, it's official, I'll be on that from now on if nobody else strongly wants that one. ;)

[2014-11-05 16:47] Bertram25 commented on #275
The next time I'm on windows, I'll deal with this, but this might be not before a few days. ;)

[2014-11-05 16:48] Bertram25 opened #288 "Merge latest balance from Danimal..."
From here: http://forum.freegamedev.net/viewtopic.php?p=60647#p60647

[2014-11-05 16:50] Bertram25 commented on #267
Assigned to @Danimal696 since I assume he'll be on the sub-entities separation.

[2014-11-05 16:51] Bertram25 opened #289 "Gold behind water tiles should be diggable"
As reported by eugeneloza, should we allow and thus fix gold digging, when in the middle of water?

What do you think @hwoarangmy @Danimal696 @akien-mga @oyvindln ?

[2014-11-05 16:54] Bertram25 opened #290 "Certain creatures can't attack/be attacked?"
From here: http://forum.freegamedev.net/viewtopic.php?p=60650#p60650

Might be fixed with newest Danimal's balance upgrade. so issue #288 is a prerequisite of this one.

[2014-11-05 17:15] akien-mga commented on #289
I'd say yes, since workers can swim, but with one of those two conditions:
- A bridge has to be placed so that the worker can dig while standing on the bridge, or
- The digging time should be longer

[2014-11-05 17:18] hwoarangmy commented on #289
As long as workers can go through water, I don't see why they couldn't dig gold there...

[2014-11-05 17:27] Danimal696 commented on #267
yes, ill take care of it eventually

[2014-11-05 17:28] Danimal696 commented on #289
like hwoarangmy said, the only restriction should be the natural slowness of moving over water

[2014-11-05 17:43] Bertram25 commented on #289
So if I understand correctly, we don't consider them swimming in water, but walking on it, and thus capable to dig, even from a water tile?

[2014-11-05 17:44] Bertram25 commented on #267
Feel free to reassign to me once you're done. :)

[2014-11-05 21:51] Danimal696 commented on #289
but if you want unpassable terrain you have already got lava, let water slowness be the only penalty

[2014-11-05 23:21] Bertram25 commented on #289
ok :)

[2014-11-06 00:32] Bertram25 commented on #290
I confirm that certain creatures have weird behaviour sometimes.
E.g: On the 2vs2 small test map in single player, the Adventurer and the knight start by fleeing something and go top-right of the starting area bumping against the wall.
Certain tentacles and knights are also not moving at all, even in the presence of other creatures.
All this was with Danimal's new balance applied.

[2014-11-06 08:28] hwoarangmy commented on #290
Beware, I've just realized that in the new balance, you have increased creatures HP. I've not looked particularly at knight/adventurer but remember that current HP is in the level file (it was set to there max hp at this time). So, if you have increased the level 1 HP, at spawning, they might have HP < maxHP/3 and, thus, flee... BTW, We should allow in the level file to set HP to "max" so that we

[2014-11-06 08:29] hwoarangmy opened #292 "In the level files, we should allow the current HP to "max""
This would avoid to change every level when HP changes after balancing.

[2014-11-06 09:22] akien-mga opened #293 "OIS: release keyboard input when OD windows loses focus"
The described behaviour is on Linux, @Bertram25, @hwoarangmy or @Danimal696 can probably confirm this if it also happens on Windows (and add the corresponding label).

When running OD in windowed mode, if you switch to another application (typically to Firefox to comment on a github issue ;-) ), you can't type anything because OD (I guess through OIS) gets the precedence on the keyboard input. I c

[2014-11-06 09:30] akien-mga commented on #290
I can confirm this issue in @Bertram25's #291.

[2014-11-06 09:38] akien-mga opened #294 "Boulder trap behaviour is hard to predict"
I've been playing around with boulder traps and I find it difficult to use them in their current implementation: they fire only in one direction, but the player doesn't know which direction it is, at least I couldn't find a way to define it when placing the trap.

Then, even when knowing in which direction the trap fires, I'm unsure about what triggers it. It seems it requires a unit to stay on th

[2014-11-06 09:47] akien-mga commented on #213
Updated the list: TrainingDummy4.mesh and Spider.mesh are also in an "old format" (as discussed previously, it's no big deal). The Spider also has vertices with no bone assignment.

[2014-11-06 10:03] hwoarangmy commented on #294
no, boulder trap is already multidirectional. It triggers when an enemy creature stands on one of its 4 neighboor tiles.
But because it is a powerfull trap (capable of killing several creatures in a row), it is pretty slow to re-activate (hardcoded : 100 turns = ~71 seconds). So, after it triggers, there is plenty of time to claim it.

Please also remember that when the trap is created its countdo

[2014-11-06 10:41] Bertram25 commented on #294
@akien-mga
I confirm this behaviour, especially as I tested the new rolling model yesterday.
The 100 turns cooldown might be too much indeed and could be halved, IMHO, but that's the sole change I would do so far.

[2014-11-06 10:46] hwoarangmy commented on #293
I have seen strange things on windows but not this one. I confirm that when I switch in windowed mode (I almost always use it), the keyboard can be use in the other applications.

The problem I've seen is more about when OD window is minimized and then, we come back, sometimes, a clic event is received from OD. But as far as I've seen, it seems to be a bug in OIS (from OD point of view, everything

[2014-11-06 10:47] hwoarangmy commented on #294
When I will have done the trap configuration file, it will be possible to change that there. But I'm not in this right now ^^

[2014-11-06 10:48] akien-mga commented on #294
Ok that makes sense. I guess we would need two things then, one that can be done for 0.4.9, and one that would probably be for Later:
- Reduce the hardcoded cooldown (shouldn't it be in the config file too btw?) if there's a consensus about it. I also wonder about the trap activation range: shouldn't it activate also when creatures are somewhat further than the tile just next to it? What about inc

[2014-11-06 10:52] Bertram25 commented on #290
I'm ok to make the currentHP parameter either provide a value, or be "max". Yeah, it's a good idea. :)

[2014-11-06 10:53] Bertram25 commented on #290
i've noted that this was more often happening when several enemies were hitting a worker. Maybe this makes the worker handle its flee behaviour in a wrong way? I'm not sure yet, though.

[2014-11-06 10:56] Bertram25 commented on #290
Ah, about the flee behaviour, and before adding the "max" currentHP parameter handling, I think we should investigate why the knight and adventurer bump into a wall when fleeing. So we can fix that before hiding that behaviour.

[2014-11-06 11:30] Danimal696 commented on #213
dont worry about the spider, it has some useless bones, so it wont affect the model animation

[2014-11-06 11:36] hwoarangmy commented on #294
It is planned ;)

This has already been discussed and we choose a radius of 1 because the boulder has to be slow and if it triggers too far, as a keeper, you might be able to pickup a unit that would trigger it before it is hit. IMHO, it is not a good thing.

At last, traps will have to be crafted in the forge. In DK, when the boulder trap triggered, you had to build a new one in the forge before

[2014-11-06 11:37] Danimal696 commented on #294
shall we copy the original once more? since the trap is not forge-built and mounted by kobold, its fine it has a cooldown (otherwise it could be instant); it can have a 1 trigger radius but it should be invisible until triggered, and triggering once destroys the trap (or at least removes the still ball over the trapped tile)

[2014-11-06 11:38] Danimal696 commented on #294
hwoarangmy, you beat me to the answer :)

[2014-11-06 11:40] hwoarangmy commented on #290
Now that you talk about it, I guess it's the same. As far as I remember, every stuck kobold I've seen was being attacked by several creatures. Nice catch ^^

I've never seen that but yes, we should. What do you mean by "they bump into a wall" ?

[2014-11-06 12:04] Danimal696 commented on #213
my tools seems to be to the day (ironically they stopped giving support to the exporter years ago) then, since its an easy (even if boring task) can i delegate this task to someone else? i prefer to be creating new content instead, but it can also be left for later, before the official release

[2014-11-06 12:44] akien-mga commented on #290
You'll see that when you try the new balance in @Bertram25's PR.

[2014-11-06 13:13] Bertram25 commented on #293
@akien-mga ungrabbing input is a non-default xserver option AFAIK, unfortunately.
Here is an interesting link, btw: http://www.ogre3d.org/forums/viewtopic.php?t=20690

There are options in OIS that achieve this:
http://www.ogre3d.org/tikiwiki/tiki-index.php?page=Using+OIS#Non-exclusive_input
But they seem to not work for everyone. They do for me on linux, but not for @tomluchowski for instance.

T

[2014-11-06 13:18] Bertram25 commented on #294
Here is a useful link to handle opacity in code:
http://www.ogre3d.org/forums/viewtopic.php?p=436777#p436777

I'll have a look sooner or later at this.

[2014-11-06 13:24] Bertram25 commented on #294
To sum up, I'd propose this fix:
- At least, hide the trap boulder model once triggered and until it's loaded again.
- If and only if the opacity stuff is working, we could show the boulder translucent until it's fully loaded again. (But only for the trap owner's screen, see the next bullet)
- Enemy traps that are hidden (not triggered) shouldn't be displayed on your terrain. (Wait ! This is the b

[2014-11-06 13:31] Bertram25 commented on #213
I'll happily upgrade the models if nobody else does. What should we do about the other bone assignment warnings, like more than 4, or vertices without bone assignment?

[2014-11-06 13:44] hwoarangmy commented on #294
We should do that in a generic way since most traps (but not all) will be hidden IMHO (we could think about some canon kind that would be visible so enemy knows he should take many creatures before messing with it ^^)

If it's not too complex to do, it would be a good thing.

I've added that this morning in #239 . Seems like we had the same idea ;)

[2014-11-06 13:46] hwoarangmy commented on #290
ok. I will see that tonight then ^^

[2014-11-06 14:11] Bertram25 commented on #294
IMHO, definitely not for 0.4.9 since it will require thinking about the whole FOW logic for rooms/traps and creatures, IMHO and it might be more sympathetic than it seems. ;)

[2014-11-06 14:12] akien-mga commented on #294
I'm fine with @Bertram25's proposal, it sounds great.

[2014-11-06 14:13] Bertram25 commented on #239
You have a point. Should this be another issue?

[2014-11-06 14:28] Bertram25 opened #295 "Fog of War"
This one is a big issue concerning FOW, or more about what a player shall not see until it reaches it. ;)

I won't speak of the visuals here, since we'd need first to add support for fog at all, and later maybe particles making a nice transition between what we see and what we don't.

The issue will thus try to sum up the list of conditions needed to know when to display or hide a tile/creature/ro

[2014-11-06 14:30] Bertram25 commented on #294
I'll deal with hiding the trap object, or make it translucent if it's working.

[2014-11-06 15:08] hwoarangmy commented on #295
IMHO, we should aim for the FOW usual strategy games use:
if you loose sight on a tile, it stays in its state until you see it again. If someone digs it, you don't see it until you gain sight again.

Same for rooms. If you see a room, it should be displayed until you get sight again. If it is destroyed while you don't see it, you should not know until you see it again (of course, I'm talking about

[2014-11-06 15:11] Bertram25 commented on #295
It's indeed better, maybe a little more complicated to handle. Separating the client game map, from the server one may be of help with this after all. ;)

[2014-11-06 15:13] hwoarangmy commented on #239
yes, it doesn't hurt to have another issue since it is not directly related to room configuration. And IMHO, spawning 1 chicken per coop makes sense and is good as long as we have the hunger decrease per eaten chicken that can be configured through the config file.

[2014-11-06 15:14] hwoarangmy opened #296 "Chickens should spawn 1 per chicken coop instead of 1 per hatchery"
ATM, having a big hatchery can be worst than several small because of this, which is not what we would expect

[2014-11-06 16:08] Bertram25 commented on #2
The author has answered. The add-ons are meant to be directly integrated into the application code.
http://www.gamedev.net/topic/662413-compiler-warnings-with-latest-stable-version/#entry5191391

Thus, I'd say that we should provide the findAS cmake module to him, and keep the code within OD anyway. When there will be real packages of AS in distros, we'll check what we can drop and keep.

Would yo

[2014-11-06 16:11] Danimal696 commented on #213
by my experience with the exporter most of those will have to be left like that, some of them may be fixed tho

[2014-11-06 16:32] Bertram25 commented on #213
Ok, just tell us what kind of warnings we can ignore, so we'll be able to know which we can report in the future. :)

[2014-11-06 17:13] hwoarangmy commented on #295
IMHO, we have 2 choices:
- Send only the needed (what a player sees) to a player. That would mean to relate every events to tile (to know if we should display what's going on on a tile and to which player). That would be the best solution but would change many things on server side and would also add burden to the server
- Let the gamemap know everything like it actually does on client side but do

[2014-11-06 20:20] Danimal696 commented on #213
truthfully all of them can be ignored, i have exported models and seen how the exporter twisted and forgot bones among many other stuff, the model works perfectly like in the spider case, but i had to reexport over 20 times and each time i had a different result with the same settting.
Upgrading meshes has no problem , but lets let the bones issue aside for now.

[2014-11-06 22:04] hwoarangmy commented on #290
OK, I see ^^

[2014-11-07 08:58] Bertram25 commented on #213
Ok, let's forget about the bones, I'll take care of the rest. :)

[2014-11-07 09:19] oyvindln opened #299 "Use a CEGUI window for the console"

[2014-11-07 09:43] Bertram25 commented on #299
I set this to Later as default. If you can do it before 0.4.9 release, I'll change it back. :)

[2014-11-07 10:52] hwoarangmy commented on #290
I've had a look at the bump into wall bug. I think it comes from using mTilesWithinSightRadius instead of mVisibleTiles while choosing a tile to wander.
mVisibleTiles was filled with the closer tiles at the beginning. mTilesWithinSightRadius  seems to be filled with the bottom left tile until the top right tile. When using mVisibleTiles, it made sense to use the last tiles from the vector to choos

[2014-11-07 11:01] Bertram25 commented on #290
Eh eh. Thanks for the bug hunting.
As a fix, I would personally prefer to keep the circularRegion tiles and add a sanity check, so that the wander stay wider. What do you think?

[2014-11-07 11:18] hwoarangmy commented on #290
I'm ok with that. BTW, I've noticed yesterday while testing that creatures were much more idle than they used to be. After thinking about it, I wonder if we don't have the same thing with standard wandering. If I remember correctly, a tile was choosen at the end of the visible tiles and set as a destination. It is even worst than flee wandering because in that can, it was assumed than the tile was

[2014-11-07 12:13] Danimal696 commented on #213
Thanks, i cant believe how poorly supported blender to ogre is

[2014-11-07 13:37] Bertram25 commented on #213
Actually, the commit log of the exporter shows relatively recent activity, but well, no new release so far:
https://bitbucket.org/MindCalamity/blender2ogre/commits/all

I've opened a new topic on Ogre to get some news from the exporter team. Let's see how it turns:
http://www.ogre3d.org/forums/viewtopic.php?f=1&t=82002

[2014-11-07 14:33] Bertram25 commented on #290
Yes! That explains what I saw in Danimal's map. I'll handle it if you want.

[2014-11-07 14:38] hwoarangmy commented on #290
No problem if you want to deal with that ^^

[2014-11-07 14:59] oyvindln commented on #60
If there are no problems with it, I suggest we edit the materials, and remove the hardcoded function that adds the normal maps.

[2014-11-07 15:40] Bertram25 commented on #60
Yeah, I'm all for simplification in that area. I didn't take the time to check that, though. Wanna do it?

[2014-11-07 15:42] Bertram25 commented on #290
Ok. :)

[2014-11-07 23:12] #230 closed, assigned to hwoarangmy

[2014-11-08 00:29] hwoarangmy commented on #296
For @Danimal696 In this PR, I've added support in room config file so that creatures can heal when they eat a chicken. But for now, they won't go to hatchery when injured (but they go to bed) ^^

[2014-11-08 09:30] #239 closed, assigned to hwoarangmy

[2014-11-08 09:30] #296 closed, assigned to hwoarangmy

[2014-11-08 09:49] #213 closed, assigned to Bertram25

[2014-11-08 09:49] #286 closed, assigned to Bertram25

[2014-11-08 09:49] #287 closed, assigned to Bertram25

[2014-11-08 09:49] #288 closed, assigned to Bertram25

[2014-11-08 12:27] hwoarangmy opened #301 "Creatures should wander on random tiles when they have nothing to do"
Following #291

[2014-11-08 16:09] Danimal696 commented on #296
Of course , i doubt any chicken drumstick will cut out any hemorrhage :D

[2014-11-08 19:14] hwoarangmy opened #302 "Regression: creatures that spawn in a level don't use modified creature definition in the level"
Regression due to #298
Default creature definition is always used

[2014-11-08 22:58] hwoarangmy commented on #290
Concerning the non moving knight, I've had a look and it seems there is a bug with the floodfill. I keep digging and will tell here if I find something

[2014-11-09 11:19] hwoarangmy commented on #290
The floodfill bug should be fixed with #303 .
It may also explain why creatures have hard time to attack (but I'm not sure). We should close this issue after making sure creatures attack in a normal way.

[2014-11-10 00:20] hwoarangmy opened #304 "Map name should be displayed on the client lobby screen"
ATM, the client do not know which map is loaded

[2014-11-10 01:47] hwoarangmy opened #305 "Client gets disconnected when starting a lan through internet"

[2014-11-10 01:50] hwoarangmy opened #306 "Crash when a treasury chest is picked up in a lan"
When a client picks up a treasury chest, the server crashes and vice-versa.
Note that in single player, it doesn't crash.

[2014-11-10 20:43] #285 closed, assigned to hwoarangmy

[2014-11-10 20:43] #292 closed, assigned to hwoarangmy

[2014-11-10 20:43] #302 closed, assigned to hwoarangmy

[2014-11-10 20:43] #304 closed, assigned to hwoarangmy

[2014-11-10 20:43] #305 closed, assigned to hwoarangmy

[2014-11-10 20:43] #306 closed, assigned to hwoarangmy

[2014-11-10 21:18] Bertram25 commented on #290
I confirm this is fixed. I'll try cream in the dark to see how th AI does now...

[2014-11-10 21:23] akien-mga commented on #290
Take care about this stuff, you'll get fat if you eat too much cream in the dark.

[2014-11-10 21:45] Bertram25 commented on #290
lol

[2014-11-10 22:50] Bertram25 commented on #290
IMHO, can be closed. A new smaller issue should be reopened if anything new happens.

[2014-11-10 22:50] #290 closed, assigned to hwoarangmy

[2014-11-10 23:10] Bertram25 commented on #301
For more info, a specialized array of tiles should be made to make the wander fairer.

[2014-11-10 23:13] Bertram25 opened #307 "Golem workers related upgrades"
Golem workers should be spawnable in single player only, as tier2 creatures.

[2014-11-10 23:14] Bertram25 opened #308 "Creatures with no claim rate should never try to claim a tile."
Same logic for digging. Worker or not.

Seen on Golem workers for tile claiming.

[2014-11-10 23:19] Bertram25 opened #309 "Optionally disable console commands when playing."
To avoid cheats. Or we could disable specific commands...
Pre-requisite: #3

[2014-11-10 23:19] Bertram25 opened #310 "Add the possibility to setup alliances in the lobby."

[2014-11-10 23:21] Bertram25 opened #311 "Clicking on the worker/fighter button should be permitted more than once per turn."
If possible in lan, but overall, would be good in single-player.

[2014-11-10 23:24] Bertram25 opened #312 "Lan: A client leaving during the game makes it stop."

[2014-11-10 23:26] Bertram25 opened #313 "The Hero faction isn't balanced at all."
They're lacking spawn conditions, and maybe are too strong.

[2014-11-10 23:29] Bertram25 opened #314 "Add support to place a crypt, even if non-working in term of features, yet."
From here:
http://forum.freegamedev.net/viewtopic.php?p=60771#p60771

TODO: Find an icon and convert it

[2014-11-10 23:34] Bertram25 commented on #293
I proposed to add a cmake option that doesn't grab the key board on linux, disabled per default. This will help us about this.
If you're ok, with this done, I'll close this issue.

[2014-11-11 08:56] akien-mga commented on #312
How should it be handled in game? Should the leaving player be replaced by an AI, or just deactivated?

[2014-11-12 08:51] hwoarangmy commented on #312
IN a RTS I use to play, when a client leaves (or is disconnected), his allies gain control of his units. However, the are not merged (the buildings are not shared). In our case, that would mean that if we are playing as allies, if you get disconnected, my creatures won't be able to go eat in your hatchery.
But if we do something similar, that would mean that we would need to find a way in the gui

[2014-11-12 08:55] hwoarangmy commented on #310
Do we really want to setup alliances in the lobby ? IMHO, alliances are "hardcoded" in the level (mostly by dungeon placement). It would be usefull only for FFA levels where players have similar starting points (where having floating alliances makes sense)...

[2014-11-12 08:57] hwoarangmy commented on #309
We could add something in the makefiles so that when we build a "release" version, console commands are disabled. But IMHO, we should not be too strict about it as some of them may be usefull to find out bugs

[2014-11-12 08:58] akien-mga commented on #310
As you said, it would make sense only for FFA levels with similar starting points, so maybe it would be nice to have this feature, and to have a way to force the alliance in the levels file. Basically the same way as you give the possibility to choose a faction, but it is "hardcoded" in some levels (and the drop-down menu can't be used). WDYT?

[2014-11-12 08:59] hwoarangmy commented on #307
If I remember well, @Danimal696 said golem workers were done as a reward for a campaign or for some special levels. The easiest way would be to remove them totally from the spawning pools and, since we don't have a campaign for now, to let them as initial creatures in some levels only.

[2014-11-12 09:03] oyvindln commented on #309
Maybe we could have a "cheat mode" or "developer mode" or something. It shouldn't bee to difficult to add, I'm already working on improving the console a bit.

[2014-11-12 09:12] akien-mga commented on #307
Maybe they could be bought in some levels if we implement neutral shops. Think of the Goblin Shredder in Warcraft 3: http://classic.battle.net/war3/neutral/goblins.shtml :-)

[2014-11-12 09:34] hwoarangmy opened #315 "Lan: A client rejected during seat configuration makes the game stop"
Concerns players not used in seats. They should be gracefully disconnected and come back to the main menu (it works).
Concerning the game, it should launch as if they were not disconnected (ATM, creatures do not move even if the game is not frozen).

[2014-11-12 09:37] hwoarangmy commented on #307
That could be interesting. But for a very later milestone ^^

[2014-11-12 09:46] hwoarangmy commented on #310
I think it is feasible if we agree on that. We could use a team id = 0 to allow to allow setup and something else if we don't. The available values would be 1 per seat (if we have 5 seats, team id available would be 1 to 5).

@Bertram25 @Danimal696 WDYT ?

[2014-11-12 14:10] Bertram25 commented on #312
Hey,
Sincerely, I would propose to let the other players keep on playing.

In another issue, we could describe how we could let other players take controls on the allied units, and even handle reconnection. What do you think, guys?

[2014-11-12 14:12] Bertram25 commented on #312
I would also add that adding support to build for another player isn't something I'm fond of. I'd rather let the server decide which ally takes control, until there is a reconnection for instance. Again, feel free to comment and to prove me wrong. :)

[2014-11-12 14:15] Bertram25 commented on #310
Adding support to setup alliances when and only when it's permitted in the level is totally what I had in mind. :)

[2014-11-12 14:20] Bertram25 commented on #309
I like the cheat mode command while I do think let the console commands enabled would help debugging for now. Do you think adding a enable cheat commands this could be part of the future game options?

[2014-11-12 14:25] Bertram25 commented on #307
I like @hwoarangmy's proposal. As it could be simply made for the next release.
Please also note that in the next version, the workers should spawn due to a spell. Hence, the golem workers should probably follow the same logic, and not be part of spawn pools anyway... Would it be ok if we rediscuss that once we've added support for the first spell?

[2014-11-12 14:40] hwoarangmy commented on #312
That's an interesting vision. In the games I use to play, when a client disconnects, the game waits for 1 minute if he reconnects. If not, he is dropped.
Waiting one minute and let someone (or an AI) take control until he reconnects seems like a good idea to me (so that if he reconnects after 5 minutes, he still can re-join the game).

But if an ally takes control, we still have the problem of how

[2014-11-12 14:55] akien-mga commented on #312
IMO it would be really simpler to let the AI take control of the leaving player. Of course it means that our AI should be robust enough to handle a game setting that it has not created itself (we don't want it to start digging the claimed walls of a full grown base as if it was the beginning of a game, as the AI does currently in Scream in the dark).

Then if we can implement this, the player coul

[2014-11-12 15:17] hwoarangmy commented on #307
ok, we can remove it IMO

[2014-11-12 15:39] Bertram25 commented on #312
Yeah, I'd rather let the player as inactive or taken by an AI until reconnection. And not add support to make one player build for another one.

[2014-11-12 15:40] Bertram25 commented on #307
Yes, I think we agree.

[2014-11-12 15:47] hwoarangmy commented on #312
Seems like the simplest way to handle it (as soon as, as @akien-mga said, we have a decent AI)

[2014-11-12 15:57] Danimal696 commented on #310
not a bad idea

[2014-11-12 16:05] Danimal696 commented on #307
he could be built at forge after some research, but at the time it would be available it wouldnt be too useful due to having a developed dungeon and good creatures, it would really shine at the start of the level; for that reason i want it to be a bit of a tank so even at later stages of a level it could be sent to where kobolds die easily, giving the player a reason to build it.

[2014-11-12 17:20] Bertram25 commented on #312
Then, I'd propose to let the disconnected player's team live as is for now (until reconnection), and we'll add an AI for them as soon as we have one. This will be cool. :)

[2014-11-12 17:21] Bertram25 commented on #307
Ok, since he would be spawned due to a skill, I'd say we can remove it from spawn pools, and add him in a few levels for the show, exactly as @hwoarangmy said.

[2014-11-12 21:04] hwoarangmy commented on #310
After thinking about it, do we allow to have seats with fixed team id mixed with free seats ?
I don't really see a reason to it but maybe someones has another idea. If we don't allow that, it may be a good idea to set that in the map infos (in this case, team ids would be ignored).
WDYT ?

[2014-11-12 23:23] Bertram25 commented on #310
The case I can see so far would be to add or remove a handicap. Eg:
A map has fixed alliances of two players with, let's say, three other independant players/AI.
The fact of being able to change the teal id of the remaining three ones can achieve a lot of effects for the allied players.
Thus, I'd let the possibility to have fixed and selectable team id.
After all, if you don't want it in your map,

[2014-11-12 23:52] hwoarangmy commented on #310
Honestly, I don't think we will have such maps. Usually, if you fix a team, it is because you want every other players to play FFA VS your team or all VS your team. But as you said, we always have the choice to fix teams or not so we can implement that.

But then, let's take an example. If we have a team with seats 2 and 3 team = 1. seat 1,4 and 5 can be changed. Which choice shall I get ? Can I t

[2014-11-13 00:07] Bertram25 commented on #310
This model even goes further as it defines what potential subset of team ids you can choose for each player, if I understand correctly. IMHO, this could lead to very interesting maps and situations ;) So, I, for one, would be ok with it.

That's where I do not completely agree. ;) Having such possibilities is what will make such maps happen, IMHO, even if they might not happen right now. I may eve

[2014-11-13 00:18] hwoarangmy commented on #310
When I wrote it, it seemed clearer than it really was. But your understanding is correct ^^

It's too easy to prove I'm wrong if it's your map ;-)

We have done many things harder than that ;-) So, I will do that as I think that it may open more interesting possibilities ^^

[2014-11-13 00:55] Bertram25 commented on #310
Eh eh.

Fine by me :)

[2014-11-13 09:10] #315 closed, assigned to hwoarangmy

[2014-11-13 12:55] akien-mga opened #318 "Some textures have broken alpha layer or (useless?) non-alpha empty space"
Disclaimer: I don't know a thing about texturing and how the texture files are used by our engine, so I might be wrong in some of my comments.

As discussed in #317, some textures imported from the media repo have a broken alpha layer, for example the LavaGolem:
- https://github.com/OpenDungeons/OpenDungeons/blob/cb29cc13a5fca20930fdc9018273a9abdd5548e7/materials/textures/LavaGolem_diffuse.png
- h

[2014-11-13 13:35] Bertram25 commented on #318
@Danimal696 I can fix the alpha layer transparency but it is your call on how to handle this.

@akien-mga I'm not fond to change texture to JPG as it is a format implying loss on the image quality and forcing us to keep an original in the media repo. So I wouldn't change them personnally, only for a question of transparency. I can be wrong for any other reason though.

[2014-11-13 15:47] #293 closed, assigned to Bertram25

[2014-11-13 15:47] #314 closed, assigned to Bertram25

[2014-11-13 16:00] hwoarangmy commented on #313
Just because 2 BigKnights have killed your dungeon...

[2014-11-13 19:37] hwoarangmy commented on #307
When #319 will be tested and merged, it will be the occasion to remove the golem worker from the spawn pool

[2014-11-13 20:19] hwoarangmy commented on #15
Concerning AI, according to what we said during the lan, I've also had a look and do you think all those classes are really needed ?
- A factory, when we will have, at most, 4 or 5 AI. IMHO, it can be removed (and eventually be replaced by the AIManager if we want a wrapper for AI creation).
- The NullAI (which is not used and is the same than BaseAI excepted that it implements the pure virtual fu

[2014-11-13 20:33] oyvindln commented on #15
The fancy factory thing can probably be removed. I do think however that we should have some sort of wrapper that the AI use to communicate with the map, reading from it directly is probably okay, but maybe it could do actions more like the clients, but without needing to go through through the network.

[2014-11-13 20:58] hwoarangmy commented on #15
I would agree if the gamemap was not used in the AI. But since it is, I don't really see the point of having it.

[2014-11-13 23:29] Danimal696 commented on #313
didnt you have Pit Demons  to counter them? :D

[2014-11-13 23:38] Danimal696 commented on #318
Please lets only use PNG or TGA, jpeg is bad, lots of ugly pixels; i havent digg to see which models have this problems, but lava golem can be deleted entirely, its an unfinished thing that got in, it doesnt have skeleton or mesh, just the textures (why is it in the game in the first place?) a troll re-skinning will be a better choice than the effort to prepare this model having far better ones wa

[2014-11-14 09:56] hwoarangmy opened #320 "The crypt cannot be used in the editor"
I guess that a binding between gui and editor is missing ?

[2014-11-14 11:29] Bertram25 commented on #320
Probably... I'll have a look

[2014-11-14 12:39] Danimal696 commented on #320
the fixed texture coffin model is on forum

[2014-11-14 14:59] hwoarangmy commented on #15
BTW, if we want to keep the wrapper, we should properly decide what it is for to make sure it is used as it should. IMHO, ATM, it is not used as it was supposed to be.

[2014-11-14 19:08] Bertram25 commented on #15
@oyvindln So the point of having a wrapper is only based securing getting/setting info to the game map?
Isn't this something from the time where OD had plenty of semaphore running within objects?
As @hwoarangmy said, if there is no other need for it to exist, I see no point in adding a useless layer.
But maybe have you got something else in mind?

[2014-11-14 19:10] Bertram25 commented on #15
Btw, I do think we can remove the BaseAI or NullAI class, too. It's just a matter of a few tweaks and keeping the favourite name. ;)

[2014-11-14 19:11] Bertram25 commented on #313
Eh eh. It might have been your dungeon. ;P

Yes, but they do have spawn conditions. ;)

[2014-11-14 19:13] Bertram25 commented on #318
Ok, I'll remove the lava golem, but it would indeed be a good thing to have a look at the textures folder once. Let's say this issue can be closed once you've done some cleaning there, ok with it?

[2014-11-14 19:24] oyvindln commented on #15
Well the original point was to have something easily scriptable, and having a dedicated API would be simpler than exposing everything to the scripts and hope they don't call the wrong functions (Not that the wrapper class currently solves that.)

My thought now though, is that it would be cleaner to have all player action happen in the same place in the code, and we could do that by treating the A

[2014-11-14 19:31] Bertram25 commented on #15
That's very relevant, while different from keeping the AI wrapper. I do think you're right while refactoring some code here can be done step by step. Ok to open an issue about the gamemap god object problem and remove the wrapper for now?

[2014-11-14 19:59] Bertram25 opened #322 "Implement the Crypt logic"
From here: http://forum.freegamedev.net/viewtopic.php?p=60796#p60796
and here: http://forum.freegamedev.net/viewtopic.php?p=60821#p60821

First proposal from @Danimal696 :
- Creatures corpses are carried here by kobolds
- only one creature per coffin(active spot) allowed
- each coffin has a random rotting counter (say 30 to 50 seconds) that activates when a creature is deposited in it.
- when the

[2014-11-14 20:00] hwoarangmy commented on #15
Ok for NullAI but not for BaseAI. In the end, we will want to have several AI so it is not too predictable (and it would allow to make AI fight each others to test if them one against each other, which is interesting IMO) ^^
Moreover, in my mind, it was a class that could be used to store the shared function that all AI will use (more or less what is in the wrapper at this moment).

Well, AI playe

[2014-11-14 20:06] hwoarangmy commented on #313
If they had come to my dungeon, I would have kicked their knight asses and sent them back where they came from

[2014-11-14 20:06] Bertram25 commented on #273
Forgot to assign @Danimal696 since he'll look into the models sooner or later.

[2014-11-14 20:11] Bertram25 commented on #2
@akien-mga Hey :)

It seems my latest comment slipped through other things. IMHO, this issue can be closed as there is no viable ways to get rid of the angelscript source for now. Things may change in the future, we'll open a new issue if it happens. I'll give the module to the author as it may help, though.
Ok about this?

[2014-11-14 20:13] Bertram25 commented on #20
Adding light sources is left. I'll rename the issue.

[2014-11-14 20:19] Bertram25 commented on #15
Ok for me.

Maybe that's the point @oyvindln is talking about. I wouldn't like to speak for others also, but there might be a need to move or remove certain functions from this big object. Which ones, how and where must be taken point per point IMHO.

In any case, the current design is rather good already, and I do think we're in the right direction. :)
So without speaking of potential refactoring

[2014-11-14 20:21] Bertram25 commented on #313
lol

Or you would have tried like to stop and ouch, things would have gone badly, and Akien would then have stepped on your creatures corpses, and ... Ok I stop ;)

[2014-11-14 20:38] Danimal696 commented on #318
sure, ill tell when im done

[2014-11-14 20:42] Danimal696 commented on #15
i also vote to have a few types of AI; Null, Normal, Agressive and Defensive

[2014-11-14 20:54] hwoarangmy commented on #322
For this, we were talking about prison, not crypt ^^ As far as I've understood, spiders will be there just for fun

[2014-11-14 21:09] hwoarangmy commented on #15
In the end, yes (but not NullAI - if we want the keeper to do nothing, we just have to not assign an AI). But for now, I would vote for: "doesn't work", "works more or less" and "buggy" ^^

[2014-11-14 21:09] hwoarangmy commented on #313
That was the other option ^^
But for my defense, @akien-mga said he was not playing so I didn't see he actually was until he was destroying my dungeon heart. He is as evil as I thought he was...

[2014-11-14 21:55] akien-mga commented on #2
Fine by me :-)

[2014-11-14 21:56] #2 closed, assigned to akien-mga

[2014-11-14 22:56] #320 closed, assigned to Bertram25

[2014-11-14 23:43] Danimal696 commented on #322
Yes, only to make the Cript creepier ;)

[2014-11-16 11:09] #308 closed, assigned to hwoarangmy

[2014-11-16 11:09] #310 closed, assigned to hwoarangmy

[2014-11-16 11:18] Bertram25 commented on #307
I confirm golem workers now behave as expected and at least the big test map has got golem workers from the start. So yeah, let's remove them from the spawn pool. :)