[2014-07-29 11:29] Bertram25 opened #1 "Bertram's own TODO-list"
**General:**
- [x] Import issues in the issue tracker

Once the move to github is all and well:
- [x] Fix the repository links in the readme.
- [x] Check the wiki and update the compile instructions/FAQ and such...

**Models:**
- [x] Add new gold bags.
- [x] Add golem and beetle monster.
- [x] Add support for a basic hatchery room.

**Creatures:**
- [x] Make the creature action list be cleared whe

[2014-07-29 11:52] Bertram25 opened #2 "Dependencies: Add a CMake option to search for system-wide angelscript + drop tinygettext and tinyxml"
#### Edit by Akien & Bertram

To reflect the change of scope of this issue, the tasks that it covers are now :
- ~~Add a CMake script and option to search for system-wide angelscript~~ (Won't be done until the lib as a system shared object is more commonly existing in distros).
- [x] Drop tinygettext - Part of #132 - Done in #173
- [x] Drop tinyxml - Part of #132 - Done in #190
#### Previous comme

[2014-07-29 11:59] Bertram25 opened #3 "Add a common options menu"
At the moment, it is impossible to configure the video, audio and game options whatever they could be without typing in the console for some of them, and using the Ogre starting pop-up.

The main app menu should display an `Configuration` button and make it display a common menu with the following window with the given tabs:
- Video
- Audio
- Game
- Objectives (The objectives window could be moved

[2014-07-29 12:01] Bertram25 opened #4 "Creature behaviour enhancement."
- [x] Clear out the creature active action list when they are taken by the Keeper, so that they start fresh when dropped somewhere.
- [x] Check the current code to make sure the fighters attack or flee as soon as they see enemy creatures.
- [x] Make the worker more likely flee when they see enemy creatures.
- [ ] Make the workers check for marked-to-dig tiles anywhere in the map, when they don't s

[2014-07-29 12:02] Bertram25 opened #5 "New UI: Add a common in-game window fitting the main menu style"
I might also fix a few controls on the way

[2014-07-29 12:04] Bertram25 opened #6 "Main menu : Make it look more definite"
The following options should be added:
- Campaign (only here the campaign list is needed, this gamemode would be the only one to call upon it; possibility to hold more than one campaign, just like Battle for Wesnoth does)
- Skirmish (all levels from the game are accessible from a list here, new ones can be added by finding and adding to the list)
- Multiplayer
- Load (a saved game) Technically, a

[2014-07-29 12:07] Bertram25 opened #7 "Creatures stats upgrade Mark I"
- Make the creatures stats handled as described here: http://forum.freegamedev.net/viewtopic.php?p=56808#p56808
- [x] Water and lava should be set passable/impassable independently. #101
- [x] Creature not flying should be made slower in lava/water and not walk above but lower in the tile.
- [x] MP should disappear as later add support for skills obtained on a given level, with a cool down. (in an

[2014-07-29 12:24] Bertram25 opened #8 "Make commonly made icon for rooms/traps and creatures + how-to"
The Rooms icons have already been adapted, but other are missing and need to be added.

A how-to do it should also be added so we can keep a common way to do it, improve that way, ...

[2014-07-29 12:47] Bertram25 opened #9 "0.4.9 release"
This version is aiming at providing a basic yet functional game with a few things to do, at least:

**General:**
- [x] The game is stable and doesn't crash at exit.
- [x] The game does use threads only when needed. (Through sf::Thread)
- [x] The code has been reviewed, is following conventions and doesn't use not GPL'ed code.
  (Still a few files to review.) #91
- [x] The license of every files is

[2014-07-29 12:57] Bertram25 opened #10 "Move source/ files in sub-folders according to their subject."
E.g: Move all the entities speaking files into a Entities/ sub-folder. Move the game map related files into a GameMap/ subfolder, …

A precise list of what should move is to be done first, though,

[2014-07-29 13:02] Bertram25 opened #11 "Creature mood system"
See also: http://forum.freegamedev.net/viewtopic.php?p=56960#p56960

A new config file defining the mood will be introduced. It will define mood modifiers (each having a unique name).
- Each creature starts with a default mood of 1000 (configurable)
- Mood modifiers are computed during the creature upkeep. But not each turn, it will be randomly computed to avoid computing it too often (with a rand

[2014-07-29 13:08] Bertram25 opened #12 "Portals: Add parameters to trigger interesting effects"
- [x] Permit wave of new creatures at once instead of only one at a time. Used for heroes teams.
- [x] Add support to specify the room(s) needed to spawn the creature and how big is the biggest of each room type must be. See also #11
- Add support for new per faction parameters:
  - [x] `max-creature-for-first-portal`: Tells the max number of creature the first player can have with his first porta

[2014-07-29 13:12] Bertram25 opened #13 "Hunger system"
Once the hatchery room has been added, creatures should get an additional parameter making them grow hungry as the time flies. from 0 to 100% hungry.

It will work much like the Quarter rooms as when hungry (<= 33%), a creature will go back to the hatchery room, fetch a chicken, slay it, filling is hunger by something like one quarter % and go back to what it was doing.

[2014-07-29 13:17] Bertram25 opened #14 "Tileset - Make it configurable"
Add a file configuring the tileset meshes to load and rotate according to their neighbor tiles.

This file will permit to setup the mesh file to seek, how to rotate it, and will have to support when two tiles type are foreign or not when computing the mesh file to load according to its 8 neighbors. Straight and diagonal ones.

The file will be called `config/tileset.cfg`
It will list every neighbo

[2014-07-29 13:20] Bertram25 opened #15 "Basic Keeper AI"
The current AI is working, yet it still needs a few additions:
- [x] The AI should be able to build treasure rooms, hatchery, quarters and a training hall
- [x] The AI should take care of building rooms to get the maximum "active spots" (represented by room models), by using squares surrounded by accessible and claimable dirt.
- [x] The AI should drop fighters near-by other enemy creatures to trig

[2014-07-29 13:26] Bertram25 opened #16 "Add spells support"
Keeper's kobold workers shouldn't spawn through the temple automatically.

Instead, the Keeper should have a Spawn kobold spell functional when he's still got his temple.
- The spell should then cost mana. The mana cost would be set according to the number of Kobolds the Keeper has already got.
- The first three Kobold workers would be free of charge.
- The kobold should be spawned where the Keepe

[2014-07-29 13:34] Bertram25 opened #17 "Editor: Fix cursor behaviour when moving a creature around."
Currently, moving a creature around makes the tile selector duplicate itself from the dragging start to the dragging end.
While this is correct when selecting tiles to add or placing rooms, this is not when doing something else.

The bug was somehow introduced with this commit: https://github.com/OpenDungeons/OpenDungeons/commit/eb7806ed2b1c70109cf9a67a61a279979565de78

[2014-07-29 13:37] Bertram25 opened #18 "Editor: Make it possible to put a creature on any ground tile as it seems broken somehow."
At the moment, putting a creature on a tile that is not claimed by the same team is not possible in the Editor.
This might come because the logic used there is shared with the game mode.

the goal is to stop sharing the logic if there is some, and fix this.

[2014-07-29 13:38] Bertram25 opened #19 "Editor: Fix moving map lights"
At the moment, moving map lights is weird on the editor. Moving lights should be functional but also easier to grab.

[2014-07-29 13:40] Bertram25 opened #20 "Editor: Add support to add light sources"
When opening a map with the editor, the possibility to add lights, creatures, and rooms are missing.
The possibility to remove them using specific buttons should be added also.

[2014-07-29 13:44] Bertram25 opened #21 "Editor: Use the status window to set up parameters of entities."
At the moment, in game, when you middle-click on a creature, a window opens to show it stats. This will need to improved in game, but not only.

In the editor mode, the same kind of window should be available for every entity types, with edit boxes to permit editing their parameters.

For instance:
**Creatures**
- Creature (unique) name
- Creature team id
- Initial stats
- Initial equipment

**Lig

[2014-07-29 13:48] Bertram25 opened #22 "Editor: Add support to create a new level or load an existing one."
- [x] At the moment, the editor can only open the `levels/Test.level` as it is hard-coded.
  A loading menu should be added so that one can choose to load an existing level.
- [x] A menu should also be added to create a new one.
- [ ] In the editor, a menu should be added to save the level and setup its common parameters:
- Level non-translated name
- Level non-translated description
- Made for mu

[2014-07-29 13:50] Bertram25 opened #23 "Music handling enhancement"
At the moment, music handling is very basic.
- [x] Change music tracks handling from integer index to a string based array.
- [x] Add fade in/fade out and cross-fading support.
- [x] Adds support to make the music played configurable in the level a map data.
- [x] Adds support for combat and peaceful music using a cross-fade.

[2014-07-29 13:58] Bertram25 opened #24 "Angel script: Preliminary tasks"
At the moment, Angel Script (AS) is no more well tested while integrated to the engine already. Here is a list of preliminary tasks to do in order to improve that:
- [x] Upgrade AS code and test whether it breaks something. #132
- [ ] Reenable the AS integration that was disabled in #465
- [ ] Add support to load a script along with a new game map.
  The script filename will have to be a level fil

[2014-07-29 14:33] Bertram25 opened #25 "Made OD follow paths policies on Windows, Mac and Linux."
At the moment, the game app is writing log files and shader debug data in the same place that it is running.

While this is useful when debugging, this should not happen on release mode and follow system standard data paths instead.
User saved games should also do the same.

[2014-07-30 17:23] Danimal696 opened #26 "Limiting FPS on main menu screen"
while capturing a video i saw the main menu refresh at 1530 frames per second!!! while the game ranges 30-50 fps ; shouldnt it be limited? i know those crazy frames are because my graphics card is good, but it could fry any graphics card regardless of quality if left unatended while at that menu, Bizzard had to do something like that when they released Starcraft 2:
http://www.bit-tech.net/news/gam

[2014-07-31 11:11] Bertram25 opened #28 "Fix material scripts warnings"
The following warnings in material scripts should be fixed in order to make sure they are working the way it is intended, but also to identify new warnings more easily.

The RTShaderLib material files are also complaining, so they might need to be updated at first to see whether things improve.

Here is the warnings seen so far:

[code]

[code]

[2014-07-31 11:13] Bertram25 opened #29 "Ogre: A texture is manually loaded without any loader given?"
I saw this warning in the logs:

[code]

This will have to be investigated. ;)

[2014-08-02 08:17] Bertram25 commented on #28
Fixed with 1c82fca951834c3e5e7c3b965a5a9c3b6c1a43fd and 8f1026c12799f3f5976fe42a0fa1f1412c95ed85

[2014-08-02 08:17] #28 closed, assigned to nobody

[2014-08-02 09:18] hwoarangmy opened #31 "Add support for chat message in game"
When ingame, if the user presses enter, he should be able to send a message to the connected players.
The messages sent that way should be displayed on all players screen (support for teams will come later).

[2014-08-05 15:09] Bertram25 opened #34 "Add support to make creatures drop something on death."
As reported by @Danimal696, certain creatures should drop gold when dying, but also other items, like equipment and spells.

Support for that should be configurable.

[2014-08-05 15:58] hwoarangmy opened #35 "Workers cannot be dropped on mined gold tiles"

[2014-08-05 18:40] #26 closed, assigned to hwoarangmy

[2014-08-05 21:19] #35 closed, assigned to hwoarangmy

[2014-08-05 21:37] Bertram25 opened #38 "Buffer overflow at app quit on linux since latest multiplayer's patch"
Here is the bt, introduced in: https://github.com/OpenDungeons/OpenDungeons/commit/d18a98e3dbf3b18b77cdeb9325e9c88125f47af2

I don't know whether it is happens on Windows.

[code]

[2014-08-05 21:42] Bertram25 opened #39 "Tile refresh small regression"
Hi,
- On single player mode, when selecting tiles to dig, the tiles don't get colored. They only get colored when the neighbor tile are dug.
- The room tiles on newer rooms (after the map was loaded) aren't displayed. Only the room objects are displayed once the neighbor tiles are later changed to claimed walls for instance.

This was only seen on Linux. I didn't try on Windows yet.

Introduced si

[2014-08-05 21:44] Bertram25 commented on #39
@hwoarangmy For info.

[2014-08-05 21:45] Bertram25 commented on #38
@hwoarangmy For info.

[2014-08-05 21:46] hwoarangmy commented on #38
I've never seen it and I've quitted quite often. Is it systematic when you quit ?

[2014-08-05 21:50] Bertram25 commented on #38
Yep, but tested only on linux so I guess it's platform specific. This might also be linked to sfml-network though, and not our fault.

[2014-08-05 22:02] hwoarangmy commented on #38
Ok, I will try with my linux virtual machine tomorrow if I can reproduce. I've had a look but I didn't see anything obvious

[2014-08-05 22:03] akien-mga opened #40 "Angelscript MSVC files polluting git clones (Linux, UTF-8)"
Each time I want to update my git clone of the repo, I am warned that some angelscript files are modified locally, and that I should commit or stash my changes prior to do a pull --rebase.

I suspect an encoding issue, but it's quite bothersome; would there be a way to get rid of these unwanted local changes?

[code]

[2014-08-05 22:03] Bertram25 opened #41 "Try to find a workaround for the GLSL error: Error prior to using GLSL Program Object : invalid value"
This above was wrong: The error happens when you have tiles marked to be dug on screen. I could reproduce it 100% of the time when marking dirt or gold to dig.

This also might be the (or a) cause of the lack of coloring when marking a tile as described in #39

[2014-08-05 22:07] hwoarangmy commented on #39
Seems like I need to test better on linux :)

[2014-08-05 22:07] Bertram25 commented on #39
Np. Nothing can be perfect from the start. ;)
No useless pressure though. We'll find out eventually.

[2014-08-05 22:43] akien-mga opened #42 "Make sure the CMAKE_CXX_FLAGS are actually defined in CMakeLists.txt"
As reported by several users on the forum, compiling OD does not always work out of the box since most of the time the "-std=c++11" flags is not actually defined.

On the affected systems (among which Mageia 64bit), it seems that the CMAKE_COMPILER_IS_GNUCXX variable is empty, therefore the flags are not added to CMAKE_CXX_FLAGS.

I've found that moving the project declaration ( https://github.com

[2014-08-06 06:44] Bertram25 commented on #40
It's weird. I don't have this problem. o.O'

A good way to fix this would be to import the latest stable AS source files with the correct encoding/line endings.

[2014-08-06 07:04] Bertram25 commented on #42
@akien-mageia Yep, moving the 'project' statement to the beginning of the file broke it for @tomluchowski AFAIK. That's why we did nothing and added the CMake flags by hand.

IMHO, the whole file needs to be redone anyway and follow more conventional ways of doing it as you said. I'd start it all over based on a better model and see whether things improve afterwards.
Just my two cents, though.

[2014-08-06 09:23] hwoarangmy commented on #38
@Bertram25
I Tried with my virtual machine but the terminal is frozen as soon as I launch OD so I cannot do much.
The only thing I could see is that we call twice the disconnect function if you used the exit popup to exit the game so we remove twice the socket from the client. Under windows it doesn't seem to be a problem. But contrary to most other functions, the SocketSelector do not talk about

[2014-08-06 10:20] Bertram25 commented on #38
@hwoarangmy Sure. :) But will be this evening at best. Is it still working Windows with the given change?

Is somebody else can test before that, please do so.

[2014-08-06 18:39] Bertram25 commented on #38
@hwoarangmy Yep, it works!

[2014-08-06 18:47] #38 closed, assigned to nobody

[2014-08-06 18:48] Bertram25 commented on #38
I pushed the patch directly as it was a reviewed quickfix.

Feel free to change the style later if needed, though.

And thanks for finding this one! :)

[2014-08-07 07:12] Bertram25 opened #44 "Crash when adding a newly made room."
I've got this crash when placing a treasury tile after commit: 5f0e685bb85c4915a566febd409bff0ae6c5cd8c

(Note that the room tiles weren't shown anymore as reported in issue #39)

[code]

TODO: Add back-trace or even better fix it

[2014-08-07 07:13] Bertram25 commented on #44
@hwoarangmy For info. As I'm solely concerned so far, I'll try to get more info.

[2014-08-07 07:16] Bertram25 commented on #39
@hwoarangmy

Seems related to #41 in fact from what I've seen. Have you got the GLSL warning when having marked tiles to dig on screen (on ubuntu)?

[2014-08-07 07:22] Bertram25 commented on #41
@hwoarangmy @Danimal696
My laptop GPU (and linux drivers) might be in cause there.

I'll have a look at whether it is possible to disable the normal sub state rendering (SRS) when marking a tile to dig and renable it when unmarking it.

[2014-08-07 07:58] Bertram25 commented on #24
See also #40

[2014-08-07 08:13] hwoarangmy commented on #44
Could you tell me more ? Which map have you tried ? How big was the new room ? Was it next to another treasury ? I will do some tests to see if I can reproduce.

[2014-08-07 08:19] Bertram25 commented on #44
Sure. :)

I tested it on TestSingleplayerSmall.level and TestSingleplayer.level

I tested adding one and several tiles.

Now you tell it, yes it was, each time. I'll try later to add some unconnected rooms.

[2014-08-07 09:23] hwoarangmy commented on #44
I have tested both and I cannot reproduce the problem. Is it systematic ?

EDIT : tested under windows

[2014-08-07 09:46] Bertram25 commented on #44
Fortunately, or unfortunately, yes it is under Linux. I'll check the logs, too, as Ogre might tell something.
Sorry for being troubles this time. ;)

[2014-08-07 10:01] akien-mga commented on #44
I'd definitely say "fortunately". A systematic bug is way better than an unpredictable one ;-)

[2014-08-07 10:07] hwoarangmy commented on #44
I will say the same. A systematic bug is usually not very difficult to debug. Even if sometimes, we just find that the architecture of the software is just not adapted and we have to break everything :)

[2014-08-07 14:48] Bertram25 commented on #44
Yep. :) Still, I need to find some clues... Maybe this evening, but I can't tell, sorry.

[2014-08-07 17:07] Bertram25 commented on #44
Latest news:
When adding a room not connecting to a former one, the new room tile doesn't show up but no crash.

I tried disabling the RT shader init, but it doesn't change anything. Same behaviour.

[2014-08-07 18:01] akien-mga commented on #41
I could reproduce the crash on Linux with my Intel GPU, I'll try with my nvidia GPU now.

[code]

I'm not 100% sure how I reproduced it, I'm still learning the gameplay :P

[2014-08-07 18:14] akien-mga commented on #44
I experienced a crash when trying to place a "Treasure Room" tile next to the existing treasure room (spawn point) in TestSingleplayer.level. This was on Mageia 64bit with Nvidia GPU and proprietary driver:

[code]

[2014-08-07 18:20] akien-mga commented on #44
Same thing with my Intel GPU with the open source intel driver:

[code]

Note that the GLSL error from issue #41 appears with the intel GPU but not with nvidia.

[2014-08-07 18:21] akien-mga commented on #41
It seems the GLSL issue does not appear with my nvidia GPU, though I got a crash for similar reasons (i.e. Treasury_*_node not found).

[2014-08-07 21:27] Bertram25 commented on #44
Hi there,
I'm sure the bug isn't related to the RT Shader as it is the same behaviour when not used, the game being uglier and the GLSL warnings removed are the only differences.

@akien-mageia I do think intel drivers have got a problem with certain glsl shaders. just as seen in this link (and many others):
https://www.opengl.org/discussion_boards/showthread.php/184437-GLSL-Shaders-not-working-on

[2014-08-07 21:46] Bertram25 commented on #44
@hwoarangmy Now we have two game maps, might there be that the unique room number used to create rooms doesn't work for any alignment reasons, different between windows and linux?

i explain:

I'm almost sure the exception is triggered here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/RenderManager.cpp#L425

Where the node is requested.

The name is build here:
https://git

[2014-08-08 09:47] hwoarangmy commented on #44
As you can guess, I've add to deal with this kind of problem. So in fact, there are 2 phases :
- During map loading, both the client and the server build the gamemap using their own unique numbers which are expected to be equal (as they do everything on the same order, it should be).
- During game time, every game entity is created by the server only. It is it's responsability to give the name he

[2014-08-08 10:00] Bertram25 commented on #41
News: There is a log of work on improving GLSL shader parsing atm.
Commit log example:

[code]

So I'd say let's wait for next mesa versions & intel glx drivers.

[2014-08-08 10:01] akien-mga commented on #44
I'm running KDE4 on Mageia Cauldron 64bit. Cauldron is the development version for the next stable release, and it's the only version which has all needed dependencies to build OD out of the box (namely OGRE 1.9.0 and CEGUI 0.8.3).

You can install it either through netinstall or using an ISO of Mageia5 alpha1 release last month: http://www.mageia.org/en/5/
Cauldron is by nature a rolling release,

[2014-08-08 10:06] akien-mga commented on #41
Nice :-)

BTW, do you know if the GLSL shader issues are a regression in cutting-edge mesa and intel drivers, or would it also affect previous versions? I'm running Xorg 1.16 with the latest mesa and intel versions here.

[2014-08-08 10:21] Bertram25 commented on #44
Hi @hwoarangmy Thanks for all the insight. I must say I was tracking the same paths when i received your comment. :)

Good. :)

It's a good thing, but it might be a little more complicated than that:
There is an interesting comment here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Room.cpp#L165

I think we have indeed two separate use cases to check. The room build and the

[2014-08-08 10:33] Bertram25 commented on #44
Ah, I was thinking we could also change some API to make sure of a few things:
- Rename the ODFrameListener game map to mClientGameMap & relatives, i.e.: getClientGameMap();
  and do the corresponding in the ODServer?

[2014-08-08 10:45] Bertram25 commented on #41
The former glsl shaders were the one from Ogre 1.7 and weren't working for some reason on linux when used against Ogre 1.9 AFAIK.

So I can't tell whether it is a regression in Ogre shaders, in intel drivers, or on both sides.
I'd need to setup some glsl shader debugger (like glslDevil) and have a look at which file(s) and which statement(s) is(are) actually triggering the warning as a start point

[2014-08-08 11:22] hwoarangmy commented on #44
@akien-mageia Thanks, I will download it and try.

@Bertram25 yes, that's my comment ;)
In fact, I had some trouble with room absorbtion. I had 2 choices :
- send the deletion message on the absorbed room and recreate everything.
- as the client already have all the information about the old room, ask him to build the new one and merge it himself

I chose the 2nd option because it implies less com

[2014-08-08 12:22] Bertram25 commented on #44
Yep, considering all the constraints, it's amazing at which speed you were able to deal with all that. :)
Thanks also for answering all my sometime silly questions.

I'm all for documentation, but from experience, the doc should lie within the code at first, even a short one. So developers too lazy to even open the wiki won't have excuse or reasons to add bad things. I am of the kind who love self

[2014-08-08 13:26] hwoarangmy commented on #44
maybe the server should even tell the client where to put room objects and how.
 => It's already done ;)
That's just the room absorbtion that was a little bit more tricky but from what I've seen, it does work now.

[2014-08-08 13:55] Bertram25 commented on #44
Wait, what? Already? :D \Ö/

[2014-08-08 14:44] hwoarangmy commented on #44
No, no, sorry, I didn't meant that I've done anything. Room absorption is supposed to work in the current code (just like room objects managed by the server) and I've done nothing more for this. Sorry, I still don't know what is the problem you have since I cannot reproduce it :(

[2014-08-08 14:59] Bertram25 commented on #44
Np. I'll add logs spying room names and we'll see. ;)

[2014-08-08 18:54] #31 closed, assigned to nobody

[2014-08-08 20:28] Bertram25 commented on #44
I deleted my latest comment as it was wrong, sorry again.

[2014-08-08 20:35] Bertram25 commented on #44
Now the good log:

[code]

[2014-08-08 20:37] Bertram25 commented on #44
My current conclusion is that the render requests of rooms made while in game aren't triggered/processed, hence not creating nodes and making the game crash when anything tries to interact with non-existing nodes and room tiles.

[2014-08-08 21:11] akien-mga commented on #44
I'm on #opendungeons, feel free to stop by :-)

[2014-08-08 21:15] Bertram25 commented on #44
Latest addition:
When creating the unconnected room, the meshLocal() functions are called for the client game map

[code]

But, the tile number to create is 0, not 1.

[2014-08-08 21:53] hwoarangmy commented on #44
Rooms are built by creating 1 per 1 evey tile on which are the room. From what I see in your log, it seems the room has no tile.
Because the problem seems architecture related, I would guess it comes from the ODPacket sent from the server to the client. Probably the vector size. If you want to bet a beer, I would say that the size_type returned by vector.size() is not an int on your systems.
So, t

[2014-08-08 21:53] hwoarangmy commented on #44
PS : thanks for the feedback :)
PS2 : It would also explain the marked tiles not shown
PS3 : I'm almost sure I'm right so I'm gonna do the patch right now

[2014-08-08 22:00] Bertram25 commented on #44
@hwoarangmy you are, I didn't see your comment and fixed it with this:
            uint32_t nbTiles = static_cast<uint32_t>(coveredTiles.size());
            serverNotification->packet << intType << player->getSeat()->getColor() << nbTiles;

[2014-08-08 22:03] Bertram25 commented on #44
@hwoarangmy
PS: You're welcome :) I'm happy :D
PS2: I think it too
PS3: Wanna do the patch or will I?
PS4: I am on IRC atm.

[2014-08-08 23:02] #39 closed, assigned to nobody

[2014-08-08 23:02] #44 closed, assigned to Bertram25

[2014-08-09 00:02] Bertram25 opened #47 "Several segfault gathered when playing multiplayer"
Hey,

We've noted down a few segfault causes while playing:
- [x] Typing too fast in the chat makes the key handled as normal keys. Thus if you type QS too quicky the camera will become crazy. #49
- [x] Using too long nicknames or nicknames with spaces makes the client segfault. (Seems ok, please reopen a new issue if it still happens.)
- [x] Typing special characters in chat makes the client segf

[2014-08-09 00:06] akien-mga opened #48 "Chatbox input should check the typed characters to prevent a segfault"
As discussed on #opendungeons, typing unusual UTF-8 characters in the chatbox makes OD crash.
This was tried with the " þ " character (Alt Gr + P on Linux).

Some checks should be added for data validity before trying to actually load/display the input characters.

[2014-08-09 00:15] akien-mga opened #49 "Camera rotates when typing "A" or "E" quickly in the chatbox"
@Bertram25 and I noticed that when typing messages quickly in the chatbox, the camera enters the rotation mode (both testing on Linux IINM).

It seems that typing "A" or "E" quickly with other letters triggers the normal behaviour of the "A" and "E" key (i.e. rotate the map to the left/to the right). Most likely other letters might trigger other GUI behaviours too.

@hwoarangmy had some clues abou

[2014-08-09 00:17] akien-mga opened #50 "Chatbox stops working after a while"
When playing a local game, I was able to speak to myself at first. After a while, the chatbox stopped working: it could be opened and closed, but typing letters would only trigger the usual GUI behaviour of those keys.

I will investigate better tomorrow.

[2014-08-09 00:19] akien-mga commented on #47
See issue #49 for the first point. Note that it AFAIK did not trigger segfaults.

See issue #48 for the third point.

[2014-08-09 00:20] akien-mga commented on #47
Backtrace of a segfault that I got in a single player game after 10 minutes or so:

[code]

I might be missing some debug symbols too, btw.

[2014-08-09 07:45] akien-mga opened #51 "Some dirt block remain after they have been dug"
I experienced a small inconsistency in the digging algorithm and/or communication with server during a multiplayer game, a shown by this screenshot:

![opendungeons-bug-gold-leftovers](https://cloud.githubusercontent.com/assets/4701338/3865497/c0a55dee-1f98-11e4-9402-cfbf915d50e9.png)

I had marked the whole rectangular area (half claimed on the screenshot) to be dug, and the yellow digging create

[2014-08-09 07:48] akien-mga opened #52 "Mysterious ticking noise at each turn"
While in game, I hear a ticking noise at each passing turn, as if a timer was running.

@tomluchowski told me he heard it too, but I could not understand whether it was a bug or a feature (in which case it should be made clearer what this ticking noise means, because it sounds like a sound handling bug).

[2014-08-09 08:15] akien-mga commented on #40
It seems that the problematic files have a funny encoding:

git diff indeed shows <U+FEFF> at the top of the file (git diff simply shows me the whole file content remove, and then the whole file content added. Textually, it's the same content).

First time I hear of BOM: http://en.wikipedia.org/wiki/Byte_order_mark

My system is plain UTF-8, maybe that's related?

[2014-08-09 08:21] akien-mga commented on #40
It seems the Unicode standard does not recommand using BOMs:

Seen here: http://stackoverflow.com/questions/2223882/whats-different-between-utf-8-and-utf-8-without-bom

[2014-08-09 08:53] akien-mga opened #53 "Switch remaining DOS-like line endings (CRLF) files to Unix-like (LF)"
The following files in the repo use DOS-like line endings (CRLF):

[code]

I would like to get them switched to Unix-like line endings (LF). That can easily be done (if it were for all of them) with:
`dos2unix $(find -exec file {} + | grep CRLF)`

I'm not sure about the angelscript files, since they are already problematic for me in "git status", but maybe we could fix at least the ./cmake/modules

[2014-08-09 09:14] akien-mga commented on #50
The causes seems to be related with the console that can be accessed through F12. After you've toggled it once, the chatbox does not accept input anymore.

[2014-08-09 09:26] akien-mga commented on #51
Could be related, some other funny glitches (golden walls):

![odscreenshot_1](https://cloud.githubusercontent.com/assets/4701338/3865732/23a7572c-1fa7-11e4-9b68-df03f3635338.png)
![odscreenshot_2](https://cloud.githubusercontent.com/assets/4701338/3865734/2680e756-1fa7-11e4-825c-939aaebfad0f.png)

EDIT: Actually the above two screenshots were taken using my Intel GPU, so it might be more related

[2014-08-09 09:29] Bertram25 commented on #53
I think a good thing would to first setup the the line ending behavior for the given line endings in .gitattributes.
If we don't do that, we'll alaways have such problems.

[2014-08-09 09:35] Bertram25 commented on #40
@akien-mageia You can tell it: BOM is something stupid, when used in UTF8 files. ;)
We should remove any BOM found as soon as we can.
That said, please remember that sln files are MSVC project files and are to be used only on windows where it makes sense to have CR+LF line endings (Let Microsoftian sotware use BOM if they want, it's not important.).

The .gitattributes should prevent git from sett

[2014-08-09 09:40] Bertram25 commented on #52
@akien-mageia That "ticking" sound comes from the fact that some worker is digging somewhere.
The digging sound is triggered each turn, explaining why it is sounding like some ticking:

https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Creature.cpp#L1471

More precisely, the digging sound triggered is handled with SFML as a spatial with a position, a velocity, ... but the values

[2014-08-09 09:45] akien-mga opened #54 "Game overall too dark with Nvidia on Linux (optimus/bumblebee)"
I was not mistaken yesterday when I said the game was a bit too dark, even for a "damp, dark and dangerous" dungeon :-D

Here are two comparative screenshots, one taken with my Intel GPU (where we know GLSL shaders don't work as per issue #41), and one taken with my Nvidia GPU. Note that I'm accessing the Nvidia GPU through the bumblebee daemon on Linux, which is kind of a hack, so the issue might

[2014-08-09 09:49] Bertram25 commented on #51
Good catch!

The golden walls are in fact the first dirt model loaded with a normal map:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/RenderManager.cpp#L1310
It's the same thing than when you see a shiny wizard, next to a not shiny one. And it is another issue.

But the ghost walls are indeed something to fix, even if I have no clue for now. :)

[2014-08-09 10:01] Bertram25 commented on #54
@akien-mageia Ah indeed, it's dark ;)
I wondered: Did change the gamma in the nvidia settings, for instance? We don't have any configurable video options, so this might be a cause. ;)

Also, I'm sure the actual goal will later be to create a source light per rooms, for instance. As it seems some code was prepared for this. This would help a with you issue, IMHO.

[2014-08-09 10:06] Bertram25 commented on #47
Ok, let this issue be only about segfaults. Sorry, I mixed things here and it's a messy practice.

[2014-08-09 10:10] Bertram25 commented on #29
This is where the texture is defined:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/MiniMap.cpp#L62

See here for more info on how to fix this:
http://ogre3d.org/forums/viewtopic.php?f=2&t=21705

[2014-08-09 10:12] Bertram25 commented on #4
The task list is obsolete as is, but the given point will have to be checked once what is discussed below is implemented:
http://forum.freegamedev.net/viewtopic.php?p=58430#p58430

[2014-08-09 10:23] akien-mga commented on #47
I've just played for half an hour on local multiplayer (hosting the server and the client on the same machine), and I experienced no segfault :-)
I can't tell what was different this time, maybe something in the AI behaviour?

[2014-08-09 10:43] akien-mga opened #55 "Missing model for the cannon trap"
The cannon trap can be placed in-game, but it has no model, so it's a bit confusing. See:

![odscreenshot_22](https://cloud.githubusercontent.com/assets/4701338/3865887/f23b4ca6-1fb1-11e4-8640-edb348494d0f.jpg)
The claimed tile under the cursor (in the middle of the training area) is my cannon trap, and it just fired a cannonball at a drake! :)

[2014-08-09 11:21] Bertram25 commented on #55
Might be the same bug than with the rooms not showing, as the trap cannon was shown before.
Nice catch anyway. :)

[2014-08-09 15:00] Bertram25 opened #56 "AI: Segfault when killing its temple"
I killed the AI's rooms in the single player small map. I was finishing its temple and this made the game crash.
[bt]: (1) ./OpenDungeons.bin : KeeperAI::buildSleepRoom()+0x58 [0x59e4c8]
[bt]: (2) ./OpenDungeons.bin : KeeperAI::buildSleepRoom()+0x58 [0x59e4c8]
[bt]: (3) ./OpenDungeons.bin : KeeperAI::doTurn(double)+0x30 [0x59ea70]
[bt]: (4) ./OpenDungeons.bin : AIManager::doTurn(double)+0x30 [0x54

[2014-08-09 16:54] hwoarangmy commented on #56
I have already seen that but did not search a fix yet. I've seen at least 2 ways which seems to have the same root. The problem comes from KeeperAI.cpp.
When the dungeon temple has no tile, Tile\* central = mAiWrapper.getDungeonTemple()->getCentralTile();
return NULL. But there are some cases where it is used without testing (I remember having seen the segfault while the AI was trying to build a r

[2014-08-09 16:55] hwoarangmy commented on #56
Before fixing that, I think we should decide what to do when the dungeon temple gets killed. Game Over for concerned player ? Stopping AI if it is AI player ?

[2014-08-09 16:57] hwoarangmy commented on #55
Yes, I've had a look and it is the same bug. Seems like I missed it while I was hunting yesterday :)

[2014-08-09 17:02] hwoarangmy commented on #54
yes, I've seen some code for it too. But it has been deactivated so there might be a reason (too laggy?)... We could ask oln. Maybe he remembers why...

[2014-08-09 17:04] akien-mga commented on #54
I'll try to change the gamma in the nvidia settings to see if it's better.

[2014-08-09 17:12] akien-mga opened #57 "Linux: Drop the ".bin" binary suffix (i.e. encode the data path into the binary?)"
I've started some work on the CMakeLists.txt (I'll push it to my fork soon so that it can be reviewed), and dropping the ".bin" binary suffix is not as straight-forward as it looks like.

Currently the file cmake/config/OpenDungeons.in is used to generate a bash script that runs OpenDungeons.bin with the needed environment variable to let OD find its data:

[code]

If we want to drop the ".bin" su

[2014-08-09 17:23] akien-mga opened #58 "Make OD system-wide installable on Linux"
I've started working on proper "make install" instructions for Linux. I will soon commit some changes to my fork and we can discuss them here before I do a proper pull request.

I managed to install OD on my system, putting the two binaries (script and OpenDungeons.bin) into /usr/games and the data into /usr/share/games/opendungeons
The data is:

[code]

Now, I'm having an issue with the "levels"

[2014-08-09 18:39] akien-mga commented on #58
I have three commits there starting the work to make OD system-wide installable: https://github.com/akien-mageia/OpenDungeons/compare/OpenDungeons:development...development

"make install" now should work fine, but the approach I tried to use to make it still possible to run the game from the build directory seems not to be functional: I defined the paths in resources.cfg using ${CMAKE_SOURCE_DIR}

[2014-08-09 22:37] hwoarangmy commented on #58
The level dir is hardcoded in MenuModeSingleplayer.cpp and MenuModeMultiplayer.cpp

Concerning the media, I believe the ressource file is used by ogre so I'm not sure if we can safely add new entries nor if we can read it on our own after having sent it to ogre. Anyway, I agree that it would be better to have the important dir in a config file rather than hardcoded.

[2014-08-09 22:47] hwoarangmy commented on #50
I can reproduce. I will see asap

[2014-08-11 13:08] hwoarangmy commented on #47
1 - Fixed
2 - Cannot reproduce. But I have added checks to make sure no special chars are used for nicknames
3 - Fixed
4 - Cannot reproduce even when there is a room absorbtion
5 - Don't know what's going on
6 - Don't know what's going on

Next time, please open different issues for different problems so that we can assign and close them when they are fixed.

[2014-08-11 13:09] hwoarangmy commented on #47
Btw, I've already let the game run with local network during something like 1-2 hours with no crash. But there may be differences when we use global network...

[2014-08-11 13:16] akien-mga commented on #47
Note that I created issue #48 for (3) and #49 for (1), you can use those for reference.

[2014-08-11 19:17] hwoarangmy commented on #47
Yes, I have already assigned them to me :)
But by splitting issues, we can close them more easily and it avoids to have too much open issues because one point over five is not closed

[2014-08-11 19:26] akien-mga commented on #47
Agreed. I'm sure Bertram was just really eager to report the few issues we found during our nice playtest :-)

[2014-08-11 20:54] Bertram25 commented on #47
As I said above,

Again, I'm sorry for mixing things up. IIRC, I had to go to bed, and wanted the stuff to be written down somewhere. I'm not kind doing this usually, anyway. ;)

[2014-08-11 20:56] Bertram25 commented on #47
If you prefer it, we can close this one and only open new ones about the remaining open points. Somehow, this is what I usually when an issue becomes messy or is too big.

[2014-08-11 22:15] hwoarangmy commented on #47
No, don't take me wrong. It's just for next time, no need to do anything. Eventually, we can split the segfault as I guess we have no clue and they might stay open for a while.
I was just thinking that it would be nice to use github to assign tasks so that everybody knows who is doing what and avoiding doing same stuff

[2014-08-11 22:23] hwoarangmy commented on #47
BTW, Bertram, are you working on animating training room ? If not, may I have a look ?

[2014-08-12 07:19] Bertram25 commented on #47
Part of the oh-so-evil plan. ;) I've seen you've assigned yourself tasks you're on, and I second that practice.

About OD, I'm officially on four tasks:
- Make a new in game window skin and a few controls. #5
- Add an entities.cfg file where entities parameters are parsed, such as the model file, the normal texture, the scaling, the default rotation maybe, ... and adapt the rest of the code. So ar

[2014-08-12 07:40] Bertram25 opened #60 "Add support for a entities catalog file."
Tiles, rooms, room objects, equipment, creatures and every 3D objects are entities loaded the same way by Ogre. And a lot of their parameter is hard-coded in different places.

In order to remove hard-coded parameters, make it more customizable, and help artists self-integrate their new art for testing, an entities catalog file is to be created listing the different parameters needed to make the e

[2014-08-12 07:48] Bertram25 opened #61 "Add a basic hatchery room"
Using the models given by @Danimal696 , add support for the hatchery model.
http://forum.freegamedev.net/viewtopic.php?p=58160#p58160

The hunger system and chicken handling are other issues.

[2014-08-12 07:53] Bertram25 commented on #56
In the end, yes. As soon as the temple is destroyed, the player should get a pop-up (or just an info text) to tell him that he has lost the game. Also, he shouldn't be able to drag/drop creatures anymore, build rooms, cast spells, ...
But he should still be able to watch the game and chat, IMO.

Agreed.

[2014-08-12 07:59] Bertram25 commented on #54
For info, on Ogre 1.7, when adding too much light sources, the RT shader was crashing from what I read, and I guess that's the main reason lights code was removed.
Note that before, the code was adding a light source per room tile, which was way too much.
Also, light handling has improved (a bit) with Ogre 1.9.
@oyvindln may indeed have more info.

I'd thus propose to add a light source when the r

[2014-08-12 08:08] Bertram25 commented on #57
Hi @akien-mageia :)

Well, I'll need to have a more careful look at how it is done, but there is something surprising me. Maybe you can tell:
- In what way renaming the binary is preventing the current script from running? (renaming stuff in it apart?) I fail to get it.
- Currently, the code is getting the data path here, for instance:
  https://github.com/OpenDungeons/OpenDungeons/blob/developmen

[2014-08-12 08:18] Bertram25 commented on #58
IMO, there are two ways here:
- Either we have sane names for base directories and thus we can hard-code only that part. (I mean only the `levels/` part for instance, not `/opendungeons/levels/` of course.)
- Or we can set up filenames to give the full reference: when loading a filename we call: `"levels/myLevel.level"` instead of `"myLevel.level"`

Atm, the first way is used: (except for levels)

[2014-08-12 08:21] Bertram25 commented on #51
Note to self: To be tested while checking #59

[2014-08-12 08:26] Bertram25 commented on #58
Also, about running OD from the bin directory. IMO, the binary should cd to the data path automatically.

[2014-08-12 08:33] akien-mga commented on #57
I think the only reason is that the initial design of this system would be to put both the "OpenDungeons" script and the "OpenDungeons.bin" binary in the /usr/games (or /usr/bin) folder. That's somewhat messy because the OpenDungeons.bin binary can't be run as is, so it shouldn't be in the $PATH; but likewise it's bad practice (or so I've gathered from my packaging experience) to include binaries

[2014-08-12 08:41] akien-mga commented on #58
I think the first approach you described is the best indeed. What would seem best IMO would be a hard-coded relative data structure (path to relevant data dirs from the main data path, e.g. "levels/" or "scripts/"), and a customisable/expandable list of main data paths, that would stored only in one place, so that we can support multiple paths, e.g.:

[code]

The first path would have precedence o

[2014-08-12 08:58] Bertram25 commented on #57
I guess this would mean changing the getenv() calls in the resource manager to a plain old define, and make the binary do a cd there when run.

Why not in a second step. But IMHO, this is out of scope for 0.4.9 and this issue. Let's first make a standard & working binary.

[2014-08-12 09:00] Bertram25 commented on #58
I second that, but in another step.

[2014-08-12 09:05] akien-mga commented on #57
Agreed :-)

[2014-08-12 09:07] hwoarangmy commented on #56
Yes, I also believe he should see the game. When it will be possible to have allies, if one player looses, it doesn't mean that his team looses.
But so far, in the code, team is handled by color but we need another thing to differentiate the owner from the team (are we would need to have sevral persons on a seat). For both, color has been used. We should do something better when teams will be prop

[2014-08-12 09:12] hwoarangmy commented on #47
OD is a free time project so if you have something else to do, nobody should say anything. Moreover, you are active enough so that you don't have to apologize when you cannot work on the project.

[2014-08-12 09:19] hwoarangmy opened #62 "Add animation for dummies in the training room"
When training, creatures should go in the training room and attack dummies.

[2014-08-12 09:24] Bertram25 commented on #56
Ah, you meant teams handling.

IMHO, let's not mix Seats/Slots, Players, Colors and Teams. To me, they are all distinct things.

To me, the red and blue players should be able to team up officially (per map or lobby settings), but they should still have separate colors, creatures, and so on. This would be much easier to differenciate one from another (even between themselves.)
This would be a nice

[2014-08-12 09:26] Bertram25 commented on #47
Thanks :)

[2014-08-12 09:29] Bertram25 commented on #62
For info:
I do think the creature attack animation is or was once triggered there.
Also, the new training dummies have got the "Triggered" animation ready IIRC.

[2014-08-12 13:36] hwoarangmy commented on #62
ok, I will have a look

[2014-08-12 13:42] hwoarangmy commented on #56
Yes, I guess it is not top priority but I think it is good to keep that in mind to not code something making difficult to handle teams later.
Concerning teams, I also prefer when it is not possible to change alliance.

[2014-08-12 15:18] Bertram25 commented on #56
Sure. :)

[2014-08-12 16:30] hwoarangmy commented on #62
I've seen in the code that room use is actually hardcoded in the creature behaviour (even training room). What do you think of trying to use object for that ? I mean creatures should have a tile for quarters, hatchery and working room (can be forge, training room, ...). As creatures are more generic than rooms, we could try to move the code that decide what to do into the room (to make the creatur

[2014-08-12 16:52] Bertram25 commented on #62
It's hard to me to fully get what you mean without doing the job. ;)

Usually, the code resides in the object doing the action for more readability. Now, it depends on which one is actually triggering the action. If you think the code could be more simple, more readable or more extensible that way, just go ahead. :)

The diff will talk for you.

[2014-08-12 18:56] hwoarangmy commented on #62
Usually, the code resides in the object doing the action for more readability
I agree but in this case, I believe that we might want the creature to have special behaviours depending on rooms. Some might allow several creatures to use the same spot from different positions, for example, and make them do coordinated actions. I think it will be a lot of switch case and the creature class will become

[2014-08-13 07:11] Bertram25 commented on #62
Yeah, feel free to follow your instinct. I'm trusting your reasoning. :)

[2014-08-13 07:31] Bertram25 opened #63 "Add the latest troll model"
As updated here:
http://forum.freegamedev.net/viewtopic.php?p=58467#p58467

[2014-08-13 07:46] Bertram25 opened #64 "Game play: Add 'skull flags' support over creatures"
![green half life](https://cloud.githubusercontent.com/assets/765917/3902441/e5b97f8e-22bd-11e4-9b12-29b6d7031063.png)

As described here:
http://forum.freegamedev.net/viewtopic.php?p=57403#p57403

the skull flag would describe a creature team color, health and level in a quick glance and would let the player take better decision upon battles, ...

The skull flag should be placed:
- Above the crea

[2014-08-13 12:01] Bertram25 opened #65 "Add support for the Keeper's Hand cursor."
There is a model ready for that:
https://github.com/OpenDungeons/OpenDungeons/raw/development/models/Keeperhand.mesh

Later, adding support to slap own creature's to make them go quicker may be considered. ;)

[2014-08-13 17:12] akien-mga commented on #48
Fix confirmed.

[2014-08-13 17:13] akien-mga commented on #55
Fix confirmed.

[2014-08-13 17:14] akien-mga commented on #50
Fix confirmed. Now the music stops when you open the console, but the chat is still working :-)

[2014-08-13 17:28] akien-mga commented on #49
I confirm that @hwoarangmy's latest pull request fixes part of the issue, i.e. the test case described in the first comment no longer triggers the issue.

I discovered other issues with key combinations locking the game in rotation or translation mode, but I'll open another issue for that. These issues are not linked to the chatbox as far as I can tell.

[2014-08-13 17:46] akien-mga opened #66 "Add support for non-ASCII characters in the chatbox"
Pull request #59 fixed segfaults when typing non-ASCII characters in the chatbox, and that was indeed the highest priority thing to do in this regard.

In a second step, it would be nice to add support for non-ASCII characters in the chatbox, for example accentuated characters. As to determine which characters we should support exactly, I'll leave it to more experienced developers; I guess support

[2014-08-13 17:59] akien-mga opened #67 "Server segfault when client choose a different map from the server's"
This is expected, but I report it nonetheless: if you create a server with map A, and a client connects and chose map B, the server segfaults (the client doesn't, and just says that the server disconnected).

[code]

Maybe we should test for concordance between server map and client map before trying to use it?

Another question, but I don't think we should cater for it now: the maps seem to be ch

[2014-08-13 18:09] akien-mga opened #68 "Some key combinations lock the game into doing one action"
This is a follow-up of issue #49. Now that the chatbox has been fixed, I've noticed that some other key combinations trigger similar effects, i.e. the map rotates or translates unendingly. I do believe the issue was there before the chatbox was implemented though, it's probably simply another OIS related issue.

So, here are some key combinations that trigger unexpected effects, when each key is p

[2014-08-13 18:12] akien-mga commented on #68
Note that this might have to do with the focus, since for example _Q + Alt+Tab_ also triggers the issue (i.e. the map starts spinning because of Q, then the focus is lost with Alt+Tab, so the game doesn't get the event saying that the user stopped holding Q).

[2014-08-13 19:26] hwoarangmy commented on #67
Segfault is not the expected behaviour when the map is different ;)
In fact, it should just disconnect the client and keep waiting. I'm gonna see if I can reproduce.

[2014-08-13 19:34] hwoarangmy commented on #68
I don't think this kind of issues where there before the chat. I've not really investigated but I think the problem comes from receiving a key in keyrelease and not in keypressed. The origin is that the keyevent given by OIS for keypressed and keyreleased is not the same (I'm talking about arg.text). As a hack, I've used a vector to save the keycodes and, in keyrelease, the keycode is removed from

[2014-08-13 19:39] Bertram25 commented on #67
Note that by design, the client shoudn't have to select a map. The server should tell it what map to load and reject it whenever it doesn't have it.

[2014-08-13 19:50] #48 closed, assigned to hwoarangmy

[2014-08-13 19:50] #49 closed, assigned to hwoarangmy

[2014-08-13 19:50] #50 closed, assigned to hwoarangmy

[2014-08-13 19:50] #55 closed, assigned to hwoarangmy

[2014-08-13 19:50] Bertram25 commented on #67
XD

[2014-08-13 20:17] Bertram25 opened #69 "Segfault when processing one client message."
I got this segfault on turn 1251. Nothing obvious related.

[bt]: (1) ./OpenDungeons.bin : GameMap::getAnimatedObject(std::string const&)+0x5c [0x582ddc]
[bt]: (2) ./OpenDungeons.bin : GameMap::getAnimatedObject(std::string const&)+0x5c [0x582ddc]
[bt]: (3) ./OpenDungeons.bin : ODClient::processOneClientSocketMessage()+0x4a4e [0x5c52ae]
[bt]: (4) ./OpenDungeons.bin : ODClient::processClientSocketM

[2014-08-13 20:43] hwoarangmy commented on #62
The training room seems to work but I have 2 issues :
1 - The dummies positions makes that creatures go one on the other while training. In fact, in a full room, we have dummies like (X=nothing and D=dummy) :
- XDX
- DDD
- XDX

To train on the ones on the wall, the creatures go all on the central tile (one over the other) and to train on the central tile, they go on the bottom dummy. Shall we re-a

[2014-08-13 20:48] hwoarangmy commented on #67
That's a good idea. I'm gonna make an issue for this

[2014-08-13 20:49] hwoarangmy opened #70 "In multiplayer games, the clients should not choose the map. The server should tell them"
The clients should check if they have the good map, maybe test some checksum, notify the server if everything is OK and disconnect if it is not the case.

[2014-08-13 20:53] hwoarangmy commented on #69
getAnimatedObject is not recursive. How can you have 2 calls ?

[2014-08-13 21:40] Bertram25 commented on #62
Good notice. It's true it is looking messy atm.
Note that the dummies position on borders should be set to be against the corresponding wall. I'm also not fond of changing the number of active spots (and room objects) without carefully thinking about different room shapes, game balance, ...
IMHO, the creatures should be able to go next to the dummy they are attacking without forcefully being on th

[2014-08-13 21:42] Bertram25 commented on #69
I wish I knew. :S

Might there be one call for the server, one for the client? I might be completely wrong here, though.

[2014-08-13 22:04] hwoarangmy commented on #62
Yes but they will always be in the tile in front of the wall, close to the creatures.

It's funny, I was thinking the exact opposite. In fact, we could imagine a room where there is only 1 active spot shared by the creatures (like a table game in casino). Having active spots common for every room is already not followed by existing rooms like portal and dungeon temple.
The hatchery will also not o

[2014-08-13 22:14] hwoarangmy commented on #69
No, if the call comes from ODClient, you are on client side. Until now, there is no hack and the server and client gamemaps are really separated. Every communication goes through ODPackets.
This callstack could be for changing destination or animation state. The kind of call that happens more than 10 times per turn :)

[2014-08-13 22:18] Bertram25 commented on #62
After thinking about it some more, here is the spirit: The number of active spots (the number of creature that can use the room at the same time) computation rules shouldn't change without being carefully thought, IMHO. (Note that I spoke of the number, not their position ;])
Now, if you can make something visually attractive while keeping the number correct, I'm ok with it.
If you can prove that

[2014-08-13 22:35] Bertram25 commented on #69
This might just be about adding a few check on pointer received by this call and report info in the log as a first step. :)

Just to point it out while I see it, the very way the getAnimatedObject(int index) is done is bad, btw:

[code]

It should be redone the way its const std::string& counter part is done and return NULL on problems with the parameter instead, or be removed. and replaced with a

[2014-08-13 22:38] Bertram25 commented on #69
Ah, and here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/GameMap.cpp#L390

`MovableGameEntity* mge = animatedObjects[i];`
`mge` isn't check against being NULL.

[2014-08-13 22:48] hwoarangmy commented on #68
I'm not sure I reproduce the same bug. For example, when I press D then Altgr, it works (adds d to the chat message and no map translation). But when I do Altgr then D, nothing is added to the chat message and the map translates to the right. In fact, pressing Altgr + a key do not print the key. The only bug I could see is that when you press Altgr+A, nothing happens (we may expect map translation

[2014-08-14 00:09] hwoarangmy commented on #62
Ok. I was thinking of active spots as roomobjects, not as number of creatures. Then, I'm ok for the rule :)
FYI, I have seen a bug in the way activespots are handled since the server paradigm. I will make a function to update room objets independently from the room mesh.

[2014-08-14 00:14] hwoarangmy commented on #69
Yes, it has never been. I've splitted this in 2 to be able to have a look at the entity (I can't read vectors with MinGW gdb). But before, it was animatedObjects[i]->getName().compare(name) so it is the same. But testing it would be to accept NULL values to be added. As you said, we should add some logs if we see that this bug occurs often (and as I've seen, it is at least the 2nd time it is poste

[2014-08-14 06:04] akien-mga commented on #68
Note that the key combinations trigger the issue on the map, and not on the chat. You should press "E + AltGr" or "AltGr + E" while the chatbox is closed.

[2014-08-14 06:17] akien-mga commented on #68
As I thought, this is not related to the chatbox. I built an old commit from before the big multiplayer + chatbox pull requests, and the issue is the same as described in comment 0.

[2014-08-14 06:53] #63 closed, assigned to Bertram25

[2014-08-14 08:42] hwoarangmy commented on #68
Ok, I should stop reading at 1am, I had not seen it was not related to chat. Sorry for making you do useless tests

[2014-08-14 08:50] akien-mga commented on #68
That was not a useless test, even if it wasn't happened **in** the chatbox, it might have been related to some changes you made to input handling when implementing the chat feature. Now we know that it isn't :-)

[2014-08-14 09:35] Bertram25 commented on #62
Great! :)

[2014-08-14 09:48] Bertram25 commented on #6
@hwoarangmy
@akien-mageia
While seeing this issue, I was thinking we're very close from closing it.

Atm we have Single-Player, Multiplayer, Editor, and quit. (The credits button is less important atm and can be described in another issue.)
IMHO, the Load button described above should be moved into the corresponding game types, and removed from the future main menu.

Thus my first question is, do

[2014-08-14 10:02] akien-mga commented on #6
I like your proposal, it's straight-forward and functional. Campaign \o/

What is the rationale for having the Options menu accessible in-game but not in the main menu? Well the question actually boils down to "What can be configured through the options?". It's true that the graphics part is configured through the OGRE GUI before starting the main menu, so if the remaining options are key bindings

[2014-08-14 11:02] Bertram25 commented on #6
I didn't mean to remove it from the main menu but to put it in a corner, just as it is done in game. So visually it's same kind of thing for the player. I say that because later we might want to turn this into an icon, for instance.

[2014-08-14 11:17] akien-mga commented on #6
Ok, that sounds good :-)

[2014-08-14 17:34] akien-mga commented on #41
For the reference, GLSL with the intel driver seems to be supported in SuperTuxKart, at least their irrlicht fork says so.

[2014-08-14 19:24] Bertram25 commented on #41
As far as I understood, GLSL is supported with the latest intel drivers on linux. It's just they have cases where either the shaders aren't well parsed, well compiled, ...
But I'm sure this will improve a lot with 10.3 as I've seen some work on it lately.

[2014-08-14 19:43] hwoarangmy commented on #62
I've tried to add an offset to the creatures position and, as expected, it is messy with big creatures. I'm gonna test it a bit more but I think the patch is ready.
Changing position was easier than expected but we can see it is not the expected behaviour (the creature seems to teleport when it is almost arrived)

[2014-08-14 19:53] Bertram25 commented on #62
Noted. thanks for the info. My turn to say sorry for the useless tests. :)

[2014-08-14 23:19] hwoarangmy commented on #62
Well, for now, that's better than letting all creatures go on the center tile. I will let it as is so that everybody can test and we will see if it is ok or not.

[2014-08-14 23:34] hwoarangmy commented on #47
I think I've understood the segfault Akien had. It happens when room objects are deleted (There was 1 place where I forgot to remove them from the gamemap). Patch is on its way :)

[2014-08-15 08:19] Bertram25 commented on #47
Oh cool! I'm eager to see that! :)
Off-topic: I think we're close to a RC2 for VT. :D

[2014-08-15 08:48] Bertram25 commented on #47
@hwoarangmy  @akien-mageia
I won't be available this Week-End. See you on monday! :)

[2014-08-15 20:13] hwoarangmy commented on #51
Note to self : I've seen it in single player after #59. But no clue why. I've paid attention to see the consequences. It seems the bug is only visual as the creatures go through and you cannot dig it. I did not try to add a room on it but I guess it would have been possible. If someone sees it, it would be an interesting test (it would make us sure that the server considers the tile as being dirt)

[2014-08-16 16:45] hwoarangmy commented on #69
This issue is probably the same as the one referenced by akien is #47

[2014-08-18 07:59] Bertram25 commented on #69
Yeah, probably. As the #47 is messy, once your latest pull request is in, are there any open issues left in it, this one apart? (If so, I think we'll then be able to close it.)

[2014-08-18 11:14] hwoarangmy commented on #69
I could not reproduce the crashes with the long nicknames so I'm not sure. But we can close it and re-open when we will try the next lan if the problem is still there.

[2014-08-18 12:01] Bertram25 commented on #69
Agreed.

[2014-08-18 20:13] akien-mga commented on #67
For the reference, issue #70 would obsolete this bug. But this one is still relevant since issue #70 is aimed at a later milestone, while we would like this one fixed for the 0.4.9 release.

[2014-08-18 20:16] akien-mga commented on #47
I can't seem to reproduce the issue in point 2 (Using too long nicknames or nicknames with spaces makes the client segfault.). Actually I was able to reproduce a segfault upon starting a local multiplayer (hosting server + client in two game instances) with funny names, but further attempts at determining what causes a segfault exactly were fruitless.

I tried to set names with tons of accentuated

[2014-08-18 20:35] akien-mga opened #73 "Have creatures face each other when fighting"
Currently fighting creatures are not necessarily facing each other when battling.

They sometime occupy the exact same position (and then regardless of the direction of their battling animation, they can't face each other). In other times they occupy adjacent positions, but their animations are not directed toward each other (for example both creatures can have their animation in the same directio

[2014-08-18 20:37] Bertram25 commented on #67
True. Nice catch. Issue #70 should be set back to 0.4.9 and supersedes this one. I'll do it.

[2014-08-18 20:38] Bertram25 commented on #67
Supersedes by #70. Closing.

[2014-08-18 20:38] #67 closed, assigned to nobody

[2014-08-18 20:39] Bertram25 commented on #70
See also #67 for more info.

[2014-08-18 20:40] Bertram25 commented on #47
That's a good thing. :)

[2014-08-18 20:41] Bertram25 commented on #73
Attack range might be involved.

[2014-08-19 06:27] akien-mga commented on #4
For the sake of completeness, I've noticed that creatures that were fighting a dummy become idle (actually frozen) when the training room is destroyed under their feet:
![od-create-no-reaction](https://cloud.githubusercontent.com/assets/4701338/3962389/e513e154-2769-11e4-9f43-1e3ec5bc2dbd.jpg)

(This yellow guy just killed the drake's dummy... and killed the frozen drake afterwards ;-))

[2014-08-19 06:58] Bertram25 commented on #4
@akien-mageia I think it's a new issue. Could you create it separately?

@hwoarangmy This issue has been obsoleted by your latest improvement. IMHO, we can close it, and eventually open a new one if something is needed later.

What do you both think?

[2014-08-19 07:11] #56 closed, assigned to hwoarangmy

[2014-08-19 07:11] akien-mga commented on #4
Ok I'll open a new issue for this. I'll just wait to be sure that it's easily reproducible (there are still a few glitches with creatures behaviour, so it's not 100% sure that the issue happens each time you destroy a room's active spot).

[2014-08-19 07:20] Bertram25 commented on #47
Is this still reproducible? Could you open a new issue with a step by step description?
Thanks! :)

[2014-08-19 07:24] Bertram25 commented on #47
Every issues in this one seem to be fixed or opened as other issues. I'll close it.

[2014-08-19 07:24] #47 closed, assigned to nobody

[2014-08-19 07:26] akien-mga commented on #47
It's not reproducible no, what I meant was that I experienced a crash once (IIRC at my first test, typing something competely random). Afterwards I did 20+ test with all sorts of cleverly-crafted names to indentify faulty strings, but I could not reproduce a crash. Further attempts with random names did not trigger a crash either.

So it's good to be closed yes :-)
As for the unknown segfaults in

[2014-08-19 07:29] Bertram25 commented on #47
Eh eh. Indeed, I can wait for that one. ;)

[2014-08-19 07:32] Bertram25 commented on #69
@hwoarangmy
I believe it fixed with: https://github.com/OpenDungeons/OpenDungeons/commit/301dcab35c767466677a5bb6761e1326e72ab53a

If @akien-mageia is ok, we'll close this one as well after some tests. Thanks a lot for the hard work done here. It's marvelous to think we can play an open keeper game live!

[2014-08-19 07:35] Bertram25 commented on #62
Fixed with https://github.com/OpenDungeons/OpenDungeons/commit/ff9cf421534ec90247d608a73ecbc37f7dd71c2c and confirmed by @akien-mageia

[2014-08-19 07:35] #62 closed, assigned to hwoarangmy

[2014-08-19 08:36] Bertram25 opened #74 "Remove the obsolete Start server & Quit game icons and related code."
Those icons have obsolete functionalities.

The 'System' tab should also be removed as it should be moved somehow to the future 'Options' menu.

[2014-08-19 08:38] Bertram25 commented on #8
How-to done here: http://forum.freegamedev.net/viewtopic.php?p=58762#p58762
The hatchery's icon has also been done.

What's left for the icons is:
- [x] Cannon trap
- [x] Kobold spawn spell
- [x] Worker creature grabber icon.
- [x] Fighter creature grabber icon.
- [x] Destroy room icon. http://game-icons.net/lorc/originals/wrecking-ball.html

The how to should be added to the wiki as well.

[2014-08-19 09:01] Danimal696 commented on #73
Regardles of attack range, the non-existant cooldown between attacks and mainly the battle system that is based on creature on one tile rather than creature position on map and low agresivity make this ugly result

[2014-08-19 09:13] Bertram25 commented on #73
@Danimal696 Nice to see you around. :)

[2014-08-19 09:25] hwoarangmy commented on #73
It might have something to do with the server paradigm. I've seen the same thing when workers dig. When they don't need to move before digging, they do not change where they are facing. And if it is not the tile they are digging they do not dif in the good direction. If I'm right, that's just an optional parameter to give when changing animations (setAnimationState - if the server makes him face t

[2014-08-19 09:27] hwoarangmy commented on #69
I think so

[2014-08-19 09:28] hwoarangmy commented on #69
I'm closing it as it is supposed to be fixed.

[2014-08-19 09:28] #69 closed, assigned to hwoarangmy

[2014-08-19 09:34] hwoarangmy opened #75 "Workers should deposit gold when they stop digging even if they are not full"

[2014-08-19 13:52] Bertram25 opened #76 "Missing model files on the main repository?"
As stated by @tomluchowski here: http://forum.freegamedev.net/viewtopic.php?p=58772#p58772

The model file Shield_small.mesh is missing in the models/ folder and makes the game crash:
`*** ERROR: Internal Ogre3D exception: OGRE EXCEPTION(6:FileNotFoundException): Cannot locate resource Shield_small.mesh in resource group Autodetect or any other group. in ResourceGroupManager::openResource at /home

[2014-08-19 14:03] hwoarangmy opened #77 "Add support to log info text when assertion fails"

[2014-08-19 14:06] hwoarangmy opened #78 "Refresh creature infos when stats window open"

[2014-08-19 14:32] Bertram25 commented on #8
everything is done in the texture given here:
http://forum.freegamedev.net/viewtopic.php?p=58803#p58803

I'll close this issue once this is merged and the how-to is in the wiki.

[2014-08-19 15:21] hwoarangmy opened #79 "When dropped in a dormitory, creatures should try to make a bed if they don't have any and they should sleep if not fully awake or fully healthy"

[2014-08-19 18:42] Danimal696 commented on #79
i would add, not fully awake or fully healty

[2014-08-19 18:42] Danimal696 commented on #78
it seems simple, but wont the stats window be discontinued once skull flags are integrated?

[2014-08-19 18:57] Bertram25 commented on #78
I'd like to reuse the stats window principle in the editor to edit the entities names, team color, ...
Also, indeed, in game, this will disappear for a normal player, but we migth want to keep it for debugging purpose.

[2014-08-19 19:28] Bertram25 commented on #79
+1

[2014-08-19 21:17] #13 closed, assigned to nobody

[2014-08-19 21:17] #61 closed, assigned to hwoarangmy

[2014-08-19 21:17] #77 closed, assigned to hwoarangmy

[2014-08-19 21:28] hwoarangmy commented on #78
Yes, I am currently re-adding it for debug purposes. Knowing what is a creature doing can help when it has strange behaviours. Moreover, I will send a string for that. When we will have the flags, we could send the creature data instead and the whole logic will already be there

[2014-08-19 21:29] hwoarangmy commented on #79
ok

[2014-08-19 21:32] Bertram25 commented on #51
I think I've found a way to reproduce. It's a bit tricky though:
- Wait for a worker to start dancing in front of a dirt wall tile. The worker is currently trying to turn it into a claimed wall.
- Mark it as it is still a dirt wall tile.
- The tile will turn into a marked claimed wall tile. (Everything is normal at the moment)
- The worker will then dig it right way usually.
- The marked claimed w

[2014-08-20 06:08] akien-mga commented on #76
Another missing model for oldTest.level:

@Bertram25 Not related, but could you give me rights to edit issues and add labels/milestones/assignees?

[2014-08-20 07:37] #78 closed, assigned to hwoarangmy

[2014-08-20 07:39] Bertram25 commented on #76
@Danimal696 @hwoarangmy ok with it? Akien has my vote to become a reviewer. What's yours?

[2014-08-20 07:40] Bertram25 commented on #76
Ah ok. I'll reopen this issue after merging then.

[2014-08-20 07:41] Bertram25 commented on #76
@hwoarangmy @Danimal696 @akien-mageia Btw, this error now appears because it seems equipment meshes loading was fixed by one of @hwoarangmy 's patches. :)
I just saw an Orc with a blade in its right hand.

[2014-08-20 07:43] #74 closed, assigned to Bertram25

[2014-08-20 07:44] Bertram25 commented on #76
TODO: Make sure there is no other models missing by opening all the currently available maps and fix accordingly.

[2014-08-20 08:03] hwoarangmy commented on #4
Well, the code is supposed to handle this situation. When an active spot is removed, the creature is supposed to stop using it. But I have never seen it in action so there may be something tricky.
But IMO, this will anyway be fixed when we will have a correct fighting behaviour. I don't think we can reach a situation where 2 creatures are so close and do not engage...

[2014-08-20 08:06] hwoarangmy commented on #4
BTW, this issue states

I think it has been discussed on the forum that they should continue to work until they get damage (or at least until an ennemy attacks it). In the small map, it is quite obvious that there is something weird with the current behaviour as it is really hard to get workers claim tiles when they are not far from the ennemy base

[2014-08-20 08:08] hwoarangmy opened #83 "Rename training room and dormitory files"
As stated in #9
RoomDojo -> RoomTrainingHall
RoomQuarters -> RoomDormitory

[2014-08-20 08:40] hwoarangmy opened #84 "Add a button to grab workers easily in the menu"
- This button should put in the player's hand idle workers first
- No check for worker level ?
- If no idle worker, should we make a difference between tasks ?

[2014-08-20 08:43] hwoarangmy opened #85 "Add a button to grab fighters easily in the menu"
- Most leveled creatures first ?
- Better creatures first (creatures with best stats) ?

[2014-08-20 08:44] hwoarangmy commented on #84
We should also kep in mind that this code will probably be shared with the AI

[2014-08-20 08:44] hwoarangmy commented on #85
We should also kep in mind that this code will probably be shared with the AI

[2014-08-20 08:49] hwoarangmy commented on #51
Interesting. That would explain why it doesn't happen that much...

[2014-08-20 08:55] akien-mga commented on #51
I will try your procedure to reproduce it.

I'm not sure this is the only case though, IIRC, the original issue (see the screenshot in the first comment) happened when I had marked the whole rectangular area for digging, and then let the workers do their work without human interaction.

As can be seen on the screenshot, the faulty tiles are either a marked dirt wall tile (through which creatures c

[2014-08-20 08:56] akien-mga commented on #51
Do we have an open issue for this?

[2014-08-20 09:03] hwoarangmy commented on #51
I gave a try but could not reproduce :(

I believe a did the same. But we can hope it will point out the same root.

[2014-08-20 09:29] Bertram25 commented on #51
I'll make more tries but it's not something easy to reproduce, unfortunately.

It's something I want to fix while on #60 in fact, as the catalog will permit saner appliance of normals on models.

[2014-08-20 09:34] Bertram25 commented on #84
Just my two cents, (and we have to start somewhere):
- Take idle first, as you said.
- Take the highest level, since you probably want the best digging/dancing rate.
- If no idle, the order should be something like the reverse of the forced action priority list:
  - Take fighting/fleeing first,
  - Then take claimers,
  - Then take diggers,
  - Then take gold digger/depositers or all the rest if m

[2014-08-20 09:42] Bertram25 commented on #85
- Most leveled creatures first ?
  IMO, nope. :)
- Better creatures first (creatures with best stats) ?
  Not the "best stats" as it's hard to describe, but rather I'd say:
  The healthiest of the highest level not already fighting & not already taken.
  If no more not fighting left, take the rest in the level reverse order, IMO.

Later, next to that button, we'll probably want to add a button per

[2014-08-20 09:46] Bertram25 opened #86 "Add room availability level parameter support (boolean)"
This is a level parameter, telling which rooms can be built in this map by the different players/AI.

Note that it says 'can be built', not 'already built' when starting the map.

It will be useful to later create a certain challenge on certain maps, will make possible to disable certain rooms at the beginning of the campaign for tutorial purpose, and will permit to disable unfinished/useless room

[2014-08-20 09:51] akien-mga commented on #86
I guess we want this to be player-specific too (or faction-specific?). Especially in campaigns, there might be cases where we want the player or some AI to have or not have special rooms. We might also want this so that different factions have different rooms (i.e. adventurers would likely not have a torture room, but maybe a tavern instead?).

[2014-08-20 09:59] Bertram25 opened #87 "Makes the first treasury tile cost 0, so players/AI can't get stuck without means to store their gold."
The temple room (the one that makes you lose when destroyed and that is spawning workers atm) should permit to store the equivalent of one Treasury tile.

This is prevent a player from being stuck if all its treasury tiles are destroyed or when starting without a treasury. (as in DK)

An much simpler solution would be to make the first treasury tile cost 0 gold.
What is your favourite solution?

[2014-08-20 10:02] Bertram25 opened #88 "Hero AI support"
Add support for an Hero AI that get support of wave of allies and track evil Keeper to kill them.

To beat an Hero AI, you have to kill its portal. (Hero AI have no temple and build nothing.)

Will be useful in campaigns but still fun in coop lan and such. ;)

[2014-08-20 10:02] hwoarangmy commented on #84
That's more or less what I had in mind (except for level as I think I could defend both opinions).

[2014-08-20 10:06] akien-mga commented on #87
Integrate it in the temple room would be great if it's coherent with the model (i.e. the temple room should have a dedicated space to hold a bag o' loot :-)

[2014-08-20 10:09] hwoarangmy commented on #85
I had not thought about health but I totally agree this is a key point here.

That's what I meant with "Most leveled creatures"

This feature will be usefull anyway to take units for AI players. But you are right we should keep in mind to give support to filter with creature types as the conditions will probably be the same.
BTW, that also means you will need to keep in mind that there will be cha

[2014-08-20 10:12] hwoarangmy commented on #86
Good point

[2014-08-20 10:14] hwoarangmy commented on #86
We might also allow the level to redefine the creature def, for example to decrease the maximum level each creature can reach.
The logic would be to read the creature definition file and then, if the level overwrites a part of it, to use theses instead.

[2014-08-20 10:17] hwoarangmy commented on #87
It could be nice to use the dungeon temple but I think it much work for a small use (and do not change the fact of what happens if this particular tile is destroyed but not the whole dungeon temple) ?). A cost of 0 to the first tile will be much simpler...

[2014-08-20 10:17] akien-mga opened #89 "Add a tooltip showing the price of a room tile/trap when hovering its icon"
As the topic says. For now it's by trial and error that you know whether you can place a room tile.

[2014-08-20 10:25] Bertram25 commented on #85
Yep, even more: In a perfect world, the creature/rooms buttons will be left aligned. So their positions may vary in time.
Maybe later we'll have to create buttons just like we create stats window, of find a good mix.

[2014-08-20 10:27] Bertram25 commented on #86
indeed, player specific, for tutorial purpose.

True and fine as well.

[2014-08-20 10:30] hwoarangmy commented on #89
Yes, we could add in the text showing the room name the total price of the room.

[2014-08-20 10:30] Bertram25 commented on #87
At the moment, we haven't got some shiny model yet, even if I know @Danimal696 is on it.

I'd propose this, let's do the simple solution now, and add support for the shiny stuff once we have a good model in place and done more urgent things.

Ok with it?

[2014-08-20 10:31] akien-mga commented on #89
Ah indeed it could be done like that too. Or both :-)

[2014-08-20 10:31] hwoarangmy commented on #86
Or for campaign purposes. We could allow the AI to use more advanced units than the player...

[2014-08-20 10:33] Bertram25 commented on #86
Ah, indeed. To me, campaigns are big and fun tutorials functionally speaking. ;)

[2014-08-20 10:35] Bertram25 commented on #89
IMHO, both.

When selecting the room, its price should be indicated next to the name.
When in the process of adding a room (mouse dragging), the total price should be shown.
Later, we'll probably want to color the stuff depending on whether it's possible.

[2014-08-20 10:36] hwoarangmy commented on #87
The more I think, the more I believe the 0 cost first treasury room is the best solution. Otherwise, the dungeon temple handling will be really tricky as we can expect some tiles to be destroyed so we cannot even choose one of them. And the room size may change between games. Moreover, that would also change the gold digging logic as in addition to seraching treasury tiles to drop gold, it will ha

[2014-08-20 10:36] Bertram25 commented on #89
0.4.9 or later? (Might be trickier than it sounds... or not.)

[2014-08-20 10:41] Bertram25 commented on #4
The issue list as been stated as obsolete thanks to the latest improvement. :)
I'll open a new issue about what was discussed on the forums.

According to the latest discussion state here, I think we can close this issue. Other ones can be opened on need. Ok with it?

[2014-08-20 10:43] Bertram25 commented on #87
Ok, let's go for the simple solution, then.

[2014-08-20 10:43] akien-mga commented on #4
I'm fine with it :-)

[2014-08-20 10:46] Bertram25 opened #90 "Make workers flee only when receiving first enemy blow."
It has been discussed on the forum that the workers should continue to work until they get damage (or at least until an enemy actually attacks it).

In the small map, it is quite obvious that there is something weird with the current behaviour as it is really hard to get workers claim tiles when they are not far from the enemy base.

[2014-08-20 10:46] Bertram25 commented on #4
Created #90 and I'll adapt #9

[2014-08-20 10:46] #4 closed, assigned to nobody

[2014-08-20 10:48] Bertram25 commented on #87
N.B.: AI will have to be aware of it.

[2014-08-20 11:00] hwoarangmy commented on #89
doesn't sound that tricky. If it reveals to be, we could just forget for now :)

[2014-08-20 11:03] Bertram25 commented on #1
Issue obsoleted by all the improvements done.
I've got other issues to know what to do now.

[2014-08-20 11:03] #1 closed, assigned to Bertram25

[2014-08-20 11:06] Bertram25 commented on #40
@akien-mageia Do you still have this issue?

If yes, and to get through it, could you check whether the BOM disappear when the modified files are listed? If it's the only modification, I do think you can push them.

[2014-08-20 11:09] Bertram25 commented on #53
@hwoarangmy Doy ou know whether hanging the line ending of MSVC project files break them when using those on Windows in any way?

[2014-08-20 11:13] Bertram25 commented on #58
@akien-mageia I think you should create a first pull request with all your changes on the CMake script, so we can test them.
Once they're good enough, I do think the step afterward will be to make the binary auto cd to its data folder depending on the platform.
Once this is done, #57 will be trivial to do.

[2014-08-20 11:16] Bertram25 commented on #42
As I said in #58, feel free to create a pull request that should fix that point.

[2014-08-20 11:19] Bertram25 commented on #8
The howto is in place: http://opendungeons.sourceforge.net/wiki/doku.php?id=how-to_make_an_icon_for_od

I'm adding the last images (source forge is soo slow...)

[2014-08-20 11:19] #8 closed, assigned to Bertram25

[2014-08-20 11:21] akien-mga commented on #40
I'll check in the evening, but I think the issue is still there, and the BOM did not disappear. IIRC the git diff output shows that the whole content of the file is removed, and readded (including the <U+FEFF> character).

I'll try download an angelscript file manually from the repo and then comparing it with the changed one from a git clone, hopefully this will show some changes that git does aut

[2014-08-20 11:23] Bertram25 commented on #40
This means line endings have changed usually. CR+LF -> LF, I'd say. Again, .gitattributes should prevent git from doing that but maybe you have global settings telling the reverse for git?
http://stackoverflow.com/questions/2114111/where-does-git-config-global-get-written-to

[2014-08-20 11:38] akien-mga commented on #40
I'll check again, but for example FindSFML.cmake is CR+LF, and the line endings are untouched.

[2014-08-20 12:21] hwoarangmy commented on #40
I also have this issue. I've not looked what was the difference, through

[2014-08-20 12:23] Bertram25 commented on #40
For instance, *vcproj files should also be CR+LF but doesn't seem to cause a line ending change since the .gitattributes doesn't tell anything about it.

All this can only mean one thing:
The *.sln files were already LFed and your git installation does put them back into CR+LF.

If you open the sln when they're auto-modified using an advanced text editor, can you tell me what line ending it is tel

[2014-08-20 12:26] Bertram25 commented on #53
@akien-mageia Once we've dealt with #40 in a proper way, I'll add .gitattributes parameter to setup the proper line endings for the files listed here.

[2014-08-20 12:27] hwoarangmy commented on #53
I dont know but I have a working environment ready to test the pull request :)
But I guess there is a high probability that MSVC will put them back. But it is dependencies, I don't know if they are opened during the build process

[2014-08-20 12:29] Bertram25 commented on #53
After studying the problem for a bit, as said above, if we can deal with #40 properly, I'll add parameters to deal with that one. So nevermind my stupid question, sorry. ;)

[2014-08-20 12:44] hwoarangmy commented on #79
I don't remember what was the behaviour in DK when a creature is dropped in a dormitory different from the one where its bed is.
And, more open question, what would we expect in OD ? I would say that if the keeper drops a creature in a dormitory, it is because he wants it to sleep there (even if it can be a mistake) so it should change the dormitory.

[2014-08-20 12:51] akien-mga commented on #79
That's a tricky question: depending on how far the target dormitory and the creature's own dormitory are from each other, one could expect:
- The creature goes to its own bed in its dormitory if it's nearby
- The creature changes dormitory and creates a new bed in the target dormitory if the other one is unreachable or far away.

[2014-08-20 13:18] Bertram25 opened #91 "Review the code for the main conventions"
The code should have copyright headers, and follow the main style conventions:
...

More severe problems than formatting (like putting variable in the private space will have to dealt with another issue.)

Culprits found so far:
1- Misses header copyright (check pragma once practice): (Needed for release)
- [x] CullingQuad.cpp/h
- [x] DummyArrayClass.cpp/h
- [x] PrefixTree.h/cpp
- [x] SlopeWalk.cp

[2014-08-20 13:24] Danimal696 commented on #79
I remember in DK, the creature would create a new bed if you dropped it on a different dormitory, no matter how far or near his bed was.

[2014-08-20 13:27] hwoarangmy commented on #91
This one can be safely removed

[2014-08-20 13:29] Danimal696 commented on #90
maybe its related to the treath system you once described?

[2014-08-20 13:31] hwoarangmy commented on #91
And I would add that MapLight, Weapon and Battlefield are not game entities. Looking at their code shows that they share almost all the needed to be. Is there a reason why ? To be honest, I have not looked enough to be sure there is no tricky reason but from what I've seen, it seems possible...

[2014-08-20 13:37] hwoarangmy commented on #79
Ok, let's do that then

[2014-08-20 13:39] Danimal696 commented on #87
Hard question, in DK1 the hearth coulndt hold gold, in DK2 it holded over 7 squares surrounding it.
As i understand we need at least one treasure tile or the kobolds go nuts and do nothing; there is a middle way, and that is adding support on the level file for starting gold per seat, that gold wont have physical presence to speak of, and should be used to set up the treasure room first thing. I s

[2014-08-20 13:46] hwoarangmy commented on #40
What I do remember is that when I download a fresh version from github, they do not appear as changed. After compiling, it does (I'm not sure if it is after first compilation or if it is more tricky)
I use :
- CMake-gui
- Code-Blocks with MinGW

EDIT : Code-Blocks is configured with Unix line-ending (LF) and WINDOWS-1252 charset.

[2014-08-20 13:50] akien-mga commented on #87
I understood it more as: if for any reason all your treasury tiles get destroyed, but not your temple room, then you should be able to restart a base (and collect gold) even if you were down to 0 gold.

[2014-08-20 13:54] hwoarangmy commented on #87
Well, there is a huge difference between DK and OD : in DK, the rooms were not destroyed, they were stolen.

I definitely agree with that. And it would help for debug purposes. But that do not change the fact that if you loose your treasury, you cannot do anything. And since dungeon temple tiles are destroyed like any other, I don't see how we can avoid that.

[2014-08-20 13:59] Bertram25 commented on #10
A proposal:
**In source/entities/:**
BattleField.cpp/h
Building.h
Creature.cpp/h
CreatureAction.cpp/h
CreatureDefinition.cpp/h
CreatureSound.cpp/h
DirectionalTrap.cpp/h
GameEntity.cpp/h
MapLight.cpp/h
MissileObject.cpp/h
ProximityTrap.cpp/h
Tile.cpp/h
Trap.h
TrapBoulder.h
TrapCannon.h
Weapon.cpp

**In source/goals:**
AllGoals.h
Goal.cpp/h
GoalClaimNTiles.cpp/h
GoalKillAllEnemies.cpp/h
GoalMineNGol

[2014-08-20 14:01] Bertram25 commented on #90
Can you elaborate?

[2014-08-20 14:03] Bertram25 commented on #91
I'm not certain but I know map lights are shown in the editor mode. Weapon also have meshes to represent them, and battleField values can be represented using visuals if some debug code is uncommented. This may explain it.

[2014-08-20 14:05] akien-mga commented on #10
I'm 100% in favour of this. I'll let @hwoarangmy and @tomluchowski discuss the precise layout with you though, but your proposal sounds sensible.

[2014-08-20 14:07] Bertram25 commented on #87
^ What Akien said.

This also can be added, but it is not incompatible with the current issue that remains to be done using the first-treasury-tile-0-gold-cost exception.

[2014-08-20 14:11] Bertram25 opened #92 "Add support to start with a definite amount of gold"
This is a Seat specific parameter set level files.

As discussed in #87

[2014-08-20 14:13] hwoarangmy commented on #87
Starting with gold would help for debugging but it is true that it's tricky since you may have no treasury room at start...

[2014-08-20 14:15] Bertram25 commented on #87
@Danimal696 Just to make it clear on why we believe more in the 0 gold solution:
First of all, to reserve some gold for the treasury or permitting to cost 0 as first tile is in the end the same thing if the rule is valid for All Keeper seats.
Secondly, we never know what may happen after some time in game, and thirdly, this solution is very simple to add. ;)
I wanted to say that since I wouldn't w

[2014-08-20 14:18] Bertram25 commented on #60
Moving it to later, as it doesn't bring anything frankly visible for the next release. (But I'm still on it!)

[2014-08-20 14:20] hwoarangmy commented on #10
Seems good. I just have 2 points :
- Tile is an entity
- I think the difference between render/camera/gamemap is tight as they heavily depend on each other. Moreover, RenderManager is more related to the gamemap/framelistener than to Gui

[2014-08-20 14:20] akien-mga commented on #87
Nota: We should make sure this is properly documented, so that players know that they can create a first treasury tile even with 0 gold. The question is how? Adapt the tooltip (see issue #89) of the treasury icon when there are no treasury tiles built?

[2014-08-20 14:21] hwoarangmy commented on #91
I'm not asking why they are close to GameEntity but why they do not extend GameEntity ?

[2014-08-20 14:28] hwoarangmy commented on #87
Well, it will be part of the tutorials... once they are done :)

[2014-08-20 15:03] Bertram25 commented on #91
Depends on what it permits as for simplifications and code/member factoring, I guess. I can't answer without fiddling with that, though.

[2014-08-20 15:04] Bertram25 commented on #87
True, we can also add a quick play guide, later in the wiki.

[2014-08-20 15:07] Bertram25 commented on #10
True, will move it to entities/.

True as well, but I had to make a choice and certain things are a matter of taste, right?

Well, gui is heavily linked to stuff rendered IMO, and just fit there, as long as there is no more gui-related files. If it ever happens, I'd propose we move all the gui files in source/gui.

Ok with it?

[2014-08-20 15:12] Danimal696 commented on #90
i remember you saying creatures calculate threat levels on each tile depending on enemy proximity, so are they constantly running away because of how small the map is?

[2014-08-20 15:14] Bertram25 commented on #90
Ah yes. In battleField.cpp. Indeed, a threat value is computed according to enemies / allies proximity ratio. Indeed, it surely is.
EDIT: And that's what we try to work around, through this feature.

[2014-08-20 15:17] Bertram25 opened #93 "Complete the CREDITS file"
The following file is incomplete and not very easy to read.

Let's complete it and improve its readability:
https://github.com/OpenDungeons/OpenDungeons/blob/development/CREDITS

It will also be necessary if we want to be certain about the file licenses we're using.

EDIT: Adding the latest TODO list to close this issue:
Font file to change for an open-licensed one:
- [x] bluehigh.ttf (Proposed re

[2014-08-20 15:17] Danimal696 commented on #87
Yes, the 0 gold treasury sounds sensible

[2014-08-20 15:25] hwoarangmy commented on #10
Not sure there is something to change. As you said, things are mixed and you have to make choices. To be honest, I've not looked much in what is in the camera package. From the few I've seen, there was many public variables with short names and stuff like that that makes it really hard to follow so as long as I don't have to, I prefer avoiding them :)

[2014-08-20 15:29] hwoarangmy commented on #91
That's why it's not already done ;)
But it's good to have your version as you could have been aware of something about that as it seems to me too obvious that they look like GameEntity as I don't think the coder who made them may have missed that. That's why I can see 2 reasons :
- technical : something I've not seen
- historical : they did not look so much like entities when created and they came

[2014-08-20 15:43] hwoarangmy commented on #92
To start somewhere, I would say that this gold amount should be set in the treasury available from the start. If no treasury, it is dropped.

[2014-08-20 15:46] Bertram25 commented on #10
Lol. Well, the camera code is IMHO a bit ill and need some love. I'm also overwhelmed by ALL the files and code needed to do some (unfortunately not working) culling here. Note that I don't say it's wrong, it's just fearsome O.O'
We might want to see whether there are simpler solutions to do that later.

[2014-08-20 15:48] Bertram25 commented on #91
Yeah, true. :)

[2014-08-20 15:50] Bertram25 commented on #92
Good point. This is indeed the only way to truly respect the game logic. I think we will have to document this in the "Good OD map maker" future wiki topic. ;)

[2014-08-20 16:05] Danimal696 opened #94 "Ramdomizing sounds played on creatures actions."
The same sound is always used, even if we have more than six different ones ready. They should be played at ramdom to have more sound variety.

[2014-08-20 16:11] Danimal696 opened #95 "Addition of a few better sounds and musics."
Initially on Paul´s hands:

http://forum.freegamedev.net/viewtopic.php?f=35&t=5691
http://forum.freegamedev.net/viewtopic.php?f=39&t=5695

Basically making easier to add new music, a crossfading system between songs and adding sounds to creatures actions like walking, attacking, pain...

TODO Summary:
**Bertram**
- [x] Improved creature sound system Mk I  #94
- [x] improved music system #23 - Done

[2014-08-20 16:19] Bertram25 commented on #95
Hi,

I was more thinking you had precise examples to add in game right now in fact. ;)
This issue is very close from #23

Would you mind if we only talk about adding more sounds here?
I was thinking about those ones that could be done right away:

Canon firing: http://opengameart.org/content/synthesized-explosion
Deposit coins on treasury: http://opengameart.org/content/coins-sounds

[2014-08-20 16:27] hwoarangmy commented on #95
FYI : I will add in my next pull request support to play sounds on client side. This is needed especially for creatures as, like I said in another thread, on the client side, there is no dig or attack or whatever. They just move and change animation. Then, we will have to check if the other sounds are played as they should (ie on client side).

[2014-08-20 16:37] Danimal696 commented on #95
yes, ill convert a few songs and
Canon firing: http://opengameart.org/content/synthesized-explosion
Deposit coins on treasury: http://opengameart.org/content/coins-sounds

[2014-08-20 16:48] akien-mga commented on #93
I hadn't seen this issue, but it's partly fixed by #96 :-)

[2014-08-20 18:12] akien-mga commented on #76
@Danimal696, @tomluchowski: We removed the references to the Shield_small.mesh and Shortsword.mesh models, but maybe the right fix would have been to import those models? The credits seem to indicate they were made by Danimal for the adventurer, but where are they?

[2014-08-20 18:22] akien-mga commented on #40
Actually I don't have the issue anymore on my local git clone :-o
I have no idea what changed though.

[2014-08-20 20:19] Bertram25 commented on #40
Think about me when it reappears. ;)

[2014-08-20 20:52] Bertram25 commented on #42
And you said you were only dabbling at it? It's working great here :D :+1:

In fact, it's working so greatly that every warnings are enabled again and I get a lot of them. (Not complaining, we should have got them back weeks ago.)
This is working for me, and I hope it will work for @hwoarangmy too.
If so, I do think we should merge and deal with warnings afterwards.

[2014-08-20 21:05] Danimal696 commented on #76
actually they were split from my adventurer model by skorpio and used apart from it, ill reexport them, but arent they nowhere in our repos?; Its cools they are armed again :D i so want this new version

 I also vote for Akien to have the permits he wants

[2014-08-20 21:05] akien-mga commented on #42
Hehe, in my pull request I just moved the whole chunk at the top of the file, it wasn't particularly complicated :-)
I've reverted my changes towards having proper make install instructions since it was a WIP, and I wanted something functional for a pull request. I've saved my work as git patches though, so I'll can use them to proceed with my work on the make install instructions (#58).

[2014-08-20 21:08] akien-mga commented on #58
As you said there are two sides for this issue:
- [x] Make the code retrieve the data path from the cmake call and hardcode it at compilation time
- [ ] Write installation instructions in CMakeLists.txt

I think it would make more sense to do the code part first (maybe deciding upon the variable name that should be used), and then to write the installation instructions. It would save quite some wo

[2014-08-20 21:49] akien-mga commented on #51
I hadn't tried TestSingleplayer.level much (it's great!), but I did it now and noticed something interesting: the normal map issue is not present. The shiny dirt walls are easily reproducible in the small test map, but I can't reproduce them in the big one. Same thing for the creatures, I did not spot any gleaming creature in the big map :-)

Can you confirm this observation?

[2014-08-20 21:52] akien-mga opened #98 "Exception when the creature names in a level matches the game's naming engine"
I just experienced a segfault on TestSingleplayer.level. It happened just when I was modifying an area of marked dirt tiles, but looking at the error log it's seems to be completely unrelated. It seems the server tried to spawn a unit with an already-existing name:

[2014-08-20 22:01] hwoarangmy commented on #98
Do you have the logs ?

[2014-08-20 22:02] hwoarangmy commented on #95
It's done. When the pull request will be integrated, sounds will be played on client side instead of server.

[2014-08-20 22:12] akien-mga commented on #98
I forgot to put the logs aside no, sorry. I then tried to reproduce the issue so the logs were overwritten.

[2014-08-20 22:17] Bertram25 commented on #42
Good strategy! :)

[2014-08-20 22:20] akien-mga commented on #51
I managed to reproduce the ghost tiles issue in TestSingleplayer, while building @hwoarangmy's new pull request :-) This was a nice way to dramatically increase my latency (or decrease my computer's reactivity), so maybe the root of the problem is a latency issue in the communication between the server and the client? If some information is lost, we might end up with the client and the server havi

[2014-08-20 22:55] Bertram25 commented on #76
@akien-mageia Welcome to the reviewers team Akien :)
I just need your promise you won't push the merge button without making sure both the code and the game is fine, as I know it may be tempting. ;)
You can assign tags and milestones to issues.

[2014-08-20 23:01] akien-mga commented on #76
Thanks! Well I don't intend to merge pull requests for now, except for really trivial ones for which even I can proofread the code :-)
I mostly wanted to be able to do some advanced bug triage. So I'll make sure I don't push "merge" before reviewing, even if it's a shiny button ;-)

[2014-08-20 23:11] Bertram25 commented on #76
Np, I trust you upon all that. :)

[2014-08-20 23:15] Bertram25 commented on #51
I'm not confirming it, sorry. They are more hidden, but last time I tried they were here.

[2014-08-21 00:11] hwoarangmy commented on #51
Yes, of course. But we use TCP sockets and we always expect packets sent to be received. If some of them are lost, it would be a really big problem...

[2014-08-21 00:15] hwoarangmy commented on #76
Sorry to answer so late (and after it is done) but I also give my vote. There was so many discussions yesterday that I might have missed some (this one at least) :)

[2014-08-21 00:19] hwoarangmy commented on #42
Unfortunately, it doesn't :(
The thing is that to compile with MinGW, the -std=c++11 do not work. I have to use -std=gnu++11. But when I change the flags in cmake after Akien's patch, the flags are re-added after the ones I changed.
When it will work with MinGW, I will test with MSVS so that we are sure that every supported environment works :)

[2014-08-21 00:25] hwoarangmy commented on #98
Ok, no problem. Then, I will try to guess. I would say that there are 2 problems :
- The TestLevel
- You are unlucky

I've had a look at the TestLevel file. It seems one of the creature is a wizard called... Wizard7. My guess is that because you are not lucky, the 7th creature spawned was... a wizard ;)
So the fix would be to ensure creature names in level file do not follow the engine naming logi

[2014-08-21 07:14] Bertram25 opened #100 "Add the new slime creature"
As freshly baked by @Danimal696 here:
http://forum.freegamedev.net/viewtopic.php?f=38&t=5664&p=58883#p58883

CC-BY 3.0 or CC-BY-SA 3.0 or GPL 3.0 or GPL 2.0
Model by Grefuntor and animated by D3dm

For reference, the interesting line in the creatures.def is this one:
`Slime    WeakFighter Slime.mesh  Bed 1   1   0.15    0.15    0.15    6   6   180 180 15  0   0   0.6 walkableTile`

[2014-08-21 07:14] Bertram25 commented on #100
The N° #100 !! Woohoo :D

[2014-08-21 07:25] akien-mga commented on #100
I thought about opening a troll issue like this one: https://bugs.mageia.org/show_bug.cgi?id=10000 :-D
But the latter was already too good, I couldn't come up with something really original ;-)

[2014-08-21 07:31] Bertram25 commented on #76
Yeah, yesterday was quite a crazy day. XD Anyway, it's good to have your vote.

[2014-08-21 08:08] Bertram25 commented on #98
Nice catch! Makes sense now. :)
I'd propose this:
Add a "_lvl" suffix to the custom creatures at level loading time as you suggested, but remove it if it is found when saving, so that when we later add save support, we don't end with creature names like 'Wizard7_lvl_lvl_lvl...'
We'll also have to check for name unicity at save time and change the creature names that aren't unique after the suffix

[2014-08-21 08:17] akien-mga commented on #98
Can't we have the server browse through the list of already existing creatures and start the numbering accordingly? If the highest creature number is e.g. 27, then the next creature would be e.g. Wizard28. The same could be use at load time for a saved game, without trying to fill the hole maybe (if Kobold14 died but the last creature is Wizard28, then the increment starts at 29).

[2014-08-21 08:28] #75 closed, assigned to hwoarangmy

[2014-08-21 08:28] #79 closed, assigned to hwoarangmy

[2014-08-21 08:28] #83 closed, assigned to hwoarangmy

[2014-08-21 08:32] hwoarangmy commented on #98
That's not what I suggested. IMO, it is the map editor who should do that so we don't have to care about adding or removing the suffix at loading or save time. As I already said, I almost never had a look at the editor and I don't really know how it handles creature names, especially after loading. If it is handled, we could use the same logic.

We could check if the creature name is ClassName + n

[2014-08-21 08:43] Bertram25 commented on #98
The editor doesn't handle anything at all really. It's more some kind of clone of the game, without the turn updates and with a few custom commands and buttons. It does load a level the same way than the game (which is fine), and hasn't got any tools to setup creature names.

Sounds like the best solution to me. :)

[2014-08-21 08:57] Bertram25 commented on #40
Weird, I wonder how is cmake and code::blocks linked with the change on line-endings of sln files. O.O'

[2014-08-21 09:33] hwoarangmy commented on #98
ok, let's do that

[2014-08-21 12:31] hwoarangmy opened #101 "Water and lava should be set passable/impassable independently for creatures"

[2014-08-21 15:09] Bertram25 commented on #76
@tomluchowski reported on forums:

[2014-08-21 15:59] akien-mga commented on #76
I can't find a reference to it in the development branch (searching with `ack -il "projectile"` that searches recursively for the given string in all files). Could it be something linked from inside a binary file, such as a model?

[2014-08-21 16:07] hwoarangmy opened #103 "Speed up server acknowledge when player ask pickup/drop creature or mark tiles"

[2014-08-21 16:24] hwoarangmy opened #104 "Creatures stop moving after a while - problem with action list"
I let a game play during some time and I've seen strange things in action list like the one posted. I guess the root comes from maneuver action that is not popped for an unknown reason (I've not had look yet)

![bug](https://cloud.githubusercontent.com/assets/7493706/3999303/50560276-294f-11e4-8320-a4a8b87b60ce.png)

[2014-08-21 18:37] Bertram25 commented on #76
Unlikely but still possible. He might also have misspelled it. Let's ask him the precise log, I guess.

[2014-08-21 18:50] akien-mga commented on #76
Yes I checked the models and skeletons in models/, it's not there. At least not in clear text when opening the files in a text editor.

[2014-08-21 22:48] hwoarangmy opened #106 "Add the chicken coop in the hatchery"

[2014-08-21 23:10] hwoarangmy commented on #51
As stated here http://forum.freegamedev.net/viewtopic.php?f=45&t=4765&p=58933#p58933
I could reproduce the bug by making the server send a tile fullness dug message to an already dug tile. Even if I don't know the true root of the bug, we can fix it by adding a sanity check before changing the tile fullness on the client side. I will add some asserts around the tilefullness change message, through

[2014-08-22 07:08] Bertram25 commented on #51
+1 You found out the a way to reproduce. Congrats. :D

+1 as well.

[2014-08-22 07:47] Bertram25 commented on #91
I'm setting the milestone to Later as it is less urgent for release now, strictly speaking. But I plan to work on kiiling this one little by little from time to time. :)

[2014-08-22 07:57] Bertram25 commented on #76
@akien-mga Ah, before I forget, could you push this commit to the main repo? (about the other shield reference removal.)
https://github.com/akien-mga/OpenDungeons/commit/839f466a637ed8b1ebefc5b0e7231711166dfea4

This one has my review. We can always put the models reference back whenever they are re-exported by @Danimal696 but in the meanwhile we must make sure the game can run.

Thanks! :)

[2014-08-22 08:02] Bertram25 commented on #88
Also depends on #12 for enemy heroes waves.

[2014-08-22 08:28] akien-mga commented on #76
It has been merged already: OpenDungeons@839f466 ;-)

[2014-08-22 08:30] Bertram25 commented on #76
I'm an idiot. XD

[2014-08-22 08:43] hwoarangmy commented on #91
ODPacket is already done and will be part of my next pull request.

[2014-08-22 08:52] Bertram25 commented on #76
As said on the forums, if nothing new happens within one week or two, I think we can close this issue. We'll reopen a new one whenever the new shiny models come back. :)

[2014-08-22 09:10] Bertram25 commented on #93
Note to self:
- [x] Get missing model author % licenses.
- [x] Get authors & licenses of gui files, both falagard & custom made.
- [x] Add missing MIT License text in licenses
- [x] Convert Axe.tga -> png to prevent having multiple formats uselessly.

[2014-08-22 10:07] Bertram25 opened #108 "Add support to destroy a room using a new button."
Destroying a room gives back half the tile price.

The icon is ready (The wrecking ball)
Should we add this to 0.4.9 or later?

[2014-08-22 10:16] Bertram25 commented on #98
I was thinking about it, and in fact, when creating a new creature instance, could the server check for whether the new creature name is actually unique by checking the other creature's names? This would be permit to avoid such a situation very easily, right?

[2014-08-22 10:22] Bertram25 commented on #52
Can be set to later, as it is not blocking and wasn't identified as urgent before release.

[2014-08-22 10:25] Bertram25 commented on #40
Shouldn't block the release, and since it's not reproducible, let's wait for this.

[2014-08-22 10:26] hwoarangmy commented on #98
Yes. Anyway, I'm actually doing a patch for entities names. For some of them (rooms, traps for example), we assumed that the unique numbers to generate the names were synchronised between the server and the client (because the name and the gamemap were set late after the creation due to the architecture). I'm currently getting ride of that so that every entity uses the name used by the server (no

[2014-08-22 10:26] Bertram25 commented on #29
This is a bug, but an harmless one fortunately, since the texture isn't reloaded many times. So it shouldn't block this release.

[2014-08-22 10:27] akien-mga commented on #52
That's true, though I wouldn't mind if we could use another sound in the meantime that does not sound like the ticking noise of a clock (especially since it's so regular and brief). Maybe something more "rocky" that sounds like pickaxe on rocks? @Danimal696 WDYT?

[2014-08-22 10:32] Bertram25 commented on #6
For the current release, after thinking about this, I'd rather not show useless buttons.

So I'd like to let the menus as is while renaming Single-Player to Skirmish (in reference for the future).
I would also hide the options button seen in game as it is not functional.
And I would move singleplayer maps into the skirmish/ folder.

then, this issue can be closed and a new one can be opened when w

[2014-08-22 10:37] Bertram25 commented on #52
@akien-mga Sure, just check the Digging available sounds and have a go changing the name here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/SoundEffectsHelper.cpp#L113

[2014-08-22 10:39] Bertram25 commented on #98
Sounds a good and sane refactoring. :)

As for the battlefield debug entities, here is what i found while rewriting it:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Creature.cpp#L2336

I do think more code was once around, but I can't really tell.

[2014-08-22 11:02] akien-mga commented on #6
+1

[2014-08-22 12:44] hwoarangmy commented on #6
Yes, I also believe it is better to not show not functionnal buttons as it will look too much like a bug

[2014-08-22 12:45] hwoarangmy commented on #98
ok. Then, it is not functional in the actual code. Was it usefull ? Have you seen how to works and what it is for ?

[2014-08-22 12:58] Bertram25 commented on #6
Ok, I'll handle that one if nobody else takes it.

[2014-08-22 13:04] Bertram25 commented on #98
It was used to graphically show the "danger" ratio of each tile of the first spawned creature or nothing it there were no danger. (all that was very hardcoded I suppose).

It was using some sort of bar more or less high depending on the value live.
I may have been useful, and maybe it will be someday if we want to change or improve, or if we break this somehow.
I'd simply say we might want a bette

[2014-08-22 13:45] hwoarangmy commented on #98
Well, I guess it can be interesting when we will mess with fighting behaviour, which will have to be soon. I will have a look if it is hard to re-enable it.

[2014-08-22 14:10] Bertram25 commented on #98
Np, as for me. Visual live debug info are the best to understand what's happening, IMHO. (I'm doing this on VT, for instance.)

[2014-08-22 14:35] hwoarangmy commented on #98
yes, IMHO, the 2 best ways (compatible) :
- visual debug
- log activable debug (through console, being able to change logging level) so that when you see something weird, you can activate logs to see what's happening

[2014-08-22 23:31] hwoarangmy commented on #104
I've let a game play for 3 hours with the 3 AI fighting each other. After that time (don't know exactly when it started) almost all AI creatures were frozen. There is definitely a problem with maneuver action as most of them had their action list full with that. But some not moving had a list that seemed normal (idle and walktotile) but they did not move either.

[2014-08-23 09:20] akien-mga commented on #104
I guess I found the culprit: `Awakeness: 0`
I have three creatures with 0 awakeness who are standing at the edge of my dormitory, and idling with the "sleep" action. My guess is that there is no room for their bed in the dormitory, so they're just idling of exhaustion :-)

_Edit:_ I picked one of them and dropping him in the dormitory, and he went to his bed to sleep. So there is something broken

[2014-08-23 13:40] Bertram25 commented on #104
While this is another problem, I think it's next important one to deal with. Have you got a way to reproduce more or less? Or a screenie? :)

[2014-08-23 13:42] Bertram25 commented on #104
Yeah, I confirm. Might be linked to paths also.

[2014-08-23 20:23] hwoarangmy opened #110 "Many goals use Client gamemap to check if they are reached"
They should use the server gamemap (at least for those in the server gamemap)

[2014-08-23 20:57] Bertram25 commented on #110
Hi,

Also, shouldn't the goals be told by the server, and the clients only display what they're told to? IMHO, it would simpler to handle.
Hence remote clients wouldn't handle goals update at all by themselves, except if it means a lot of useless traffic, though.

[2014-08-24 06:03] #100 closed, assigned to Bertram25

[2014-08-24 06:10] akien-mga commented on #25
Some details about the paths to use on Linux (and Mac?): http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html
Basically config files should go in XDG_CONFIG_HOME/OpenDungeons (or lower case name, depending on what we decide for the linux binary in #57) i.e. ~/.config/OpenDungeons, and user data (saves and custom maps or custom tilesets, etc.) should go to XDG_DATA_HOME/OpenDungeo

[2014-08-24 07:51] hwoarangmy commented on #110
It is the case. The goals are updated on the server gamemap and the result is sent to the clients as a string. But I had did not remember that some goals used the client gamemap :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/GoalProtectCreature.cpp#L35

[2014-08-25 11:39] Bertram25 commented on #110
k :)

[2014-08-25 12:35] #103 closed, assigned to hwoarangmy

[2014-08-25 13:32] hwoarangmy opened #112 "Change chicken spawning logic in the hatchery"
I've been thinking about how to display the chicken coops in the hatchery. I think it could be nice to have one per active spot to know how many chickens are generated even if they are all eaten.
The problem is that for 3x3 rooms, we could have 5 activespots. With the chickens, it will be 10 room objects for 9 tiles.
We could add support to have several room objects on the same tile (at least 2).

[2014-08-25 15:52] Bertram25 commented on #112
Hi @hwoarangmy :)
Here is how I see hacheries, feel free to coorect as you see fit:
As an exception, hatcheries should only have chicken coops on their center active spot, Imho. I do think it wouldn't look good otherwise.
I also do think a chicken should be spawned per room tile, except where the chicken coops are. (Spawned little by little, like now).
What do you think?

[2014-08-25 19:11] hwoarangmy commented on #112
I agree, 10 room objects on a 3x3 tiles room seems a lot. But I would prefer to be able to see at a glance how many chickens can be spawn in a hatchery (as some can have been eaten). And actually, there is one per active spot.
Spawning 1 per tile seems too much to me. There would be too many chickens. Moreover, if we do so, there will be no benefit of claiming walls in the hatchery (and I think th

[2014-08-26 08:24] Bertram25 commented on #112
You're right. Let's keep one chicken per active spot.

What about a central chicken coop, which has a different size and/or shape depending on how much active spots are around?
I know it's demanding as for the modeling, but this would look nice, wouldn't it?
This solution would require 5 different chicken coop model though. (Or maybe we can play with it's scaling?)
What do you think guys?

Another

[2014-08-26 08:41] hwoarangmy commented on #112
That's also what I had in mind as a "simple" solution (playing with size/color). I had also thought about changing the time respawning with the increased number of active spots (even if we have to find a logic for bigger rooms). In this case, the hatchery could spawn 3 chickens per central active spots and the time respawn would change accordingly to the number of wall active spots per central act

[2014-08-26 08:50] Bertram25 commented on #112
I like that proposal, too. :)

Yep, that's a good idea as well. I think you can go ahead for the central active spot, and maybe @Danimal696 will agree to help us for wall hatchery models?

[2014-08-26 09:46] hwoarangmy commented on #112
Ok, I will do that.

[2014-08-26 19:41] hwoarangmy commented on #112
I've made a try and after all, I think the old logic was better (and it's less complicated to change). I mean spawning 1 chicken per active spot because on the training room or the library, central or wall active spots are equivalent. In the hatchery, I think we should keep the same logic. That's why, now, there will be 1 chicken coop on central tiles and 1 chicken will be spawned per activespot.

[2014-08-27 14:47] hwoarangmy commented on #108
I think this will be usefull for debug purposes and it is not very hard to implement so we should add this for 0.4.9

[2014-08-27 16:11] akien-mga commented on #52
I'd like to set this one back to the 0.4.9, I think there is room for easy improvement. Even if we can't get the spatial intensity, we could probably make it so that the sound played at each tick is chosen randomly among the available sounds in sounds/Digging. We have 18 of them, and they add a great deal of variety to the digging tick :-)

@hwoarangmy @Bertram25 WDYT?

[2014-08-27 19:07] Bertram25 commented on #52
Alright, I'll take that one and will deal with it, once the main menu issue is done. :)

[2014-08-27 23:07] #6 closed, assigned to Bertram25

[2014-08-28 09:01] Bertram25 commented on #5
I've started improving the skin locally. First step was to improve the scroll bar buttons and get rid of the falagard unused bits. I also started working toward a better in game window frame skin, but it's a bit more complicated because of the titlebar. Here is a teaser, I'll make a first pull request something like this evening. ;)
![opendungeons](https://cloud.githubusercontent.com/assets/765917

[2014-08-28 12:34] Danimal696 commented on #98
Hi guys, i was thinking, could we do as in DK and have each creature have a different race specific name? Creatures would get a name generated at ramdom (or from a list) and an unique identifier; ex:
Warlock: Saruman , warlock14
Warlock: Ganondorf , warlock15
Lizarman: Hssisofer , lizard3

[2014-08-28 12:40] Danimal696 commented on #112
I like the more simple way proposed by hwoarangmy, i always saw the chicken coop just as some fancy decoration for the room, not an active object. I would just add it at room centers witouth any other change to code. That said if something else is decided i can made some new models as needed

[2014-08-28 12:48] Danimal696 commented on #52
i will try to look for new ones, cant promise anything; im having the final rush for a recovery test. Will probably have to wait until i finish that.

[2014-08-28 13:00] akien-mga commented on #52
@Danimal696 Actually the current ones are quite good in my opinion, I hadn't listened to them when I asked you for replacements. The problem is just that only one of them is used for now (and that the sound should only be played when looking at workers).

[2014-08-28 13:41] Danimal696 commented on #52
it will be the same for creature step, cries, death... sounds; it would be nice if someone fix it in preparation for that.

[2014-08-28 13:45] Bertram25 commented on #98
@Danimal696 Creature name as we mean here aren't meant to be seen by the player, they are more internal unique ids.
Creating fun random names is IMHO useless, as we'll change the status window to be displayed only for developers only, and replace info view with the skull flag system.

[2014-08-28 13:48] Bertram25 commented on #112
Np for that change. I do think it doesn't change anything in game and if it's more simple... :)
@Danimal696 I sincerely still would like to see small pond on wall active spots. This would visually help understand why claimed walls make a difference, IMHO.

[2014-08-28 13:49] Bertram25 commented on #52
I'm on it. From what I was able to code so far, creatures will be able to play a random sound for each action type. I also separated more clearly the interface sounds from the creature ones.

[2014-08-28 14:03] akien-mga commented on #98
I like the idea of having random names for the creatures, but as @Bertram25 says it would not be relevant for the status window and the creature IDs.

That said, we can keep the idea at the back of our heads. It would be nice to have random names if we decide to add some RPG elements in a later stage of development (for example if you have a high-level warlock with some great equipement, you would

[2014-08-28 14:26] Bertram25 commented on #98
True, special creatures will need to be visually different, and displaying their name somehow would help. :)
Ok, I won't throw away the idea from my head, sorry for my bluntness. ;)

[2014-08-28 14:27] hwoarangmy commented on #112
That's also my point. Currently, the more active spots, the more chickens. But if there are creatures eating, it is not that obvious how many chickens are there. Well, that said, it can be done later. Shall we create an issue ?

@Danimal696
Concerning the chickens, I've just realized that they do not have a "Walk" animation state (at least, they seem static when I set them to this state). Do they

[2014-08-28 15:00] Danimal696 commented on #112
Yes, i can make some kind of model to pretty up the room; but this takes me to something i have been thinking, Could the wall textures be changed when a room is build next to it? and could the wall mesh be changed? that could open a lot of posibilities to make the rooms and graphics stand up by a lot.

the only way i know is to look at the unimported blender model animation tracks, sometimes a cap

[2014-08-28 15:10] hwoarangmy commented on #112
ok. I will keep Idle animation for chickens even when they move as it's the only one I'm sure of. We can change that later.

[2014-08-28 15:17] Bertram25 commented on #112
@hwoarangmy It seems there is a getAllAnimationStates() function in Ogre:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/RenderManager.cpp#L1170

I hope it will help you.

[2014-08-28 15:24] Bertram25 commented on #112
@Danimal696 The good news is that it is possible. :) But the bad one is that things are already very complicated and hard-coded when it comes to the tileset handling.
I'd rather we have a clean and tested way to configure how the tileset should behave before we enter in complicating it. (One of my oh so neat tasks assigned. ;])
Let's take this point when we're more or less done with tileset handli

[2014-08-28 16:16] Bertram25 commented on #93
What's left:
- Files to remove:
  - [x] golem.*
  - [x] LavaGolem.mesh
  - [x] WoodWatchTower.mesh
- Font file to change for an open-licensed one:
  - [x] bluehigh.ttf
- To redo with clear licenses:
  - [x] Light.mesh
  - [x] Field_indicator.mesh
  - [x] SquareSelector.mesh

@Danimal696 :
The cavehornet mesh is actually still using the Insect_low.003.skeleton file.
Could you re-export it using a s

[2014-08-28 16:29] hwoarangmy commented on #112
It works; And chickens have a Pick animation :)
There is also a Walk animation after all. It is a little bit static so I thought it was buggy. But if it is the intended animation, I will use it.

[2014-08-28 20:48] Danimal696 commented on #93
hi, have you tried looking for it into the old svn repository? many of the old blends had licenses texts incorporated

[2014-08-28 21:32] Bertram25 commented on #93
Ok, I'll have a look.

[2014-08-28 22:11] Danimal696 commented on #93
i already did, there is no blend of those models and i couldnt find more information, redoing them seems difficult in that case since i have no idea how they were done.

They were made specifically for OD, so the safest is to say skorpio was the author, or maybe Svend, but the chances are lower of being him

[2014-08-28 22:26] Bertram25 commented on #93
Yeah, that's what I thought, too. The square selector is the thing you're using to select tiles, the light can seen in the editor mode. It's a flat panel with a flame animation.
I don't know about the third, yet.

[2014-08-29 08:44] Bertram25 commented on #93
@Danimal696 I added pictures of the models to redo, if possible, here:
http://forum.freegamedev.net/viewtopic.php?f=35&t=5757&p=59064#p59064

[2014-08-29 08:56] Bertram25 commented on #93
Ah, btw, I'll have to split the gui/OpenDungeons.png file into two, as parts of it are MIT licensed and the other one is CC BY SA 3.0 which can't reside on the same image.
I'll thus propose to move TaharezLook bits in a OpenDungeonsOldSkin.png
and the new bits in OpenDungeonsSkin.png file and do the corresponding cegui files changes.

Are you ok with it, guys? We're almost free of licensing dirt!

[2014-08-29 08:57] Bertram25 commented on #93
And what do you think of this font to replace the closed source highway one?
http://openfontlibrary.org/en/font/medievalsharp

[2014-08-29 10:03] Danimal696 commented on #93
That fonts look goods and is clear to read

[2014-08-29 13:12] hwoarangmy opened #117 "Add a console command to give gold to a player"
This is for debug purposes but it can be used to change starting gold in level files. The logic should be too dispatch through the treasury rooms the gold. If more gold than treasury rooms available, the gold is dropped.

[2014-08-29 13:23] #106 closed, assigned to hwoarangmy

[2014-08-29 13:23] #112 closed, assigned to hwoarangmy

[2014-08-29 15:10] Bertram25 commented on #76
Let's readd the models when one export them again. Closing as the oldTest level file is working as for me.

[2014-08-29 15:10] #76 closed, assigned to Bertram25

[2014-08-29 15:10] Bertram25 commented on #41
Tested with mesa 12.2.6. The warnings are still here. I guess it will have to wait for 10.3 (hopefully) ??

[2014-08-29 15:50] akien-mga commented on #41
I still get the warning with mesa 10.3 RC1 :-(

[2014-08-31 21:12] #98 closed, assigned to hwoarangmy

[2014-08-31 21:12] #110 closed, assigned to hwoarangmy

[2014-09-01 07:14] Bertram25 opened #120 "Crash on missile spawn."
As reported by @Danimal696 here: http://forum.freegamedev.net/viewtopic.php?f=37&t=5786

The crash exception log is:
`Internal Ogre 3d exception: SceneNode "MissileObject_Missile_Object_1_node" not found. ...`
This happens on the 2014-08-20 rolling release windows binary.

Some work has been done on units names so this might already be fixed in master, but we have to make sure.

[2014-09-01 08:12] Bertram25 commented on #52
For the record, once my pull request will be fixed and merged in, the game will use every available sounds for a given action in the corresponding folders and play them at random and with a revised spatial position, tested by @akien-mga ;)

This also means you can add new sounds in a sounds/ subfolder and they will be taken in account. E.g:
If you add a new sound in sounds/Digging/, it will be use

[2014-09-01 08:16] Bertram25 commented on #68
@hwoarangmy Hi,
I don't want to put any pressure on you for such a stupid Input library so feel free to tell. :)
Do you think this can be dealt with for the release, or do you know an easy workaround we can add for the release?
If not, and if you don't want to deal with this before the 0.4.9 release, we can always list that in the known bugs list at release time.

Regards,

[2014-09-01 08:19] Bertram25 commented on #95
@Danimal696 Hi :)
Feel free to hint me when the sounds/music is ready, I'll have a look at integrating it, while I'm on Audio business. ;)

[2014-09-01 08:27] akien-mga commented on #68
Unless @hwoarangmy really wants to have a look at it before the release, I think we can set the milestone to later. As you can see in the issue description, the only way I found to reproduce the issue was to use some key combinations with AltGr, and it's not a key that use usually in video games.

Most users probably won't notice it unless they do some deep and evil beta testing as I did, so a men

[2014-09-01 08:37] akien-mga opened #121 "Fix run in place when building OD out of source"
Partly related to #58.

I'll have a look at fixing the CMake scripts to make it possible to run OD even when it is built out of the root source directory (for example I always build OD in a "build" subdirectory). For the reference, the build directory is stored in the CMAKE_BINARY_DIR variable.

On Linux, the simplest way to do this would be to add symlinks to the needed assets directories (which

[2014-09-01 08:38] akien-mga commented on #121
I'll have a look at Linux first, but ideally this should be done in a cross-compatible way.

[2014-09-01 08:47] Danimal696 commented on #52
its already a pretty good patch! nice work bertram

[2014-09-01 08:48] Bertram25 commented on #41
There is so much glsl bug reports in mesa I don't think our case will be handled right away, but in any case, the glsl error can come from an glsl mishandling but also from a gl feature not supported by the mesa drivers as said here as well:
http://www.ogre3d.org/forums/viewtopic.php?f=2&t=44132&start=25

I'll try to find the actual line breaking the glsl shader compilation and maybe we'll find mo

[2014-09-01 08:49] Danimal696 commented on #95
Sorry, later this week, when im no sleep deprived from uni exams. Do you prefer bgms over sounds or the other way round?

[2014-09-01 09:05] Bertram25 commented on #95
The uni exams first. :) So no OD for you until you are allowed to sleep, ok? ;)

I guess you're speaking about ambience, such as water drops heard faraway with some reverb?
I do think we need both, but music should be music and such ambient sounds should remain sounds.
Thus we can reuse the same ambient sounds with a different music, and mix the two kinds at our discretion.

Makes me think we coul

[2014-09-01 09:06] Bertram25 commented on #68
Sounds fair. :) We have enough for the release anyway. ;)

[2014-09-01 09:10] hwoarangmy commented on #120
I think it is already fixed but I am waiting for @Danimal696 to add more information on how to reproduce the bug.

[2014-09-01 10:09] hwoarangmy opened #122 "Crash when double-click on a creature (and maybe drop it.)"
Seems like the pickup message is sent twice. On server side, we should do nothing if asked to pickup a creature already in hand.

[2014-09-01 10:11] Bertram25 commented on #120
I think it too. AFAIK, to reproduce the bug, you have to place cannons within a level file (so they are loaded at map start) such as in the oldtest.level file, and attract enemy creatures to make the cannon fire.
The crash should happen at that moment, or no more. :)
@Danimal696 may have more info, though.

[2014-09-01 10:14] Bertram25 commented on #122
Nice catch!

[2014-09-01 10:23] akien-mga commented on #122
I did not try but if the logic is implemented in a similar way, I guess there would also be a crash when you have a creature in hand and you double-click to drop it.

[2014-09-01 12:05] hwoarangmy commented on #122
Yes, you may be right. In any case, I will add some checks for both cases.

[2014-09-01 12:07] hwoarangmy commented on #120
It only happens on canons loaded from file ? I've never tried such cases...

[2014-09-01 12:26] hwoarangmy commented on #101
I've been thinking that instead of using tile passability, we could add in creatures.def a speed modificator on water and speed modificator on lava. For creatures that are actually allowed on walkable tile only, the speed for both would be 0 and the creature should not be allowed to pass. But we could imagine to have creatures that could go through water with a 0.5 speed penalty or others such as

[2014-09-01 12:47] akien-mga commented on #101
That could be interesting for the gameplay, and as you say it could help differentiate creatures that can't go on water and/or on the lava. We could even have water creatures that can't leave the water and fire elementals that can't leave the lava, in scenarios where your dungeon is partly surrounded by lava/water :-)

Depending on the implementation, I can already foresee potential flaws though:

[2014-09-01 13:01] Bertram25 commented on #120
I don't know yet, but I reproduced only that way. And I didn't want to interfere or tell things I haven't actually tested.

[2014-09-01 13:12] Bertram25 commented on #101
The idea given here is interesting enough and could provide some good strategical cases. :)

I don't completely know about the implementation, but a speed factor of 0 should make the tile type be treated like a wall in this case, indeed. For optimization purpose, we might want to keep boolean for collision detection somehow, though.
Also, what @akien-mga said about path optimization depending on t

[2014-09-01 13:55] hwoarangmy commented on #101
I guess you are talking about floodfill. I've seen that in the code but didn't look how it works yet. That may be a problem... I think it deserves a little bit more of relexion to find a nice way to handle that...

No worries, of course, it has to be processed during the find path ;) Even if I think that we should use the same algorithm as the actual one, at least for now, to not care about this p

[2014-09-01 14:01] hwoarangmy commented on #120
Well, I have already tested quite a lot canons and didn't see this crash. I remember having fixed a bug where the missile object number was wrongly handled. But I don't remember if it was after or before the new release...

[2014-09-01 14:05] akien-mga commented on #120
The release was on August 21st around 1 a.m., you can check if your commit was after that :-)

[2014-09-01 14:05] Danimal696 commented on #120
Hi guys, yes, that the case; i tried and it happened each time a cannon tried to fire to something. im sure thats the cause.

[2014-09-01 14:27] Danimal696 commented on #95
BGM = background music; yes i found a few of those ambience sounds, it will be nice if getting near the water triggers a water drops sounds or lava splashes; some of the rooms could have this as well, like the cementery or dark temple having an ominous soft chanting; training over dummies having a "swosh" sound...

[2014-09-01 14:30] Bertram25 commented on #120
Ok, then the test is simple enough. :)
If we can test @Danimal696 's level and it doesn't crash when a cannon is firing on master, then the bug is fixed. I'm eager to see that level anyway. :)

@Danimal696
If the bug is indeed fixed, I'll upload a new binary for you asap, so you can go ahead with the level more freely. :)

[2014-09-01 14:54] Bertram25 commented on #95
Small length spatial sounds can be added rather easily IMHO. :) Especially now we seem to have rather correct spatial attenuation values.

As for the sounds that are looped, I don't know whether we can safely ask a spatial sound to play looped and get away with it, especially if there can be dozens of it. I do wonder whether OpenAL (the beast under SFML::Audio) does or needs to do some auto-cullin

[2014-09-01 15:19] Danimal696 commented on #120
Thanks, but everything would go smoother if the editor worked in the next exe so i dont have to jump between two OD versions

[2014-09-01 15:34] Bertram25 commented on #120
Now you tell it, it seems broken on the windows binary:
@hwoarangmy Are you still on the level editor menu or can I have a go at it once I've fixed my other pull request?

[2014-09-01 15:38] Bertram25 commented on #120
@Danimal696 You're right, we should have a round at easing level edition so that you can work without too much annoyance but I can't promise anything right now. See #22 #17 #18

[2014-09-01 19:00] hwoarangmy commented on #120
I've never worked on the editor. So, you can do as you want.
But if you want some help to go faster, feel free to ask :)

[2014-09-01 19:07] hwoarangmy commented on #101
Ok, I've seen what floodfill is. In fact, it is just a matter of tagging walkable tiles to know if there is a way to go from a tile to another for a walkable creature. The optimization is to not search if there is no path (which is not stupid since that's the case where A\* algorithm would be the worst).
So, to improve floodfill, I can do the same for
- walkable tiles (already done)
- walkable  +

[2014-09-01 19:19] #93 closed, assigned to Bertram25

[2014-09-01 21:34] Bertram25 commented on #101
All that seems cool to hear. :)

[2014-09-01 22:27] #117 closed, assigned to hwoarangmy

[2014-09-02 09:08] hwoarangmy commented on #101
ok, I'm gonna give a try. I will also try to add some console commands to force a creature to go somewhere to debug this.

[2014-09-02 09:12] hwoarangmy commented on #101
BTW, now that I am at it, I am also doing some tests to see if we can improve the A\* algo (by using more appropritate classes). If someone has an idea, that's the right time to tell :)

[2014-09-02 10:34] Bertram25 commented on #101
The console command is a good idea. :)
All I can say is that at the moment, IIRC, whenever a path is longer than, say 20 tiles, an empty path is returned. I think this is wrong because if a creature wants to go somewhere, I'd prefer it to reach its goal using two or three small pathfind calls, rather than stay idle because the API returns an empty path in that case. My two cents. :)

[2014-09-02 10:42] Bertram25 commented on #101
Ah, also, workers have a hard time going through 1-tile wide corridors from one room to another, preventing them from claiming tile efficiently for instance. The bug disappears once the same corridor is 2 tile wide. That's why I made the AI dig 3 tile wide paths to make sure it would work. I also suspect the cutCorners() functions to have a role in this bug according to my partial investiguations.

[2014-09-02 12:27] hwoarangmy commented on #101
From what I've seen so far, there is no limitation is the path length when the path is calculated. I've done a special map for that based on small map (changinf dirt till fullness to 0). That means I only have the gold tiles with 2 holes. I've added in code a call to find the path function in a loop to see how long it takes when changing the lists. I am trying with path from 1;1 to 49;49 and it wo

[2014-09-02 12:43] Bertram25 commented on #101
Yeah, I might have dreamt it, or even removed that limitation myself, I can't remember. ;) Sorry, all that was from my humanly failing memory.
I'm quite certain there is a bug around narrow (1-tile wide) paths, though. As it happened again yesterday while playing.
The limitation I have mis-seen might as well come from that bug. ?

[2014-09-02 13:01] hwoarangmy commented on #101
I did not say there was no limitation. I just said it was not in the path finding function. But it may be somewhere else. For now, I'm focusing on the path function. I will see the others after. I will tell you if I find something about the bug you are talking about.

[2014-09-02 21:03] hwoarangmy commented on #120
Bertram tested with Danimal's map and it seems like the crash do not happen anymore, I close this issue

[2014-09-02 21:03] #120 closed, assigned to nobody

[2014-09-02 21:45] #94 closed, assigned to Bertram25

[2014-09-02 21:50] akien-mga commented on #52
Fixed by #118.

[2014-09-02 21:50] #52 closed, assigned to Bertram25

[2014-09-03 07:28] Bertram25 commented on #95
Ok, I've checked that point. We can safely add short sounds as spatials, especially as we're caching the sound to reuse buffers, but we will have stop (cull) looped sounds that are too faraway ourselves if we don't want to use too much audio memory.
N.B.: Spatial sounds must be mono-channel to work.

So in order to close this issue, I'm ok with adding the cannon and gold deposit sounds, and add a

[2014-09-03 07:30] Bertram25 commented on #23
Heya @Danimal696 :)
For now, I think I can deal with the first three points in the list.
Could you give me a good open sourced combat music link to I can have a go at the fourth one?

Regards,

[2014-09-03 07:33] Bertram25 commented on #122
I confirm the bug. It happened to me several times in game. I guess this is when click several times within a turn on the client side.

[2014-09-03 07:35] Bertram25 commented on #89
Doc for default CEGUI tooltip implementation:
http://cegui.org.uk/wiki/Tooltips
http://static.cegui.org.uk/docs/0.8.4/classCEGUI_1_1Tooltip.html

I'll deal with improving the skin once we have it in-game.

[2014-09-03 10:08] Danimal696 commented on #23
hi Bertram, i think this one is good, there is a few others in my sounds topic:
http://opengameart.org/content/the-dark-amulet-dark-mage-theme

Should be enough for testing purposes?

[2014-09-03 10:17] Bertram25 commented on #23
Yep. thanks!

[2014-09-04 07:48] hwoarangmy commented on #101
@Bertram25 Do you know if there is an easy way to display some text on ogre nodes ? I would like to add a console command to display floodfill on tiles but I couldn't find an easy way to display that. For now, I use a command that export to the logs the floodfill but it is not easy to read :)

[2014-09-04 11:43] Bertram25 commented on #101
@hwoarangmy Like this? http://www.ogre3d.org/tikiwiki/tiki-index.php?page=MovableText

[2014-09-04 11:48] hwoarangmy commented on #101
Yes, I've seen that but it requires to add a new dedicated class. I was hoping there was a way out of the box to do that as I'm not sure about licenses when including code from somewhere else. Never matters, I will use that. Do you think there is a license problem if we push that ?

[2014-09-04 11:52] Bertram25 commented on #101
For the code, it is MIT, as stated in the license agreement, AFAIK. So there shouldn't be any problem. :) But beware of the fonts, though. Don't use them.

[2014-09-04 11:54] Bertram25 commented on #101
Correction:
From the website:

[2014-09-04 12:38] hwoarangmy commented on #101
ok. I prefer to ask :)
I will try and if it works, I will push it

[2014-09-04 13:15] Bertram25 opened #126 "Creature sounds per class support"
Creature sounds should be added and sorted in the sounds/Creatures/ folder following their specie. Thus making sounds reusable for several creatures.

For instance:
`insects, reptile, small monster (creeps), medium monster, big monster, humanoid monster, male human, big male human, female human and a few special for creatures like slime, pirate...`
Creatures could use them at random depending on w

[2014-09-04 13:17] Bertram25 commented on #95
As told in the forums, a better dig select sound is also needed.

[2014-09-04 13:18] hwoarangmy commented on #101
As you said, there is a problem with font and it doesn't compile. Well, I think I'm going to stick on Logs and that will be enough.

[2014-09-04 13:25] Bertram25 commented on #23
The first 3 points are handled with PR https://github.com/OpenDungeons/OpenDungeons/pull/125

I'll add the cross-fade with the battle music once all that is reviewed and merged.

[2014-09-04 13:36] Bertram25 opened #127 "Level loading screen - Display info about the currently chosen map."
I've added map info support in PR #125 .

Now levels have the following parameters:
- name, description, standard music, and battle music filenames.

Currently, only the standard music parameter is used, but I'd like to add support to display the map name in the map list instead of the map file stem, the description, and maybe add some info about the number of players, and its tile size.
A difficu

[2014-09-04 13:43] Bertram25 commented on #92
Fixed in https://github.com/OpenDungeons/OpenDungeons/commit/5b274cfa612d8c50f9744c7a839ede11d5869457

[2014-09-04 13:43] #92 closed, assigned to nobody

[2014-09-04 13:45] Bertram25 commented on #101
Ah, dang it. That's what happens when snippets aren't updated. I'll have a look on my own but I can't promise anything soon.

[2014-09-04 13:52] Bertram25 commented on #108
Should be easier now that auto-addition of gold has been added with #92 & #117

[2014-09-04 14:28] hwoarangmy commented on #101
Btw, I am also having a look at creature action behaviour as I have some weird issues due to them (like creatures crossing walls :) ).

[2014-09-04 14:40] Bertram25 commented on #101
If it's not a ghost tile problem, then cut corners might also be the culprit in that case.
I'm more and more thinking we should stop cutting corners. It might be not that important after all, IMHO.

[2014-09-04 15:54] hwoarangmy commented on #101
lol. Funny, I was thinking that I should ask for removing it too :)
I've tried to stub it and I do not see any problem with 1 tile passageway.
I've been thinking that we could use diagonals after calculating the path (if the 4 tiles are passable) and that might be enough. What do you think ?

[2014-09-04 17:01] Bertram25 commented on #101
I completely agree.

[2014-09-04 17:39] hwoarangmy commented on #101
Ok. I will do that then

[2014-09-05 13:13] Bertram25 opened #129 "Add fixed training dummy and new training dummy"
http://forum.freegamedev.net/viewtopic.php?p=59233#p59233

[2014-09-08 21:45] #70 closed, assigned to Bertram25

[2014-09-09 14:57] hwoarangmy commented on #51
I've found out what was going on. It was not a problem of 2 messages being sent after all. In fact, the problem came from :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Tile.cpp#L100

When called :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Tile.cpp#L1146

If digRate is a little bit greater than the fullness, fullness - digRate < 1 and the tile is

[2014-09-09 17:42] akien-mga commented on #51
Awesome! Looking forward to testing your patch :-)

[2014-09-09 19:23] hwoarangmy commented on #51
Not that easy since bug was pretty random but the patch is there. I've seen there is a conflict but I'm gonna try to resolve it in my repository if possible :)

[2014-09-10 07:36] hwoarangmy commented on #51
The conflict is resolved :)

[2014-09-10 07:48] hwoarangmy commented on #104
With my latest pull request, the path finding logic has changed and there should be no problem anymore with 1 tile wide corridors. As far as I've seen, now, the only frozen creatures are the ones with ennemies around (with maneuver in the action list).

[2014-09-10 10:03] hwoarangmy opened #131 "When toggling application (Alt + tab), when OD is re-entered, mouse position is considered like a tile selection"
Even if mouse buttons are not pressed

[2014-09-10 13:52] akien-mga commented on #40
I've reinstalled a clean version of Mageia cauldron because I wanted to make some changes to the partitioning of my HDD (not enough place to build lots of OpenDungeons instances :-P).

In a fresh git clone of the repo, the issue is back... So I guess I wasn't seeing the issue anymore because of a configuration difference (maybe I told git to ignore .sln files globally?).

[2014-09-10 14:17] akien-mga opened #132 "Update bundled dependencies"
I've seen that we bundle angelscript 2.23.0 [0], when the latest upstream version is 2.29.1 [5]. Maybe we could update the bundled files to the newer version, and it might fix #40 if done with proper file encoding and line endings.

We could take the opportunity to update all bundled dependencies, i.e.:
- [x] **dropped** tinygettext old version (history doesn't go before 2011 on our copy) -> recen

[2014-09-10 15:04] hwoarangmy commented on #132
There is also another issue related #2

[2014-09-10 15:40] akien-mga commented on #129
While we're at it, these two comments have relevant content to upload:
http://forum.freegamedev.net/viewtopic.php?p=59233#p59322
http://forum.freegamedev.net/viewtopic.php?p=59233#p59345

[2014-09-10 15:53] akien-mga opened #133 "Some dirt wall tiles get a golden colouring"
It's been around for some time already, but now that @hwoarangmy has tackled bug #51, fixing this bug could be a nice further enhancement before the 0.4.9 release.

See the screenshot:
![od-bug-golden-dirt-walls](https://cloud.githubusercontent.com/assets/4701338/4220434/5e762d1a-3901-11e4-8b90-4118aeebf60d.jpg)

Some dirt wall tiles get a funny colouring. From the screenshot, it seems to be:
- Ar

[2014-09-10 18:10] Bertram25 commented on #133
This comes from the appliance of a normal on the first instance of dirt wall. I'll handle this.

[2014-09-10 18:53] Bertram25 commented on #104
Hurray :D One down ;)

[2014-09-10 18:55] Bertram25 commented on #132
This is part of #24

[2014-09-10 18:56] Bertram25 commented on #132
Please, drop tinyxml and tinygettext instead if possible. :) We aren't using them atm.
Plus, we might want more complete solution when we add support for either.

[2014-09-10 19:01] Bertram25 commented on #40
@akien-mga Now you have the issue again. Can you check the line ending format after they are auto-modified?
My bet is that they are CR+LF after begin modified. ;)

[2014-09-10 19:36] Bertram25 opened #134 "Review console commands"
The current console command list may contain obsolete or non-working commands.

We should first list the status of each and take measures in a second time.

[2014-09-10 21:12] #101 closed, assigned to hwoarangmy

[2014-09-10 21:12] #122 closed, assigned to hwoarangmy

[2014-09-10 21:18] Bertram25 commented on #51
Closed with 892a21aba62957f0c33980efdd68932f2f2ad8fb

[2014-09-10 21:18] #51 closed, assigned to hwoarangmy

[2014-09-10 21:47] akien-mga commented on #40
Actually it's quite strange, if I do several clones of the repo, the files are sometimes modified, sometimes not.

The file description are the same whether they are flagged as modified or not:

Doing a `diff -u` between a file considered modified in a clone and non modified in another clone does not produce any output: the files are identical. It seems the permissions are also the same:

I've not

[2014-09-10 21:58] Bertram25 commented on #40
It means the git repository will apply the default behaviour I guess. Let's remove that line, then.

[2014-09-10 22:18] #133 closed, assigned to Bertram25

[2014-09-11 05:58] akien-mga commented on #133
Fix confirmed, thanks :-)

[2014-09-11 07:51] hwoarangmy commented on #17
@Bertram25 Are you working on the editor ? If not, I can have a look :)

[2014-09-11 08:36] Bertram25 commented on #17
@hwoarangmy Nope. You can go ahead. :)

[2014-09-11 08:54] Bertram25 opened #137 "Use polymorphism for render requests instead of a huge switch/case?"
Everything is in the title.

IIRC, this was discussed on the forums and started by @tomluchowski .

If tom doesn't want/ can't do it anymore, someone else may want to bite this one.
Let's give @tomluchowski a week or two to answer. Afterwards, the task should be considered free to take again.

[2014-09-11 09:09] Bertram25 opened #138 "Create an equipment catalog support"
This file will tell what mesh file to use (from the entity catalog file), the given attack/defense and range given by the equipment name.

Then, other files will be able to reference only the equipment name and get the rest through that.
The entity catalog file is a prerequisite to this issue: #60

[2014-09-11 09:09] Bertram25 commented on #7
Moved the equipment catalog parameter into it own issue as it is less urgent: #138

[2014-09-11 09:23] Bertram25 commented on #23
I'll be on the battle music cross-fade now. :)

Cross-fading support is done, so what's left is to implement the conditions to trigger the battle music and back to the calm music when playing.
I'm proposing to change the music to the battle one when one creature/room/trap of your team is taking a blow.
And trigger back the calm one if 5 seconds passed without any damage to your party occurring.

@

[2014-09-11 09:25] Bertram25 commented on #95
@Danimal696 I'll deal with my part of the issue (See the TODO list above) rather soon. Do you still want to choose some new dig select/default pick-up/drop sound before 0.4.9 release?

[2014-09-11 09:34] Bertram25 opened #139 "Add the spikes trap in game."
Adding the spike trap in game will be fun IMHO.

Here is an icon proposal: http://game-icons.net/sbed/originals/trigger-hurt.html
I've adapted the icon:
![trigger-hurt](https://cloud.githubusercontent.com/assets/765917/4234293/68d64236-39b5-11e4-8759-fb324453e617.png)

The trap logic should be adapted so that it is triggered something like only once per 3 turns when one or more creatures steps on

[2014-09-11 09:45] Bertram25 commented on #89
As discussed with @hwoarangmy , the CEGUI button icon tooltip part is moved to 'Later' for now.
As he said, all the necessary code is here to show cegui system tooltips, yet they won't show for an unknown reason. This will have to be investigated.
And if we can't display them that way, we will have to add a custom text overlay and use it as tooltip.

[2014-09-11 09:53] akien-mga commented on #23
That sounds like a sensible way to trigger the battle music.

[2014-09-11 09:57] hwoarangmy commented on #138
BTW, how many files are you going to create ?
I've been thinking that when we will have a good architecture for creature behaviour (needed active spots / gold / friendly creatures / unfriendly creatures ...), it may be pretty messy if everything is in one file...

[2014-09-11 10:01] hwoarangmy commented on #23
Seems a good way to handle that but at the current fighting behaviour, 5 seconds may be too short as it is quite usual for creatures to stand looking at each other like retardeds during more than 5 seconds before starting to fight :)

[2014-09-11 10:03] Bertram25 commented on #7
I listed precisely the missing stats about creatures before this issue can be closed. Feel free to tell me whether something looks missing or wrong. :)

[2014-09-11 10:04] akien-mga commented on #23
True enough, but I think we should try to fix the creature fighting behaviour instead :-)

[2014-09-11 10:06] hwoarangmy commented on #139
That's what I was going to suggest. And maybe sharper too.

You can use a static hit damage and that will do. BTW, are you planning on hardcoding traps or to have a file definition like creatures ?

[2014-09-11 10:12] Bertram25 commented on #138
True, I understand your concern and I have the same one, but this is something for another time, I guess.

For now, I'd like to add what's strictly necessary:
An entity catalog file, which will greatly help to configure models by calling only the model reference name, and getting all what's linked to models through that.
And a equipment file described above. Those will be reference files and thus

[2014-09-11 10:16] Bertram25 commented on #23
XD I'll try different values and find one more or less fitting. Once the creatures are less... stupid, we might want lower the counter. if we ever want this to happen, eh eh.

[2014-09-11 10:21] Bertram25 commented on #139
Like everything, hard-coded first, configurable afterwards once proven working. @Danimal696 will complain soon enough, anyway. ;)

If one wants to soft-code it, a config/trap.def file should be created with info in it for each trap type, IMHO. On the code counter-part, I guess we need more and more a config manager for the entities, equipment, and so on.

[2014-09-11 11:27] Danimal696 commented on #95
yes, at least for digging. will get to it today.

[2014-09-11 11:30] Danimal696 commented on #23
nice :)

[2014-09-11 11:44] Danimal696 commented on #139
Hardcoded sounds fine for now, as long as the base hit damage is sensible it shouldnt even be changed.
 Just one worry, traps should not be destroyed by hiting them. They should get disarmed after being triggered a number of times, just like in dk1, it was stupid in dk2 when you could possess a creature and smack all traps getting no damage at all, whereas in dk1 you have to either sacrifice your

[2014-09-11 12:04] Danimal696 commented on #7
Well there can be added a lot of things; setting a max may not be needed with proper care and sensible stat wins per level up. Ill made a post in the forum with all i think we will need. You can have an easier look at it later.

[2014-09-11 13:00] Bertram25 commented on #7
Hmm, depends. The max is there when you want to add a quicker growth on something that is capped earlier. Like monsters that have a higher movement bonus that stays capped not very high.
What I think you want is to add non-linear growth and maybe XP table, but I'd need more input from you to understand where you're going.

In anyway, the stat system should be reviewed asap if we want to get throug

[2014-09-11 13:04] Bertram25 commented on #139
I didn't know that one. :) Nice trick, eh eh.

So you mean that the trap shouldn't be attackable, but removed when the tile is either claimed by another team or triggered a certain number of time? Are you ok with that logic?

[2014-09-11 13:13] Bertram25 commented on #139
I've adapted the icon, see description.

[2014-09-11 14:25] Danimal696 commented on #7
please have a look at forum again

[2014-09-11 14:35] Danimal696 commented on #139
Yes, maybe trap should add a bit more time to claim tile since claiming its stackable (i think)? and once its disarmed it wont be active again until (we have to decide) a kobold resets it or a new trap is automatically made on forge and a kobold fetchs and mounts it again on the same place (transparent model of unbuilt/disarmed traps on their building place?)

[2014-09-11 14:45] Bertram25 commented on #7
I just did. What is set there is well-thought. :)
IMO, we should follow your newest specs there:
http://forum.freegamedev.net/viewtopic.php?p=59362#p59362

Would you be ok with this guys?

[2014-09-11 14:52] akien-mga commented on #7
Agreed, it's a nice and clear proposal.

[2014-09-11 14:56] Bertram25 commented on #139
I agree, more time should be needed. I would have to recheck the claiming logic, but I know we can make a difference happen there.

IMHO, the overall best logic for this is:
- The traps icons should be available only when one or more traps have been built in the forge.
  Should we be able to ask for a particular trap to forge?
- When placing a trap, the trap is placed in the unbuilt/disarmed state

[2014-09-11 16:02] Danimal696 commented on #7
i guess we should add the sound clasiffications in there as well? but it would become an useless stub until sound is better handled, ill let it to your judgement:
http://forum.freegamedev.net/viewtopic.php?f=39&t=5695&start=25#p59177

[2014-09-11 16:27] hwoarangmy commented on #139
I agree. Otherwise, they will be so easy to disable that they would serve for nothing. If we want to make them usefull, they need to be as deadly as creatures (if we want to add a specialization for them)

[2014-09-11 16:35] hwoarangmy commented on #23
Yes, that's an evidence. But it might not be that easy :) I've not really looked at the fighting code until now but from what I've seen, they use surrounding creatures to decide if they fight or not. But those creatures do not always go into the fight. And I've already seen that they have huge sight. So, if they consider every creature they can see before going into a fight, it might be hard. Not

[2014-09-11 17:20] Danimal696 commented on #139
Regarding trap production, we can take two known paths:
DK1: traps are produced automatically and free by forge workers, they keep an average number of them and fill the less stored (as in more used) ones. Each trap built takes one space on forge, many traps will clutter a forge and made it useless until one of them is used freeing one space.
Not a bad approach, but since they are free i would mad

[2014-09-11 17:43] Danimal696 commented on #23
That sounds too complex, i would make it so a creature always do a simple check when seeing an enemy:
can i reach it? -> am i injured? -> do i have low morale? -> if it can reach, is somewhat healthy (more than 40% hp) and not unhappy it charges the enemy; else it runs away. No need to check for anything else.

Well, that makes combat more realist, the hit and run tactics is a pretty valid one. It

[2014-09-11 19:23] hwoarangmy commented on #139
That's an interesting point of view and deserves to be discussed in the forum IMHO :)

[2014-09-11 19:34] hwoarangmy commented on #23
That's the actual (non working) behaviour :)
If everybody agrees, we can simplify like you say. I would just add enemy power so that kobolds don't attack enemies that would one shot them.

I would say that in reality, a ranged unit has to aim and shoot, which can take enough time to get reached by melee units, especially after some shots, That's why archers are good support units but not main figh

[2014-09-11 20:42] Danimal696 commented on #95
Diggind sound: http://forum.freegamedev.net/viewtopic.php?f=39&t=5695&p=59382#p59382

[2014-09-11 21:20] #129 closed, assigned to hwoarangmy

[2014-09-11 21:20] #131 closed, assigned to hwoarangmy

[2014-09-12 07:54] Bertram25 opened #141 "The rooms active spots aren't always complete"
In the screenshot below, the there is no active spot and this no models on the right wall of the left training room:
![room active spot](https://cloud.githubusercontent.com/assets/4701338/4240746/d70eff44-39ed-11e4-9e90-c330884d6314.jpg)

This case and similar should be fixed.

[2014-09-12 07:58] Bertram25 commented on #40
@akien-mga

Wants to do it, or can I?

[2014-09-12 08:07] akien-mga commented on #40
You can do it, you know your way around git and its .gitattributes better than I do :-)

[2014-09-12 08:50] hwoarangmy commented on #141
If someone takes this issue before I do, the problem probably relies where activespots are computed (I've not checked, it's just a guess) :
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/Room.cpp#L883

[2014-09-12 09:16] Bertram25 commented on #40
ok :) I'll handle this one :)

[2014-09-12 09:22] Bertram25 commented on #53
Once I've dealt with #40 and the issue is solved, I'll change the line endings of non-windows file.
This means I'll let out dsp, sln, dsw, bpg, bpf, win, groupproj, cbproj, pbxproj, bdsproj, vcxproj and vcxproj.filters files.

[2014-09-14 14:39] #17 closed, assigned to hwoarangmy

[2014-09-14 20:04] #23 closed, assigned to Bertram25

[2014-09-14 23:01] hwoarangmy commented on #18
Fixed by pull request #142

[2014-09-14 23:01] #18 closed, assigned to nobody

[2014-09-15 15:04] hwoarangmy opened #145 "Add support for team game"

[2014-09-15 15:05] hwoarangmy commented on #145
A bit of information here :
http://forum.freegamedev.net/viewtopic.php?f=35&t=5822

[2014-09-15 15:55] Danimal696 commented on #95
did you prepare new sounds for gold and cannon as well Bertram? and for pick up  and drop?

[2014-09-15 16:35] hwoarangmy opened #146 "MiniMap do not work on editor mode"

[2014-09-15 20:21] Bertram25 commented on #95
@Danimal696 I've prepared the new cannon sound, all the gold deposit sound and the new pickaxe one.

[2014-09-15 20:21] Bertram25 commented on #95
As for pick/drop. I've let the one previously given. :)

[2014-09-15 20:22] Bertram25 commented on #95
Were you planning to find some new ones for such actions?

[2014-09-15 21:53] Danimal696 commented on #95
im short on time these days, so if you did, its good. :)

[2014-09-15 22:14] #95 closed, assigned to Bertram25

[2014-09-16 07:00] Bertram25 opened #147 "Misc sounds fixes to do"
- [x] Review the claim/dig/rock falling/fighting sounds and ensure they are mono and normalized.
- [x] Fix creature spatial sounds use through culling.
- [x] Trigger the fighting music when a own-team cannon is firing.
- [x] Trigger battle music when one of your ally is attacked. Internally, this means the creature seat team_id needs to be checked instead of the concerned player only.
- [x] The de

[2014-09-16 07:04] Bertram25 opened #148 "Small refinement concerning win/lose and objectives"
Now the game is much more stable, players can beat it or lose without encountering a single crash. ^^

I'll thus add those few things to help the user understand what's going on:
- [x] When all objectives are completed, a text tells it but at the end of the list. The text telling all objectives are completed should be added on top of the objective text. https://github.com/OpenDungeons/OpenDungeons

[2014-09-16 07:18] hwoarangmy opened #149 "Chickens run too fast"
Slow creatures have a hard time hunting

[2014-09-16 07:30] hwoarangmy commented on #148
Good, I have been thinking about goals lately and this is the occasion to talk about :)
I have opened a thread in the forum because I think other people might have an interesting point of view :)
http://forum.freegamedev.net/viewtopic.php?f=35&t=5830

[2014-09-16 07:33] hwoarangmy commented on #147
That makes me think of something. When multiplayer will be supported, we should ensure fighting music is triggered when allied units are attacked/attacking...

[2014-09-16 08:23] Bertram25 commented on #147
True. If you don't do it, I'll handle it afterwards if you want. :)

[2014-09-16 08:24] Bertram25 commented on #148
So true. :)

I've answered there but I would gladly like to get every point of view. :)

[2014-09-16 08:53] Bertram25 opened #150 "Addition of a configuration manager"
This one is somehow the mother or all configuration/catalog files issues and a prerequisite to them.

This issue is about adding support of a configuration manager that will parse reference configuration files for the game, except for the per-level files which should remain under the hood of the game map.

The concerned files are:
- A global game configuration file, described below.
- The entities

[2014-09-16 08:54] Bertram25 commented on #150
@Danimal696 @hwoarangmy @akien-mga Please tell me if this suits you, especially as for the global configuration file. I wouldn't like to add undesired things. :)

[2014-09-16 09:25] akien-mga commented on #150
This looks good. About your global configuration file, I wonder if part of those points should not be addressed in level configuration files? Or do you plan to have default values in this configuration file, and let levels override some of these values, to have e.g. a different creatures.def?

[2014-09-16 09:31] hwoarangmy commented on #150
That's what was planed if I remember well :)

I know this can be done later but should heal rate/awakness/hunger growth per turn be global or per creature ?

[2014-09-16 09:42] akien-mga commented on #150
Good question. I don't know how interesting it can be for the gameplay to have the possibility to define it per creature. A relatively easy implementation could be to have a global parameter for those, and a creature stat to override them.

Since those parameters concern only the creatures, maybe the default stats can be defined in creatures.def instead of a global configuration file? i.e. creatur

[2014-09-16 09:50] Bertram25 commented on #150
Without specifically speaking about creatures, as hwoarangmy said, the global file would be for default values only. All of those should be overrideable if a file/thing is more specific for any reason.

In that case, the heal rates should indeed be in the creatures.def file, per creature, and no more in the global file, indeed, from what you both said.

[2014-09-16 09:55] Bertram25 opened #151 "Creature stats format upgrade"
As discussed here: http://forum.freegamedev.net/viewtopic.php?p=59460#p59460

At the moment, the creatures stats per class, defined in the levels/creatures.def file, as set within the same line.
This is very unreadable and very limiting.

Thus, as first upgrade, and to make it look much more like structured data, and more extensible, the creatures data will have to be set within  [Creature] [/Crea

[2014-09-16 09:59] Bertram25 opened #152 "Add lacking creatures stats"
As discussed here: http://forum.freegamedev.net/viewtopic.php?p=59460#p59460

Once issue #151 is done, the creature's following stats will have to be added:
- [x] **XP table**
  --> 30 values per creatures. Note that the creature's XP should go back to 0 at each level up as it isn't the case ATM. The XP to reach for next level should be displayed in the info window.
  (XP needed to level up, we sh

[2014-09-16 10:00] Bertram25 opened #153 "Create a creature sheet with all the stats so we can start balancing creatures as a whole."
As discussed here: http://forum.freegamedev.net/viewtopic.php?p=59460#p59460

Part of #152 for the XP table.

[2014-09-16 10:04] akien-mga commented on #132
@Bertram25, @hwoarangmy, @tomluchowski: Does any of you know whether tinyxml and tinygettext are used at all in the current code base? If not, let's nuke them :-)

[2014-09-16 10:09] akien-mga commented on #2
I'll be working on this now, actually on making it possible to use system-wide angelscript. I think we should drop the other two if they are not used.

It's importing for me to do this quickly, because I want to package OD for Mageia 5, and should do it in the coming month at the latest. It's not particularly an issue if we haven't released version 0.4.9 by then, I'll just package a stable develop

[2014-09-16 10:11] akien-mga commented on #152
s/excel/LibreOffice Calc/ ! :-D

[2014-09-16 10:17] Bertram25 commented on #152
sure. ;)

[2014-09-16 10:18] Bertram25 commented on #132
Neither of them are used, you can drop them. If there are ghost include, feel free to remove. :)

[2014-09-16 10:22] Bertram25 commented on #7
Superseded by #151 #152 and #153

[2014-09-16 10:22] #7 closed, assigned to nobody

[2014-09-16 10:25] akien-mga commented on #2
Updated according to #132.

[2014-09-16 10:26] Bertram25 commented on #2
I can understand that. Thanks!! :)

[2014-09-16 10:30] hwoarangmy commented on #11
BTW, shall we had natural ennemy creature so that your own creatures fight each other like in DK ?
That was fun :)

[2014-09-16 10:36] Bertram25 opened #154 "Combat behaviour upgrade"
As discussed here: http://forum.freegamedev.net/viewtopic.php?p=59460#p59460

Currently, the creature behaviour in fight is rather passive.

In order to fix this, the creature thinking logic before entering battle should follow those rules:
- The fighter creatures should check their "health" + "mood" before going or keep going to combat or fleeing.
- During the fight or before, if HP < 10%, flee t

[2014-09-16 10:42] Bertram25 commented on #11
Yeah, that's quite the consequence I sincerely think we had in mind when a creature is in bad mood.
IMHO, though, the other creatures shouldn't touch the creature mood since it's making things harder to maintain, but making natural enemies fight when their mood is low instead sounds cool to me. :)
What do you think everyone?

[2014-09-16 11:00] hwoarangmy commented on #154
I would say :
- When a creature finds out an ennemy, it should check "health" + "mood" before choosing to fight or to flee. Fleeing should be choosen depending on the creature (some are more likely to flee than others). Fleeing probability should be maxed so that even if a creature is sleepy and hungry, it can go fighting (especially since AI do not make dormitory and hatchery ;) ).
- If the creat

[2014-09-16 11:04] hwoarangmy commented on #11
Yes, if in bad mood, if a creature with negative modifier is found, it should be attacked.

BTW, I think we should define in CreatureMood a modifier per creature so that if there is 1 dwarf, it is not the same as full of dwarfs :)

[2014-09-16 11:50] akien-mga commented on #11
That sounds great :-)
To which extent should "natural enemies engage in fight" be understood though? Will they fight until one of them dies, or would they deal a few non-lethal blows?

[2014-09-16 11:56] hwoarangmy commented on #11
If I remember well, in DK, they would fight to death (like spider and fly)

[2014-09-16 11:56] Bertram25 commented on #11
Yep, fight to death.

[2014-09-16 11:59] Bertram25 commented on #154
True and agreed.

Yep, that's what I had in mind more or less, anyway.

I'd say yes, let's go for that, we can always fine-tuned if not already enough later. And yes, the battlefield is gonna die... ;>

[2014-09-16 12:02] hwoarangmy commented on #154
ok. That will solve my battlefield rendering issue :)

[2014-09-16 12:02] Bertram25 commented on #11
Last thing I wonder is whether we should apply such a modifier right away at spawn time, or whether we should apply it when two creatures "meet each other". The latter would permit us to separate such creatures, but also make it more natural... What do you think?

[2014-09-16 12:04] akien-mga commented on #154
Isn't "health < 10%" a bit low for a threshold? I'm not sure how we will balance the game in the end, but I fear that many of the weaker creatures won't be able to reach such a state (e.g. if the creature has 20 HP, it will flee only if it has less than 2 HP, but I guess many creatures could one-shot it when it has 5 or 6 HP).

[2014-09-16 12:06] Bertram25 commented on #154
Valid point. I've seen this in other RPGs:
"The enemy has a chance to flee when he loses more than half its current HP in one blow."
Does it sound relevant for you guys?

[2014-09-16 12:10] akien-mga commented on #154
I like it. That can make for good strategies: you let a weak creature fight an enemy, and then you drop your dragon next to it to deal the final blow :-D

[2014-09-16 12:24] hwoarangmy commented on #11
Applying only when they meet, will be a little bit more complicated. If we do so, we should have huge modifiers that apply only when creatures can see each other. This way, if a spider is surrounded by flies, it will attack one easily. And if you manage to get flies away, it won't affect spiders :)

Even if we do that this way, we can keep the creature condition spawning even if they never meet

T

[2014-09-16 12:44] Bertram25 commented on #11
Sorry, which one of the solutions?

[2014-09-16 12:44] hwoarangmy commented on #154
Why not ? But beware of going into too complicated stuff at first. I think we should let it simple as a beginning and we will see what has to be improved (and how) later.

Concerning the ranged unit, I've been thinking that we could have this logic :
1 - If it is at the range distance, it should shoot
2 - If too near or too far, move (more or less at its range distance)
3 - During attack cooldown,

[2014-09-16 12:49] hwoarangmy commented on #11
Applying when they meet :)

[2014-09-16 13:00] Bertram25 commented on #11
K, fine to me. :)

[2014-09-16 13:09] Bertram25 commented on #154
I must say I've no opinion on this. I'll need to see this live to be sure anyway. But you're right, let's go baby steps in this sensible area.

IMHO, this logic is fine and can be applied to any creatures. Melee creatures are creatures with range of 1, after all.

[2014-09-16 13:14] hwoarangmy commented on #154
I agree

[2014-09-16 13:28] hwoarangmy commented on #11
Actually, to me, we should use a huge modifier that applies per natural ennemy/friend in range sight.

[2014-09-16 14:02] Bertram25 commented on #11
Looks fine. We'll fine tune values anyway after the thing is implemented.

[2014-09-16 15:16] Danimal696 commented on #150
A per creature value would be really interesting, we could made never sleeping skeletons and gluton orcs, i want my vile demon equivalent :D. I thrust you guys will do a nice job with the coding, so its all in your hands.

[2014-09-16 15:18] hwoarangmy commented on #150
I think we all had him in mind when saying that ;)

[2014-09-16 15:25] Danimal696 commented on #152
i would add saving current weapon on map save; i truly like each creature having different regeneration/hunger/sleep, so some creatures eat like pigs while others barely sleep or dont do at all.

[2014-09-16 15:37] Danimal696 commented on #154
Yes, ranged should take their time to reload without moving, if after reloading they see the enemy is near they can flee or attack again.
Woulndt it be better to have a "fill up" system instead of a "cool down" one? a creature only start filling up its skills when it enters battle, when it gets out of battle it starts dropping or goes to zero.

[2014-09-16 15:45] hwoarangmy commented on #149
Test was not done on latest version. We will open another issue if the bug is still there.

[2014-09-16 15:45] #149 closed, assigned to nobody

[2014-09-16 15:46] Danimal696 commented on #11
Fight to the death when a creature meets another one it doesnt like and its on a bad mood (probably from seeing that one creature) im with Hwoarangmy in this.

[2014-09-16 16:47] Bertram25 commented on #154
As said on forums, we could even have both. (warm ups and cool downs)

[2014-09-16 16:50] Bertram25 commented on #152
In fact, this is already done as it is part of the level file for already spawned creatures.

[2014-09-16 23:54] #145 closed, assigned to hwoarangmy

[2014-09-17 00:10] Bertram25 commented on #147
Ok, I think I know why the digging sound isn't heard that much.
In fact, even if played at random, those sounds are played many times by many creatures.
As the sounds have been made spatial, they will be placed at the last creature calling position and heard there. This is making the sound near or far (but rather far) at random.

Same thing for every sounds that can be played often, such as sounds

[2014-09-17 08:05] Bertram25 commented on #148
Points 1 and 3 are done with https://github.com/Bertram25/OpenDungeons/commit/402488a8b7b4c74c500d5408ff5795177675a000

Yet, failed objectives (currently meaning a losing player) aren't handled the same way that a winning player. I thus rather have primary/secondary objectives implemented first before finishing that one.

[2014-09-17 08:54] hwoarangmy commented on #9
The spawn pool is now linked to the seat which is unique per player. That means that 2 players in the same team can have different spawn pools.

[2014-09-17 08:57] Bertram25 commented on #9
I'll update the line. :)

[2014-09-17 09:42] hwoarangmy commented on #147
That sounds good (but maybe not that easy :) )

[2014-09-17 09:42] hwoarangmy commented on #148
Seems wise

[2014-09-17 11:43] Bertram25 commented on #148
If you don't mind, I'll thus add a message about losing only when one's temple is destroyed and consider this issue done. Ok with it?

[2014-09-17 12:45] hwoarangmy commented on #148
Well, considering the fact we don't even have a beta version, I'm not so sure it is a top priority to have such advanced goal handling. When we will talk about campaign, I may not say the same but until then...

[2014-09-17 12:48] hwoarangmy opened #157 "Add support to handle claimed tiles in editor"
It should be possible to add claimed tiles associated with a seat (ground or wall)

[2014-09-17 12:55] Bertram25 commented on #148
I'm also not fond adding premature stuff. That's why I'm just for adding a message when destroyed for now, and we'll see later on. Are you ok with this?

[2014-09-17 14:16] Danimal696 commented on #147
arent the digging sounds too bland? i would like to know if im the only one to think that, if im not, i can split this track to have some varity and replace the old ones:

https://www.freesound.org/people/cameronmusic/sounds/138412/

[2014-09-17 15:19] hwoarangmy commented on #154
To summarize (if everybody agrees, I will update the first post) :
In order to fix this, the creature thinking logic before entering battle should follow those rules:
- The fighter creatures should check their "health" + "mood" before going or keep going to combat or fleeing.
- During the fight or before, if HP < 10%, flee to bed.
- Before fighting, check HP + mood (hunger + awakness). If too low,

[2014-09-17 15:38] Bertram25 commented on #154
IMHO, this is looking good.

[2014-09-17 20:52] hwoarangmy commented on #148
ok for me

[2014-09-17 22:15] #42 closed, assigned to nobody

[2014-09-17 22:55] Bertram25 commented on #5
@akien-mga @hwoarangmy I've mostly done this in https://github.com/Bertram25/OpenDungeons/commit/dd9ce3e543f6a86c914bd40c2078cf865e32caec

As the patch is still WIP, I'm not asking for feedback at this point but if you're curious, you can have a look. ;)

[2014-09-18 06:50] #157 closed, assigned to hwoarangmy

[2014-09-18 07:06] Bertram25 commented on #147
Heya Danimal,

We can always replace the digging sounds, but I'm quite sure the current ones are very close to the ones you're proposing. I'd propose we take a decision about this once I've fixed the spatial sound culling. Would this be ok for you?

[2014-09-18 07:15] Bertram25 commented on #19
@Danimal696 Just a small reminder (just in case you've forgotten about it as there is a lot happening those times :]).
We'll need some kind of torch model to permit moving the lights around more easily as the current panel is taking too much space on screen IMHO.
(Why not a wall torch so we can reuse that one on walls when claiming tiles?)

[2014-09-18 07:17] Bertram25 commented on #20
The possibility to add rooms has been added + team selection support in #157 #158
Lights and creatures are left. Maybe there are icons needed here?

[2014-09-18 07:22] Bertram25 commented on #22
The possibility to select a level has been added in #157 #158
The possibility to create a new one is much less urgent as a level can be copied, renamed and reused.
What we should solve first is the fact that a user won't be able to edit levels on a packaged version of OD on linux, or on windows without administrator's rights. (For now it's already great to be able to select a level though.)

I do

[2014-09-18 07:30] hwoarangmy commented on #20
Yes, we need icons. When creature menu will be there, we should use CEGUI LayoutImport tag in the CEGUI layout file to share the menu within editor and gamemode (as it is done for rooms and traps).

[2014-09-18 07:37] Bertram25 commented on #20
Ok, this means I'll start seeking for creature icons and "torch" one.
While on it, I'll add a creature and light removal icon for the editor. (The one for rooms is already done.)

[2014-09-18 07:47] Bertram25 commented on #53
I won't deal with this issue before @akien-mga has updated the outer dependencies, especially for windows.

[2014-09-18 07:51] Bertram25 commented on #58
@akien-mga Hey :)

Just to make sure of. Is it something you're working on (sooner or later) since you wanted to package OD, or do you want to leave this out for now?

[2014-09-18 08:17] hwoarangmy commented on #148
I would just add we should consider loosing when every dungeon temple from a team are destroyed to make sure we cannot have a looser player in a winning team :)

[2014-09-18 09:05] Bertram25 commented on #148
True. :)
By checking the code in goals and seats, I also noticed that some code was prepared to trigger an action when meeting an objective but not enabled AFAIK.
While on it, I'll make it so corresponding functions are triggered when meeting/failing at an objective,
and I'll use this to check team winning/losing.

Anyway, I do think that when a player has lost his last temple, a message should te

[2014-09-18 09:57] hwoarangmy commented on #154
I've been thinking about fight and, after all, do we really want workers to fight at all ? It doesn't seem really logic to me having a kobold destroying rooms. And, even fighting other kobolds doesn't seem to me a good idea.
In fact, I would rather let them work even when there is a fight nearby and flee when damaged or attacked by another unit.
What do you think ?

[2014-09-18 10:03] hwoarangmy commented on #148
Yes. Having a message is always good if you are not looking at this moment :)
But while the team has not lost, I would let the player continue to handle his creatures and do whatever he wishes. But if he still has a portal, I would disable it and I would also disable all the spells (or at least stop increasing his mana).

[2014-09-18 10:07] Bertram25 commented on #154
I think sincerely the following is agreed:
- Workers don't attack enemy rooms or traps.
- They don't attack fighters.
- They keep on claiming/digging until first blow and then they flee a few tiles away.

The following point wasn't completely clear so here is what I'm proposing:
- When attacked by another worker, they fight unless they are going to die (<30% HP since those are cowards) and then fl

[2014-09-18 10:09] Bertram25 commented on #148
True. I'll do that as well, then. I'm in favour of stopping the mana increase as we are more in the "let entropy do its job" mode when with no temple, IMHO.

[2014-09-18 11:26] hwoarangmy commented on #148
Yes. And I think it can be understandable.

[2014-09-18 11:30] hwoarangmy commented on #154
ok. But that means I will have to handle fight for workers :(
Nothing undoable :)

[2014-09-18 11:44] Bertram25 commented on #154
I completely understand your will for simplicity. It does happen sometimes when you're in the middle of a thing and just want it to be complete. But here, it's much more what players will expect, IMHO.
This can be (re)done in several steps, though, if it's better for you. :)

[2014-09-18 13:14] Danimal696 commented on #154
that points sounds good, kobolds are too much of a shock troopers atm :P, let them behave like the chickens they should be.

[2014-09-18 13:16] Danimal696 commented on #19
ok, its almost ready from a previous model of mine; ill finish it between today and tomorrow; i have two in fact, a metal and a wooden one; which one is prefered?

[2014-09-18 13:21] Danimal696 commented on #147
yes, it  would be a pity for you to prepare a lot of sounds just to be discarded, that would really annoy me if it happened to me.

[2014-09-18 13:32] Bertram25 commented on #19
Without pictures, I'd say wooden one, IMHO. :)

[2014-09-18 13:34] Bertram25 commented on #147
Don't worry. :) I understand your quest for better sounds. My point is that we won't hear a difference in game, for now at least. Once you'll be able to hear clearly while playing, you'll tell me. :)

[2014-09-18 16:35] akien-mga commented on #58
In the two points listed above:

I thought you could handle the first one, and I would then cater to the second one :-)

[2014-09-18 16:40] akien-mga commented on #19
Maybe wooden for dirt walls, and metal for claimed walls? ;-)

[2014-09-18 18:11] Danimal696 commented on #19
look on forum for a little preview

[2014-09-18 18:18] oyvindln commented on #2
I remember there being issues with using angelscript as a shared library, not sure if it's even possible. From what I remember, it's not really designed for it so it might not work. I think we may want to consider a different scripting language in general, at least if we want to use it as a console language. Angelscript is c++-like and not really suited for use in a console.

[2014-09-18 20:58] hwoarangmy commented on #2
Since you seem to know how it works, could you please explain in a few words how it does ? Is it compiled ? How can it interact with the code ? I've looked AS website but could not find an easy to understand explanation...

[2014-09-18 21:58] oyvindln commented on #2
I don't know it all that well. I wasn't the one that implemented it. It's an interpreted language, but it lets you export C++ classes and interact with them directly so it probably involves lots obscure and complex compiler interaction to make it work.

[2014-09-19 00:04] Bertram25 commented on #146
Fixed with #158

[2014-09-19 00:04] #146 closed, assigned to hwoarangmy

[2014-09-19 00:15] Bertram25 opened #161 "Crash when loading a map"
When selecting TestSingleplayerSmallEmpty.level:

[bt]: (1) ./OpenDungeons.bin : Seat::isAlliedSeat(Seat_)+0 [0x5e48b0]
[bt]: (2) ./OpenDungeons.bin : Seat::isAlliedSeat(Seat_)+0 [0x5e48b0]
[bt]: (3) ./OpenDungeons.bin : GameMap::getVisibleForce(std::vector<Tile*, std::allocator<Tile*> >, Seat_, bool)+0x9f [0x55866f]
[bt]: (4) ./OpenDungeons.bin : Creature::getVisibleForce(Seat_, bool)+0xc1 [0x532

[2014-09-19 07:32] Bertram25 commented on #2
Yeah, there must some kind of meta programming at some point. But it seems to me the latest version hides it rather well, according to the doc:
http://www.angelcode.com/angelscript/sdk/docs/manual/doc_hello_world.html

The doc also says it's possible to use it as dynamic shared lib, btw:
http://www.angelcode.com/angelscript/sdk/docs/manual/doc_compile_lib.html §3

Here I'd like you to elaborate a

[2014-09-19 07:36] Bertram25 commented on #2
Ah, I just realized: Even if we are using AS as a static library, we don't forcefully need to import the source into our repo, btw. So it's a false problem, IMHO. Just two cents.

[2014-09-19 08:14] oyvindln commented on #2
Maybe they have fixed the use as a lib since we used it last, so if that works, great!

I thought the point of using a scripting language in the console would be to be able to run code from the console, I think a language like Lua would be simpler for that purpose, though I suppose angelscript could work too. If you are just using it to implement console commands as in was in OD earlier, I don't s

[2014-09-19 08:31] oyvindln commented on #2
When I think about it AS is probably okay.

[2014-09-19 08:35] hwoarangmy commented on #2
IMHO, the good point with a scripting language will be more for campaign/map purpose to trigger stuff and to allow to add custom effects while playing. For me, console is for debug purposes. I'm not sure using AS for this will allow much more than using code...

[2014-09-19 08:43] Bertram25 commented on #2
And I think you're completely right. The main use I've seen when using direct script statement in the console was more to set values for scripts and so on. (To force triggering events, make a script start, ...)

[2014-09-19 08:47] oyvindln commented on #2
Yeah, map scripts is the important bit, so the focus should be on what's best for that.

[2014-09-19 11:48] Bertram25 commented on #152
Also, we should drop the difference seen in the fighter/worker type as it is:
"StrongFighter"/"WeakFighter" --> "Fighter"
"AdvancedWorker"/"BasicWorker" --> "Worker"

While this typification might even be dropped depending on the dance/dig rate the creature has, I do think it shouldn't because the modder should set clearly the type of behaviour the creature should have, especially when speaking of

[2014-09-19 12:57] hwoarangmy commented on #161
If I remember well, I might have not added the Seat for the ennemy creature in this map (which is the way we should use when adding neutral creatures). I will check that.

[2014-09-19 15:07] hwoarangmy commented on #161
I confirm I can reproduce and it comes from the creature in the map not having associated seat

[2014-09-19 15:13] Bertram25 commented on #153
Made spreadsheet model file for that while on the whole creature/entity/equipment config thing: https://www.dropbox.com/s/0j7qiyxesv0uoh4/OD%20-%20stats.xls?dl=0

Feel free to open it, play with the values and tell me what to improve. :)

[2014-09-19 19:59] akien-mga commented on #161
I can confirm the issue too.

Which means that my "I can't start a game" issue is solved btw \o/. I'm at my parents' with an ethernet connection, so I guess the issue came from the wireless connection at my place and/or to the network settings for this particular connection.

[2014-09-19 23:14] Danimal696 commented on #153
Thats amazing Bertram, pretty complete; i can tell how much effort you put on it ;)

[2014-09-19 23:32] Bertram25 commented on #153
Thanks :)

[2014-09-20 00:21] #5 closed, assigned to Bertram25

[2014-09-20 00:21] #40 closed, assigned to Bertram25

[2014-09-20 01:09] Bertram25 commented on #127
Fixed with #160

[2014-09-20 01:09] #127 closed, assigned to Bertram25

[2014-09-20 09:48] #73 closed, assigned to nobody

[2014-09-20 09:48] #90 closed, assigned to nobody

[2014-09-20 09:48] #104 closed, assigned to nobody

[2014-09-20 09:48] #154 closed, assigned to hwoarangmy

[2014-09-20 09:48] #161 closed, assigned to nobody

[2014-09-20 21:30] hwoarangmy opened #164 "Sometimes, AI Kobolds can dig claimed wall"
see comments in #162
This happened to @Bertram25 . AI may have marked tiles before it had been claimed.

[2014-09-20 21:34] hwoarangmy opened #165 "Kobolds can claim ennemy rooms/traps"
See comments in #162
An easy fix would be to check if the tile has a room/trap before trying to claim it. But it would avoid kobolds to go there if it is a trap.
So, kobolds should not consider claiming rooms but they should test if a trap is on a tile only after they moved on it.

[2014-09-20 21:41] hwoarangmy opened #166 "Cannons keep shooting at dead creatures until they disappear."

[2014-09-20 22:03] hwoarangmy opened #167 "Warnings should be turned on"
@akien-mga has done a great work on cmake files to (among else) enable warnings. He had to turn them off by default because there was much too many. I've had a look to  see if some could be turned off because produced by additional libraries. Here is what I've found :
-Wno-unused-local-typedefs : There was so much of these that compilation time went from 10 to 50 minutes. As the name implies, it c

[2014-09-21 08:01] hwoarangmy commented on #153
Seems very good. I think we should use it as it is. If needed, we will add/remove stuff.
My 2 cents : Ranking for current creatures IMHO (can help to define file content) :
Slime
Tentacle1
Tentacle2
CaveHornet
Gnome
Spider
Dwarf1
Dwarf2
Dwarf3
Goblin
Wyvern
Wizard
Kreatur
LizardMan
Adventurer
Knight
Orc
Dragon
BigKnight
PitDemon
Scarab
Troll

[2014-09-21 10:57] Bertram25 commented on #165
Sounds fine to me. :)

[2014-09-21 11:10] Danimal696 commented on #153
Why do you use that order? its based on supposed power levels?
With the inclusion of physical and magical defence some creatures will be strong on one point but weak on others; imo pit demon will be strongest along with "King, Emperor, Avatar" or how we decide to call the strongest hero side troop

[2014-09-21 19:01] Danimal696 commented on #19
Lamp ready on forum

[2014-09-21 20:31] hwoarangmy commented on #153
Yes, it is based on physical stats in my opinion. As skills are not yet implemented, we will see later. I think that now that @Bertram25 did a nice job on defining creatures, it would be a shame to not take the oportunity to give a first try to balance. And I believe the easiest way is to rank every available creature and give them stats in consequence. But feel free to change this order if you th

[2014-09-21 20:47] hwoarangmy commented on #165
Concerning claiming trap, should we use the same as in DK ? ie: when a tile is claimed the corresponding trap is destroyed ? If I remember well, it was @Danimal696 opinion to do that (I remember he said that in DK2, it was too easy to kill traps by attacking). I think we all agreed but I am not sure. If someone remember, please help my failing memory :)

[2014-09-21 20:54] hwoarangmy commented on #164
I confirm the bug. It can be reproduced in multiplayer easily :)

[2014-09-21 22:21] Bertram25 commented on #165
My opinion is I'd rather say that until the trap is destroyed, one cannot claim the tile. Same for rooms.
But there might be flaws in this as well.

[2014-09-21 22:27] Bertram25 commented on #19
Cool update :)