[2014-11-16 11:25] Bertram25 opened #323 "New portal support"
From here: http://forum.freegamedev.net/viewtopic.php?p=60904#p60904

The former portal can be removed as the current one won't be used for other needs.

Also, the new portal doesn't have ground tiles so this will have to be figured out in the code as well.
Last but not least, certain maps were placing the former portal in a way that isn't compatible with the new one. 3x3 vs 2x3 and the maps will

[2014-11-16 11:41] Bertram25 commented on #53
Redid Akien's magical command:

[code]

[2014-11-16 13:15] Danimal696 commented on #323
Its 3x3, opossed to 2x3 of the old one; i can also look for some unique tiles for it but i would prefer it to be like the boulder and show only the normal tiles below (be it claimed or unclaimed)

[2014-11-17 07:57] Bertram25 commented on #323
Oops, I'll fix the description.

[2014-11-17 07:58] Bertram25 commented on #323
IMHO, we can manage without. But #277 should be dealt with, along with this one, IMHO.

[2014-11-17 08:32] hwoarangmy commented on #323
I'm not sure we should handle that that way because there is a huge difference between traps and the portal. There is 1 mesh per trap and it disapears when killed. Which means that the mesh allows to see if the trap is alive or not.
Concerning the portal, not having ground tile would mean you will not see if some have been destroyed or not. Moreover, in game, you will see creatures attack tiles th

[2014-11-17 08:58] Bertram25 commented on #323
While this is very true, IMHO, the actual solution to this problem is to add different versions of the portal and display them according to the current damage amount. This would be way better and much more definite, IMO.

(The same logic could be done for the temple, btw.)
@Danimal696 @hwoarangmy Would you guys be ok with it? Would it be hard to add, say, two or three gradually broken versions of

[2014-11-17 09:00] Bertram25 commented on #318
Note to self: Remove the lava golem textures...

[2014-11-17 09:02] Bertram25 commented on #313
Remember when I dug around his walls to get an unfortified entrance while he was occupied with your scarab? ;)

[2014-11-17 09:04] Bertram25 commented on #312
@hwoarangmy Arf, I just can't remember now, but didn't 4de2a6bfc9437c405d6b9c4d0eabff0a692f7eae fixed that as well?

[2014-11-17 09:27] Bertram25 commented on #89
Note to self or anyone, for later use when fixing this:
I've looked at that by pure fanciness:
First problem I have seen is that in Gui.cpp, we're using:

[code]

Which creates a memleak and isn't the preferred way to do that. We should instead use AFAIK:

[code]

As it will handle the tooltip internally, and log if there is an error when creating a valid tooltip object.

Secondly, in ODFrameListe

[2014-11-17 09:59] hwoarangmy commented on #312
yes. That was a side effect but indeed, it is fixed. I'm closing it

[2014-11-17 09:59] #312 closed, assigned to hwoarangmy

[2014-11-17 10:00] hwoarangmy commented on #313
^^

[2014-11-17 10:08] hwoarangmy commented on #323
Again, the problem is that the room size if unknown and can be big. If the tiles are not different, we will see creatures attack normal tiles and it will seem weird.
That being said, changing the portal/dungeon temple according to its healt seems like a good idea to me. And if @Danimal696 says it's too much work to have other meshes for now, we might just resize it...

[2014-11-17 10:24] Bertram25 commented on #323
That's something relevant indeed. IMHO, portals and temples should have a fixed size, or have specific ground tiles.
And specific ground tiles is compatible with having the portal object being gradually destructible.

Since we're in need of graphic resources, @Danimal696 will have the last word on this. ;)

[2014-11-17 13:53] Danimal696 commented on #323
im not totally opposed to that, but do we really want to destroy portals the usual way?; i would prefer it the way dk and dk2 handled it, that its, evil portals are never destroyed, just captured like rooms, each new captured portal add some creature to your total max, so they are a resource to figth over.
I can create a permanent portal for heroes as well (its just a visual difference, code would

[2014-11-18 11:19] hwoarangmy commented on #15
I agree, the gamemap is too big ATM and it would be nice to split it. Concerning not exposing uneeded functions, I agree. But IMHO, it is not the good moment for that. When we will add support for scripting, we will have the opportunity to think about that.

You all seem to think that AS is a good choice for scripting. I am a newbie about that and I trust your judgement. But from my point of view,

[2014-11-18 11:37] Bertram25 commented on #15
Agree as well. It's typically something to do along with something else, preferable not before a stable release, and why not when on improve scripting. My actual thought is that all three you, oln and me are the kind to add cleanups in our PR when we see ones to do, so I don't worry at all about the game map object. :)

Like anything else. it's, at least for me, a choice. It means only that. ;) Mo

[2014-11-18 12:01] oyvindln commented on #15
Well I've allways been a bit ambivalent about it. We decided on it originally because it seemed simple to integrate, compared to say Lua or python, though the fact that it does not seem to be packaged is an issue. I agree that integrating it when we did was premature, though that was done by someone who has long left the project. It's not used for anything sensible at the moment, I am working on t

[2014-11-18 13:08] hwoarangmy commented on #15
Well @Bertram25 argument about allowing someone who wants to mess with it to integrate AS seems pretty relevant. Even if, IMHO, it is not clear what we want to use it for.

Moreover, one thing I forgot to mention is that I've already reached a dead end while cleaning code because of AS wrapper that is exposing a lot of functions (IMO, some really too sensible). It's strange to see how far some peo

[2014-11-18 14:14] Bertram25 commented on #15
Yep. It's clearly not decided yet.

Ok, :) While I will gladly lose that competition since I'm unable to spend much time in spare coding atm. What matters is that one of us makes something cool. :)

Yeah, hybrid death-incarnated AI brought to all players afterwards. :>

This can done later, of course:
In the meanwhile, I wondered, Isn't it possible to test and drop creatures on the nearest claimed

[2014-11-18 14:32] hwoarangmy commented on #15
no problem, it is not a competition (and if you want to compete, I want a cup if I win ;) )

I was planning on allowing the AI to pickup wounded creatures from battleground and take them to his dungeon heart (when they are not too near from it to allow killing creatures).

That would mean to check around every claimed tile if an ennemy object is around...

I will have a look if we can at least do

[2014-11-18 14:38] Bertram25 commented on #15
Of tea or coffee? ;)

Or check enemies rooms/traps, maybe? Yeah, not every turn also, btw.
EDIT: Btw, this might be worth waiting for the fog of war since quite the same kind of computation will have to be done...

[2014-11-18 15:12] hwoarangmy commented on #15
I was thinking about gold but I guess tea can do ;-)

Yep and it might be interesting to try to go for events rather than by pulling.

[2014-11-18 19:04] #53 closed, assigned to Bertram25

[2014-11-18 19:04] #307 closed, assigned to Bertram25

[2014-11-18 19:18] hwoarangmy commented on #15
Here is the PR ^^

[2014-11-19 08:09] Bertram25 commented on #15
Might be worth trying, indeed. :)

@oyvindln When you say disable it, I guess you mean remove its use from the console, am I right?

[2014-11-19 10:15] akien-mga opened #326 "Remove existing beds when manually destroying dormitory tiles"
I destroyed some dormitory tiles with the new "destroy room" button and noticed that the beds were still displayed, as shown in this screenshot.
![od-destroyed-room](https://cloud.githubusercontent.com/assets/4701338/5103947/3cc6e034-6fdd-11e4-8b14-0c74e75d390f.jpg)

It's only a graphical issue from what I could gather: no creature tries to use these beds, and if I place new dormitory tiles under

[2014-11-19 10:29] Danimal696 commented on #326
thats a messy dungeon you have there...

[2014-11-19 11:52] hwoarangmy commented on #326
AI manages the rooms better than you do ;)

[2014-11-19 11:56] akien-mga commented on #326
The messier, the more evil it is... :-]

[2014-11-19 12:50] oyvindln commented on #15
Disable it's use in the console, and probably disable the wrapper class as it depends on everything else in the project.

[2014-11-19 16:36] Bertram25 commented on #15
I see no objection for the current release. we can always re-enable bindings little by little based on the need later.

[2014-11-19 16:47] Bertram25 commented on #323
Arf, that's opposite to the currently followed design and will trigger some refactoring.

Here, you said:

I liked that logic as well, but also here you said:

Thus, we would have destructible rooms anyway.

Hence, as a longer term stuff and as more complete improvement, I'd propose this:
- Rooms are destroyed by fighter creatures like now. The first improvement I would see is that we could make t

[2014-11-19 16:56] Bertram25 opened #327 "A wizard with a shield?"
Introduced here: https://github.com/OpenDungeons/OpenDungeons/commit/e4a58db18fa5aee283703c680e7433b5b987e928

[2014-11-19 17:21] Danimal696 commented on #323
its mostly to avoid people sniping enemy portals, its a much too important building to be lost so easily, while AI portals can be destroyed without worries if you find their constants raids annoying; but not by direct damage as of now, the claiming way its harder to achieve, thats the reason i proposed it.

[2014-11-19 17:25] hwoarangmy commented on #323
Sounds like a good idea to me. I don't like being able to claim some rooms and destroy others. I think it would make things hard to understand for new players.

It would be easier for coders but:
- If creatures destroy half my dormitory and I manage to kill them. I won't be able to restore the room HP ?
- If I get attacked but I'm not looking, I won't know how healthy my room is ?

Concerning bein

[2014-11-19 17:30] Bertram25 commented on #9
Release TODO List almost complete!! Some balancing is left!! :O

I'd propose to divide the auto-healing rate of all creature by 5 as a first step, btw. :)

[2014-11-19 17:32] Bertram25 commented on #15
Fully done with #325 . I'll open an issue about cleaning the AI files. Congrats @hwoarangmy :) I'll happily let your AI be the one used for the game. :D

[2014-11-19 17:32] #15 closed, assigned to hwoarangmy

[2014-11-19 17:33] Bertram25 commented on #267
For now, I'll revert the cave hornet material. Once this is done, I'll move this issue to Later as it's not a 0.4.9 release blocker IMHO.

[2014-11-19 17:34] Bertram25 commented on #301
After a few games, I wonder whether this is actually still useful to do. What do you think?

[2014-11-19 17:39] Danimal696 commented on #267
please do, my time schedule is a bit busy lately

[2014-11-19 17:39] Bertram25 opened #328 "Cleaning AI source files..."
For now the AI source files are a bit messy and can easily be cleaned up.

From #15  :
- The AI factory, can be removed.
- NullAI can be removed.
- The AI wrapper should be merged into the AI manager files.

I'd also add that the KeeperAI.cpp/h files should be removed, and the Keeper2AI.cpp/h files should be renamed to the former.

Feel free to correct the issue according to your findings. :)

[2014-11-19 17:47] Bertram25 commented on #323
@Danimal696 Sure :) That's why the room claiming skill could be tasty to get. ;)

@hwoarangmy
You're right about destroying rooms as a whole. It adds a lot of useless complexity. To stay compatible with @Danimal696 's proposal, I'd say that only the temples and the portals should be destroyable as a whole, and let the current logic for the other rooms.
Those rooms aren't restorable anyway, so they

[2014-11-19 17:48] Danimal696 commented on #323
In Dk the room claiming was made as a whole, so i think each connected room tile added some HP to a total and the imp efforts damaged it, if you tried but failed to claim a room, the HP started to slowly recover, so i guess adding new tiles would add more HP to the whole. You could try that tactic but save for the cheapest rooms its not a very effective one.

[2014-11-19 20:51] hwoarangmy commented on #328
Not BaseAI ;-)

Don't you want to go for another AI ? We will need at least 2 or 3 to make it less predictable (even if based on the same logic as Keeper2AI)...

[2014-11-19 20:53] hwoarangmy commented on #301
From what I've seen, I would say no.

[2014-11-19 20:54] hwoarangmy commented on #9
True, they heal too fast making sleeping almost useless...

[2014-11-19 20:55] hwoarangmy commented on #327
Hey, that's not a bug. It's just to show that we can change the spawning weapons within the level file ;-)

[2014-11-19 20:59] Danimal696 commented on #9
seconded, someone should also get some spawn conditions for heroes

[2014-11-19 21:57] Bertram25 commented on #327
Ok, I'll close then :)

[2014-11-19 21:57] #327 closed, assigned to nobody

[2014-11-19 21:58] Bertram25 commented on #301
Ok, I'll close as well. Let's reopen a new issue if we see something.

[2014-11-19 21:58] #301 closed, assigned to nobody

[2014-11-19 22:05] Bertram25 commented on #328
Ok, fixed the description. :)

I will eventually finish something, but I would use another name in that case. And now you've made a fitting one. The need is much less urgent. I might concentrate on a rush AI btw, now you've added the base of a builder AI. :)

[2014-11-19 22:37] Bertram25 commented on #9
Done for both in latest PR. :)

[2014-11-19 22:38] Bertram25 commented on #267
Ok, done in my latest PR. I'm setting to Later.

[2014-11-19 22:40] Bertram25 commented on #313
I added some spawn conditions to the bigknight as it is the biggest issue. I'll add more once I've played a bit more with the new values if nobody else does it.

[2014-11-19 22:51] hwoarangmy commented on #328
ok. Then, I will do that

[2014-11-20 08:47] Bertram25 commented on #323
A definite decision will have to be done I guess, not forcefully to copy DK, but to implement what we prefer. In the meanwhile, I'll upgrade the portals models and we should open a new forum thread to discuss and decide how we want to implement all that.

[2014-11-20 10:44] Danimal696 commented on #267
Fixed cave hornet wings! they have real transparencies now
http://forum.freegamedev.net/viewtopic.php?f=35&t=5604&p=60992#p60992

[2014-11-20 12:29] Danimal696 commented on #267
i also made a cleaning of unused models and textures, im sure they were useless and anyways they will remain on media repository if needed later

[2014-11-20 12:43] Bertram25 commented on #267
thanks, is it already online somewhere? :)

[2014-11-20 12:44] Bertram25 commented on #267
Nevermind, I saw all the commits. Time to learn how to do PR @Danimal696 ;P
I'll fix the CREDITS file accordingly.

[2014-11-20 12:58] hwoarangmy commented on #267
wow, I had not seen @Danimal696 was commiting directly the main repository. Please try to have a look on how to fork the repository and to make a PR. If needed, we will happily help you. But commiting the main repository is definitely not what should be done. If someone forks the repository while you are updating, he might get a broken copy. Moreover, it would allow someone to check if there is no

[2014-11-20 13:15] akien-mga commented on #267
Hehe, nice set of commits :-)
@Bertram25, since you are the git guru around here ;-) maybe you could merge all those commits into a single one, to clear the history a bit? (I guess this can be done with a `git rebase -i` and `git push -f`).

[2014-11-20 13:28] akien-mga commented on #180
An example of this issue can be seen in Scream in the dark. If you don't issue order to the workers while they are around the base, they follow the underground path to the east until they are stuck, next to the red seat (screenshot 1).
![od-lostworkers](https://cloud.githubusercontent.com/assets/4701338/5125139/f5ea9f40-70c0-11e4-8492-51a843a29c70.jpg)

If I order them to dig around my base (as sh

[2014-11-20 14:27] Danimal696 commented on #267
upss

[2014-11-20 14:45] akien-mga commented on #267
It's no big deal for this one, but yes it would be better next time to do it with a pull request (for example for your latest changes we would have probably asked you to do it all in one commit instead of one commit per removal).

Feel free to drop by the IRC channel, I'm often hanging around there so I can lead you through the needed steps to set up a fork, and then create a pull request.

[2014-11-20 15:42] Bertram25 commented on #267
There is also online help! :)
https://help.github.com/articles/fork-a-repo/
https://help.github.com/articles/using-pull-requests/
Just in case. @akien-mga 's help is much better of course.

[2014-11-20 21:26] hwoarangmy commented on #289
I've had a look and the problem comes from floodfilling. Gold tiles behind wall are diggable. The problem in stonesiege is that there is no ground tile around. It was a wrong optimization ^^

[2014-11-20 21:43] Bertram25 commented on #267
I'll fix history now. Please don't merge anything for the next ten minutes or so :)

[2014-11-20 21:46] akien-mga commented on #311
I've just noticed that a part of this issue is not fixed yet: you can now click several times per turn on a worker/fighter button, and it grabs as many creatures as you clicked, but the visual feedback of the button is wrong: it gets pressed only once per turn visually.

[2014-11-20 21:51] Bertram25 commented on #267
All right, history is fixed :)

Eh eh. I'm no guru ;) And you're right: that exactly how I did.

[2014-11-20 21:57] akien-mga commented on #267
You even managed to make it appear as a commit from @Danimal696, well done. Git is great :-D

[2014-11-20 22:21] #267 closed, assigned to Bertram25

[2014-11-20 22:28] hwoarangmy commented on #311
It is probably a cegui issue. I will let @Bertram25 have a look as he is more used to that than me

[2014-11-20 22:32] Bertram25 commented on #311
Ok, I'll look at that.

[2014-11-20 23:06] Bertram25 opened #332 "Stonekeep siege map: The two pitdemons on north should be part of the light blue team"
Because thanks to the new AI, they are freed too early and kill the north opponent almost each time now.

[2014-11-20 23:07] Bertram25 opened #333 "Trap boulder rolling objects should disappear when reaching the map borders"
As seen here:
![odscreenshot_2014-nov-19 10 55 36_0](https://cloud.githubusercontent.com/assets/765917/5134862/550db916-7112-11e4-98a2-363ac044d645.png)

[2014-11-20 23:20] hwoarangmy commented on #333
lol

[2014-11-20 23:24] #243 closed, assigned to hwoarangmy

[2014-11-20 23:24] #289 closed, assigned to hwoarangmy

[2014-11-20 23:24] #326 closed, assigned to hwoarangmy

[2014-11-20 23:24] #328 closed, assigned to hwoarangmy

[2014-11-20 23:44] akien-mga opened #334 "Strange carpet shading in the dormitory of seat 3 in Stonekeep siege"
As reported by @Bertram25 in #330.

A strange shading can be seen in the dormitory made by the AI of seat 3 in Stonekeep Siege, reproduced on Linux.

As seen by @Bertram25:
![bertram](https://cloud.githubusercontent.com/assets/765917/5134811/cf81d7be-7111-11e4-94fa-a2d74841d160.png)

As seen by myself (same output on both @Bertram25's and @hwoarangmy's branches) with Intel driver:
![akien-intel](h

[2014-11-20 23:57] akien-mga commented on #334
Ok, I edited the level to set myself as a player on seat 3, and I could notice that I can reproduce the same motif as @Bertram25 when I choose another location to build the dormitory. See:
![od-bug2](https://cloud.githubusercontent.com/assets/4701338/5135502/3c0b258c-7119-11e4-8eb6-2864678e3b32.jpg)

I tried with other rooms on "line of demarcation", they are unaffected. Is there some kind of veil

[2014-11-21 00:03] akien-mga commented on #334
It also affects seat 2 (on the other side of the map, to the west):
![od-bug3](https://cloud.githubusercontent.com/assets/4701338/5135601/65868a9a-711a-11e4-99f5-7895f5ee01c0.jpg)

[2014-11-21 00:04] akien-mga commented on #334
And just for fun, a bigger view of this artistic bug:
![od-bug4](https://cloud.githubusercontent.com/assets/4701338/5135598/5d660048-711a-11e4-832b-227b018df419.jpg)

[2014-11-21 00:12] hwoarangmy commented on #334
I guess it is systematic then (could you please confirm ?). Do you reproduce with other rooms ? It might be linked to the dormitory mesh

[2014-11-21 00:20] akien-mga commented on #334
It is systematic when using the open source intel driver on Linux. I can't reproduce with other rooms.

[2014-11-21 01:34] Danimal696 commented on #333
or just make sure to always have a stone map border

[2014-11-21 08:06] Bertram25 commented on #333
If that option is chosen, the border should be added only in the game mode, not in the editor. Otherwise, you will add a border each time you load a level there.

[2014-11-21 08:16] Bertram25 commented on #334
After thinking about this, this might be linked to light sources present in the level:
their positions: (x y z)
51 16 3.75
47 94 3.75
Also, we're applying a normal to the dormitory texture here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/render/RenderManager.cpp#L871

The newest mesa driver 10.3 now applying normals not since a lot of time, a bug might exist between its a

[2014-11-21 08:20] akien-mga commented on #9
Well well, it looks like the last step to the release is a slightly better balancing.

@Bertram25 Maybe a (last?) pre-release Windows build could be nice to let @Danimal696 and others experiment with the AI and further tweak the config?

I can feel 0.4.9 coming :-D BTW we should start tagging issues with 0.5.0 instead of always "Later" depending on their priority.

[2014-11-21 08:25] hwoarangmy commented on #9
Yes, 0.4.9 is near ^^
But some balancing is definitely needed as currently, when you play a game and creatures get to level 10, battles takes ages (and I'm not even talking on the fact that now, the AI saves its creatures so it is even worst :) )

[2014-11-21 08:29] hwoarangmy commented on #334
yes, that looks like the kind of problems we can get with normals. In fact, if they produce such effects, it could be better to disable them.
Can one of you disable the line pointed by @Bertram25 and make sure the bug disappears ? If yes, we could move this issue to later ^^

[2014-11-21 08:36] hwoarangmy commented on #333
The problem with adding map border is that not all missiles (like the boulder) disapears when they hit a wall. If we do that, they might change direction which is not the expected behaviour IMHO.
But don't worry, I will patch that so that when the missile goes outside the game map, it just gets removed.

[2014-11-21 08:45] Bertram25 commented on #9
Yes, I'd like to finish another PR first, though. But once it is done, yes, definitely. :) I'll take the opportunity to fix #275 at the same time if nobody else does it.

Well, you have a point, but I don't want us to start tagging stuff for the next release before we have settled what we want in it. Thus, may I request we open a 0.5.0 release features discussion on the forums first? Once we have

[2014-11-21 08:47] Bertram25 commented on #9
Eh eh. But AFAICT, lowering the heal per turn has already improved the thing already. It's all about atk vs def depending on the level I guess?

[2014-11-21 08:50] Bertram25 commented on #9
Ah, and I wondered, should the creature received a minimal damage value whatever its defense is, so that a big creature encountering 50 low level minions at least "gets hurt" in the process?

[2014-11-21 08:52] Bertram25 commented on #333
Fine by me. :)

[2014-11-21 08:53] Bertram25 commented on #334
I'll have a go at it. (Whooo, it seems the last release blocker is... me O.O')

[2014-11-21 09:00] hwoarangmy commented on #9
Well, I didn't had the opportunity to test that until now. I've rebased yesterday but I didn't test any combat. I will see that tonight ^^

There is already a thread for that:
http://forum.freegamedev.net/viewtopic.php?f=35&t=5821
Even if it will probably need to be adapted, it is a good starting point ^^

[2014-11-21 10:24] Bertram25 commented on #9
Yeah, i wrote there. Thanks for the reminder. If all goes well, I should have a PR for all my assigned issue at the beginning of next week.

[2014-11-21 11:26] Bertram25 commented on #318
Lava golem textures removed.
Semi-related:
Btw, aren't there unneeded models left or is there a plan for them?
barrel_destroyed.mesh
big_wood_barrel.mesh
mini_wood_barrel.mesh
RuinEntrance_01_mat.material (same for 02, 03, ...) and png
WoodWatchTower_mat.material
big_barrel.material
mini_barrel.material
 buvneurt_env5.png
mini_diffus.png normal and specular

And is this one stille needed, btw?
 In

[2014-11-21 12:54] Bertram25 commented on #311
First things first, I've just discovered here:
http://www.ogre3d.org/tikiwiki/Basic+Tutorial+4

That if we are doing one logic update per frame update, we should do it in FrameListener::frameRenderingQueued() instead of FrameListener::frameStarted() for performance reason. Quoting:

This might be worth trying IMHO.

[2014-11-21 14:19] Danimal696 commented on #318
Insect_low.003.skeleton - erase

useful, keep it:
buvneurt_env5.png -
RuinEntrance_01_mat.material (same for 02, 03, ...) and png
WoodWatchTower_mat.material

the rest can be erased

[2014-11-21 19:08] hwoarangmy commented on #322
I wil have a lok at spiders

[2014-11-21 20:37] Danimal696 commented on #322
Go for it!! :D

[2014-11-21 21:10] #89 closed, assigned to hwoarangmy

[2014-11-21 21:10] #277 closed, assigned to hwoarangmy

[2014-11-21 21:10] #332 closed, assigned to hwoarangmy

[2014-11-21 21:10] #333 closed, assigned to hwoarangmy

[2014-11-22 00:38] oyvindln commented on #334
It looks fine for me (with proprietary nvidia driver on linux), don't have anything else capable to test on. The suggested code will have to change anyway as we have found how to set the normals in the material files, so it shouldn't be hardcoded.

[2014-11-24 10:47] Bertram25 commented on #311
I've looked at this carefully. I do think our logic is sane and that the gui update might lag a bit more in game because of lower FPS there and maybe because of the gui responding to double-click event calls. I'll try the solution given above to see whether we earn a bit of FPS, but the issue should be closed as wont fix for the rest.
It is at least my opinion. Feel free to prove me wrong (I would

[2014-11-24 10:49] Bertram25 commented on #334
Indeed, I'll disable the normal for this release.

[2014-11-24 10:51] Bertram25 commented on #318
Let's clean that for next release.

[2014-11-24 10:52] Bertram25 opened #337 "Make the tooltip show next to the mouse cursor and not below it."
I've made a few tries but this doesn't work.
I'll thus ask on the forums for the current best solution. In the meanwhile, I prefer letting this for later.

[2014-11-24 11:05] Bertram25 commented on #126
@Danimal696 added the different links to the sound. They now need to be integrated.

[2014-11-24 16:14] Bertram25 opened #339 "Remove the console commits by oln pushed by mistakes on the main repo."
Nothing major. I'll remove them asap but in the meanwhile, everyone knows I'm on it.

[2014-11-24 17:41] akien-mga commented on #339
Also check 5ac13262, it seems an old commit from @Danimal696 was revived, but it doesn't do what it says (and judging by the name, I'm not sure we want to delete the Dirt material).

[2014-11-24 21:33] Bertram25 commented on #339
I got rid of that one, so it should be ok. :)

It's now done.

[2014-11-24 21:33] #339 closed, assigned to Bertram25

[2014-11-25 09:39] Bertram25 commented on #323
Once the PR is merged, I'll move this one to 0.5.0.

[2014-11-25 18:47] #334 closed, assigned to Bertram25

[2014-11-25 18:47] #283 closed, assigned to Bertram25

[2014-11-25 18:47] #318 closed, assigned to Bertram25

[2014-11-25 20:35] Bertram25 commented on #323
The portal definite logic is still to be decided. Moving to 0.5.0...

[2014-11-25 20:36] Bertram25 commented on #313
Reassigning to Danimal now the base of spawn conditions has been added.

[2014-11-25 20:36] Bertram25 commented on #311
I'll request to close this one as wontfix or later. We need more FPS before dealing with GUI performance.

[2014-11-25 20:43] hwoarangmy commented on #323
I've had a look at the portal, it looks pretty nice. But the vortex is not really visible. IMHO, we should go for another animation when creature spawns...

[2014-11-25 20:47] hwoarangmy commented on #322
The crypt logic is added in my last PR. This issue will not be closed when it gets merged because of the unclear points.
At this moment, the logic is:
- Dead creatures are carried to the crypt by kobolds (the number of turns a dead body stays in its tile before being removedis now configurable)
- There can be 1 creature per central active spot
- The creature stays in its spot while rotting (number

[2014-11-25 20:57] akien-mga commented on #311
I'm not sure I really understand why it would be linked to our FPS performance? I currently run OD with around 35 FPS, but the issue I mentioned seems to be that the "clicked" state of the grab button is only shown once per turn (at least it looks like it), even if it is clicked more than once per turn.

But I'm fine with closing this one for now (the issue title refers to something that has indee

[2014-11-25 21:04] Bertram25 commented on #311
My point is more about seeing how the OD gui behave at 60 FPS. But you might be right, we might have to disable double-click event GUI update in order to get the desired effect. I sincerely don't know how yet, though :)

[2014-11-25 21:05] Bertram25 commented on #322
@hwoarangmy What are the unclear points?
EDIT: I'd say you can go along the most votes, but if there is someting completely obscure, feel free to tell :)

[2014-11-25 21:36] Danimal696 commented on #322
Im seriously agaisnt this, lucky you made it configurable

[2014-11-25 21:38] Danimal696 commented on #323
it suddenly contracts and then expand, think of something better?

[2014-11-25 21:58] Bertram25 commented on #322
@Danimal696 I'm sure to understand. Are you against it being 15, or against a max at all? And then, why?

[2014-11-25 22:01] Bertram25 opened #343 "Check whether there is a way to make the buttons more visually responsive."
ATM, the in-game button seems to be updated every second when clicking fast on them.
I suspect them to answer double-click events or events preventing their appearance from being fine.
(This might also be the low FPS.)

This will have to investigated and hopefully a solution will have to be found.
Base on discussion in #311

[2014-11-25 22:01] Bertram25 commented on #311
I'll close this one. #343 is for 0.5.0 :)

[2014-11-25 22:01] #311 closed, assigned to Bertram25

[2014-11-25 22:26] hwoarangmy commented on #323
I meant removing the vortex and make the portal turn or add effects (fire/fireworks or something like that)

[2014-11-25 22:28] hwoarangmy commented on #343
That's also my feeling. I've not really made sure but that's why I changed the event when using worker/fighter pickup button. And it worked

[2014-11-26 01:41] Danimal696 commented on #322
i would like to be able to cheat the 15 max by creating undeads, it was a hobby of mine in all DKs, to get my own undead army and devastate the whole level, i even totally forsake vile demons for this (they hated each other).

[2014-11-26 08:58] #275 closed, assigned to Bertram25

[2014-11-26 09:00] hwoarangmy commented on #322
From what I understood, the creature given by the crypt will be pretty powerfull. If we limit only the other ones, they might become too strong...
Moreover, even if the creature max number is now configurable, it is still there and there is no exception for undeads ATM. Anyway, we can decide later (maybe when we will get the prison) if some creatures are excluded from the creature count.

[2014-11-26 09:14] #261 closed, assigned to hwoarangmy

[2014-11-26 11:18] Bertram25 commented on #9
Ok, once the PR about the boulder trap is in, it will be time for the first release candidate used to do balancing. :D :yum:

[2014-11-26 12:51] Danimal696 commented on #322
Skeletons should be imo, anyways i guess the ghoul is the one model almost ready for the cript even if we change it later. Once im done with experimenting on Mocap animation ill get to him.

[2014-11-26 13:56] hwoarangmy commented on #65
I've had a look at the keeper hand but it seems to have problems with it. First, the skeleton file is wrong (can't remember the name but I had to rename it) and the only available animations are "Walk" and "Idle".
After renaming, the keeper hand is white. Maybe a missing texture ?

[2014-11-26 14:07] Bertram25 commented on #65
Definitely, or a miss in a material file. The default system material name is WhiteBase, for the pure record, btw.

When looking at the material file, no doubt it's broken:
https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/scripts/Keeperhand.material

Try replacing the file content with this, for a start:

[code]

We'll deal with normal and specular later.

[2014-11-26 14:09] Bertram25 commented on #12
See also #323

[2014-11-26 14:13] hwoarangmy commented on #65
ok. I will try that tonight. Thanks

[2014-11-26 14:13] Bertram25 commented on #65
Speaking of which, if we had the keeper hand back, we may take the opportunity to change/improve the tile selector as well. What do you think guys?

[2014-11-26 14:14] akien-mga commented on #65
Yes, the tile selector definitely needs some tuning, it's sometimes hard to select a given tile due to perspective effects.

[2014-11-26 14:16] Bertram25 commented on #65
The default perspective also needs tweaking, you're right about it, but here I was speaking of pure graphics.
But you raised a valid point: I'll open an issue about it.

[2014-11-26 14:18] Bertram25 opened #345 "The default game perspective makes it hard to select certain tiles."
How should we change the default perspective to avoid selection problems? More isometric? More top-down? Something else to fix?

Once we've found a correct setting, I'd also request we add a key to permit to reset the viewpoint back to this.

[2014-11-26 14:22] hwoarangmy commented on #65
If we have a better tile selector, why not. But the current one is not that bad IMHO. The perspective effect @akien-mga is talking about is another problem ^^

[2014-11-26 14:33] hwoarangmy commented on #12
oops, I had forgotten this. That's not exctly what I did to set max creatures. But I guess that this will only apply when we will be able to claim portals...

[2014-11-26 14:38] Danimal696 commented on #323
i wonder, can the creature max number be configurable by level file, just like starting gold is?; this makes me think as well... if we ever wanted a hero campaign (or different keeper ones), all custom config files should be shipped with it instead of using a global config file always.
What i mean is we would need a new folder called "campaigns", and the game would looks for all needed config file

[2014-11-26 15:19] Bertram25 commented on #323
Yep, that's what I think also. Or even per level, IMHO. The global.cfg file is here to get the default fallback value though.

[2014-11-26 15:21] hwoarangmy commented on #323
Until now, we have used the following logic:
- Use the global config (for example creature classes)
- If overwritten (totally or partially) in the level file, use it

That's probably enough for a campaign (We will probably want to change different things for each levels). We just need to decide what is overwritable and what is not.

[2014-11-26 15:28] akien-mga commented on #323
Though @Danimal696 raises a valid point. When we design campaigns, we _might_ want to override the default config with a campaign-specific config that would be shared between all campaign levels. As said previously, this can already be done in the level files, but it would force to duplicate lots of config for a campaign with many levels using the same config changes.

That said, we are not there

[2014-11-26 15:32] hwoarangmy commented on #323
I am not sure we will really want to do global changes for a whole campaign. But even if we do, the overwrite logic is already there so, to answer @Danimal696 's question, yes, it is possible to override. And if needed, we can add the needed to override everything for a campaign (by using a file include system for example).

[2014-11-26 15:38] akien-mga commented on #323
I like the file inclusion idea. But as you said, "if needed", let's not implement features that we don't need for now :-)

[2014-11-26 15:50] Bertram25 commented on #12
Also, while we're on all this, note that this will have to a per-portal config. Or a portal won't be more interesting than another for the given level.

[2014-11-26 19:15] hwoarangmy commented on #65
I've had a look and it works by changing the material file. I tried to replace the cursor by the mesh but it seems to be a mess from what I've seen. DO you know if there is a way to display a mesh instead of the cursor ?

[2014-11-26 22:13] Bertram25 commented on #65
I remember some commented code about the keeper hand. But I can't put on hand on it atm...

[2014-11-27 13:05] hwoarangmy commented on #65
BTW, shall I make a PR for what I've done on the keeper hand ? Currently, the slapped creatures do not work faster but they loose 20% of there max hp when slapped. That can allow at least to kill the creatures and display the hand...

[2014-11-27 13:23] Bertram25 commented on #65
Lol :> Erm, I mean, how can you do that to those poor creatures...

IMHo, you can do a PR and we will see whether this can be integrated for the release. (This would be a nice last minute surprise ;])

[2014-11-27 13:45] hwoarangmy commented on #65
ok. I will do that tonight after integrating yours as there will probably some conflicts. I've moved some code to GameEntity to allow more generic actions. Nothing big but as you changed pretty much this class, there might be conflicts. Since there are only 2 animations for the hand, I've used something that looks more like picking up than slapping but I guess it is better to have an animation for

[2014-11-27 13:53] Danimal696 commented on #65
isnt 20% too much? 10% is more sensible

[2014-11-27 13:54] Bertram25 opened #346 "Room and trap prices should be configurable in the corresponding files."
Everything is in the title.

[2014-11-27 14:01] hwoarangmy commented on #65
ok. I will add that in the config file then and will set it to 15% ;-) because I usually use it when i want to kill a creature so i prefer not to have to slap it for ages ^^

[2014-11-27 21:46] #294 closed, assigned to Bertram25

[2014-11-27 21:46] hwoarangmy commented on #65
I've tried modifying the material for opacity and it works
I don't need your patch after all ^^

[2014-11-27 22:38] hwoarangmy opened #347 "When saving a level in editor, the XP table is not saved when it had been overwritten"
To test it, load the small test map 2v2 skirmish and save the level. Compare the new level and the backup: the BigDragon XP table is missing.

[2014-11-28 01:12] Bertram25 commented on #347
0.4.9?

[2014-11-28 01:14] Bertram25 commented on #9
I consider the game ready for a first RC, made for balancing. If we can merge the hand before that and fix the XP table problem, it would be cool but IMHO, it shouldn't prevent a new rolling release. Thus, I'll do it as soon as I've time. ;)

[2014-11-28 08:27] hwoarangmy commented on #347
ok. I'll have a look. It should not be a big problem.

[2014-11-28 08:55] #65 closed, assigned to hwoarangmy

[2014-11-28 10:27] hwoarangmy opened #349 "Remove the RenderManager queue and execute the requests as they are sent"
I've made some tries to see what happens when the RenderManager is not used - ie render messages are not queued but executed instead. On windows, I don't see anything wrong.
@Bertram25 @akien-mga could you please try to do the same ?

You just have to change in RenderManager::queueRenderRequest_priv
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/render/RenderManager.cpp#L198

[2014-11-28 10:40] akien-mga commented on #349
I tried the replacement, it looks alright here.

[2014-11-28 13:01] hwoarangmy commented on #349
Thanks. Linux I guess ?

[2014-11-28 13:04] Bertram25 commented on #349
Oops, completely forgot that one. I'll test during the Week-End. IIRC, we discussed that months ago, right?

[2014-11-28 13:09] akien-mga commented on #349
Linux indeed for me, 64bit with intel drivers. I just tested with nvidia drivers, it works fine too.

(Hehe I just noticed that you can steal the gold of you ally on the 2v2 map if you're quick enough to mine it and claim tiles under it before the AI :-P).

[2014-11-28 13:59] hwoarangmy commented on #349
That's evil !!

[2014-11-28 14:02] hwoarangmy commented on #349
Yep. At this time there were more prioritary things. But now that we have a stable release, it might be a good thing to do ^^

[2014-11-28 14:03] hwoarangmy opened #350 "The keeper hand is missing animations"
Currently, there are only 2 animations:
"Walk" that seems the default animation (only moves a little fingers)
"Idle" that seems to be the pickup animation

It could be nice to have at least a slap animation

See #65 for more information

[2014-11-28 14:57] hwoarangmy commented on #322
The remaining points that have to be cleared:
- Is there a bonus with active spots ? If yes, which and how ?
- Do we want to have more than 1 creature class spawnable in the crypt ? If yes, do we want equal probability ?

[2014-11-28 22:35] Bertram25 commented on #347
I quickly tried to save this map as is:
levels/skirmish/TestSingleplayerSmall.level

And the Adventurer, Knight and wizard XP table are created. Is it normal?

Other maps seem to behave correctly, even if some of them have a format not completely upgraded AFAIK.

[2014-11-29 03:29] hwoarangmy commented on #347
I don't reproduce but I think it is an uninitialized variable. By re-reading the code, I would guess that it's because I check the XP table from 0 to MAX_LEVEL but it should be MAX_LEVEL - 1 because creatures start at level 1. I'm gonna post a patch

[2014-11-29 12:16] Bertram25 commented on #322
I would say:
1. Since active spots are already used as, well, corpse spots. I don't think it's a good idea to give another bonus.
2. As a long term vision, I mean once we have skills, it would be good to be able to research a skill that permits to switch or improve the creature spawned from the crypt. IMHO, there would be still just one, but it would show the Keeper specialization. Just an opinion

[2014-11-29 12:18] Bertram25 commented on #349
Yeah, if the manager can be removed, I'm quite sure all the rendering stuff could be simplified a lot. Let's hope it will turn well.

[2014-11-29 12:19] Bertram25 commented on #349
@akien-mga It's not a good thing for me that you're becoming more and more cunning in-game :S With @hwoarangmy 's will to avenge the fallen BigKnight and your new tricks, I fear our next lan. :fearful:

[2014-11-29 12:32] Danimal696 commented on #322
- i would give an extra point or two for each wall spot, that way its rewarded to create a walled room.
- I like yor idea of being able to upgrade the rewarded creature  by research

[2014-11-29 13:32] Bertram25 commented on #322
Indeed, if wall spots aren't taken in account for corpse point, I couldn't agree more. Something like 1 point each? So that you get a boost for the first spawn, and have the next ones only at normal pace?

[2014-11-29 18:52] #347 closed, assigned to hwoarangmy

[2014-11-30 09:51] hwoarangmy commented on #349
Yes and I guess it will help us when working on FOW

I've seen what happened during our previous lan. I will attack you only with tentacles so that if I win, I don't care if you lower their stats.

[2014-11-30 13:52] Bertram25 commented on #349
XD deal

[2014-11-30 18:35] hwoarangmy commented on #349
@Bertram25 Have you tried if there was an issue when not using the render queue ?

[2014-11-30 18:43] hwoarangmy commented on #322
1 - ok for not giving anything for center spots (as they are already used for carrying corpses). Concernnig Wall spots, we can give a 2% bonus per wall spots. On a 5x5 room, it would be 20% bonus. Seems good to me ^^
2 - Good idea to have to research something to change the spawned creature. We should keep that in mind.

IMHO, once the 2% bonus per wall spot will be there, this issue can be closed

[2014-12-01 10:52] Danimal696 commented on #323
now i understand hwoarangmy when he said the portal has a funny vortex, rigth now its using the wrong animation by pure chance. It has two animations:

Idle - to be looped, soft circling ;
Triggered - when creature appears, violent expanding/contracting

it would be good if any of you fix it

[2014-12-01 11:12] Bertram25 commented on #323
- When created the portal is using the Idle animation (looped)
  https://github.com/OpenDungeons/OpenDungeons/blob/development/source/rooms/RoomPortal.cpp#L80

The only thing I find wrong here is the use of the "Spawn" animation here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/rooms/RoomPortal.cpp#L132

which triggers the idle animation non-looped as a fallback. I guess t

[2014-12-02 09:31] Bertram25 commented on #349
Sorry, couldn't do anything last night. Hopefully this evening. :)

[2014-12-02 11:13] hwoarangmy opened #353 "Implement the forge logic"
For now, the forge will be used for traps only (we will see later for weapons).
When a new trap is created, it is deactivated (translucient). It needs a crafted trap from the forge to be ready.
Crafted traps are carried by Kobolds to the trap. Once there, it becomes activated and can trigger. Between 2 shots, there is a reloading time. After a few (configurable) shots, the trap is deactivated and

[2014-12-02 11:14] hwoarangmy commented on #349
no pb ^^

[2014-12-02 14:06] Danimal696 commented on #353
what do you plan for it?

[2014-12-02 14:42] hwoarangmy commented on #353
Sorry, I had no time to update description. But now, it's done ^^

[2014-12-02 15:21] Bertram25 commented on #353
IMO, I'd be for letting the creatures craft the traps in need first, and then why not craft a few random traps within the makable ones. (Later depending on the skills unlocked), and leave the room once full. What do you think about it?

I just don't remember how it was in DK, but if I guessed what you said rightly, you mean the crafted traps go to the wall spots if any, and then on the central spo

[2014-12-02 16:49] Danimal696 commented on #353
i dont know, say, we implement weapon creation, and forge is cluttered with traps that wont be used anytime soon making creatures unable to work on it; i would prefer the creatures only work when a trap is being created leaving the forge empty when trap is finished

[2014-12-02 17:46] Bertram25 commented on #353
Ah true. Then let's them build what's needed and be done with it. It will be much more understandable as a player point of view than letting them gather conceptual forge points upfront, IMHO.

[2014-12-02 21:22] hwoarangmy commented on #353
ok. Then we agree that only the needed traps/weapons should be crafted. Letting creatures go to the forge only when there is a trap to craft might be a little brutal but at least, it is easy to understand.
I also think that letting them gather points and have instantly finished traps doesn't make really sense in a forge (not a magical building). Anyway, we should also keep in mind that everything

[2014-12-02 21:26] hwoarangmy opened #354 "Implement fighter logic when not in a battle"
See http://forum.freegamedev.net/viewtopic.php?f=35&t=6013&sid=d77d962287d1146877e3351cf66df5f6

To summarize:
To have something easy to configure, I would propose to allow to add in the creature definition file a list of usable rooms and a value. The higher the value is the most likely the creature will go there if the room has empty space. For example, a troll would have something like:
Forge 5

[2014-12-02 21:49] Danimal696 commented on #353
i think they could go anyways to create weapons points in the forge once the "armory" room is researched (should be an early room, basic weapons created at first but advanced weapons would be unlocked with more research), since the points would store on the armory and not the forge.

By the way, the armory room would be a room where creatures would go to upgrade their equiped weapons (or maybe dro

[2014-12-02 23:20] hwoarangmy opened #355 "Creature Hp healing rate while sleeping should be configurable"
And maybe defined per unit ?

[2014-12-02 23:46] Bertram25 commented on #355
I would be fine with both solutions here as I see advantages in both. Let's ask the others. :)
@akien-mga @oyvindln @Danimal696 ?

[2014-12-02 23:49] hwoarangmy commented on #355
yep, that's my line ^^

[2014-12-03 00:52] Danimal696 commented on #355
fine by me

[2014-12-03 06:52] Bertram25 commented on #355
Eh eh. For which solution ?

[2014-12-03 09:19] akien-mga commented on #355
For this kind of parameters, I'd like to have a creature default parameter (defined in a config file, but common to all creatures), and then the possibility to override it in creature definitions. I think this mechanism could be applied (or is already applied?) to other stats for which it might make sense to have a common value, but to fine tune it for some creatures (e.g. HP healing in % from chi

[2014-12-03 10:00] Bertram25 commented on #355
So, in the finals, I guess it's a per creature for you @akien-mga ?

[2014-12-03 11:47] akien-mga opened #356 "Add an appdata.xml file"
From what I understand [1], this aims at being a cross-distro description of the software, with screenshots and all. I'm not sure which package management software use it (Mageia's doesn't as far as I know), but I'll have a look at it.

Note that I might do this for 0.4.9, but I set the milestone to 0.5.0 for now, this is not a high priority enhancement.

[1] http://people.freedesktop.org/~hughsie

[2014-12-03 11:50] akien-mga opened #357 "Add a manpage"
We should provide a manpage for the opendungeons binary (typically this would be a requirement in Debian's packaging policy if we want OD included in Debian).

BTW, are there parameters that can be used with the OD binary? `opendungeons --help` starts the game normally.

[2014-12-03 11:52] akien-mga opened #358 "CEGUI.log should go to the user data dir"
Starting opendungeons installed system wide, I notice that the CEGUI.log file is put in the working directory instead of the user data dir (~/.local/share/opendungeons on Linux).

[2014-12-03 12:30] Danimal696 commented on #355
per creature to me  as well

[2014-12-04 09:11] Bertram25 commented on #357
Atm, there is no command line parameter handling at all AFAIK, so maybe it's better to open a spearate issue about and discuss there what we want to implement?

[2014-12-04 09:11] Bertram25 commented on #358
I'll deal with that one.

[2014-12-04 09:19] Bertram25 commented on #358
For personal record:
http://static.cegui.org.uk/docs/0.8.4/classCEGUI_1_1Logger.html#ae4c43f9f8358672af7614a0665d23a0d
To be called before cegui initialization IIRC.

[2014-12-04 16:57] hwoarangmy opened #361 "Some active spots are lost when a room is absorbed"
When a room is absorbed, if a creature is working, the active spot it was on will not be used anymore. This is a regression from an unknow patch.
Anyway, the room absorbtion code needs to be refreshed since many things have changed with buildings

[2014-12-05 11:15] akien-mga commented on #357
Sounds good. I'll just add a basic manpage that gives a description of the game and points out that there are no command line parameters currently.

[2014-12-05 17:01] hwoarangmy commented on #322
The wall active spots bonus is handled in #352. I close the issue. If we want to change something later, we can open another issue

[2014-12-05 17:01] #322 closed, assigned to hwoarangmy

[2014-12-05 20:29] Bertram25 commented on #349
I've tested it but so far, everything went fine. All single player, multiplayer and replays went fine.
I've noticed sometimes creatures idling, I mean stuck on the same tile with the idle animation after a big battle between two AIs, but I'm not sure it's related.

[2014-12-05 21:44] hwoarangmy commented on #349
that's where the replay rocks ^^
You can watch the game with and without the renderer patch. You will see if there is a change. Every change on the render manager only impacts the client. So, it should be relevant to make this test.

[2014-12-05 22:37] Bertram25 commented on #349
Ok, I will :)

[2014-12-06 19:58] Bertram25 commented on #349
Ok, I confirm the exact behaviour can be seen when playing without the renderer change, so I guess it may be more something like the good old creature action list being spammed with something, or similar. Anyway, that bug is very minor as the creatures gets used elsewhere rather often by the AI.
I'll open an issue if I can find a relevant way to reproduce.

In any case, I think we can go on with t

[2014-12-06 20:49] #361 closed, assigned to hwoarangmy

[2014-12-06 21:31] akien-mga commented on #358
I still get the same behaviour as before here after your changes in 37e5afd.

When running OD from a read-only location:

[code]

Oops nevermind, I think I'm testing a home-built OD package which did not use the same tarball as the one I pushed to Mageia's buildsystem... PEBKAC :-D

[2014-12-06 21:32] #358 closed, assigned to Bertram25

[2014-12-06 21:39] Bertram25 commented on #358
Ah, phew :)

[2014-12-06 21:43] akien-mga commented on #358
Yes I can confirm the fix with the updated package :-)
But it's good, I took the time to try to debug the (non-existing) issue myself now that I can read C++ syntax more easily ;-)

[2014-12-06 21:48] Bertram25 commented on #358
Cool :) Well, you were already doing some coding with cmake anyway. And I guess packaging does count in development anyhow. :)

[2014-12-06 21:58] hwoarangmy commented on #349
ok ^^

[2014-12-07 11:05] akien-mga opened #366 "Opt-in parameter to link against system FreeMono.ttf font"
**Edit:** This was fixed by dropping FreeMono.ttf

As discussed in https://github.com/OpenDungeons/OpenDungeons/pull/362#issuecomment-65931864 and onward.

Basically the idea would be to let packagers define the absolute path to the system directory containing the FreeMono.ttf (and could be extended to any new "common" font that we would like to use in the future).

Unless I'm mistaken, the font i

[2014-12-07 12:58] akien-mga opened #367 "Improvements to resources.cfg.in"
Talking about the resources.cfg.in as of https://github.com/OpenDungeons/OpenDungeons/blob/2f2a9573377f589b6298525653ca44859d24af0a/cmake/config/resources.cfg.in

There might be some enhancements to do in this file, but as I don't really know OGRE's resource management, I open this issue as a RFC (request for comments).

What I see:
- `@OPENDUNGEONS_MEDIA_DIR@/` is useless as far as I can tell: we

[2014-12-07 19:36] akien-mga commented on #366
I've asked Mageia developers about this, and I was told that project such as ours should probably use fontconfig for this purpose: http://www.freedesktop.org/wiki/Software/fontconfig/

[2014-12-08 10:20] #353 closed, assigned to hwoarangmy

[2014-12-09 00:27] hwoarangmy commented on #349
I've had a look at how to remove the RenderManager. After all, I think it is not worth removing it because:
- It will be a pain to do and a pain to review (since there are loads of calls that will need to be adapted)
- It will be hard to roll back if we see a problem
- It allows to gather most of Ogre code. That means that when we will want to upgrade the engine, it will probably be easier like th

[2014-12-09 00:43] oyvindln commented on #366
When it comes to the FreeMono font, it's used by the ogre text rendering, which I'm not sure we are going to use in the future. Right now it's used for chat, console and text following the pointer, and I think all of these could be replaced by the GUI framework (CEGUI) eventually, though that is something we have to discuss. (I'm working on the console part, but I haven't been able to get much don

[2014-12-09 00:48] oyvindln commented on #349
I think your proposals sounds reasonable, there isn't the need for the queue now that we have the client-server system. I don't like the tight coupling between the entity classes and rendering that we have, but I am not sure how best to solve that.

[2014-12-09 10:54] oyvindln commented on #170
As no one has taken up the task, I suggest we drop the custom culling code for now. It hasn't been updated since we changed to the server-client structure, so it's probably broken anyhow, and it's contributing to build time and coupling between classes.

[2014-12-09 12:52] Danimal696 commented on #170
i would like to ask you to implement a culling manager nevertheless, no matter how basic in the future, its a very usefull piece of code

[2014-12-09 15:08] hwoarangmy commented on #170
+1. As you say, there are probably many things changed since the server-client structure that can be simplified/improved. Moreover, there are many calls (especially on rendering) that avoids making changes even if they are not used.
And finally, IMHO, when we will have a better idea of how the FOW will be implemented, it will probably help us on finding a better way to activate culling.

[2014-12-09 15:10] hwoarangmy commented on #349
Yep, that's why I wanted to remove the render manager. But I couldn't find a way to break this coupling that I was happy with.

[2014-12-09 16:11] Bertram25 commented on #349
AFAIK, Ogre does the batching in term of draw updates, so I guess it's relevant.

Sure. In any case, I do think this kind of effort can be done step by step. As you said, let's break-down this big stuff into smaller problems and fix the ones we're sure of, first.

Yeah, that part always sound weird for me too, in term of design. But I'd say let's see what can be simplified once we have remove the

[2014-12-09 16:14] Bertram25 commented on #170
I do think we can drop it, too. As for the FOW, I also think that it will help a lot in term of performance once in, as well. Since it will somehow "hide" everything not in view of the creatures per default, after all.

I'm also sure the culling proposed in the description will be easier to add once the former is removed.

[2014-12-09 16:25] akien-mga commented on #170
That might sound like a strange request after all this time where culling has been evoked, but I still have no clue about what it means :o) Could someone explain me the concept briefly? ;-)

[2014-12-09 16:43] hwoarangmy commented on #170
Well, the concept is not very complex. The idea is that when you play a game, you look through the camera at only a part of the whole area. For example, while you look at your dungeon, you don't see the 3 other players' dungeons.
The idea of culling is to not render what you are not looking at. If we take our previous example, if you look at your dungeon, the other players dungeons won't be render

[2014-12-09 16:48] Bertram25 commented on #366
@oyvindln I hope you're going better, btw. Or at least, that you are taking care of yourself. :)

CEGUI is using the Ogre as a resource manager. See here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/render/Gui.cpp#L66

So, IMHO, if we can solve the problem for Ogre, we'll solve it for CEGUI.

Btw, the simplest way to add a system font I could find is to add a resource loca

[2014-12-09 16:50] akien-mga commented on #170
Thanks :-) Sounds important indeed, but I also think we can drop the current code if all three of you coders think it's not a good start.

[2014-12-09 16:52] Bertram25 commented on #170
Well, the current code looks quite complicated while I don't claim to have the solution. ;)

[2014-12-09 16:53] oyvindln commented on #170
Ogre already does culling. It may be possible to fine tune how the culling works to achieve better performance, but I don't think it's worth bothering with at this stage.

[2014-12-09 16:58] akien-mga commented on #366
Set the milestone to Later for now, it's not a high priority enhancement for 0.4.9.

Basically the link you gave on the Ogre forum seems to be the in-code equivalent of what I proposed above for the resources.cfg file:

The main issue with this being the use of a relative path, when we would like something like:
`FileSystem=@SYSTEM_FREEFONT_PATH@` where SYSTEM_FREEFONT_PATH would be passed as a CM

[2014-12-09 17:42] hwoarangmy commented on #170
Yep, that's what I would call "early optimization". Lets first wait for a problem to try to solve it ^^

[2014-12-09 18:05] Bertram25 commented on #170
Ok, then I guess it's settled. The issue can be closed once the experimental culling management has been removed.

@Danimal696 While it's always useful to cull stuff you don't need on screen, it will bring only troubles if we make things more complicated than needed. IMHO, this is the kind of stuff that can wait for after the Fog of War. Ogre 2.0 will also help in that area AFAIK.

[2014-12-09 18:12] Bertram25 commented on #366
Dang. Then, I guess we're good to add a custom resource loader for such stuff. I will simply say that Ogre team has weird ways to handle stuff sometimes, even they've got one of the best open sourced 3d engine out there.

Do you think this would be acceptable to use such (weird) relative paths for fonts until we've sorted this out? Or is it a bit too early?

[2014-12-09 18:16] akien-mga commented on #366
Sure, for now I can patch resources.cfg to add the relative path. This is really low priority, there is no real problem with bundling open source fonts. Packagers are used to this kind of stuff (and most of the time don't really care about it ;-) ).

There's no hurry for this issue.

[2014-12-09 18:20] Bertram25 commented on #366
k, but it's a real blunder Ogre doesn't handle special external resources. I may open a thread about this to see if they are more open to add this back in Ogre 2.0.

[2014-12-09 18:23] oyvindln commented on #366
Are you sure it doesn't?

[2014-12-09 18:32] Bertram25 commented on #367
1. Yes, IMO we should be able to drop @OPENDUNGEONS_MEDIA_DIR@/ and related stuff.
2. Completely duscussed in #366 Relative paths will have to be used for now. Either Ogre will move or we will have to keep using relative paths or add a custom resource loader.
3. & 4. I updated the RTShaderLib/ folder some time ago to the latest version. AFAIK, the Cg, GLSL150, GLSLES and HLSL folders can be droppe

[2014-12-09 18:34] Bertram25 commented on #366
From all I could read, it doesn't accept '/usr/...' as a resource path. But if you find something that proves me wrong, I'm all ok for it. :)

[2014-12-09 18:53] oyvindln commented on #367
Removing the HLSL folder will cause problems for people using Direct3D on windows. The GLSL150 folder may be used depending on OpenGL version, so I don't know if that should be removed. Cg is disabled, so we don't need that, and I would assume we don't have anyone using the game on an OpenGL ES platform so that is probably safe to remove too.

[2014-12-09 19:26] tomluchowski commented on #170
What's wrong with the culling for creatures ?
There are like two mechanism for TIles and for Creatures , the former is by default disabled .
No generic  algorithm would be ever as fast as hand written one , as teh clothes  from TESCO would fit better than those from  cobbler ...
I 'm having hard times in installing CEGUI and seeing what's currentlu in the development branch ....

[2014-12-09 19:39] akien-mga commented on #366
My initial guess that we could be the ones forcing the OD_DATA_PATH as a prefix for the Ogre resource manager. At least that's the current resources.cfg.in file suggests with:

`FileSystem = @OPENDUNGEONS_MEDIA_DIR@/gui`

Before @Bertram25 implemented the OD_DATA_DIR and I wrote the Linux install instructions, the method planned for system wide installation was a system resources_install.cfg in wh

[2014-12-09 19:45] akien-mga commented on #170
@tomluchowski Regarding your CEGUI issue, as discussing on IRC, you should:
1) Build cegui from source and make sure to enable the freetype2 dependency. You can check my package for a working example of dependencies that produce a _good_ CEGUI: https://svnweb.mageia.org/packages/cauldron/cegui/current/SPECS/cegui.spec?view=markup
2) Report a bug at openSUSE so that they add pkgconfig(freetype2) as

[2014-12-09 23:16] Bertram25 commented on #367
Yes, but since we only propose the GL renderer at startup, it shouldn't be a problem.

That is my main fear. If Ogre auto select the GL shaders to be used between GLSL, GLSL150 and GLSLES. Then, IMHO, we shouldn't remove any of them. But if we're sure the GL renderer does use only one of the three, then it's ok. Do you how/where in its code Ogre select the shaders to use, by any chance?

[2014-12-10 13:28] #349 closed, assigned to hwoarangmy

[2014-12-10 23:07] hwoarangmy opened #371 "Check if MapLight can be a GameEntity"

[2014-12-11 13:10] Bertram25 commented on #170
@tomluchowski Hey there. Nice to see you're still around.
I do think you should first concentrate on remaking your build environment. That may take time but you will have a clearer view of where we are atm.

Speaking of the culling management, yes there are two algorithms, and yes custom ones are fasters, but only when working, right?
I can understand @oyvindln 's proposal to remove some code that

[2014-12-11 17:39] tomluchowski commented on #170
_Edited for readability_

Could you start from there and point what you need to know more with  :?
http://forum.freegamedev.net/viewtopic.php?t=5480

[2014-12-11 23:37] #371 closed, assigned to hwoarangmy

[2014-12-13 12:31] tomluchowski opened #374 "Simple Options/ Config hack"
Would you like to have an autostarting script which would contain in each line a command to be run in Console ? That way we could have customization compatible 1-1 with options from cmd line ....
IT should be run after the GameMap reads the map from file ...

[2014-12-13 14:30] Bertram25 commented on #374
From what I read, I suppose you're speaking of a file that is parsed after the level file to auto-execute commands?
IMHO, no. (But I'll let others speak as well).

What I'd rather have (but we're not yet there), is a script part in the level file that provide a way to (re)load a game state regarding AS. (which could trigger the equivalent to your feature question.) and permit to save the AS state

[2014-12-13 15:02] akien-mga commented on #374
I've discussed this shortly on IRC with @tomluchowski, on from what I understood he wants some customisation config commands to be run at each game start:

I don't see any command name "enableScrolling", but basically the idea behind this is user customisation of the interface. IMO, all this should be managed through a config file in ~/.config/opendungeons and in an "Options" menu, e.g.:
- Enable

[2014-12-13 15:24] akien-mga opened #375 "AI doesn't repair damaged rooms"
As seen here:
![ai-repair](https://cloud.githubusercontent.com/assets/4701338/5424171/8eca75c0-82e4-11e4-8ad1-a941a2974e55.jpg)

[2014-12-13 15:29] akien-mga commented on #375
Maybe it builds a new one when it's completely destroyed though.
I agree with the 0.5.0 milestone, the aim for 0.4.9 was to have a basic AI, and we have already better than that :-D

[2014-12-13 15:36] Bertram25 commented on #374
@akien-mga Thanks for taking the time to give more info. :)
If it's actually about configuring OD at a general level, then yes, I'd rather have a proper settings manager than a list of console commands executed at startup or equivalent.

That said, the main difference between the two is that the setting manager will read config options instead of console commands. The GUI part can even be done in

[2014-12-13 15:37] Bertram25 commented on #375
Yeah, 0.4.9 will rock already. :)

[2014-12-13 15:44] Danimal696 opened #376 "Ranged creatures Behaviour"
They try to shoot from its max range, wich is fine, but if an enemy creature charges at them, they just run around trying to get to max range again, making them totally useless.
Couldnt they run away to max range when the enemy is 2 or 3 tiles away?

[2014-12-13 15:53] Bertram25 commented on #376
That one might be unkind to players, indeed. Can we consider the current behaviour sufficiently good for the current release to go or should I add it for 0.4.9?

[2014-12-13 16:33] tomluchowski commented on #374
Shoudn't that be one langauge. Config language == console language ?
Seems there is some obvious obstacle I don't see ... being ... ?

[2014-12-13 20:07] Danimal696 commented on #376
we only have the wizard as ranged, so it can wait ;)

[2014-12-13 21:56] hwoarangmy commented on #376
Well, in reality, even allowing ranged units to shoot when not at max range wouldn't make them stop to run when a melee unit charges them (at most, they will strike once more). And IMHO, ranged units are support for melee. Usually, you don't send a pack of archers without melee ^^

[2014-12-13 22:01] hwoarangmy commented on #374
IMHO, console should be used only for debugging. One of the reasons being that we might want to disable it for releases for example (even if I think it is not a good idea).

@tomluchowski could you tell us why do you really want this ?
If it is to allow to tune a level, AS should be used (even if it doesn't work for now).
If it is for general configuration, we should use some configuration manager

[2014-12-13 22:06] hwoarangmy commented on #375
Yep. It's cool to see that even with only a basic behaviour implemented, the AI do not seems too bad. From all the tests I've done so far, I always loose on 1v1 when I let my creatures do what they want ^^

Concerning repairing rooms, yes, we should do something about it. IMHO, to improve AI, we should:
- Add more randomness to make it less predictable
- Make it reapair damaged rooms
- Make it use

[2014-12-13 22:14] Bertram25 commented on #376
Ah, so you mean there might be no bug at all. Let's see if I can send a mix of melee + ranged units and see how it turns.

[2014-12-13 23:09] hwoarangmy commented on #295
BTW, concerning map loading, do we want to see the tiles like they are in the file ? (I mean even for unseen ones)
Same for rooms (that would mean that we see every room created at map load time) ?

That might change the way map is loaded...

[2014-12-13 23:16] Bertram25 commented on #295
IMO, no I don't think so. To me, the server has it all, but the clients will only show what your evil influence can detect. I mean you see tiles and rooms only once your creatures have detected it.
On the other hand, to do like in DK, I'd like to let the ability to hear enemy sounds even from unseen location. I found it cool to be able to murch in the dark to try and detect enemies. But this is op

[2014-12-13 23:20] Bertram25 commented on #313
I consider this closed for now with 43fdede336bbeeac92990de88c29fd3bdaf0a5ef

Thanks to @Danimal696 for the work done on it. :)

If something not fitting happens, please open a new issue.

[2014-12-13 23:20] #313 closed, assigned to Danimal696

[2014-12-13 23:24] hwoarangmy commented on #295
I also think it is good for rooms/traps and creatures. That means that they should not be loaded during map loading on client side...

But concerning tiles, I'm not so sure. Do we want to see 100 fullness dirt tiles everywhere until we see it ? What about water/lava/gold/rock ?

Yep, I remember that and I agree. BTW, that will also mean that sounds will have to be handled in the creature definitio

[2014-12-13 23:26] hwoarangmy commented on #9
If I am not mistaken, everything is ready ^^

[2014-12-14 00:46] Bertram25 commented on #9
Almost. I'm on removing the useless files. And Akien wanted to add the manpage, too AFAIK.

[2014-12-14 01:15] Bertram25 commented on #295
My own evil thought about it was involving an distance fog, making it useless to display tiles but unfortunately for now, the ambient fog doesn't seem to work with my latest tests.
Ambient fog or not, I was wondering whether displaying the neighbor tile from the detected ones, as dirt tiles would be a good idea. What do you think?

Hmm, are you sure? If the server does send the server sound playin

[2014-12-14 02:46] Bertram25 commented on #367
Seen on windows when removing the Cg/ folder:

[code]

I'll have to readd the Cg/ folder.

[2014-12-14 08:55] akien-mga commented on #295
I wonder about this. Since we have static maps, not displaying the initial map state would provide an advantage to players who already know the map against newcomers. So it might make sense to show the tiles in their initial state with a light as done e.g. in Warcraft 3, so that the player can decide where to dig to reach gold, etc.
Of course the display would not be refreshed until the tiles are

[2014-12-14 08:59] akien-mga commented on #9
Woops, the release is waiting for me! I'll do the manpage asap, I guess Debian has some nice documentation on how to create one :-)

[2014-12-14 09:06] akien-mga commented on #9
There were scattered comments in PRs about disabling (some?) console commands for the release. Do you think we should do it, or release 0.4.9 as is?

IMO we don't need to bother hiding too many dev features for now, because:
- This release is still an alpha meant to show the world how great OD is becoming, and people won't be surprised by cheating debug commands in an alpha version IMO.
- The mult

[2014-12-14 09:14] hwoarangmy commented on #295
Well, that was more a reminder, there is nothing tricky there. I was thinking about this:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/network/ODClient.cpp#L831

Yep, that's also the reason why I'm not sure if we should hide everything. If I remember correctly, we were able to see gold tiles in DK, no ?

Yes, that would be a way to implement FOW on client side. But IMHO, if

[2014-12-14 09:32] hwoarangmy commented on #9
Concerning console, I think we should let it because as you say, people will only play with friends as there is no server. So, there is not much interest into cheating.
And it can help us to debug if needed

[2014-12-14 11:06] akien-mga opened #379 "Mention developers in the AUTHORS file"
We currently have a nice CREDITS files that lists all licenses and authors for our assets, and configuration files.

I think it would be nice to also mention previous and current developers that worked on the source code.

There is a list of contributors here: http://opendungeons.sourceforge.net/?q=about
@hwoarangmy and I are missing from it though, but that's another matter :-)

[2014-12-14 11:07] akien-mga commented on #379
I set this for the 0.4.9 milestone since it should be relatively easy to do, but let's not consider it a blocking issue. If 0.4.9 is ready, let's release it :-)

[2014-12-14 11:14] akien-mga commented on #379
@Bertram25 @hwoarangmy @oyvindln @tomluchowski @Danimal696
Can you confirm whether the list of contributors in http://opendungeons.sourceforge.net/?q=about is accurate (apart from missing hwoarangmy, Dm3d and myself)?

Other question: should I list "direct contributors" in another section of the CREDITS file, or should I add an AUTHORS file that lists only people involved personally in OD? (contra

[2014-12-14 11:22] Danimal696 commented on #295
i would only show gold, finding everything else was one of the joys of DK, nothing like unexpectedly digging into a lava sea with dragons :D

[2014-12-14 11:34] Danimal696 commented on #379
Lets see:
Fabian Aichele - Who is this guy? unless he is one of us going with another nickname, he did nothing
ReZpawner- did nothing (except for some funny skype conversations) - dissapeared after a month

Missing people i can remember: AncientGoat, Hwoarangmy, Eugeneloza, Dm3d

[2014-12-14 11:40] akien-mga commented on #379
Trying to relate github contributors to the list on the website and nicknames on the forum:

_Web site - Forum - GitHub_
- Bertram - Bertram - @Bertram25
- Daemon - ? - ?
- Danimal - Danimal - @Danimal696
- Elvano - Elvano - ?
- Fabian Aichele - faichele - ?  _// was referenced here: http://forum.freegamedev.net/viewtopic.php?f=35&t=5378&p=56077#p56077_
- Nido Media - nido - @nido
- Oln - oln - @o

[2014-12-14 13:10] hwoarangmy commented on #295
Ok. Could you confirm what my failing memory can't: in DK, only gold tiles were shown ?

[2014-12-14 13:30] akien-mga commented on #379
Some more research done by @Bertram25, even though it was focusing on assets and not that much on the code, the code licensing being easier to handle: http://forum.freegamedev.net/viewtopic.php?f=35&t=5757&p=59035&hilit=andrewbuck#p58800

Maybe we should only list contributors who got involved over at least a couple of months? Looking at the forum and my previous comment, I think the list could ge

[2014-12-14 14:24] Smilex commented on #379
This is fun, I don't remember contributing to this.
Either way, I can't imagine I ever did much, so there's no need to add me to anything.

[2014-12-14 14:27] oyvindln commented on #379
I thought we had a list of contributers to the code somewhere. Of the top of my head, besides the people mentioned, andrewbuck (I think @andrewbuck could be the right one, but I'm not sure), alienwolf and @MCMic  are missing at least. I think many on this list were not involved in the source code directly:
No idea about daemon
Elvano I think worked on the website?
faichele I don't think actually c

[2014-12-14 15:00] Bertram25 commented on #379
I'll have a look as well. In any case, I'd rather have the contributors in a separate file as proposed.
Btw, I was completely certain faichele was another name for Elvano. I'll check my mails for a proof about this.

[2014-12-14 15:22] Danimal696 commented on #295
Gold, gems and undiggable rock

[2014-12-14 15:41] akien-mga commented on #379
I don't think so, faichele commited some code on sourceforge, and he's from Germany according to his id on #freenode :-)

[2014-12-14 15:54] hwoarangmy commented on #295
Thanks for reminding. Then, shall we keep the same behaviour ? From what he said, I guess @Danimal696 thinks yes. It seems good to me too. What about the others ?

Moreover, if we stay on that, we might also consider not loading the map on client side. After all, nearly nothing will be kept (only gold tiles, rock tiles, seats and creature definitions, lights and equipment). So we can go back to wh

[2014-12-14 20:47] jonan commented on #379
Nice to see activity in OD I had kind of lost track of this project and I'm glad it's still in development.

If I'm not mistaken, I think I helped with the migration to CMake. Nothing too fancy, so no need to be in the CREDITS file :)

[2014-12-15 09:39] #357 closed, assigned to akien-mga

[2014-12-15 09:57] Bertram25 commented on #379
@Smilex @jonanp Still it is cool to get some news from you guys. :)

@akien-mga Ok, just blame my twisted mind. ;)

I don't want to patronize of course. But I think you can go on at creating an AUTHORS file with what we've got so far. If some authors complain, we'll add them. Once our both issues are sorted out, I'll be working on the release RC1 preparation + push to stable, creation of the 0.4.9

[2014-12-15 10:01] Bertram25 commented on #9
As for levels, this has been discussed already and we decided at the time that the test level should remain for this version to show the engine is being tested (as we're in alpha.).
I added support for the map description to separate more clearly test maps from actual ones.
So, I'd request that we don't bother with that for 0.4.9.

On 0.5.0, on the other hand, we'll have to disable the display of

[2014-12-15 10:03] Bertram25 commented on #9
@Danimal696 Btw, the RC1 being imminent IMHO, are you ok to handle the official news about it, or do you guys want to handle that in a more common way maybe?
(This issue summary was meant to be used as a reminder for the changelog.)

[2014-12-15 10:08] akien-mga commented on #9
Sounds good :-) I just thought that the 2v2 map is a nice one to actually play OD both in single and multiplayer (even if it's really basic), so I'd like to ship a "plain" 2v2 map (no enemy tiles or monsters or traps next to seat 1 basically).

Remember that's it's the one we've played the most in our LANs :-p

[2014-12-15 10:10] Bertram25 commented on #295
Definite yes to me. Let's only see Gold, Gems (infinite gold), and undiggable rocks.

Looks sane. While I'd still send the map filename or at least the map info to the client. IMHO, sooner or later, we will want to add a map preview image in the lobby, right? (This is also partially covering @akien-mga 's notice about knowing the map fairness.)
I can open an issue if all agree about this.

Also, t

[2014-12-15 10:16] Bertram25 commented on #9
You definitely have a point. ;) But isn't the multiplayer version of this map, free of testing content? I just can't remember now...

When seeing the beast, it is definitely true that the most needed thing is maps now... Should we add one or two small maps as suggested?

[2014-12-15 10:43] akien-mga commented on #379
@Bertram25 Ok, I'm on it.

[2014-12-15 10:55] akien-mga commented on #9
Yes most likely. Let's leave it like that for 0.4.9, and as you said we can add a feature to separate test levels from "release" levels. Maybe two different tabs in the GUI? I think it's still relevant to leave test levels in releases as long as OD is in alpha.

[2014-12-15 11:16] hwoarangmy commented on #9
Yep, as @Bertram25 noticed, the multiplayer map don't have the test features. The only difference between the 4 players is a construct worker for player 1. It should probably be removed.

Concerning test maps, as already said, in alpha phase I wouldn't bother about it. Moreover, we don't have many maps so the list would fill... empty. So, yes, it would be cool to have 1 or 2 more real maps...

[2014-12-15 11:29] nido commented on #379
All I have done was create some trouble in the build environment and updated FindSFML.cmake to an upstream version. I have no problem not being mentioned in the AUTHORS file as this is technically not even part of OD code.

[2014-12-15 11:55] Danimal696 commented on #9
Yes, i can handle the news, having pics will depend on Elvano, since he is the only with those permits and... seems MIA. But besides that ill post it first on forum before the official release on homepage to do some joint refinement.

[2014-12-15 11:58] akien-mga commented on #9
Elvano is still hanging around on #opendungeons on Freenode, so I can grab him there if need be :-)

[2014-12-15 12:04] Danimal696 commented on #9
Good! please telll him to be ready for this :D !

[2014-12-15 13:24] Bertram25 commented on #9
Ok, I've got ideas for a 1vs1 and a 1vs2 map. I'll add them tonight. I will also need a clear consensus about the HLSL shaders and the directX renderer so we can kill all that asap. :)

[2014-12-15 13:28] ryanswrt commented on #379
Yep, I'm @TheAncientGoat, did a bit of work on the original models (wyvern was one, can't remember the others) and was slightly involved in gameplay design back around 2010

[2014-12-15 14:44] akien-mga commented on #379
@nido, @TheAncientGoat Thanks for the feedback, and glad to see you are doing well :-)

[2014-12-15 14:53] akien-mga commented on #379
Found https://www.openhub.net/p/opendungeons
It's a good resource to find old contributors :-)

[2014-12-15 14:58] akien-mga commented on #379
By default I won't use your real names (apart for Andrew Buck who used his real name as nickname, and myself because I'm megalomaniac and aiming for international fame :-P).

Off-topic: @oyvindln Er du dansker? :-)

[2014-12-15 15:05] akien-mga commented on #9
Seems we'll release 0.4.9 two years and a half after its development began: https://github.com/OpenDungeons/OpenDungeons/commit/8e48136b36a335997bdcedec1e847b2716d3a831
Kudos to @oyvindln for this commit :-P

[2014-12-15 15:16] akien-mga opened #381 "Separate test levels from "release" levels"
As discussed in #9, for future releases we might want to separate test levels from "release" levels (by "release", I mean the one that we consider interesting for singleplayer and multiplayer games and that we want normal players to play in priority).

How we want to do that is open to discussion. We might make two lists in the level selection GUI, or two different tabs. We can also remove test le

[2014-12-15 15:17] akien-mga commented on #381
Actually setting the milestone to "Later", I'm not sure we'll want to do that for 0.5.0.

[2014-12-15 15:19] akien-mga opened #382 "Disable (some?) console commands in stable releases"
In future releases, as discussed in #9, we might want to disable all or a subset of the console commands in release builds (to prevent cheating, etc.).

How we want to do that, and which commands should be filtered, is open to discussion.
A thing to consider is whether we want to disable commands altogether, or only in Multiplayer mode to prevent PvP cheating, or something else.

[2014-12-15 15:20] #379 closed, assigned to akien-mga

[2014-12-15 15:27] Bertram25 commented on #367
Woohoo. One last issue before release!
I still need to know what to do with direct X, though. I'll do the two maps in the meanwhile.

[2014-12-15 15:57] akien-mga opened #383 "Load user content from mUserDataPath"
I'm only realising it now because I hadn't tested it before, but it seems the Resource Manager does not check the user data directory (mUserDataPath, ~/.local/share/opendungeons on Linux) when loading game content.

Because of this, I can't edit a level or load a custom level placed in ~/.local/share/opendungeons/levels/skirmish. If OD is installed on the system, we _need_ this feature because we

[2014-12-15 15:59] akien-mga commented on #383
I would probably assign it to @Bertram25 and set the milestone to 0.4.9, but I don't want to force this on you just when we were expecting to release 0.4.9 RC1, so I'll let you decide :-)

We can still release the RC1 and get this issue fixed before the final release though.

[2014-12-15 16:00] akien-mga commented on #367
Ping @hwoarangmy, I know that he deactivated general email notifications :-)

[2014-12-15 16:13] hwoarangmy commented on #367
Well, I don't use DirectX so I don't mind about removing it ^^
Anyway, as @akien-mga pointed, I think we should focus on one renderer and OpenGL seems better as it is cross platform...

[2014-12-15 16:18] hwoarangmy commented on #382
Because we don't have servers like commercial games, one player has to be the server. Even if we disable console commands, he will always be able to cheat. Moreover, console commands might help us to debug (by asking a player who sees some tricky problem to dig a little bit more). That's why, IMHO, there is no need to disable them. If we want, we might want to send a chat message when a console co

[2014-12-15 16:28] Bertram25 commented on #382
I'd propose this:
Disable every console commands unless the developer mode is enabled either through the future options menu or by running ./opendungeons --dev for instance.

WDYT guys?

[2014-12-15 16:29] Bertram25 commented on #367
Ok, I'd like to get @oyvindln 's point of view, too, as he was the one wanting us to keep it AFAIK.

[2014-12-15 16:30] hwoarangmy commented on #9
Concerning shaders, you know better than me what to do and I will follow your judgement (and try your patch ;) )
Concerning DirectX, as I said in another thread, it can be removed IMHO if there are no regressions for anybody testing (ie @Bertram25 , @Danimal696 and me as I guess we are the only ones concerned)

[2014-12-15 20:04] Bertram25 commented on #383
Heya :)

I do think the problem can be split into two here. The game data path typo is a nice catch. I'll have a look and fix that one asap.

As for user content management, AFAIK we didn't implement that kind of feature, so the fact that you won't be able to edit custom levels with system-wide installation is less a bug than the lack of a feature.

I truly forgot about that so it's a nice reminde

[2014-12-15 20:24] Bertram25 commented on #383
Ah btw, about this:

This is IMHO wrong and true at the same time. OpenDungeons will use local data when finding them instead of the system data. So if you start od from the repo main folder, it will use the data in ./

I'll add a warning to make this less confusing. :)

[2014-12-15 20:30] Bertram25 commented on #383
Ok, this should be done now for the first part. :)

[2014-12-15 20:45] akien-mga commented on #383
Great :-)

For the second part of the issue, i.e. using the data from mUserDataPath, IMO the logic should be:
- Check for data in mUserDataPath, add it to the virtual filesystem (if it's indeed something like that that we are using, I'm not really familiar with boost::filesystem yet)
- Check for data in mGameDataPath, add it to the virtual filesystem. If a given file already exists in mUserDataPat

[2014-12-16 08:55] akien-mga commented on #22
The second point in the opening comment would be a great feature to have for 0.5.0, as it would let generate arbitrary sized levels easily (for now it seems to involve a lot of manual editing unless I'm mistaken).

BTW should we keep the "Map Editor" milestone? IMO it makes it a bit harder to keep track of the editor related features that we want for a given versioned milestone.

[2014-12-16 08:59] Bertram25 commented on #383
Hey,

I'm ok with the core logic. Now, to make this intuitive for the user, I'd propose this for the GUI:
Let's say one map is existing in two versions. A is the original one in the system game data or the data seen in the current dev folder, B is the user modified one.
How OD knows it's the same map? It has the same filename in the same game type folder (skirmish/multiplayer and later, campaign).

[2014-12-16 09:04] akien-mga commented on #22
Ok actually it's not too hard to edit the files manually, since you can just remove all tiles definition and only keep the map size to generate a template.

I'll upload a template file in the meantime, so that we have a file to copy paste when doing new maps.
I think it could be placed in levels/template.level, i.e. it will not show up in game, but players might still be able to find it to create

[2014-12-16 09:08] akien-mga commented on #383
Your proposal sounds great \o/

Just one question: will OD/Ogre/boost know how to handle files from two different absolute locations that have the same name without having them conflicting with each other?

This also brings up the question of whether the multiplayer mode will be able to handle it well: if one player hosts a server using a user-made map, will it work for clients that don't have the

[2014-12-16 09:09] Bertram25 commented on #22
I do think you're right. If everyone agrees, I'll turn this milestone into a tag and move all the issues to Later for now. If someone wants to add one of them, we'll do the usual issue milestone change. :)

[2014-12-16 09:10] Bertram25 commented on #22
@hwoarangmy @oyvindln Please have a look at my previous comment and tell me what you also think. :)

[2014-12-16 09:12] akien-mga commented on #22
+1

[2014-12-16 09:12] Bertram25 commented on #383
Fortunately, levels file names and paths are handled by boost::filesystem, which is, more or less, working with std::string as a result, so it's up to us to make sure they are differentiated in the implementation, but it's feasible and I'd even say usually common work. :)
EDIT: Before, we already used to list files using their stems (The filename without the path to it), while keeping in memory th

[2014-12-16 09:35] akien-mga commented on #383
Great :-) I'll pay a close attention to the correspond commits, I think at least part of it might be within my reach and a good example for learning.

[2014-12-16 13:17] hwoarangmy commented on #383
Seems good

I think it is a good way to handle this ^^

Well, as you say, we are far from there. It would some more communication (if we consider a 100x100 map with 20% gold/rocks, that would mean 500 tiles to transfer => 500 \* 2 \* 4 = 4kbytes). But it would solve this kind of problem. So, we will see if it is possible.
Anyway, if we don't do that, the server will have to allow the clients to do

[2014-12-16 13:19] hwoarangmy commented on #22
ok for me ^^

[2014-12-16 13:37] Bertram25 commented on #22
Ok, since we have a consensus, let's do it!

EDIT: Done.

[2014-12-17 16:50] tomluchowski commented on #382
Another varaint is that if player startys playing with the console the final score after the level is 0 -- that is he won't get to the "Hall of Fame" or  whatever you want to keep the highscores for ...

[2014-12-17 16:53] tomluchowski opened #385 "Segfault in Seat::notifyVisionOnTile"
Texture: Dirt_darkE.png: Loading 1 faces(PF_R8G8B8,256x256x1) with 8 hardware generated mipmaps from Image. Internal format is PF_X8R8G8B8,256x256x1.
Mesh: Loading Dirt_10001111.mesh.
Mesh: Loading Dirt_10000011.mesh.
Mesh: Loading Dirt_11111111.mesh.

Computing turn 1SERVER - Adding Creature Kobold1
SERVER - Adding Creature Kobold2
SERVER - Adding Creature Kobold3
signal 11 (Segmentation fault),

[2014-12-17 17:06] Bertram25 commented on #382
True as well, but I, for one, would prefer to prevent cheating rather than letting it happen with a minor drawback set afterwards.

[2014-12-17 17:13] Bertram25 commented on #385
The function is implemented here:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/game/Seat.cpp#L371

That's something funny as the function shouldn't be able to segfault at all even with flawed pointer values, unless mTilesWithVision iteration itself makes it crash.
By commenting one line after another, can you tell us which statement makes the game crash?

[2014-12-17 17:23] akien-mga commented on #382
That sounds good. @hwoarangmy has a point that console command are useful for debugging, so if they can be enabled by a switch in the command or in the options, it should be fine.

Thinking about Windows users who are rarely used to fiddling with command line, maybe we should wait that we have an options menu before we implement this switch?

[2014-12-17 17:45] Bertram25 commented on #382
IMHO, yes.

[2014-12-17 20:59] hwoarangmy commented on #385
I've already seen bugs like this happening when a vector is used (adding or removing items) while it is being iterated. But since Seats are specific to 1 gamemap only, I don't see how this can happen unless we let an entity from the server gamemap being rendered. And even if it was the case, mTilesWithVision is not the most used...

[2014-12-17 21:06] hwoarangmy commented on #385
I've just thought that it might be the Seat that is null.
@tomluchowski Thanks for reporting a bug. But when you do so, could you please also tell us a little bit of context ?
At least:
- The map you launched
- How much time elapsed when it happened (from the creature number, it seems to be at game start in this case)
- What were you doing when it happened before launching the game ? Were you in t

[2014-12-17 21:09] hwoarangmy commented on #385
I've had a look and seen no access outside the server thread to this vector. My guess is that it is Seat that is null.
Could you also confirm if the map you launched is original or have you changed something ?

[2014-12-17 21:46] Bertram25 commented on #385
Ah true. The seat being null could explain it all.

[2014-12-17 23:00] Bertram25 commented on #385
Let's give @tomluchowski a few days to answer unless one of us can reproduce.
Then, if the issue is the sole left, I'll move it to 0.5.0 as we shouldn't block the release for an issue we can't reproduce.

[2014-12-18 00:38] hwoarangmy commented on #385
I've reproduced the bug. It's systematic on BigTestMap and as expected because there is a tile claimed with a null seat. If we allow to have claimed tiles without seat, I will add a check in the tile vision computation. If not, I will change the level.

Concerning the release, it only impacts the PR I've done on seat vision so there should be no problem as it is not in the stable branch AFAIK.

[2014-12-18 10:49] Bertram25 commented on #385
But IMHO, it should be. The stable branch should contain the latest balancing changes + the few fixes we have done so far for the RC1.
Is it possible to "de-claim" a tile if the corresponding seat won't exist at load time? I just can't see why it would be useful anyway.

[2014-12-18 10:50] Bertram25 commented on #385
@hwoarangmy Btw, thanks for taking the time to get how to reproduce it. :)
It's always cool to know where some flaws are from, before a release.

[2014-12-18 12:49] hwoarangmy commented on #385
ok. I will try to post a fix asap then.

[2014-12-18 13:37] tomluchowski commented on #385
Hard to say , first it happens on all the maps in Single player ( skirmish ) mode .
I don't change the seat settings , I just accept the default settings ( seat id 1 -- player , always some seat inactive ... ) . Is it ever possible to change those settings ?
EDIT : this happens on i386, hard to say the other machine, I got ISP issues....

[2014-12-18 13:47] tomluchowski commented on #385
Hm there is at least one map which works fine in here .
Also one cannot click the button 'Back'  button after having the map choosen -- the game crashes :
http://pastebin.com/nfPJwhs3

[2014-12-18 13:57] akien-mga commented on #385
I confirm that such glitches happen from time to time, in my case systematically after you've loaded and close several maps several times (or one map several times, or several maps one time... :-P), usually quickly after each other (i.e. when doing quick tests).

I guess some things are not cleaned properly when closing a map, or when closing it while it's still loading content.

[2014-12-18 14:03] Bertram25 commented on #385
Nice catch. I guess this is a separate issue slightly less urgent to fix. I'd open an issue for 0.5.0 if you're ok with it.

[2014-12-18 15:33] Bertram25 commented on #170
An interesting read about Ogre 2.0 regarding the current state of the culling management:
http://www.ogre3d.org/forums/viewtopic.php?f=25&t=82178

IMHO, what is reassuring is that the culling management in Ogre 2.0 seems already way better than in 1.x with still some place for improvement of course.

[2014-12-18 16:24] Bertram25 opened #386 "Random game crash when selecting the back button after choosing a map."
From @tomluchowski

From @akien-mga

[2014-12-18 16:25] Bertram25 commented on #385
Created #386

[2014-12-18 18:01] #385 closed, assigned to hwoarangmy

[2014-12-19 10:47] akien-mga commented on #9
And... 0.4.9 milestone is achieved :-)

[2014-12-19 10:50] akien-mga commented on #367
Fixed by 85e649e, f25f18ed and 1884301.

[2014-12-19 10:50] #367 closed, assigned to Bertram25

[2014-12-19 11:17] Bertram25 commented on #9
\O/ I'll merge dev into stable and create a '0.4.9' tag there.
Note to self: Push also to gitorious.org

I'll create a release on github.com and will have a go at doing a win32 zip as well. :)
Once all that is done, it will be time to do some news!! :D

[2014-12-19 11:29] Bertram25 opened #389 "Should we keep The DirectX renderer/HLSL shaders? If so, why?"
Everything is in the title! :)

[2014-12-19 12:12] Danimal696 commented on #9
About time!

[2014-12-19 12:53] Bertram25 opened #390 "Check the portal animations"
@Danimal696 reported that the portal animation wasn't done properly some time ago, and it seems the 'Triggered' animation isn't used.
(TODO: try to find the link back to the original discussion.)

[2014-12-19 13:31] oyvindln commented on #389
On windows, OpenGL can sometimes not work to well with certain driver/card combinations (default drivers, or intel graphics), so I think we should keep them as long as we aren't doing any custom shaders, or other stuff that means having to do extra work to support both systems.

[2014-12-19 14:02] Danimal696 commented on #390
i tried, but is hard; for the record, new portal has the "Idle" and "Triggered" animations

[2014-12-19 15:43] hwoarangmy commented on #383
FYI, to make a server side FOW, I've tried to load the map on server side only and send the needed to the clients and it seems ok (I feel it doesn't take much more time to load). So, the problems you were pointing out might be gone ^^ We will see.

[2014-12-19 20:17] Bertram25 commented on #383
Woohoo :)

[2014-12-19 20:30] Bertram25 commented on #389
Well, I don't mind as long as we're not starting to use compositing. :)

WDYT guys? @akien-mga @hwoarangmy

[2014-12-19 20:31] Bertram25 commented on #390
oh? I was thinking the bug was on the code side?

[2014-12-19 20:58] Danimal696 commented on #390
yes, you told me the code used "idle" as "trigerred" and then stopped animation

[2014-12-19 21:01] Danimal696 commented on #390
found it, its at he end:
https://github.com/OpenDungeons/OpenDungeons/issues/323

[2014-12-19 21:36] Bertram25 commented on #390
Thanks :D I was able to fix IMHO.

[2014-12-19 21:41] Bertram25 commented on #9
RC1 Snapshot out! :)
I'll add the link to the Win32 binary tomorrow. Need some sleep. ;)

[2014-12-19 23:53] hwoarangmy commented on #389
I think what @oyvindln said is pretty relevant: as far as we don't have any specific stuff to do, I see no problem with supporting both.

[2014-12-20 08:06] Bertram25 commented on #389
Ok, I'll reenable the D3D renderer for windows as before. :)

[2014-12-20 10:19] Bertram25 commented on #9
Once my PR is in, I'll redo the RC1 tag as the fixes are simple yet nice enough to be part of it.

[2014-12-20 13:49] akien-mga commented on #9
@Bertram25 Elvano has set us both as "Developer+" on the sourceforge project so that we can manage the Files section. So feel free to upload your Windows binary there once it's ready.

[2014-12-20 15:26] Danimal696 commented on #9
and while you are at it, please update the pic and the video

[2014-12-20 15:29] akien-mga commented on #9
Which video should be used? The boring one I posted on http://forum.freegamedev.net/viewtopic.php?f=36&t=6050 ? :-)

[2014-12-20 17:13] oyvindln commented on #379
@akien-mga Nei. Jeg er Norsk. Svenskmand er dansk dog.

[2014-12-20 18:46] Danimal696 commented on #9
any is better than the 3 years old one

[2014-12-20 21:05] hwoarangmy commented on #9
Why don't you cut the boring parts ?

[2014-12-20 23:28] akien-mga commented on #9
Because I'm not good with video editing ;-) I just meant "boring" as "watching Akien play against the IA for 15 minutes is not the most entertaining". We need a real trailer with a good pace, max 3 min or so.

[2014-12-22 21:32] #390 closed, assigned to Bertram25

[2014-12-22 21:40] akien-mga commented on #389
Not closed yet since @Bertram25 re-removed the D3D renderer :-)
I think we can keep this issue as a "if someone wants to reimplement the D3D renderer and make it work, feel free".

[2014-12-22 22:10] Bertram25 commented on #389
Well, I do think that we should only open issues about features we're, as a team, ready to add. If @oyvindln wants to add D3D renderer support back, I'll let him open an issue or better, a PR, but I don't think anyone else will want to do it. Thus, I'll ask to close this issue for now, if you don't actually mind, of course.

[2014-12-22 22:44] Bertram25 opened #393 "Keeper / Hero voices support"
Pre-requisite: #3

Being able to select the Keeper/Hero voice when playing in game should be added.
Then, in game, according to the events, voice cast should be used to bring some mood to the game.

Wav/oggs can be found here: (Thanks to eugeneloza)
http://forum.freegamedev.net/viewtopic.php?p=61638#p61638

[2014-12-22 22:49] Bertram25 commented on #9
For now, I'd say let's upload this one. I wonder whether qubodup would agree making one for us once the release is publicly out? He's usually good at that.
Ah and ChemBroTron made a very good video for VT. Maybe he'll agree to do one for OD?
http://www.youtube.com/channel/UCDs0Jp8WYKMcPvVcHcYuPsA

[2014-12-22 22:52] akien-mga commented on #389
Sounds good. So closing the issue as a "Not for now" answer to the initial question :-)

[2014-12-22 22:52] #389 closed, assigned to Bertram25

[2014-12-22 22:52] hwoarangmy commented on #389
Yep, I agree with @Bertram25. We should only open issues on what we are doing or what we want to do.
If someone wants to implement something else, there is no problem. The best would be to discuss about it to make sure it is not rejected. In any case, he can always create a PR and it will be discussed.
AFAIK, nobody, even @oyvindln does want to work on that so we should better close it.

EDIT : @a

[2014-12-22 23:25] akien-mga commented on #379
@oyvindln How misleading of Svenskmand to be a Dane :-P
Congrats to your feminine handball team for winning the Euro cup yesterday ;-)

[2014-12-23 22:05] ljdarj commented on #379
I don't remember having ever contributed to this project but I saw @MCMic mentioned in this conversation and I'm one of his friends so I might have got there that way. Given that I don't remember what could I have done, no need to add me to anything.

[2014-12-26 16:02] hwoarangmy opened #395 "When a claimed tile is claimed by an ennemy, it should become dirt before getting claimed again"
or it should at least be claimed without seat

[2014-12-26 16:05] hwoarangmy opened #396 "Creature vision is not well computed"
On corridors, they see only at 1 tile distance.
Moreover, when we display visual debug, we can see that sometimes, they see behind tiles with fullness > 0.

[2014-12-27 13:40] akien-mga commented on #395
So basically one would have to first unclaim tiles before they can be claimed again. That sounds sensible.

[2014-12-27 18:18] hwoarangmy commented on #395
Yes. In reality, that's already what is happening ATM. But the bug is that the tile is displayed claimed for the original seat until it is claimed by the new one. That means that if the kobold stops claiming just before finishing, the first player will have a tile displayed with his color where he cannot drop creatures and that his kobolds will try to claim.

[2014-12-27 23:26] Bertram25 commented on #395
Yeah, I confirm the bug. It can be seen especially when you're stealing enemy's tiles and defending your kobolds with fighters. As there a lot of fleeing and back and forth, the bug is more often seen.

[2014-12-28 13:23] akien-mga opened #397 "Ingame menu tooltip prevents from selecting a room/trap/creature"
When you hover over an icon of the ingame menu, the tooltip displays after a short while. If you click on the icon while the tooltip is on, it will discard the tooltip, but it won't count as a click on the icon.

I find that it happens quite often to me, that I click on an icon, try to place a room, and nothing happens, because there was a tooltip when I clicked the icon.

[2014-12-28 13:27] #295 closed, assigned to hwoarangmy

[2014-12-28 13:52] Bertram25 commented on #397
Yep, I've started a discussion about this on CEGUI but it seems we have time understanding each other there. What I'll need to do next is provide a video about this issue.

[2014-12-28 14:38] Danimal696 commented on #295
really nice patch, i cant wait to see the fow working ;)

[2014-12-28 14:39] akien-mga opened #398 "std::bad_alloc segfault"
I got a segfault after ~1h20 in a map (I had played ~30 minutes, then let the game go on to see what the AI would achieve), i.e. 5831 turns.

Here's the tail of my log:

[code]

There is not much significant there, I'll try to let the game run with gdb to see if I can reproduce and get more info.

This was with #394, but I can't say if it's related to it or not (I rarely let the game run so long).

[2014-12-28 15:14] akien-mga opened #399 "Fetched gold stacks are displayed with a +2,+2 offset"
When fetching a gold stack (at least a stack that was left on the ground because there was no available treasury tile), the gold stack is displayed two tiles to the east and to the north of the kobold that fetches it, as shown on those screenshots:

![od-gold](https://cloud.githubusercontent.com/assets/4701338/5564147/58fe39b2-8eac-11e4-9399-a66c6048d3d2.jpg)
![od-gold1](https://cloud.githubuserco

[2014-12-28 17:06] akien-mga opened #400 "Engine config files should not be installed in the data path on Linux"
Currently we install user config files (plugins.cfg and resources.cfg) in the OD_DATA_PATH, e.g. `/usr/share/games/opendungeons` on Mageia and Debian.

I just met an issue that this situation creates: plugins.cfg hardcodes the path to the OGRE plugin dir (on Mageia, it's `/usr/lib/OGRE` on 32bit and `/usr/lib64/OGRE` on 64bit). Data in /usr/share is normally arch-independent and for Mageia I packa

[2014-12-28 17:54] Bertram25 commented on #399
I confirm the issue for everything carried, btw : corpses, traps, ...

[2014-12-28 18:56] Bertram25 commented on #9
As the news draft is ready and all that's lacking a website back online, I'll close this issue as I consider the 0.4.9 version ready. If any blocking fixes are to be added, we'll do a 0.4.10. :)

[2014-12-28 18:56] #9 closed, assigned to nobody

[2014-12-28 18:58] Bertram25 commented on #398
I added the Question tag as some @akien-mga spoke about making a bt.
EDIt: I'll let a game run with gdb as well.

[2014-12-28 19:06] Bertram25 commented on #400
OpenDungeons starts if I add a second PluginFolder=... line in the plugin.cfg file.
What happens if you bundle a file with both arch lines there?

[2014-12-28 19:07] Bertram25 commented on #400
Arf, nevermind, it only takes in account the first line read.

[2014-12-28 19:10] Bertram25 commented on #400
And , what if the plugin.cfg file is part of the game package (as opposed to the data package?)

[2014-12-28 19:19] akien-mga commented on #400
That works and that's what I did for Mageia. But that's a bad practice, and I can already foresee that packagers from other distros will do the same mistake as I did. So there is no urgency, but it would be best to implement one of the two solutions above, normally there should not be arch-dependent stuff in `/usr/share`.

[2014-12-28 19:20] akien-mga commented on #400
And `/etc` is meant for system-wide config, so it would make sense to use it. Of course that's yet another non-centralised thing that we need to take into account different for Linux system-wide and for Windows...

[2014-12-28 19:32] Danimal696 commented on #399
Same here

[2014-12-28 19:36] Bertram25 commented on #400
ok, then I'll handle the change to look into /etc/opendungeons for the plugin.cfg file. This looks like the sanest change.

Just for info, as far as I have looked, the ember project for instance is even hardcoding the pluginFolder path within the app code using this:
http://anonscm.debian.org/cgit/pkg-games/ember.git/tree/configure
(Line 18862)

[code]

I must say I still don't know whether it's a

[2014-12-28 19:37] Bertram25 commented on #400
I'd propose to add a plugin data path option in cmake. What do you think?

[2014-12-28 19:46] akien-mga commented on #400
It's already the case: https://github.com/OpenDungeons/OpenDungeons/blob/development/CMakeLists.txt#L523-L553
Basically if you can use OGRE_PLUGIN_DIR directly in the code instead of relying on plugins.cfg, then it's all set. The current CMake script already finds the correct plugin path based on pkg-config and stores it in OGRE_PLUGIN_DIR_REL, which is used to initialize plugins.cfg.

[2014-12-28 20:13] Bertram25 commented on #400
And I guess /etc/opendungeons/plugin.cfg file would be part of the arch-dependent binary package?
If yes, should we name the plugin files dependently on the arch used to avoid multiarch conflicts?

[2014-12-28 20:20] Bertram25 commented on #400
Arf, no. When I was speaking of the plugin data path, I meant the plugin.cfg file data path. And it's not done in the CMake file yet.

Those two questions remain, though.

[2014-12-28 20:41] akien-mga commented on #400
Ah ok, I thought you were building upon the ember example (where they seem to hardcode the plugin dir in the code instead of relying on a plugins.cfg file).

/etc/opendungeons/plugin.cfg would be part of the arch-dependent binary package yes, i.e. the "opendungeons" package on most distros I suppose. I don't think we need to give it an arch-dependent name though, the 32bit opendungeons package wou

[2014-12-28 21:19] Bertram25 commented on #400
ok :)

[2014-12-28 23:02] hwoarangmy opened #401 "Game is slow on multiplayer for more than 150x150 tiles maps"
Time is lost on:
In unsigned long int GameMap::doMiscUpkeep():
==> getTile(ii,jj)->computeVisibleTiles();

And in void Seat::sendVisibleTiles():
 while checking difference between mTilesWithVisionLast and mTilesWithVision

[2014-12-28 23:05] hwoarangmy opened #402 "Chat is broken since PR implementing FOW"
Chat messages are not displayed on the other clients than the one sending message

[2014-12-28 23:41] Bertram25 commented on #401
This is it. i remember what it was and how we fixed it. (It was a some old version of TMW, for the record).
mTileswithVision and TileWithVisionLast could each be turned into int***, read: a pointer of a two-dimensional array or integers.
When a seat has vision on one tile the turn number is set on the tile X,Y position of the array.
Each turns, the arrays are swapped.
Then when look for what chang

[2014-12-29 08:34] hwoarangmy commented on #397
That explains why I sometimes had problems grabing units using the button...

[2014-12-29 09:37] hwoarangmy commented on #401
I had more or less the same kind of idea. I was thinking about adding a vector(vector(bool)) with the number of tiles (will be memory consuming but same as what you propose).
Then, it would be easy to check if we already have vision on a tile. Moreover, we could also use a
vector(vector(std::pair(bool,bool))) the first bool being the vision last turn and the second one the vision for this turn. Th

[2014-12-29 09:44] hwoarangmy commented on #398
FYI, I've already let a game run for much more time (something like 4 hours on greed or might) - with gdb and did not see any problem. So, that may not be related to the time a game is lasting but to something that happened during the game.
From what I've seen, bad_alloc happens when you have no more memory available. We might also have a look at memory usage to check if we don't have too many lea

[2014-12-29 10:12] akien-mga commented on #398
Yes I've run the game 1h30 with gdb and had no issue. When the game segfaulted previously, I had left the laptop idle for 30min or so, so I wasn't doing much that used a lot of memory. But maybe the AI uses more and more memory when all creatures can't find a sensible thing to do?

[2014-12-29 15:13] hwoarangmy opened #403 "Assert fails when a kobold carries something"
As can be seen in the logs posted by @akien-mga
http://pastebin.com/Epd9rsmk

[2014-12-29 17:48] hwoarangmy opened #404 "Replay menu cannot launch a replay since PR implementing FOW"

[2014-12-29 20:18] Bertram25 commented on #398
For the record, this issue might be hidden by #403 btw.

[2014-12-29 20:22] Bertram25 commented on #397
We've been speaking about this and Nyast provided some good info:
http://cegui.org.uk/forum/viewtopic.php?p=33002#p33002

This is a CEGUI bug: http://cegui.org.uk/mantis/view.php?id=1058
I'll give help there if I can.

[2014-12-29 20:23] Bertram25 commented on #397
Setting to Later as the bug belongs and thus depends on upstream.

[2014-12-29 20:25] Bertram25 commented on #397
Btw, this bug only happens when you 'hide' the cegui mouse cursor and use the OS one. I wonder whether you would agree to use some cegui custom cursor to workaround this bug?

[2014-12-29 20:32] Bertram25 commented on #401
This is also a relevant way to use the same concept. The vector memory overhead shouldn't  be problematic anyway, and if you reserve the vector memory (or even fill it with false at map load time), memory allocation shouldn't be problematic. So yes, it's viable, IMHO. :)

[2014-12-29 20:52] hwoarangmy commented on #398
I've looked (and fixed) #403 . It is due to setting the carried entity too early (and thus, trying to remove it before it has been created). But there should be no segfault because of it.

[2014-12-29 20:54] hwoarangmy commented on #397
I've had a look when integrating the keeper hand at how to display an animated mesh as CEGUI cursor but I couldn't make it work. If you find a way, I think it would be really nice to have the keeper hand as a cursor in every screen instead of a mesh in the game mode only

[2014-12-29 21:22] Bertram25 commented on #398
Cool :)

[2014-12-30 10:55] #395 closed, assigned to hwoarangmy

[2014-12-30 10:55] #399 closed, assigned to hwoarangmy

[2014-12-30 10:55] #401 closed, assigned to hwoarangmy

[2014-12-30 10:55] #402 closed, assigned to hwoarangmy

[2014-12-30 10:55] #403 closed, assigned to hwoarangmy

[2014-12-30 10:55] #404 closed, assigned to hwoarangmy

[2014-12-30 10:57] Bertram25 commented on #398
Probably fixed by https://github.com/OpenDungeons/OpenDungeons/commit/6f2b8f3488bd2f06779cadfc4630db94854313a0 as reported by @hwoarangmy
Please, reopen or open a new issue if some bad allocation error happens again. :)

[2014-12-30 10:57] #398 closed, assigned to hwoarangmy

[2014-12-30 11:00] Bertram25 commented on #374
Closing the issue as it seems a duplicate of the options gui menu, and this seems more a hack than anything else.
For the record, it was decided that AS will be used mostly for in game scripting and much less for console commands if we can avoid it.
We'll probably add some command to call an AS function but that's a later story.

[2014-12-30 11:00] #374 closed, assigned to nobody

[2014-12-30 11:03] Bertram25 commented on #366
If both you and @oyvindln are right, then there is a funny behaviour regression here. I'll have a look sooner or later.

[2014-12-30 11:09] Bertram25 commented on #323
To move on with this issue, the only thing left to do is remove the ground tiles for portals.

[2014-12-30 12:01] Bertram25 opened #406 "Add a checkbox on the quit window, to optionally disable the replay creation."
The check will be unchecked by default, to avoid creating multiple replays without the user leave.

[2014-12-30 12:03] Bertram25 opened #407 "Kobold carriers: Make dug gold be carried item as traps and corpses, gold on claimed tiles."
Gold stacks should be carried items also when digging gold.
This will be visually more appealing and make it clear why a kobold stops digging and goes back to the treasury.

Are you ok with this feature request, guys?

[2014-12-30 12:21] Bertram25 commented on #323
Ah btw, the issue isn't that trivial because rooms don't follow the shouldDisplayGroundTile() policy.

[2014-12-30 12:33] Danimal696 commented on #407
i guess its good, since you can kill the kobold and get the gold, while otherwise it just dissapear on death

[2014-12-30 12:39] Danimal696 commented on #323
what about using a dummy (empty) floor tile file?

[2014-12-30 12:48] hwoarangmy commented on #407
Gold stacks are already carried when the kobolds wants to. But the priority is probably too low, and, thus, they usually don't do that until they have nothing else to do.

[2014-12-30 12:49] Bertram25 commented on #323
No, it's something we'll fix within the code, don't worry. :)

[2014-12-30 12:50] Bertram25 commented on #407
@hwoarangmy Yes, but here, I'm speaking of the gold they carry after digging some gold tiles. It isn't shown at all, in fact.

[2014-12-30 12:58] hwoarangmy commented on #323
No, it will be even worst to use an empty tile as floor tile because until now, room tiles are not colored (and thus, portal tiles would not be colored).
I've just seen that shouldDisplayGroundTile is not used anymore. Only in the renderer but because the clients are not notified for buildings, it will never be of use.
Instead, the logic has been to use shouldDisplayBuildingTile. If true, the buil

[2014-12-30 13:18] Bertram25 commented on #323
Ok, cool. Seems I chose the wrong override, then. I'll test it.

IMO, this is right way to use that, so if you need a decision, I say we can on with this as I can't see anything hurting in doing it that way. :)

[2014-12-30 13:21] Bertram25 commented on #407
Good point. I think gold shouldn't disappear. Adds some strategy. :>

[2014-12-30 13:41] hwoarangmy commented on #407
Sorry, i didn't understand ^^
But in this case, we should take care. What about fighters carrying gold ? Will they bring a stack ? Do we want a different behaviour ? In any case, we can always create a gold stack when a kobold carrying gold dies.

[2014-12-30 13:52] hwoarangmy opened #408 "Implement trap logic"
Here is what was decided so far:
- When a trap is built, only the player creating it (and his allies) should see it.
- Once a trap has triggered, it becomes visible to the ennemy teams that had vision on the tile.
- Fighters should not engage attackable traps that are not visible for their owning player.
- Traps should not be visible for ennemy players until a crafted trap has activated them. Howe

[2014-12-30 13:53] hwoarangmy commented on #323
I've created #408 because we are getting too far from this issue (and I believe that this discussion will be interesting for later reference).

[2014-12-30 14:07] Bertram25 commented on #323
Well done. We never know when we'll come back at all this.

[2014-12-30 14:11] Bertram25 commented on #407
IMO, Fighters carried stuff (be it special objects, or gold) should appear only on death, as suggested in #34
For workers on the other hand, and as one of their primary use is to carry things, I would show it and possibly use a common logic for that. Visually, it would more appealing, again, IMO.

[2014-12-30 14:16] hwoarangmy commented on #407
Well that could easily be done by creating a gold stack as a worker digs gold and raising carry task priority (at least for gold).

[2014-12-30 18:28] Danimal696 commented on #407
im feeling that in the future we will add the dreadful payday -_-,

[2014-12-30 18:35] Danimal696 commented on #408
Yes, its not nice that something that doesnt even exist yet, just on planes, is destroyed for good. Getting that tile claimed by enemy team would be exception, since it destrpys the blueprint over it

I would prefer that they go transparent waiting for a new one to be forged and mounted on the same place, it saves having to do it manually each time

No, let it be a surprise the first time its enco

[2014-12-30 20:58] hwoarangmy commented on #408
Sorry, my sentence was not clear. I meant for ennemy players. Should they see the trap as it was ready to trigger when deactivated ? Or should it disappear ?

[2014-12-30 21:01] hwoarangmy commented on #407
It's a must have to make gold needed. I would say that it is currently the biggest problem in the game. Actually, ATM, the AI just stops working when it gots enough gold. And because it doesn't spend anything after that, it just does nothing (until we implement spells and they start to attack ^^)

[2014-12-30 21:28] #170 closed, assigned to Bertram25

[2014-12-30 21:28] #323 closed, assigned to Bertram25

[2014-12-30 21:28] #337 closed, assigned to Bertram25

[2014-12-30 21:28] #91 closed, assigned to nobody

[2014-12-31 01:14] Danimal696 commented on #408
i think they should see it as desactivated (transparent), it will help a lot on 1 player levels and hurry they up to attack your weakened defenses :D

[2014-12-31 07:38] Bertram25 commented on #408
As for cannon, I guess they won't stay hidden for a long time though, as they'd appear once shooting anyway. So the overall logic is fine, IMHO.

[2014-12-31 08:05] Bertram25 commented on #309
Closing as superseded by #382

[2014-12-31 08:05] #309 closed, assigned to nobody

[2014-12-31 08:09] Bertram25 commented on #397
Closed by https://github.com/OpenDungeons/OpenDungeons/commit/712ccab32e2aa03f990729062c71f980c25edbb9

As for displaying the keeper hand above the CEGUI layer, we'll have to disable automatic rendering in CEGUI, add 3 separate rendering queues in Ogre and setup rendering in all those three layers.
But I've read there are problem with the z-buffer in that case, so it will be a longer term goal and

[2014-12-31 08:09] #397 closed, assigned to Bertram25

[2014-12-31 09:30] hwoarangmy commented on #408
I've updated the main text. Moreover, I've added:
- A trap becomes visible for an ennemy when it triggers while he has got vision.

That means that if you play FFA and an ennemy triggers a trap from someone else while you got vision, you will see the trap. Moreover, if a trap (like cannon) shoots while you don't have vision, you won't see it until you are closer.
Are you ok with this ?

[2014-12-31 09:37] Danimal696 commented on #408
its a good addition

[2014-12-31 10:17] hwoarangmy commented on #408
That would also make usefull a spell that would reduce creature vision ^^

[2014-12-31 11:51] Bertram25 commented on #408
lol :)

[2014-12-31 15:02] hwoarangmy opened #411 "Research and spells"
I've just had a thought concerning spells. In #34, we said that some creatures could drop spells (which is, IMHO, a good thing).
Then, we could imagine that when we do a research in the library, when a spell is found, a spell item is created and the spell cannot be used. It has to be carried by a kobold to the dungeon temple to become available.
We could also imagine that when you kill a dungeon t

[2015-01-01 12:56] oyvindln commented on #389
I tested the previous snapshot on a computer with an NVidia last week, and the D3D9 renderer worked, though the minimap looked wrong. (Which may indicate that there is something wrong with it.) D3D11 renderer complained about missing shaders, D3D10 was missing so I haven't tested it.

[2015-01-01 14:31] Danimal696 commented on #411
Safer than the library, not a bad idea. But the spell should be researcheable even if dropped, we can think of it like you have been lucky and skip that research or you got a spell you wont be able to research because of your campaign advancement

[2015-01-01 19:54] tomluchowski opened #412 "Mouse-controlled camera rotation"
Hello , do you wish to have some of Autoscroll and autorotate ; or the keyboard scrolling is going to stay forever ? Does the

would help to have correct margins set ?

[2015-01-01 20:13] hwoarangmy commented on #412
Well, I guess a user friendly autoscroll is always welcome. Concerning your quote, it is about using a margin for tooltips. But it may have something to do with what you have in mind.

[2015-01-01 20:16] tomluchowski opened #413 "Various test configurations"
As in title , how do you imgainge having various game configuartions to be tested , shared and debugged without the console and external configuration files ... ?
Why do you believe that having GUI in game is better than plain old files ?
For example , you Bertram once complained about various speed and acceleration of scrolling , and this is a perfect example how auto - starting script executing

[2015-01-01 21:38] hwoarangmy commented on #413
For now, nothing coexists since AFAIK, AS do not work at all. I don't want to talk for @Bertram25 but I think he will agree with the fact that half finished stuff (that we have to maintain when we change something in the API or in the general logic) isn't worth keeping if nobody is working on it (or willing to deal with it in the next futur). Moreover, the stuff that has been removed is not lost.

[2015-01-01 23:13] akien-mga commented on #398
I'm not sure @hwoarangmy meant that the issue in #403 would potentially cause a bad_alloc segfault (especially since when it happened on my system the AI was hidden behind its claimed walls I had claimed most of the remaining tiles, so kobolds probably weren't carrying too much stuff).

But this bad_alloc segfault is quite hard to reproduce, I'll reopen the bug if I encounter it again.

[2015-01-01 23:15] akien-mga commented on #406
Personally I would prefer an opt-out box to _enable_ replay creation, i.e.:
- [x] Save the game's replay

_Edit:_ On a second thought I don't care that much, both variants would be fine :-)

[2015-01-01 23:19] akien-mga commented on #406
Actually re-reading the first comment, I think you mean to have an opt-in checkbox (i.e. unchecked) to _enable_ replay creation (and not to _disable_ it as said in the title), so:
- [ ] Save the game's replay

That would be best IMO: you only save the replay if it is worth it. Maybe the replay should be automatically saved too when the game crashes though, so that would mean that the replay is alw

[2015-01-01 23:27] akien-mga commented on #412
I can visualise the autoscroll (you move the mouse to the sides of the screen and it moves the map), but how would autorotate work?

I'm favourable to implementing the autoscroll though, maybe with a setting to enable/disable it in the options menu (probably enabled by default).

[2015-01-02 00:12] hwoarangmy commented on #406
In any case, keeping the replay in the memory until the user chooses to save it would be memory consuming for a side feature. The easiest is, as you say, to write it on the hdd and erase it if the player chooses not to keep it. Moreover, that would solve the "game crash replay lost problem" ^^

[2015-01-02 10:01] Bertram25 commented on #406
Yeah, keeping something ever-growing in memory isn't a good idea, IMO, anyway.

[2015-01-02 10:07] Bertram25 commented on #412
Just as a warning notice, the last time, @tomluchowski removed the keyboard movement and added a (unfortunately somewhat buggy) autoscroll feature, which is why I removed it in the first place.

So as a first point, adding the auto scroll or not, the keyboard movement shall stay, I, for one, couldn't play without it.

Secondly, it is all a question of taste, but auto-scroll when moving the cursor

[2015-01-02 10:43] Bertram25 commented on #413
Well, I do think @hwoarangmy really exposed well the reasoning behind what we do, how we do it or don't, and in what order.

I'll add some of my comments, of course ;)

Well, @tomluchowski , first define "various game configurations". Because a game configuration is IMO either just a config entry in which case you test all the possibilities and you're done with it or add options for the different

[2015-01-02 10:43] #413 closed, assigned to nobody

[2015-01-02 14:37] tomluchowski commented on #412
AFAIR keyboard movement was left.
Tough there are some nasty bugs when setting the

"paramList.insert(std::make_pair(std::string("x11_mouse_grab"), std::string("true")));"

This seems to be necessary to have force the mouse pointer to reach 0 when on max to the left and window.width when max to the right ...
EDIT : sorry my issues were : the window didn;'t got autofocus due to my window manager se

[2015-01-03 11:41] oyvindln opened #415 "OD_LINUX_NO_KEYBOARD_GRAB default value"
This is currently on by default, but having it on makes the keyboard not work at all in the game on my system. Unless the issue of having it off by default on other systems is larger than this, I think it should be off by default, as someone compiling the game for the first time on the wrong system without checking it out will be unable to play. I think that is more serious than the annoyance of h

[2015-01-03 12:32] akien-mga commented on #415
Since there are already two of us with this issue (@oyvindln and @tomluchowski), I guess we should indeed set the default to OFF.

I know that @tomluchowski is on openSUSE, but which distro are you using @oyvindln? It's a bit puzzling that it works great on Debian and Mageia but not on openSUSE. I'll compare Mageia's and openSUSE's OIS package to see if I can find something.

[2015-01-03 12:35] akien-mga commented on #415
There aren't many differences between openSUSE's and Mageia's OIS package it seems:
- https://svnweb.mageia.org/packages/cauldron/ois/current/SPECS/ois.spec?view=markup
- https://build.opensuse.org/package/view_file/home:openSUSE_user1/ois/ois.spec

[2015-01-03 13:09] oyvindln commented on #415
I am on Ubuntu 14.10

[2015-01-03 14:04] tomluchowski commented on #412
The camera movement is realized by quite complicated function , then you are saying mine scroll is too fast or to awkward , indeed calibrating it would require time, does anyone understands what's going in the code below ? Maybe we should rewrite that function from scratch ....
BTW:
How does one paste the code in here ?
http://pastebin.com/NhTT55GT

[2015-01-04 14:20] tomluchowski commented on #412
I have restored what I've got to restore, people who hasn't tried it yet please try it.
Now to rotate the camera you can also : click the LMB on the screen  and drag cursor ( with LMB pressed ) along the nearest screen edge ...
 After reading the code I now got what Bertram meant that it interfers with creature Drag and drop .... maybe someone have suggestions ...

[2015-01-05 10:04] Bertram25 commented on #412
Hey @tomluchowski :) And Happy New Year, btw.

I really don't know. I guess the actual need would then be to dynamically grab mouse input when in fullscreen mode in X11, right?

Anyway, changing OD code to counter your window manager settings isn't the way to go as you explicitely told your system not to give the focus to an app. So no wonder it does exactly what's told, right?

Also, we've added

[2015-01-05 10:15] Bertram25 commented on #415
@oyvindln This is a funny issue, isn't it?
I also wondered whether the desktop environement/login manager may be linked to that problem.

I'm using KDE/KDM on Debian. What are you using on Ubuntu?

[2015-01-05 10:15] akien-mga commented on #412
@tomluchowski has pushed his work on his own fork: https://github.com/tomluchowski/OpenDungeons

I just tested it, basically:
- Mouse scrolling works fine, the added functionality doesn't seem to impact the keyboard scrolling.
- The scrolling is too fast, it's hard to adjust over your base with it IMO. I would reduce the speed at least by a factor 2.
- I'm not convinced about the camera rotation w

[2015-01-05 10:20] akien-mga commented on #415
@tomluchowski said his input and focus issues were linked to his window manager, I think that's likely to be the issue.

I'm also using KDE/KDM and KWin as WM, with the default configuration for window focus (i.e. a window as focus until I click on another window).

[2015-01-05 10:24] Bertram25 commented on #411
Yeah, I like the concept. :) Plus, it is aligning the library way to work with the forge.

It's also an appealing idea, IMHO. This way, you have a direct bonus when destroying an opponent. :)

What do you think? @akien-mga @oyvindln @tomluchowski

[2015-01-05 10:28] Bertram25 commented on #412
As for me, I can't get why using simple keys Q and E on a US keyboard as it is now doesn't suffice to rotate the screen.
It is as if @tomluchowski was playing OD with only one hand and it doesn't make sense to me.

[2015-01-05 10:52] tomluchowski commented on #412
Actually one of the Peter's Molenoux games -- Black and White set and achieved very ambitious goal of having the game bbeing controlled only by mouse ( without the icons BTW !!!! ) and after some litllte learing it turned out to be very handful and nice for me for that example ....
I can type quite fast , though I am not notorious gamer I am not just used to play both hands ( and being an shorcut

[2015-01-05 11:37] oyvindln commented on #415
I am on XFCE, using standard click to focus.

[2015-01-05 12:27] Danimal696 commented on #411
Me like

[2015-01-05 12:39] hwoarangmy commented on #412
Or he may be preparing an Android version ^^
Anyway, if it works, it may be interesting for people who want to play with mouse only. We just have to disable it until we have the option menu.

[2015-01-05 12:44] hwoarangmy commented on #411
Yes. Of course, that's the same if we choose to use the library only (ie if an enemy drops a spell, we will need to bring it to the library). But I guess most of the times, we will need to research to have a new spell and, thus, we won't see our kobolds carry the spells.
The bad point is that if we do as I said, the library won't get full after a while and we won't need a big library...

[2015-01-05 12:54] Bertram25 commented on #412
@tomluchowski
Ok, this is making more sense now. This is definitely not something standard but I understand better the will to add this. The need of an option menu is ever growing IMHO. I definitely need to tackle that one down. ;)

@hwoarangmy

Eh eh. This is a fair point, but I do think the Android version will need another type of input. That said, there is no reason not to add it, especially i

[2015-01-05 13:00] akien-mga commented on #9
@Bertram25 Do you know whether the current Win32 snapshot for 0.4.9 RC1 is the one to use for 0.4.9 final? The only commit that might be lacking in it would be 000453e50 (I'm not sure whether it's in or not, it probably depends on whether you made the binary from your branch or from the 0.4 branch).

I'll update the source tarball with the latest 0.4 branch too.

Elvano has posted the release anno

[2015-01-05 13:02] akien-mga commented on #9
Actually the PR #391 might be missing too, it was merged afterwards (but maybe you included it yourself in the binary).

[2015-01-05 13:13] Bertram25 commented on #411
It's a choice to make, but AFAIK, I thought the size of the library was used only to set the research speed. I mean the more active spots you have, the more creature can research, the research points you get. An ever-growing library doesn't make sense if we follow this principle.
But you're right, we should be able to see what spells were researched and that's where a spell/skill tree window is ne

[2015-01-05 13:16] akien-mga commented on #9
For now I uploaded the final 0.4.9 source tarball (based on the current 0.4 branch) and renamed the 2014-12-22 Win32 zipfile to say that it's the final 0.4.9 version.

@Bertram25 Can you tag 0.4.9 in github?

[2015-01-05 13:21] Bertram25 commented on #9
Hey, :D

It is soo cool to see the release online!

Yeah, the portal fix was put in as a last minute addition.

Thanks, IMHO, there is nothing more to do concerning the Windows version, as no changes is actually needed to enjoy the 0.4.9 experience there.

Sure, asap. :)

[2015-01-05 13:26] Bertram25 commented on #9
N.B.: The 0.4.9 tag will actually point on the same commit than the 0.4.9-RC1 one.

[2015-01-05 13:27] akien-mga commented on #9
Great. I'm correcting some typos and formatting issues in the release announcement, and will send the diff to Elvano.

[2015-01-05 13:29] Bertram25 commented on #9
@akien-mga Ah, just in case, don't forget to tell him to update the windows and linux download links! :)
And sorry for the typos. :S

[2015-01-05 16:04] hwoarangmy commented on #411
IMHO, 1 creature per active spot is too much for the library. A 3x3 library would be enough for 5 creatures which is too many. That's why we should allow 1 creature per central active spot only IMHO and add a bonus for wall active spots.
We might even consider having this behaviour for all rooms since, AFAIK, only the training room allows for more than that. And I think it decreases too much the n

[2015-01-05 16:08] Bertram25 commented on #411
It's definitely the way the forge is working so it's fine by me. :)

Can't say. I don't think it will hurt. What do you guys think about it?

[2015-01-05 18:27] Danimal696 commented on #411
yes, i also think its a good solution, when will be seeing the summon kobold spell? :)
As for the research tree ill post something on the forums

[2015-01-05 18:35] Danimal696 commented on #9
Isnt it time to open a new 0.5 release Issue? ;)

[2015-01-05 18:37] hwoarangmy commented on #411
I'm currently working on traps but if you import the new kobold model, I will work on the spell. Deal ?

[2015-01-05 21:05] Danimal696 commented on #411
We shall see ;D

[2015-01-06 08:33] Bertram25 commented on #411
How evilly cunning of you @hwoarangmy ;)

[2015-01-06 08:33] Bertram25 commented on #9
It is. I'm on it. :)

[2015-01-06 08:59] Bertram25 commented on #415
After thinking about this, I think we have no choice but grabbing both mouse and keyboard per default. @tomluchowski and @oyvindln are right about this after all.
Why? Because otherwise there is always a case where you can't either use the mouse or the keyboard with the game on a certain mix of OS + WM.

After some research about this, I also found it is possible to change dynamically this behavio

[2015-01-06 09:14] Bertram25 commented on #386
Btw, isn't this fixed?

[2015-01-06 09:25] Bertram25 commented on #396
Also, sometimes they see through walls when looking exactly at 45° through a tile with an oblique hole, AFAIK.

[2015-01-06 09:31] Bertram25 commented on #345
Ah. also I'll check to add a isometric (top-down) view for classic players + key shortcut as well.

[2015-01-06 09:36] Bertram25 opened #418 "0.5.0 release"
This issue is about maintaining a summary of what is to be done/is done for the 0.5.0 release, and for general dev discussion. :)
Everyone feel free to comment as needed.

**General**
- [x] The code is following the general code guidelines/conventions. #91
- [x] Remove the Culling Manager #170
- [x] Random crash #200
- [x] Bugfix replays #427 #428
- [x] Copyright update to 2015 #425
- [x] Update t

[2015-01-06 09:49] Bertram25 opened #419 "Upgrade the remaining UI"
Most notably, the Check-boxes and combo-box need a lifting.
The tooltip may look better if they are black with some white text.

[2015-01-06 09:55] Bertram25 opened #420 "App mouse icon handling"
This issue is about deciding what we want and can add as a the app mouse cursor.

I see several possibilities we can discuss, of course. :)
- **Long-term solution/nicest one:**
  Use the keeper hand mesh as the app icon for everything. This means we'll have to stop using the default rendering queues of Ogre, and setup the engine to render 3 layers in a specific order, the game, the GUI and then th

[2015-01-06 11:24] Danimal696 commented on #420
This one looks the better, Lets search for a hand icon to show over the GUI and resembles the 3D one

[2015-01-06 11:26] Danimal696 commented on #396
Thas was also a flaw of DK1, you could blew creatures througth that cracks

[2015-01-06 13:35] oyvindln commented on #415
Having an in-game setting sounds good. Ogre has some code for dealing with config files, so setting that up ought to be reasonably straight forward.

[2015-01-06 15:52] Bertram25 commented on #415
We already have a config manager and since the settings would be aimed at users, I would rather reuse our component than Ogre's one which has other drawbacks.

[2015-01-06 16:53] hwoarangmy commented on #420
Seems better for now.

[2015-01-07 10:39] Bertram25 opened #421 "The quick-help text doesn't behave well with its corresponding "small" window."
As seen here:
![opendungeons 2015-01-01 14-13-25-933](https://cloud.githubusercontent.com/assets/765917/5644247/c8f02386-9661-11e4-87f7-3d0d53b1faf0.png)

[2015-01-07 10:53] Bertram25 commented on #134
I'm taking that part. @oyvindln change to a CEGUI window is still more than welcome. :)

[2015-01-07 10:54] Bertram25 commented on #64
Ah, btw and for the record, I'd rather we use Ogre image layer for that rather than CEGUI's ones. CEGUI should be reserved for strict GUI handling if possible.

[2015-01-07 11:15] Danimal696 commented on #64
It should be possible to also change the image inside the flag to show something besides the skull like icons to show a creature mood

[2015-01-07 14:01] tomluchowski commented on #345
"
    Ogre::Ray mouseRay = mCameraManager->getActiveCamera()->getCameraToViewportRay(mousePos.d_x / float(
            arg.state.width), mousePos.d_y / float(arg.state.height));
    mRaySceneQuery->setRay(mouseRay);
    mRaySceneQuery->setSortByDistance(true);
"

You cast a ray from the viewport into the XZ plane , instead the Ray being perpendicular into the XZ and containing somwhere our cursor

[2015-01-07 22:07] #408 closed, assigned to hwoarangmy

[2015-01-08 08:46] Bertram25 commented on #406
Note to self: With PR about the GUI done, Only this is needed to be added in the game mode part, to add the checkbox, next to the No button window declaration:

[code]

The rest will be some code.

[2015-01-08 08:53] Bertram25 opened #424 "Change the engine version from 0.4.9 to 0.5.0 now we have a stable release. :)"
This is trivial to do but will have to be done anyway. ;)

The CMakeLists.txt file and the maps will have to be adapted.

[2015-01-08 09:04] Bertram25 opened #425 "Update files copyright to last up to 2015"
Trivial as well. I'll handle it if nobody else does. :)

[2015-01-08 09:07] akien-mga commented on #424
Should we have a -dev suffix or something to confirm that it's a development version and not the final 0.5.0? We would have to remove the -dev suffix when releasing stable versions though.

_Edit:_ The dev suffix would be only for the CMakeLists.txt IMO, no need for the levels.

[2015-01-08 09:11] Bertram25 opened #426 "Wiki decision and info update."
Hey there,

Atm, we have a wiki on the website that is unfortunately not quite responding and start to be out of date.
As the github wiki is available and can support images upload, I was wondering whether you guys were willing to keep using the one on sourceforge or start importing data here.

Once we have decided that, there are several stuff that needs to be done to prevent us from forgetting a

[2015-01-08 09:14] Bertram25 commented on #424
The levels check the game version using a '==' IIRC, atm. This means it can't work that way, unfortunately, without some code change.
This brings the following point. IIRC, we weren't willing to do some backward compatibiliy handling, at least now the beast is still changing fast.
Feel free to comment on how you see backward compatibility handling, though.

[2015-01-08 09:22] akien-mga commented on #426
Since there is no so much content on the SF wiki currently (at least from what I could see), I think we could go with the GitHub option, thus having most things in one place.

BTW we should discuss with Elvano what we want to do with the main website. Currently it's a static website with minimalistic design that can be managed via SF's FTP. We've discussed it a bit with Elvano and we both think th

[2015-01-08 09:26] akien-mga opened #427 "Obsolete replays: Assert failed file source/modes/MenuModeReplay.cpp lines 204 and 206"
When clicking on replays without starting them in the "Replay" GUI, I get spammed with this assert failure:

[code]

If I start a replay, I get a segfault with std::bad_alloc:

[code]

[2015-01-08 09:31] akien-mga commented on #427
Actually this happened when clicking on or trying to load replays from 2014 that were recorded before the FoW implementation, so it's understandable that they would not work.

@hwoarangmy I'll let you see whether you want to close this one as wontfix, or if you want to add a check for "conformity" of the replay (I notice e.g. that with a replay from 2015, I don't get the failed assert at MenuModeR

[2015-01-08 09:35] Wout-van-Dongen commented on #426
A new platform may not be much of an answer if nobody will use it, as it was the problem with the wiki. It turned out to be a place to post ideas and dreams rather than facts when it was new and it was soon forgotten afterwards.
If you feel that Github offers a better alternative, as far I am concerned you are free to use it, but be aware it shall require (firm) management.

[2015-01-08 09:35] akien-mga opened #428 "Replays: Unknown enum value : 6 (segfault)"
In contrary to #427, this time it's about valid replays (recorded just now) that segfault when started.

Here's the relevant part of the log, including the backtrace: http://paste.fedoraproject.org/167153/70963614/

There are namely:

[code]

[code]

[code]

[2015-01-08 09:42] Bertram25 commented on #420
An icon for the heroes faction ;]: http://opengameart.org/content/pointers-part-5

As for the keeper's one, I'd love to see something like this: http://www.iloveswords.com/images/LOTR/LOTR_gauntletLRG.jpg

[2015-01-08 09:44] akien-mga commented on #426
The main problem of the current wiki is that some active contributors that arrived after it being set up (@hwoarangmy and I, I guess) have no credentials to edit it. Of course we could request credentials from @Wout-van-Dongen (Elvano in disguise! :-P), but it's harder to manage credentials through one contributor that via GitHub IMO that would let practically all registered contributors from OD e

[2015-01-08 09:57] Bertram25 commented on #426
Ah, I knew it! :P Welcome Elvano.

I do agree as it would indeed suffice to show what we have while my main point is to avoid killing you guys in making super-heavy web development for something that can pretty straight-froward, so I'm all for a simple static website that does the job and doesn't require a full web-designer's team.

For the record, I have nothing against or for github's wiki or th

[2015-01-08 10:02] Bertram25 commented on #427
I was wondering. I guess replays should be linked to a game version and in that, shouldn't be supported if you run another game version than the one it was created with, right?

Maybe some kind of check should be done about this?

[2015-01-08 10:07] akien-mga commented on #427
I agree, that would probably be the simpler thing to implement. (We can always revert if starting with 0.8.x the game is stable enough that replays from previous versions will still work ;-).
And if replays break during the development of a milestone, that's okay, we don't provide that kind of extended support for developers :-P

[2015-01-08 10:11] Bertram25 commented on #427
Then #424 is a pre-requisite to this one, IMHO.

[2015-01-08 11:47] hwoarangmy commented on #427
Yes, there have been many changes with FOW (removed some messages and changed the game initialization now that client do not read the level file). And, thus, old replays are broken. So, it's a won't fix.

As you said, the easiest is to check for version to know if a replay is good or not. But I'm not sure we should do that right now because we are regularly breaking replays with our PRs (and somet

[2015-01-08 12:22] hwoarangmy commented on #426
I don't care which platform we use but I definitely think we should add in the wiki the needed how to (compile and stuff). Concerning The goals, I think another project "UFO AI" did something not stupid that we could also do: quote in the wiki the most usefull things said on the forum. This way, it is some kind of copy/paste that just needs some ordering ^^

BTW, I would also had some kind of dev

[2015-01-08 12:40] akien-mga commented on #427
Alright, closing for now. Let's see when replays are stable enough :-)

[2015-01-08 12:40] #427 closed, assigned to hwoarangmy

[2015-01-08 12:44] hwoarangmy commented on #428
Could you please upload the replay ?

[2015-01-08 12:48] hwoarangmy commented on #406
Now that you talk about it, it could be cool to have some kind of real window (like the creature stats) for exiting. The ones that can be moved (again, like creature stats).

[2015-01-08 14:18] akien-mga commented on #428
Well I just tried again and the same replay does not provoke a segfault anymore...

Closing for now, I'll reopen if I manage to reproduce something similar in the future. Maybe I was running a binary compiled from a branch that did not match the active git branch in my repo.

[2015-01-08 14:18] #428 closed, assigned to hwoarangmy

[2015-01-08 15:55] hwoarangmy commented on #428
As far as I've seen, the first version that could do this kind of assert fails is after implementing PersistentObjects (and before Traps). So, I guess you are right about using a not up to date version ;)

[2015-01-08 15:57] hwoarangmy commented on #427
IMHO, we will have to deal with this kind of feature when we will go far the menu to navigate through replays.

[2015-01-08 15:58] hwoarangmy commented on #420
That's very nice. And that could fit also for heroes ^^

[2015-01-08 16:10] akien-mga opened #429 "Replay menu: Sort replays alphabetically"
The replays in the replay menu are currently displayed in an apparent random sorting, as shown on this screenshot:
![od-replays](https://cloud.githubusercontent.com/assets/4701338/5665495/1c9e41f0-9759-11e4-89fa-843eab703143.jpg)

It would be nice to sort replays alphabetically, so that you can locate the replay of a given date easily.

[2015-01-08 16:51] Bertram25 commented on #427
IMHO, as long as we display this menu in stable release, we should make sure replays are functional between every stable release. This feature is not that experimental as it is working great usually. :)

My point is that check the replays version will help us and the other users select what replays they still can watch and thus should be done anyway, IMHO.

[2015-01-08 16:53] Bertram25 commented on #406
Ok, I'll handle it.

[2015-01-08 16:59] Bertram25 commented on #429
I would also sort alphabetically the skirmish and multiplayer map lists.

Could the window right part be used to display the game version as well, by any chance?

[2015-01-08 17:02] hwoarangmy commented on #429
yep, i was also thinking of sorting everything

[2015-01-08 17:05] hwoarangmy commented on #406
thanks ^^

[2015-01-08 17:06] hwoarangmy commented on #429
Only for replay or for every map ?

[2015-01-08 17:13] hwoarangmy commented on #396
Well, they don't even need walls with 45°. From what I've seen, they sometimes see behind walls (see screenshot)
![odscreenshot_2015-01-08_181125_1](https://cloud.githubusercontent.com/assets/7493706/5666731/0acdde0a-9762-11e4-8eb4-8d57422b7f98.png)

[2015-01-08 19:40] hwoarangmy opened #431 "Implementing pay day"
Proposition for pay day (to be discussed)
- Every X turns (configurable), creatures will go to the nearest non empty treasury and try to get their fee
- The fee should be calculated like HP: base + quantity per level
- If a creature is not paid, it has a (huge) impact on its mood
- When a creature (fighter) carrying gold is killed (by the keeper or an enemy), the carried gold is dropped. Carried g

[2015-01-08 20:26] Bertram25 commented on #429
Well, as we have no kind of backward compatibility for now, the map displayed should be of the right version. But later, it will be useful

[2015-01-08 21:50] Danimal696 commented on #431
they use that gold for gambling at casino? maybe to pay for weapon upgrades as well?

[2015-01-08 21:59] Bertram25 commented on #431
Yeah, they either have to spend it, or we can drop just latest wage until money spending is implemented.

What do you think?

[2015-01-08 23:39] hwoarangmy commented on #431
I think we should at most drop the latest wage (but clearly not more). And we might also want to decrease this amount each turn to avoid strategies where we would take expendable units, wait for next pay day and kill them before they go to the treasury to get back the money.

That would mean that a creature that just came to the dungeon or that has no money cannot go to casino. Well, if everybody

[2015-01-09 00:01] hwoarangmy commented on #427
It is done in #430. As you say, because the menu is displayed in the release, having a segfault is not acceptable ^^

[2015-01-09 00:13] #429 closed, assigned to hwoarangmy

[2015-01-09 00:18] Bertram25 commented on #431
Sincerely, I would allow that twisted strategy as a game permitted twist. ;) Plus, if we make wages disappear, creatures will never have time to play Casino, or any Evil game we shall invent someday for them.

It's a good question and I do think this should remain our thing, but practically how do you see improved equipment handling, step by step?

[2015-01-09 09:25] Bertram25 commented on #431
I was also thinking, if we add some kind of casino room, where will the benefits of this evil room go? :>

[2015-01-09 09:35] Bertram25 commented on #426
Yeah, some quick dev explanation of the architecture, nothing long, would be great.
Something more extensive should go for the players, and the modders. :)

I've looked into their wiki a bit and I didn't see anything looking like copy/pasted quotes. Could you give me a link of what you have in mind?
Btw, the UFO AI wiki is one of the best stuff I've ever seen in an open-source project. I won't dar

[2015-01-09 10:01] akien-mga commented on #426
If we start fresh on a new platform, maybe we should first decide what we want to keep from the existing wiki before we import it? Maybe we can start by designing the main page, and then fill in the blanks with content from the existing wiki and new stuff?

[2015-01-09 10:07] Bertram25 commented on #426
Yep, I'm making a small proposal atm right there. Then, I'll ask for your comments and fixes, guys. :)
I'm sure together this can be sorted out very easily.

[2015-01-09 10:49] hwoarangmy commented on #426
Yep, seems like they have updated it since the last time I've read (one year ago). I couldn't find either what I was talking about. But that's pretty simple. For example, that could look like:

[code]

And in the quote, we would copy/paste the more relevant summary of what has been decided

[2015-01-09 10:56] hwoarangmy commented on #431
Well, in reality, we don't need them to have money to be allowed in the casion ;)

I've not really thought about it yet but I would see a GUI screen showing the available weapons to craft. We could select some and the forge workers would start to craft them. Then, they would go to the armory and creatures could take them.
I agree it is not really clear how to choose which creature would be assigne

[2015-01-09 11:04] Bertram25 commented on #426
Ah I see. I don't mind keeping the author of the "quote", but as we'll be formatting it to obtain the most fitting gist sooner or later, I would let it as a quote but as real documentation.

That said, it's just a matter of taste and as long as we have the info, I'm taking it. :)

[2015-01-09 11:06] tomluchowski commented on #412
I could implement a set of console's cmds to set whatever you wish , problem is whether you would mericifully merge the result of my work into main trunk

[2015-01-09 11:11] Bertram25 commented on #426
Btw, to add images to the github wiki, one has to clone the wiki repository and push images there.
I'll do it asap but if somebody does it before me, could you add images in a images/ folder for instance only (I mean not alongside the .md pages.)?

Thanks!

[2015-01-09 11:28] Bertram25 commented on #412
It depends on you, not on me, @tomluchowski . No, don't play the victim with me.
It's simple:
- Discuss what you want to add first and see whether everyone is agree before starting crazy things.
- Follow the code conventions.
- Do a Pull request and try to fix the code according to everyone comments.

Then, once the code is working and looking sane, it will be merged by one of the reviewers.

Also

[2015-01-09 13:01] Bertram25 commented on #426
Ok, I've added a bit of content in the github wiki.

I'll add images this week-end. Feel free to tell me if the overall stuff looks going in the right direction and make corresponding fixes. :)

[2015-01-09 19:10] Danimal696 commented on #431
To our treasury, of course!

Regarding the forge system, ill post on forum a draft

[2015-01-09 21:48] hwoarangmy commented on #424
It's fixed in the associated commit

[2015-01-09 21:48] #424 closed, assigned to hwoarangmy

[2015-01-10 22:14] #134 closed, assigned to Bertram25

[2015-01-10 22:14] #421 closed, assigned to Bertram25

[2015-01-10 22:14] #425 closed, assigned to Bertram25

[2015-01-12 08:35] Bertram25 commented on #419
Check-boxes and radio buttons done.
The tooltip have also been updated.

What's left mainly are the combo boxes.
Then, what's left needs to be checked if it's actually use somewhere and if so, can be ported.

[2015-01-12 08:39] Bertram25 opened #433 "Tag the 0.4.9 release"
Note to self: Asap you brainless whimp!

[2015-01-12 09:17] hwoarangmy commented on #419
There are combo boxes in the seat configuration lobby (to choose player/faction/team).

[2015-01-12 09:29] Bertram25 commented on #419
Yep, that's why they'll be my next victims. :>

[2015-01-12 09:30] Bertram25 commented on #393
Pay day voice will be needed as well. (If it isn't already there, I'll have to listen to it again.)

[2015-01-12 09:36] Bertram25 commented on #406
Note to self: use a layout:

[code]

[2015-01-12 23:36] hwoarangmy commented on #386
IMHO, no. But I've never seen it. And if it happens to someone, please post at least the backtrace so we can have more information

[2015-01-13 11:02] akien-mga opened #434 "Some tiles are not highlighted when hovered by the selection zone"
Seen when testing #432, but this might be a regression due to the FoW:

![od-select](https://cloud.githubusercontent.com/assets/4701338/5719749/8f8d9b28-9b1b-11e4-8867-5cddfb0a524e.jpg)
As detailed in the topic, this happened when hovering a rectangular area with the "dig" marker (click on a tile + drag to create the rectangular area).
Clicking does produce the expected output (all dirt and gold t

[2015-01-13 11:15] akien-mga commented on #434
It can't be systematically reproduce, I'll keep an eye open for another manifestation of this bug.

[2015-01-13 11:17] Bertram25 commented on #434
Same to me, it's random but rather near game start, right?

[2015-01-13 11:24] akien-mga commented on #434
On my screenshot it is, but I haven't reproduced it a second time yet. It seems to be affected by the rooms that I've already dug (or previously marked to dig).

[2015-01-13 11:25] #279 closed, assigned to hwoarangmy

[2015-01-13 11:25] #407 closed, assigned to hwoarangmy

[2015-01-13 11:25] #431 closed, assigned to hwoarangmy

[2015-01-13 11:31] Bertram25 commented on #419
Teaser-on: I've locally prepared the options and quit menus.
And added support for horizontal sliders in the look n feel, functional but still ugly looking. :fearful:

I've now got to polish all that, and deal with the pixel side. :smile:
I guess I'll deal with #406 first and add some of the work along with it, to keep small steps PR.
Teaser-off. ;)

[2015-01-13 11:51] hwoarangmy commented on #434
I've already seen that before the FOW PR. In fact, I think I've seen that from the start...

[2015-01-13 11:55] hwoarangmy commented on #419
^^

hehe

[2015-01-13 13:50] hwoarangmy commented on #386
I've tried yesterday night to reproduce it but I couldn't.
@tomluchowski @akien-mga could you please try to reproduce this crash and post the stacktrace ?
If nobody can reproduce it, I will close this issue within a few days.

[2015-01-13 14:26] Bertram25 commented on #386
I can't reproduce a crash from a few tries. I will try to insist tonight.

[2015-01-13 20:11] akien-mga opened #435 "Notify the seat when gold can't be added to the treasury"
Either because the treasury is full, or because it is missing. It seems most of our players have trouble understanding the concept of placing a first free treasury tile before they mine, it's true that it's a bit strange, so this message should help a lot.

cf. http://forum.freegamedev.net/viewtopic.php?f=35&t=6051&p=61979#p61976

For now this should probably be a written message in the chatbox, i

[2015-01-13 20:14] Bertram25 commented on #435
Yeah, I agree, not easy to get without being explained first.

[2015-01-13 20:20] Bertram25 commented on #386
Tested it with fierce. The game won't budge. IMO, this is fixed.

[2015-01-13 20:26] akien-mga commented on #386
Yep, I just got berserk with the UI, opening dozens of maps to quit them after a second, map editor, host multiplayer, join multiplayer, skirmish map again, several times the same one, changing teams and so on, all really quickly to try to find some memory not released properly, and zero crash :-)

Closing then.

[2015-01-13 20:26] #386 closed, assigned to nobody

[2015-01-13 21:25] hwoarangmy commented on #435
ok. I will add a message for that.

[2015-01-15 00:04] Danimal696 opened #438 "Someone add the goblin and his bed"
http://forum.freegamedev.net/viewtopic.php?f=38&t=6102

[2015-01-15 08:33] Bertram25 commented on #438
k, I'll handle it. :D

[2015-01-15 08:34] Bertram25 commented on #438
@Danimal696 Btw, any hints about its stats?

[2015-01-15 10:33] Danimal696 commented on #438
Same as the old goblin, just rescale to 0.15

[2015-01-15 10:58] Bertram25 commented on #438
k, will do. Thanks.

[2015-01-15 11:08] Bertram25 opened #439 "Improve GameMap::circularRegion()"
Atm, this function does add tiles from bottom left to top right using a radius and coordinates.

But this makes it unoptimized to compute visible tiles for creatures afterwards.
As noted by @hwoarangmy in #437

[2015-01-15 11:19] hwoarangmy commented on #439
I would also add that within the handleIdleAction, reachableTiles are built from mTilesWithinSightRadius and when the creature chooses to wander, it takes a tile randomly in the second half of reachable tiles (because it expects the tiles to be sorted by distance). By doing that, right now, we favorize creatures to wander up from their position instead of in a far away tile.

See:
https://github.c

[2015-01-15 21:42] Bertram25 commented on #433
Done: https://github.com/OpenDungeons/OpenDungeons/releases/tag/0.4.9

[2015-01-15 21:42] #433 closed, assigned to Bertram25

[2015-01-16 15:06] #406 closed, assigned to Bertram25

[2015-01-16 23:32] #354 closed, assigned to hwoarangmy

[2015-01-16 23:32] #396 closed, assigned to hwoarangmy

[2015-01-16 23:32] #435 closed, assigned to hwoarangmy

[2015-01-17 13:24] tomluchowski opened #443 "Hardware/ Software cursor switch in game >_> ?"
Where should the swtich between hardware -- software cursor be placed ?
Should it be only in game ? Problem is in some platforms default of the two variants might not work. How do you imagine clicking and choosing from GUI the proper options when say the cursor is invisible  ?
Would you like me to have that option be set by CMAKE ?

[2015-01-17 14:54] Danimal696 commented on #418
arent we filling this up pretty fast? ;)

[2015-01-17 20:42] hwoarangmy commented on #443
In which case do you think the cursor won't be displayed ?
IMHO, a CMAKE option is not the way to go as most of the players won't compile the game. We need to find a way to display the cursor in every case...

[2015-01-17 20:58] hwoarangmy opened #444 "Sources do not compile with MinGW"
Since PR #441, the use of std::to_string, stof/stoi/stod has broken MinGW compilation.
For such functions, we should use the Helper.

[2015-01-17 21:46] Bertram25 commented on #444
@hwoarangmy I shouldn't have merged so fast. Sorry! :S
Are you ok taking care of it, though?

[2015-01-17 21:48] oyvindln commented on #444
This is apparently a bug in MinGW:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=52015

[2015-01-17 21:58] Bertram25 commented on #443
If I understand well, you're speaking of the cursor management described in #420 , right?

Then, there is no cmake option, as the cursor will be fully hardward, except when using the hand mesh. From the latest decisions, we were planning to make the hand mesh displayed when the cursor is on the 3d game part and use an hardware cursor (a hand image) when hovering the GUI part or on the main menus.

[2015-01-17 21:58] #443 closed, assigned to nobody

[2015-01-17 22:20] Bertram25 commented on #444
Unfortunately, not going to be fixed anytime soon. :S

[2015-01-17 23:59] oyvindln commented on #444
The quickest way to solve this would be to replace the calls with boost::lexical_cast, as the code relies on exceptions for errors. (While the Helper functions return 0 on invalid values as they use stringstream.)

[2015-01-18 00:00] hwoarangmy commented on #444
Yes. I've fixed the compilation issues, that was not a big job. But now, I'm facing something a bit more strange. I cannot launch OD. I get a runtime error.
Fortunately, I have working sources not too old (I think just before @Bertram25 PR about removing replay).
I'm going to try to add things one after the other to find what breaks execution. From what I've seen in @oyvindln there is no new modul

[2015-01-18 00:12] oyvindln opened #446 "Lighting issues with coloured materials and normal maps"
We have to sort this somehow, right now the claimed tiles and walls look hideous.

I've tried to look into it, but I can't find a simple way to make it work by adjusting light values and blending without shading the whole tile. The alternative then is to either generate textures on the fly, or use a coloured dummy object or decal attached to the tile. So, my question is then, what would we prefer?

[2015-01-18 01:39] hwoarangmy commented on #444
I've figured out what is happening. The problem comes from the regex. When I change "const std::regex NO_WHITESPACE("\S*");" to "const std::regex NO_WHITESPACE("");", I get no runtime error. @oyvindln I'm no regex expert. I've looked at the code but some comments let think that it is related to alphanumeric chars but the name being NO_WHITESPACE, I'm not really sure what it means. Could you please

[2015-01-18 01:42] Danimal696 commented on #446
did you notice that when you set a wall for digging normals start working on the model?

[2015-01-18 02:01] hwoarangmy commented on #444
Well, after looking a bit more, I've seen the regex is only used to test if the commands contain unexpected chars. Why did you make that check ? Do you expect to allow to add command console from an external way (like a text file or something) ?
If not, I would remove the regex as IMHO, we should expect coders to add correct commands in code and to test if it works (and thus, to see if they made a

[2015-01-18 02:49] oyvindln commented on #444
Nah, you can probably remove it if it causes problems. It's just a safety check.

[2015-01-18 02:56] oyvindln commented on #446
No, I haven't noticed that.  (Unless you are talking about the dirt walls, it's only an issue on the materials that have team colour stuff on them. Normal maps work fine otherwise, they are just not specified in the material file for most models.)

[2015-01-18 08:49] hwoarangmy commented on #444
@oyvindln .ok. Then, I will remove it. For my information, why did you declare the const regex in an empty namespace ? What's the difference with declaring it outside any namespace ?

[2015-01-18 12:58] oyvindln commented on #444
It means it can't be used outside the file.

[2015-01-18 13:13] Danimal696 commented on #446
could you provide a working sample for a creature model and maybe a built room as well?

[2015-01-18 13:34] oyvindln commented on #446
If you what you mean is how to set a normal map:
https://gist.github.com/oyvindln/f79922f0a34f66a7aae3#file-dirt-material

[2015-01-18 14:00] hwoarangmy commented on #444
Thanks. But what's the difference with a static variable (I'm talking about C-style static) ?

[2015-01-18 14:28] #444 closed, assigned to hwoarangmy

[2015-01-18 16:39] Bertram25 commented on #444
AFAIK, for instance and in the context of your question, the static could be reused using an 'extern' keyword in another file.

[2015-01-18 18:03] hwoarangmy commented on #444
For having used C for a while, i can confirm that in C style, static means visible only in the source file it is declared.

[2015-01-18 20:38] #438 closed, assigned to Bertram25

[2015-01-19 12:54] hwoarangmy commented on #439
For the record, I've achieved pretty good results by computing a list of tiles sorted at GameMap initialisation and using that to compute tiles in sight. I have nearly the same execution time (even a bit better on the tests I've done) than the actual algorithm but now, tiles are ordered from closest to farthest.
I'm currently having a look if we can use this computed list to improve visible tiles.

[2015-01-20 20:40] oyvindln opened #449 "Goblin is missing bone assignments"
[code]

[2015-01-21 01:17] Danimal696 commented on #449
the only error i can get is that you are trying to load a goblin with a weapon equiped, they cant equip anymore, so " Bone named 'Weapon_L' not found" is the result, check the map file and look for any goblin with rusty swords or shields.

[2015-01-21 02:15] oyvindln commented on #449
So they are not supposed to be able to equip weapons anymore is what you are saying? They were in some of the maps in the past.

[2015-01-21 10:21] Bertram25 commented on #449
Hey there,

Without even speaking of how to handle meshes bones yet, could it be possible to turn that exception into a warning when loading creatures definition?

[2015-01-21 12:02] Danimal696 commented on #449
Yes, but given they are now just glorified cannonfodder i wanted to let them out of the weapon upgrade system, weapons will go to stronger creatures once implemented

[2015-01-21 20:31] hwoarangmy commented on #439
I'm almost done with my commit ^^
It was not easy but I could manage to compute at gamemap creation a class that computes how each tile hides other tiles (when full). Then, the computed tiles are applied for creatures to choose which are visible or not. If we see 50% or more of the tile, it is visible. If we see less than 50%, it is hidden.
On the tries I've made, 30000 calls to visibleTiles, with

[2015-01-22 12:33] Bertram25 commented on #419
Next plan is to separate the in-game bottom tab UI from a standard tab UI for other controls.
This will permit me to make the KeeperTab better looking. :)

[2015-01-22 12:43] Bertram25 commented on #449
Then, I'd be to add a warning when visually equipping fails, and remove the weapons from the goblins in old maps once done to close this issue.

If the visual bone binding fails, should we (stats speaking) equip the creature anyway?

[2015-01-22 13:01] oyvindln commented on #449
I think we should, having stats depend on what model file is loaded is bound to cause problems, for instance if someone has replaced a model tries to play multiplayer.

[2015-01-22 14:50] Bertram25 commented on #449
Fair point. Ok, then we'll have to add a check visually "unequipping" (destroying the weapon mesh for another one) to avoid an exception there as well, I guess.

[2015-01-22 16:08] Bertram25 commented on #439
Cool, I need to try that.

[2015-01-22 16:14] Bertram25 commented on #439
From what i could see in your latest patch, the max radius will get recomputed on need. So IMHO, the question of adding a new creature or increase the creature sight radius will be problematic only for a fraction of one turn, which is good. :)

I'll do a more thorough review asap.

[2015-01-22 16:17] hwoarangmy commented on #449
Failing to equip the weapon because of bone will happen on client side only (and not on server since there is no rendering). Changing stats in this case would not be straightforward. The most easy would be to make sure we properly release what needs to be released (about the concerned weapon) and log the problem (keeping the stats). That should be enough...

[2015-01-22 16:21] hwoarangmy commented on #419
BTW, I've tested the new UI and it is pretty nice. The only thing that seems weird is the picture on the south tab background. But I like the rest ^^

[2015-01-22 17:37] Bertram25 commented on #419
Thanks :) The tab content pane background is atm only a try so please don't give too much heed, I'll first replace it with a boring standard tabs content pane and will then specialize that tab to use more keeper like graphics. :)

[2015-01-22 18:05] hwoarangmy commented on #419
ok, no pb. IMHO, it is better like that than it was. We will see what can be improved later ^^

[2015-01-22 19:15] Danimal696 commented on #449
doesnt it rises the problem of someone cheating with a super unit? if they mod the goblin or whatever to be uber, what happens them?

[2015-01-22 20:22] hwoarangmy commented on #449
Well, if playing as server, anybody can spawn a super unit by modding a level or the creature.cfg. We need to trust the server. That's why I will never play if you are hosting :p

[2015-01-22 20:24] hwoarangmy commented on #439
yep. But to do that, I had to remove the const modifier of the function.

[2015-01-22 22:31] Bertram25 commented on #449
Well, of course, as @hwoarangmy pointed out, the game is very moddable now. The best would have creatures with both weapons set so that at least, it is a question of config only. Would you mind adding the bones names for such possible cases?

Yeah better let me host. :>

[2015-01-22 22:32] Bertram25 commented on #439
Arf, there is worse. I wouldn't worry too much. :)

[2015-01-22 22:43] hwoarangmy commented on #439
lol. I was more thinking about AS binding (even if I don't really know why it would need that). In any case, I think I should be able to sleep even after that ;-)

[2015-01-23 07:55] #439 closed, assigned to hwoarangmy

[2015-01-23 09:25] hwoarangmy commented on #449
Well, now that you talk about it, I think I would prefer to let @Danimal696... ;-)

[2015-01-23 12:07] Danimal696 commented on #449
i can put dummy bones on the goblin, most other creatures will have them working thougth. The question, goblin is intended to not upgrade its weapon, will having weapons bones cause him to try and upgrade? if the solution is worse than the problem i could try and find a few knifes and ugly shields to include him into the upgrade system...

[2015-01-23 12:19] akien-mga commented on #449
I don't think so, the weapon upgrade system will probably rely on configuration tokens in the creature definition sheet, for example a lot of weapon IDs that the creature would be looking for. IMO it would be difficult (and error-prone) to base the upgrade behaviour on the meshes.

[2015-01-23 13:14] hwoarangmy commented on #449
Definitely not. As pointed by @akien-mga and myself, the meshes will never be used to take such decisions. First of all because the decisions are taken on the server side gamemap (that do not uses the render manager - have no information about meshes).
We will have to find some way in the configuration files to say if weapon evolution is allowed and how (when the time comes)

[2015-01-23 14:48] hwoarangmy commented on #11
I will have a look at the mood system. My proposition is (as always, I will update the issue description when we agree):
- Each creature starts with a default mood of 1000
- Mood modifiers are computed during the creature upkeep. But not each turn, it will be randomly computed to avoid computing it too often (with a random period between 0 and 5 turns)
- Modifiers can be > 0 (will make creature ha

[2015-01-23 15:26] Bertram25 commented on #11
I think yes, but only at extreme low mood and for some time. Remember we have now have to pay them (ah, I do think the payday fees should be lowered a bit, but WDYT?) and it means that the mood will end being bad somehow, I guess, even (mostly?) at the beginning of the game where you don't have much money and a lot of needs.

I think yes, too. Do we prevent them from working also at some point?
Bu

[2015-01-23 18:11] Danimal696 commented on #11
Yes, please, no room destroying; but i would change
-200/-300 They try lo leave your dungeon
<-300 They become feral/rogue (change to teamless- attack anything) so you no longer have power over then (as opposed to being able to jail a creature that is trying to left your dungeon)

Mood in creature config, so some of them have shorter fuses than others (demons) or massively longer (skeletons). I al

[2015-01-23 20:58] hwoarangmy commented on #11
What I've said when indicating the different angry levels were just examples, no worries ^^

Well, payday is IMHO the key to drive average game length. If it is expensive, aggressive players will have an advantage. If it is not, it will encourage to turtle. We should play carefully with that. Now that it is said, I've never played a real game since pay day so I don't really know if it is too expen

[2015-01-23 21:09] hwoarangmy opened #451 "Creatures weakness coefficient should be configurable"

[2015-01-24 00:32] Bertram25 commented on #11
You're right. Let's have a few games before tweaking stuff. Well, you know, when you play the Keeper, you get angry and cruel fast (against your own creatures and the enemy ones) ;)

Yep, I agree as for me. This is not linked to mood directly so I guess we can do it now.
Again, once the overall mood stuff is done, a few games should show what's too high or too low.
Nice work toward clear specs. :)

[2015-01-24 00:50] hwoarangmy commented on #11
BTW, I was wondering if it could be a good idea to create a special file for mood (instead of creatures.cfg) because:
- creatures.cfg is already pretty big
- I don't think we should allow to override mood modifiers in levels
- Because mood will be affected by other creatures, we need to have loaded every classes before being able to check for the mood modifier about creatures. I know we can do tha

[2015-01-24 02:22] Bertram25 commented on #11
Ok for me. It doesn't change anything and if it can make things simpler for you, there is no way we should bother for that.

[2015-01-24 07:57] hwoarangmy commented on #11
ok. I will do that then.

[2015-01-24 14:04] Danimal696 commented on #451
what do you mean?

[2015-01-24 16:39] hwoarangmy commented on #451
currently, a creature is considered weak if hp < hpmax / 3. This is hardcoded. We should use a parameter to be able to change the value.

[2015-01-24 17:21] Danimal696 commented on #451
good issue, i would like some creatures that would always figth to the death

[2015-01-25 00:55] Bertram25 commented on #449
In any case, please put dummy bones on creatures, so we can get rid of potential useless warnings. Thanks a lot. :)

[2015-01-25 00:55] Bertram25 commented on #446
Almost done with #448

[2015-01-25 00:57] Bertram25 opened #452 "Tile::getPosition() vs Tile::getX() & Tile::getY()"
I fixed mPosition to be updated by mX and mY in one of my latest patch so at least both can be used.

The actual question is: Shouldn't we keep only one of the two?

[2015-01-25 08:29] hwoarangmy commented on #452
Many times, we need the position as a int. Removing mX and mY would mean much more casts. I don't know how expensive a cast is. That being said, if we can avoid dupplicated variables, it is better.

[2015-01-25 13:17] Danimal696 commented on #449
sure

[2015-01-25 13:31] oyvindln commented on #452
I though mX and mY was the position in the tile array, while getPosition returned the position in the world geometry, so I don't think they should be merged.

[2015-01-25 21:25] hwoarangmy commented on #452
Well, in reality, the tile position in the array and in the world geometry is the same. I would agree if it was to be changed but in reality, I think it cannot be changed as it is tied everywhere in the code (the most important being getPositionTile):
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/entities/GameEntity.cpp#L76

[2015-01-26 09:07] Bertram25 commented on #452
Ok, I get the point better now. As I said above, in one of my latest patch I made the tile class sync its mPosition vector when mX and mY, so this is working fine at least for now, even if not perfect.

As every tile position is linked to the world geometry and as I don't think we'll change that one day, I think we can remove the mX, mY members if the casts made aren't too heavy.
If they are, then

[2015-01-26 09:41] Bertram25 opened #453 "Choosing the best SceneManager once we have normals support."
Linked to #446 and once #448 is merged, we'll have normals support.
But we'll also have heavier frame update calls and some drop on the FPS when using a higher view.
(Which shows that the Ogre culling manager is working since closer views are quicker, btw.)

To try and improve this, and as a first simple step, what do you think about testing the different SceneManagers Ogre is offering?
http://www

[2015-01-26 12:31] oyvindln commented on #453
I don't think the choice of sceneManager will make much difference, as we are not currently using any static geometry, which is the main purpose of the sceneManagers. I don't think there is much that could be made static either, except maybe rock tiles.
Ogre 2.0 seems to have functionality that helps here us though: http://www.yosoygames.com.ar/wp/2013/08/hw-instancing-static-mode-benchmark-on-2-0

[2015-01-27 10:00] Bertram25 commented on #453
@oyvindln Once again, I can't wait to see what Ogre 2.0 can offer, really. :)

In the meanwhile, the Octree plugin seemed to make me earn a few FPS (when tested against the others but without normals), that's why I switched to it at the time. But I sincerely don't know the reason why it was better.

Once we have normals on walls and ground, I can make a quick test myself and see whether empiricall

[2015-01-27 10:02] Bertram25 commented on #419
A graphical teaser :)
![opendungeonsskin](https://cloud.githubusercontent.com/assets/765917/5916677/fdadc5bc-a613-11e4-8c61-b6707fdbee54.png)
See any differences? ;)

[2015-01-27 10:37] hwoarangmy commented on #419
I would guess at scroll bars ? And a new background for the rooms/traps/... tabs ;-)
Cool ^^

[2015-01-27 10:53] Bertram25 commented on #419
Almost! My only shame is that I didn't reach the point where I've made cooler in-game tabs.
For now, I've made them simple again, (So they can be used in the options menu, for instance),
and I'll add specialized tab widgets for each factions. :)

I've managed to improve the sliders, and added 2 working and improved progress bars. :)
And list menu working graphics. The UI is almost done as a first

[2015-01-27 13:28] hwoarangmy opened #455 "In the editor, Traps are not displayed"
Seems like the trap hiding system is too strong ^^

[2015-01-27 13:38] Bertram25 commented on #419
Ok, Gui 1.0 Done. What's next is adding fancy tabs per faction. But that won't be part of the next PR: :)
![od-gui-1 0](https://cloud.githubusercontent.com/assets/765917/5919223/14a226a0-a632-11e4-845c-79a19c7416d5.png)
Feedback very welcome :)

[2015-01-27 14:42] oyvindln commented on #453
Yeah, we should be using the octree one, I don't know why it has been switched to something else.

[2015-01-27 15:16] eugeneloza commented on #393
No, this phrase is not yet there. Should I do it ASAP (and for which voices?)? Or it waits for a 'larger' upgrade to include more phrases like news, etc.?

[2015-01-27 16:42] hwoarangmy commented on #393
@eugeneloza If you are on making some more voice events, I would add:
- Pay day
- Creature unhappy
- Creature wants to leave the dungeon
- Creature became rogue

BTW, welcome to github ^^

[2015-01-27 16:47] hwoarangmy commented on #455
That will wait for #436 for the gamemap function to know if we are in editor mode.

[2015-01-27 16:49] akien-mga commented on #393
IMO you can wait a bit for this and the ones that @hwoarangmy suggested. Maybe we could open an issue on github as a todo list for voice acting scripts, and then you can do everything at once.
I also think that we'll get plenty of new ideas once the current samples are integrated in the game.

[2015-01-27 17:00] hwoarangmy commented on #393
This issue seems not a bad choice... ;-)

[2015-01-27 17:03] akien-mga commented on #393
Indeed, silly me, I thought we were hijacking an issue about pay day :-p

[2015-01-27 17:04] eugeneloza commented on #393
Good. So it's better to wait until the next script version. Since recording a voice is much better as one chunk - it will sound more natural. I was just wondering of recording a single pay-day phrase.

[2015-01-27 17:04] hwoarangmy commented on #419
Yep, that's a later issue ^^

The new gui seems nice (BTW, I think I've never had the occasion to say I like the new UI ingame). What are the grey bars for ? Scrollbars ? They seem a little bit... grey to me but we will see ingame ^^

[2015-01-27 17:09] Bertram25 commented on #393
@eugeneloza Welcome :)

[2015-01-27 17:09] Bertram25 commented on #455
Arg, you are putting pressure on me :P

[2015-01-27 17:12] eugeneloza commented on #393
Thanks :)

[2015-01-27 17:13] Bertram25 commented on #419
They are sliders, indeed, and yeah, they are still too greyish. I must say I had some problems to figure out stuff with the look'n'feel linked to them so I was happy once they were working fine without focusing too much on their graphics.
Now the look'n'feel has been tamed, I'll change those to make them more inline with the rest.

[2015-01-27 17:14] hwoarangmy commented on #455
Work you coding monkey !!!

[2015-01-27 17:16] Bertram25 commented on #455
![images](https://cloud.githubusercontent.com/assets/765917/5923037/a5c31f0e-a650-11e4-90af-3e2f56009ff7.jpg)

[2015-01-27 17:38] hwoarangmy commented on #455
I like your glasses. It suits you well ^^

[2015-01-27 22:57] hwoarangmy opened #456 "Claimed walls top side not coloured when marked"
Since #448

![odscreenshot_2015-01-25_090110_0](https://cloud.githubusercontent.com/assets/7493706/5890840/bdf9efe4-a470-11e4-9201-4fdc9980cc71.png)

[2015-01-27 23:04] hwoarangmy commented on #456
I've just noticed that some dirt have the same bug (it is not obvious but the dirt tiles in the center are marked):
![odscreenshot_2015-01-28_000025_0](https://cloud.githubusercontent.com/assets/7493706/5929120/24ed5ab2-a681-11e4-8502-41eb3ccfc745.png)

[2015-01-27 23:19] oyvindln commented on #456
It looks like the normal map isn't working on the tiles where this is happening, and the lighting is acting weird, so there is still some issue with it not being applied all the time. I've had similar things happen, but I haven't managed to make it happen consistently, so I'm not sure what's causing it.

[2015-01-28 00:28] Bertram25 commented on #456
Just out of intuition, do you think things like vertices with inverted coordinates and the like might give problems with normals and colors with certain drivers?
@Danimal696 Could check whether claim walls have something different from the dirt tile in term of topology, coords used, ...?

[2015-01-28 01:25] oyvindln commented on #456
That is a possibility yes.

[2015-01-28 09:47] hwoarangmy commented on #456
@oyvindln FYI, I've tried on another computer (windows 7 / Intel GC). I've activated glsl150 and I've exactly the same behaviour as with the other computer (windows 7 / nvidia GC): with OpenGL renderer, normals don't work and I have graphical glitches and with GL3+ renderer, black screen.
Note that I compile and use debug versions (of OD and the renderers)
The GL3+ renderer might be broken (it is

[2015-01-28 10:36] #11 closed, assigned to hwoarangmy

[2015-01-28 10:58] Bertram25 commented on #456
@hwoarangmy On the other computer, do you still have normals problems?

[2015-01-28 11:25] Bertram25 commented on #446
@oyvindln Isn't this issue fixed, except for #456 ?

[2015-01-28 11:38] hwoarangmy commented on #456
I have exactly the same behaviour: with latest @oyvindln patch, normals work but marked top claimed wall/some dirt tiles don't.
And with glsl150/GL3+ renderer, same as what I posted on @oyvindln PR.

[2015-01-28 12:40] Bertram25 commented on #455
Eh eh.

[2015-01-28 12:44] Bertram25 opened #458 "Readd models with normal support."
Now that @oyvindln took care of the normal support main effort, we can now benefit from it. :)

I'd propose this issue about tracking which model is being done, and waiting upgrade.

Part of this issue is also about adding the necessary wiki doc about one makes a models with normal support.

[2015-01-28 12:45] Bertram25 commented on #458
@Danimal696 Do you mind taking up this one?

[2015-01-28 12:45] Bertram25 commented on #418
0.5.0 starts to look good indeed. :)

[2015-01-28 12:46] oyvindln commented on #446
Yep

[2015-01-28 12:47] #446 closed, assigned to oyvindln

[2015-01-28 12:48] Bertram25 commented on #456
k, thanks for all the tests. I bet you'll be our eyes on this one. (While I'll also test on windows asap. Hopefully, I'll have the issue.)
Still, I do think the models themselves might have their part of responsability, and I wish I knew how to make sure of it. Maybe it's time to restart blender for me. ;)

[2015-01-28 12:49] Danimal696 commented on #456
that piece seems to be Dirt_10001000b, its exactly the same as all the others material,texture, normal wise. Could you try a dirty trick? erase that piece .mesh and replace/rename with Dirt_10001000a or any other mesh that works. If its a problem of only that piece ill try redoing/re-exporting or whatever is needed.

[2015-01-28 12:50] Danimal696 commented on #456
Also,sorry for low activity but my college exams are taking all my time.

[2015-01-28 12:52] Danimal696 commented on #449
since the old maps are not working anymore and they were the ones with armed goblins, is it still needed him having the dummy bones?

[2015-01-28 12:53] Bertram25 commented on #456
The mesh replacement is here: https://github.com/OpenDungeons/OpenDungeons-media-source/blob/master/Models/OD_Tilesets/OD_Tilesets_export/Tilesets_binary/Dirt_10001000a.mesh

Np at all for me. Exams first. It's cool to know you're around from time to time, though. :)
Break a leg.

[2015-01-28 12:59] Bertram25 commented on #449
There is no urgency at all, but I think that yes, for several reasons:
The first and the less important one being that the game is moddable and that it would prevent an useless warning.
The second one is that you'll have to re-export the model anyway (with normal support).
The third one is because you love us. Wait, no that's not a valid point in fact. ;)

[2015-01-28 13:46] hwoarangmy commented on #456
FYI, I've already had a look (I've already had occasions to test blender) and I've seen nothing special about normals (direction is ok on all the models I've seen). It may be an export problem, though, since all the tileset is in one blend file.

[2015-01-28 13:55] Bertram25 commented on #456
Ok, then it might be time to try new exports, indeed. :)

[2015-01-28 14:53] hwoarangmy commented on #456
Seems like a good idea to figureout if the problem comes from the mesh or from the materials/code. I will make some tests tonight.

[2015-01-28 16:07] Bertram25 opened #459 "Turn the forge into the workshop"
The current forge should be turned into the workshop.

The workshop will still be used to craft traps, but its models have to be changed as the forge models will be reused to create the new forge, where creature equipment will be forged.

Also the workshop logic will have to be upgraded so that traps are crafted only when needed and not at random. More info at: http://forum.freegamedev.net/viewtop

[2015-01-28 16:50] Danimal696 commented on #458
ok, but this need some on-site testing to see if the results are good or not, ill start when you do a new release, for now all rooms and new creatures models would need it.

[2015-01-28 17:11] Bertram25 commented on #458
Note to self: Time for a new windows release. ;)

[2015-01-28 21:07] hwoarangmy commented on #456
I've stubbed the mesh creation to use Dirt_10001111.mesh (mesh that works) for every refreshed tile. With this tile, it woks. Then, I've done the same with Dirt_00000010.mesh and I see the problem with every tile. I've also tried to change the rotation (to see if something was done in code) and I always have the problem with Dirt_00000010.mesh.
So, that seems to be a mesh problem...

[2015-01-28 21:19] akien-mga opened #461 "CMake: OD_OGRE_PLUGIN_DIR_REL is not properly assessed on Ubuntu 14.10"
Follow-up of this PlayDeb bug report: https://bugs.launchpad.net/getdeb.net/+bug/1415604

The OD_OGRE_PLUGIN_DIR_REL variable ends up as an empty string on Ubuntu 14.10 (using the ogre-1.9-dev package from the Ubuntu Universe repository I suppose), therefore the PluginPath is empty in plugins.cfg: https://github.com/OpenDungeons/OpenDungeons/blob/development/cmake/config/plugins.cfg.in#L4

The var

[2015-01-28 21:44] oyvindln commented on #461
Hm, I'm using Ubuntu 14.10, and using pkg-config to find the plugin directory has worked fine here. It looks like it may have something to do with the lookup when packaging, as from the log it's looking in the deb build directory. (/build/buildd/ogre-1.9-1.9.0+dfsg1/OgreMain/src/OgreDynLib)

[2015-01-28 21:50] akien-mga commented on #461
Maybe pkg-config is missing during the packaging? It's not listed explicitly as a build-depends, but I don't know if it would be part of a minimal buildsystem by default: https://github.com/ckorn/PlayDeb/blob/utopic/opendungeons/control

[2015-01-28 21:51] akien-mga commented on #461
Side note: we should probably display a BIG warning when OD_OGRE_PLUGIN_DIR_REL can't be defined properly, something that would catch the eyes of packagers and other users (even if it should not prevent the CMake step to succeed IMO).

[2015-01-28 22:00] oyvindln commented on #461
That could be the issue yes. And yeah, there is currently no output if pkg-config is missing, we should add a big warning. Another question is why the OGRE find script isn't finding it in the first place.

[2015-01-28 22:37] oyvindln commented on #461
There seems to be a bug in FindOGRE.cmake, it's not taking into account the version suffix for the ogre plugin folder. It seems to be fixed upstream, so updating the ogre cmake files (FindOGRE.cmake, not sure if the other files need updating.) should solve it. I can fix that in this branch in my next PR. Though, should we also update it in the stable branch, or should we simply ask the getDeb peop

[2015-01-29 00:08] Danimal696 commented on #456
then, its the mesh problem, i kindly request a new release to mess with :)

[2015-01-29 07:44] Bertram25 commented on #456
Yep, I'll be on it asap. :)

[2015-01-29 08:41] akien-mga opened #462 "GUI: drop down-menus show a caret (text cursor) on hover"
When you hover over a drop down menu (e.g. in a skirmish level configuration screen), there comes a caret (aka text cursor) under the mouse pointer, so you end up with two pointers: the system one + the caret.

This does not make much sense since no text can be typed in the drop down menus, so it would be nice to get rid of it.

[2015-01-29 08:41] #419 closed, assigned to Bertram25

[2015-01-29 12:55] akien-mga opened #463 "Create a portable binary release of OD 0.4.9"
As the title says :-)

I've done some work on this, building OD and its dependencies in a chroot for a relatively old release (to prevent building against a too recent glibc that won't be backward compatible). I chose Mageia 3 for the matter, it's not the oldest one out there (was out mid-2013), but it was supported until recently so I don't have to fear too much about bundling security flaws.

Th

[2015-01-29 12:56] akien-mga opened #464 "Document the creation of a portable binary release"
Once I'm done with #463, I should properly document the needed steps, improve the bash scripts I used and add them to the repo.

[2015-01-29 13:59] akien-mga commented on #463
Here's a portable binary release for 32bit linux, if one of you has such a distro or VM, I'd be glad to have some tests: http://dl.free.fr/uxCTKwrhA

_Edit:_ I also uploaded the file on my FTP, since dl.free.fr is not that friendly to non-French speaking users :)
_Edit2:_ With the link, it's better: http://remi.verschelde.fr/files/opendungeons/opendungeons-0.4.9-linux-i586.tar.xz

I build it in a

[2015-01-29 17:31] oyvindln opened #465 "Disable angelscript untill we actually use it again"
Since we aren't using angelscript for anything at the moment, I propose we disable or remove it, as it's only causing longer compile time and unneeded complexity.