[2015-01-29 19:30] hwoarangmy commented on #465
I completely agree.

[2015-01-29 20:06] #192 closed, assigned to nobody

[2015-01-29 21:28] akien-mga commented on #463
I'm now preparing a 64bit Mageia 3 chroot to create 64bit portable binaries.

[2015-01-29 23:30] akien-mga commented on #463
64bit portable binary release: http://remi.verschelde.fr/files/opendungeons/opendungeons-0.4.9-linux-x86_64.tar.xz

I tested this one on Mageia 5 (it was also built in a Mageia 3 chroot), it works fine. I'd be glad to have some tests on Debian (@Bertram25), Ubuntu (@oyvindln) or openSUSE (@tomluchowski).

[2015-01-30 10:46] Bertram25 commented on #463
@akien-mga ack. I'll test on Debian. :)

[2015-01-30 10:56] akien-mga commented on #463
I just got a confirmation that it works on Fedora 64bit.

Note that since I built the binaries on Mageia 3, they most likely require glibc > 2.17 to work, i.e. it should work on distros like Ubuntu 13.04 and RHEL 7, but it probably won't work on Debian 7 stable (wheezy). But IIRC you are on Testing?

On the other hand, I think we'll provide such binaries more for the sake of convenience, and as lo

[2015-01-30 11:15] Bertram25 commented on #463
Worse. ;) A continously improving mix of SId/Experimental. I mean more and more Sid, less and less Exp as the time flies.

Are those static builds, I suppose, btw? Such builds are cool and aren't very common. I hope this will help people play OD with more ease. :) Thanks for the effort.

[2015-01-30 11:19] akien-mga commented on #463
I did not make static builds but I bundled the shared libraries using a RPATH, following this nice guide: http://freegamedev.net/wiki/Portable_binaries
So you'll find (hopefully) all relevant shared libraries in ./lib, and the binary will still expect to find some system-wide libraries for glibc, OpenGL, etc.

[2015-01-30 14:25] Bertram25 commented on #463
Ah, even better. :)

[2015-01-30 15:40] oyvindln opened #468 "OpenAL segfaults on exit"
This happens to me occasionally. The segfault is happening in OpenAL somewhere, and not in the main thread, so I can't get a sensible bactrace to easily find where it is.

[2015-01-30 15:56] hwoarangmy commented on #468
I confirm it has already happened to me and I also had no interesting backtrace for the same reason

[2015-01-30 18:17] Bertram25 commented on #468
It's more a SFML problem IMHO. I'll have a look at their bug database.

[2015-01-31 01:13] oyvindln commented on #468
I think it could easily be a problem in our code.

[2015-01-31 09:32] hwoarangmy commented on #468
Yes, I would also guess at a wrong use of SFML (calling functions in a way we shouldn't). Since it happens when exiting the game, we might call some close function when SFML is in a state it cannot be closed. Or we can also imagine that we don't call a close function before exiting so it is not properly closed.

[2015-01-31 14:33] Bertram25 commented on #468
Or that yes. What's bothering me is that it is random. In any case, I'm surely guilty here, eh.

[2015-01-31 14:40] Bertram25 commented on #465
Assigning @oyvindln since he's done it in #466

[2015-01-31 14:42] oyvindln commented on #465
I haven't completely disabled it yet. It's still compiled and linked despite not being used. (Should I remove that too?)

[2015-01-31 14:42] Bertram25 commented on #461
If it can be useful for you guys, I can cherry-pick a commit back to stable, if you give me enough pointers.

[2015-01-31 14:44] Bertram25 commented on #465
I guess you're speaking about the libangelscript.a part? IMHO, yes, you can if you have the time to add a fix for that.

[2015-01-31 14:49] Bertram25 commented on #299
Setting back to 0.5.0 as @oyvindln has done it in #466

[2015-01-31 14:53] oyvindln commented on #461
Updating FindOGRE.cmake to [this](https://bitbucket.org/sinbad/ogre/src/5ee010d450fd064007b61442124222bfb3d57a58/CMake/Packages/FindOGRE.cmake?at=default) should be enough.

[2015-01-31 14:54] Bertram25 commented on #411
Moving to 0.5.0 since it seems it is the plan.

[2015-01-31 14:56] Bertram25 commented on #461
Didn't check yet but i suppose this is what you've done, right?
If yes, I'll create a PR for stable asap (since it will need testing).

[2015-01-31 14:59] oyvindln commented on #461
Well I updated some more files, and removed the part of the script that used pgk-config to look for the file if the find script wasn't finding it, though that shouldn't be needed if you want to keep the change small, see https://github.com/oyvindln/OpenDungeons/commit/641e426df0ae70dc4e7b498a61c2193d2604bcd0

[2015-02-01 19:46] oyvindln commented on #468
I've had a look at this, and it seems that SFML creates a static AudioDevice object whenever the first sound or music object is created, which sets up an OpenAL context on creation, and destroys it when it is destroyed. (https://github.com/LaurentGomila/SFML/blob/2.1/src/SFML/Audio/AudioDevice.cpp#L58) Since the crash happens after everything that happens in main (which I tested), I suspect this i

[2015-02-01 21:17] Bertram25 commented on #468
Wow, nice find.
I wonder if they somehow are stored contiguously in memory or something similar, explaining the crash if for instance, when deleting Ogre::root, the deletion doesn't actually respect the object length.
I've seen that once or twice. For instance it happened once in Flare, btw.

It's a wild guess, but could it be also that the resource path given by Ogre is linked in a weird way by S

[2015-02-02 08:17] hwoarangmy opened #469 "Forge/Workshop should only produce needed traps"
See:
http://forum.freegamedev.net/viewtopic.php?f=37&t=6085

[2015-02-02 08:20] hwoarangmy commented on #426
I've updated the how to compile with MSVS2013 but the page is not accessible anymore. After my changes, I've tested it and it was working fine. I've even tried to access it with my browser history but the page seems to be gone. Is there a way to see what happened ?
The page is:
https://github.com/OpenDungeons/OpenDungeons/wiki/How-to-compile-using-MSVC-Express-2013-

and it used to be
https://gith

[2015-02-02 08:34] akien-mga commented on #426
It seems that the last dash (maybe representing the + in "2013+"?) got removed somehow, you page is here: https://github.com/OpenDungeons/OpenDungeons/wiki/How-to-compile-using-MSVC-Express-2013

I found it by cloning the wiki repo at https://github.com/OpenDungeons/OpenDungeons.wiki.git

[2015-02-02 09:55] hwoarangmy commented on #426
ok. Thanks for the trick about how to find the pages ^^

[2015-02-02 10:05] hwoarangmy opened #470 "Hero faction AI do not build rooms"
To dig tiles, the code searches for the first available kobold (in the GameMap class - hardcoded). Since the PR about changing the worker per faction, the hero faction do not have kobolds anymore and, thus, cannot dig.

[2015-02-02 10:05] Bertram25 commented on #426
Don't forget that you have the Pages tab on the right part of the screen where your page should be listed, whatever its name.

While we're on the subject, cloning the wiki is also the sole way to get images there (without external links, of course.)
I'll push images of the icon how-to so we have an example of how to use that. :)

[2015-02-02 10:07] Bertram25 commented on #426
Ah, also: git with push access clone command:
`git clone git@github.com:OpenDungeons/OpenDungeons.wiki.git od-wiki`

[2015-02-02 10:30] hwoarangmy commented on #426
ok, thanks. I've fixed the links.

[2015-02-02 10:43] Bertram25 commented on #426
Ok, I've added a few images. I'll add the rest once I've found my save of the former ones...
But basically, if you go to the how to make an icon, you should have a working sample.

[2015-02-02 11:10] Bertram25 commented on #470
Oops, my fault. I'll fix it if you want.

[2015-02-02 11:12] hwoarangmy commented on #470
No problem, it happens ^^
I've not done anything about this one so feel free to take it

[2015-02-02 11:13] Bertram25 commented on #470
k, on it. :)

[2015-02-02 11:15] #346 closed, assigned to hwoarangmy

[2015-02-02 11:15] #451 closed, assigned to hwoarangmy

[2015-02-02 13:41] Bertram25 commented on #453
Tested. So far, it doesn't make any differences. The current settings are fine, then.

[2015-02-02 13:41] #453 closed, assigned to Bertram25

[2015-02-02 13:44] Bertram25 commented on #452
As there are 196*2 calls to getX() / getY(), IMHO the current behaviour is fine.
Btw, getX() or static_cast<int>(getPosition().getX()) does give the same result now.

[2015-02-02 13:44] #452 closed, assigned to Bertram25

[2015-02-02 13:46] Bertram25 commented on #299
Done with #466 thanks to @oyvindln

[2015-02-02 13:46] #299 closed, assigned to oyvindln

[2015-02-02 13:47] Bertram25 commented on #459
The current need are the models. ;)

[2015-02-02 14:39] akien-mga commented on #463
I've already had a couple reports that the binaries worked fine on Fedora and Calculate Linux, so I'll upload them to SourceForge. If you notice something wrong with the binaries though, I'll gladly try to fix them.

Instructions to build the binaries incoming in #464 :-)

[2015-02-02 15:07] Danimal696 commented on #459
will have to wait until i finish my exams next week

[2015-02-02 15:56] akien-mga commented on #463
The binaries are now online: https://sourceforge.net/projects/opendungeons/files/

[2015-02-02 16:06] hwoarangmy opened #473 "Memory leaks in CreatureMood::load and SpawnCondition::load"
Valgrind reports memory leaks in CreatureMood::load and SpawnCondition::load

[2015-02-02 16:21] oyvindln commented on #463
When testing this file I get (Xubuntu 14.10):
`./opendungeons.x86_64: error while loading shared libraries: libpcre.so.1: cannot open shared object file: No such file or directory`

[2015-02-02 16:27] akien-mga commented on #463
Reopening then, it seems I need to bundle pcre too. Can you check with ldd if other libs might be missing?

Basically `ldd ./opendungeons.x86_64 | grep "not found"` should tell you the missing libs.

[2015-02-02 16:44] Bertram25 commented on #463
Just tested x64, same error than @oyvindln .

ldd interesting output:

[code]

no other libs seems missing for me.

[2015-02-02 16:45] akien-mga commented on #463
Thanks, I'm now uploading binaries with bundled pcre.

[2015-02-02 16:50] akien-mga commented on #463
I updated the files on SourceForge, they should be available in ~30 min.

[2015-02-02 16:50] #463 closed, assigned to akien-mga

[2015-02-02 16:53] Bertram25 commented on #463
Cool, I'll retest by then. :)

[2015-02-02 18:46] Bertram25 commented on #459
Np at all. :)

[2015-02-02 19:38] Bertram25 commented on #463
I've tested the x64 build. It's running fine! :)

[2015-02-02 19:43] Bertram25 commented on #376
Btw, I had a few games playing the heroes, and so far, wizards do fine when with knights.
Wizards alone should indeed be a bit awkward with melee units, but this is a bit expected, right?
So is this still an issue?

[2015-02-02 19:55] oyvindln commented on #463
works fine here.

[2015-02-02 20:49] Bertram25 commented on #366
With latest changes (the use of CEGUI for the console, AFAIK, the game runs fine without FreeMono.ttf).

[2015-02-02 21:00] Bertram25 commented on #366
Ok, in case we may need an absolute resource path, I tested by adding this:

[code]

The log output is this:

[code]

So this is doing fine. I think this issue can be closed, though.

@akien-mga WDYT?

EDIT: We could also remove the FreeMono.ttf file, right?

[2015-02-02 21:24] oyvindln commented on #366
I we're still use another font file (MedievalSharp_bold.ttf) for the chat, stats display etc, so I don't know the cegui console solves the issue. We might want to use CEGUI for that too at some point but for now we aren't.  (Though we can probably remove that file yes.)

[2015-02-02 21:39] Bertram25 commented on #366
True. This will be needed one day, but I suppose it's another issue.
What I'd add first is using another color for the commands output. It should give something cool. :)
If everyone agrees, let's say removing this font and the corresponding possible links to it will be enough to close this issue.
Then, once we'll need another font for the console and so on, we can open a separate one.

WDYT?

[2015-02-02 21:46] Bertram25 opened #475 "Make workers seek gold, crafted traps and searching for corpses more proeminent in that order."
Without speaking of forced actions which always have precedence, and because such actions are the most rare in game, they should be made more important:
- Searching for dropped gold should come right after digging some gold.
- Searching for crafted trap or dropped traps on a claimed tile to place should come before claiming tiles. Same for searching corpses.

Feel free to comment if you see someth

[2015-02-02 22:44] Danimal696 commented on #376
i would say yes, any sifth into the battle line send them panicking everywhere (try flanking them)

[2015-02-02 23:48] #464 closed, assigned to akien-mga

[2015-02-03 12:51] akien-mga opened #476 "Remove the non-ascii character from materials/textures/Env-blaugrünF.png"
I'm preparing an OD installer for Lutris: https://lutris.net
and I'm faced with this error when Lutris tries to extract the archive:

This is a Python issue that I'll report to the Lutris devs, but at any rate I think we should try to refrain from using non-ascii characters in file names, it can only bring trouble in a cross-platform game such as ours.

[2015-02-03 12:53] akien-mga commented on #476
No idea where this texture file is used though, @Danimal696 ?

[2015-02-03 13:12] Danimal696 commented on #476
its a shader, i thought was used on the dungeon temple material file, but its not. I have no idea who it belongs to, i erased it and everything looked fine, maybe the old gobling used it? it belonged to something green, but neither the new goblin or tentacles use it.

[2015-02-03 13:16] oyvindln commented on #476
It's not present in any of the material files, so I assume it's not in use.

[2015-02-03 15:10] Danimal696 commented on #476
just rename it, if later is still unused we can just erase it

[2015-02-03 15:54] #469 closed, assigned to hwoarangmy

[2015-02-03 22:55] hwoarangmy commented on #456
I've noticed something I'm sure @oyvindln will love. When I launch skirmish big test map, the dirt tiles are normal (normals are correct). But when I launch skirmish 2v2 small test map, the tiles are like in my previous screenshot (even if I launch the second map after loading the first one without quitting OD).
I don't know if it can help but it means that the bug is probably not in the models af

[2015-02-04 11:23] akien-mga opened #478 "Editor: minimap coordinates are not reset when loading a new level"
If you load a level in the editor, move the camera to get the minimap centered on another pair of coordinates than the start point, close the level and load a new one, the minimap will show the part of the level where you were previously (and if you loaded a different level, it will show the coordinates in this new level that correspond to where you were in the first level).

Move the camera does

[2015-02-04 11:41] akien-mga commented on #462
I don't see a method to hide the caret in the CEGUI::Combobox class reference: http://static.cegui.org.uk/docs/0.8/classCEGUI_1_1Combobox.html

[2015-02-04 17:15] hwoarangmy opened #479 "Homogenize how to know if editor mode"
For record.
Currently, to know if we are in editor mode, some functions use GameMap::isInEditorMode().
Others use a boolean parameter and others the Mode.

We should see if we can find a unique way to check if we are in editor mode.

[2015-02-04 23:23] hwoarangmy commented on #411
The kobold spell is in. I'm looking forward the kobold replacement ;-)

[2015-02-04 23:42] Danimal696 commented on #411
ok, ok, he will be the first after im done with exams next week

[2015-02-05 08:37] hwoarangmy commented on #411
cool ^^

[2015-02-05 09:35] #455 closed, assigned to hwoarangmy

[2015-02-05 09:35] #473 closed, assigned to hwoarangmy

[2015-02-05 09:47] Bertram25 opened #480 "Workers don't go to the nearest treasury tile anymore."
As described here:
http://forum.freegamedev.net/viewtopic.php?p=62341#p62341

They now fill the treasury in the tile creation order, or so it seems.

[2015-02-05 09:49] Bertram25 opened #481 "The "star" on ground tiles has got stray pixels"
As described here:
http://forum.freegamedev.net/viewtopic.php?p=62341#p62341

[2015-02-05 10:31] akien-mga opened #482 "FindCEGUI: Only search for the modules that we actually use"
When doing my portable binaries for OpenDungeons 0.4.9 I've built CEGUI with the minimal set of modules needed to run OD, i.e. CEGUIExpatParser and CEGUICoreWindowRendererSet (at least OD does not complain about missing modules when having only those two bundled).

But with the development branch, OD can't be built against such a stripped CEGUI version since our FindCEGUI.cmake script searches for

[2015-02-05 10:36] akien-mga commented on #482
Ah nevermind, I think I just have a too old CMake on my Mageia 3 chroot, I'll try building a more recent version.

[2015-02-05 10:43] hwoarangmy commented on #480
Yes. That's true for all carryable entities (gold, corpses, traps, ...)
I've been thinking about an algorithm to avoid to compute all the paths to possible rooms (as path computing is probably one of the most cpu consuming action we can do) where a carryable entity can be carried. It's all about magic numbers but I have an idea that may work ^^

[2015-02-05 10:51] akien-mga commented on #482
Indeed, it was failing with CMake 2.8.10 but works fine with CMake 3.0.1, so I close the issue.

[2015-02-05 10:51] #482 closed, assigned to nobody

[2015-02-05 11:08] akien-mga opened #483 "OpenDungeons does not compile with gcc 4.7.2"
As seen on Mageia 3 with gcc 4.7.2, we are now using C++11 features that were not supported yet in gcc 4.7.2:

[code]

What should we do about it? Add a mention in the README that gcc >= 4.8.0 is needed?
I guess I'll have to try to package a more recent gcc in my chroot if I want to make development snapshots of the current development branch :)

[2015-02-05 11:48] oyvindln commented on #483
Strictly speaking, it's the c++ standard library, not the compiler, but yea, we should add that to the readme.

[2015-02-05 12:12] akien-mga commented on #483
Is there a lot to patch to make OD compatible with gcc 4.7.2? I don't mean to go backwards, but maybe we could maintain a patch so that I can still create OD binaries with gcc 4.7.2 (since an "old" glibc is preferable for portable binaries, I don't want to upgrade my chroot to a new release altogether, and building gcc seems a bit hard :-/)

[2015-02-05 12:17] oyvindln commented on #483
I don't know, there is a list showing C++11 language support in gcc 4.7, but I can't find a list showing library support, which seems to be the problem here.

[2015-02-05 12:33] akien-mga commented on #483
I found this: https://gcc.gnu.org/onlinedocs/gcc-4.7.1/libstdc++/manual/manual/status.html#status.iso.2011

It does have: 23.2.4    - Associative containers -  Partial -   Missing emplace members

[2015-02-05 14:12] oyvindln commented on #483
If that is the only issue, changing it wouldn't be a huge problem. Also, from a quick look, it seems it's only debian stable among common distros that doesn't have at least gcc 4.8 in the currently supported versions.

[2015-02-05 15:26] Bertram25 commented on #483
Is it worth fixing in the code while on the other hand, we just made MSVC 2013 a prerequisite for MS tools liking devs? I would personally fix the doc. WDYT?

[2015-02-05 15:28] Bertram25 commented on #411
Watch out, internet never forgets. ;P

[2015-02-05 15:43] akien-mga commented on #483
I also think that's what we should do in the main tree, there is no need to go backwards IMO.

The main issue for me is that I need to build OD binaries on an _old_ distro (more precisely, against an old enough glibc) to make them portable (because if I build them against glibc 2.21 that I have here, they won't work on most of the distros that are still with glibc <= 2.20). So I chose Mageia 3 sin

[2015-02-05 15:47] Bertram25 commented on #483
Hmm, Debian 8 is in freeze already, right? May it won't that long.
In any case, if it's about changing two lines of code, yes, we can for it. :)

[2015-02-05 16:12] hwoarangmy commented on #483
Whatever the changes are, IMHO, unless there is a huge performance hit, we should use the same sources.
We should just define which systems we want to support and make sure OD sources can be built on them. For windows, it is MinGW 4.8.1 and MSVS2013 express.
For linux, we have to make a choice.

[2015-02-05 17:21] Bertram25 commented on #483
IMO, full standard c++11 support as it is now a reality in most systems, then.
And it's what we agreed about AFAIK.

[2015-02-05 17:26] akien-mga commented on #483
Fine by me :-) I'll upgrade my chroots to Mageia 4 then for the portable releases (i.e. glibc 2.18, we should still be okay for most users IMO).

[2015-02-05 17:47] hwoarangmy commented on #483
I had more a glibc/gcc version in mind but I'm not as aware as @akien-mga about distros and most used versions

[2015-02-08 01:02] hwoarangmy opened #485 "Creatures should only train on central active spots in Training hall. Wall active spots giving only a bonus"

[2015-02-08 12:20] Danimal696 commented on #485
why? you should have already seen you are always short on training spots, theres no point in limiting them anymore, and the bonus would be too poor to justify building a square/walled room

[2015-02-08 18:48] hwoarangmy commented on #485
Well, I can see several reasons:
- ATM, TrainingHall is the only room where wall active spots can be used by creatures. IMHO, it would be easier to understand if we had the same behaviour for all rooms.
- When nearby active spots from a training hall are used at the same time, there are too many creatures one over each other and its pretty messy
- When creatures use wall active spots, there are to

[2015-02-08 19:44] eugeneloza commented on #485
Hmm... I can't say I understand the mechanics, but I think it's a good idea to require the player/ai to build larger bases. At least for visual effect. However, usually dungeons are meant to be 'narrow' and 'overcrowded', rather than having a huge training hall.

[2015-02-09 10:02] hwoarangmy commented on #16
This issue is closed by #477

[2015-02-09 10:02] #16 closed, assigned to nobody

[2015-02-09 12:30] hwoarangmy commented on #456
I've made some tries to see why dirt tiles do not behave the same in the small test map or in the big test map and I've seen that when I add rock tiles in the skirmish small test map, the corresponding dirt tiles are well displayed (if I place a single rock tiles, the single dirt tiles will be well displayed while the others dirt tiles will be displayed like in the screenshot). I've tried to add t

[2015-02-09 20:22] Danimal696 commented on #485
ok, remember me to create a couple more of wall objects

[2015-02-09 21:20] hwoarangmy commented on #485
ok for using only central active spots ?
Concerning wal objects, you can do as many as you want ^^
Especially for workshop or new rooms

[2015-02-09 21:27] Danimal696 commented on #485
Yeah, im fine; training room could use at least another wall object

[2015-02-10 08:41] Bertram25 commented on #485
Fine as well, it's simply easier to get for the player. :)

[2015-02-10 19:18] Bertram25 commented on #456
As the rock is the same mesh with an override on the texture, I wonder whether there could something interesting behind that. Nice clue, thanks for sharing it. I'll have a look in the ogre forums and in their code during the week. :)

[2015-02-10 19:19] Bertram25 commented on #483
Are we got an agreement on this issue, btw?

[2015-02-10 19:44] akien-mga commented on #483
I think so: document the minimum GCC version needed in the README (i.e. gcc 4.8.0), and I'll upgrade my chroots to generate the binary releases for 0.5.0 :-)

[2015-02-10 19:46] Bertram25 commented on #483
Ok, then the readme and faq should be updated. Should the binary builds scripts, too? (I think not but better ask)

[2015-02-10 19:53] akien-mga commented on #483
I don't think we need to update the binary build scripts, they are mostly for my own usage for now, and could be a nice resource for one of you or our successors ;) if I were MIA... and when that happens, gcc 4.7.x will be an old memory :-)

[2015-02-10 20:05] Bertram25 commented on #483
eh eh. Cool to hear. :)

[2015-02-10 20:56] #19 closed, assigned to hwoarangmy

[2015-02-10 20:56] #475 closed, assigned to hwoarangmy

[2015-02-10 20:56] #479 closed, assigned to hwoarangmy

[2015-02-10 20:56] #480 closed, assigned to hwoarangmy

[2015-02-10 20:56] #485 closed, assigned to hwoarangmy

[2015-02-10 21:22] Bertram25 commented on #19
We'll want to help moving them but that's for another issue now. :)

[2015-02-10 21:24] Bertram25 commented on #20
#19 is done, btw.

[2015-02-10 21:25] Bertram25 commented on #20
Note to self: Find a torch icon asap.

[2015-02-10 21:26] Bertram25 opened #486 "Editor: Make moving lights easier."
Now that #19 is done, making easier to move lights should be studied sometimes in the future.
Note: Deleting lights is easier to achieve through right-click than left-clicking on them to make them move.
This means the engine can easily get a hand on them but somthing in the code must prevent their reach with left-click somehow.

[2015-02-10 21:45] Bertram25 opened #487 "Editor: Workers and spell tabs improvements."
- [x] ~~The Spell tab shouldn't appear in the editor.~~ Yes, it should, to be able to add spells in game as gift boxes.
- [x] The worker button should create the default seat worker and not forcefully a kobold.

[2015-02-10 22:47] hwoarangmy commented on #487
I agree with the second point but the first one was added on purpose. IIRC, we said that spells would have to be carried to the dungeon temple like crafted traps. The spell tab was added to allow adding those in the editor.

[2015-02-10 23:08] Bertram25 commented on #487
Ah ok, then. Nevermind. I don't recall the discussion but the point is valid nevertheless.

[2015-02-10 23:18] Bertram25 commented on #20
Which one do you prefer?
http://game-icons.net/lorc/originals/lantern-flame.html
or
http://game-icons.net/lorc/originals/light-bulb.html

[2015-02-10 23:27] hwoarangmy commented on #20
The first one. It fits better for a game like OD ^^

[2015-02-10 23:30] hwoarangmy commented on #487
It's in #411
BTW, nothing is decided for now. In the issue, it was just an idea, we can change whatever we want if someone has something better in mind ^^

[2015-02-10 23:31] Bertram25 commented on #20
Deal. I'll add the prepared resource in my next PR.

[2015-02-10 23:34] Bertram25 commented on #487
Sure, but here I think you're definitely right, as for me.

[2015-02-11 08:40] #282 closed, assigned to Bertram25

[2015-02-11 08:40] #345 closed, assigned to Bertram25

[2015-02-11 08:40] #470 closed, assigned to Bertram25

[2015-02-11 08:43] hwoarangmy commented on #411
Do we agree with this behaviour?
- Creatures can work on library central active spots only. Wall active spots give a bonus (faster research) per wall active spot
- Once a research is done, a carryable research box will be created in the library and the corresponding room/spell will NOT be useable.
- The research box will then be carried by a worker to some room (ATM the dungeon temple but it can b

[2015-02-11 09:34] eugeneloza commented on #411
I have several ideas.
1. (The stuff I want to implement in my Project Helena game) The research is made at the library. BUT to research you have to find a determined set of prototypes first. I.e. you can't research LVL7 engine until you kill 10 enemies with LVL7 engines which are extracted and analyzed. To say it more OD-specific way, to research something you have to find a set of artefacts. Most

[2015-02-11 09:38] akien-mga commented on #418
Ticked a few boxes more. We're getting there! :-)

[2015-02-11 09:42] eugeneloza commented on #411
Another idea is to make a room specificly for storage of the research results. It may be not hard on design (I think I can do that if needed) - just colums with glowing colord spheres each representing one research and requiring enough space to store them. That would increase the rooms diversity.

[2015-02-11 09:46] hwoarangmy commented on #411
That's an interesting vision and we can use this kind of concept for campaign maps but for OD in general, I'm not sure it fits well. Games such as UFO AI uses this kind of stuff but we are talking of games that length 10 hours or more.
In OD, if we want to have an interesting multiplayer (which is the most important IMHO), we should aim at games from 15min to 1hour at most which is too short for t

[2015-02-11 09:55] hwoarangmy commented on #418
I will try to make a release ASAP so that @Danimal696 and @eugeneloza can have a look. BTW, is it possible to get access to sourceforge upload ? It will be easier than uploading it to dropbox and needing @akien-mga to download and upload it...

[2015-02-11 10:04] akien-mga commented on #461
This should have been fixed by 641e426.

[2015-02-11 10:04] #461 closed, assigned to oyvindln

[2015-02-11 10:05] eugeneloza commented on #411
Yes, I was thinking of campagin/singleplayer first of all :). It definitely does not fit multiplayer or small singleplayer maps :)

[2015-02-11 10:09] akien-mga commented on #418
Ping @Wout-van-Dongen ^^^

[2015-02-11 10:26] akien-mga commented on #20
+1 for the first icon

[2015-02-11 10:47] Bertram25 commented on #418
@hwoarangmy Yeah, you should have access, IMHO.

[2015-02-11 10:51] hwoarangmy commented on #411
Yes, for campaign, we need to find a main story line (even if in a game such as OD, we don't need something too complex) and unlock rooms/items one after each other depending on what happens in the story (finding some artefacts, killing special monsters, ...) to make the campaign feel like a whole and not a pack of maps.

[2015-02-11 11:30] Bertram25 commented on #411
Yes.

Yes. I'd even say that the temple should be usable as a gift boxes room, and that using a special room to store those elsewhere could come as a choice in the abilities along the path. The new room would then become the new place to store spells and abilities and the workers would then move them once the room is created if there is enough place in it. But that's for later.

First of all, comp

[2015-02-11 11:40] hwoarangmy commented on #411
To be honest, the idea of using the seat for reserach boxes popped while I was writting. This was an unanswered  question when I began to write ^^
But I thought the same about traps. It will be easier than using the room they are in ^^

EDIT: I created an issue #489

[2015-02-11 11:45] hwoarangmy opened #489 "To know which trap a forge should craft, we should craft seats instead of checking on forge rooms"
As discussed in #411
The idea is to set the seat when the trap is crafted. Then, when it is carried, the worker changes the seat to his one. However, any worker can carry a crafted trap owned by someone else.

Do we also allow to carry crafted traps from an ally ? I can see pros and cons. but as it is an evil game, my vote will be for yes ^^

[2015-02-11 12:52] Bertram25 commented on #489
+1

[2015-02-11 12:53] Bertram25 commented on #20
![lantern-flame](https://cloud.githubusercontent.com/assets/765917/6147222/6340529a-b1f5-11e4-9ea0-934971d267ea.png)
Here is the prepared icon.

[2015-02-11 13:19] hwoarangmy opened #490 "Editor is once again broken (when saving tiles)"
Thanks to me ^^

[2015-02-11 13:24] Danimal696 commented on #411
My two cents:
- The temple is a good place for storing, safest on the dungeon, will be pretty satisfying when you destroy one and all spell pop out ready for the taking
- look here:
  http://forum.freegamedev.net/viewtopic.php?f=37&t=6079&p=62436#p62436
  Basically :
  The colour represent focus (or Paths of Evil) Red: strength - minions buffing ,agressive, Grey: neutral - versatile and defensive

[2015-02-11 13:50] hwoarangmy commented on #411
ok. That brings us to how to choose what to research ? Should we choose a path ? Or each spell ? IMHO, it would be better to be able to choose somehow several researches at once to avoid to have to open the research tree each time a research is completed. That could be done by choosing a path or by picking each wanted spell (of course, spells that cannot be researched because requirements are not

[2015-02-11 14:00] akien-mga commented on #411
I am thinking of two possibilities:
- Civilization-like: you select one research (potentially one that you can't research right now, but for which you need to climb up its path), and then the library will automatically research all research topics that lead to the one you selected. That could allow to research either a whole path if you click the last research, or part of it if you want to special

[2015-02-11 14:03] eugeneloza commented on #411
Maybe, in order there would be no 'idle' research, the creatures research smth at random, inefficiently. Clicking a room brings up guided research dialogue.
Another possibility - bring up research selection screen at each creature drop to the library. As soon as the creature finishes assigned job, it walks away idle. Scholars would sometimes go and start the research at random.

[2015-02-11 14:20] Danimal696 commented on #411
i think being able to select what you want researched is for the best, i would vote for "À la carte"

[2015-02-11 16:40] Bertram25 commented on #411
If we go to the "A la carte", which is fine in it self, I wouldn't add a research list but visually show on the research tree what is being researched and what is pending.
At least in multiplayer, (I mean when not in the campaign where the next thing will be available through scenario only), I would either:
- (Preferred option) When the research queue is empty, the player should be warned about it

[2015-02-11 17:23] hwoarangmy commented on #411
In the screen provided by @Danimal696, it is not clear what depends on what (or we may want to stick to 1 item has to be searched per line per path to be able to go to next line).

For the record, the image is:
![research tree](https://cloud.githubusercontent.com/assets/7493706/6152122/fa4595b8-b21a-11e4-8eb2-11b585c703b8.png)

[2015-02-11 18:11] akien-mga commented on #411
Well as far as understand:

[code]

[2015-02-11 18:33] Danimal696 commented on #411
Yes that was my idea, you need at least 1 in the previous step to go down another step, the darker areas would correspond to research tiers that could be unlocked in the campaign (or by map setting configuration?) Research icon would have a tooltip explaining what they are, there could be lines joining topics from different trees to allow the research of a given one (say, you need to research spik

[2015-02-11 18:53] Danimal696 commented on #481
Is has a too low resolution, removing those pixels gives an awful result. This can be closed imo.

[2015-02-11 21:49] Bertram25 commented on #411
I guess we more or less agree on the overall idea of the research tree.
What @hwoarangmy is pointing out now, I guess, is that the research tree in its current form is a bit incomplete or lacking explanation.
Could you describe every still unused icons for a start?

[2015-02-11 21:50] Bertram25 commented on #481
You're the boss in art. ;)

[2015-02-11 21:50] #481 closed, assigned to Danimal696

[2015-02-11 21:54] Danimal696 commented on #411
there are some explanations on the forum post

[2015-02-11 21:57] Bertram25 opened #492 "Certain textures are unused."
We should list them, and then move them into the media repository.
- [x] materials/textures/Env-blaugruenF.png

[2015-02-11 22:00] Bertram25 commented on #411
Then bridges and the new forge (for equipment) are missing.

[2015-02-11 22:02] Danimal696 commented on #411
and doors and outpost

[2015-02-11 22:04] Danimal696 commented on #411
it was to have a guide of what it could be, many things could be added to it yet. Lest just stick with the implemented ones and prepare the place for the future ones

[2015-02-11 22:05] Bertram25 commented on #411
k, anyway we can't add random useless button in the research tree so I couldn't agree more on the actual implementation.

[2015-02-11 23:07] #366 closed, assigned to akien-mga

[2015-02-11 23:07] #476 closed, assigned to akien-mga

[2015-02-11 23:07] #483 closed, assigned to akien-mga

[2015-02-12 09:55] hwoarangmy commented on #411
@Bertram25 Do you want to go for the UI part ? If you want, I can do the client/server part. You are more used to CEGUI than I am. IMHO, the best is to think what we want to do from the UI and adapt the technical part to reach that.

[2015-02-12 10:50] Danimal696 commented on #411
to the ones who made the GUI, it would be needed to a have an icon for unresearched topics and a different one for researched ones; so its easy to know what has already been researched.

[2015-02-12 10:51] hwoarangmy commented on #356
isn't this closed by #488 ?

[2015-02-12 11:00] akien-mga commented on #411
I think the simplest way to achieve that would be to grey out unresearched topics, the highlight them (with a shiny outlet or something) when selected for research, and display them properly lighted when researched.

[2015-02-12 11:01] akien-mga commented on #356
It is, I forgot to add it to the commit log.

[2015-02-12 11:01] #356 closed, assigned to akien-mga

[2015-02-12 11:05] Bertram25 commented on #411
@hwoarangmy Np, for a common effort. I'll handle the UI part with pleasure.
I simply need to know what we want. Or i go wild and do a complete personal first try based on the discussion. ;)

AFAIK, in the UI, we'll want to add/remove research in/from the queue.
We'll want to see something telling us what is unavailable, available, being done and queued.
The available state of the, let's call that

[2015-02-12 11:15] Bertram25 opened #494 "Make the V key cycle the default viewpoints and readd support for the default starting view."
As discussed with @hwoarangmy
It will also means the I and O keys will disappear.

[2015-02-12 11:19] akien-mga commented on #494
+1 for this feature :)

[2015-02-12 11:28] Bertram25 commented on #426
Note to self: Add the missing images in the icon how-to. The images are there: http://forum.freegamedev.net/viewtopic.php?p=58762#p58762

[2015-02-12 11:29] Bertram25 commented on #426
Note to self: Bis: Import the how to make models tutorial in the wiki as well.

[2015-02-12 11:52] hwoarangmy commented on #411
I will add that there should be a message sent to the server when you have finished to set researches (after each clic if we want to validate each or after the whole if we want to check only once).
Then, the server will send a message back to the client with the researches that are (and will) be done.

Also, we have to keep in mind that the researches can be done (after the research box is in the

[2015-02-12 11:57] eugeneloza commented on #411
Let's also note, if we need a voice announcement(s) for 'research completed'. These may be generic 'Research completed' or specific 'Kobold spell has been researched'.

[2015-02-12 12:18] Danimal696 commented on #411
it would be better to have the generic for now, since we dont even know many of them we will have

[2015-02-12 12:22] eugeneloza commented on #411
Ok! Added this one to the script.

[2015-02-14 09:29] #486 closed, assigned to hwoarangmy

[2015-02-14 09:29] #487 closed, assigned to hwoarangmy

[2015-02-14 09:29] #489 closed, assigned to hwoarangmy

[2015-02-14 09:29] #490 closed, assigned to hwoarangmy

[2015-02-14 09:32] Bertram25 opened #496 "The coloration of marked tiles is too discrete."
I'll have a go at making it more visible.

[2015-02-15 14:02] Bertram25 commented on #456
This was a problem of the passes order in fact.

[2015-02-15 14:47] Bertram25 commented on #411
Hey,

Just to say that I'm this, but I've got one notice to add:
To stay pragmatic and permit the implementation to happen asap, what about the fact that I add a very simple research tree window, so that you've got something you can code against @hwoarangmy ?
This way, I can add the fancy stuff afterward.
In the meantime, I'd like you to make the ready-to-research items in the default state, and t

[2015-02-15 15:35] Bertram25 commented on #426
Missing images in both how to + models how to imported. Let's open new issues as we see specific needs.

[2015-02-15 15:35] #426 closed, assigned to Bertram25

[2015-02-15 21:18] hwoarangmy commented on #411
Good idea. I've also started to implement the research logic. If you could provide a version with only 1 or 2 spells and a stub in gui.cpp, it should be enough for me to test. And I will try to provide the needed so you have to bind the buttons you will had with the gui functions I will provide.

Anyway, I've thought a bit about research and I guess the tree (ie dependencies on researches) should

[2015-02-15 21:19] hwoarangmy commented on #456
Cool ^^

[2015-02-15 21:44] #456 closed, assigned to Bertram25

[2015-02-15 21:44] #494 closed, assigned to Bertram25

[2015-02-15 21:44] #496 closed, assigned to Bertram25

[2015-02-15 21:46] hwoarangmy opened #499 "Camera should go to the last battle field when pressing space"
As asked by @eugeneloza.

[2015-02-15 21:50] hwoarangmy opened #500 "Levels name are cut in the levels list when going in the editor"
To allow displaying more of the name, instead of displaying SKIRMISH - LevelName or MULTIPLAYER - LevelName, we could display SK-LevelName and MP-LevelName.

WDYT ?

[2015-02-15 21:51] akien-mga commented on #499
I guess you meant "when pressing _space_" as in the forum topic, escape already has some stuff to do ;)

[2015-02-15 22:12] hwoarangmy opened #501 "In Big test map, we get a message telling that PitDemon5 leaves your team while you don't won the creature"

[2015-02-15 22:16] Bertram25 commented on #501
Are you sure? In the big test map, you have creatures of your own team all across the map, just in case.

[2015-02-15 22:16] Bertram25 commented on #500
Fine by me. Good idea.

[2015-02-15 22:26] Bertram25 commented on #411
True. I don't think it's a good idea to start making this configurable, anyway. Ok, I'll deliver the code stub + layout asap.

Well, we'll have three columns, and N rows. When finishing a research on the the row X, it gives access to the row X+1 in the given column. At least, that's what I understood, there might be counter example once we've started playing with it, unfortunately.
WDYT?

[2015-02-15 22:49] hwoarangmy commented on #411
That's also what I understood from the research tree found by @Danimal696. But from the ones you shown (and we have choosen), it looked much like one (or several) researches unlocks new ones.
I guess the best would be to allow both AND and OR relationship to be able to adapt to both ^^

[2015-02-15 22:56] hwoarangmy commented on #501
yep, I've fixed it. You will see in my PR ^^

[2015-02-15 23:00] hwoarangmy commented on #499
yep, you are right ^^

[2015-02-15 23:37] Bertram25 commented on #501
Ah cool :)

[2015-02-15 23:55] Bertram25 commented on #411
True enough. :) The research layout + stub should be ready tomorrow night. I'll at least give you the simple layout by then.

[2015-02-16 07:38] #501 closed, assigned to hwoarangmy

[2015-02-16 10:27] Bertram25 commented on #500
Btw, issue #500!!

[2015-02-16 10:31] Bertram25 commented on #478
This is due to the fact the minimap is updated only when moving (on the editor mode) now because of one of my commits. The bug doesn't happen on the game mode since the minimap is also updated at least once per turn and at the first turn.

I guess a minimap refresher should simply be called on the editor mode activation. But please, do not make the minimap always update again as it is performance

[2015-02-16 10:35] Bertram25 opened #503 "The troll bed material should be tweaked to use normals."
As seen here: http://forum.freegamedev.net/viewtopic.php?p=62443#p62443

For now, with normals applied, the bed woods are looking metallic shiny.
Work on the different light values should be done to fix that and finally import the models with normals support.

[2015-02-16 10:40] hwoarangmy commented on #500
You are right. Then, I should take it ^^

[2015-02-16 10:42] Bertram25 commented on #499
I do also think something should be shown on the minimap. Like a skull or small crossed swords where the conflict started. WDYT?

[2015-02-16 10:49] eugeneloza commented on #499
Actually I thought rather of minimap icon or a button than a keypress (e.g. a battle may take place at different places simulaneousely and one needs to switch between them quickly to issue orders). Maybe, even something like 'favourite places' with battle events automatically added, e.g. to quickly grab a unit and place it to the resting place.

[2015-02-16 10:55] Bertram25 commented on #499
As for the icon, I think we agree. As for the button and the rest, it looks like the event queue on DK2 where you could click on an event and go there. In practice, this was (on DK) more cumbersome than useful, but that's all about taste, right? ;)
I'd like to see icons where conflicts have started, but let's not add/request too much in this area at once. Once we have the space key and the icon, w

[2015-02-16 10:57] eugeneloza commented on #499
Yes, definitely :)

[2015-02-16 12:20] Danimal696 commented on #499
i remember in DK you could rigth click on a room icon and it would cicle your view trougth all of the same type rooms. I also think that if there several battles at the same time "space" could cicle between them

[2015-02-16 13:17] hwoarangmy commented on #499
Space is definitely needed because the minimap do not show the entire map. Thus, the battle icon might not be visible

[2015-02-16 14:01] Bertram25 commented on #499
Sure. The space button and the icon are separate issues about the same concept, IMHO. Depending on how people are at ease implementing those features, we may separate the icon feature in another issue, if needed.

[2015-02-16 15:04] oyvindln commented on #478
It looks to me like it's redrawn every frame: https://github.com/OpenDungeons/OpenDungeons/blob/development/source/modes/EditorMode.cpp#L811

[2015-02-16 15:10] Bertram25 commented on #478
True, and a nice catch, but I was speaking of the camera position info:
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/camera/CameraManager.cpp#L223
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/camera/CameraManager.cpp#L228
Maybe it's also possible to not update/redraw the pixelbox when not moving the camera and do no actions on tiles?

[2015-02-16 15:20] oyvindln commented on #478
It's the draw call that takes up a lot of time, and not the camera update, but yeah, we should look into only doing minimap updates when needed. I have fixed the coordinate issue on my local branch, so I will try to get a PR up soon.

[2015-02-17 14:10] hwoarangmy opened #505 "Creatures sometimes work on room when not dropped with likeness = 0"
I've seen a BigKnight work on a Library after setting likeness=0 and efficiency=1. In this case, it should never choose to work in this room by itself. It should only work there is dropped.

[2015-02-17 14:33] Danimal696 commented on #503
solved

[2015-02-17 14:57] hwoarangmy commented on #503
not until you have created the PR ;)

[2015-02-17 15:17] Danimal696 commented on #503
as soon as i fix my fork im uploading it, this open the door to a lot of normal maps additions

[2015-02-17 18:53] hwoarangmy commented on #411
@Bertram25 I've done the research logic. For now, it is hardcoded but ready for the gui. I will try to open a PR tonight and will comment how to use it ^^

[2015-02-17 20:14] oyvindln commented on #468
This was worked around in 68ad24c4d08418c8005bbc5dbf010ba84e72bfa4

[2015-02-17 20:14] #468 closed, assigned to nobody

[2015-02-17 20:15] oyvindln commented on #465
Fixed in 68ad24c4d08418c8005bbc5dbf010ba84e72bfa4

[2015-02-17 20:15] #465 closed, assigned to oyvindln

[2015-02-18 08:53] hwoarangmy opened #509 "Wyvern room affinity do not work"
Problem in creatures.cfg
For the record

[2015-02-18 10:41] Danimal696 commented on #355
picking up oldies, rigth? ;)

[2015-02-18 10:54] hwoarangmy commented on #355
lol ^^

[2015-02-18 11:12] Bertram25 commented on #492
@Danimal696 While you're dealing with textures and materials, could you have a look at which are unused? I know I may be demanding but you'll have an opportunity to avenge on our next lan. ;)

[2015-02-18 11:12] Bertram25 commented on #478
This is fixed with https://github.com/OpenDungeons/OpenDungeons/commit/600a41495b16311e1835a720ea47401616891e62

[2015-02-18 11:12] #478 closed, assigned to oyvindln

[2015-02-18 11:14] Bertram25 commented on #54
@akien-mga Btw, is it still the case with the upgrade of the materials used?

[2015-02-18 11:21] Danimal696 commented on #503
Done and uploaded

[2015-02-18 11:22] Bertram25 opened #510 "Certain beds remain when you kill your own creatures"
Yeah, I know, it's evil to do that.

What often happens when I'm playing:
I obtain a few spiders, slimes and tentacles.
I give them a room, feed them and train them to prevent rush attacks from the enemy.

And then, once I have a library and why not a Crypt, I become greedy and want more powerful creatures. So I start destroying my own army to get space for new and potentially stronger creatures.

[2015-02-18 11:23] Danimal696 opened #511 "Normals for everything?"
Normal maps for big things like portals and rooms are fine, but should i also made them for small elements like training dummies , library podiums, etc...?=

[2015-02-18 11:23] Bertram25 commented on #503
Let us merge before closing. ;)

[2015-02-18 11:26] hwoarangmy commented on #510
Well, I do the same and I've never seen that. If that happens again, could you please provide logs/replay ?
I will try with tentacles to see if I can reproduce.

[2015-02-18 11:27] Danimal696 commented on #510
since they spawn so fast you see your dungeon flooded with tier 1 minions, one fix would be to made the portals claimable, so you only dig to them when your dungeon is built (at least the basics to attract tier 2 minions) or make posible to get rid of creatures by dropping them into the portal.

[2015-02-18 11:27] Danimal696 commented on #503
you party-crasher -_-

[2015-02-18 11:27] Bertram25 commented on #511
@Danimal696 In a perfect world, I'd say yes, but it might cost a few more fps, so I'd say, as the true artist of the team, you should have the last word on that one.
If you think adding normals on certain elements isn't worth it, then I'm fine with your decision.

[2015-02-18 11:31] Danimal696 commented on #492
ok, ill have a look

[2015-02-18 11:32] Bertram25 commented on #510
I dumbly didn't have the reflex the last time but I'll sure do.

Getting rid of minions with a room is an idea. (Portal of anything else.) Slapping them to death isn't a problem for me, since I also get the money back. ;>
Claiming the portal, or simply put activating the portal when one worker reaches it may be considered, but it should be carefully and globally thought.

Wait, aren't we discussin

[2015-02-18 11:33] Bertram25 commented on #503
Eh eh. I'll let you close yourself once it's merged. ;)

[2015-02-18 11:38] hwoarangmy commented on #503
@Danimal696 BTW, the best, when you create your commits is to add "fixes #XXX" with XXX=the concerned issue number. This way, there will be a link between the issue and the PR (making it easier to know how a problem have been fixed). And the issue will get automatically closed when the PR is merged

[2015-02-18 11:55] hwoarangmy commented on #511
Yes. It seems like normals have a pretty high cost on performances. Activating them have significantly lowered the FPS rate in my computer. In any case, is it possible to add some configuration to disable them ? That would allow the game to run with older computers. Moreover, that would allow to have 3 levels:
- No normal (for weak computers)
- Most important normals (creatures, walls, ground, ...

[2015-02-18 12:26] Bertram25 commented on #511
I do think we should opt-out the Everything case and target a most important normals goal, as raised by @Danimal696
As for disabling normals, it is simply about not starting the rtss handler, IMHO + a few tweaks I guess.

What do you think about it, everyone?

[2015-02-18 16:11] hwoarangmy commented on #510
@Bertram25 I've just had a thought. Did you have a crypt in this game ?

[2015-02-18 16:58] Bertram25 commented on #510
Yes, I had one. Linked to corpses, you think?

[2015-02-18 16:59] Bertram25 commented on #411
As shown here: http://forum.freegamedev.net/viewtopic.php?p=62549#p62549

![research-tree-basic](https://cloud.githubusercontent.com/assets/765917/6252062/dcae03a0-b797-11e4-9502-66fa1ce0c650.png)

The layout file is also available there.

[2015-02-18 17:47] hwoarangmy commented on #411
Nice. How do you display selected/already done researches ? And the order ?

[2015-02-18 17:48] hwoarangmy commented on #510
I don't really know. Let's say that normal dying is pretty well tested and the only other way I can think of for a creature to be removed is the crypt. But I will have a look tonight

[2015-02-18 19:30] hwoarangmy commented on #510
I confirm I could reproduce the bug. When the dead corpse is removed from gamemap, the bed is not removed. I've moved the code destroying the bed into removefromgamemap to make sure it is not forgotten anymore

[2015-02-18 19:34] Danimal696 commented on #411
i guess i need to look out for a book model

[2015-02-18 21:32] akien-mga commented on #54
You did well to ping me, it's been effectively solved by the recent changes. The game is now gorgeous with the nvidia driver :-)

![od-nvidia](https://cloud.githubusercontent.com/assets/4701338/6257125/e614d678-b7bd-11e4-89ee-f5d4c9fcb867.jpg)

[2015-02-18 21:32] #54 closed, assigned to nobody

[2015-02-18 21:33] akien-mga commented on #54
I didn't bisect to confirm, but for the sake of completeness, this bug should have been fixed thanks to #448.

[2015-02-19 09:11] Bertram25 commented on #54
Cool, one less bug. :)

[2015-02-19 09:13] Bertram25 commented on #510
Cool, I'll test asap. :)

[2015-02-19 09:25] Bertram25 commented on #411
I'll be honest, I don't actually know yet. I guess a check mark or something should appear on the bottom right of the researches done, and something like a cog should appear on pending ones. The unavailable ones should simply appear disabled, even if you should be able to click on them to add them to the pending queue.

For that, I'll add new ImagerySection in ImageButton or maybe I'll duplicate t

[2015-02-19 09:59] Bertram25 commented on #462
Basically, the "bug" comes from the use of the following mouse image parameter:
https://github.com/OpenDungeons/OpenDungeons/blob/development/gui/OpenDungeons.looknfeel#L2198

Though, this parameter shouldn't be used when in read only mode, or more precisely, a mouse cursor parameter should be specified for both read-only and not read-only combo-boxes.
I'll open a topic on the CEGUI forums but it

[2015-02-19 10:14] akien-mga commented on #462
That sounds good, especially the part about you providing feedback upstream to get it sorted out. The proposed workaround would do in the meantime :)

[2015-02-19 11:01] Bertram25 commented on #462
For the record: http://cegui.org.uk/forum/viewtopic.php?f=10&t=6980

[2015-02-19 11:17] Bertram25 opened #512 "Icons should all be in the OpenDungeonsIcons imageset"
At the moment, the tiles icons and soon the Light editor icon will be in the skin imageset.
As there is an imageset specifically for icons, we should move those ones there.

The icon imageset may have to be resized or split into two if needed.

If nobody takes it, I'll do it once the Light icon is added. :)

[2015-02-19 14:20] Danimal696 commented on #411
a suggestion:
topic available to be researched -> icon without borders,
reseach finished -> silver border like screen,
non available -> greyed topic

[2015-02-19 14:23] Danimal696 commented on #511
ok, im setting for room tiles, creature models and big room elements that stand out a lot (like chimney from forge)

[2015-02-19 14:53] hwoarangmy commented on #511
Anyway, I guess there will always be a need for having as detailed graphics as possible. And if we feel it is really too heavy, we will find a way to disable normals for not mandatory elements (for example by having different materials folders).

[2015-02-19 14:57] Danimal696 commented on #511
There is a fair bit of work to making normals for each model, optimistically all models could have them, so what the best course of action?
Make models for everything and setting a switch for using them? or normals for just the important ones?

[2015-02-19 15:45] hwoarangmy commented on #511
IMHO, normals for more important things. If it is time consuming, we will see for the rest later. First things first ^^

[2015-02-19 15:56] Bertram25 commented on #511
Yeah, it's kinda the big task. I can span on several release if it's too much, so don't worry too much, one thing at a time. You can fix whatever you see is most important first, for instance. :)

[2015-02-20 17:08] Bertram25 commented on #462
It's almost official, this is a now recognized CEGUI bug I may be able to fix for the version 1.0 (or even 0.8.5) thanks to Ident.
We'll have to use the workaround in any case in the meanwhile.

[2015-02-20 23:32] hwoarangmy commented on #462
Well, if the workaround implies changing CEGUI sources, I would be for living with this bug. I agree it's not the expected behaviour but I don't think it's worth having to patch cegui. IMHO, we can wait for the official version including this patch.

[2015-02-20 23:48] Bertram25 commented on #462
Nope, in fact the work around is about simply using the default mouse cursor, even for editable edit boxes. There is nothing better for now, I'm afraid.

To be perfectly clear, when I was saying I'd patch Cegui, I meant creating a PR for upstream. ;)
I agree we shouldn't at all import the cegui sources, don't worry.

And btw, good news, I had words with the cegui maintainer on Debian, and he's goi

[2015-02-21 00:30] hwoarangmy commented on #462
ok. cool ^^

[2015-02-21 08:08] #503 closed, assigned to Danimal696

[2015-02-21 08:35] akien-mga commented on #462
And OD :-D

[2015-02-21 08:35] #20 closed, assigned to hwoarangmy

[2015-02-21 08:35] #355 closed, assigned to hwoarangmy

[2015-02-21 08:35] #411 closed, assigned to nobody

[2015-02-21 08:35] #500 closed, assigned to hwoarangmy

[2015-02-21 08:35] #505 closed, assigned to hwoarangmy

[2015-02-21 08:35] #509 closed, assigned to hwoarangmy

[2015-02-21 08:35] #510 closed, assigned to hwoarangmy

[2015-02-23 00:14] Bertram25 opened #516 "Certain tiles seems to get lit multiple times?"
As seen in the following discussion, certain dirt tiles are overlit when their rock corresponding tiles weren't added in the same map. The tile loading order doesn't seem to have an importance:
https://github.com/OpenDungeons/OpenDungeons/pull/507#issuecomment-75150437
![od-strange-dirt-tiles](https://cloud.githubusercontent.com/assets/4701338/6277470/f0a58fe8-b88e-11e4-9911-2e23eab9f795.jpg)

[2015-02-23 00:17] Bertram25 commented on #511
I guess the issue question was settled. Yet, shouldn't we open an issue about optionally disable normals or should we wait for @Danimal696 to more or less finish the task?
@oyvindln @hwoarangmy

[2015-02-23 00:24] Bertram25 opened #517 "Add the research tree GUI"
Following #411 , the Research tree GUI and adjustments to the tab button and GUI is needed.
Here is the research tree first layout:
http://forum.freegamedev.net/viewtopic.php?p=62549#p62549
(The layout file is also available there.)
![research-tree-basic](https://cloud.githubusercontent.com/assets/765917/6252062/dcae03a0-b797-11e4-9502-66fa1ce0c650.png)

**How to adapt the OD/ImageButton:**
I'll b

[2015-02-23 00:26] Bertram25 commented on #517
I had an idea. I can add an empty layer for the standard button behaviour and ask to fill/empty them with an image from the code. :D It will be much simpler and can be used to show the pending/done states.

I still do think I'll overload the OD/ImageButton look'n'feel widget into a ResearchButton, but I'll add a label (text) support for both. Might be useful...

[2015-02-23 00:30] Bertram25 commented on #411
@Danimal696 I'd still use more meaningful icon on the widget to show the state. Showing borders will definitely give a hint but while I'm at it, let's make it good. :)

[2015-02-23 10:21] hwoarangmy commented on #517
It could also be nice to display the research order somehow and to allow to edit it.
For that, you could display a number (1, 2, ...) on the researches telling which one is the next to be done. 1 would be the current one, 2 the next, ... But editing the order would not be straight forward.
Or you could add a "Pending researches" panel in the research tree and add the researches icons there when th

[2015-02-23 10:54] Bertram25 commented on #517
True, the image/research buttons will definitely need label support.

To me (even if I do think we should do some trial and errors here), you'll first click on a research and a 1 appears bottom right of the button. You click on another a 2 appears, ...
If you want to change your queue, you click on a pending research (or even the one being researched atm) and the number of icon meaning it's being

[2015-02-23 11:08] hwoarangmy commented on #517
Yes, that's the behaviour I would expect as a player. But if you have configured the whole queue and, after scouting your opponent, you choose to change the research number 2 by a non selected one, you will need to redo all.
However, I'm not saying we shouldn't do that. I'm just pointing the weak point IMO of this logic. If we decide we can live with that, I'm ok. For my part, I can sleep even thi

[2015-02-23 11:19] Bertram25 commented on #517
In that sole case, I'd indeed add a clear research queue button. In fact, I'd add two. One to clear the queue, one to auto-select it (for new players).

[2015-02-23 11:49] hwoarangmy commented on #517
ok. I guess it's the most simple and, after all, we can wait for players feedback to decide if we want to change that or not. OD is really becoming a game now ^^

[2015-02-23 22:07] hwoarangmy commented on #64
![odscreenshot_2015-02-23_230545_0](https://cloud.githubusercontent.com/assets/7493706/6338639/900c17ea-bbb0-11e4-94dc-6fe7ecbe968e.png)

I felt like fighting a little bit more with Ogre. Note that the skull flag is not exactly coloured the same everywhere. That's to show that if we use different materials, we can display health. WDYT ?

[2015-02-23 22:27] Bertram25 commented on #64
OMG, great! :D Congrats!!
What are the different health states you're displaying here?
Can't wait to see that in game!! :D

As we are on this:
- I'd show automatically the skull flag of creatures that are currently fighting, and that are hurt (not at full health) as a first step.
- I'd only show every skull flag when holding the N key, not toggling it.
- Ah, and when you hover a creature.

What do

[2015-02-23 22:34] Danimal696 commented on #64
Looking cool :D

[2015-02-23 23:07] hwoarangmy commented on #64
Well, first, we need to decide how many health level do we want ? 4 or 5 (more would mean too many materials) ?
Then, yes, we can display that as we want. In any case, this is a client feature so the client can display it when he wants

[2015-02-23 23:18] Bertram25 commented on #64
4 sounds relevant for me. :)
- Full health
- 3/4 a few scratches
- 1/2 definitely hurt
- 1/4 health panic

A fifth could be added for corpses though:
- 0 health dead. Waiting a for a crypt. ;)

[2015-02-23 23:19] Bertram25 commented on #64
In any case, this is a milestone reached in itself. :+1:

[2015-02-23 23:20] Bertram25 commented on #64
ah, and I just saw the 'you are under attack' ;)

[2015-02-23 23:31] Bertram25 opened #518 "Misc admin stuff for Elvano"
(N.B.: I'll assign him as soon as he'll accept being part of the team on github)
@Wout-van-Dongen
Please Elvano, make the following happen. Thanks  lot :D
- [x] Remove the site under maintenance notice.
- [x] Give access to files to @hwoarangmy on sf.
- [x] Give us some heads-up on the next-gen temple!
- [x] Stay cool. ;) (Not really an issue, more a reminder.)

[2015-02-23 23:32] hwoarangmy commented on #64
ok. Then, let's go for 4 ^^

[2015-02-24 10:03] hwoarangmy commented on #64
After thinking a bit about it, I think the best would be to have this states:
- Full health (IMO, that's the most important as it allows to see at a glance which creatures should sleep)
- 100% > hp >= 75%
- 75% > hp >= 50%
- 50% > hp >= 25%
- 25% > hp >= 0%

Which means 5 values. Concerning death, do we really want to display something different since there is already the animation ?

[2015-02-24 10:26] Bertram25 commented on #64
Fine to me. + I must say corpses are more of an item than anything else in term of gameplay.

[2015-02-24 13:52] hwoarangmy commented on #64
On client side, creatures do not know if they are fighting or not. That would imply another message to warn them about it (and another to warn them they are not fighting anymore). Plus, I'm not sure that's what I would like to have (it can be messy with overlays everywhere). In the RTS I use to play: pressing a key to display health (it doesn't popup during fights).

ok

[2015-02-24 13:53] hwoarangmy commented on #434
Is this still true ? I've not seen it for a while...

[2015-02-24 13:55] akien-mga commented on #64
How about using the Alt key for this instead of N (unless we already use it for something else)? It's easier to reach when you have the hand over WASD, and it would be at least a familiar key for players used to hack'n'slash RPGs like Diablo :)

[2015-02-24 13:59] akien-mga commented on #434
I don't know, personally I've only seen it once, and it's in the above screenshot. I'd propose to drop the 0.5.0 milestone for now, and if we find a reliable way to reproduce, we can always raise the priority again.

[2015-02-24 14:00] akien-mga commented on #434
It's good to keep the issue open anyway until we're confident enough that the issue was fixed, so that players can find this issue and comment on it if they experience the same thing.

[2015-02-24 14:20] Danimal696 commented on #64
yes, ALT sounds better

[2015-02-24 14:20] #499 closed, assigned to hwoarangmy

[2015-02-24 14:34] hwoarangmy commented on #434
ok for me

[2015-02-24 14:36] hwoarangmy commented on #64
ok. Let's go for alt

[2015-02-24 17:22] Bertram25 commented on #64
Sounds fair. Nevermind then. :) Let's test it with alt first. :D
Teaser: Some GUI update incoming. Then, and only then, I'll be plugging the research tree. Mwahahaha.

[2015-02-24 17:23] Bertram25 commented on #434
Yeah, let's move that to the backlog.

[2015-02-25 09:44] hwoarangmy opened #520 "Creatures should be saved in one line in level maps"
ATM, in the level files, creatures are defined between [Creature] tags. That allows to have the creature stats as we want, within several lines if needed. But since there can be many creatures per file, I would propose to remove the tags and to have the rule that a creature must be defined in one line.
I know I was the one to introduce the Creature tags but after all, it may not be a good idea ^^

[2015-02-25 09:51] akien-mga commented on #520
Would that be to prepare the ground for the load/save feature?

Just to make it clearer, do you speak about creature instancing (`[Creatures]`) or creature (classes) definitions (`[CreatureDefinitions]`)? IMO for the latter, the `[Creature]` tags should be kept, and settings should be kept each on its own line for legibility matters.

For the creature instancing, the `[Creature]` tags are indeed r

[2015-02-25 09:59] hwoarangmy commented on #520
Who knows ? ;-)

yes, like in your example. For creature definitions, it makes much more sense to use tags.

[2015-02-25 10:15] Bertram25 commented on #520
Fine to me, as long as we're using one line and Creatures start and ending tags. :)

[2015-02-25 12:11] hwoarangmy commented on #520
ok, so let's do that ^^

[2015-02-25 21:52] hwoarangmy commented on #516
Seems fixed (at least for me) by #514

[2015-02-25 23:13] Bertram25 commented on #516
Yeah, I confirm the bug is also fixed for me by #514 :D

[2015-02-26 08:59] hwoarangmy commented on #516
Closed by #514

[2015-02-26 08:59] #516 closed, assigned to nobody

[2015-02-26 09:13] #512 closed, assigned to Bertram25

[2015-02-26 09:13] #462 closed, assigned to Bertram25

[2015-02-26 10:11] Bertram25 opened #522 "Misc stuff to fix on tiles"
- [x] Gold tile with 0 fullness should use the ground dirt tile until a better tile is made.
- [x] Lava and water should always use the visible format (according to the use of the FOW) so that their animation never get desync.

[2015-02-26 10:14] Bertram25 commented on #517
Ok, part I of the evil plan has been merged with #521 ;)
I've made more visible icons for the main game resources, I hope you'll like them. (I do!)

Now that I've added new icons and unmixed the skin from the icons, I'll add the necessary GUI to  access settings and/or the research tree, objectives and future load/save features. That's the evil plan - Part II. :>

[2015-02-26 10:17] #64 closed, assigned to hwoarangmy

[2015-02-26 10:20] Bertram25 commented on #64
New lighting support + new skull flag system + normals on rooms + FOW + research + ...
OMG, just try 0.4.9 again and you'll be shocked. :D

[2015-02-26 10:25] akien-mga commented on #64
Indeed! And try 0.4.8 after playing 0.5.0... :-P

[2015-02-26 10:50] Bertram25 commented on #64
Yeah, I remember the main menu.

[2015-02-26 11:32] akien-mga opened #524 "Custom lighting is _really_ resource heavy"
Since @oyvindln improved the overall lighting/shading/normals application and stuff, the custom light sources that we can set in the editor are really resource heavy.

Greed or Might is a good example of a map where the FPS drop dramatically due to the use of custom lights in several points on interest.

Comparing Greed or Might and Scream in the Dark on my laptop:
- Nvidia GPU (OpenGL 4.4): 40 FP

[2015-02-26 11:34] akien-mga commented on #524
A quick workaround for the time being would be to remove custom light sources from the maps that use them (at least for the final 0.5.0 release). A better fix would be to optimise those lights so that they don't kill the FPS, but that's maybe more for the Later milestone.

At any rate, we can keep the lights for now since it's useful for debugging, but I'm making a mental note to remove them from

[2015-02-26 12:11] Bertram25 commented on #524
Ok, setting this to 0.5.0 as something will have to be done, whatever it is.

[2015-02-26 15:24] Bertram25 commented on #517
What is that?
![options](https://cloud.githubusercontent.com/assets/765917/6394749/f651b0d0-bdd3-11e4-81a4-ca11f00948ec.png)

More surprises tonight if everything goes well. ;)

[2015-02-26 16:08] hwoarangmy commented on #517
Seems pretty nice ^^
Why are load game and save game disabled ?
BTW, Abort game should be quit game IMHO.

[2015-02-26 16:29] Bertram25 commented on #517
Because it's just the GUI of it, the feature isn't done unfortunately. You might not notice it but I have worked on a button class that can display an icon next to the text, and I'm very happy about it. :D
I also figured out how to add an state image and some text to what will be the research buttons. :)

Ok, I'll change that pre-PR.

[2015-02-26 16:39] hwoarangmy commented on #517
Don't worry, it's pretty visible ^^ And very nice :p
For having fighted with CEGUI, I can guess how difficult it might have been to achieve that. Congrats.

You are right, I've not done the PR yet. Wait, have I said the feature works ????

[2015-02-26 16:42] Bertram25 commented on #517
Stop teasing the teaser!! :P Anyway, the GUI overhaul should please everyone. :) We'll discuss the detail in the PR.

[2015-02-26 16:46] hwoarangmy commented on #517
yep. I will wait for your PR to release mine because I've moved many stuff from Player to the Seat. So, our PRs will most likely conflict ^^
BTW, difference between Seat and Player was not very clear in my head. Now it is: Seat is for data that should be loaded/saved in level maps (owned gold, mana, researches, ...) and Player is for in game data. I had more or less naturally made the difference b

[2015-02-26 17:08] Bertram25 commented on #517
:) If you happen to add that in the doc, i won't complain.

Sincerely, I do think not (yet). The next PR will be all about adding the GUI skeleton as neatly as possible. Then, I'll be on the logic.

[2015-02-26 17:22] hwoarangmy commented on #517
ok. Then I will release the PR when I can. Saving will not be perfect (some states will not be saved like creature activity) but it will be more than enough ^^

[2015-02-26 20:31] akien-mga commented on #518
@hwoarangmy should now be able to upload stuff in the Files section on SF, thanks @Wout-van-Dongen.

It seems the first point has been handled too. I just added a mention to the Win32 development builds in the download section.

[2015-02-26 21:21] akien-mga opened #526 "Ground tile should not be shown when claiming "neutral" claimed tiles"
I think this is a regression due to recent changes. When workers claim a "neutral" claimed tile, it switches first to plain ground before the claimed tile reappears with the correct seat colour.

IIRC, the previous behaviour was that the coloured tile appeared directly in place of the grey neutral claimed tile, which gives a nicer effect.

[2015-02-26 21:39] Bertram25 commented on #526
No, it's a desired behaviour. Plus, it simplifies how tiles gets refreshed IIRC.
In term of gameplay, I, for one, can understand you have to remove the former stones to add yours.

I'll let @hwoarangmy have the final word on this one, though, but I'd tag it as invalid/won't fix.
Thanks for your vigilance though. We never know what we could fall upon.

[2015-02-26 22:02] akien-mga commented on #526
Well there is two cases IMO:
- You claim an enemy tile: you need to break the existing tile, and then build your own tile on top of it. So then the path is: claimed tile -> ground -> claimed tile.
- You claim an neutral tile: it's here for the taking, you just need to put some paint on it. You don't need to "deconstruct" it first as you would with an enemy tile.

It's a similar behaviour in RTS wh

[2015-02-26 22:02] akien-mga commented on #526
I don't have a strong opinion though, if the current behaviour is preferred, it's fine by me :-)

[2015-02-26 22:20] hwoarangmy commented on #526
Yes, that's the wanted behaviour. Actually, that's not neutral but rogue. So, we can consider it is enemy (even if it is enemy for everybody).

[2015-02-26 22:28] Bertram25 commented on #526
Let's close then.

[2015-02-26 22:28] #526 closed, assigned to nobody

[2015-02-28 11:11] #522 closed, assigned to nobody

[2015-02-28 12:16] hwoarangmy commented on #518
I confirm I can upload files. Thanks ^^

[2015-02-28 13:53] hwoarangmy opened #529 "Fix all materials with normals - Log error while parsing material files"
I guess it comes from @Danimal696 normal activation. I have logs:
Compiler error: unknown error in TrainingDummy1.material(23): token "ambient" is not recognized
Compiler error: unknown error in TrainingDummy1.material(24): token "diffuse" is not recognized
Compiler error: unknown error in TrainingDummy1.material(25): token "specular" is not recognized
Compiler error: unknown error in TrainingDumm

[2015-02-28 14:45] Danimal696 commented on #529
That is strange, those values are used to tweak how much ligth is received, deflected or emitted. Works well on my end, erasing them would make the models look weird.

[2015-02-28 15:41] oyvindln commented on #529
They are put in the wrong place.

[2015-02-28 21:44] Danimal696 commented on #529
then what would be the correct one?

[2015-02-28 21:47] Bertram25 commented on #518
I think the news about the next-gen temple can wait. I'm closing.

[2015-02-28 21:47] #518 closed, assigned to Wout-van-Dongen

[2015-02-28 21:55] Bertram25 opened #530 "Minimap: It is slow and badly rendered"
Some code around the minimap is slow.
I don't know yet whether it's the pixelBox update or the swapping/rendering itself. @oyvindln will tell. ;)

Second thing, it is likely to use the GL_NEAREST method to magnify the texture and this is looking quite ugly in game.
We should have a look at making the minimap texture have smooth edges.

I'm setting this to 0.5.0 but if it becomes to hard to improve

[2015-02-28 22:46] oyvindln commented on #529
You have to put the lighting values in the pass they are supposed to apply, not inside the texture unit. I'm not sure if they should go under the normal map pass or the texture pass, you will have to test.

[code]

[2015-02-28 23:12] Bertram25 commented on #530
After looking at the code, the pixels are drawn square per squares after applying the view rotation, explaining why it can be so ugly.
To fix this, the pixels should be rendered unrotated and the texture should be rendered rotated.

[2015-02-28 23:26] Bertram25 commented on #530
Just had another idea, if we draw the texture unscaled (with a grain of 1) and let cegui rescale it, we may have the desired effect. I'll try it.

[2015-02-28 23:28] oyvindln commented on #530
It's also possible to rotate the CEGUI window, rather than drawing rotated. I don't how that would affect performance though.

[2015-02-28 23:43] Bertram25 commented on #530
I've tried, unfortunately, it looks rather poor. Btw, I managed to make the texture be rendered unscaled and zoom it but it also looks poor as it is too smoothed.
I'll thus try the reverse now: Draw the texture at a bigger size than required and make it smaller it when rendered.

[2015-03-01 02:04] Danimal696 commented on #529
Axctually is hwoarangmy who will have to, please tell me when you get the rigth place and ill fix them

[2015-03-01 02:50] oyvindln commented on #529
You should be able to do that too, try to put them in one of the passes and which one makes the material look like you want. They should be generating errors for everyone. They are for me.

[2015-03-01 13:33] Danimal696 commented on #529
How do you see the error log? I read you (Oln) fixed the materials so that is one of the reasons they are not working now. Ill try when i have some free time

[2015-03-01 18:52] oyvindln commented on #529
On windows I think it is in the appdata folder for you user.

[2015-03-01 18:57] oyvindln commented on #530
As for performance, it may make sense to draw directly to the texture instead of via a buffer, at least if we drop trying to render 4x4 blocks as we are now. Otherwise I think data locality could be an issue when it comes to performance. Changing the temporary buffer to be a single vector may help a bit, and should be quite straight forward, but on the tile container side that would be much bigger

[2015-03-01 20:25] hwoarangmy commented on #529
@Danimal696 It should look something like:
C:\Users\Danimal\AppData\Roaming\opendungeons\
There, you wil find a file "opendungeons.log"

BTW, that's also where you will find replays and savegames. That will be usefull if you get a bug and you want to show it.

[2015-03-01 20:55] hwoarangmy opened #531 "Savegames and tiles"
This is more a reminder of what I'm planning to do for saving tiles. If you see something or want to comment, please feel free.

To remind the tile state for each player:
I would remove "claimed" from tile type (to avoid loosing the tile type when it is claimed). It would be replaced by a boolean (or by testing seat != nullptr && mClaimedPercentage>= 1.0).

To avoid showing gold tiles that have be

[2015-03-01 21:57] Danimal696 commented on #531
are you saving creature weapons?

[2015-03-01 22:25] hwoarangmy commented on #531
They are already saved in the creature

[2015-03-02 00:50] oyvindln commented on #524
The lighting has to be calculated for every light in the scene, which starts adding up very fast when the number of lights increase. Calculating lighting per pixel + normals is obviously going to be slower than per vertex as done previously. Another problem is the fact that we have a dynamic terrain, which means we can't pre-calculate/render geometry like many games do. Though, I've found  some th

[2015-03-02 08:42] hwoarangmy commented on #524
Please also remember that skull flags also use cloning material. If you find something interesting and cleaner, it may be interesting to use the same system (even if it has nothng to do with shaders).

I think the light on the keeper hand is pretty nice and I use it a lot to have a look on the darkest parts of the dungeon. Removing it would mean to add more lights in the dungeon so performances co

[2015-03-02 13:55] oyvindln commented on #524
What I meant was disabling lighting calculation form the keeper hand itself, not the light that follows it.

[2015-03-02 15:00] hwoarangmy commented on #524
ok, sorry for the misunderstanding ^^

[2015-03-02 17:42] hwoarangmy commented on #14
I will have a look at this one because it is linked to save game.
But do we really want to define tiles according to its 8 neighboors ? That would mean 256 values + 1 (or 512 if we want to have different ground tiles depending on their surrounding tiles). And that for each tile type (dirt, gold, rock, claimed, water, lava).
That means that a tileset will be defined by 1536 lines, which is memory c

[2015-03-02 19:21] oyvindln commented on #14
I support this. I think we should try to keep the tiles relatively simple.

I agree with this. (Also, I think the old tiles with different fullness values are still in the Repo, we may want to get rid of them.)

[2015-03-02 19:40] hwoarangmy commented on #14
I confirm. Then, I will remove them, too

[2015-03-03 12:05] hwoarangmy commented on #14
@Danimal696 Note that if you agree to choose the tile depending only on the 4 surrounding tiles, a tileset like the current one will be composed of only 6 tiles (including the ground tile) by only using rotations. But the current tileset will have to be fixed as ATM, the tiles do not end up at the coordinates points (0:0, 0:1, 1:0 and 1:1) so they don't connect well.

[2015-03-03 12:20] Danimal696 commented on #14
im in favor of simplification, that said, i will need a more visual reference for fixing the current tileset to what we want. But it shouldnt pose a big problem to do so.

[2015-03-04 18:01] Danimal696 commented on #14
you have access to the blend source of the tileset, rigth? yuo can either tell me the ones you want or erase the useless and send me the file

[2015-03-04 20:36] #86 closed, assigned to hwoarangmy

[2015-03-04 22:05] hwoarangmy commented on #14
I've already erased the unused tile meshes. I will release the tileset soon so you can have a look by yourself. I've even added another tileset for testing based on the old one that was in the repo ^^

[2015-03-05 22:10] hwoarangmy commented on #524
@oyvindln Concerning the "connect different tiles", I will release soon a PR with the tilesets. In the tileset definition, I will add how tiles should be connected (only for their type or if they should connect with other ones). That would avoid hardcoding it and will let artists do as they want ^^

[2015-03-06 23:25] oyvindln commented on #524
[Deferred shading](http://www.ogre3d.org/tikiwiki/Deferred+Shading) seems like a good option if we want to have a lot of lights. It looks a bit complicated to implement though.

[2015-03-07 00:33] hwoarangmy commented on #524
Seems interesting but complex, indeed...

[2015-03-07 01:02] #14 closed, assigned to hwoarangmy

[2015-03-08 08:31] hwoarangmy commented on #520
fixed in #527

[2015-03-08 08:31] #520 closed, assigned to hwoarangmy

[2015-03-08 09:52] Bertram25 commented on #520
Hi there, just a rush note wildly placed at a random location.
Sorry, I'm very busy and quite out of network those days and I won't be available until monday afternoon at least.
Sorry to let you alone guys but I'm sure you're doing fine. ;)

Regards,

[2015-03-11 10:21] Bertram25 commented on #524
How are performance for you guys since ee56e51299d15c65446ebc250ef9e27a8781d145?

[2015-03-11 10:29] Bertram25 commented on #531
How far are you concerning this issue? So much has happen that I must say I'd use some news about this. XD

[2015-03-11 10:32] akien-mga commented on #524
It's way better performance-wise, the lighting is not as "shiny" as before but it does its job (i.e. a light source behaves similarly to having the mouse pointer permanently in one point with regard to the lighting effect).

So I'd say this one is closed by ee56e51.

[2015-03-11 10:32] #524 closed, assigned to oyvindln

[2015-03-11 10:36] hwoarangmy commented on #531
ATM, only rooms, traps and marked tiles are not kept after map saving.
I've already started to add names to rooms/traps to allow persistant objects to link at map loading so that the room knows a building object has been created.
As a side effect, that will also open possibility for a goal to need to save a room (or to let him unharmed)

Not everything else is perfectly saved (creature activity an

[2015-03-11 11:14] Bertram25 commented on #418
To do an update in the current development state and as we are ~3/4 of the current milestone, I think we should make a quick overview of the current plans of everyone involved and what you guys think fits to be part of the 0.5.0 milestone, what should be added/removed/changed there.

I'll start:
I'm officially on the research tree and will if nobody does it, on the installation quirks and user lev

[2015-03-11 11:16] Bertram25 commented on #531
Ok. Makes things clearer. I wasn't sure for traps I must say.

A side bonus effect, then :sunglasses:

I don't even think it's noticeable without knowing it. Yeah, let's wait for feed-back about it, IMHO.

[2015-03-11 11:20] Bertram25 commented on #524
@akien-mga I agree. I've got no more perf problems now on my side. Thanks a lot @oyvindln :)

Btw, dark_silync is working on light list generation atm: http://www.ogre3d.org/2015/03/05/ogre-progress-report-february-2015

[2015-03-11 11:34] hwoarangmy commented on #418
IMHO, there are already pretty much improvements compared to the 0.4.9. I think we should focus on deliver a "playable" version of the game even if lacking some cool features (like sounds).
As a player, I would say that the FOW, the research logic in general (gui + ingame logic) and saving game is already enough to justify a new version. And ATM, we have much more (gui improvements, normals, spell

[2015-03-11 13:13] Bertram25 commented on #418
(Pinging @oyvindln as he was not in the users notified list.) - EDIT: He was after all, but that can't hurt. ;)

I'll start by the end of it:

My thoughts exactly. Seems we're in sync here. ;)

Well, this is a sane goal and a way to "secure" a playable version with more recent and major upgrades.

If all the team is ok to focus on releasing a 0.5.0 with the features in place (and finishing the one

[2015-03-11 15:37] hwoarangmy commented on #418
IMHO, it is not a good idea to have a branch. We don't have that many developpers and I guess we can hold ourselves from making game breaking features...
However, we should decide what we want for the 0.5.0 RC1 ^^

[2015-03-11 21:26] Danimal696 commented on #418
Im with hwoarangmy, im in favor of releasing our experimental builds on a more regular basis and keep on the same branch

[2015-03-12 09:35] akien-mga opened #539 "Two issues with the saved game naming method"
I found two issues with the saved game naming method, which are visible in this example for @hwoarangmy's latest PR:

[code]

I first started Greed or Might in skirmish and create the first saved game. Then I loaded this saved game and saved again. Finally, I loaded the second saved game and saved it again.

We can see that:
- The name of the previous saved level is appended in the saved game name

[2015-03-12 09:45] Bertram25 commented on #418
Ok, so status quo for now (if nobody has something more to say).
Let's give us a few more weeks and we'll see what's done. :)

[2015-03-12 09:46] akien-mga commented on #418
I also like the "release early, release often" approach. The current development branch has so many great features, that I wouldn't want newcomers to try OD 0.4.9 but to try the development snapshot directly :-)

So basically, that means we should do the 0.5.0 release soon ;-)

About the branch, it's up to you guys. I also tend to think that there are more cons than pros, since our current workflo

[2015-03-12 09:47] akien-mga commented on #418
Well I think we're more or less all willing to finalise the current features and move the non-vital stuff to a later milestone, so that we can release 0.5.0 asap.

[2015-03-12 09:48] Bertram25 commented on #343
Btw, still failing here. I'll open an issue on CEGUI's forums once my patch for the mouse cursor will be ready.

[2015-03-12 09:48] akien-mga commented on #418
BTW we should plan a LAN to test multiplayer games, and maybe also saving and loading multiplayer games if that's already supported.

[2015-03-12 10:00] Bertram25 commented on #418
Ok, based on all the input, I've been "phasing out" some non-vital issues into the `If time permits` section. Please, have a look there and tell me whether it suits you all.

If everyone is ok, we can move that into the next milestone and focus on what's left for 0.5.0.

[2015-03-12 10:01] hwoarangmy commented on #418
There is no difference between single player or multi player concerning saving (even if I never tried multiplayer). A "known" issue being that I've not saved the seat owners in the saved games. That means that when loading a saved game each player can be on any seat (and not on the one he used to be).

Concerning the 0.5.0, I would propose to drop the sound stuff, the UI not started and the keeper

[2015-03-12 10:03] Bertram25 commented on #418
Btw, will the next milestone be 0.5.1 or 0.6.0 ? I'd be for 0.6.0 since the level format could evolve and I know some ground-breaking features may happen in the next version. ;)

[2015-03-12 10:05] Bertram25 commented on #418
Good to know, but it's not a real issue as there is no way the game can know for sure which player was on which seat, IMHO. Thus, I think you're good on that one. :)

Agreed. I would still ask to see the models and materials error and warnings fixed for 0.5.0 if possible.

[2015-03-12 10:06] hwoarangmy commented on #539
Yes, I've already thought about it. I wasn't sure if we would prefer to overwrite the saved game or create a new one. WDYT ?

That will also be fixed when fixing point 1 as we will need to parse the filename.

[2015-03-12 10:08] hwoarangmy commented on #418
I agree. At least until we stop working on saving.

[2015-03-12 10:08] Bertram25 commented on #420
Second point I wanted to open (but not for 0.5.0, rather when it comes and if it comes(tm)):

ATM, the hand and the light is moving tiles per tiles, just like the tile selector which is already fine.
As a way to make this smoother, I wondered whether we could keep the current behaviour for the tile selector, but make the light and hand location placed under the cursor and not forcefully on the cur

[2015-03-12 10:09] Bertram25 commented on #420
Pinging @akien-mga @oyvindln

[2015-03-12 10:10] hwoarangmy commented on #418
Well, if we feel like it, we can add a "default nickname" when saving the seat and try to match the players if we find a corresponding one. But IMHO, that's the best we should do. If someone wants to switch seats, I don't see why we should not allow it.

[2015-03-12 10:12] akien-mga commented on #420
I think this would make the lighting look awesome at the very least :-)

[2015-03-12 10:16] akien-mga commented on #539
For the time being, I think we should create a new one but parse the name of the original save to retrieve only the original level name and game mode, and add the date prefix as we do currently.

In the long run we'll probably want to let users define the same of their saved game, so the above behaviour would probably become obsolete (or will be converted to handle "autosaves" with F5).

[2015-03-12 10:21] akien-mga commented on #418
I agree we don't need to support 1:1 matching for the seats. A player might have changed her nickname, or might even want to continue the LAN from another computer / OS.

I like the idea of saving the nickname from the previous game though, and display it in the lobby. It could help players remember which seat they were playing during their last LAN if they want to keep the same seat (which is lik

[2015-03-12 10:26] akien-mga commented on #418
Yes, I'm pretty sure that in a couple of months, we'll feel the same way comparing development with 0.5.0 as we do now with 0.5.0 vs 0.4.9. So 0.6.0 will be most fitting for this awesome game that we'll release ;-)

[2015-03-12 11:03] akien-mga commented on #517
For the 0.5.0 milestone, do you want to implement both the GUI and the final logic (i.e. the player can select the research they want to do, etc.), or do you prefer to start by giving a visual feedback of the current logic (i.e. you have the research GUI, but you can't "use" it to select research topics, you just get visual feedback on what is available, and what you are currently researching with

[2015-03-12 12:36] Danimal696 commented on #420
yes, the ligth change is so sudden that along with normals you feel some models skin "shifting"

[2015-03-12 13:15] Bertram25 commented on #418
Ok, let's go for 0.6.0. ;) As for the nickname, I don't think it's worth it but if it's not too much work (as an indication only) and if you're willing to do it, I'm fine with it. :)

[2015-03-12 13:17] Bertram25 commented on #539
I'd let autosave, indeed. While later adding an explorer save box will be requested (I'm alsmost sure of it. ;])

[2015-03-12 13:18] Bertram25 commented on #420
+1. That's how I noticed it at first, in fact.

[2015-03-12 13:21] Bertram25 commented on #517
In two steps as you said. First step, plug the GUI and make the buttons update accordingly to the researches done, so that everyone can get to know how those research buttons work and have a function gui. The second step will be the full logic, but as I don't know at which point we'll release, let's say that either the first or both will be done for 0.5.0.

[2015-03-12 13:22] Bertram25 commented on #418
I'll move the non-vital issues there, and we'll move them back if they happen to be done.

[2015-03-12 13:32] akien-mga commented on #539
I meant "quicksave" actually (no point of binding "autosave" to F5 ;-)), but you got the idea :-)

[2015-03-12 13:33] Bertram25 opened #540 "0.6.0 Release"
Here we go!! :D

**General**
- [x] Allow to display callstack when a crash occurs with MSVS2013 versions #701
- [x] Homogenize how the callstack is displayed independently from platform (to avoid using platform specific flags everywhere in the code) #701
- [x] RectLayoutManager - is it used for anything? #690
- [x] The training room max training level should be part of room config #698
- [x] Move

[2015-03-12 13:39] Bertram25 commented on #3
"Only" the logic is lacking now.

[2015-03-12 13:47] Bertram25 commented on #539
Yep. :)

[2015-03-12 17:00] Bertram25 commented on #418
Ok, so all in all, we have left:
- The Research GUI still not done - @Bertram25 <-- Work on this, you £!¨$¨$ (Yeah, this is a self-insult. ;])
- Save support and AI not fixing their damaged rooms - I guess @hwoarangmy
- Packaging/installation issues - @Bertram25 and @akien-mga
- Material warnings to fix + obsolete textures to remove (think about the licenses file, please ;]) and adding weapon bone

[2015-03-12 19:52] hwoarangmy opened #541 "Marked tiles weird color"
Since attenuation has been reduced, marked tiles have strange color when far from the keeper hand. I guess this issue was not visible before because attenuation was too high and we couldn't reach a distance where the tile color changed

![odscreenshot_2015-03-12_203615_2](https://cloud.githubusercontent.com/assets/7493706/6626775/9a166b40-c8f9-11e4-881c-a057e2af12a4.png)

[2015-03-12 21:11] Bertram25 commented on #541
Yep, confirmed.

[2015-03-13 10:18] hwoarangmy opened #542 "keeper hand should move more smoothly"
A stated in #420

[2015-03-13 20:37] akien-mga commented on #418
Here's some WIP for this point: http://forum.freegamedev.net/viewtopic.php?f=35&t=6213 :-D

[2015-03-14 08:14] Bertram25 opened #545 "Proposal: Add a git repo for the website"
So everyone can contribute, make reviews as well, ...

I'll be honest, having a repo from the even static website would permit me to skin it. ;)

[2015-03-14 08:38] akien-mga commented on #545
That would be nice indeed, though how don't know if that can be done using the opendungeons.sf.net domain.

If we want to move yet another service to GitHub instead of SF, we could use https://pages.github.com/ :-)

[2015-03-14 10:30] Bertram25 commented on #545
I guess the syncing would still have to be done manually or through a local script with credentials.

Yes, this could also be studied as well. :)

WDYT @hwoarangmy @oyvindln @Danimal696 @Wout-van-Dongen ?

[2015-03-14 12:25] Danimal696 commented on #545
yes, i also proposed some time ago to give the ability to ours downloaders to write their opinions, not everyone annoys themselves to register at a  forum

[2015-03-14 13:50] Bertram25 commented on #545
Adding Web 2.0 features within the website seems to mean using Jekyll if we're using github's pages. This should be carefully thought and tried before taking any conclusion, IMHO.
Plus, from actual and recent experience, anonymous comments are usually a nasty thing as they are a common source of spam you have to delete. So IMHO, even comments should be made after registration, which is interesting

[2015-03-14 20:35] oyvindln commented on #529
Will you have a look at this @Danimal696 ? Otherwise I'll sort it.
I think you have to put the lighting values under the lighting pass to have any effects.

[code]

these are default values I think, so they can probably be removed (at least the last two)

[2015-03-15 13:52] Danimal696 commented on #529
Please, Please, Please, Please, Please... with the little free time i have lately i prefer to make new content, and being honest i hate meddling with material files.

[2015-03-15 21:15] #542 closed, assigned to hwoarangmy

[2015-03-15 21:26] akien-mga commented on #350
Fixed by #543.

[2015-03-15 21:26] #350 closed, assigned to hwoarangmy

[2015-03-15 21:30] akien-mga opened #547 "Keeper hand does not rotate with map"
As said in the title, the keeper hand does not rotate with the map. It's handled as all the other models, so if you rotate the map by 90°, then the keeper hand appears rotated too.

Since we use it as the mouse cursor, it would be more natural if it kept a constant direction regardless of the map rotation.

As a side note, its position with regard to the system cursor should also be adjusted so th

[2015-03-15 21:33] akien-mga opened #548 "Adapt the F1 help to the 0.5.0 gameplay"
Title says it all. Basically, we just need to proofread the help, and do some adjustments for the gameplay changes in 0.5.0, e.g. the research logic.

[2015-03-15 21:58] hwoarangmy commented on #375
Fixed in #543

[2015-03-15 21:59] #375 closed, assigned to hwoarangmy

[2015-03-15 22:13] Bertram25 commented on #547
Moving the hand to be under the cursor is IMHO part of 0.5.0. The rotation is something else as it could harder. @hwoarangmy How did your experience ended with changing the hand offset, btw?

[2015-03-15 22:13] Bertram25 commented on #529
Fixed by #546

[2015-03-15 22:13] #529 closed, assigned to Danimal696

[2015-03-15 22:15] Bertram25 commented on #531
Marked tiles are in. I need to test again as I don't remember: Are rooms and traps in, btw?

[2015-03-15 22:22] Bertram25 opened #549 "Picked-up and then dropped gold mesh stays in hand."
When you pick up some gold on one of your claimed tiles, and drop it into the treasury, the gold is added but the mesh stays visible in small size next to the keeper hand.

[2015-03-15 23:20] hwoarangmy commented on #531
I'm currently working on traps. Rooms are not in and need some love (to save tile health and remind tiles you have seen)

[2015-03-15 23:38] Bertram25 commented on #531
Ok, I should have something for the research tree soon enough, btw. ;)

[2015-03-15 23:46] Bertram25 commented on #547
Nevermind, somehow, I didn't realize you've fixed it. ;) The rotation is left to be done. 0.5.0 or 0.6.0?

[2015-03-16 07:09] akien-mga commented on #547
I'm setting the rotation to 0.6.0 for now, since it's probably related to bigger issues like #420, and it hasn't bugged us too much so far ;-)

As for the offset adjustments I talked about in comment 0, I'd still like to see something done for 0.5.0.

[2015-03-16 07:11] akien-mga commented on #22
The game is becoming really mature with 0.5.0, how about adding this to the 0.6.0 milestone?

[2015-03-16 07:21] akien-mga commented on #68
FYI, this is still valid in the current development branch. No need to change the milestone though, it's a very minor issue IMO (who is going to use AltGr in-game anyway? :-p)

[2015-03-16 07:22] akien-mga commented on #180
I think this was fixed during the 0.5.0 development, no?
_Edit:_ At least it evolved since there was work on the creatures sight and behaviour.

[2015-03-16 07:27] akien-mga commented on #381
How about simply renaming the test levels to "[Test] Some descriptive name"?
This was they would all be at the end of the alphabetically-sorted list (since [ is after the normal latin letters).

If you agree, I can do that for 0.5.0.

[2015-03-16 08:04] akien-mga commented on #549
I can sort of reproduce the issue. The difference here is that I simply don't manage to drop the gold, that's why it stays in hand.

[2015-03-16 08:05] akien-mga commented on #549
It's also easy to reproduce: collect gold, destroy a treasury tile, grab the orphaned gold, and see that you can't drop it anymore :)

[2015-03-16 08:08] akien-mga commented on #492
I'd like to give a hand on this one, since I know @Danimal696 is busy and we have more interesting tasks for him :-D

But I need to understand better how the textures are linked to our meshes, etc. Do we strictly rely on the text materials files, or are some textures hard-linked into binary meshes? Said differently, can I find out which textures are used and which aren't just by searching for thei

[2015-03-16 08:26] akien-mga commented on #418
How about releasing a 0.5.0 beta sometime this week? (Win32 + Linux64 binaries)
We are slowly growing a community on the #opendungeons IRC channel, and most users tend to struggle with the CEGUI dependency when it comes to building the game from source, so if we provide an "official" pre-0.5.0 binary release I think we could see some nice LANs and get some feedback on the current game.

[2015-03-16 09:33] Bertram25 commented on #418
Isn't it what @hwoarangmy has already done (several times)?

[2015-03-16 09:40] akien-mga commented on #418
It is, but I'd like to do a Linux version of the same snapshot this time, so that we can be sure that Windows and Linux players can do multiplayer games together :-)
So basically, @hwoarangmy should just tell me which commit he used next time he does a snapshot, and I'll provide a Linux binary.

[2015-03-16 09:40] hwoarangmy commented on #418
That looks much like it. It least for windows. I will let you guys do it for linux, though.

[2015-03-16 09:41] Bertram25 commented on #381
Yeah, good idea. :)

[2015-03-16 09:44] Bertram25 commented on #180
I think this case is almost non-existent now. As pathfinding has evolved a great deal, and creatures now wander in a saner way when not "seeing" far away things, making them reach a position where they can see things more likely.

A good test would be to start Scream in the Dark and watch the green ally bottom-right. Previously, it was stuck there not evolving much because the workers would reach

[2015-03-16 09:45] Bertram25 commented on #68
Btw, I still do think keys pushed along with alt gr should be released when their no alt-gr counter parts are released (as a workaround). I still don't know how we can make this look nice in the code, though.

[2015-03-16 09:46] hwoarangmy commented on #418
Yes, you are right, I usually use pretty shadock builds usually including the latest sources and some of my commits (because I just use my sources to build it). To make sure we use the same sources, we should decide by the end of the week (ideally thursday) which repo we should build. The easier probably being to make a branch in my repo.

[2015-03-16 09:54] hwoarangmy commented on #381
seems easy and efficient ^^

[2015-03-16 09:54] Bertram25 commented on #548
For info, in multiline edit widgets, you can use icon and colors within the text. See there:
http://cegui.org.uk/wiki/Formatting_Tags_in_CEGUI

Might make the text more appealing. ;)

[2015-03-16 09:54] Bertram25 commented on #548
Ah, and the windows should auto-add a scrollbar if the text is longer than the screen so you should have all the space you want.

[2015-03-16 09:56] Bertram25 commented on #549
Ah? Wait, was I able to put it back? Now you tell it, maybe I wasn't, eh.

[2015-03-16 10:00] hwoarangmy commented on #549
I guess it is again related to the changes I've done about fullness on client side. It's easy to fix and I will do that ASAP.
For the record, I will check all dropable entities as they probably have the same bug.

[2015-03-16 10:04] Bertram25 commented on #459
@hwoarangmy @Danimal696 @akien-mga @oyvindln the Workshop icon:
![workshop](https://cloud.githubusercontent.com/assets/765917/6664021/2a41354a-cbcc-11e4-9288-3a8cc1bf35a6.png)

[2015-03-16 10:09] Bertram25 commented on #492
@akien-mga I'd say, watch the material files, move the textures not listed elsewhere and have an advanced play with both factions. Then, if the logs don't complain about something missing, you are good to go. :)

Then, you can list them here and we can let @Danimal696 decide for each of them whether he wants to keep it (and then we move it to the media repo) or not.

Then, the job is easy (Watch f

[2015-03-16 10:24] Bertram25 commented on #418
Btw, I do think what we're lacking now is 5-8 players maps, and some other single player ones.
It could also be good to see whether we can tweak the current maps to make them more replayable, like permitting to change the seat, the team or the faction in certain of them.

For the release, I plan to upgrade the Bridge map a bit and have a go at some idea I had. ;)

[2015-03-16 11:03] akien-mga commented on #381
I'll do that then.

Note to self: brackets should be escaped in the level name definition.

[2015-03-16 11:05] akien-mga commented on #459
Nice! :)

[2015-03-16 11:08] hwoarangmy commented on #418
Please do not add maps until savegames works (especially big maps) as it usually requires to change them while patching.

[2015-03-16 11:14] Bertram25 commented on #418
Ok, duly noted. Let's add maps for 0.6.0 then.

[2015-03-16 11:18] hwoarangmy commented on #459
Nice icon ^^

[2015-03-16 12:44] Bertram25 commented on #459
If nobody else does it, I'll add it to the icons resource tonight.

[2015-03-16 22:59] hwoarangmy commented on #459
Now that @Danimal696 is done with the forge, its @Bertram25 turn ^^

[2015-03-16 23:25] Bertram25 commented on #459
The icon is there. :)

[2015-03-16 23:29] Bertram25 commented on #459
Want me to deal with the models change as well?

[2015-03-17 08:16] hwoarangmy commented on #459
If, you can, yes. I'm pretty busy ATM with saving traps and rooms.

[2015-03-17 11:03] Bertram25 commented on #459
Np. I'll make the change tonight. :)

[2015-03-17 14:49] hwoarangmy commented on #541
@Bertram25 @oyvindln An idea how to fix this ? IMHO, that needs to be fixed for 0.5.0

[2015-03-17 15:16] akien-mga opened #552 "Improve icon alignment in OpenDungeonsIcons.png"
I've had a closer look at our gui/OpenDungeonsIcons.png tileset, and I've noticed that the grid-alignment is not OCD-perfect ;-) Apart from the small 32x32 icons, all other icons should fit in a 64x64 frame, but I've noticed that some are not properly centred along a orthogonal grid with a base dimension of 64.

See the following screenshots taken in GIMP with the said grid.
Note: the first and se

[2015-03-17 15:29] Danimal696 commented on #492
by chance i discovered its used by the hand, now it depends if @hwoarangmy exported the hand using it or not to remove from texture files. All the the other textures seem to be ok and used.

[2015-03-17 15:33] Danimal696 commented on #381
I also think we should only aim to make final levels when we have most features in

[2015-03-17 15:36] hwoarangmy commented on #492
I just used blender to ogre feature. I didn't change anything about textures.

[2015-03-17 15:38] akien-mga commented on #381
While I'm messing with level names, would it be okay if I changed some filenames to avoid using spaces, since those can be a pain when using the command line? e.g. "Scream in the dark.level" would become "ScreamInTheDark.level". (mostly a question for @Bertram25 and @hwoarangmy)

[2015-03-17 15:39] Danimal696 commented on #191
Is still required a wood one and a stone one?

[2015-03-17 15:41] hwoarangmy commented on #552
You should only have to mess with CEGUI files for most icons (text files easy to change in gui path).
Concerning optional gui icons (like the green check), I'm not sure. I don't remember @Bertram25 PR but he should be able to tell you ^^

[2015-03-17 15:56] akien-mga commented on #191
I don't remember the discussions but I guess the idea would be to have the wooden one for water (that you could reach early in the game in the research tree) and a stone one for lava (that would take more time to research, so level creators could hide lots of gold behind lava :-)

[2015-03-17 15:56] Bertram25 commented on #541
@hwoarangmy Must say I'm not sure. Maybe add some emissive when marked?
@oyvindln Any idea yourself?

[2015-03-17 16:05] akien-mga commented on #552
Here is my proposal:
![opendungeonsicons](https://cloud.githubusercontent.com/assets/4701338/6691547/9ba4a0fe-ccc7-11e4-9102-928578fa63d9.png)

With the grid:
![icons6](https://cloud.githubusercontent.com/assets/4701338/6691559/a6fce286-ccc7-11e4-8eac-b01138aa5da0.jpg)
![icons4](https://cloud.githubusercontent.com/assets/4701338/6691555/a501b434-ccc7-11e4-9776-e11c8fc55aad.jpg)
![icons5](https://c

[2015-03-17 16:09] Danimal696 commented on #492
then please look at the hand material, if its not in there it can be erased (you have a newer version than i do)

[2015-03-17 16:12] Danimal696 commented on #381
what about botton lines? Scream_In_The_Dark.level

[2015-03-17 16:14] Bertram25 commented on #552
I like it, looks professional. :) (I should have done that from the start.)

[2015-03-17 16:16] Bertram25 commented on #381
@akien-mga Don't mind. Either are fine to me. :)

[2015-03-17 16:17] Bertram25 commented on #191
Yes, plus the wooden one wouldn't last over lava and break over time. At least it is DK concept. Maybe we even don't want to permit wooden bridges over lava?

[2015-03-17 16:28] oyvindln commented on #541
I don't understand what the error is from the picture, is it the black tiles?

[2015-03-17 16:29] akien-mga commented on #381
Those would be fine too. It's mostly a matter of taste there :-) I've checked some other files in the repo (materials, textures, source code), it looks like most of the time we use ThisKindOfName.ext, though there are also some This_kind_of_name.ext. I'll go with the former, but it's not necessarily a strict rule, feel free to use whichever you like best when importing models and textures.

[2015-03-17 17:02] hwoarangmy commented on #381
You can do so for me. If there are merge conflicts, I will fix them.

[2015-03-17 17:04] hwoarangmy commented on #541
@oyvindln  If you look closer, you will see that I've marked a square. But as I move the light, far tiles (distance > 10) become really dark (almost as not marked).
I guess it comes from decreasing attenuation (before you say it, increasing attenuation is not an option ;) )

[2015-03-17 17:10] hwoarangmy commented on #191
I wouldn't allow, at least as a first step. Otherwise, we would have to deal with what happens to creature that goes on the bridge while it breaks and saving its state.

[2015-03-17 17:11] hwoarangmy commented on #552
Yep, seems perfect ^^

[2015-03-17 17:29] Danimal696 commented on #191
you know, ill try that just for kicks, build bridge -> put creature on top -> sell it , look at creature stuck on its place because it has 0 speed over lava. Is is posible for them to be damaged it they are over lava and speed = 0? in the original dk, you could make any creature walk over lava (by posession, never by own will) but they took a lot of damage

[2015-03-17 18:23] Danimal696 commented on #191
more problems, there is already a stone bridge in the repo, it has 3 pieces:
http://forum.freegamedev.net/viewtopic.php?f=38&t=3958&p=40254&hilit=bridge#p40229

I think only using the real bridge model is the best option ignoring the shore piece and making it the same heigh as the rest of floor tiles; some questions:
- how to know its owner?
- is it destructible? (i suggest not)
- Claimable? (i sa

[2015-03-17 19:40] #381 closed, assigned to akien-mga

[2015-03-17 19:40] #552 closed, assigned to akien-mga

[2015-03-17 20:00] #449 closed, assigned to Danimal696

[2015-03-17 20:55] Bertram25 commented on #191
I'd say the owner is the one adding it at first. But then, bridges could be claimed by enemies tile per tile. It should also permit to keep claiming tile on the other shore if the tile next to the shore is of the same team color.

[2015-03-17 22:51] Danimal696 commented on #191
Then the player knows the bridge owner by minimap colour, thats fine by me

[2015-03-18 09:12] hwoarangmy commented on #191
Or by coloring like claimed tiles

[2015-03-18 10:28] Bertram25 commented on #191
Sure, let's not add some hellish twist while dealing with new features.

IMHO, this will have to be done as a second step. Honestly, I'd even kill creatures in the middle of a full tile when we will be at this stage.

Would be better, yes.

[2015-03-18 10:39] Bertram25 commented on #541
I don't know yet whether this can help but I noticed yesterday that the marked gold tiles don't seem to suffer from that bug.

[2015-03-18 10:44] Bertram25 commented on #492
@Danimal696 Sorry, I'm not getting what you both talked about here:
- Is the Env-blaugruenF.png file used by the hand mesh? Or is it another texture?
- Are the other textures all used for something?

[2015-03-18 11:03] Bertram25 opened #556 "Replace the workshop wall objects"
Now that the workshop will be soon in place, we'll want different room objects for the workshop than for the forge.

[2015-03-18 11:03] Bertram25 commented on #556
This is not a release blocker so I moved it by default to 0.6.0

[2015-03-18 11:06] Bertram25 opened #557 "Add the new forge"
- [ ] Readd the forge as a room that can be added in game now the workshop as taken its place.
- [ ] Add the room in the research tree.
- [ ] Add the creature equipment crafting logic.

[2015-03-18 11:11] hwoarangmy commented on #557
Well, now that you have removed the forge, adding an empty room that will be disabled might not be that relevant (and waste of time). IMHO, that's better to stay as it is and we will see for 0.6.0. We have more important stuff than a disabled room to focus on for now.

[2015-03-18 11:12] hwoarangmy commented on #556
agreed

[2015-03-18 11:15] Bertram25 commented on #557
Yeah, well, you were the one asking to readd the forge that's why I did it that way. This can be fully moved to 0.6.0, I don't mind at all.

[2015-03-18 11:43] hwoarangmy commented on #557
I was just asking why you removed it, not asking to re-add it ;)
But now that it's done, no need to waste time for that.

[2015-03-18 12:24] Bertram25 commented on #557
Ah ok. :) Let's move that out then.

[2015-03-18 12:26] Danimal696 commented on #492
Yes, by the hand only

at least for the ones into the texture folder, i did a clean up some time ago, the rest are clean

[2015-03-18 12:32] Bertram25 commented on #60
With all the development and the addition of the tileset being done. It appears this entities catalog file looks like being obsolete now.
Plus, I do have to say I prefer seeing config files without too much mandatory links between them.
I'd thus propose to close this issue as won't fix and open a new more relevant one if the need and the will appears. WDYT @oyvindln @akien-mga @hwoarangmy ?

[2015-03-18 12:44] Bertram25 commented on #492
Ok, bonus questions: ;)
- Is this material used by the hand? (easily testable but I can't atm)
  https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/scripts/Keeperhand.material

More general question while I think about it (or note to self):
- Is the general.material content still used?

[2015-03-18 12:46] Bertram25 commented on #492
Btw, since the texture was renamed to remove the umlaut, was the hand mesh updated afterward?

If yes, I think we can close this issue. :) (I'll check the general.material use)

[2015-03-18 12:49] Bertram25 commented on #382
To make this issue clearer and maybe feasible for 0.6.0, I'd propose to add the following console command:
`jokerandthief` This commands will make cheat console commands available but will first warn other players through chat. Also only the server/host will be able to run this command. You won't have to call this command in singleplayer before cheating.

The following commands will then be enable

[2015-03-18 12:58] Bertram25 commented on #400
I'll be on this once the research tree pending research part view is done if nobody else does.

[2015-03-18 13:01] akien-mga commented on #60
Fine by me :)

[2015-03-18 13:15] Bertram25 commented on #511
To make this issue clearer, I'd propose to:
1. Let @Danimal696 add normals on models little by little as a background task like he's been doing since some time now.
2. Make it clear that this issue is about optionally disabling the RTSS at (re)start and depends on the settings window support.

WDYT?

[2015-03-18 13:18] Bertram25 commented on #530
After thinking about this, I wondered whether adding a sub-image to the map background image widget and rotating that one would be feasible. This way, the rotated map, as a child of the map baground image would be scissored correctly when rotated. I may look at that sooner or later when time permits.

[2015-03-18 13:30] akien-mga commented on #511
That sounds sensible to me. IMO we could consider that every model could benefit from backgrounds, but the artist's priority should be the bigger/most used models.
The we should have an option to disable the RTSS, and depending on the feedback from our users, we could for a later milestone have an option to disable some of the normals for a subset of the objects (that would require the ability to

[2015-03-18 14:10] Bertram25 commented on #511
I must say I do hope switching to the Ogre 2.1+ HLMS one day too, so that's not something easy to sort out, yet. The switch to Ogre 2.x should sort out some performance problems while surely add other ones. ;) So yeah, it's not around the corner to be solved yet.

[2015-03-18 14:12] alketii commented on #511
What I've heard, ogre 2.x has a bit low fps.

[2015-03-18 14:28] Bertram25 commented on #511
OMG, people are watching us. O.O'

More seriously, welcome @alketii :)
From what I've read myself, Ogre 1.x is, and on Ogre 2.x, you can still use the v1 mechanisms, which are not fast either. The engine is still experimental and has got problems when using a lot of light sources for instance + [add an inifinity of other problems an alpha branch can give].
That said, the progress being made are im

[2015-03-18 14:35] oyvindln commented on #530
One option for later could also be to simply use renter-to-texture with an isometric camera instead of hand-drawing the minimap.

[2015-03-18 14:36] Bertram25 commented on #530
Yeah, that would be the coolest way to do it. :) Wonder how easy/hard Ogre makes that for us?

[2015-03-18 14:40] oyvindln commented on #511
From what I can read, Ogre 2.x seems to be [dropping support for pre-DX10](http://www.ogre3d.org/forums/viewtopic.php?f=25&t=82743&p=514477&sid=d73f9ebb2b5b6cb1cbd9a8660363381e#p514474) cards though, not sure if we want to do that any time soon. (At least I won't be able to do that without upgrading my system.) Though on the bright side, it seems the HLMS [will be available](http://www.ogre3d.org/

[2015-03-18 14:43] oyvindln commented on #530
I don't think it's very complicated to do, but we probably want to add support for LOD first.

[2015-03-18 15:00] Bertram25 commented on #511
Yeah, but wasn't it a temporary decision to prioritize the scope of it? Or is it something left to 1.x users?

Yeah, we'll be able to experiment with the new system sooner than making a potential switch. :)

[2015-03-18 15:03] Bertram25 commented on #530
Btw, 1.10 has got a LOD generator: :) http://www.ogre3d.org/tikiwiki/MeshLod

[2015-03-18 15:18] hwoarangmy commented on #60
I'm always for closing obsolete issues and recreate new ones more accurate if needed ^^

[2015-03-18 15:18] #60 closed, assigned to nobody

[2015-03-18 15:24] hwoarangmy commented on #382
Well, seems like a good idea. Anyway, IMHO, at least until version 1.0, we should let the console commands on because we might use them for debug purpose. More important, it will give an excuse to @Bertram25 for our next lan.

[2015-03-18 16:22] Bertram25 commented on #382
Only if I'm hosting. ;P Wait, er no I would never cheat. :angel:

[2015-03-18 16:23] Bertram25 commented on #382
Ok, letting this one on the backlog until we have the core gameplay in place.

[2015-03-19 08:17] akien-mga commented on #541
Here is a video that shows the issue: http://remi.verschelde.fr/files/misc/od-marking.mkv

[2015-03-19 10:05] Bertram25 commented on #531
@hwoarangmy Btw, so you know you're not alone struggling with save feature stuff. ;)
http://www.uberent.com/pa/2015/03/12/single-player-saveload-first-pass/

[2015-03-19 10:43] hwoarangmy commented on #531
Yep. Not an easy feature I guess ^^

[2015-03-19 11:26] Bertram25 commented on #531
IMHO, one of the nastier you're biting so far.

[2015-03-19 12:03] akien-mga opened #559 "Unlocked GUI elements via research are not reset when starting a new game"
Oops :-)

[2015-03-19 12:06] akien-mga commented on #559
Actually my diagnosis was wrong, so I change the topic. The research progress is properly reset, but the GUI is not refreshed so you can still try to place unlocked rooms and traps. It doesn't work though.

[2015-03-19 12:06] hwoarangmy commented on #531
Well the most annoying thing, IMHO, is that my next PR will be a big game breaker because I had to change many things in the code architecture. And that's probably not the best thing to do few days before a release ^^

[2015-03-19 12:09] akien-mga commented on #531
IMO that's fine, we'll take the time that we need to fix the potential regressions, and we'll release afterwards :)

[2015-03-19 12:18] Bertram25 commented on #531
+1 There is no such thing as a deadline here, except for the pressure we're putting ourselves on our own shoulders because we want to actually show the work done.
So, please, take the time needed. :)

[2015-03-19 12:20] Bertram25 commented on #559
Silly me, I'm almost sure it is all about asking a gui refresh after loading the map.

[2015-03-19 12:25] akien-mga opened #560 "Segfault with no helpful backtrace"
Playing @Bertram25's current game, I experienced two segfaults so far, with unhelpful backtraces:

[code]

[code]

I can't say if it's related to @Bertram25's current PR though, I hadn't played long games for a while, and my two segfaults appeared in mid game (turns 1664 and 2118).

[2015-03-19 12:26] akien-mga commented on #560
Well actually the output is not that useless, since in both cases the segfaults happened when removing a name room, so my guess would be that the culprit is @hwoarangmy's room naming ;-)

[2015-03-19 12:28] Bertram25 commented on #517
Note to self: Once this is merged and 0.5.0 is released, the new forge goes in the attack skills under the call to war spell.

[2015-03-19 12:29] Bertram25 commented on #517
Note to self 2: ~~The Imagebutton state icon should go over the disabled dim image.~~ At least I checked, it can't be done like that. Let's forget about that but I'll later have a look at colouring icons through parameters.

[2015-03-19 12:32] Bertram25 commented on #560
@akien-mga Is there a common event type that could be linked to your segfault in both games? Were you being attacked or attacking an AI?

[2015-03-19 12:32] Bertram25 commented on #560
Ah and what was(were) the map(s) played?

[2015-03-19 12:35] Bertram25 opened #561 "Check the general.material use before release"
I can't remember whether this one is still actually useful.

[2015-03-19 12:48] akien-mga commented on #560
The first segfault was on Scream in the Dark, and the second segfault was on Stonekeep Siege.

[2015-03-19 12:51] akien-mga commented on #561
I moved it away from the materials/scripts folder locally and did not notice any obvious regression, but then that's a bit light to know if it's useful or not ;-)

Using my magic "ack" command, I found nothing relevant about "general" in the code (it's important to use `ack general` and not `ack -i general`, because with the latter you get all our headers citing the GPL :-P).

[2015-03-19 12:55] Bertram25 commented on #561
@akien-mga In the general.material file, the material is named base_material.

Could you also ack on this one? (I'll have a look as well if you can't for any reason.)

[2015-03-19 13:04] akien-mga commented on #561
That's correct. Here is the output:

[code]

IMO this general.material is just a template. It should probably be renamed to template.material to avoid confusion (and we should check if it's still relevant at all, or if it is outdated).

[2015-03-19 13:14] Bertram25 commented on #561
In fact, it's a remnant from the past when someone (?) tried to play with material files to factorize their content using the import, override parameter mechanism.
It didn't turn well as when I made the game run the first time, I spent one afternoon fixing all the modified materials back at the time. Not blaming anyone in particular. A lot of things were messy at the time.

If it is not used, it s

[2015-03-19 13:20] akien-mga commented on #561
OK, I'll remove it in my current PR.

[2015-03-19 13:23] hwoarangmy commented on #560
I've already seen and fixed this segfault few days ago. It will be released in my PR. It comes from an architecture problem because we don't clean removed entities after AI turn. It is now visible because of the AI repairing rooms.

[2015-03-19 13:39] #561 closed, assigned to akien-mga

[2015-03-19 13:49] oyvindln commented on #541
Hm. Maybe it has something with the fact that we are using lighting values to add the shading to the tile, and if the tiles are only hit by ambient light it doesn't work properly. Though I'm still not sure why, maybe ogre does some trickery to disable lighting in the background or something. I was planning to change the way tiles are shaded anyhow, so maybe that will fix it, I haven't been able to

[2015-03-20 19:54] Danimal696 commented on #191
First try, i can see some troubles, like its clear it will have a defined orientation and need to be rotated depending on where its build, also, how to see owner colour, sugestions? I could make it a single square instead of 3 steps but it will look uglier
![woodbridgedemo](https://cloud.githubusercontent.com/assets/8299756/6759797/48bad4ac-cf43-11e4-934e-a0f25445678c.png)

![woodbridgedemo2](http

[2015-03-20 20:11] #459 closed, assigned to Bertram25

[2015-03-20 20:37] akien-mga commented on #191
It looks great :-O

If you want to have a complete tileset that handles orientation and rotation, I guess those shapes would be needed:
![bridge-tileset](https://cloud.githubusercontent.com/assets/4701338/6760382/361ecd94-cf48-11e4-827d-09f5e8b61d9e.png)

But actually, thinking about it again I guess we could do with just the simple square, and just use rotations to build complex shapes, e.g.:
![b

[2015-03-20 20:38] akien-mga commented on #191
As for the owner colour, we could maybe reuse the star from claimed tiles?

[2015-03-20 20:47] Danimal696 commented on #191
im an advocate of simplicity ;-P ; ok ill put a small star in the middle

[2015-03-20 22:04] akien-mga opened #564 "MaxCreaturesPerSeat is not taken into account when adding new workers with a spell"
As said in the title. We currently define MaxCreaturesPerSeat in config/global.cfg, but the value is not checked when spawning a new worker.

It is however used by the portal logic:
`double targetProbability = powl((maxCreatures - numCreatures) / maxCreatures, 1.5);`

So basically, for the fighting creatures we are limited to 15 minus the number of workers at the spawn time. So if you don't have a

[2015-03-20 22:20] akien-mga commented on #564
The fix is trivial, I'll do it.

[2015-03-20 22:22] akien-mga commented on #564
Note that fixing this bug would not influence the gameplay too much, because most likely everyone spawns their workers ASAP and those are then properly taken into account in the number of creatures when spawning new fighting creatures.

This bug is more about being able to spawn as many workers as you want regardless of the limit.

[2015-03-21 10:39] akien-mga opened #565 "Workers should learn to work in teams"
Currently the workers choose their tasks based on pre-defined priorities, and it's working fine. But it is really common to see a group of workers heading to the exact same tile to do the exact same action, e.g. picking up a completed research grimoire, or claiming a wall.

This results in an important loss of efficiency since the logic is:
- find a prioritary task to do
- go to the task's locatio

[2015-03-21 10:48] akien-mga opened #566 "Missing normals for knight statues?"
![od1](https://cloud.githubusercontent.com/assets/4701338/6764716/76d34b72-cfbf-11e4-8c59-452038b012fb.jpg)

It looks like statues are now an untextured dark grey, though if you zoom in you can see the texture, but the lighting makes it look like a plastic figurine :)

![od2](https://cloud.githubusercontent.com/assets/4701338/6764732/3df85508-cfc0-11e4-81c6-eefc7af69123.jpg)

Note: If some work is

[2015-03-21 11:55] akien-mga opened #567 "Make backup of the logs of the last couple of games"
I often find myself stumbling into a bug while playing, and then I start a new game to try to better diagnose this game. Most of the time I forget to backup the first log that might contain interesting stuff, and I might end up losing valuable info.

So for impulsive bung hunters like me, it would be nice to have some backups of the previous log. I don't mean to make logs with unique names, that w

[2015-03-21 11:57] akien-mga commented on #567
To make it clearer: when starting a new instance of OD, opendungeons.log (the one from the last game) should be renamed opendungeons.log.old (overriding the penultimate log).

[2015-03-21 12:20] akien-mga commented on #567
I've had a look at this one but I run into a boost::filesystem bug: https://svn.boost.org/trac/boost/ticket/10038

[code]

Using this code in ResourceManager::setupUserDataFolders():

[code]

Looks like this bug is fixed in boost 1.57.0, but we don't want to break compatibility with earlier boost versions just to copy a file IMO :-)

[2015-03-21 12:35] Bertram25 commented on #566
Setting to 0.6.0 as a non-blocker.

[2015-03-21 12:41] akien-mga commented on #567
I worked around the issue by using boost::filesystem::rename in the end.

[2015-03-21 12:44] Danimal696 commented on #566
Actually stick them to Later, there a is a pretty big problem for them to look good, they must be uv unwrapped and retextured, applied an ambient oclusion map and then normals, its a lot of work for such simple models that can wait for later.
With all the material fixes and changes they ended up shiny metalic again, ill fix them along with material for workshop/grimoire.

By the way can you make t

[2015-03-21 12:48] Danimal696 commented on #565
that would also fix the problem of legion of them digging the same wall

[2015-03-21 12:48] akien-mga commented on #566
Well 0.6.0 is kind of later, it should be in ~3-4 months depending on our advancement I suppose :)

[2015-03-21 12:51] Danimal696 commented on #564
Stop rigth there!!!! why limit worker number???? they are not good for anything else besides working; their mana cost goes up pretty fast as well. There is no reason to even count them as creatures and lose a warrior place to one kobold, they shouldnt even be counted as creatures.

Not to speak how you gonna explain why you cant summon kobolds after a big battle in which a lot died and the portal

[2015-03-21 12:55] hwoarangmy commented on #567
That's what I was going to say. Renaming seems better suited than copying

[2015-03-21 13:19] akien-mga commented on #564
That should be discussed in another issue @Danimal696. I just fixed the current logic which was broken, since when spawning creatures the game currently checks that number of fighters + number of workers <= 15.

So basically before and after my PR, if you summon 5 kobolds, you will be limited to 10 fighters. But before my PR, there was a bug that could be exploited to gain advantage over other pla

[2015-03-21 14:05] Bertram25 commented on #565
Not simple. ;) But relevant.

[2015-03-21 15:18] akien-mga opened #568 "Revise the spawning logic"
_Note:_ I'll sum up the current state of the discussions here and copy paste some relevant bits from #562 in the first comment.

**Current spawning logic**
- The portal can spawn a creature if the total number of controlled creatures (both spawned fighters and summoned workers) is less than MaxCreaturesPerSeat defined in config/global.cfg (set to 15)
- The crypt follows the same logic
- The Summon

[2015-03-21 15:24] akien-mga commented on #568
From @Bertram25:

From @hwoarangmy:

From @Danimal696:

[2015-03-21 15:39] akien-mga commented on #418
I've updated the topic to add a couple new issues for 0.5.0: the spawning logic revision + the small additions I made in #562.

@Bertram25 Since we will probably use this as a basis for the human-readable changelog, maybe the items of the _Bonus content_ section should be classified in the other categories? Or do we want to keep it to differentiate originally planned features from bonus features?

[2015-03-21 15:41] akien-mga commented on #418
If we want to use this topic for the changelog, we should probably also name some of the hidden improvements and modifications that @hwoarangmy made while working on the save feature.

[2015-03-21 17:27] hwoarangmy commented on #568
IMHO, as a first step, we could increase max creature number and remove workers from it.
The bonus per portal is a good thing since it would make a bonus to agressive players but it means claiming portals and should be done in a second step.
In any case, maximum creatures per seat should be kept for performance purposes.

BTW, ATM workers count in the total creatures number (worked like that from

[2015-03-21 17:29] hwoarangmy commented on #565
Not simple at all, indeed ^^

[2015-03-21 17:32] akien-mga commented on #565
Hey, teamwork never was an easy-to-learn skill ;-)

[2015-03-21 22:04] Bertram25 commented on #568
Agreed.
Btw, I wondered whether we wanted different limits for single player and multiplayer maps?
WDYT?

[2015-03-21 22:13] akien-mga commented on #568
Not forcefully for now, but I'd like to envision this under another angle: should we have the possibility to override the limits from global.cfg in the level files? IMO yes, and that would make it possible to set different limits for skirmish and multiplayer.

[2015-03-21 22:23] Bertram25 commented on #418
@akien-mga I've been adding bonus content as a sole category since at first it was small but if you think it's getting messy, I trust you upon improving this. :)
I may also have missed a few things. Feel free to add them and thanks a lot for all that. :)

[2015-03-21 22:25] hwoarangmy commented on #568
I agree with @akien-mga. Not in a first step and later by overriding limits

[2015-03-21 22:31] Bertram25 commented on #568
Yeah, sounds clever and it's the logic used for creatures. Ok, let's see that later with that in mind.

[2015-03-22 21:51] #564 closed, assigned to akien-mga

[2015-03-22 21:51] #567 closed, assigned to akien-mga

[2015-03-22 22:28] hwoarangmy commented on #418
Well, it's more bug fixing and code adaptation. No new feature is there besides game saving.

[2015-03-23 10:12] Bertram25 commented on #418
A "tons of bugfixes and cleanups line" should handle it. :)
We're so close!

[2015-03-23 10:13] Bertram25 commented on #567
OMG, what have we done?! Look, @akien-mga is a dev now. His girlfriend will kill us for that. ;P

[2015-03-23 10:20] Bertram25 commented on #568
The last release blocker IMHO.

[2015-03-23 10:21] Bertram25 commented on #517
Note to self 3 : ~~The research state logic should be changed to use only one vector with each research states defined in it. I'll handle it.~~
I've tried it, it is working but isn't at all simpler since it involves a lot of fiddling when writing levels, ... Point dropped.

[2015-03-23 10:23] Bertram25 commented on #517
~~Arf, note to self4: Make the grimoire animated using the "Loop" animation.~~

[2015-03-23 10:34] Bertram25 commented on #517
Note to self 5 (It never stops!): ~~Make the tables rotated to 30° and adapt accordingly. Also, use a X/Y_SPOT_OFFSET constant as @hwoarangmy requested.~~ Done with #573

If everything goes fine, all that should be sorted out tonight.
I'll then move the rest of the research logic issue to 0.6.0 and focus on packaging stuff/marked tiles problems if @oyvindln doesn't do it before me.

[2015-03-23 10:35] Bertram25 commented on #492
I'm closing this issue based on @Danimal696 's input. The general.material has been removed and every textures are used.

[2015-03-23 10:43] hwoarangmy commented on #568
I will handle this when my PR gets merged

[2015-03-23 10:46] hwoarangmy commented on #517
@Bertram25 I will handle the grimoire animation as it is not really related to research GUI and it is easy ^^

[2015-03-23 10:51] hwoarangmy opened #569 "The grimoire (research done) should use its animation"

[2015-03-23 10:55] Bertram25 commented on #517
Fine to me :)

[2015-03-23 10:57] #531 closed, assigned to hwoarangmy

[2015-03-23 10:57] #539 closed, assigned to hwoarangmy

[2015-03-23 10:57] #549 closed, assigned to hwoarangmy

[2015-03-23 10:57] #560 closed, assigned to hwoarangmy

[2015-03-23 11:04] akien-mga commented on #541
Do we have an idea about which commit caused this bug? If we're not sure I can try to bisect it.

[2015-03-23 11:14] Bertram25 commented on #541
I'd say around this one:
https://github.com/OpenDungeons/OpenDungeons/commit/ee56e51299d15c65446ebc250ef9e27a8781d145

But I don't think this "bug" is a regression. Rather an undercover one revealed by fixes on lights.

[2015-03-23 11:18] Bertram25 opened #570 "Several materials are giving warnings - take 2"
The Workshop, workshopMachine1 and Grimoire material files are giving similar warnings to this one:

[code]

Same as seen in #529

Have a look at #546 and https://github.com/oyvindln/OpenDungeons/commit/60bcd45a6703b39576ca85925c6a55cab77bb732 to know how it was fixed for other materials.

[2015-03-23 12:00] hwoarangmy commented on #541
I am pretty sure it is the commit from @oyvindln about changing light attenuation. It was set to 50 at he set it to something like 10 (which seems much saner BTW). But as a consequence, now, you can see enough tiles to be able to put the hand light somewhere and have more tiles in your screen than the current attenuation.
I also do believe it is not a regression but it was just not visible before

[2015-03-23 12:55] akien-mga commented on #567
So far she was mostly amused to see me jubilating after I had managed to add a GUI element that shows how many creatures I have :-D

I'll stick to junior jobs for now, since for the bigger ones you would have half of my work to redo to get a good implementation. So if you notice things that should be easy to fix/implement and that you're not already handling in your PR, feel free to open an issue

[2015-03-23 13:02] Bertram25 commented on #541
Yep, and btw, Gold doesn't use normals yet, explaining why there is no light "bug" on it (or maybe this is a Fixed function pipeline bug that lights aren't applied correctly?)
https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/scripts/Gold.material
https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/scripts/Dirt.material

While we're on this, note that the

[2015-03-23 13:08] Bertram25 commented on #567
I'll never be bold enough to assign things to you without having even an hint of your consent about it first. ;) But I may sometimes do that to @hwoarangmy because of the BigKnight's use. ;P

Best way, too, IMHO. We're a crazy bunch of fellows making a crazy good game. Let's keep that fun, indeed. :)

[2015-03-23 13:15] hwoarangmy commented on #541
Many materials have this bug. There was in issue about it #529 fixed by @oyvindln. I guess those you are talking about were introduced after the corresponding PR.

In any case, IMHO, it would be better to use "live" material customization for seat color only and use material files for everything else (marked tiles, tiles without vision).
Of course, that means we will have to adapt tilesets.

[2015-03-23 13:22] Bertram25 commented on #541
Yeah, I've opened #570 about this. If you see others, feel free to list them there.

Agreed, fortunately both of my proposals are following that road.

[2015-03-23 14:21] Danimal696 commented on #570
the materials need a full overhaul, ill get on it little by little

[2015-03-23 21:30] #569 closed, assigned to hwoarangmy

[2015-03-23 21:30] #568 closed, assigned to hwoarangmy

[2015-03-24 00:26] #559 closed, assigned to Bertram25

[2015-03-24 00:48] Bertram25 opened #575 "The configure seat menu becomes unusable when restarting a game."
Start a single-player game, then quit the game but not the app and start a new game, the combo boxes in the configure seats menu are empty for certain of them:

![err1](https://cloud.githubusercontent.com/assets/765917/6793647/dfbbd3f2-d1c7-11e4-8e25-2ef64c524493.png)

I tried both with the same map or different maps, and on different dev branches.
Ex: Start The Bridge, and then Scream in the Dark

[2015-03-24 08:42] hwoarangmy commented on #575
I remember having already tried lately and I didn't see such bug.
But the only thing I've changed lately about the configure seat mode is saving seat id instead of the seat itself. I guess I forgot to empty the list between 2 games. I don't see how it explains what you see but could you please try in MenuModeConfigureSeats::activate to clear mSeatIds before filling it and check if it fixes the iss

[2015-03-24 09:05] Bertram25 commented on #575
Sure. I'll do. If I'm the sole to get the issue then I'll be on fixing it.

[2015-03-24 09:06] Bertram25 opened #576 "The research entity should be brought to the temple center."
Atm, the worker will go to the first temple tile. It's just a nifty detail, though.
So, if it brings too much burden, we can move it to 0.6.0 if you want guys.

[2015-03-24 09:15] akien-mga commented on #576
Another small detail on this topic: from what I could see workers grab the last research entity instead of grabbing the first one. So if they were quite busy and you accumulated three or four research entities, you might have to wait a bit until the first one (that you probably want to build first, e.g. a training room) becomes available.

[2015-03-24 09:17] Bertram25 commented on #400
Ok, I'll be on this along with the config seat bug now.

[2015-03-24 09:19] Bertram25 commented on #570
This issue is fixed in itself.

Other warnings will be fixed as a background task. I'm closing.

[2015-03-24 09:19] #570 closed, assigned to Danimal696

[2015-03-24 09:20] Bertram25 commented on #541
I'll make some tries tonight, btw, but I don't say I have the solution yet. ;)

[2015-03-24 09:32] hwoarangmy commented on #576
No, its easy to do.

IIRC, they should take the closest to them, not the last one. But indeed, that might result in enabling rooms where dependencies are still disabled.
But the reason was to allow to steal research entities...
This one might be more tricky depending on what we decide to do.

[2015-03-24 09:34] akien-mga commented on #576
We should probably leave this part for now and come back to it for 0.6.0 then.

[2015-03-24 09:37] akien-mga commented on #548
I'll consider this one closed for now, though I might continue to work on the help text in the near future depending on the feedback we get about it :-)

[2015-03-24 09:37] akien-mga commented on #548
Fixed by 2b1b630.

[2015-03-24 09:37] #548 closed, assigned to akien-mga

[2015-03-24 09:39] akien-mga commented on #418
@hwoarangmy, @Bertram25 I think now would be a good time for a development snapshot based on the upstream/development branch. Apart from the marked tiles bug and the packaging stuff, we are basically at the release candidate :)

[2015-03-24 09:41] Bertram25 commented on #576
This is an actual nasty detail to fix later on. I'm not even sure we should let the creature work on a research before its dependencies have been brought to the temple. the creatures should then maybe try the next research in queue that has no unmet dependencies instead?

While we're on almost off-topic things ;) do you mind if I increase research points for depending on the research location in t

[2015-03-24 09:42] Bertram25 commented on #418
Yeah, we are. :D

[2015-03-24 09:48] akien-mga commented on #576
The current "timing" feels right for the training room and first couple of researches, but then it goes too fast IMO compared to the current game duration. So I'm all for increasing the requirements for high-tier researches.

[2015-03-24 09:58] hwoarangmy commented on #576
Well, it was done this way to avoid creatures leaving the library after each research if you try to do everything in a row. However, IMHO, the best if we find this is really an issue, would be to let creatures gather points and only release a new research entity when its dependencies are brought to the temple.

[2015-03-24 10:00] hwoarangmy commented on #418
ok. I will build a win32 release tonight based on the upstream/dev branch

[2015-03-24 10:04] Bertram25 commented on #576
Yep, but if you add several feasible researches in the queue (researches with dependencies met), shouldn't the creatures start the next feasible one?

May be a solution without being too much a burden for the player, yes. Ok, we'll be back on this for 0.6.0. ;)

[2015-03-24 10:06] Bertram25 commented on #418
Sorry, now @akien-mga has taken the habit to get his binaries, you'll never get free of him. ;P

[2015-03-24 10:43] hwoarangmy commented on #576
If several feasible researches are pending, i agree there is no problem. But if a player wants to rush for the last spell, IMHO, it is not acceptable to have all his creatures stop working after each research...

[2015-03-24 10:53] Bertram25 opened #577 "Research dependencies handling."
As reported in #576, Research can be started even when their dependencies aren't met.

If this is actually a problem (To be decided and my vote is yes, it is).
Then a sane proposal from @hwoarangmy is to let the workers gather research points and make the research entity happen only when the research dependency/ies entity has/have been brought to the temple.

This way, players that are rushing for

[2015-03-24 10:53] Bertram25 commented on #576
Fair point. I agree on the solution then if we go that way. This needs a proper issue. Created:  #577

[2015-03-24 11:11] akien-mga commented on #418
Linux64 portable binary online :-)

[2015-03-24 11:18] akien-mga commented on #418
Note to self: check why our data grew by ~15 MB during this release cycle (most likely due to normal textures, but that's worth a check).

[2015-03-24 11:29] akien-mga commented on #492
What about this one? https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/textures/WoodWatchTower_colour.png
I noticed it because it's HUGE (9 MB, that's 10% of our repo). It seems to be used in the "pskmat1" material: https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/scripts/WoodWatchTower_mat.material
But this pskmat1 material isn't used anywhere in the c

[2015-03-24 11:40] hwoarangmy commented on #418
@Bertram25 @akien-mga  The linux binary being online, please do not merge anything until tonight so we have same sources for win32 and linux binaries.

[2015-03-24 11:53] akien-mga commented on #492
Note: I'd like to have something done bout the WoodWatchTower_colour.png huge texture (if it's actually used, it can probably be scaled down, it's 2048x2048 right now).
I'll open another issue for a more long-term tidying up of our binary data, for now it's a bit hard to know what is used where, we should probably make names more explicit.

[2015-03-24 11:53] akien-mga commented on #418
Fine by me :)

[2015-03-24 12:23] oyvindln commented on #492
The material names used for the models are defined in the .mesh files, so you'll have to look at them to check whether materials are used or not. There are only a few materials that are referenced in the code, for objects where the material is changed from the default one. And yeah, we don't need textures as large as 2048x2048. I can't see the mentioned material being referenced anywhere by greppi

[2015-03-24 12:30] oyvindln opened #578 "Improve test coverage"
Right now, only the consoleinterface class has tests. We should be aiming for having as much as possible covered by tests, but it will require some redesign. TileContainer seems to be a good place to start.

[2015-03-24 12:40] akien-mga opened #579 "Spring cleaning in the materials/ folder"
It is currently relatively hard to know which texture is linked to which material, and which material is used in game or not.

According to @oyvindln's input on #492, most material IDs (defined in the materials/script/*.material files by the `material` tag) are referenced directly in the binary meshes. The we reference the meshes in the config/ files.

So basically to know the status for each mate

[2015-03-24 12:41] akien-mga commented on #579
For the first two points, I wrote a shell script that checks all textures files against the material scripts, and extracts the material IDs.

[code]

It takes a little white to process everything, but the output can be useful already to see that we have quite a few apparently unused textures.

[2015-03-24 12:43] akien-mga commented on #579
Here is the output when running this script in the current development branch: https://gist.github.com/akien-mga/7c1d4825ee321d7ce4a3#file-texture-analyse-txt

[2015-03-24 12:57] Bertram25 commented on #579
Excellent :D This will definitely help!
I'd also add that models that aren't using materials should whenever possible. So tracking which model isn't using a material is also something to do and fix, right?

[2015-03-24 12:58] Bertram25 commented on #418
Only doing PR, I promise. :)

[2015-03-24 12:58] hwoarangmy commented on #578
Well, I've already thought about that and even tried to add tests to TileContainer but there are so many dependencies that you need to include the whole project. Basically, because TileContainer uses Tile. And Tile uses GameMap. And from one to the other, we end up including everything. That's the bad point of not using abstract layers ^^

[2015-03-24 13:00] Bertram25 commented on #492
Ah, I see the point now. @Danimal696 You were a bit quick on this one. ;)

@Danimal696 May I request you to list the models that are directly using textures (and not using materials for them)?

[2015-03-24 13:00] hwoarangmy commented on #418
I know it's hard for you to avoid pushing the big green button...

[2015-03-24 13:01] Bertram25 commented on #492
Yeah, but then we would need a way to make sure the textures are all ok.

[2015-03-24 13:02] Bertram25 commented on #418
Where?? Where?

[2015-03-24 13:04] alketii commented on #418
PTW

[2015-03-24 13:05] Bertram25 commented on #579
I vote for adding that script (with documentation header and copyright) into a tools/ folder for instance.
Other scripts like update copyright year and such could belong there.

[2015-03-24 13:07] Bertram25 commented on #418
Posting To Watch?
Play To Win?
Professional Time Waster?

[2015-03-24 13:11] akien-mga commented on #579
From this I can single out a list of textures that seem to be used by no material script. Some of them are normal or specular maps that have not yet been linked to the corresponding model, so we shouldn't just blindly wipe them out, they will be relevant for #511 ;-)
- Axe.png
- big_diffus.png
- big_normal.png
- big_specular.png
- Cavehornet_nor.png
- Cavehornet_spec.png
- Claimedwall3.png
- Con_W

[2015-03-24 13:14] alketii commented on #418
hehe, all three in that order :dancers:

I posted so I can get emails when release happens.

[2015-03-24 13:34] akien-mga commented on #418
Potential Tournament Winner ;-)

[2015-03-24 13:36] Danimal696 commented on #492
you and your materials... ill shot the lot of you...
So far i settled on 2 texture sizes, 512x512 for tiles/rooms/rooms models and 1024x1024 for creatures; but only the files i have worked with follow that, older ones will need to get revised.

Watchtower is unused, but i see potential on it as a future model, you can move it to media and erase from the main branch

[2015-03-24 13:37] Danimal696 commented on #492
upss sorry, wrong button. IMO just move anything that its not used

[2015-03-24 13:37] oyvindln commented on #579
Does it also check for unused materials?

[2015-03-24 13:39] hwoarangmy commented on #418
@alketii If you want, you can also have a look at our forum:
http://forum.freegamedev.net/viewforum.php?f=15

In any case, I will post a message tonight once the new dev release is on:
http://forum.freegamedev.net/viewtopic.php?f=45&t=4765&start=500

There won't be much difference between this dev release and the final 0.5.0 (unless we find bugs) ^^

[2015-03-24 13:46] akien-mga commented on #579
Not yet. As far as I know I would have to check that in the .mesh files, which are binary files. Should I try opening them in Blender, or is there another way to retrieve some metadata from them?

[2015-03-24 13:48] oyvindln commented on #579
Grep might be able to find the names in the binary files. I don't think they are compressed. Alternatively they can be converted to xml files with ogrexmlconverter, which should at least have the material name somewhere.

[2015-03-24 13:56] akien-mga commented on #579
It kind of works but it's tedious and would be hard to automatise.

Awesome! I tried OgreXMLConverter on Dragon.mesh and it gives exactly what I wanted to know :)

[code]

I'll work on improving my script to first generate XML versions of all .mesh (+ .skeleton) and then run "ack" in those files to identify used materials.

[2015-03-24 14:06] akien-mga opened #580 "Do we use packs/OgreCore.zip?"
Does someone know what OgreCore.zip is, and if we use it at all? I thought it could be related to the Ogre startup config window, but removing packs/OgreCore.zip doesn't seem to affect starting and playing OD from my quick tests.

If we don't need it, can we remove it? That's already one folder less in our crowded root folder :-)

[2015-03-24 14:10] akien-mga opened #581 "Do we use od.cppcheck and ogre.cfg?"
Yeah, you've got the gist of it, I like clean tree (I'm a bit of an environmentalist ;-)), so if we have unused files, I think we should do away with them.

[2015-03-24 14:18] akien-mga commented on #581
od.cppcheck might still be used if some of use use cppcheck, but the contents are so basic that I wonder if it's something worth having in the git repo? Shouldn't we add it to .gitignore and let those of us who use it initialise their cppcheck project by telling it the source code is in source/?

As per ogre.cfg, the config file is now in mUserConfigPath, and I think it's generated on the fly by O

[2015-03-24 14:40] akien-mga commented on #579
Pro-tip for @hwoarangmy and @Bertram25: You can use OgreXMLConverter to convert .mesh and .skeleton files to XML, and this way find for example the name of existing animations without having to bother @Danimal696 :-)

[2015-03-24 14:48] oyvindln commented on #581
We are not using it right now, but we probably should. It may catch some bugs, and I think it's possible to integrate it to run automatically with cmake. It's only used for development though, it shouldn't need to be copied anywhere. Ogre.cfg should be deleted and put in .gitignore. No reason to keep that in the repo.

[2015-03-24 14:49] hwoarangmy commented on #579
I have used this tool to convert the xml file generated by blender into the mesh file while dealing with the keeper hand. FYI, there is a console command to list all animations and bones of every mesh ingame: listanims

BTW, I don't know if you are aware but I've downloaded a tool called Ogre meshy that allows to open and display a mesh and also to play its animations (nice when animations have ex

[2015-03-24 14:52] oyvindln commented on #580
I looked at my own setup, and I haven't put it in my build folder, so I would assume it's unused leftovers from the ogre examples and safe to remove.

[2015-03-24 16:01] akien-mga commented on #579
Here is the output from ./tools/resources-analysis.sh --scan-meshes: https://gist.github.com/akien-mga/d2817ddeeb7c47cb3dcb#file-mesh-analysis-txt

[2015-03-24 16:09] akien-mga commented on #579
Analysis of the data will come later ;-)

[2015-03-24 17:24] Bertram25 commented on #580
Last time I compiled on MSVC, it was still requested to start. Let's ask @hwoarangmy whether the windows binary needs it.

[2015-03-24 17:28] Bertram25 commented on #581
Ok to remove Ogre.cfg from repo and ignore it.
The cppcheck invocation script should maybe be moved into the new and shiny tools/ folder if still working?
Running cppcheck and valgrind should indeed be done from time to time, indeed but this is not actually an issue. so far, IMHO.

[2015-03-24 17:31] Bertram25 commented on #579
It's cool! With this, we will easily track down unused textures/materials.
Is it possible to easily automate an ack on src/ and config/ for used model, for instance?

[2015-03-24 17:32] akien-mga commented on #581
Sounds like a plan. I guess the paths to the source folder should be updated accordingly? i.e. s|source|../source| in https://github.com/OpenDungeons/OpenDungeons/blob/development/od.cppcheck

[2015-03-24 17:34] akien-mga commented on #581
Or simply changing `<root name="."/>` to `<root name=".."/>` maybe.

[2015-03-24 17:36] akien-mga commented on #579
Sure, I did that at first but it could quickly because pretty messy for materials with generic names used in code functions, e.g. Treasury. I'll have to think a bit about how to make a pretty output.
I'm pretty happy about my trick to extract the material from the meshes though :-D

[2015-03-24 18:33] oyvindln commented on #581
Looking at how cppcheck is invoked, I don't think we really need to store the config for now.

[2015-03-24 19:20] hwoarangmy commented on #575
After thinking about it, the configure seat mode is deleted when we launch the game or go back. Thus, I don't know what's going on for you @Bertram25. Maybe have I messed something I didn't see.

[2015-03-24 19:26] hwoarangmy commented on #580
I don't think so. Unless it is silently used and I didn't notice...
I will check asap

@Bertram25 when is it supposed to be used?

[2015-03-24 19:40] hwoarangmy commented on #418
The dev snapshot is released ^^

[2015-03-24 19:53] Bertram25 commented on #418
Yeah :D

[2015-03-24 21:02] alketii commented on #418
Great, why in sourceforge though ?

[2015-03-24 21:23] akien-mga commented on #418
Because we've been hosted by SourceForge historically, and they provide a way better bandwidth that we could with a privately owned server :)
Did you have something else in mind?

[2015-03-24 21:24] alketii commented on #418
github, since project is hosted here.

[2015-03-24 21:27] akien-mga commented on #418
GitHub is good for hosting release tarballs, but not for random files that we would like to upload like dev snapshots or other stuff.
BTW, even GitHub says they deprecated their file hosting feature: https://github.com/OpenDungeons/OpenDungeons/downloads

[2015-03-24 21:29] alketii opened #584 "Trailer / game intro video"
_Edit by @akien-mga_: The video tutorial part of this issue has been adressed, but since it has been hijacked in a discussion about a trailer @eugeneloza is working on, I renamed the issue.

Hi, could someone make a video tutorial, it would be greatly appreciated.
I really would like to play the game (I like RTS games, but never played dungeon), but its very hard to get started.

[2015-03-24 21:30] alketii commented on #418
ah, didn't knew that, thanks.

[2015-03-24 21:48] akien-mga commented on #584
That would be nice indeed. Some gameplay features are not easy to grasp and the ingame help is a good support but not exhaustive enough. Before recording a video of 0.5.0 it would be nice to have a fix for #541 though.

[2015-03-24 22:08] Bertram25 commented on #584
This is a 0.5.0 issue IMHO, while this is some kind of post release issue, IMHO.

[2015-03-24 22:26] hwoarangmy commented on #584
Yes. When we will have the 0.5.0 RC, we can do the video. As @akien-mga said, the marked tiles bug is too visible for now. Even if the easy way to increase attenuation could hide the bug if we want for the video.

[2015-03-24 23:00] Bertram25 commented on #541
I have it! :)

[2015-03-24 23:43] Bertram25 commented on #575
Ok, my apologies. This is coming from the fact that I am using the default hg branch of cegui as a system library. (and an old hg tip, btw)
I recompiled 0.8.3 and reinstalled it. It works fine now.
The default branch can't be considered as stable though, and I have custom changes there regarding combo boxes so it is surely not that important to note.

Sorry again. I'm closing. :)

[2015-03-24 23:43] #575 closed, assigned to Bertram25

[2015-03-24 23:50] Bertram25 commented on #584
see #585 :D

[2015-03-25 00:13] #541 closed, assigned to Bertram25

[2015-03-25 00:22] hwoarangmy commented on #584
Merged ^^

[2015-03-25 09:53] hwoarangmy commented on #12
I was having a look at older issues and now that we have a clearer vision of where OD is, what do we want to do about portals ?
- Are they all claimable ?
- What about hero portals ? Do we consider them as special portals or not (fighting and spawning) ? ATM, rooms can handle per type level parameters so we can choose to use the same portals or not. The choice is more about using the same mesh tha

[2015-03-25 10:54] hwoarangmy commented on #577
Now that we are talking about research, what about finding a research entity (stealing from enemy or dropped by a creature) if you don't have the required dependencies ?

[2015-03-25 12:01] Bertram25 commented on #577
IMHO, There are two options:
1. It can enable the corresponding research whatever its level. (More strategical)
or
2. Give the equivalent amount of research points. (More flexible if we later make a research tree per faction, or a specific one for the campaign for instance.)

Note that the 1. could also be done through hidden gift boxes, and/or item found after killing a creature.

What does every

[2015-03-25 12:25] Bertram25 commented on #12
@Danimal696 @oyvindln @akien-mga <-- For updates.

It's good to start getting rid of oldies. :)

Let's speak about what a player would expect, IMO, then you'll tell me what you think about it:
- In multiplayer games (or standard singleplayer ones), I would expect that portals and temples meshes are different depending from the faction, even with similar roles. Just a visual nicety.

I would also e

[2015-03-25 21:19] akien-mga commented on #579
Here is the output from the feature added in https://github.com/akien-mga/OpenDungeons/commit/a8b42cc484e6bbacdbdb7aebe4888b3648cadcf8: https://framalab.org/zerobin/?c9e23f8ba7de7c76#/XpgI1JU598bbEXvHo5VtgZR+pB2RAmDY4WNL90ppHk=

My script is not the most efficient or readable implementation, but I'm mostly writing it to get experience with shell scripting :)

[2015-03-25 21:38] hwoarangmy commented on #579
Can't you cross that with the files in material to check which are not used ?

[2015-03-25 21:45] akien-mga commented on #579
Yeah good idea, I should probably do that in my "scan_meshes" function as I did for unused textures in the "scan_textures" part.

BTW on the output linked above we can see that we have some meshes referencing materials that are not in the repo, like "axt", "Fire/TWOSIDE" and "Torch/TWOSIDE" (search for "()" to find them).

[2015-03-25 23:42] Danimal696 commented on #12
Answers from the art(dark) side:
Hero portal -> Model located in OGA, needs texturing but OK, easy to do
Evil portal red vortex -> really easy to do
Feral portals -> Models located in OGA, only heroes though, no beasts ones(needs searching), needs texturing, big work since there are many

+1 , i would even say to make them different depending on biome, but lets stick to the basic for now

+1, hero

[2015-03-26 00:09] Bertram25 commented on #12
I would go for only one feral portal model for now. Adding other could be done later, lil by lil, IMO.
I really hope we can get better temple meshes as well for 0.6.0 but no pressure, we have time.

About this, this could be done by workers automatically, with some mana + gold cost maybe?

The hero faction already has dwarf workers, btw.

Agreed.

[2015-03-26 08:54] hwoarangmy commented on #12
ok. Lets summarize:
- Portals (all of them) cannot be attacked. They have to be claimed by kobolds.
- There are 2 types of portal. 1 - Normal: Associated with a seat (what we currently have, spawns creatures depending on certain conditions). 2 - Wave portal: spanws creatures per waves. The list of spawnable creatures have to be defined in the level as well as time between 2 waves.
- We should defi

[2015-03-26 09:04] #581 closed, assigned to nobody

[2015-03-26 09:14] akien-mga commented on #545
I've discussed this on IRC with Elvano, and we'd like to give a try to github's pages.
According to the documentation [1], we need to create an OpenDungeons/opendungeons.github.io repo that will be used to generate the opendungeons.github.io website. Can you do this @Bertram25?
Then maybe the "Developers" group should be extended to have commit rights on this repo too, so that we can manage it eas

[2015-03-26 09:20] Bertram25 commented on #545
I'll have a look at creating this, but if I can, I'd rather create a new group for that. Adding people there is trivial. ;)

[2015-03-26 09:23] Bertram25 commented on #580
Oops, just saw that, sorry. The pack is supposed to be used when displaying the Ogre config window (You can see an ogre head graphic as the window background which is part of that pack.)

[2015-03-26 09:25] akien-mga commented on #545
Sounds good to me. I'd like to be in there if possible :-)

[2015-03-26 09:26] Bertram25 commented on #492
@akien-mga Mind killing this one since you made the suppa script?
I'd rather spare @Danimal696 for such stuff, I must say. ;)

[2015-03-26 09:27] Bertram25 commented on #579
@akien-mga Same here. The script seems to make this trivial to do.

[2015-03-26 09:28] akien-mga commented on #492
Yep, I'm on it :)
I'll ask @Danimal696 for confirmation before dropping any texture though, there might some that he plans to use really soon when adding normals to existing models.

[2015-03-26 09:28] akien-mga commented on #579
I'm on it :)

[2015-03-26 09:29] Bertram25 commented on #545
I think all current active devs should. And, yes, you're a dev now.

[2015-03-26 09:36] Bertram25 commented on #545
It is done. :)
Now the HTML has to be imported unless you both have better plans. I'll let you ignite it.
As a side note, I'd rather have website issues stay in the common opendungeons issue tracker, same for wiki, so I disabled both for the website repo.

[2015-03-26 09:46] Bertram25 commented on #12
Looks good. :)

As for your questions:

Since we will claim our first room since long, I'd rather have it claimed as a whole or not at all. It would look more logical IMHO, but:
That said, I'll happily take the solution which is the simplest technically between the two.

I like the Wave portal name. :)
The only thing I'd like to point out is that in many single player and campaign levels, there is

[2015-03-26 09:49] Bertram25 commented on #12
Yeah, I do also wonder whether a lot of this couldn't be scripted instead. Note also that in campaigns, we'll likely want to spawn enemies out of nowhere, which is basically the same, minus testing a wave portal existence.
Can't tell much until we have better scripting support, though.

[2015-03-26 09:57] Bertram25 commented on #576
Since he has already done it, I'm assigning @hwoarangmy :)

[2015-03-26 10:04] Bertram25 commented on #202
I'll leave the 32x32 for now as the one shipped actually looks better IMHO.

[2015-03-26 10:15] Bertram25 commented on #202
@akien-mga I've not yet looked at the opendungeons icon handling on linux but this should work on windows:
http://www.ogre3d.org/tikiwiki/tiki-index.php?page=Custom+Icon+and+Cursor

I also suppose a windows res file has to be created for windows. I'll handle it.

[2015-03-26 10:17] hwoarangmy commented on #12
Yep, that's exactly what I wanted to define: what do we want to be scriptable and what do we want to be defined in the level.
In reality, we could even have everything about spawning (including spawn list) scripted but it may be a bit difficult for someone who just wants to do a single map to have to mess with AS (even if we could have the editor generate automatically corresponding scripts based

[2015-03-26 10:17] hwoarangmy commented on #12
That's also what I think and is probably easier so I guess we should go for that

[2015-03-26 10:31] Bertram25 commented on #202
For self-reference:
http://www.ogre3d.org/forums/viewtopic.php?f=3&t=17948&start=25
http://www.winprog.org/tutorial/menus.html
http://stackoverflow.com/questions/13187453/load-window-icon-dynamically

[2015-03-26 10:47] Bertram25 commented on #12
Arf, you're right. Let's have this as an hardcoded feature, at least for now. This is so much a basic need for level events anyway.
Later on, we'll emulate more advanced behaviour through scripting.

[2015-03-26 12:09] Danimal696 commented on #492
i have access to all repositories and older game versions have all that textures, ill readd them, so you can erase/move without worries.

Please, material are taking too much time i could be using for something else

[2015-03-26 15:05] Bertram25 commented on #180
Assigning to me so I'll do the aforementioned test.

[2015-03-26 16:01] akien-mga commented on #545
Sounds good :)

[2015-03-26 16:34] akien-mga commented on #202
As I said in 44f1f09, there is no way to embed an icon in the executable on Linux. But we don't really need that either. The .desktop file handles the menu icon for the game, so what's left is the actual game window icon that will be displayed by the window manager in the title bar (if running in windowed mode) and in the taskbar (at least for desktop environments that do have this stuff like KDE,

[2015-03-26 16:38] akien-mga commented on #202
I've had a look at how Stunt Rally manages that, and it seems they convert an Ogre image to a SDL surface before using a SDL function to set the actual icon: https://github.com/stuntrally/stuntrally/blob/master/source/sdl4ogre/sdlwindowhelper.cpp

[2015-03-26 16:48] oyvindln commented on #202
The window creation is handled by Ogre.

[2015-03-26 18:25] Bertram25 commented on #202
Still, I'd look at SDL source code to see how they do it.

[2015-03-26 21:12] #34 closed, assigned to nobody

[2015-03-26 21:12] #420 closed, assigned to hwoarangmy

[2015-03-26 21:12] #547 closed, assigned to hwoarangmy

[2015-03-26 21:12] #576 closed, assigned to hwoarangmy

[2015-03-26 21:19] Bertram25 commented on #202
I'll have a look at SDL source code to know how they do it. :)

[2015-03-26 21:28] hwoarangmy commented on #12
I've done the claiming portal + bonus max creature number per owned portals. Concerning portal waves, I propose that it handles itself to mark tiles between itself and the closest enemy dungeon and, when it is reachable, it would cast a "go to war" spell.

WDYT?

[2015-03-26 21:29] #400 closed, assigned to Bertram25

[2015-03-26 21:31] Bertram25 commented on #202
Ladies and gentlemen, please welcome X11_SetWindowIcon():
https://hg.libsdl.org/SDL/file/d0865e9f674a/src/video/x11/SDL_x11window.c#l724

I'll have a look at whether we can use this.

[2015-03-26 21:43] Bertram25 commented on #12
A portal AI, sooo evil... I love it! You would need fighter capable to dig, for a maximal effect, IMHO. But I like the use of the existing pieces. :)

[2015-03-26 21:44] akien-mga commented on #418
Guys, this milestone is almost complete :-)
The only things left are linking the icon with the application on Linux (@Bertram25 is on it right now), and cleaning the unused textures/models/materials from the repo.

Sounds like an imminent release :-D

[2015-03-26 21:46] hwoarangmy commented on #12
Well, that's up to whom defines the waves ^^ After all, you may also want to spawn fighters non worker in a corridor to one's dungeon

[2015-03-26 21:51] hwoarangmy commented on #418
If we want, we can also add the claiming portal patch ^^ The portal wave doesn't sound very hard too, so it can also be added if ready during the week end.
WDYT ?

[2015-03-26 22:03] akien-mga commented on #418
Since you got started and there's no stopping you when in Chuck Norris mode, I'd say go for it :-P

[2015-03-26 22:04] Bertram25 commented on #202
So my anwser will be meh: XD

Basically, I'd need to dissect The Ogre window creation to get back the Display and Window handle.
Then, use an Ogre::Image to load the icon in the right format and use its data to load it.

[code]

I'll be honest, I don't feel like doing this, at least atm.
@akien-mga Will you kill me if I say Won't fix for this one?

[2015-03-26 22:07] Bertram25 commented on #418
Go for it if you think it isn't too ground-breaking a change. :)

[2015-03-26 22:07] Bertram25 commented on #418
Well, if not, we can always create a branch before merging the PR, anyway.

[2015-03-26 23:03] hwoarangmy commented on #418
No, I don't think it is. Anyway, there is a fix for the editor because I've seen that persistent objects are not removed when the corresponding room is deleted (however, when the map is saved, it works, it's just a visual problem)

[2015-03-26 23:09] hwoarangmy opened #589 "Refund price is not shown in game mode on client side when the player selects a room to sell"
This is due to removing rooms/traps on client side a while ago.

[2015-03-26 23:31] Bertram25 commented on #202
@akien-mga gave me hope as he found some interesting code in Ogre about setting up icons. Namely:
https://bitbucket.org/sinbad/ogre/src/2271eda512b5afc825797e748066a3c21e8c03c6/RenderSystems/GL/include/GLX/OgreGLXGLSupport.h?at=default#cl-126
https://bitbucket.org/sinbad/ogre/src/2271eda512b5afc825797e748066a3c21e8c03c6/RenderSystems/GL/src/GLX/OgreGLXWindow.cpp?at=default#cl-392

I'll have a look

[2015-03-27 08:57] Bertram25 commented on #545
@Wout-van-Dongen @akien-mga Need help porting the HTML website? Or have you got other plans?

[2015-03-27 09:51] akien-mga opened #590 "Make the tile fullness concept more understandable (or alternatively drop the intermediate stages)"
_Edit:_ See the first two comments for a better description of the scope of this issue.

Currently the editor lets you switch between a tile fullness of 0%, 25%, 50%, 75% and 100%. This is very tiresome when you only want to switch between "wall" (100%) and "ground" (0%).
IIRC we stopped using the fullness distinction for value > 0. There is still a lot of code related to handling different levels

[2015-03-27 10:21] hwoarangmy commented on #590
Well, there is a difference with fullness. The higher the fullness is, the longer it will take for workers to dig and the less gold you will get if gold tiles. However, I agree it may be confusing and I am not against removing the fullnesses between 0 and 100.

[2015-03-27 10:27] akien-mga commented on #590
Ah that makes sense. I saw a recent commit where you put all wall tiles to fullness 100, so I thought we were no longer using the distinction.

Well actually the fullness concept as you describe it is interesting, we should probably not remove it. What we'd need is more to have different meshes depending on the fullness. It could be increasingly crackled dirt for dirt tiles (i.e. if you start digg

[2015-03-27 10:48] hwoarangmy commented on #590
That was what was done in the first tileset but requires 5 mesh per tile type. To make things more simple (avoiding hundreds of combinations in the tileset) and because digging a 100 full tile is very fast, we dropped the visual concept.

[2015-03-27 10:53] akien-mga commented on #590
Couldn't we use a decal of some sort to avoid avoid to use different meshes? If we could change the material script on the fly, and this way apply a different textures, we wouldn't have to care about tileset combinations.

[2015-03-27 11:24] akien-mga commented on #579
I've had a look at the unused models to start. To try them in game I used them as BedMeshName for the BigKnight in the 2v2 map ;-) Here are my findings:
- Axe1.mesh: An axe, but with a bad texture it seems
  ![axe1](https://cloud.githubusercontent.com/assets/4701338/6866741/a4923ee0-d47b-11e4-9d34-4c7f1f0b2478.jpg)
- BeetleGolem.mesh: Obsoleted by Scarab.mesh I guess?
  ![beetlegolem](https://clou

[2015-03-27 11:27] akien-mga commented on #579
IMO we should keep the ones that we intend to use soon, i.e.:
- Foundry.mesh
- Hammock.mesh (it needs to be attributed to a creature and its material script tweaked)
- Troll_Rock.mesh (if @Danimal696 confirms that we want to use it)
- WoodBridge.mesh

And drop:
- Axe1.mesh
- BeetleGolem.mesh
- DojoRockObject.mesh
- RuinEntrance.mesh
- Torch.mesh

[2015-03-27 11:49] hwoarangmy commented on #590
IMO, tiles are digged too fast to make it worth the effort.

[2015-03-27 11:52] hwoarangmy commented on #579
When doing missile objects (bullets fired by the cannon), I've adapted everything so that creature can also fire objects. We can use it for the troll if we want. However, in the current battle logic, ranged creatures will always try to be at their maximum fire distance before firing. For such a slow creature as the troll, it would almost mean to never fire.
I guess that if we want the troll to be

[2015-03-27 12:20] Bertram25 commented on #590
+1. What matters IMHO is that we can have different dig length for different tile type, like when a claimed walls is taking more time to dig than some dirt.
Yeah, let's remove the difference between 0 and 100 as people won't understand why a tile gives more gold than another anyway, since visually they are alike.

[2015-03-27 12:21] Bertram25 commented on #590
Yet, please keep in mind that we'll later want special tiles that can give a lot more gold out of them. (for single player purpose.)

[2015-03-27 12:56] Bertram25 commented on #66
This one is mine!! ;) (I've got something in preparation...)

[2015-03-27 12:56] Bertram25 commented on #579
Yep, IMHO, a good fix related to #376

[2015-03-27 12:58] oyvindln commented on #66
We should probably be using a CEGUI window for this.

[2015-03-27 13:15] hwoarangmy commented on #66
It is open for more that 0.5 year. I guess it is safe to think that nobody is going to steal it from you ;-)

I'm not sure about that. In the RTS games I know, chat is usually shown on the screen (equivalent to an Ogre overlay). A CEGUI window would reduce the size of the screen and hide the game...

[2015-03-27 13:57] Danimal696 commented on #579
Fixing #376 will be a need sooner or later when more ranged creatures are added, but i would let the rock issue for later when we try to implement creature skills.

Akien, you got your classification rigth, you can do as you want with the dropped ones

[2015-03-27 14:01] akien-mga commented on #579
Ok, I'll move the "dropped" ones to the models_unused folder in the media repo.

[2015-03-27 14:15] akien-mga commented on #579
There is another unused model that my script did not catch because it has a too generic name used in the code source:
- Fire.mesh: uses the "Fire/TWOSIDE" material which is not provided by any script

[2015-03-27 14:17] Danimal696 commented on #579
thats the old torch, its unused anymore

[2015-03-27 14:18] akien-mga commented on #579
That's what I guessed, so I dropped it too locally. I'll do a PR in a while.

[2015-03-27 14:23] Bertram25 commented on #66
To answer a bit of it, I've begun work on this out of fashion and after some readings about utf8 stuff, and I've already started adding a cegui panel for the next gen chat. The "panel" is a staticImage widget without any frame or background, making it look like the old panel, but with color and image within text support, just like the good old Ogre text Overlay. So no real estate lost here.
I've a

[2015-03-27 17:18] akien-mga commented on #579
I added a test in my script to list materials that are not used in mesh files:

[code]

Some are false positives because CreatureOverlay{1,2,3,4} are used in the source code directly as "CreatureOverlay + i", and my script searches for a 1:1 match so it doesn't find them.

GoldGround is used to configure the tileset, it doesn't need any mesh as far as I know since it's a ground tile, but I might h

[2015-03-27 17:31] hwoarangmy commented on #579
It is used by ground mesh. The exact filename being defined in the tileset: Dirt_0.mesh

[2015-03-27 17:35] akien-mga commented on #579
You are right, I'm even the one who did that :-D

This shows that my scripts need to be handled with care, the results are useful but _absolutely_ not 100% accurate. Let's say they give a first list of potentially unused stuff that needs to be further investigated by checking again the mesh, the config files, the source, etc.

[2015-03-27 22:05] akien-mga commented on #579
Ok I've done a first pass at removing unused models and unused materials.

Now I'm looking at the unused textures (according to my imperfect scripts, but that's still useful input). I've made a list with comments and I'd like to have @Danimal696's feedback on it so that I know what to remove and what to keep. Here it is:

So basically the ones with a _To drop_ comment should probably be dropped as

[2015-03-27 22:22] hwoarangmy commented on #579
Concerning CreatureOverlay.png, it is the original I used for the overlays. It can be dropped.

[2015-03-27 23:16] Danimal696 commented on #579
Drop, those are for a barrel i have never seen?
Con_Worker.png -> Contruct worker could be removed, it doesnt fit at all now with OD
Con_gear -> same as above, but construct worker must be erased from some test levels then

Erase, no idea what they are for.

Lava: only texture "Lava_anim_0.png" is used on material file
Obsidian.png: erase
Treasury_specular.png: For Treasury.material -> Erase, spec

[2015-03-27 23:35] akien-mga commented on #579
Thanks! I've dropped the mentioned textures then + the construct worker model, materials and textures.

[2015-03-27 23:35] oyvindln commented on #579
If you want to cut the size further, you can try to run [OptiPNG](http://optipng.sourceforge.net/) or similar on the png files, which can potentially make them a bit smaller.

[2015-03-28 01:40] Danimal696 commented on #590
+1 i never knew wht fullness meant;

i propose a gem tile for that (besides the infinite gem mine structure)

[2015-03-28 01:52] Danimal696 commented on #579
Pine-green seems unused

[2015-03-28 09:18] akien-mga commented on #579
According to my script it seems to be used in Bed.material:

[code]

[2015-03-29 12:02] akien-mga opened #595 "Editor: portals and dungeon temples can't be destroyed"
We should add support to delete (destroy) portals and dungeon temples when in the editor.

[2015-03-29 12:22] hwoarangmy commented on #595
It is already there. You just have to use the sell button and sell the portal or dungeon. Is there an issue with that ?

[2015-03-29 12:26] akien-mga opened #596 "Traps spreading on multiple tiles"
While playing around with the editor, I noticed that traps can be spread over multiples tiles. If you create a trap (say a boulder trap, i.e. type 3) by drag the mouse over four tiles, it will not create four boulder traps but one big boulder trap with four tiles, e.g.

[code]

My question is, how are those traps handled in the gameplay? I remember we discussed such traps a while ago, but I'm not

[2015-03-29 12:35] akien-mga commented on #596
Actually looking at the .level file it seems the isActivated boolean is specific to each tile, so the only implication of those "multiple-tiles" traps is that there is only one name for the group.

I'll let @hwoarangmy comment on that and confirm that it's the expected behaviour or if it's an uncalled-for feature.

[2015-03-29 19:17] hwoarangmy commented on #596
Traps are buildings for historical reasons because they shared so much code with rooms that I made a common parent class. Thus, they can have several tiles. Each one can be activated or not (as you have seen) and can have different health and claim value (if you save the game).
However, they do not absorb other traps like rooms.
That's why I confirm it is the expected behaviour

[2015-03-29 19:17] #596 closed, assigned to nobody

[2015-03-29 19:24] akien-mga commented on #596
Thanks for the explanation :)

[2015-03-30 09:49] hwoarangmy opened #599 "When building a portal in the editor, if an old one is absorbed, claiming points are not kept"
Same when selling destroying portal tiles (the claimed points are not decreased).

[2015-03-30 13:28] oyvindln opened #600 "Exiting with window button does not clean up sockets properly"
If I exit the game and start it again right away a new game can't be started as the port is in use (On my system (Ubuntu 14.10) at least). I don't know if there is an issue of ports not being closed, or if the OS reserves the port for a while after the application is done. This is frustrating when working with materials or other things where the game has to be restarted to test the effects.

If it

[2015-03-30 13:45] hwoarangmy commented on #600
We close the socket listener in ODSocketServer::stopServer. AFAIK, it is enough to gracefully close the socket.
I don't know why you get this error. As you suggest, a workaround would be to use a different socket if we fail opening the required one. But I'm not sure it is such a good idea to open sockets on ports we are not supposed to use. A better solution may be to add some sleep when opening t

[2015-03-30 13:51] oyvindln commented on #600
Adding a sleep doesn't really solve the issue, it takes way to long before I can restart in the first place.

[2015-03-30 14:03] hwoarangmy commented on #600
I found something interesting. The issue is in SFML.
http://en.sfml-dev.org/forums/index.php?topic=11545.0

It seems like SFML do not close the socket as it should. Moreover, it doesn't give access to the shutdown function that would allow to close the socket as we should.I don't know if it is fixed in newer versions of SFML but in the issue (link is in the thread I pasted), it is said that the is

[2015-03-30 14:19] oyvindln commented on #600
I'm a bit unsure if it's the same problem, it works fine to exit to the main menu and start a new game right away. It's only when restarting the application it won't work.

[2015-03-30 15:31] hwoarangmy commented on #600
Well, I don't really know as I don't reproduce the bug but if you can launch 2 games in a row, I agree that the socket is closed and re-launched in the process. If it is the case, you are right, it might be another problem. How do you restart the game ? Do you kill the application (I guess not but I prefer to ask) ?

[2015-03-30 15:33] oyvindln commented on #600
I close it normally, either with the x window button or with the exit button in the menu.

[2015-03-30 15:38] akien-mga commented on #600
I can reproduce the issue, if I close OD while in game using the X window button, and restart OD afterwards, I can't start a new server.

If I quit OD using the quit menu (i.e. quit to main menu, then quit to OS), I don't reproduce the bug, I can start a new game in a new OD instance.

[2015-03-30 15:45] Bertram25 commented on #600
Exact same for me than for @akien-mga . The issue is there since a lot of time IIRC.

[2015-03-30 16:16] oyvindln commented on #600
That seems to be the case here as well. For some reason I never noticed that.

[2015-03-30 16:17] hwoarangmy commented on #600
Strange, I've never seen that and I've already tried to close/launch OD many times. I will give it a try but I think I would have already seen that if it was reproducible with windows. That may also be a different event handling between windows/linux when we close by pressing the X button. Maybe in this case, the server is not stopped (and I confirm it is on windows as I've already seen that the g

[2015-03-30 18:39] hwoarangmy commented on #600
I confirm I do not have the bug with windows. I guess it means that the socket is not proporly closed when you clic the exit button (to test that, could you please add a log in ODServer::stopServer) or the socket automatic close is shorter on windows. I would guess at first possibility because otherwise, there is no reason that you could launch 2 games in a row

[2015-03-31 17:21] hwoarangmy opened #603 "Workers can be dropped on enemy claimed tiles"

[2015-03-31 17:50] #12 closed, assigned to hwoarangmy

[2015-03-31 17:50] #589 closed, assigned to hwoarangmy

[2015-03-31 17:50] #599 closed, assigned to hwoarangmy

[2015-04-01 09:24] hwoarangmy commented on #577
@Bertram25 Sorry I missed this one. IMHO, 1 is more understandable from a player point of view and easier to do. So, I will choose this one.

[2015-04-01 09:28] hwoarangmy commented on #595
@akien-mga I tested it yesterday after rebasing and it works. You just have to choose the destroy room icon and select the temple or portal you want to erase.

[2015-04-01 09:29] hwoarangmy commented on #545
Seems like this one is done. I close it

[2015-04-01 09:29] #545 closed, assigned to Wout-van-Dongen

[2015-04-01 09:31] akien-mga commented on #595
Indeed it seems to work now. I must have been doing something wrong last time :)

[2015-04-01 09:31] #595 closed, assigned to nobody

[2015-04-01 12:58] #66 closed, assigned to Bertram25

[2015-04-01 13:49] #603 closed, assigned to hwoarangmy

[2015-04-01 13:49] akien-mga commented on #580
Fixed by a59b159.

[2015-04-01 13:49] #580 closed, assigned to hwoarangmy

[2015-04-01 13:50] akien-mga commented on #492
Fixed by #591.

[2015-04-01 13:50] #492 closed, assigned to akien-mga

[2015-04-01 13:50] akien-mga commented on #579
Fixed by #591.

[2015-04-01 13:50] #579 closed, assigned to akien-mga

[2015-04-01 13:53] akien-mga commented on #202
The Windows part of this bug is fixed, I edited the first post and move the Linux part of the issue to 0.6.0.

[2015-04-01 13:54] akien-mga commented on #418
We're ready for the release IMO. How should we proceed? Features keep coming in, it will be hard to freeze development and release the stable version ;-)

[2015-04-01 15:33] oyvindln opened #606 "Too many parameters for material light values in material files"
[code]

This happens for a lot of materials.
From #593.
Please check log before merging next time.

[2015-04-01 16:00] akien-mga commented on #606
Ah indeed, I had noticed that the ambient field had 5 parameters instead of 4 previously, but I thought the 5th one was an optional parameter. Should have checked the logs indeed :)

[2015-04-01 20:22] Danimal696 commented on #418
since we all overcome the huge walls that were preventing the very basics, the rest is adding functionalities, its nice to see them rolling :- )
I leave it to you to decide when to publish

[2015-04-01 20:28] hwoarangmy commented on #418
I will probably not add any new functionality once my last PR is merged. I might try to make a level that uses the portal wave however for the players to be able to test it ^^
IMHO, it will be good for the 0.5.0 RC1 once the materials logging errors will be fixed

[2015-04-01 21:51] oyvindln commented on #418
Sounds good to me. We've sorted most of the issues now.
I'm only working on making the code more testable at the moment and not adding features.

[2015-04-01 23:43] lowerthanred opened #610 "Segfault during gameplay"
A segfault occurred during gameplay on map The Bridge, possibly connected to many creatures being onscreen.
Backtrace:

[code]

[2015-04-02 00:17] lowerthanred commented on #610
opendungeons.log: http://www.pasteall.org/57619

[2015-04-02 07:18] hwoarangmy commented on #610
Thanks for the feedback. You should also have a replay in your replay folder. Do you have it ? It would help much.
Moreover, the segfault seems to occur in rendering phase. Could you please try the replay so that we know if it is reproducible with it ?

[2015-04-02 16:20] akien-mga commented on #606
I guess dropping the 5th argument on all materials scripts will do the trick.

[2015-04-02 16:49] akien-mga commented on #606
For the reference, I fixed this issue with this little script:

[code]

[2015-04-02 21:35] hwoarangmy commented on #610
I've seen nothing suspect in the log. Moreover, the backtrace suggests that the problem comes from rendering (the segfault happens in Ogre rendering code, not in OD). Could you please try the replay and tell us if it reproduces the crash ?

[2015-04-03 01:18] lowerthanred commented on #610
The replay plays out ok until the last turn before the segfault in the original game; after that point, terminal output stops, while units continue walking to where they were headed before, and then just stand there idly.
The segfault reproduces after pressing ESC and confirming, and the same backtrace is produced. But it seems that if the camera is positioned so that no units are in view while th

[2015-04-03 07:51] hwoarangmy commented on #610
That's very interesting, thanks for the investigation. I will try to reproduce ASAP. I've tried to google a bit your stacktrace and I've seen people telling that the bug were in the drivers. They fixed it by upgrading it. Not sure it is the case here.
Anyway, can you confirm the bug is systematic when you quit the game at the end of the replay with creatures on screen ?
Moreover, is it something s

[2015-04-03 14:51] Bertram25 commented on #12
@hwoarangmy Btw, need an icon to be able to add waveportals in the editor?

[2015-04-03 19:58] hwoarangmy commented on #610
I've had a similar segfault as you had. I am currently having a look if I can see something

[2015-04-03 20:26] #606 closed, assigned to akien-mga

[2015-04-03 21:28] hwoarangmy commented on #610
@lowerthanred Thanks for your replay I get a systematic segfault when CaveHornet37 is removed after only a few minutes (I just launch your replay, I do nothing more - no camera move or whatever).

@akien-mga @Bertram25 @oyvindln Could you please confirm if you can also reproduce the segfault ?

The good thing is that since it is systematic, it should not be too hard to find out which commit introd

[2015-04-03 21:46] lowerthanred commented on #610
Github swallowed my comment - the crash is indeed systematic under these conditions, and I get a similar one now and then mid-gameplay, but there is no general problem with exiting.

[2015-04-03 21:53] Bertram25 commented on #610
Testing once downloaded (in a few minutes).

[2015-04-03 21:56] Bertram25 commented on #610
It's fun to see someone else playing a bit. :D I may learn a few things... :>

[2015-04-03 22:24] Bertram25 commented on #610
No crash on my own. I was using hwoarangmy's latest PR about waveportals binary, linux version.
The creatures stop doing stuff at turn 2161. I've then waited for something like 10 minutes but no crash.

[2015-04-04 08:13] akien-mga commented on #610
I'll try it here, I have both a intel GPU and a nvidia GPU (using the nvidia 346.47 driver, so not the same one, but let's see).

[2015-04-04 09:10] Bertram25 commented on #511
Duplicate of #458

[2015-04-04 09:10] #511 closed, assigned to nobody

[2015-04-04 09:13] Bertram25 commented on #88
IMHO, this issue us done with portal wave support.
Ok to close it ?

[2015-04-04 09:30] hwoarangmy commented on #88
yep. For the record, it is closed by #594

[2015-04-04 09:30] #88 closed, assigned to nobody

[2015-04-04 10:09] akien-mga commented on #610
Watching the replay, I think this level needs some small patches of gold on the sides to make it worth expanding your dungeon laterally. Currently there are too little possible strategies IMO (rush to the middle and the big gold resources or harvest the big patch behind your dungeon). The small patches should not be enough to sustain a dungeon though, but it could help getting started with the lib

[2015-04-04 10:11] akien-mga commented on #610
Other note to self: the help text should probably introduce the "active spot" concept and why it's more efficient to build 3x3, 3x5 or 5x5 than e.g. 4x6.

[2015-04-04 10:17] akien-mga commented on #610
Actually watching further, it looks like gold is absolutely not an issue ;-) So if we were to add some patches of gold to the sides of the dungeon, we should also remove part of the huge gold resources in the middle and the top/bottom.

[2015-04-04 10:29] akien-mga commented on #610
So, no crash for me using my Intel GPU on Linux with the open source drivers. Will try nvidia now.

[2015-04-04 11:01] akien-mga commented on #610
No segfault either with nvidia 346.47 on Linux 64bit.

So the issue might be in nvidia 331.113. It's the most recent version in the 331 branch though (at least supposing that Ubuntu does a good QA job).

[2015-04-04 11:03] akien-mga commented on #610
Note that I tested using the git20150329 binary release, since I supposed @lowerthanred was using this binary when experiencing the segfault.

[2015-04-04 11:29] hwoarangmy commented on #610
I've made some tries. The bug seems not rare enough to be old or I would have seen it. From what I've seen in the latest PR, I would guess that the bug comes from our recent changes on materials. I will try to see if I reproduce with older materials.

@akien-mga @Bertram25 Thanks for the tests.

[2015-04-04 12:47] akien-mga opened #615 "Alpha value for lighting parameters is often wrong, creatures change opacity when getting superposed"
The recent changes on materials introduced another regression (I guess I was a bit quick to merge them without checking the syntax), as the 4th setting for ambient, diffuse, specular and emissive should be the alpha parameter (i.e. transparency/opacity), but @Danimal696 often used the exact same value as for the first three parameters (red, green, blue).