[2015-09-30 19:09] akien-mga commented on #877
Yes then we have the same idea in mind. Just wondering if "acid" fits the bill when looking at the creatures we have currently (would heroes have acid creatures for example? maybe a human assassin of some sort with acid/poison-dipped daggers or arrows, but apart from that...).

Just writing about this, I thought we could extend to "acid" category to anything chemistry (or maybe technology) related

[2015-09-30 19:48] hwoarangmy commented on #877
Well, after thinking more about it, acid may not be better than poison. But what about "elementary" (fire, water, ...) ? That could fit for all...

[2015-09-30 21:36] Bertram25 commented on #877
Hmm, I guess the aim is to use some kind of degenerative effect when hitting a target?
If we can label it with different names to the player while keeping the same mechanism internally, that could make sense. E.g:
- Slime Acid touch: damage to an enemy + degenerative effect.
- Hero Fireball: damage to an enemy + degenerative effect.
  (Same effect, different strength and name.)
  Of course, the de

[2015-09-30 23:37] Danimal696 commented on #877
Yes, we can have a pure Acid damage that works like physical and magical, and then acid based skills that eats away at enemies HP or lowers their armors or just deal acid damage.
For heroes some creatures could learn acid skills (acid bolt for mage, acid arrow for archer, acid bomb for dwarves) and even acid based weapons for a certain creature (lets say an asssasin) so its not only restricted to

[2015-10-03 12:08] #376 closed, assigned to hwoarangmy

[2015-10-03 12:08] #953 closed, assigned to hwoarangmy

[2015-10-03 17:42] t4im opened #965 "Early termination after CEGUI::UnknownObjectException"
OpenDungeons terminates for me when pressing any button in the mainmenu (with the exception of the button used to open the Settings dialog) with a CEGUI version newer than 0.8.4

Tested with ee92d4440
Debian Jessie amd64
With a recent build of cegui v0-8 (5967:f68564f1404e)
(tag v0-8-4 seems to work fine)

[code]

Full [CEGUI.log](https://gist.github.com/t4im/834e72d0112c6351a0e0)

[2015-10-03 17:45] t4im opened #966 "cmake falsely identifies libsfml-dev 2.1+dfsg2-1+b2 as sfml 1.x.x"
Compiling ee92d44 with libsfml-dev 2.1+dfsg2-1+b2 (current version in Debian Jessie) is falsely identified by cmake:

[code]

Skipping the version test results in a good compilation with working sound.

[2015-10-03 19:13] EntropicPariah opened #967 "0.6.0 Win 32 binary not a valid win32 application"
I was told win xp isn't supported on this version when I asked about it on the IRC. 0.5.0 starts fine, if I try to run the 0.6.0 exe it tells me that it's not a valid win32 application. No load, no crash, it just flat out won't start.
The windows 32bit binary is also gone from the link on that page. Not sure if that was a different file but the one I got from the "older binaries" link doesn't run

[2015-10-03 20:16] hwoarangmy commented on #967
If I'm not mistaken, we started to build from 0.6.0 with MSVC2013 instead of MinGW for windows releases.
Unfortunately, I have no win xp to test. But I guess that it may work if compiled with MinGW. Do you know how to compile from sources ?

[2015-10-03 20:20] hwoarangmy commented on #966
Interesting. I got the same version on a Ubuntu 14 that I just installed. But I didn't check and thought the sfml version was really 1.x.
For my part, I just downloaded, compiled and installed sfml 2.3.2 and the error just went away. Note that our SFML cmake module is the one included with SFML. It might be good to have a look if there is a new one. Are you sure you don't have an older SFML instal

[2015-10-03 20:22] hwoarangmy commented on #962
I've had a look and it seems pretty nice. Congrats ^^

[2015-10-03 20:22] hwoarangmy commented on #962
Note that this is closed by #961

[2015-10-03 20:22] #962 closed, assigned to Danimal696

[2015-10-03 22:55] Bertram25 commented on #966
I had the same symptoms on a machine at home. I'll do more tests and return my findings here asap. Thanks for the feedback!

[2015-10-03 23:01] Bertram25 commented on #965
@t4im Mind if I add a topic on CEGUI forums? ident and the others will easily spot the bug IMHO.

[2015-10-03 23:03] Danimal696 commented on #962
one less to go! :D

[2015-10-03 23:05] Bertram25 commented on #967
@hwoarangmy When compiling with MSVC 2013, are you still able to select e.g. v120_xp as a platform compilation target?
https://msdn.microsoft.com/en-us//library/jj851139.aspx

[2015-10-03 23:08] Bertram25 commented on #955
+1 too for the sky box + optional ambient fog.
Limiting the scrolling is an obvious flaw we forgot to fix, I guess. :S

[2015-10-03 23:09] Bertram25 commented on #955
I'm setting this to later as it doesn't hamper current workflow and isn't that simple to add. But anyone is welcome working on it, as usual. :)

[2015-10-03 23:50] t4im commented on #966
https://github.com/SFML/SFML/pull/903 seems to have addressed this upstream as well. A simple update to the more recent SFML cmake module might be already enough.

[2015-10-03 23:50] akien-mga commented on #965
Note that @t4im edited the first topic to say that 0.8.4 works fine, so we'll have to see with the CEGUI guys if it's an upstream regression in the v0-8 branch (upcoming 0.8.5), or if it's a wanted change and we'll have to adapt to it.

[2015-10-04 11:26] Bertram25 commented on #966
Yep, just tested the same this morning. Patch incoming. Thanks for the help.

[2015-10-04 12:23] #966 closed, assigned to Bertram25

[2015-10-04 12:26] t4im commented on #966
Patch works, thank you. :)

[2015-10-04 12:59] hwoarangmy commented on #967
No, I had not tried to change the platform compilation target. I will build a new dev snapshot to try.

[2015-10-04 13:06] Bertram25 commented on #965
Completely agreed, it's done: http://cegui.org.uk/forum/viewtopic.php?f=10&t=7111

I'll keep an eye on that one.

[2015-10-04 13:41] Bertram25 commented on #965
Setting this to later, until this is sorted out with the Cegui team.

[2015-10-04 15:54] #932 closed, assigned to Bertram25

[2015-10-04 21:23] Danimal696 opened #971 "Bug "stuck creatures on wall corners" and some suggestions"
While playing the last snapshot i came across a bug, creatures get stuck in corners, it happens inside and outside of battle

![stuck](https://cloud.githubusercontent.com/assets/8299756/10270276/e6816102-6aec-11e5-967b-6cc4cf7f690c.png)

Also some suggestions:
-Spells only work on owned land, it sucks and renders them useless except for defense
-Spell cooldown counter numbers went back to jumpy; d

[2015-10-04 22:11] Bertram25 opened #972 "Show the maximum gold one can get in the gold info."
Like 5900 / 16000

This would help the player when to focus on gold, and when it won't help much, IMHO.

[2015-10-04 22:12] #735 closed, assigned to hwoarangmy

[2015-10-04 22:12] #877 closed, assigned to hwoarangmy

[2015-10-04 22:15] Bertram25 commented on #971
This is configurable AFAIR (and if it's not, it's not hard to change), but I think only certain of them should be. Could you tell us which ones should or shouldn't be castable everywhere in your opinion?

I'll test.

Good idea.

[2015-10-04 22:16] Bertram25 commented on #971
@Danimal696 All those secondary ideas should become issues IMHO. Could you create them?

[2015-10-04 22:23] Bertram25 commented on #945
@akien-mga That one is tricky but I'd rather not have 2 kind of GUI as long as we don't actually support touch screens for instance.

What if we split rooms into basic and advanced?
Or show the rooms as one line, but add an arrow button to scroll from one list to the other?

As usual, feel free to challenge my opinion. :) Let's get the best out of everybody's ideas.

[2015-10-04 22:35] Danimal696 opened #973 "Spells that only work on owned land, which ones?"
My opinion is they should work everywhere; Think of any it shouldnt, why?

Child of:
https://github.com/OpenDungeons/OpenDungeons/issues/971

[2015-10-04 22:37] Danimal696 opened #974 "Spell cooldown counter numbers went back to jumpy"
Maybe just my impression, but i think we had a softer counter?

[2015-10-04 22:38] Danimal696 opened #975 "Offset for Spiders/chicken on Cript and Farm"
Like normal creatures

[2015-10-04 22:39] Danimal696 commented on #971
This topic spawned this new issues:
#973
#974
#975
#976

[2015-10-04 22:40] Danimal696 opened #976 "Warning message when kobold number is zero"
They die too much

[2015-10-04 22:47] hwoarangmy commented on #971
I've never seen this bug but I was expecting it ^^
IIUC, the creatures are in the wall and cannot walk, right ?
When that happens, do they continue to have an animation (and does the animation changes ?)
If you can reproduce it, could you try a middle clic on the creature and see if the displayed position changes ?

I just want to check if that happens on the client side only (what I suspect) or i

[2015-10-04 22:50] hwoarangmy commented on #975
good idea

[2015-10-04 22:50] hwoarangmy commented on #976
That's what they are good for...

[2015-10-04 22:53] hwoarangmy commented on #973
We could also make improvements somehow to allow spells to be cast outside claimed tiles. Using some "upgrade" system or link it to the path. For example, the "magic" path would allow to cast on every tile, while "creature" path would allow on claimed tiles only.

[2015-10-04 23:48] Danimal696 commented on #971
I was able to reproduce; yes, you got it rigth, they change animations, positions value and even win XP (by attacking) all when stuck into a corner.

[2015-10-05 07:00] hwoarangmy commented on #971
ok. Then, it's the bug I was expecting. It comes from a de-synchronization between server and client. Basically, time goes quicker on server side so, sometimes, when it sends a move command, the entity is not exactly on the same tile and it can cross a not expected tile.
If it happens on server side, that would be a problem. But on client side, that's not a big deal.

[2015-10-05 07:21] hwoarangmy opened #977 "Models from Summoning Wars"
I didn't knew this game until @akien-mga talked about it but I've had a look and they seem to have some nice models.
They use almost the same frameworks as we do (especially Ogre) and their game universe is close to ours. I've seen some interesting creatures like a skeleton or a lich.
What do you think about sharing some models with them (from what I've seen, there are still commits in their repo

[2015-10-05 07:42] akien-mga commented on #977
Actual I have an untold evil plan to get you all involved in resurrecting the development team of Summoning Wars once OpenDungeons is well on its tracks and has a huge community :D
*evil grin*

More seriously, the project is currently on hold as there is only one active dev + some translators, and the dev (@fusion44) decided to take an understandable break from working alone on Sumwars :)

Sumwars

[2015-10-05 07:59] hwoarangmy commented on #977
Note that from what I've seen in their website, they use CEGUI < 0.8.0 so it might not be that straightforward to move from their code to ours (I guess thay would have upgraded if it was only a matter of changing the libraries).

Unfortunately, I couldn't test because the game segfaults at startup when I've created the character (tested on windows but also on Linux Ubuntu - with a CEGUI 0.8.4 but

[2015-10-05 08:02] akien-mga commented on #977
The website might be partly outdated. The latest release (0.5.8) did add support for CEGUI 0.8.x and OGRE 1.9.0 IIRC.

[2015-10-05 08:04] akien-mga commented on #977
Yes I can confirm it builds against CEGUI-0 (i.e. 0.8.x), see the list of dependencies (BuildRequires) that I use to package sumwars for Mageia: http://svnweb.mageia.org/packages/cauldron/sumwars/current/SPECS/sumwars.spec?view=markup

Last time I tried it it was not segfaulting, but that was already a year ago or so.

[2015-10-05 08:04] hwoarangmy commented on #977
You right, I've just checked and they support CEGUI 0.8.

[2015-10-05 08:05] hwoarangmy commented on #977
Yes, I could build it but when I create my character (puch the create button), I get a CEGUI exception. So, I thought it might be linked to CEGUI version.

[2015-10-05 09:27] Danimal696 commented on #977
Its worth having a look at their model repository

[2015-10-05 10:02] Danimal696 commented on #977
They have a very poor quality, i think it will be the other way around and they will get to use ours.

[2015-10-05 11:51] alketii commented on #777
It's alive!!! http://od-bccb.rhcloud.com/

As you probably can see, we are not using TuxFamily :cry: . @akien-mga contacted them and they refused, he will probably explain.

[2015-10-05 12:11] akien-mga commented on #777
Yeah basically I made a request on TF to open a MySQL database and a web area, with this description:

And it was rejected as they apparently don't host "project instances":

[2015-10-05 12:32] hwoarangmy commented on #777
? I thought the idea was to host the game on the server (at least, that was I was saying when talking about "hosting an executable)...

[2015-10-05 12:38] akien-mga commented on #777
That's the very long term idea, but AFAICT there was more or less a consensus that we would start with the PHP masterserver that @alketii designed which would let users find each other more easily. The game hosting would be the same as it is currently, so basically this solution could be very easily implemented: we just need to process the data from the masterserver, return a list of servers waiti

[2015-10-05 12:41] akien-mga commented on #777
The two main arguments in favour of the externally hosted game binary being:
- Avoid the need to open ports on the host for end users
- Avoid the risk of server-side cheating

The first argument is indeed quite desirable, as for the second I think it should not be a priority right now. When we have only a handful of players there is little concern about cheating :P

[2015-10-05 13:02] alketii commented on #777
"hosting an executable" is known as Headless Server, which the first player who connect will control it (setup-wise) and costs money (depending on how many instances, it will be quite expensive). Headless server still has to be monitored by a masterserver (the current one which we have).

In the current one, when you click "Host a game" it will be made publicly available to the whole world, the pl

[2015-10-05 13:42] tomluchowski opened #978 "Camera can be "pushed over""
If you move camera really fast with the middle button it can push over and cross the maximal tilt value set by hwarangmy , displaying the world upside - down .

[2015-10-05 15:47] hwoarangmy commented on #777
I would add "Doing the server implementation once and for all instead of a temporary one"

Well, we have no php server and no VM to launch games. Maybe @Bertram25 will go for it but for my part, I won't do the server implementation as it seems we are not ready for it.

[2015-10-05 15:48] hwoarangmy commented on #978
Nice catch, I will give a try

[2015-10-05 16:12] akien-mga commented on #777
Cf.

_Edit:_ See also the csv-like version: http://od-bccb.rhcloud.com/get_csv.php

[2015-10-05 16:12] akien-mga commented on #777
We also have https://github.com/OpenDungeons/OpenDungeons-masterserver which has been around for a while and powers the above php server.

[2015-10-05 16:17] akien-mga commented on #777
BTW how would you implement the lobby part in the hypothesis that we would have game servers hosted on TF or on a server that we would rent? Don't we need the php masterserver in any case? I don't see the above-discussed implementation as a temporary thing, only as a WIP as it might be brought to evolve _if_ we ever had VM hosted binaries. But most of the backend would stay the same I guess: tell

[2015-10-05 17:21] akien-mga commented on #779
@OpenDungeons/developers Just so you know, I asked for a quota upgrade for our disk space usage on TF from 2 GB to 4 GB, and it was granted. So we have some more room for future releases.

[2015-10-05 18:57] hwoarangmy commented on #777
Yes we do and we would need to think about a way to launch the game somehow.

[2015-10-05 20:24] Danimal696 opened #981 "Sneak peek at new unit: Dark elf"
Im becoming a master of remixing; i think crossbow will really suit her

![untitled2](https://cloud.githubusercontent.com/assets/8299756/10292491/cf3a810e-6baf-11e5-8c60-b5facee5ebec.jpg)
![untitled](https://cloud.githubusercontent.com/assets/8299756/10292492/cf7767a4-6baf-11e5-9d34-2e01e44b3123.jpg)

[2015-10-06 06:28] hwoarangmy commented on #981
It looks really nice. Where did you get it from ?

[2015-10-06 10:54] Danimal696 commented on #981
its a rework of a model from blendswap:
http://www.blendswap.com/blends/view/66691

[2015-10-06 13:20] hwoarangmy commented on #981
Cool. Is it near from ready ?

[2015-10-06 13:29] Danimal696 commented on #981
retexturing and lowering polis is done, now i need to rig with motion capture skeleton and fine tune it all, could take a week or two depending on my free time

[2015-10-06 14:29] hwoarangmy commented on #981
ok. Cool. It would also be nice to have a few more rooms (and I guess it is easier and less time consuming) to allow to associate creatures with rooms. IMHO, we have enough creatures for a 1.0. And if we need to, we can always play with the textures and size to create a creature from another one. For example, this dark elf can easily become a hero creature by changing its color.

[2015-10-06 14:31] hwoarangmy commented on #930
@akien-mga Is it still true ?

[2015-10-06 14:32] akien-mga commented on #981
What are the rooms on our todo list for 1.0?

[2015-10-06 14:32] hwoarangmy commented on #412
as @akien-mga said, this one is closed

[2015-10-06 14:32] #412 closed, assigned to tomluchowski

[2015-10-06 14:32] akien-mga commented on #930
I'll see if I can reproduce it.

[2015-10-06 14:44] hwoarangmy commented on #578
I've been thinking a bit more about unit tests. IMHO, our architecture is not adapted to unit tests as @oyvindln tried to implement. Almost every interesting class relies on GameMap and compiling a test means more or less to compile the whole game.
Except testing very simple things, like checking if our Random class works, I guess we cannot do much this way. And certainly not the real interesting

[2015-10-06 15:11] hwoarangmy commented on #981
Good question. I don't think we have a list. But it might be a a good thing to do if we haven't. I guess @Danimal696 may have something in mind

[2015-10-06 17:37] Danimal696 commented on #981
Maybe guard post, arena and temple?

[2015-10-06 20:58] Bertram25 commented on #981
The model is cool! :)

About the rooms, we have in fact several lists AFAIR:
Models in need of update:
- prison, crypt, temple (for heroes and keepers), portal (for heroes),
  Rooms that needs to be created:
- Forge, Guard Post + upgrade to bunker, different traps such as the poison one, the scarecrow one, ..., the sacrifice room, the arena, the torture room, a casino equivalent.

Let's discuss wh

[2015-10-06 21:00] Bertram25 commented on #973
Yeah, sounds much better!

[2015-10-06 21:01] Bertram25 commented on #967
Setting to 0.7 but just to point out from when the XP platform was considered.

[2015-10-06 21:28] akien-mga commented on #981
Sound we move the rooms discussion to its own issue?

[2015-10-06 21:30] hwoarangmy commented on #981
Good idea. Let's not hack this issue

[2015-10-06 21:31] hwoarangmy commented on #967
I've tried to build after setting the toolset to v120_xp but it doesn't launch on win xp. I will try to build it with MinGW and see if it works on win xp (I guess it does).

[2015-10-06 21:33] hwoarangmy commented on #974
Note that if you are not happy with cooldowns, you can change them
https://github.com/OpenDungeons/OpenDungeons/blob/development/config/spells.cfg

If you find better values, do not hesitate to create a PR ^^

[2015-10-07 19:07] Bertram25 opened #982 "Rooms global issue"
Taken from: #981

About the rooms, we have in fact several lists AFAIR:
Models in need of update:

[code]

Let's discuss what rooms we really want for core gameplay and once we have them, maybe officially start about the campaign.

[2015-10-07 19:07] Bertram25 commented on #981
Done: #982 :)

[2015-10-07 19:18] Bertram25 commented on #977
Lol ;) Who knows? As for me, I'll go wherever the current OD team will. It's fun to work with you guys. :)

Is the issue still valid, then?

[2015-10-07 19:29] Bertram25 commented on #777
I don't really know where the discussion is now, but please see the master server as a online list that can be checked to know what server is waiting for players or is running. (I guess you all understood, but I wanted to make it clear.)
Second point is that, whether we implement a true OD server or not, we can use the masterserver to make OD app in host mode to optionally tell the master server t

[2015-10-07 19:39] alketii commented on #777
Its the first one, a simple list which can also be showed in game, and if a server has available slot, a player could join with one click.

[2015-10-07 22:03] hwoarangmy opened #983 "Rename creature "awakeness" to "wakefulness""
from discussion in #979

[2015-10-07 22:05] hwoarangmy commented on #982
IMHO, we should check for rooms which have a model more or less ready in one of @Danimal696 favorite blender sites and use them in priority.

Apart from that, the best would be a torture room ^^

[2015-10-07 22:38] hwoarangmy commented on #977
I've made some more tries. The exception came from not entering a character name (I had not seen the edit). After entering one, I could get the game work. As @Danimal696 said, the models character are pretty low poly and the source files are from maya (thus, not easy for us to give them the correct rotations).
However, even if the models are not as good as most of our current ones, we can consider

[2015-10-08 14:45] Danimal696 commented on #977
eheh, got me :) , i actually had a look at megaglest looking for replacement. those are half usable

[2015-10-08 15:36] Danimal696 commented on #982
Sadly, almost everything on the net is garbage, and im not even that exigent, but finding decent models is difficult and if they need to be open source it gets even worse.

[2015-10-08 18:00] fusion44 commented on #977
Thanks for the interest in Summoning Wars :P

I don't think anyone from the former team would have a problem seeing their meshes used in another open source game if it fits the game well. If you want I can try and reach them to get a written agreement. The game was born out of a university project where Maya was used. First (public) commit was in 2008 and the mesh details (and animations) somewhat

[2015-10-08 20:09] hwoarangmy commented on #977
Yes. As I've said, I could launch the game after all and indeed, the models are not detailed enough compared to the ones we use. But I've seen the skeleton and the lich do not look bad. I will try to import them to see what they look like ^^

[2015-10-08 21:56] hwoarangmy commented on #977
I've had a try integrating the skeleton and that's not that bad ^^

[2015-10-09 06:34] hwoarangmy opened #984 "Make creatures use skills"
Now that skills are implemented and merged, we should begin to add them to creatures and decide how we do that (required level, balancing, ...)

[2015-10-09 06:41] hwoarangmy opened #985 "Creature balancing"
Just like skills, elemental damages have been implemented. But ATM, no creature or spell use it.

Following #877 we said that we would like to have something like 3 creatures per tier specialized in one of the type and with a triangle. For example, if the 3 creatures are A, B an C, at same level, A > B, B > C and C > A.

[2015-10-09 06:44] hwoarangmy opened #986 "Implement a "defense" spell"
So that we have a little bit more choices when giving skills to creatures

[2015-10-09 10:18] Danimal696 commented on #985
elemental as in fire, water, earth and air? or as in the previously used in OD physical, magic, acid?

[2015-10-09 10:21] Danimal696 commented on #986
ill hijack this, i think it would be better to just create an issue with posible skills to be added

[2015-10-09 12:12] hwoarangmy commented on #985
elemental is the "generic" name for what we called "acid"

[2015-10-09 12:13] hwoarangmy commented on #986
This issue is for creating the defense spell (I will do it soon). But if you want to create one issue that gathers all spells we want to discuss, please feel free. When we will have a list, we can open an issue for each.
Also do not hesitate to post links to icons if you have something in mind

[2015-10-11 20:59] hwoarangmy commented on #967
@EntropicPariah Could you please try this release:
http://download.tuxfamily.org/opendungeons/WIP/OpenDungeons-git20151011-Win32-MinGW64.zip

and tell us if it works with win xp ?

[2015-10-13 11:39] Danimal696 opened #987 "CMake error when trying to open /usr/local/cegui-0.8.3/cegui/include/Version.h for reading"
Feel free to close this issue once you have a look at forum:
http://forum.freegamedev.net/viewtopic.php?f=54&t=6589&p=66193#p66193

[2015-10-13 15:06] Danimal696 commented on #986
i like these two:
http://game-icons.net/lorc/originals/barbute.html
http://game-icons.net/lorc/originals/visored-helm.html

they are pretty close to the original DK, http://dungeonkeeper.wikia.com/wiki/Armour_%28Creature_Spell%29

[2015-10-13 21:56] Danimal696 opened #988 "Traps layed in editor mode are unbuilt in level"
their default activation value is 0 instead of 1 in level file, so all of them dont appear in level

[2015-10-13 21:59] Danimal696 opened #989 "Digging selection sound only played on left side"
If you use headphones like me you can tell it very easily, only one of them plays the sound no matter where you click

[2015-10-13 22:01] Danimal696 opened #990 "Wave portals and how they work?"
i want to build several on the same level but cant put to work even one of them. Could you explain all values?

[code]

[2015-10-13 22:50] Danimal696 opened #991 "Depleted gem block"
Its not possible create a 0% density gem block in editor mode

[2015-10-14 07:53] akien-mga commented on #988
It would indeed be more logical that traps placed in the editor are automatically activated; I guess that's what most level designers would want (and traps can still be deactivated by editing the level file if need be).

[2015-10-14 07:56] akien-mga commented on #989
IIRC it should be a "spatial" sound, i.e. it should play on the left if you click on the left of your focus/camera view, and it should play on the right if clicking on the right.

[2015-10-14 08:17] EntropicPariah commented on #967
Sorry it took so long, I just now tried the version from the link you posted and it worked fine. Thanks for the update!

[2015-10-14 08:57] akien-mga commented on #990
We should indeed better document this kind of stuff in the wiki.

For now, here is the description:

[code]

Regarding the "Strategy", it can be:
- 0: attack closest dungeon in range
- 1: attack a random player in range at each wave
- 2: attack only the teams listed in TeamIDs

For "TeamIDs", values can be "-" (any team) or one of more team IDs (separated by a slash when there are more than one, e

[2015-10-14 09:32] Danimal696 commented on #990
Thanks, ill try again

[2015-10-14 09:33] Danimal696 commented on #989
it doenst, only plays on left no matter where you click

[2015-10-14 13:08] akien-mga commented on #988
It sounds to me like a job I should be able to handle, so I'll take it. @hwoarangmy If it implies messing with a file you are currently changing in your current PR or incoming one, feel free to snatch the issue from me ;)

[2015-10-14 13:28] akien-mga commented on #991
It would require a GemGround tile (maybe similar to GoldGround, but with gem colours).

[2015-10-14 13:31] akien-mga commented on #991
Nevermind my above comment, we have the visual: https://github.com/OpenDungeons/OpenDungeons/blob/development/materials/textures/GemsGround.png

I can have a look at implementing support for gems with fullness 0% if we all agree that we want those. Personally I guess they can be useful if we want to trick players into going to a location where it's actually an empty gem tile. To be honest I haven'

[2015-10-14 13:49] #971 closed, assigned to hwoarangmy

[2015-10-14 13:49] #975 closed, assigned to hwoarangmy

[2015-10-14 13:49] #976 closed, assigned to hwoarangmy

[2015-10-14 13:53] akien-mga commented on #987
I believe the error is due to a bogus CEGUI installation by the user, so I'll close as invalid for now. I may reopen depending on the answers given to my questions on the forum.

[2015-10-14 13:53] #987 closed, assigned to akien-mga

[2015-10-14 16:43] hwoarangmy commented on #988
No problem. If there is a merge conflict, I will fix it. In any case, my next PR will be huge and might mess with many stuff.

[2015-10-14 16:43] hwoarangmy commented on #967
Cool. Then, I will try to build MinGW versions if I can.

[2015-10-14 16:43] #967 closed, assigned to hwoarangmy

[2015-10-14 17:47] hwoarangmy commented on #991
They should. If not, that's a bug ^^

No, it wasn't planned at first. But that's not a bad idea.

[2015-10-14 17:47] hwoarangmy commented on #989
I think @Bertram25 might know something about it. I will also try

[2015-10-14 17:47] hwoarangmy commented on #990
Couldn't explain better than @akien-mga did ^^

[2015-10-14 17:48] hwoarangmy commented on #986
ok. I will use http://game-icons.net/lorc/originals/barbute.html

[2015-10-14 18:56] Danimal696 commented on #991
i confirm they are visible into the fog

[2015-10-14 18:57] Danimal696 commented on #988
care to spoil it a bit? :D

[2015-10-14 19:10] hwoarangmy commented on #988
You can have a look #992
Basically, most interesting things are:
- Allow to customize creature behaviour with plugins in the creature config file (like skills). Now, the only default behaviour is to get rogue when furious for too long. Fighting enemies, fighting natural enemies, flee when weak and leave dungeon when furious need to be added if wanted (and the order matters).
- Imported skeleton +

[2015-10-14 21:22] akien-mga commented on #988
I tried this but I get a segfault, I guess I need to dig a bit more to understand how this trap creation stuff works out :)

[code]

[2015-10-14 21:27] akien-mga commented on #988
Looks like this works better:

[code]

[2015-10-14 22:54] hwoarangmy commented on #988
I would have based on what is done in when reading an activated trap from a file in:
Trap::importTileDataFromStream

You will see that after trapTileData creation, we call "activate".

So, basically, I would have chosen the same location as you did (in setupTrap). But I would have called "activate" because it initializes some more stuff (number of shoots before deactivation and such). It is safer

[2015-10-15 05:50] akien-mga commented on #988
Thanks for the detailed comment, calling activate(tile) is indeed a better idea. I had noticed that it did more stuff, but somehow when finding the good place to call it I was fooled by the presence of trapTileData :D

[2015-10-15 05:51] akien-mga commented on #988
@hwoarangmy I've fixed the commit.

[2015-10-15 22:48] #988 closed, assigned to akien-mga

[2015-10-16 21:53] hwoarangmy commented on #960
appVeyor part is handled in #992
It builds the game with MSVS2013 and MinGW32.

[2015-10-16 22:34] hwoarangmy commented on #985
As for the triangle, I would propose as a first step to try for 1 creature of each tier:
- Good damage on its natural attack
- Medium defense against its natural attack
- Good defense vs another attack.
- Bad defense against the last attack

For example, if we consider 3 tier 1 creatures:
- Spider
- Tentacle
- Slime

Spider would have Attack: 5 phy, 0 mag, 0 ele. Def: 2 phy, 4 mag, 0 ele.
Tentacle

[2015-10-16 23:43] Danimal696 commented on #985
I would switch stats for spider to tentacle since spiders can poison a bit as well, otherwise its good

[2015-10-17 04:34] eugeneloza commented on #985
Looks good!

[2015-10-17 08:56] hwoarangmy commented on #985
No problem, it was only an example. I'm not even sure that these creatures are the tier 1 keeper (since there are more like roach, cavehornet or the other tentacle). BTW, since we have many creatures on keeper side and not enough for heroes, it could be a good idea to switch some. Any idea ?

Since we are talking about creature balancing, at which level do we except a creature to become better tha

[2015-10-17 11:13] Danimal696 commented on #985
thats pretty tricky, i tried to use a golden rule when i balanced last time, and that was, even the weakest creature should be able to hurt a bit the strongest one when both are at LV1.
Apart from that we have other values to play with now, like HP and skills to make one creature better than other

[2015-10-17 11:31] hwoarangmy commented on #985
Seems good.

For my part, I would say that level 7 to 10 creatures should begin to win vs their same tier better unit.

[2015-10-17 11:58] eugeneloza commented on #985
[code]

Maybe not 'switch' but 'add' for heroes? Like
MLEE: peasants > adventurers > soldiers > knights > crusaders > paladins > heroes
MAGIC: commoner > initiate > scholar > mage > warlock > archwizard
ELEMENTAL: scout > robber > rogue > murder > assasin
RANGED: slinger > archer > crossbowman > sniper > ballista

[code]

Maybe, there's a point in adding a 'balanced' creature? Which has equals on

[2015-10-17 12:47] hwoarangmy commented on #985
My idea was to not put too much burden on our artists shoulders and to go fast (as we have many creatures on keeper side but not enough on hero's). But if you want to add some new creatures, you are welcome. However, I think we need rooms more than creatures ATM.

Yes. Maybe for "special" creatures that do not spawn through the portal like skeleton / lich. I think we should try to avoid what was,

[2015-10-19 21:06] akien-mga commented on #990
Reopening and assigning to myself as this should figure in the wiki IMO.

[2015-10-20 06:44] #986 closed, assigned to hwoarangmy

[2015-10-20 06:44] #991 closed, assigned to hwoarangmy

[2015-10-21 09:54] hwoarangmy commented on #985
I've had a look at the creature list. As we can see in the wiki, we have 6 keeper tier 2 creatures (wyvern, lizardman, orc, goblin, tentacle, kreatur) + roach
At the same time, we only have 2 tier 3 creatures for hero (bigknight and dwarf runelord).

To have at least 3 creatures per tier for both sides, I would propose to change some creatures teams. Moreover, we could have 3 tier 4 creatures (all

[2015-10-21 10:05] hwoarangmy opened #996 "AI sould not pickup/drop creatures so much"
Now that creatures are stunned after being dropped, AI looses much too fast its units by picking them up. They stay during too much time stunned during a battle.
AI should choose to pickup more wisely the creatures it picks up.

[2015-10-21 13:39] hwoarangmy commented on #977
I've uploaded the Lich + Skeleton from summoning wars in #992

[2015-10-21 13:39] #977 closed, assigned to nobody

[2015-10-21 14:21] Danimal696 commented on #985
not bad, in absence of enought creatures for everyone, its a good plan.

[2015-10-21 21:58] Bertram25 commented on #985
Looks perfect on paper :D
I guess this will require some stat spreadsheet or something?

[2015-10-21 22:19] hwoarangmy commented on #985
well, I will try with some basic stats, each creature being perfect opposite to an hero. Then, we will see what we want ^^

[2015-10-21 22:38] Bertram25 commented on #960
I just activated Travis CI for OpenDungeons from my personal account.

I'll have a go with appveyor now.

[2015-10-21 22:39] hwoarangmy commented on #960
ok. I'm done with travis. I will release the PR tonight. Just testing after rebase

[2015-10-21 22:40] Bertram25 commented on #960
Done for appveyor activation. :)
https://ci.appveyor.com/project/Bertram25/opendungeons

[2015-10-21 22:50] Bertram25 commented on #989
From soundEffectManager.cpp line 62, sounds not spacial have no attenuation at all, so they should be at the same level whatever the position used.
Yet, their default position is 0;0 when played without coords arguments, like in:
`void playSpatialSound(SpatialSoundType soundType, const std::string& family)`

Thus, explaining IMHO the bug. A test that could be done is to set the sound position to t

[2015-10-21 22:52] Bertram25 commented on #960
The MinGW32 appveyor build is a success :) The MSVC one is doing well so far.

[2015-10-21 22:57] Bertram25 commented on #960
Interesting warnings:

[code]

[2015-10-21 22:59] hwoarangmy commented on #960
Yes. I guess logging the exception would be the less we can do. In any case, doing nothing (even a log) when such an exception occurs looks like a bad practice

[2015-10-21 22:59] hwoarangmy commented on #960
I've release the PR for travis

[2015-10-21 23:12] hwoarangmy commented on #578
I've been thinking that the most straightforward way to tests would be use the normal executable, launch it on server mode and go for a client stub to make tests (using command consoles for tests needs for exemple for wrapping creatures and this kind of stuff). That would allow to test the server easily and very effectively (since we test the real executable).
However, testing the client side migh

[2015-10-21 23:46] #952 closed, assigned to hwoarangmy

[2015-10-21 23:46] #960 closed, assigned to hwoarangmy

[2015-10-21 23:46] #972 closed, assigned to hwoarangmy

[2015-10-21 23:47] Bertram25 commented on #578
I must say I completely agree. Duplicating cpp file vs 1 header, except for good reason, is considered a bad practice AFAIK.
But are you speaking only of duplicated cpp files or also of abstracted classes needed by unit tests? The latter is fine IMHO and makes us have a more modular model, but it's again theory.

Well, it depends on what you want to achieve. IMHO, there are several things that sho

[2015-10-21 23:48] Bertram25 commented on #578
Another idea I had, is what about using some fabricated replay data, and make a game run very quickly in background testing most of the known game events? It may help triggering complicated crash courses, ... WDYT (bis)?

[2015-10-22 00:15] hwoarangmy commented on #578
Yes, I'm talking of splitted files (like Tile.cpp and TileFunctions.cpp). Concerning tests, I guess the easiest will be to remove the broken ones (or maybe all since they test nearly nothing)

Yes, that's my point. Our architecture is not adapted for unit tests. Because nearly every entity embeds the gamemap, there is no way to get "a small executable". We will always have to compile nearly everyt

[2015-10-22 09:30] Bertram25 commented on #578
For the merging part, please go ahead. I don't see good reason not to.

Indeed, just spilling the seeds around and see what grows out of it. ;)

Yes, that's could be a good way to earn time when reproducing a bug with a replay. :)

[2015-10-22 10:29] hwoarangmy commented on #578
Well the reason would be that it will break the current unit tests (even if they are not very usefull).

That's a very tempting idea. Too bad it is not straightforward.

Yes. Even if there are not much needs ATM.

[2015-10-22 19:36] hwoarangmy opened #998 "Critical message logging looks weird"
The class + line are displayed before the time/log level. Example:

[code]

It should be:

[code]

[2015-10-23 08:16] hwoarangmy opened #999 "Creature mood"
We have recently done many work on creatures. We have used a plugin system for most customizable things (behaviour, skills, room afinity, ...). That's pretty good IMHO. However, creature mood is not handled the same way. Creature moods are defined in another config file and each creature can use a mood from this file.
The good point is that creature moods can be shared. The bad point is that it is

[2015-10-23 08:20] akien-mga opened #1000 "Make all issue numbers 4 digits long"
I think that's a must have for a project such as ours. I'll handle it.

[2015-10-23 08:23] hwoarangmy commented on #1000
lol

[2015-10-23 12:37] akien-mga commented on #1000
I've been lurking in the dark to fetch this one :P

[2015-10-23 12:37] #1000 closed, assigned to akien-mga

[2015-10-23 20:58] Bertram25 commented on #1000
XD omg 1000 issues

[2015-10-23 21:26] hwoarangmy commented on #1000
That includes PRs ^^

[2015-10-26 21:45] hwoarangmy opened #1002 "Ranged creatures try to attack rooms through the walls"
When they have vision over a room, they try to attack the closest tile even if behind a wall (and thus, not attackable).
I guess this regression comes from creature skills update.

[2015-10-28 10:14] hwoarangmy commented on #983
Fixed by
https://github.com/hwoarangmy/OpenDungeons/commit/be5917eaee9b255f64b9e356dc66b8aa8d4122f6

[2015-10-28 10:15] #983 closed, assigned to hwoarangmy

[2015-10-28 11:49] hwoarangmy commented on #939
Fixed by #997

[2015-10-28 11:49] #939 closed, assigned to hwoarangmy

[2015-10-30 20:53] #938 closed, assigned to hwoarangmy

[2015-10-30 20:53] #958 closed, assigned to hwoarangmy

[2015-10-30 20:53] #984 closed, assigned to hwoarangmy

[2015-10-30 20:53] #985 closed, assigned to hwoarangmy

[2015-10-30 20:53] #998 closed, assigned to hwoarangmy

[2015-10-30 20:53] #999 closed, assigned to hwoarangmy

[2015-10-30 20:53] #1002 closed, assigned to hwoarangmy

[2015-10-31 17:52] Danimal696 commented on #981
almost ready, wait for it next week ;)

[2015-11-05 22:21] #565 closed, assigned to hwoarangmy

[2015-11-05 22:30] akien-mga opened #1005 "Spell visual effect improvements"
Starting this issue to discuss how we could improve the current spell visual effects so that they look even cooler.

A first thing I noticed is that most of our spells use the "flare" halo, which looks fine in itself, but it starts cut on the bottom as the starting position is likely at a lower z-value than the tiles:
![spell1](https://cloud.githubusercontent.com/assets/4701338/10983759/d3361b2e-8

[2015-11-07 23:18] Bertram25 opened #1007 "Gold seems not to decrease when being the host of a game"
just start any type of game, it seems building rooms doesn't cost gold anymore for the host.

Tested on Linux.

[2015-11-07 23:19] Bertram25 commented on #1007
Just had a full game, woah, the creature behaviour has changed a lot.
+Kudos for the new spells :D
(I'll stop hi-jacking this issue now)

[2015-11-08 19:15] Danimal696 commented on #981
just one step away from game release ;)

http://opengameart.org/content/elf-game-ready-and-animated
http://opengameart.org/content/dark-elf-game-ready-and-animated

[2015-11-08 19:46] hwoarangmy commented on #981
Looks cool ^^
Is it a replacement for other creatures ? Or a special creature ?

[2015-11-08 19:55] hwoarangmy commented on #1007
my mistake. I will fix that now

[2015-11-08 20:01] Danimal696 commented on #981
i dont know... they wont replace anything for sure, but, i would like them to be "skill user-archers", a kind of super archers, suppose the common archer creature would only use its ranged physical attack and a few support skills on itself (maybe a granade skill at high level?(exploson skill)); and these ladies could cast fireballs, poison bolts or the like to dish out different kinds of damage pl

[2015-11-08 20:17] hwoarangmy commented on #981
No pb ^^

We already have 3 creatures per tier for both factions. However, some creatures are currently not final (AFAIK, knight and big knight share the same mesh, cavehornet is used for both factions, tentacle looks more like tier 1 than tier 2...). IMHO, we should decide, for each new creature we want to introduce:
- If it replaces another one (in this case, I think it is the most appropriate s

[2015-11-08 20:50] #1007 closed, assigned to nobody

[2015-11-08 23:48] #884 closed, assigned to Bertram25

[2015-11-08 23:52] Bertram25 commented on #383
I'll be on that one next.

[2015-11-09 00:00] Bertram25 commented on #965
The Cegui team answered and spoke about a children initialization order problem on their own. Don't know much more, though. I'll ask if they need help.

[2015-11-09 22:29] #578 closed, assigned to nobody

[2015-11-11 07:19] #996 closed, assigned to hwoarangmy

[2015-11-12 19:29] hwoarangmy commented on #981
the dark elf is in #1016
@OpenDungeons/developers WDYT about replacing a creature (if so, which) or adding it as a new one ?

[2015-11-12 21:44] Bertram25 commented on #981
IMHO, whatever it is replacing or not, it is some kind of tier 2 Wizard equivalent for keepers. :>

[2015-11-12 22:35] hwoarangmy commented on #981
The thing is that IIUC, @Danimal696 also have a hero faction equivalent for the dark elf.
IMHO, currently, we have
- cavehornet used twice
- knight, bigknight using same mesh
- Some not as nice models as the others: wyvern, gnome, pitdemon, dragon, lich (acceptable but some more triangles won't hurt)

My proposition is to use the elf as a tier2 creature replacing adventurer/wyvern. adventurer woul

[2015-11-14 15:56] Danimal696 opened #1019 "Prison icon"
the current one is not explicit at all, i propose to change it to this:
http://game-icons.net/delapouite/originals/prisoner.html

and jailed creature to this one:
http://game-icons.net/lorc/originals/manacles.html

[2015-11-15 21:53] hwoarangmy commented on #1019
I agree the room icon is not very explicit. However, what about using the same icon (prisoner) for both the creatures and the room ? That would be pretty straight forward, no ?

[2015-11-15 21:55] hwoarangmy commented on #981
The Elf + DarkElf are in the main repository. What is left it their weapons + integrate them ingame. If nobody goes against, I will do what I said in my proposition when they can be integrated.

[2015-11-15 22:04] hwoarangmy opened #1020 "Gold on the floor"
When the treasury room is full, dug gold is left on the floor. We could allow creatures to sneak that gold and take it.
That would make more important to have enough treasuries for the dug gold

@OpenDungeons/developers WDYT ?

[2015-11-15 22:10] Danimal696 commented on #1020
i wouldnt be agaisnt them taking a bit, but not all. But would that also apply to gold dropped from killing rival creatures? i see myself slapping my creatures to death when rough times come, Casino room migth be the best addition after this would be implemented

[2015-11-15 22:32] hwoarangmy opened #1021 "Creature actions should use polymorphism"
ATM, it is a class that has generic parameters. As it is more and more used, using polymorphism would make it easier to understand.

See
https://github.com/OpenDungeons/OpenDungeons/blob/development/source/entities/Creature.cpp#L3960

[2015-11-15 22:35] Bertram25 commented on #1020
It could be interesting, but I would make them stop sneaking for a while when you've slapped a creature. So that slapping has also a new purpose. ;>

[2015-11-15 22:49] hwoarangmy commented on #1020
not a bad idea ^^

[2015-11-16 17:17] #699 closed, assigned to hwoarangmy

[2015-11-16 22:56] hwoarangmy opened #1022 "Allow to play a battleroyal in the arena"
According to:
http://forum.freegamedev.net/viewtopic.php?f=45&t=4765&start=600#p66535

@Danimal696 wants to be allowed to drop more than 2 creatures in the arena.
For my part, Ive no strong opinion about that.

@OpenDungeons/developers WDYT ?

[2015-11-21 11:05] hwoarangmy opened #1024 "New model"
While looking at the new kobold model, I found a dragon from the same guy:
http://www.blendswap.com/blends/view/26363

Similar:
http://www.blendswap.com/blends/view/70067

New monster:
http://www.blendswap.com/blends/view/27168

Wolf (for hero faction):
http://www.blendswap.com/blends/view/24800

@Danimal696 WDYT?

[2015-11-21 11:17] akien-mga commented on #1024
Pretty cool! :D

[2015-11-21 11:59] Danimal696 commented on #1024
the eye is not bad, i guess im too secretive with new models, most likely so im not presured ;)

This is my (not anymore) secret model roadmap:

Knigth: https://sketchfab.com/models/e88deabf5fe2474dafea00a5193e980c?utm_source=triggered-emails&utm_medium=email&utm_campaign=new-comment
Dragon:https://sketchfab.com/models/8cfb96f27f6b4689983e8e09de209597
Barbarian:https://sketchfab.com/models/78511c8

[2015-11-21 12:14] Bertram25 commented on #1024
Woah :D Looks good! :)

[2015-11-21 14:13] hwoarangmy commented on #1024
Note that from what I've seen, the dragon and the new kobold are already animated. I don't know if we can use the animation with Ogre, though.
However, your dragon is better as it will fit more easily in a tile

[2015-11-21 18:29] #1021 closed, assigned to nobody

[2015-11-21 22:11] hwoarangmy commented on #777
I've been thinking a bit more about the lobby and I think we can have the same behaviour between the server hosted games and player hosted ones (excepted the source of the games).

@alketii I've been looking at your server API and we should adapt some stuff IMHO. If it is too late and you don't want to mess with that, please tell me and I will do it.
- The IP should be read by the server and not s

[2015-11-21 22:20] hwoarangmy commented on #777
That will only be true for the server. And acceptable IMHO.

Not needed IMHO as the goal is to have a server when we can

I've had a quick look and I think SFML would be better. See:
http://www.sfml-dev.org/tutorials/2.3/network-http.php

[2015-11-22 01:41] #1019 closed, assigned to hwoarangmy

[2015-11-25 18:04] Bertram25 commented on #1022
Fine by me. one on one is supported if you drop only two of them, and the more the merrier, right? ;)

[2015-11-25 18:05] Bertram25 commented on #777
Ok, fine by me.

[2015-11-26 10:09] akien-mga commented on #777
Just to clarify: I don't know what hole punching refers to, but regarding having our own server, I wouldn't count on it for now. We are still far away from having the possibility to host servers ourselves, and we should first focus on facilitating P2P IMO. If/when we have an own server, then we'll just have to reuse the P2P mechanisms with our server as one of the peers.

[2015-11-26 13:52] hwoarangmy commented on #777
The problem with hosting a game (for a player) is that he needs to configure his router/firewall so that the other players can connect to his computer. On the orther side, for players that want to connect to your computer, it is pretty easy to connect as usually, high value ports are open.
Hole punching is a way to work around the problem for players hosting games.

Concerning our master server, I

[2015-11-28 13:59] akien-mga opened #1027 "Better handle nick conflicts in server connection"
Currently trying to use the same nick as an existing player when joining a server does not raise a meaningful error, we should try to handle that.

[2015-11-28 15:45] #777 closed, assigned to hwoarangmy

[2015-11-28 16:03] Wout-van-Dongen opened #1028 "Logo Enhancement"
I've been working on some ideas to enhance the OD representation.
Feedback is appreciated ;o
![opendungeons_title_copper](https://cloud.githubusercontent.com/assets/6794691/11452702/b6b4ae72-95f1-11e5-9c62-c9f09f710c7c.png)

[2015-11-28 19:01] alketii commented on #777
Just a reminder: Current masterserver isn't secure in any way, It can be hacked, trolled, etc. by a simple web browser (or http request) :dancer: . I should fix it soon.

[2015-11-28 20:01] hwoarangmy commented on #777
What do you have in mind ? Having to log to register a game ?
In any case, if you plan on doing something, could you please open an issue so that we know what you are on ?
In any case, if you want, I can give you the login/password for the master server

[2015-11-28 21:10] hwoarangmy opened #1029 "Add a chat in the lobby (configure seat mode)"

[2015-11-28 22:29] hwoarangmy opened #1030 "Sleeping creatures do not stay on the ground while sleeping"
Regression from #1026

[2015-11-29 11:51] akien-mga opened #1032 "Ruins of the Confluent is _hard_"
@oyvindln and @Wout-van-Dongen can testify about it :D

A few issues:
- the creeps just next to the base can destroy your temple pretty easily if you're not careful while digging
- the portal waves are somewhat overpowered :)

[2015-11-29 11:55] akien-mga opened #1033 "Make at least one new multiplayer level"
We need to add some diversity to the game, currently we have only:
- one 2 player level (The Bridge)
- one 3 player level (Greed or Might)
- one 4 players level, but it's hard :p (#1032) (Ruins of the Confluent)
- one 5 players level (Scream in the Dark)

We could use at least one other 3+ players level, and maybe even a 6 players level.

[2015-11-29 11:59] akien-mga opened #1034 "Segfault while playing multiplayer games"
While playing the current dev branch yesterday we had two segfaults after ~20-30 minutes of game:
- one while I was hosting on Linux, no meaningful stacktrace: http://hastebin.com/bepojakodu.scala
- one in the server while hwoarangmy was hosting on Windows, he had a stacktrace IIRC (could you post it here?)

It could be that the two segfaults have the same cause but the Windows stacktrace code was

[2015-11-29 12:20] akien-mga opened #1035 "Make gold storage in the treasury more random for a better visual effect"
Here's a suggestion after discussing it with @Wout-van-Dongen: we currently have four levels for the gold stack depending on how full the stack is (the model changes every 250 gold), and that's great.
But it's pretty hard to notice (and therefore to enjoy) since in the treasury gold is stored in a very tidy way: stacks of 1000 gold + one stack with the rest.

To add more diversity we could distrib

[2015-11-29 14:54] oyvindln commented on #1034
My segfault could also have something to do with trying to join after failing to connect on the first attempt.

[2015-11-29 20:09] hwoarangmy commented on #1034
The segfault I got is related to a bug with hatcheries. I forgot to test if there is room available before allowing a creature to go to the hatchery. Because of that, they used to go there even if they couldn't be added (because at room level, there is a check on availability). Thus, if there is a room absorbtion, the creature is not notified (because not in the creatures using the room list) and

[2015-11-29 20:10] hwoarangmy commented on #1032
I can also testify since they destroyed my dungeon too. A dragon + ogre seems too much when you only have 2 spiders to defend ;-)

[2015-11-29 20:13] hwoarangmy commented on #1034
Done in #1036

[2015-11-29 21:16] akien-mga commented on #1032
THere shouldn't be a dragon + ogre so near the dungeon though, only lvl3 spiders and such no?

[2015-11-29 22:31] hwoarangmy commented on #1032
I don't know. But what killed me was a dragon + ogre. I don't know where they came from, though.

[2015-11-30 08:55] hwoarangmy commented on #1034
Note that @oyvindln segfault looks like #610
I thought it was fixed by a nasty workaround of loading all entities at game start (for some unknown reason, it solved a similar problem I had on windows) but it looks like it doesn't on linux.
Maybe upgrading Ogre might help for that...

[2015-11-30 08:58] hwoarangmy opened #1038 "Upgrading Ogre3D to version 1.10.x"
I've had a look at Ogre forums and it seems 1.9 is still the official version. However, 1.10 and 2.0 are out for some time and they are working on 2.1.
Should we try to go for the 2.0 ? I don't know how hard it will be to switch but, with a bit of luck, it could solve the crash @oyvindln had.

@OpenDungeons/developers WDYT ?

[2015-11-30 09:03] akien-mga commented on #1038
The Ogre guys are not very good at updating their download page, there is still no source tarball for 1.9.0 after two years...

Where did you see that 1.10 and 2.0 are out though? In the repo I only see 2.0 RC1: https://bitbucket.org/sinbad/ogre/downloads#tag-downloads

[2015-11-30 09:13] alketii commented on #1038
I think we better stick with 1.9 for a while. Ogre has a very slow development. I heard that 2.x series aren't as good (ofc as every new software) and it has only 1 dev.

What seem to be trending now is http://www.openscenegraph.org/ .

[2015-11-30 09:56] hwoarangmy commented on #1038
AFAIK, 1.10 is the current 1.X dev branch. It is already used in some commercial games like said here:
http://www.ogre3d.org/tag/v1-10

That's why it seems not too unstable.

Concerning 2.0, there is already a branch tag and the current dev version is 2.1. That's why I assume 2.0 is more or less final

[2015-11-30 10:08] akien-mga commented on #1038
Actually they are developing all three branches concurrently: 1.10 (legacy branch, likely the last one in 1.x), 2.0 (currently with RC1 release) and 2.1 ("next-gen" development).

They blogged about it back in February: http://www.ogre3d.org/2015/02/06/ogre-2-0-rc1-announcement

They don't seem to have any 1.10 branch on the source repo btw: https://bitbucket.org/sinbad/ogre/branches/ but I suppos

[2015-11-30 19:28] hwoarangmy commented on #1038
I've tried with Ogre2.0. CEGUI do not compile. From what I've seen on their forums, we need to use CEGUI unstable branch for Ogre 2.0. I didn't try but it sounds to experimental to me.

Concerning Ogre 1.10, I could make it work and there are almost no changes. I've seen no difference (I don't know if it fixes the bugs we have either). For the reasons @akien-mga gave, I guess it is wiser to wait f

[2015-11-30 19:37] akien-mga commented on #1038
I think we can keep it open as it's for "Later" anyway, and we will want to upgrade Ogre at some point. The discussion made here might still be useful later on :)

[2015-12-01 00:50] Danimal696 commented on #981
oh,  the weapons... sure ill get them ready

[2015-12-01 23:15] Bertram25 commented on #1038
I'll dare give my own opinion. ;)
If we change the ogre version now, we may unfortunately encounter other crashes later on a "more experimental" branch, which is seemingly, not packaged, and it will be more difficult to go backward once there.

OpenSceneGraph looks interesting indeed, but looks like a lot of work and may lack a few feature we don't know about without trying. And it would be a lot

[2015-12-01 23:17] Bertram25 commented on #1035
Could you make a screen mockup by any chance?

[2015-12-01 23:18] Bertram25 commented on #1033
I guess the user map support is even more urgent? :)

[2015-12-01 23:18] Bertram25 commented on #1027
True, nice catch.

[2015-12-02 07:17] #1030 closed, assigned to hwoarangmy

[2015-12-02 08:37] hwoarangmy commented on #1038
How dare you give your opinion ???

Yes. I was hoping the 2.0/2.1 would work more or less out of the box but couldn't even compile CEGUI (I didn't check why). However, as you and @akien-mga said, relying on an unstable version might not be a good thing ^^

There will probably be a lot of work and, from what I've seen on forums, Ogre and Irrlicht are usually preferred for bigger projects. On the 3D

[2015-12-02 08:53] hwoarangmy commented on #557
Just to clarify, how do you see the forge work ?
- Which creatures will forge weapons ? Each one for itself (might be a good idea since it would make the creature use some time it instead of training) ? Or some creatures good at forging ?
- If the creatures do not craft their own weapons, how do we decide which weapon should be crafted ? Depending on the creatures in the dungeon ? Randomly ?
- We

[2015-12-02 09:31] hwoarangmy commented on #1028
This logo is nice. However, it might be a little be too "serious" IMHO. What I liked the most in the original DK (and I hope we will successfully keep in OD) is the humor. And from this point of view, the current logo is closer to what I would expect for such a game.

Note that it is only my opinion and if the others want to replace the current one, I won't be against.

[2015-12-02 15:36] Danimal696 commented on #557
I would say a research topic for each weapon level crafting

[2015-12-02 18:24] akien-mga opened #1040 "Segfaulted games are not removed from the masterserver"
Check the current status of the masterserver: http://od-odms.rhcloud.com/
It still sees our games from Saturday as "In progress", likely because due to the segfault they could never send the "we're done" signal.

I'd expect those to timeout and move in the corresponding section.

[2015-12-02 18:34] erdmannp opened #1041 "Key bindings not working on Linux X11"
The keybindings do not work in 0.6.0.

Windowed Mode, Debian and two displays.

[2015-12-02 19:45] hwoarangmy commented on #1040
In reality, that's because we only care about games not launched (status = 0). Once the game is launched, it only notifies the server when the game is finished. And we cannot know if the game is still ongoing or not (after all, we could be still playing). And more important, we don't care. If we have a need for some reason, it might be a good idea to add a timeout. But if we do want to care, we wo

[2015-12-02 19:54] erdmannp commented on #1041
Tried it with one monitor. It works until i switched from the game to another application.

[2015-12-02 20:06] hwoarangmy commented on #1041
I know there are some issues with input grabbing with Linux. Pinging @akien-mga as he knows more about that

[2015-12-02 20:08] hwoarangmy commented on #557
Ok, sounds fair. However, since you have thought a bit more than me about forge, how do you see it concerning the other questions ?

[2015-12-02 21:03] Danimal696 commented on #557
Either another use for goblins/smiths (complex choice) or each creatures forges their own weapon in forge (simple choice), goblin would forge them and weapons would be stored in another room (armory) waiting for the taking

By crafting generic weapons? 5 good weapons would mean 5 weapons of good quality for the taking regardless of kind, any upgrade-able creature could go there and consume 1 unit

[2015-12-03 07:24] #1029 closed, assigned to hwoarangmy

[2015-12-03 07:30] akien-mga commented on #1041
This one is tricky, as we always get some users with issues either with mouse grab or keyboard grab, while all of us active developers have no issue at all, so it's hard to track down.

Last time we more or less narrowed it down to some window managers on Linux, i.e. it works great with KDE/Kwin and I think it's fine too on GNOME, but some other WMs are more troublesome.

In the end it's most like

[2015-12-03 08:35] hwoarangmy commented on #1041
I've had a look at SFML code to see how it works and it is pretty well done IMHO. I won't be against using it as much as we can.

[2015-12-03 08:42] akien-mga commented on #1041
Yes the API looks very neat from last time I had a look at it (I ported the old game FreeTumble from SFML 1.x to 2.x: https://github.com/LibreGameArchive/freetumble). The only question is how well it handles keyboard input for e.g. non-latin characters, but I guess we would soon find out if we start working on dropping OIS in a feature branch.

I'll give a try to the OIS fork first of course so th

[2015-12-03 09:35] oyvindln commented on #1041
I also have issues with this, and I'm using XFCE. It works fine if I turn on keyboard grab in the options though (and restart).

[2015-12-03 09:35] oyvindln commented on #1038
Also worth noting that upgrading to 2.0 means dropping support for Dx9/OpenGl 2.x level graphics cards.

[2015-12-03 09:45] akien-mga commented on #1038
That's more for 2.1 no? In the announcement for 2.0 RC1 they said:

[2015-12-03 09:55] oyvindln commented on #1038
Yeah, you're right.

[2015-12-03 11:20] hwoarangmy opened #1043 "Small freeze when building a room"
When we build a room, there is a small freeze (I guess due to active spots computation). I've not searched for what happens but I guess we can optimize that

[2015-12-03 19:47] hwoarangmy commented on #557
That would mean the need for 2 rooms for 1 purpose. Which also means 2 researches (1 alone being useless). IMHO, it's a little bit too complex for a concept pretty simple. Moreover, we are lacking rooms and using 2 for that may be a little too much. However, you are the one making rooms so...
Note that as a first step, if we agree on how the forge should behave, I had thought about taking 1 of the

[2015-12-03 22:16] Danimal696 commented on #557
I meant, by creating a weapon point that can be spent on any weapon of its quality.

Armory models would be pretty easy to make, since they are mostly ready by using the very same models of weapons creatures will equip. The forge research could unlock both rooms, OR forge could store the weapons on its wall spots and center ones would be the ones for working. Total walls spot would be the ones to

[2015-12-04 13:51] hwoarangmy commented on #557
IMHO, using 1 room is better to keep the same behaviour as the other ones. The game pace is already slow, it would be better to not slow it even more.
However, we always said we wanted to have different "paths". Having good weapons might be a good way to achieve that so that one can choose to upgrade his creatures or try to equip them so that they can handle upgraded creatures.

However, we should

[2015-12-04 19:07] hwoarangmy commented on #1043
I've had a look and it comes from loading the entities. Reducing the textures would probably help. However, there will be a loss of quality. We will see later if there is a problem. Closing this

[2015-12-04 19:07] #1043 closed, assigned to hwoarangmy

[2015-12-04 22:33] Danimal696 commented on #1035
maybe even change sizes at random, also some wall objects

[2015-12-09 11:19] hwoarangmy commented on #821
Now that we have the master server, is this still needed ?

[2015-12-09 11:53] akien-mga commented on #821
I think it would still be interesting for people who want to play without sharing their IP over the masterserver, especially since we don't have any kind of "private games" possibility via the masterserver for now (e.g. password protected).

Wouldn't make it high priority as we already have something working quite well, but IMO the proposal from https://github.com/OpenDungeons/OpenDungeons/issues/

[2015-12-09 11:57] akien-mga commented on #821
Or we could save only the last used IP like some other games do, so when you open the "Join Server" window, the IP is prefilled with the last one you used, and if you click the field it selects everything so that you can clear it/replace it easily.

[2015-12-09 20:03] hwoarangmy commented on #1024
@Danimal696 Found some interesting models. In case you don't know them:
http://opengameart.org/content/forest-monster
http://opengameart.org/content/evil-giant-rat

Maybe for the hero side of the cavehornet
http://opengameart.org/content/butterfly-animated

[2015-12-09 20:17] akien-mga commented on #1024
Wow, those are really cool!

Lol :p Or for a spell by the wizard, together with ponies :D

[2015-12-09 21:02] Danimal696 commented on #1024
Rat is nice as a new creature, pretty rpg like enemy; for the hero flier i wanted to turn "fluer du mal" into a fairy, but im having a hard time these days to get some free time, i hope i get some more now with christmass but it migth be the opposite. I wont stop contributing to the project, but i feel sorry for you guys who dont stop while i cant do anything...

[2015-12-09 21:48] hwoarangmy commented on #1024
lol

Well, lately, the contribution rate has decreased for everybody. We all do what we can with the available free time we have ^^

[2015-12-09 23:04] Bertram25 commented on #1024
I have almost no time atm, but I'll still be around. :)
Ghostly but here. ;)

[2015-12-12 11:33] #1027 closed, assigned to hwoarangmy

[2015-12-12 12:21] akien-mga commented on #1041
@erdmannp @oyvindln Could you try this new binary? http://download.tuxfamily.org/opendungeons/WIP/OpenDungeons-git20151212-Linux64.tar.xz (will actually be online in 10 min, my upload is slow :p)
I linked it against the master branch of the new OIS repo: https://github.com/wgois/OIS + one big PR with keyboard improvements (https://github.com/wgois/OIS/pulls/14).

[2015-12-21 22:44] #393 closed, assigned to hwoarangmy

[2015-12-21 22:44] #989 closed, assigned to hwoarangmy

[2015-12-21 22:56] Bertram25 commented on #1040
Well, I must say I care. But I don't think I care enough to ask for a true keep alive.
What about a one-day timeout?

[2015-12-21 22:59] Bertram25 commented on #1041
@oyvindln Love you new avatar. ;)

Is wgois fixing the issue? We could submodule or subtree-it and make it a static lib within OD if it does.

[2015-12-21 23:24] hwoarangmy commented on #1040
that's ok for me. Note that this case can also happen if the server gets disconnected so we must assume it will not be that rare...

[2015-12-22 00:01] Bertram25 opened #1051 "Moar sounds support!"
Now the game looks much nicer in term of ambiance sounds, is it a good idea to add:
- [ ] Fighting sounds in the Arena/Training hall?
- [ ] Claw/roar sounds for most of the Keeper species, instead of the usual metal clung, we have for everyone?
- [ ] Step sounds?
- [ ] I also think we should think about adding a time offset for the actual attack sound play. So we can tune it to make it sync with t

[2015-12-22 20:05] Danimal696 commented on #1051
i totally support this.

[2015-12-23 23:58] hwoarangmy commented on #1051
Yes, I agree

ATM, damage is dealt when the animation starts. That's because doing it at the end would mean to have to check that the target can still be attacked. Moreover, when the animation is finished (and we can imagine having creatures with pretty long animation), the creature we were originally attacking may be dead/pickedup/not the closest.
For this reason, IMHO, attack sound should be pla

[2015-12-24 15:55] Danimal696 opened #1052 "Replace project logo"
Dakal made an awesome replacement for our logo, i vote for it to replace the current one.

Lookit here:
http://forum.freegamedev.net/viewtopic.php?f=38&t=6703

[2015-12-28 21:31] Danimal696 opened #1054 "New elements for casino room"
i have these two ready for conversion, but im out of ideas for others; help?

http://opengameart.org/content/poker-table-fantasy-cards
http://opengameart.org/content/beer-barrel-decoration-for-walls

Also, when should dance animation be used? if it goes unused ill stop adding it to models.

[2015-12-29 11:30] hwoarangmy commented on #1054
Note that I've already added a model for the casino in #1053

Well, when we will have decided to use it. So far, I've no idea when to do it. The only way I can see is to use a gift box/spell that will make every creature dance ^^

[2015-12-30 12:05] Bertram25 commented on #1052
@OpenDungeons/developers @OpenDungeons/artists  Please, let's do it. The new logo is so nice! :D

[2015-12-30 12:14] akien-mga commented on #1052
I like it too, and it should render fine at small scale :)

[2015-12-30 12:55] Bertram25 opened #1055 "Add support to run either custom maps or official ones through command line."
Once support for user maps will be added, running a game through command line should permit to differenciate games made with official maps and user ones.

See @hwoarangmy comment:

[2015-12-30 13:32] hwoarangmy commented on #1055
Also note that it might be a good idea, if someone goes for this one, to allow to play a saved game the same way. That would allow to run unit tests on a saved game

[2015-12-30 13:52] Bertram25 opened #1056 "Move GUI:* static strings to their respective UI cpp files."
As discussed with @hwoarangmy in #1050

[2015-12-30 14:40] Bertram25 commented on #1052
I'll work on that one after the current PR. :)

[2015-12-30 22:08] #383 closed, assigned to Bertram25

[2016-01-02 16:31] hwoarangmy opened #1059 "Owned creatures cannot be put in prison"
When dropped on prison, they should be jailed

[2016-01-02 16:34] hwoarangmy opened #1060 "Prisoner icon is not displayed on owned creatures"
Owned creatures can be tortured but they do not display an icon. It would be nice to know they are jailed

[2016-01-03 17:59] oyvindln commented on #1041
@akien-mga Keyboard seems to work fine with the snapshot (when doing alt-f11 to change to windowed mode), though it seems to have trouble creating/modifying config files, so the settings menu is broken.

[2016-01-03 19:57] Bertram25 commented on #1041
Hey @oyvindln :D And happy new year!

I would interested in your log in a new issue. :)

@OpenDungeons/developers  WDYT about using OIS fork as either a submodule or a subtree and adapt our CMake file?

[2016-01-03 20:56] hwoarangmy opened #1061 "Wrong handling of carryable entities"
Crash seen by @Danimal696

[code]

As we can see, 2 creatures try to carry the same dead body.

[2016-01-03 21:27] hwoarangmy commented on #1061
@Danimal696 I confirm I could reproduce the crash with the mistake I've seen. However, in my case, the creature causing the crash is the one carried. I will assume the log you have sent corresponds to another similar crash as the snapshot or that you had some slightly different but related bug.

[2016-01-03 22:21] Danimal696 commented on #1061
i hope so :) , ill try out in the next exe

[2016-01-03 22:39] hwoarangmy commented on #1061
Could you reproduce it several times ?

[2016-01-03 22:59] #1061 closed, assigned to hwoarangmy

[2016-01-04 01:19] Bertram25 commented on #849
@hwoarangmy Since you said we're starting to have enough content for another release, shoudl we start backloging issues we don't really need here. (For instance, the issues about using Tab in the GUI implies some work as a tab handler has to be implemented per window. This can for instance be moved to later.)

[2016-01-04 10:21] hwoarangmy commented on #849
Yes, I also had a quick look some weeks ago and it appeared to not be straight forward.

[2016-01-04 10:22] hwoarangmy commented on #849
@Danimal696 When you will have time, it would be nice to upload elf weapons so that we can add them in game.

[2016-01-04 10:31] Bertram25 commented on #675
From there:
http://cegui.org.uk/wiki/Changes_and_Porting_Tips_for_0.8.0

[2016-01-04 10:54] Danimal696 commented on #849
sure, will try today

[2016-01-04 10:55] Danimal696 commented on #1061
It really seemed like the bug came when the kobold put the body in the corresponding room (jail, cript), lets hope it wasnt that

[2016-01-04 12:53] hwoarangmy commented on #1061
yes, that's the problem I've fixed. The crash happened when the creature was released in the crypt.

[2016-01-05 20:25] hwoarangmy opened #1064 "Display a scene in the menus background instead of an image"
I'm almost done with this. The scene will be simple but it will be a good occasion to display @Danimal696 animations dancing ^^

[2016-01-05 20:30] akien-mga commented on #1064
Woooooot! :D

[2016-01-05 21:02] Danimal696 commented on #1064
Have any of you seen the game menus of Heroes 5? i love them and would like to try some of them:
https://www.youtube.com/watch?v=ZclSn5tYKDE

[2016-01-05 21:07] hwoarangmy commented on #1064
Well, once we have a scene, we can do what we want (or at least, whatour models can do ^^)

[2016-01-06 18:23] Bertram25 commented on #1064
Yeah, I love that scene, too. ;)

[2016-01-07 09:20] hwoarangmy opened #1067 "Trap balancing"
Recently, we balanced creatures so that, basically:
- each creature is specialized into 1 attack skill and better than another creature of its tier
- at level 10, a creature is more or less equivalent to its level 1 tier+1
- At level 1, a tier 1 can hurt (a little bit) a tier 4 creature

However, we din't balance traps at all. I'm not talking about how many damages each trap should do but a more g

[2016-01-07 09:27] akien-mga opened #1068 "Ideas for new traps"
While reading #1067, I've been thinking we might want to also discuss ideas for new traps that we would like to implement in future versions. Let's keep the other issue focused to balancing, and throw in ideas here (that might be related or not to the balancing mechanisms we discuss in the other thread).

The offensive traps we currently have:
- Cannon
- Spike
- Boulder

[2016-01-07 09:31] akien-mga commented on #1068
Now that we have more spells and creature skills, I've had the idea of a "mass silence" trap that would prevent any enemy creature from casting spells and/or using skills in a given area around the trap. It should likely be relatively limited in time, but could give a nice advantage in battle to the defending army.

Another simple idea could be an explosion trap that triggers an explosion spell in

[2016-01-07 09:35] akien-mga commented on #1068
When designing new traps, we should also keep in mind that traps almost always give an advantage to the defender in a dungeon aggression, as you can only build traps on claimed tiles, i.e. mostly in your own base. On the other hand adding more traps also means growing the skill tree, and forcing players to specialize themselves in only a subset of the available traps, so we can easily limit the ri

[2016-01-07 09:43] akien-mga commented on #1067
Balancing-wise, I think that moving/firing traps (boulder and especially cannon) should do less damage than static traps (spike), as they are likely to hit way more creatures/more times before they are destroyed.

Our 3 current traps are all kind of "physical" I guess, so I would expect them to damage more creatures with a low physical defence. We might then add a few new traps that do magical dam

[2016-01-07 20:38] Danimal696 commented on #1068
I had a few ideas, others we can "borrow" from DK:
Acid/Poison trap: it showers everything around (3-4 tiles) into a caustic/poisonous mist-> damage while the mist is active and creatures get poisoned/armor reduced after, i guess this could be split into two different traps.
Zapper: High magical damage at short range
Ice Totem: all surrounding creatures get slowed and Phys defense lowered (trap ca

[2016-01-07 21:24] #1020 closed, assigned to hwoarangmy

[2016-01-07 21:24] #1064 closed, assigned to hwoarangmy

[2016-01-07 21:29] Bertram25 commented on #1067
Would each trap be a creature, what tiers and levels would those be in your opinions?

[2016-01-07 21:32] Bertram25 commented on #1064
@hwoarangmy Ah, btw. Should we remove that image now?
https://github.com/OpenDungeons/OpenDungeons/blob/development/gui/ODMainMenuBackground.png

[2016-01-07 21:33] hwoarangmy commented on #1064
well, if you all agree on keeping the main screen like it is for now, yes

[2016-01-07 21:35] Bertram25 commented on #1064
I personally love it :) Even if I'm an old bear with many improvement ideas in mind. ;)

[2016-01-07 21:37] hwoarangmy commented on #1067
Well, we don't have much traps but I would say no tier 1 because of @akien-mga already said. IMHO, Cannon would be tier2, spike tier 3 and boulder tier 4.

[2016-01-07 21:39] hwoarangmy commented on #1064
No problem. It only was a first step to get a scene working ^^
Feel free to let the artist in you play with it. However, if we want a more complex scene, it might be a good idea to use some scripting (and an occasion to have a look at AS or lua or something else)

[2016-01-07 21:43] akien-mga commented on #1064
Since we closed this one as being the "make it possible to display a scene" issue, should we open a new one to discuss how to improve the scene and what we're aiming for? (for "Later" likely, though we can already start adding enhancements for 0.7.0).

[2016-01-07 21:46] hwoarangmy commented on #1064
ok

[2016-01-07 21:47] Bertram25 commented on #1064
yep :)

[2016-01-07 21:50] Bertram25 commented on #1067
Sounds fair. The skill tree might need tweaking, but I'm fine with this logic, combined with @akien-mga damage computation. The evil keeper in me loves that. :>

[2016-01-07 22:14] hwoarangmy opened #1070 "Some creatures are stuck when trying to find home but they cannot reach a dormitory"
Can be seen in test models fair

We probably do not check the tile is reachable before trying to go

[2016-01-07 22:24] akien-mga opened #1071 "Runelord dwarf holds shield in the wrong direction"
![lutris-weird1](https://cloud.githubusercontent.com/assets/4701338/12184467/b1d7baca-b595-11e5-9fb9-7cc0fef14b28.png)

[2016-01-07 22:50] hwoarangmy commented on #1071
i had never seen this one ^^
note that it may also be because it is in the wrong hand (right instead of left). Have you tried ?

[2016-01-07 23:09] Danimal696 commented on #1071
Its because its in the wrong hand, happened to me a few times when messing with creatures

[2016-01-08 08:49] hwoarangmy commented on #1060
Fixed by #1063

[2016-01-08 08:49] #1060 closed, assigned to hwoarangmy

[2016-01-08 08:49] hwoarangmy commented on #1059
Fixed by #1063

[2016-01-08 08:49] #1059 closed, assigned to hwoarangmy

[2016-01-08 11:08] Bertram25 commented on #1052
@Danimal696 @akien-mga @hwoarangmy  I'd like to tackle that one next to the map creation PR. I can easily replace the icon and the demonic part of the logo. But what about the other letters?
WDYT about keeping the same style and adding some painterly effect on them?
(I know it's difficult to imagine like that, I'll upload something once I'm more or less happy about it.)

[2016-01-08 12:44] hwoarangmy commented on #1052
I would see it depends on what you can achieve ;-)

[2016-01-08 12:51] Danimal696 commented on #1052
Ok, ill wait to see it as well if its a good effect, otherwise no problem

[2016-01-09 10:29] #981 closed, assigned to Danimal696

[2016-01-09 13:28] hwoarangmy opened #1073 "General creatures issue"
This issue is for listing the creatures per faction and discuss which ones should be replaced when we have new models. I will list the ones we currently use per tier. I will try to update this thread when new creatures are integrated.

The order from left to right corresponds to "better than". Because of the triangle, the creature on the right is better than the creature on the left.
I will also a

[2016-01-09 13:29] hwoarangmy commented on #1073
IMHO, some of them could be considered as final: Goblin, LizardMan, Orc, Kreatur, Knight, Wizard.
Actually, I'm surprized Goblin is not considered final. @Danimal696 could you please confirm the list of final creatures in your mind ?
Considering dwarves, I would say they are ok and not the most in need of love.

I have integrated a new creature "Rat" in my last PR and I propose to replace the wyve

[2016-01-09 13:44] Bertram25 opened #1074 "Main scene "easy" improvements?"
Hey guys, I'm opening this issue because atm the main screen scene displays monsters aligned orthognally (AFAIK).

Let's take this example:
http://pre02.deviantart.net/b8aa/th/pre/f/2014/364/9/e/lara_croft_and_the_temple_of_osiris___wallpaper_by_allenrgamer-d8bxj2r.png

If you look at this image, you can see the view is slightly placed down to the characters, turn slightly up and left, ad tilted t

[2016-01-09 14:04] Bertram25 commented on #1073
Perfect, thanks.

Could it be possible to also update the wiki page there: https://github.com/OpenDungeons/OpenDungeons/wiki/Creatures
With the corresponding image next to the creature status, it's easier to discuss, at least to me.

Btw, I suppose you forgot about workers, kobold, dwarf, the robot (is it still there?), the Elf, the Lich and skeleton. (We should list them all even if they are not

[2016-01-09 16:31] hwoarangmy commented on #1073
Yes, I was talking about spawnable units only. But you are right, now that we are there, we should list them all

Last excuse for @Danimal696 to not replace the kobold was to be in the montain. Ridiculous, isn't it ?

I'm okay with it. Same kind of impression as the dwarf for me.

Well, I guess we all agree but finding good models is not that easy ;-)
Let's not whip @Danimal696 for this (unless yo

[2016-01-09 20:40] Bertram25 commented on #1073
Arf, just let me kindle the fire in the torture room again...

Owww, ok. (/me stops the fire just started in the torture room.)
More serioulsly, sure, no pressure as I know it's a lot of work. Just that if we do replacement, let's aim for something really inline with that as much as possible. :)

[2016-01-09 20:58] Danimal696 commented on #1073
Im starting my own dungeon, but thats a secret, okay? ;) i got some lost climbers chained and digging in there for the time being...

Goblin is already final, for lizardman i only plan a skin and animation redo, orc needs new model as mostly all heroes creatures...

Lets keep them as mobs even if they are not used as creatures in the future, finding nice monster is pretty hard, and its even worse

[2016-01-09 21:00] Danimal696 commented on #1074
when will you post a screen of what you are secretly cooking?

[2016-01-09 23:34] akien-mga commented on #1074
![screen1](https://cloud.githubusercontent.com/assets/4701338/12219031/d6838bb8-b731-11e5-8551-79c16237df56.jpg)
;)

[2016-01-10 01:28] Danimal696 commented on #1074
I need to upload the hair fix for elf later; thats some interesting scene start :)

[2016-01-10 10:21] Bertram25 commented on #1073
Good point. It's true we can keep spare creatures model as rogue ones for more variety. The tentacle as a standard mob is fine to me. :)

@hwoarangmy Let's also add the rogue creatures in our creature catalog if it's ok for you. :)

[2016-01-10 10:24] akien-mga commented on #1073
I also thought about growing a pool of "unique" rogue creatures (i.e. creatures which do not belong to the other factions) so that we can add more diversity to the levels. So we should not be too eager to drop a creature as soon as we introduce a new one IMO, unless it's clear to everyone that the old creature really isn't cool enough :)

But that's exactly the purpose of this topic, so thanks for

[2016-01-10 12:07] Danimal696 commented on #1054
Closed with #1065

[2016-01-10 12:07] #1054 closed, assigned to nobody

[2016-01-10 13:15] Danimal696 commented on #1074
I wonder why the elf skin looks that bad, its a really nice texture, i think the problem is in the materials, doesnt it look a bit emissive?

[2016-01-10 21:46] hwoarangmy commented on #1073
I've added the creatures we talked about. I've removed the temporary for lizardman as temporary creatures are creatures to be replaced.
I've also tagged the lich as temporary because it is not the best model we have but it is acceptable IMHO.

I've also moved the wyvern to rogue as it is replaced by the rat in the spawnable list

[2016-01-10 23:00] Danimal696 commented on #1073
who is gonna research now?

[2016-01-10 23:06] hwoarangmy commented on #1073
well, ATM, it is the rat :-(
It has the same stats as the wyvern. Later, I guess we could use the lizardman as a level 2 creature if we find something bigger (and more evil) for a tier 3

[2016-01-10 23:10] hwoarangmy commented on #1073
@Danimal696 I've just thought that I didn't use the Elf/DarkElf yet while they are integrated. I could also replace lizardman/knight as tier3 creatures by the Elves.
Lizardman would become tier 2 reasearcher instead of the rat.
And rat could replace tier 1 gnome for the hero faction/
WDYT ?

[2016-01-10 23:23] akien-mga commented on #1073
I wouldn't put the rat in the hero faction, if he doesn't fit for the keeper IMO it would be a nice rogue creature (nobody likes rats after all).

[2016-01-10 23:38] hwoarangmy commented on #1073
IMHO, we should try to have "final" creatures for factions as soon as possible. If all our models were good enough, I wouldn't say the same but using a model of such quality for rogue creatures seems a waste for me and it is one less model for @Danimal696 to do.

what about moving slime to hero side (instead of gnome) and rat as tier 1 for keeper ?

[2016-01-11 06:25] Danimal696 commented on #1073
slimes are not that heroic, but since all is just temporary i think its fine; when someday we fill more creatures we will decide on a final setup

[2016-01-11 10:03] hwoarangmy commented on #1073
ok. Then, I propose:
Keeper side:
Tier1: Spider, CaveHornet, Rat
Tier2: LizardMan, Roach, Goblin
Tier3: DarkElf, Kreatur (T), Orc (T)
Tier4: Dragon (T), Troll, PitDemon (T)

Hero side:
Tier1: CaveHornet, Slime, Dwarf1 (T)
Tier2: Adventurer, Knight (T), Dwarf2 (T)
Tier3: Elf, RunelordDwarf, Wizard (T)
Tier4: NatureMonster, Defender, Scarab

Tentacle and gnome becoming rogue

I will update my PR if

[2016-01-11 12:09] Bertram25 commented on #1073
Fine as for me.

I would set Slime and CaveHornet as temprorary for Heroes for now, I would replace them for more typical heroic creatures asap. Overall, I'd propose this:

Hero side:
Tier1: Adventurer, Slime (T), Dwarf1 (T)
Tier2: _HeroicAnimal2_ TBD, Knight (T), Dwarf2 (T)
Tier3: Elf, RunelordDwarf, Wizard (T)
Tier4: NatureMonster, Defender, Scarab

[2016-01-11 13:04] hwoarangmy commented on #1073
@Bertram25 Note that the (T) tag do not mean temporary in team but temporary model (the model is to be replaced).
Concerning hero faction, it has been built with the available creatures and I guess we all agree that many do not look "heroic" enough. However, until we have better models, let's keep them for having more variety ^^

[2016-01-11 13:13] akien-mga commented on #1073
Should we maybe distinguish between a long-term plan (what we'd like the factions to be like for 1.0, based on both current models and models that we would like to import) and a short-term plan (what we want to use for 0.7 and maybe 0.8)? The short-term plan would evolve little by little to try to reach the long-term one :)

[2016-01-11 13:15] Danimal696 opened #1076 "Copyright issues?"
After looking at this, im left wondering if its usable at all:
Model:
https://sketchfab.com/models/f87f491c5c7b4160bf925f2466f2c8c6

Model its based off:
http://2.bp.blogspot.com/-lVmQsUzgO-c/VQCkrAr0BKI/AAAAAAAAlk8/FZdGHkPbuak/s1600/basepanthcompare.jpg

If not because the author says its a reimagination/inspired fanart off from a LOL character there is nothing that links to it except being a guy

[2016-01-11 13:17] hwoarangmy commented on #1073
I'm not sure we can really go for long term plans because AFAIK, our model choice is driven by the models we can find. If we find something nice for keeper, we try to remove another one that could fit in hero side and vice versa

[2016-01-11 13:22] akien-mga commented on #1073
But that's precisely what I think we should try not to do, if we swap creatures from one faction to the other each time we introduce a new model, we'll have a hard time defining factions which are really distinct from each other. IMO we need to really accentuate the evil part of the keeper and the "heroic fairy tale nice guys" part of the heroes. That's why I think we need a long term plan to have

[2016-01-11 13:23] hwoarangmy opened #1077 "Merge material files for Elf/DarkElf into 1 material file"
Following #1075 conversation

[2016-01-11 13:26] hwoarangmy commented on #1073
Then, you are looking for a very looonng term plan ;-)
Unless you whip @Danimal696 enough ^^

[2016-01-11 13:29] akien-mga commented on #1076
That's a good question... It was apparently made for a LOL fanart contest, so there's definitely a link.
It does not seem to reuse or try to imitate too much the textures of Pantheon in LOL, and I'm not sure to which extent Riot Games can say that this "character" is copyrighted.

What makes it probably LOL-specific compared to a normal warrior of Ancient Greece is the ridiculous idea to go around

[2016-01-11 13:33] akien-mga commented on #1073
Well yes, for the long term plan, I mean long. As in, we take a look at each creature that we currently have, and we try to think realistically: where does it fit? Which factions (keeper, hero, rogue - the latter would likely also include "special" creatures that are not spawnable but used in some campaigns for example), what kind of characters, and what tier.

This long term plan would have its o

[2016-01-11 13:36] hwoarangmy commented on #1073
Yes. I was going to say the same ^^

[2016-01-11 13:37] hwoarangmy commented on #1071
FYI, I've tried and confirm it is because the wrong hand is used. I can't remember which one is used ATM, but if you change to the other, it works well.

I will fix the level

[2016-01-11 13:41] Danimal696 commented on #1076
can they claim ownership over the author just by entering the contest?

[2016-01-11 13:44] akien-mga commented on #1076
Probably not, but in the area of works "inspired by" a copyrighted work, the rugulations are quite unknown to me. If the model was a clear reference to a jedi with slightly different shape for the lightsaber and robe, I'm not sure it would prevent the author from being annoyed by Disney :)

[2016-01-11 13:49] akien-mga commented on #1076
In the end it's the question of whether this was "fair use" of the copyrighted material as inspiration, or a copyright infringement: http://www.howdesign.com/featured/graphic-design-copyright-laws-inspiration-vs-infringement/
As those concepts vary a lot depending on the country, I'd say we better avoid such things if we're not sure ourselves. Also an Ancient Greek character does not really fit ou

[2016-01-11 14:04] Danimal696 commented on #1076
Sadly, this other one is under the same circunstances:
https://sketchfab.com/models/95233e2a8c0e4fe891301b9d673dadc3

[2016-01-11 17:41] Danimal696 commented on #1077
I wont take this one, i dont have any idea of how merge those materials into 1

[2016-01-11 19:08] hwoarangmy commented on #1077
ok. I will do it if you want. It is just copy/paste the file content of all material files into 1.

[2016-01-11 20:38] Bertram25 commented on #1076
The actual question is: Will it be difficult to prove it is closed-source work, or will it be difficult to prove it is not?
In the latter case, we are to get rid of the model as soon as possible. As we are a spare-time project with no lawyer at hand, we should avoid such problematic items as soon as we know about them. (The usual patent dilemma).
And it's not an example of "fair use", IMHO. AFAIK

[2016-01-11 22:44] #1070 closed, assigned to hwoarangmy

[2016-01-11 22:44] #1071 closed, assigned to hwoarangmy

[2016-01-11 23:47] Bertram25 commented on #1052
I tried something but it went bad in the end:
![odlogo](https://cloud.githubusercontent.com/assets/765917/12250233/b8a81eac-b8c5-11e5-9a42-e9f2bfebbc86.png)
I'll have a new go at editing the letters to make their borders feel like the logo but you have material to laugh at me now. ;) The only thing I'm fine with, is to make the 'n' partially above the logo.
Feel free to comment in any case.

[2016-01-12 03:09] MCMic commented on #1052
Feels hard to read. Unless you know it, you won’t read «Dungeons» the first time, having a round thing for a D is counter-intuitive.

[2016-01-12 08:00] alketii commented on #1052
It looks good but it might be controversial.

[2016-01-12 08:11] Bertram25 commented on #1052
Yeah, I feel the same. I don't have an actual solution to this yet.

In what way?

[2016-01-12 08:27] alketii commented on #1052
@Bertram25 when I think about it now, it looks like I didn't think it through xD (didn't have the morning coffee:P)
But overall I think logo should be improved a bit, to have more "solid" colors, instead of looking like a painting.

[2016-01-12 09:33] Bertram25 commented on #1052
Ah well, the essence of the "new" logo was to look like being painted. I'm also sure the artist started from something more "solid" and applied painting effects on it.

I could replace the "O", but then we would have the "old" D still visible. I could also replace the whole writing, but I need to find a decent replacement.

[2016-01-12 14:08] eugeneloza opened #1079 "Freeze at skrimish startup"
Hi all! I'm back :)
I've tried to run latest two releases, but both freeze at skrimish map startup (select map- select players-push button-button rolls back-freeze). No errors risen. Zone Alarm warning sucessfully dismissed.
log:
[Ogre.log.zip](https://github.com/OpenDungeons/OpenDungeons/files/87388/Ogre.log.zip)
The OD binary loads a single core at ~100% and just does nothing.
![untitled](https:

[2016-01-12 18:50] hwoarangmy commented on #1052
Well, first time I saw the logo, I didn't even see the O ^^
I guess it might be good to try to have have the logo on the left with:
pen
ungeons

[2016-01-12 19:40] hwoarangmy commented on #1079
Hi. Nice to see you back ^^

Could you please post your opendungeons.log ? It should be somewhere around:
C:\Users\eugeneloza\AppData\Roaming\opendungeons

Moreover, if you have no crash, I would guess at some firewall blocking the port opendungeons uses. Did you install zonealarm after trying previous releases ? Have you installed another firewall ?
Could you please try to start the game after di

[2016-01-13 09:52] hwoarangmy commented on #1022
Fixed in #1072

[2016-01-13 09:52] #1022 closed, assigned to hwoarangmy

[2016-01-13 09:59] hwoarangmy opened #1081 "Long term creature issue"
As requested by @akien-mga in #1073, this issue is for defining which creatures we want to aim for in the 1.0. It will also allow to define more interactions between creatures (like spiders and cavehornets).

The order from left to right corresponds to "better than". Because of the triangle, the creature on the right is better than the creature on the left.
Every spawnable creature is specialized

[2016-01-13 10:22] Bertram25 commented on #1081
ok for me :)

[2016-01-13 10:23] #1077 closed, assigned to hwoarangmy

[2016-01-13 17:10] Danimal696 commented on #1079
Wassup Eugeneloza :) , long time no see

[2016-01-13 20:11] Danimal696 commented on #1081
No good, i wont tolerate a rebellion under my nose `-´
Units for hero side not mentioned there, but that should be:
Paladin, cleric, fairy, barbarian

[2016-01-13 21:53] Bertram25 commented on #1081
What tier?

[2016-01-13 22:32] Danimal696 commented on #1081
Fairy 1 or 2, cleric and barbarian 2 and paladin 3

[2016-01-14 08:43] hwoarangmy commented on #1081
Note that the goal of this issue is also to determine the relations between creatures: who (dis)likes who, who has special abilities (for example funny prefered room)...
So if you have ideas, do not hesitate to share ^^

[2016-01-14 08:57] hwoarangmy opened #1082 "Creature rat definition is cut"
Seems like I messed something and the rat definition misses its definition

[2016-01-14 09:15] hwoarangmy commented on #1081
I have added creatures specialities in the main description

[2016-01-14 10:57] eugeneloza commented on #1079
@Danimal696, I'm back from winter children camp. We've had a wonderful time in Carpathian mountains :)

@hwoarangmy, Oh... there it is... I was searching in ProgramData\AppData... And that damn new Win7 search skips system folders... I should always remember to use TC or something like that instead.

[od.zip](https://github.com/OpenDungeons/OpenDungeons/files/90276/od.zip)

[2016-01-14 13:01] Danimal696 commented on #1081
I guess we could add a few off the triangle creatures?, same tier as the others but with mixed strengths ( medium physical and magical, zero elemental abilities) like the paladin. Just an idea to lessen the triangle effect and add more varity on tiers.

By the way, i love the rat creature :D

[2016-01-14 13:23] hwoarangmy commented on #1081
The only problem is about balancing. But if you feel like changing stats, do not hesitate. If we want to go the easy way, we can also keep the triangle for spawnable creatures and give other stats to the special/rogues. Note that I've not leveled the skeleton/lich. There stats are the same as it used to be.

Creatures from the world of keldar are really nice. If you feel like it, there is also a d

[2016-01-14 14:36] Danimal696 commented on #1081
the deer is stretching it too much...

[2016-01-16 09:48] hwoarangmy commented on #1079
@eugeneloza I've had a look at your logs but I could see no error. Communications between the server and the client sem ok. However, you have launched the legacy test map which is pretty long to load. Are you sure you have waited long enough ?

Could you please try to load another level and check if it can be loaded ?

If you really have issues loading maps, I will build a version with more logs.

[2016-01-16 10:32] hwoarangmy commented on #1074
It would also be good to use a config file to define the scene. That would allow the artists to easily test a new model with its animation without having to launch a game and wait for the wanted creature to spawn ^^

[2016-01-16 12:11] eugeneloza commented on #1079
I've tried 'Failing keeper' and legacy test map (maybe, two of them) - I've included a few logs in the archive for different maps and versions.
I've forgotten to specify: I've reinstalled Win7-64 before the New Year (my sound recording started glitching) and it may have stopped working because of 'all new environment'. While I've kept all the programs the same, their 'story' (maybe, some settings)

[2016-01-16 18:03] hwoarangmy commented on #1079
In this case, I would guess at a utf8 problem. Are you using some non standard characters in your user name ?
IIRC, you already had errors due to that in your previous environment. Could you try after setting appdata ? Something like:
OpenDungeons.exe --appData c:\temp\od

[2016-01-16 22:05] Danimal696 opened #1083 "We need a researcher creature for keepers"

[2016-01-17 23:37] johndh opened #1084 "Segmentation fault in MovableGameEntity::clearDestinations"
http://pastebin.com/22dwPMUK

64-bit Linux, current git version

Last few lines:

[code]

[2016-01-18 06:00] akien-mga commented on #1084
Thanks for the report. Looking at the log, the actual relevant part seems to be more:

[code]

[2016-01-18 09:07] eugeneloza commented on #1079
No, Win7 is English, everything possible is also English. (good habit from MSDOS :D)
Username is User :)
No non-english characters in path. No spaces if I'm not mistaking (however, something like "Application Data" might contain spaces).
OD is at V: root subfolder (named by the downloaded archive name).
Everything is exactly as it was in previous installation.
I should try it at some PC at work...

[2016-01-18 14:04] hwoarangmy commented on #1084
Thanks for the report. Could you please upload the full log ? In the part you uploaded, we cannot see which creatures are currently using the room.

[2016-01-18 14:05] hwoarangmy commented on #1083
Don't you like the lizardman ? Have you got something in mind ?

[2016-01-18 16:09] Danimal696 commented on #1083
Yes ;)

[2016-01-18 19:44] hwoarangmy commented on #1083
Looks like a teasing issue ^^

[2016-01-18 20:35] Danimal696 commented on #1083
totally, besides a wand, what would be a good weapon for an evil mage?

[2016-01-18 20:40] akien-mga commented on #1083
A crooky staff, but that would likely be in replacement of the wand, so if you already have the latter it's not a good fit :)
A kris maybe? https://en.wikipedia.org/wiki/Kris

[2016-01-18 21:08] Danimal696 commented on #1083
DEAL!! creepy sacrificial knifes for him from here on.

[2016-01-18 23:40] johndh commented on #1084
Sure thing!

[opendungeons.log (copy).1.txt](https://github.com/OpenDungeons/OpenDungeons/files/95132/opendungeons.log.copy.1.txt)

[2016-01-19 06:05] akien-mga commented on #1084
Wow, how did you manage to embed a text file in GH? Did they finally alllow this most basic feature after their nonsensical support for MS Office documents? :D

[2016-01-19 08:50] hwoarangmy commented on #1084
Magicians never give their tricks...

[2016-01-19 09:04] akien-mga commented on #1084
It does work :-O [test.txt](https://github.com/OpenDungeons/OpenDungeons/files/95584/test.txt)
At last! :D

And there's support for zip files too: [test.zip](https://github.com/OpenDungeons/OpenDungeons/files/95588/test.zip)

Ok I'm done hijacking this issue, sorry :D

[2016-01-19 20:16] hwoarangmy commented on #1084
Note that this issue can be easily reproduced:
- drop 3 creatures in the training room
- while creatures are training, add a tile to the training room to absorb it
- slap to death the creatures training
- wait until they disapear
- add a new tile again to the training room

=> The game should crash

[2016-01-19 21:16] #1082 closed, assigned to hwoarangmy

[2016-01-19 21:16] #1084 closed, assigned to hwoarangmy

[2016-01-20 10:25] hwoarangmy commented on #849
@OpenDungeons/developers IMHO, we have enough stuff for a new version. I propose to start focusing on the 0.7.0 ie not working on code breaking features, planning a lan and focus on bugs fixes.

WDYT ?

[2016-01-20 10:34] akien-mga commented on #849
I agree, there has been a ton of work done for 0.7.0 (98% by @hwoarangmy :P), we should try to make the new release. I'd propose a multiplayer game this week-end if you guys are available. Next week-end I'll be at FOSDEM so probably won't be much available (are any of you coming to FOSDEM by any chance? :D)

[2016-01-20 11:01] Bertram25 commented on #849
Arg, I wish I could come to FOSDEM. :)

I don't think I will be available this week-end as I'm working all the week-end on something else (and I'm already ill, so, need some sleep.)
But apart from that, I agree we can release and remove from the milestone everything that is a design-breaking feature.

[2016-01-20 11:16] Bertram25 commented on #1034
Maybe we should also have Ogre 1.10 as a submodule or something?

[2016-01-20 11:16] Bertram25 commented on #1052
Ah, forgot to answer, but yes, your idea looks good. :) I'll give it a try.

[2016-01-20 11:17] Bertram25 commented on #849
Btw, by looking at the official list, we have a lot of bugfix pending, right?
I would move those ones to 0.8.0:
#22 (New level support) - As it is half-done and I will finish it little by little.
#557 (Forge) - Clearly game breaking feature.
#901 (New sound events) - To 0.8.0 as it really improves the game feel.
#910 (Configurable input) - As it makes the game not functional for some players. But

[2016-01-20 11:23] akien-mga commented on #1052
I think it will be even harder to read :/ If it's not readable in Open<logo>ungeons, it won't be readable in the above proposal either. The D is only readable when you know it's there IMO :)
If we really want to use the logo in the name, we could simply go with <logo>penDungeons IMO.

[2016-01-20 11:27] akien-mga commented on #1034
I think that as long as we aren't explicitly using Ogre 1.10 features or we know that it fixes bugs we are having, it's better to stay with the latest stable. It could be that Ogre 1.10 ends up never to be released once too much work has been put in 2.0 and 2.1 and "whatever comes next and has no stable release yet", if Ogre developers finally have no interest in releasing a new version in 1.x.

B

[2016-01-20 12:28] Bertram25 commented on #1034
sounds fair to me. :)

[2016-01-20 12:29] Bertram25 commented on #1052
Hmm, ok, I'll try replacing only the O, and see how I can deal with the D.

[2016-01-20 16:56] hwoarangmy commented on #1052
Not stupid ^^

[2016-01-20 16:59] hwoarangmy commented on #1034
Well, Ogre 1.10 do not exists, it is the dev branch. That means that if all of us try it, we will have different versions (and possibly different bugs). I wouldn't be against using a non stable version but IMHO, we need at least something that doesn't change (ie a RC or a beta version). Too bad they don't do that from time to time (creating a tag for pre releases).

[2016-01-25 17:08] Danimal696 commented on #1083
Meet the "Custist" AKA Dark Priest from ancient beast, who sports an unhealthy passion for sacrificies, praying in hidden dark temples and researching forgotten rituals; keep away all your virgins from him, you have been warned.

And so this bad boy is mostly ready, only rigging and animating left:
![wip](https://cloud.githubusercontent.com/assets/8299756/12558029/e22c2368-c38d-11e5-92fe-de4f74941

[2016-01-25 17:33] Danimal696 commented on #1083
I think this creature to be an exception to the tiers, he will be a tier1 who can grow to be a match to any tier, at first he will be pretty weak, only a range 1 physical attack at lv1, but once he start learning magic skills he will became your artillery of choosing. His stats could go like this:

Class: Cultist => Cristal Cannon
Hp: low
Def: low to phys, med to ele, high to magic
Speed: low
Skil

[2016-01-25 17:37] Bertram25 commented on #1083
I love the monster and the concept. You have something interesting here.
What I like is that you have some kind of monster you try to protect from harm, which adds some spice to the game. On the other hand, this will turn it into some kind of "mascot", which is a good and bad thing as it is already the mascot of Ancient Beast.
But well, why not? I'd say let's try.

[2016-01-25 17:40] Danimal696 commented on #1083
Sadly AB is frozen, but its monsters are amazing, i will be using more of them in the future. The wivern and many others are really good and have all the character ours currently lacks.

[2016-01-25 17:42] Bertram25 commented on #1083
Well, if Ancient Beast is frozen, I hope they don't mind if we reuse their creatures (with due credits & licensing)

[2016-01-25 17:44] akien-mga commented on #1083
I'd say we shouldn't refrain from using Ancient Beast art for now. If they do happen to resurrect and it appears annoying to have the same art in both games, we'll give them the priority and try to find replacements ;)

[2016-01-25 17:44] Danimal696 commented on #1083
all of them are cc-by-sa and Dread knigth is friendly enought to have already allowed it :), hes even happy of someone finishing them since he wants to turn 3d some day. And we can throw jokes like the cultist claiming he has his own game and he is some kind of pokemons trainer

[2016-01-25 17:57] Bertram25 commented on #1083
Even cooler then. :)

[2016-01-25 23:27] hwoarangmy commented on #1083
Indeed, it fits well for a research creature ^^

[2016-01-26 08:36] eugeneloza commented on #1079
I've tried the new version with the same result... Game menu animation plays well, but skrimish won't start. I've also tried different run modes, including run as administrator, compatibility with WinXP...Win7 modes, etc. Still no result.
Strange, but... no music. Maybe there is some problem with music/sound output?
New logs attached.
Plus, maybe, I should try an older version to see if that one'l

[2016-01-26 09:24] hwoarangmy commented on #1079
I will try to build you a version with much more logs to see where it freezes asap

[2016-01-26 09:59] Bertram25 commented on #1079
Yeah, this would definitely help. Thanks!

[2016-01-26 21:10] hwoarangmy commented on #1079
@eugeneloza I've uploaded new binaries:
http://download.tuxfamily.org/opendungeons/WIP/OpenDungeons-git20160124-Win32-MSVS2013.zip

Could you launch it with:
OpenDungeons.exe --loglevel 0
=> That will enable more logs. Could you please post the log file ?

[2016-01-26 21:55] #1074 closed, assigned to hwoarangmy

[2016-01-26 22:43] Bertram25 commented on #849
@Danimal696 @akien-mga @hwoarangmy WDYT about my proposal?

[2016-01-26 22:47] akien-mga commented on #849
The proposal looks quite fine to me :)

[2016-01-27 08:13] eugeneloza commented on #1079
Well... DON'T ASK ME WHY I DID THAT! I have absolutely no idea. Just some programmer's intuition...
I've replaced the following DLLs from Castle Game Engine in the game folder (OGRE's DLLs) and everything started working.
[dlls.zip](https://github.com/OpenDungeons/OpenDungeons/files/106219/dlls.zip)
Maybe some AL bug... or something.

[2016-01-27 08:22] eugeneloza commented on #1079
Now... let's just put everything in order.
1. I've downloaded 0.6.0 release yesterday and got the following error:
![160127_ogre_error](https://cloud.githubusercontent.com/assets/10726162/12607594/d9be9ef2-c4de-11e5-9f98-01ae66006070.jpg)
By trial-and-error I've understood that this one appeared due to my previous 'playing' with game configuration. None of the installed versions ever worked since

[2016-01-27 10:14] Danimal696 commented on #849
i think its fine, however, i have a question. I could add in a cople of days a lot of good ambience songs; but they will need treatment, would you be willing of doing it? as an aftereffect it would also increase the game size.

[2016-01-27 10:52] hwoarangmy commented on #849
Which treatments ?

[2016-01-27 10:56] hwoarangmy commented on #1079
Interesting. We are supposed to embed the openal dll shipped with SFML. I may have something in my environment making it choose some other library (I've already seen I have more than 1 in my computer). I will have a look tonight and build a new snapshot if the one embedded is not the SFML one.

[2016-01-27 12:09] Danimal696 commented on #849
didnt you normalize all sounds and lowered their bitrate(i think it was that)

[2016-01-27 12:51] hwoarangmy commented on #849
I didn't. Maybe @Bertram25 or @eugeneloza

[2016-01-27 12:52] eugeneloza commented on #849
Rready to encode/recode anything :)

[2016-01-27 13:08] Danimal696 commented on #849
Nice, ill get to upload soon :)

[2016-01-27 13:37] eugeneloza opened #1088 "Lizardman loves lava???"
(just a note)
The a few days ago downloaded snapshot shows Lizardman has 1.08 speed over lava. This sounds not very logical... :) Flying creatures - yes, maybe some fire-driven creatures... but walking lizardman...
![lizardman_lava](https://cloud.githubusercontent.com/assets/10726162/12614984/af63e022-c50b-11e5-8af2-b23853fc608b.jpg)

[2016-01-27 13:38] akien-mga commented on #1088
I guess we forgot to adapt the stats of the lizardman when we made him replace the flying wyvern XD

[2016-01-27 20:56] hwoarangmy commented on #1079
@eugeneloza As we had guessed, there was a problem with my cmake file. For some reason, it had detected the openal dll on my computer (shipped with windows) rather than the one from sfml. I've fixed it and it should use the good one for next releases. I've uploaded binaries (same sources) but the openal is the correct one (at least the expected one):
http://download.tuxfamily.org/opendungeons/WIP/

[2016-01-28 00:12] hwoarangmy commented on #849
@Bertram25 ok for me

[2016-01-28 08:00] eugeneloza commented on #1079
Downloaded. I'll test it asap.

[2016-01-29 07:46] eugeneloza commented on #1079
Works flawlessly :D
Issue solved. Closing.

[2016-01-29 07:46] #1079 closed, assigned to nobody

[2016-01-29 07:50] eugeneloza opened #1089 "Strange cursor remains..."
![160129_cursor](https://cloud.githubusercontent.com/assets/10726162/12670010/817544d6-c66d-11e5-84c5-f058ce0c372e.jpg)
Today after testing OD for a few minutes I've experienced a strange cursor (afair after a left/right/middle click on a creature). A circle appeared where I've clicked and remained in the same position in the viewport.

[2016-01-29 08:13] akien-mga commented on #1089
Yep, that's the Mysterious CEGUI Artefact(tm) ;)

Duplicate of #752.

[2016-01-29 08:13] #1089 closed, assigned to nobody

[2016-01-29 08:15] akien-mga commented on #752
What about disabling tooltips completely on focus loss? As far as I know this artefact only shows up when playing in windowed mode and after having done something else than playing OD (maybe it's the dungeon keeper punishing non-focused players :P).

[2016-01-31 21:26] Bertram25 commented on #752
That's an idea. :) I'll check both OD and Cegui code about this.

[2016-01-31 21:27] Bertram25 commented on #849
Hi guys, I've updated respective issues. :)

[2016-02-08 07:42] akien-mga commented on #1076
So I think the conclusion is: stay clear :)

[2016-02-08 07:44] akien-mga commented on #849
Hi guys, sorry for the low activity from my side, I've been quite busy with the FOSDEM and working on Godot engine (currently moving the whole wiki documentation to readthedocs.org / Sphinx, it's quite some work :D).

I'll go through the 0.7.0 issues soon too to see how we can move on. Should we plan a game sometime soon? I won't be available next week-end, but until Thursday evening this week or

[2016-02-08 08:36] akien-mga commented on #1040
Should we add this one-day timeout for the 0.7.0 release?

[2016-02-08 08:38] akien-mga commented on #1034
The second segfault mentioned was fixed in #1036, and the first one might have been the same issue but with a poorer stacktrace, so I'll close this issue. We'll open a new one if we get further segfaults.

[2016-02-08 08:38] #1034 closed, assigned to nobody

[2016-02-08 08:40] akien-mga commented on #1032
I'll try to handle this one asap.

[2016-02-08 08:41] akien-mga commented on #978
Bump, I guess if this issue is still valid it should be relatively easy to fix.

[2016-02-08 08:44] akien-mga commented on #974
By "jumpy" you mean that they display e.g.: 5.0 / 4.6 / 4.2 / 3.8 / etc., instead of 5.0 / 4.9 / 4.8 / 4.7 / etc.?

[2016-02-08 08:45] akien-mga commented on #963
It would be evil to keep them locked in! >-)

[2016-02-08 08:47] akien-mga commented on #929
Bridges are implemented now, do you want to have a go at improving Stonekeep Siege @Danimal696?

[2016-02-08 08:48] akien-mga commented on #921
@Wout-van-Dongen Ping :)

[2016-02-08 08:57] akien-mga commented on #849
@OpenDungeons/developers I've updated the first comment with a couple more issues currently assigned to the 0.7.0 milestone. We're almost there, and there are bits and pieces to work on for everyone :)

[2016-02-08 10:01] akien-mga commented on #990
Finally done: https://github.com/OpenDungeons/OpenDungeons/wiki/Making-wave-portals :)

@hwoarangmy @Bertram25 While documenting this, I wondered if we should not move the `TurnsBetweenWaves` global parameter within each `[Wave]` definition? This way modders could define a portal that e.g. spawns weak waves quite often during the first 1000 turns, and then switches to another mode with low frequen

[2016-02-08 10:01] #990 closed, assigned to akien-mga

[2016-02-08 10:40] Danimal696 commented on #1076
Pity, such good models.

[2016-02-08 11:06] Danimal696 commented on #929
Yes, i think of doing a total rework of it

[2016-02-08 11:11] Danimal696 commented on #974
Yes

[2016-02-09 17:56] Danimal696 opened #1091 "Waves portal and max number of creatures?"
I have a ton of rogues in the map (white team), but i also want to spawn waves in a rogue base;
What are my options?
- lower feral creatures count? i refuse!
- Spawing them as an allied team of the rogues? how to do it?

[2016-02-09 17:57] Danimal696 opened #1092 "Editor opens all closed doors from the level at load"
it saves their state fine, but cant load it properly

[2016-02-09 19:12] akien-mga commented on #1091
What's the problem with just adding those waves to the existing rogue seat?

But if you want to make them for a distinct seat but allied of the rogues, you just need to add a second rogue team, make it ally with the first, and spawn waves for this new team.

See https://github.com/OpenDungeons/OpenDungeons/wiki/Making-wave-portals on how to attribute waves to a given team ;)

[2016-02-09 19:46] #1088 closed, assigned to akien-mga

[2016-02-09 19:53] hwoarangmy commented on #974
ok. I had not undestood what you meant. I was planning on doing it so let's go ^^

[2016-02-10 12:33] Danimal696 commented on #1091
If i erase all rogues creatures waves start spawning, so its a matter of max numbers. ill need to use the second option

[2016-02-10 12:45] akien-mga commented on #1091
Oh right rogue seats would also be affected by the creature limitation indeed.

[2016-02-10 16:17] hwoarangmy commented on #1091
IIUC, you reached the creature limit number ? ATM, it is defined in the global.cfg file and set to 30 (item MaxCreaturesPerSeatAbsolute).

As you stated, you have 2 options: increase the number of creatures per seat (this will only delay the problem) or use a seat allied to the creatures feral in the map. However, if you spawn creatures with seat != 0, they will be affected by mood and will become

[2016-02-10 17:08] Danimal696 commented on #1091
As long as they dont figth the original rogues im good. Wasnt that value in level file before? i dont think the migration to global was a good idea, is there no way to override it into the level file?

[2016-02-10 18:01] hwoarangmy commented on #1091
Well, they will fight original rogues as rogue team is not allowed for seats. AFAIK, the max number of creatures was hardcoded in portals before portal waves. But since portal waves, we moved it to global.

Note that the max number of creatures per seat is there for hardware limitation purposes and should not be changed per level (that's why it is global). However, if you find the value too low, y

[2016-02-12 18:11] hwoarangmy commented on #1092
IIRC,doors are losed during the upkeep and there is no upkeep in editor mode. MHO, we should think about that when thinking about the UI to choose if opened/closed.

[2016-02-13 13:36] Bertram25 commented on #990
Hey :) Here I must say I don't know what's best. Is it simple enough to adapt the logic for this? (Probably, it is) or is it worth waiting for some scripting support?
In any case, I would open a new issue.

[2016-02-13 13:41] Bertram25 commented on #849
Hi guys, I'm still around even if I've got a lot to do. I'll do some code review asap, and see hat I can do to help a bit. :)

[2016-02-13 13:45] Bertram25 commented on #921
I think we should have a go at it, if he cannot do it.

[2016-02-13 19:26] akien-mga commented on #921
We can put @alketii on it, he can do some html magic pretty fast :)

[2016-02-13 20:03] alketii commented on #921
\o, I can work on it tomorrow :dancer:

[2016-02-13 21:51] hwoarangmy commented on #990
@akien-mga Sorry I had not seen the question. It should not be hard to move the parameter if you want to give a try ^^

[2016-02-13 21:54] hwoarangmy commented on #921
Cool, thanks ^^

[2016-02-13 22:26] #963 closed, assigned to nobody

[2016-02-13 22:26] #974 closed, assigned to hwoarangmy

[2016-02-13 22:26] #1067 closed, assigned to nobody

[2016-02-13 22:28] Bertram25 commented on #712
Just rechecked, the bug looks like being in CEGUI, but I'll check with them on the forums. The button area definition is right but the click area looks shifted bottom right by an half of the button size.

I'll keep you guys updated.

[2016-02-14 11:35] akien-mga opened #1094 "Define turn between waves on a per-wave basis"
As discussed in #990:

I'll have a go at it, it seems relatively easy to do.

[2016-02-17 13:36] hwoarangmy commented on #1040
Closed by a PR in the master server project

[2016-02-17 13:36] #1040 closed, assigned to nobody

[2016-02-19 14:11] Danimal696 opened #1096 "Add the new models to Casino room"
The CasinoBeerWall and poker table are still unused

[2016-02-19 14:38] #929 closed, assigned to Danimal696

[2016-02-19 17:05] akien-mga opened #1097 "Port to macOS"
OpenDungeons is developed as a cross-platform application and currently works on Linux and Windows, might build easily on *BSD variants too. It used to build on OSX but we have currently no contributor familiar with this platform, and would therefore welcome contributions.

[2016-02-20 12:56] akien-mga opened #1098 "Help window enhancements"
Suggestions from bark on the forums: http://forum.freegamedev.net/viewtopic.php?f=36&t=6791#p67642

As a new player that haven't played this type of game before, I'm having a hard time figuring out how to play the game “well”. I notice the help menu which I skimmed through a couple of times before realizing that I have to read it all to hopefully find some of the information I'm looking for.

The

[2016-02-20 13:02] akien-mga opened #1099 "Provide option to disable AI"
As suggested on the forums by bark: http://forum.freegamedev.net/viewtopic.php?f=36&t=6791#p67642

---

I'd suggest to add an option to make a seat "non playing" in any given map (unless specified otherwise in the level config, as we might want to have some scenarios with mandatory seats). Such a disabled seat would not be created on the server, and its buildings would be attributed to seat 0. So

[2016-02-21 12:49] oyvindln commented on #1097
I don't think it's ever built on OS X, the OS X specific code is just leftovers from the ogre example application.

[2016-02-21 23:33] Danimal696 opened #1100 "Weapons galore"
Small show of whats to come soon:

![opendungeons 2016-02-22 00-26-54-010](https://cloud.githubusercontent.com/assets/8299756/13206298/4a598304-d8fb-11e5-90d2-2e0712c69546.png)
![opendungeons 2016-02-22 00-27-15-312](https://cloud.githubusercontent.com/assets/8299756/13206299/4b3c8ec4-d8fb-11e5-95ba-dc92657b3a16.png)

Im pallaging the internet and filling empty spots with my own work; a full arsen

[2016-02-26 21:59] hwoarangmy commented on #1100
Cool. It looks nice ^^

[2016-02-26 22:00] hwoarangmy commented on #1097
hey @oyvindln
Nice to see you are still around ^^

[2016-02-26 22:02] hwoarangmy commented on #1096
oops, I forgot ^^
I will do that ASAP

[2016-02-26 22:04] hwoarangmy commented on #1098
Indeed, I guess it is not very clear to new players how to play be reading only this help page. However, I guess the proper way would be to script a level (ie creating a campaign). That will be something we will have to discuss.

[2016-02-27 15:11] Bertram25 commented on #1098
I would also maybe add tabs to the help window, so we can split subjects more clearly?

[2016-02-27 15:14] Bertram25 commented on #1100
wow, looks great! :D

[2016-02-27 21:29] hwoarangmy commented on #1098
Yes. As long as the tab labels are explicit, it would make it more readable.

[2016-02-27 23:49] Danimal696 commented on #1100
Center - starter neutral, Upper row - Good, lower - Evil
I  sure am plundering the internet for this, credits file is gonna be hell this time to me.
![shields](https://cloud.githubusercontent.com/assets/8299756/13376194/03396d9a-ddb5-11e5-81d4-47e63130a8e4.png)

[2016-02-29 20:48] Bertram25 commented on #1100
Can't wait!

[2016-02-29 21:08] #1055 closed, assigned to hwoarangmy

[2016-02-29 21:08] #1096 closed, assigned to hwoarangmy

[2016-02-29 22:32] hwoarangmy commented on #1100
Note that we can use some of these as room objects too ^^

[2016-03-02 13:46] hwoarangmy commented on #1099
Note that in theory, rogue portals can spawn creatures. They usually don't because rogue seat will almost always have more creatures than the minimum it can own (5 x number portals). I think it would be better (and simple) to not allow rogue portals to spawn creatures. WDYT ?

[2016-03-02 14:02] hwoarangmy commented on #1068
As @akien-mga said, the most easy would be to create a trap that can cast spells. That would allow to create many of the traps proposed in this thread (Zapper, Ice Totem, Explosion mine, Alarm trap).
It would also not be very hard to implement. However, it will require new models...

[2016-03-02 14:29] hwoarangmy commented on #1068
Also note that "Teleport trap" and "Summon trap" should not be hard to implement, too.

Concerning "Lava trap", a creature that cannot walk over lava would not be able to move anymore and would require help from the keeper. However, it might not be a bad idea. But it would require some work and testing as it would change pathfinding (since creatres owned by a keepers with vision on it should not b

[2016-03-02 15:08] hwoarangmy commented on #584
@eugeneloza Any news about the video ? If you cannot improve it, could you please upload it in the media repository so that we can have a look ?

[2016-03-02 16:23] Danimal696 commented on #1068
Yes :) ; melee  creatures would rush to the enemy while ranged would stay there and take advantage of the protection from the bunker while ranged attacking.

Exactly.

Why not creating a new auto-affliction? "In flames", when a creature is over a terrain it has 0 speed, it starts taking damage and get a speed boost to everything, repeat all turns until it manages to get out of the dangerous terrai

[2016-03-03 08:27] eugeneloza commented on #584
Sorry... I've been excessively lazy last time... I seem to be back in normal right now, so I'll try to finish it asap :) I'll also upload the sources tomorrow (because they are at my home computer and no Internet at home at the moment).

[2016-03-03 09:04] hwoarangmy commented on #584
Well, it is a free time project so nobody should yell at you ^^

That would be great as the parts you have shown looked promising

Thanks. I have been playing with blender some time ago and I would be interested to see how you managed to do the video. I might have questions, though, as I'm not very used to this great tool.

[2016-03-03 09:58] hwoarangmy opened #1103 "Using own linux package repository"
ATM, travis CI compilation fails because the libogre1.9 package has been removed from the repo we used to install it from.

IMHO, to not rely on repos that may change, we have 2 options:
1 - Get our own repo with all required packages (for example using launchpad)
2 - Compile what we need to, build a tarball with what is needed to install and download the tarball

@OpenDungeons/developers WDYT ?

[2016-03-03 14:48] oyvindln commented on #1097
Yeah I've thought about doing some work on the project again now that I have a new computer that can compile the project relatively fast.

[2016-03-03 15:31] hwoarangmy commented on #1097
Well, no pressure from me. But if you want to get back, you are more than welcome ^^

[2016-03-03 21:41] Bertram25 commented on #1103
Solution 1 is the best practice. I'm all for it.

[2016-03-03 21:41] Bertram25 commented on #1097
@oyvindln Welcome back, mate :)

[2016-03-03 22:08] hwoarangmy commented on #1103
I guess so. But I don't know how to do it. I will have a quick look.

@akien-mga I guess we are in your speciality field. Do you have some clues ?

[2016-03-03 22:27] akien-mga commented on #1103
I think that would be overkill, I'm pretty sure we can find existing PPAs with the dependencies we need; our dependencies are not so custom, we just need to update our travis-ci config. For example we're still building on Ubuntu 12.04 IIRC, while we could use Ubuntu 14.04 and then likely not need to build boost ourselves for example. Or we could use a docker image.

I just need to find some time t

[2016-03-03 23:10] Bertram25 commented on #1103
That's pretty much what I did for VT, so I'm ok with it. The thing is, with a custom PPA, even if we retake packages from elsewhere, we could reliabily count on those. Note that even doing a wget on some url is fine as well, right?

[2016-03-03 23:35] Bertram25 commented on #1052
Just to say that Lilou is also on this one. :>

[2016-03-03 23:36] Bertram25 commented on #852
@Danimal696 Looks like some outdated task. What should be uploaded to the media-repo already?

[2016-03-04 01:02] Danimal696 commented on #852
ill bite it this weekend, this time for real ;)

[2016-03-04 08:25] eugeneloza commented on #584
This is it: https://www.dropbox.com/s/q3l9nfcenkulecc/OD_cave.zip?dl=0
The working version is "4". Later - I've been struggling to make the torch, but failed. I think I should forget about it and just add a sword.

[2016-03-04 08:28] hwoarangmy commented on #1103
I didn't knew we could force a distro when building with travis. Indeed, using ubuntu 14 would help much as Ogre is already there IIRC. I will have a look.

[2016-03-04 08:30] akien-mga commented on #1103
They support either Ubuntu 12.04 (legacy), 14.04 (trusty) and containers.
To use 14.04, you have to define:

[code]

[2016-03-04 08:31] hwoarangmy commented on #1103
yes, I had seen in your travis file, thanks

[2016-03-04 08:38] hwoarangmy commented on #584
IMHO, you should go for the easiest way to make it work and then, focus on improving what you think can be. Of course, a torch would be cool but if it is too hard, it is not required.

For the record, I've found on open game art torches that seem to use particle effects (according to the pictures). If you want to have a look:
http://opengameart.org/content/izchaks-torches
http://opengameart.org/co

[2016-03-04 08:54] eugeneloza commented on #584
Yeah... I've been trying to implement particles-torch, but failed. I've seen good tutorials, but I'm still to newbie in blender. That's why I've postponed the work...
And yes, I'll try to implement everything simpler and hopefully finish it this time :D.

No, I don't know how to upload something at MediaRepo... But, if there's no haste. We'll have 4 days off in Ukraine tomorrow and I hope I'll be

[2016-03-04 09:10] hwoarangmy commented on #584
4 days off ? What is it for ?

[2016-03-04 19:34] #933 closed, assigned to hwoarangmy

[2016-03-05 10:11] Bertram25 commented on #924
See #954 for the start of implementation. Missing fixes are there.

[2016-03-05 21:59] Danimal696 commented on #1100
Hammers, Good only
![hammers](https://cloud.githubusercontent.com/assets/8299756/13550792/e5a162ee-e325-11e5-8675-3b4e0034c17f.png)

[2016-03-07 21:18] Bertram25 commented on #1103
Isn't this fixed?

[2016-03-07 23:26] hwoarangmy commented on #1103
ok

[2016-03-07 23:26] #1103 closed, assigned to nobody

[2016-03-08 09:07] hwoarangmy commented on #849
@OpenDungeons/developers IMHO, the only release blocker ATM is the room object for torture room. The wall objetcs are ok but not the central one.
@Danimal696 Do you have something in your cave that could fit ?

Then, we should start to release. Last release was from summer 2015 so IMHO, we should go for another one and improve what we are all working on after.

[2016-03-08 09:49] Danimal696 commented on #849
Imo we can still include a few more that are pretty basic but will add lots: new  music and the few weapons i have ready (not forge yet).
But i dont want to be the only blocker, if i cant deliver these soon, just void what i said; since lately i dont have much free time.

Ill put something together for the torture room asap.

[2016-03-08 09:54] akien-mga commented on #849
I think we should release asap, and then start defining smaller milestones maybe, so that we can have more frequent releases. _Release early, release often_ :) The more releases we make, the more attention we might get from potential contributors. (Many people will just check when the last release was to see if a project is worth diving into, and not always when the last commits or PRs were).

[2016-03-08 10:28] hwoarangmy commented on #849
Yes. And many people only download latest stable and stay on it. Releasing once a year is not enough IMHO. We should drive our releases dates depending on time instead of features as it would allow to have more releases.

[2016-03-09 09:20] eugeneloza commented on #584
We have a state holiday at 8th March (Women's day), and Monday was 'swapped' with Saturday. P.S. Sorry, I didn't make anything relative to the video yet, I have been too inspired by an overland generation algorithm for my game (those data structures nearly made my brain boil)... but eventually looks like it's going to launch up this week.

[2016-03-09 10:07] hwoarangmy commented on #584
ah ok, it is 4 days including the week-end. I thought it was some important event that I didn't know anything about ^^

[2016-03-10 20:17] hwoarangmy opened #1109 "Settings menu button is not visible"
As stated by bark in the forum:
http://forum.freegamedev.net/viewtopic.php?f=36&t=6791&p=67931#p67931

We might want to add a button next to the other ones for settings especially now that we have more interesting stuff than only video settings.

@OpenDungeons/developers WDYT ?

[2016-03-10 20:19] hwoarangmy opened #1110 "Opening character gets in the console when it is closed by pressing corresponding button"
It is annoying as you have to delete it before entering a new command.

[2016-03-10 20:24] hwoarangmy opened #1111 "Deactivated traps look too much like activated ones"
As stated by bark in:
http://forum.freegamedev.net/viewtopic.php?f=36&t=6791&p=67931#p67931

It may be a good idea to find something to make it more visual that they are not activated (maybe some particle effect, a special tile or something else).

@OpenDungeons/developers WDYT ?

[2016-03-10 20:25] hwoarangmy opened #1112 "Enemy workers can go through closed doors"
As stated by bark:
http://forum.freegamedev.net/viewtopic.php?f=36&t=6791&p=67931#p67931

[2016-03-10 20:27] hwoarangmy opened #1113 "Creature notifications should be deactivated when game is lost"
When you loose the dungeon temple, you should not be warned that creatures are hungry or cannot find food.

[2016-03-11 08:05] eugeneloza commented on #1111
Well... the best solution would be some other model (like unfinished one)... :)
If anybody can give me the original models in blender-importable format I can make those. Looks like a simple task.

[2016-03-11 08:13] eugeneloza commented on #1111
UPD. Found spike trap on media repo. I'll make something today.
P.S. and the monsters I've been looking for!!!

[2016-03-11 08:14] eugeneloza commented on #1111
P.P.S. A good idea would have been to include something like license.txt in each folder for easy access.

[2016-03-11 09:06] eugeneloza commented on #1111
Spike trap.
https://www.dropbox.com/s/oaypedzpzjsjydp/Spike_trap_unbuilt%2B%2B.blend?dl=0
I haven't modified the original texture, so it's unneeded. But let it be here https://www.dropbox.com/s/ii7jbowj0g27sks/Spike-trapTexture.jpg?dl=0 (it's a copy from media repo)
![spike_trap_unfinished](https://cloud.githubusercontent.com/assets/10726162/13697884/32074142-e779-11e5-82fe-ea3c460ccb86.png)

[2016-03-11 09:09] akien-mga commented on #1111
Awesome work :D

[2016-03-11 09:50] eugeneloza commented on #1111
Unfortunately, I've failed to import Cannon.mesh. Neither I could find the file at Opengameart and Blendswap... So... maybe anybody has a blender-importable file? Or knows how to install ogre_import.py properly (for me it just does nothing, no error messages, etc.)?

[2016-03-11 10:03] eugeneloza commented on #1111
P.S. If it is impossible, then I can make a model not based on the original mesh.

[2016-03-11 10:04] hwoarangmy commented on #1111
@eugeneloza That's a good idea. However, it will require more work from you and @Danimal696. I'm not sure we should go for that as we are already lacking many models (for example for the torture room).

[2016-03-11 10:09] eugeneloza commented on #1111
@hwoarangmy, is there a list of the missing models anywhere? I can't help with animations, but static models are much simpler to do.

[2016-03-11 10:46] hwoarangmy commented on #1111
Well, in this case, I would say the best would be to launch the game and open "model's fair". You will see all the rooms and corresponding models. Then, you can change what you think can be.

For my part, I would say:
1 - Torture room active spots (ATM, I've used the casino roulette but it is a release blocker IMO)
2 - Prison wall active spots. The skull model is nice but not suited for a prison w

[2016-03-11 11:05] eugeneloza commented on #1111
That's some kind of a dug-up place to build something based on... casino beer model texture :)
I think the texture should be improved, but not sure if it's reasonable to make an additional texture, maybe reusing is fine, despite low resolution.
Mesh: https://www.dropbox.com/s/0gile8361wdupb6/Cannon_trap_unbuilt.blend?dl=0
Texture (copy from casino beer barrel wall, so no need for it): https://www.

[2016-03-11 11:05] eugeneloza commented on #1111
@hwoarangmy Ok, I'll look what I can do here.

[2016-03-11 11:14] hwoarangmy commented on #1111
Note that a solution for deactivated traps can be to change the ground tile (with a mesh like what you did) and display the trap over. But it will mess with ground traps like spike trap.

[2016-03-11 11:40] Danimal696 commented on #1111
Hi guys, about the unbuilt traps, its better to keep it simple. Why not put in place a model thats is a box with tools inside, some building elements around it (like wood, cogs, screws...) and some funny construction sign? it should be not too big so the transparent model can be still be seen and we know what will go in there later if we forget.

[2016-03-11 12:31] hwoarangmy commented on #1111
well, adding one model with some tools might also do the trick and avoid to have different models for each trap. That's more or less what @eugeneloza did BTW. Maybe something a bit simpler to be sure it can fit for any trap (even when they recover the tile).

[2016-03-11 13:28] eugeneloza commented on #1111
Absolutly agree. I remember I've downloaded something like that with CC0 from BlenderSwap. But I didn't use it in my game for some reason... mabe it was too high poly?
I'll try to see what I can do here... but only on Monday.

[2016-03-11 19:49] Bertram25 commented on #1109
Fine by me. This was the first plan afaik. :)

[2016-03-11 19:55] Bertram25 commented on #1111
The models look awesome. If we are to add particle effects, we should add then on active stuff, not on deactivated ones imho.

[2016-03-11 19:55] Bertram25 commented on #1112
lol

[2016-03-11 20:06] Bertram25 commented on #849
What I'd say is, if you want to release asap, keep only bugs already in the current milestone and move everything else to later. We can decide what we'll want in 0.8 once 0.7 is out.

And then, let's focus only on stability and playability.

Ok for you guys?

[2016-03-11 20:18] Danimal696 commented on #849
Yes, there is already enought content for a release

[2016-03-11 20:22] Danimal696 commented on #1111
gold and grimoires would be perfect candidates to particles

[2016-03-11 21:03] hwoarangmy commented on #849
@Bertram25 Do you want to let the roulette in the torture room ?

[2016-03-12 12:05] akien-mga opened #1117 "Integrate new weapons and torture room object"
From #1115.

[2016-03-12 12:05] akien-mga commented on #1110
Closed by 41f33b1.

[2016-03-12 12:05] #1110 closed, assigned to hwoarangmy

[2016-03-12 12:05] akien-mga commented on #1113
Closed by afbef01.

[2016-03-12 12:05] #1113 closed, assigned to hwoarangmy

[2016-03-12 21:05] akien-mga opened #1118 "Display number of players in map selection menu"
There is currently no indication in the map selection menu about the number of players in each map. It would be nice to display it somehow.

Maybe we should also display the number of possible human players since it's not always the same as the total number of seats (e.g. when there are locked AI seats).

[2016-03-12 21:16] hwoarangmy opened #1119 "Portal spawn rate should not be hardcoded"

[2016-03-12 21:17] hwoarangmy opened #1120 "Try to display the callstack in the logs when a crash occurs"
I cannot reproduce so far but @bark10 reported it:
http://forum.freegamedev.net/viewtopic.php?f=36&t=6791#p67957

[2016-03-12 21:18] hwoarangmy opened #1121 "Traps defense/hp/claim values should be configurable"
As asked by @bark10 in:
http://forum.freegamedev.net/viewtopic.php?f=36&t=6791#p67957

[2016-03-12 21:30] hwoarangmy opened #1122 "Faction not correctly set in the lobby when hosting"
in the lobby (masterserver game), we can see the faction is set but the game complains it is not when I click launch. I had to open the combo and choose the values to make them work

[2016-03-12 22:01] hwoarangmy commented on #1122
Note that it has been tested on "the bridge" level. After hosting another game ("greed or might", game launched in a row without closing/launching), the game could be launched without having to manually set factions. I don't know if it is because of different level settings or something else. In any case, when a multiplayer level is launched, we would expect unselectable settings only to be set. O

[2016-03-13 20:37] Bertram25 commented on #849
I don't have anything against it if you think it's eye hurting. :)

[2016-03-13 21:34] Bertram25 commented on #712
This seems to be a CEGUI bug. So I'll have a look at how we can work that around, but meanwhile ...

[2016-03-14 00:54] Danimal696 commented on #849
there is a replacement already

[2016-03-14 08:22] hwoarangmy commented on #849
Which one ? I've missed it.

[2016-03-14 08:24] hwoarangmy commented on #849
ok, I've had a look and found it. I didn't see it before it got merged ^^

[2016-03-14 09:35] Bertram25 commented on #849
Perfect, then! :)

From what I could see, there are only two tasks left from the base plan.

[2016-03-14 12:43] hwoarangmy commented on #849
I will try to handle #1122 tonight as it is pretty annoying and not user friendly.

[2016-03-15 07:31] eugeneloza commented on #849
Try this one for Torture Room :)
https://www.dropbox.com/s/85zxi2argmbqwhl/160314_TortureRoom.zip?dl=0
![tortureroom1](https://cloud.githubusercontent.com/assets/10726162/13770538/73ec047a-ea90-11e5-9c53-83d7faa66cdc.png)
![tortureroom2](https://cloud.githubusercontent.com/assets/10726162/13770537/73eae018-ea90-11e5-98f9-c997f85a2e3a.png)
![tortureroom3](https://cloud.githubusercontent.com/assets/

[2016-03-15 11:17] Danimal696 commented on #849
Those are pretty nice models :)
You still have to add shadows to it, do you know how to bake Ambient Oclussion maps?

[2016-03-15 11:20] eugeneloza commented on #849
No :) I just add a checkbox in world -> ambient occulsion... and delete all lights to see everything properly during unwrapping the model.
I'll look through a tutorial at youtube...

[2016-03-15 11:55] Danimal696 commented on #849
you just need to overlap the AO map on the texture with an image editor, it give a nice effect

[2016-03-15 12:44] hwoarangmy commented on #849
@Danimal696 If it is not too hard, could you please create an how to for the wiki using gimp ?

[2016-03-15 13:33] Danimal696 commented on #849
Sorry, im a photoshop user, i can do it for that program thougth

[2016-03-15 13:46] hwoarangmy commented on #849
no pb. In this case, could you just tell what you do and post small images of an original file and the corresponding occlusion map ? I will have a look if I can find how to do it with gimp.

[2016-03-15 23:06] Danimal696 commented on #849
sure, ill do it tomorrow if possible

[2016-03-16 09:18] hwoarangmy commented on #849
@eugeneloza The models are nice for static objects. However, most of our creature models currently have few animations: "walk", "die", "attack". If possible, we should try to focus for torture room on models for central active spots that do not make us have to add animations to all our models. The cage, for example, is good from this point of view. But the other models would need corresponding ani

[2016-03-16 11:16] eugeneloza commented on #849
@hwoarangmy I'm afraid it's much harder for me to make animations than static models. I have almost no experience in animating, and when I do animations I get relatively random result :) And I was sure, that creatures in torture room would just walk around randomly showing "take damage" animation.
How is active spots animation is done in torture room (I haven't ever built one myself yet :D)? Do th

[2016-03-16 12:36] hwoarangmy commented on #849
@eugeneloza No pb. I was only pointing this to avoid you to work on models that we won't be able to use ^^
Concerning current torture room, you can have a look by opening "model's fair" test map and droping some non worker creature in the torture room. Basically, it is the last model @Danimal696 did. Some kind of fireplace. When a creature is dropped, it goes on one acive spot and some fire (parti

[2016-03-16 15:45] Danimal696 commented on #849
What is the current release blocker? the cultist?

[2016-03-17 00:16] #1109 closed, assigned to hwoarangmy

[2016-03-17 00:16] #1112 closed, assigned to hwoarangmy

[2016-03-17 00:16] #1119 closed, assigned to hwoarangmy

[2016-03-17 00:17] Bertram25 commented on #1122
Fixed with https://github.com/OpenDungeons/OpenDungeons/pull/1124/commits/ad754f12c034e18d37e3fdd3227655cd4ad7b13c

[2016-03-17 00:17] #1122 closed, assigned to hwoarangmy

[2016-03-17 00:19] Bertram25 commented on #1120
Let's see if @bark10 still has the issue with the setting button being different (?)

[2016-03-17 10:51] hwoarangmy commented on #849
IMHO, there are no more release blocker. The cultist could be a nice addition but not mandatory since we already have enough creatures.
The only problem I see ATM is #1120

In any case, I will build a release this WE with what will be in the repo and I think we can go for the 0.7.0 RC1 and a good lan would be cool to test all that. For my part, I won't add new stuff excepted maybe some unit tests

[2016-03-17 12:24] Bertram25 commented on #849
@hwoarangmy Then please, move out of the 0.7 milestone everything you don't see fit the current release so that the issue list stays relevant with what will be shipped. Good to see something out again. :)

[2016-03-18 16:36] bark10 commented on #1120
Will check this as soon as the next snapshot/version is out :D

Edit: tried deleting .config/opendungeons and .local/share/opendungeons. did not work

[2016-03-18 17:22] hwoarangmy commented on #1120
@bark10 Relevant test. We will see once the new binaries are out

[2016-03-18 17:24] akien-mga commented on #1120
I can reproduce the bug too actually using my Linux64 snapshot, so it's a library problem on my buildsystem most likely. I'll investigate.

[2016-03-18 17:33] akien-mga commented on #1120
I'll try to build against the new CEGUI 0.8.5, and revert OIS back to the old release (I had installed a git snapshot to see if it improved input issues at a time).

[2016-03-18 17:43] hwoarangmy commented on #1120
CEGUI 0.8.5 ? IMHO, we should use the same version as they might introduce different bugs/behaviours. Have you tested it ? If not, I think we should stick on 0.8.4 for the RC1

[2016-03-18 17:45] akien-mga commented on #1120
I'm using 0.8.5 locally, it works ok. The binaries I've just built against cegui 0.8.5 and the older OIS seem to work fine, I'm currently uploading them.

[2016-03-18 17:53] akien-mga commented on #1120
CEGUI 0.8.5 just has some minor bugfixes: http://cegui.org.uk/download/cegui-085

[2016-03-18 18:05] akien-mga commented on #1120
@bark10 Could you try http://download.tuxfamily.org/opendungeons/WIP/OpenDungeons-git20160318-Linux64.tar.xz ?

@hwoarangmy I've got to go, I'll let you link my snapshot when you announce your new windows binaries. My snapshot does not contain your very latest PR, but since it only affects unit tests it's not really an issue IMO.

[2016-03-18 18:14] hwoarangmy commented on #1120
yep, I agree. Ok, i will add the link

[2016-03-18 19:12] Bertram25 commented on #1120
@akien-mga @hwoarangmy There are interesting fixes relative to tooltip. Might be worth testing whether they fixed the empty tooltip behavior. When is the lan scheduled ? :)

[2016-03-18 19:15] bark10 commented on #1120
@akien-mga Yay, the settings menu works now. But the game crashes whenever I try to start a new game! I get this error message:

`GLSL compiled:
Vertex Program:3ede7ef0-466e-4636-87cf-acfedb1c8df0_VS Fragment Program:cc639481-98a1-525f-5f8a-428d02db2597_FS GLSL link result :
CEGUI::UnknownObjectException in function 'CEGUI::NamedElement* CEGUI::NamedElement::getChildElement(const CEGUI::String&) c

[2016-03-18 19:53] hwoarangmy commented on #1120
Then I guess we should stay on CEGUI 0.8.4. I remember someone tried to compile using CEGUI dev branch (before 0.8.5 was out) and had similar problem. I guess they somehow changed how windows are built.

[2016-03-19 21:43] akien-mga commented on #1120
I've done another build using CEGUI 0.8.4, and it indeed fixes the issue.

@bark10 I've upload new binaries at http://download.tuxfamily.org/opendungeons/WIP/OpenDungeons-git20160318-Linux64-fixed.tar.xz that should fix the above issue. To save bandwidth I only uploaded the new `opendungeons.x86_64` binary and `lib64` folder, as the rest of the data is unchanged; so just remove your binary and lib

[2016-03-19 23:11] akien-mga opened #1127 "Only one seat can be assigned to AI Normal (AI Easy can have several seats)"

[2016-03-19 23:11] akien-mga opened #1128 "Beef up the explosion spell"
Right now it's not really worth researching, as it does very little damage.

I don't know if it should be modified only for the keeper, or also for creatures though. Maybe only the keeper?

[2016-03-20 10:07] bark10 commented on #1120
Excellent! I can start games now. The game crashed after 30 minutes. Here's the log found in .local/share/opendungeons: https://paste.perldancer.org/2LfTpqltfazla

[2016-03-20 10:38] akien-mga commented on #1120
Thanks! Was there by any chance a stacktrace in the terminal?

(@hwoarangmy @Bertram25: Would we have a way to ensure that the stacktrace is written in the log too, or is the application killed already so we can't manage the log file at that time?)

[2016-03-20 12:40] bark10 commented on #1120
I usually run the game in the terminal, but I forgot it this time (just double-clicked the executable). Therefore I had to rely on the log in .local/share. Could you explain what "stacktrace" means?

edit:  I read this http://stackoverflow.com/questions/3988788/what-is-a-stack-trace-and-how-can-i-use-it-to-debug-my-application-errors

How do I recognize a/the stacktrace?

[2016-03-20 12:55] bark10 commented on #1035
An additional suggestion to this is to make treasure emit a tiny bit of light to make it look more "shiny". I heard that there's some issues with shader errors when adding multiple sources of light, so this is by no means urgent. Just wanted to put it here.

[2016-03-20 13:08] akien-mga commented on #1120
It will look typically like the last part of this log: https://github.com/OpenDungeons/OpenDungeons/issues/763#issue-77431335 (everything after "Program received signal SIGABRT, Aborted."). Basically it gives the list of the function calls that led to the crash, starting from the function that crashes and going up the stack. Depending on whether you have debug informations including in the binary,

[2016-03-20 20:39] hwoarangmy commented on #1120
I've had a look at the log but couldn't see the reason why it crashed. It is not an easy task without the call stack.

Concerning displaying the call stack in the log, it is not straight forward because the log file may not be initialized when the crash occurs. Thus, it is always better to use the console or a dedicated log. However, I guess it is worth the trouble to have a look.

[2016-03-20 20:42] akien-mga commented on #1120
Using a different file would be fine if that's easier, something like crash.log.

[2016-03-21 08:55] hwoarangmy commented on #1128
Note that all of this can be done in the config files. Explosion spell for keeper is in config/spells.cfg (actually value is 5 per turn for 5 turns).
For creatures, it is defined in config/creatures.cfg for each skill "Explosion". IIRC, it is set to 15 damages for 1 turn for them.

Concerning the spell power value, ATM, creatures with good defense vs magic tier 4 start with 6.8 magical defense + 0

[2016-03-21 09:01] akien-mga commented on #1128
That sounds pretty good to me :)

I'm starting to think that it might be interesting to have some keeper stats such as magic attack power than would influence the damage of such spells, and could be either researched in the library, or maybe in a dedicated structure (e.g. praying at the dungeon temple). Just a random idea, don't know if it would be good gameplay wise :)

[2016-03-21 09:48] eugeneloza commented on #849
Short tutorial on baking Ambient Occulsion
[BakeAmbientOcculsion.zip](https://github.com/OpenDungeons/OpenDungeons/files/181920/BakeAmbientOcculsion.zip)

[2016-03-21 09:52] eugeneloza commented on #849
And the baked textures to the models above:
[AmbientOcculsionTextures.png.zip](https://github.com/OpenDungeons/OpenDungeons/files/181927/AmbientOcculsionTextures.png.zip)
@Danimal696 , please, check if I did everything correctly.

[2016-03-21 11:23] Danimal696 commented on #849
will look tonigth :)

[2016-03-24 10:48] eugeneloza opened #1131 "Crash-to-destop log"
@hwoarangmy, I've found the crash report log I was talking about:
[crash.zip](https://github.com/OpenDungeons/OpenDungeons/files/187648/crash.zip)
P.S. I was also recording the gameplay video by OBS.

[2016-03-24 17:46] Loobinex opened #1132 "Highlight tiles DK1 style with 'Right mouse button'."
The games allows you to highlight tiles for digging by dragging a bounding box over the dirt tiles. This is very convenient when making rectangular rooms, but very inconvenient when you want to make corridors or L shaped rooms.

I would like to be able to highlight (and remove highlights from) dirt tiles 'dungeon keeper 1' style by using the right mouse button. So:
- Press right mouse button on a

[2016-03-24 17:46] Loobinex opened #1133 "Keyboard input to jump to dungeon heart"
I would like to be able to press the 'H' key on my keyboard and have the screen jump to my dungeon heart.
This helps immensely with dungeon management to go back to your main dungeon after spending time exploring or fighting away from it.
For now it is also a very welcome workaround while issue #955 is not solved and you can get lost completely.

Follow up features would be to also have (configura

[2016-03-24 17:52] Bertram25 commented on #1133
Hi @Loobinex and welcome! :)

Actually, the T key can already do exaclty that.

[2016-03-24 17:52] #1133 closed, assigned to nobody

[2016-03-24 17:58] Bertram25 commented on #1132
Hi again @Loobinex

Btw, do you have a video of this DK1 feature somewhere?

As for corridors, it is already feasible by dragging from one tile to another in a row or columns, is there another need in that area?
I don't understand also the need for L shaped rooms, I must say as I never used that in the many games we had.

Sorry again, XD, what you describe is the exact current game behaviour using

[2016-03-24 17:58] akien-mga commented on #1133
Welcome :)

For the part about configuring keybindings, it's tracked in this issue: #910. We haven't really started working on it, though it should be relatively easy to integrate in the existing game settings.

[2016-03-24 17:59] hwoarangmy commented on #1131
@eugeneloza Thanks for the log. It is much easier to understand what happened with it. You forgot to say that you were exiting the game when it crashed ;-)

I will fix that tonight. Fix should be pretty easy

[2016-03-24 18:00] Bertram25 commented on #1132
Arf, I think there is a good example here at 0:40: https://www.youtube.com/watch?v=wLzBb2BToZI

I think this may be easily feasible, but I'd rather use some key like Shift or something equilvalent.
@OpenDungeons/developers WDYT all?

[2016-03-24 18:07] Bertram25 commented on #1133
Ah, also when you are attacked, pressing Space will bring you to the location of the fight. Might be handy. :)

[2016-03-24 18:25] Loobinex commented on #1132
Current implementation is 'selecting' an area to highlight. DK1 functionality is 'painting' an area to highlight. Both have advantages and disadvantages, and having both options provides the best of both world. Highlighting is very easy for making rooms, but frustrating when you want custom shapes and when perspective is off. Paining is slow for large rooms but satisfying to do and easy for custom

[2016-03-24 18:29] Loobinex commented on #1133
Thanks for the welcome, and sorry for the duplicate. I had tried a few buttons already, T was not one of them but it should do the trick.

[2016-03-24 18:32] Bertram25 commented on #1133
Don't be sorry :) Feed-back is always welcome! Btw, your comment about the right click make sense and may induce some control changes. Let's see how it turns.

[2016-03-24 20:08] hwoarangmy commented on #1132
I wouldn't do that for building rooms (even if it can be handy especially for treasure room) because when a room is selected, right clic is used to cancel selection.
However, we can use that to select tiles to dig. It wouldn't go against our current workflow. Moreover, our architecture is already more or less prepared for that. In any case, I am planning on improving it so that this case of tile s

[2016-03-24 22:22] Loobinex commented on #1132
@hwoarangmy I played the latest version available on opendungeons.github.io, 0.6.0. I haven't prepared anything to build the game myself and have not found any pre-build incremental patches to nightly builds to look at.

I'm still adjusting to the game, just touched it for a few moments. During the daytime I couldn't really play as even with my monitor brightness maxed out it was too dark to see w

[2016-03-24 22:27] Danimal696 commented on #1132
so its a choosing of rigth or left key? i dont think that justifies a change; also DK digging system was pretty bad, you had to mark tiles one by one, that was corrected in DK2 which system we (and many ones) copied. Rigth now you can also select tile by tile or mark rectangles , Whats the problem?

[2016-03-24 22:30] akien-mga commented on #1132
You can grab newer builds for Windows and Linux on http://download.tuxfamily.org/opendungeons/WIP/

[2016-03-24 22:35] Loobinex commented on #1132
In DK1 you did not have to select tiles one by one. You could keep your mouse button pressed to draw selection. For small and medium sized rooms it went about as fast as in DK2.

Room tiles in DK1 did have to be placed one by one though, which even though is too archaic to be re- implemented in a new game so I think you should keep this part as it is. However it did also have a specific advantage

[2016-03-24 22:51] hwoarangmy commented on #1132
@Loobinex As I said, we are near a new release and pretty much things have been added since 0.6.0 is out. If you like the game, I strongly recommand to download one of the latest snapshots as many game content as been added. However, the game brightness will probably not be much better as IIRC, nothing has been changed about that. For my part, I don't have this issue so it is not that easy to fix

[2016-03-24 23:47] #1127 closed, assigned to hwoarangmy

[2016-03-24 23:47] #1128 closed, assigned to hwoarangmy

[2016-03-24 23:47] #1131 closed, assigned to hwoarangmy

[2016-03-24 23:47] Bertram25 opened #1134 "A slapped worker complained it needed a bed."
As seen in latest devel snapshot.

[2016-03-25 01:06] Loobinex opened #1135 "Keyboard shortcuts to switch between panes"
I find myself constantly switching between the different panes, for example the creature pane to select a worker and the rooms pane to build rooms.
I would find it very convenient if I could use my keyboard to switch between them. As the WASD keys are the default for screen movement, I'd suggest the the number keys for the panes. (1 for rooms, 2 for traps,...)

[2016-03-25 01:07] Loobinex opened #1136 "Pressing 'Esc' should close window, not game"
Whenever I open a window(like the research screen) in version git20160318 I have to press the tiny cancel button to continue to play. Instinctively I press Esc to close it, but this shows a prompt to close the game instead of the window.

I would prefer the 'Esc' key to bind to the Cancel/Close buttons and the 'Enter' key to Accept/Apply buttons.

[2016-03-25 01:14] Loobinex opened #1137 "No clear indication which tab is open"
See this screenshot. There's a little red line to indicate which pane is active, but this is too subtle to notice.
![whichtab](https://cloud.githubusercontent.com/assets/13840686/14035423/5cb8b668-f22e-11e5-8c20-f7bfa482cd01.jpg)

Much better would be to continue the white line over the inactive tabs like this:
![thistab](https://cloud.githubusercontent.com/assets/13840686/14035424/5dfcdae0-f22e-1

[2016-03-25 01:15] Loobinex opened #1138 "Reinforce corner walls"
Please see the screenshot below. Notice the workers have reinforced everything they can, but the corner tiles remain neutral. It would look a bit prettier if the corner tiles would also be filled when two adjacent slaps are reinforced.

Even when all tiles are reinforced, the little corner stone is missing.

![reinforcedcorner](https://cloud.githubusercontent.com/assets/13840686/14035230/22383b14-

[2016-03-25 01:18] Loobinex opened #1139 "Too little cooldown beween voice alerts"
In version git20160318 I noticed there was not enough time between the same voice alerts.

To reproduce start the first skirmish map, and prioritize digging out a large dungeon before building the first room. In the meantime many creatures will poor in, all complaining they have no lair. The result is you'll constantly here the voice messages warning you about this fact, this feels like spam.

It

[2016-03-25 01:25] Loobinex opened #1140 "Change cursor to 'Unavailable' on forbidden action"
I find it unclear when I'm trying to do an action that is not allowed. I get no feedback when I for example try to build a room on a dirt wall. The result is often that I don't realize which action I have selected (I think I can select for digging but still have the build room action active) or that I don't meet the requirements for an action (money, mana, whatever) until I click and notice it doe

[2016-03-25 01:28] Loobinex opened #1141 "Voice alert 'under attack' when rival creatures are fighting"
In version git20160318 I received voice warnings that I was 'under attack', which alarmed me. However I found that it was just my creatures infighting.
When my own creatures are fighting among themselves I should not hear the voice message 'We're under attack'.

It would be best to replace it with its own voice alert.

[2016-03-25 04:41] akien-mga commented on #1134
How dare he!

[2016-03-25 07:18] eugeneloza commented on #1131
Ooops... I don't remember I was exiting the game :) But, maybe... Or perhaps I was just trying to make a pause...? Anyway, I'm glad it was easy to fix :)
Thanks!

[2016-03-25 14:28] Loobinex opened #1142 "Scroll speed should depend on zoom level"
You can use the WASD keys to scroll the map and explore/navigate your dungeon. However, the speed is the same when you are zoomed out as when you are zoomed in(in tiles per second). The result is that when you zoom in and navigate everything moves far too fast to see.

What I would find much more comfortable is that the more zoomed in you are the slower this scroll speed is so that you can comfort

[2016-03-25 14:46] Loobinex opened #1143 "It should be possible to get rid of creatures"
Creatures will enter your dungeon at random, and because you can only have a limited amount, they have different uses and a specific composition is needed to get more powerful creatures you should be able to get rid of creatures you don't want.

My suggestion is to do so like in the dungeon keeper games, and be able to drop creatures into the portal to make them leave.

[2016-03-26 19:04] hwoarangmy commented on #1143
Yes, that has been discussed some time ago and I guess it would be a nice feature. Until now, most of us prefer to slap them to death instead of letting them go ^^

Note that implementing that is pretty straight forward

[2016-03-26 19:05] hwoarangmy commented on #1142
I never paid attention to that. More precisely, I never felt there was something wrong about that. I will try and have a look

[2016-03-26 19:06] hwoarangmy commented on #1141
Yes, I had also seen that. Thanks for opening the issue

[2016-03-26 19:08] hwoarangmy commented on #1140
Note that it is not that straight forward as starting building a room while on full tiles is allowed (of course, only allowed tiles would be built). I guess we should discuss how we want everything to behave

[2016-03-26 19:09] hwoarangmy commented on #1139
ATM, the cooldown is 30 seconds. I will try raising it a bit. Or maybe we should make them configurable.

@OpenDungeons/developers WDYT ?

[2016-03-26 19:16] hwoarangmy commented on #1138
This is known and has already been discussed. But doing so is not straight forward and would change the gameplay (as heroes wanting to dig to your dungeon would not be able to dig trough claimed tiles). IMHO, it is a won't fix. The best would be to find a model for claimed tiles that looks better when claimed tiles are next to not claimed ones.

@OpenDungeons/developers WDYT ?

[2016-03-26 19:17] hwoarangmy commented on #1137
Yes, it is not very easy to know the tab currently open. We need to mess with CEGUI to see if we can find a way to make it clearer.

[2016-03-26 19:21] hwoarangmy commented on #1136
Yes, it would be a nice addition

[2016-03-26 19:21] hwoarangmy commented on #1135
good idea

[2016-03-26 19:22] hwoarangmy commented on #1134
Your workers really think they can do anything. Seems like you don't slap them enough

[2016-03-26 19:56] Danimal696 commented on #1138
the only i can think of, is making 3 new tiles (texture only, no new mesh) with 1,2 and 4 small "walled" corners, while the rest is dirt.

[2016-03-26 22:59] Loobinex commented on #1142
To easily reproduce the issue make a dungeon with at least 4 rooms, zoom in close to the maximum level and use the WASD keys to take a look at all rooms one at a time. Notice the only way this is possible is by using very short taps on the keyboard and even then you'll often overshoot.

You've probably don't play the game zoomed in, while for people interested in observing their creatures this is

[2016-03-26 23:08] Loobinex commented on #1138
@hwoarangmy Are you sure you want heroes to dig through those tiles? In the screenshot above you see three green arrows:
1) The tile completely surrounded by reinforced walls is totally inaccessible in all cases.
2) The tile on the right is actually reinforced so cannot be dug through, still it has no cornerstone.
3) The southern tile can currently be dug through by heroes, but what is the upside?

[2016-03-26 23:22] Loobinex opened #1145 "Corrupt save game leads to not being able to start new game"
I tried to load a saved game that gave me an 'Invalid map' warning. It might be a saved game from an old version of the game.

When I did I got an error message that said: "Error: Could not start server for single player game!!!"
With the three exclamation marks I took the error message seriously so I gave up and tried to load my other saved games, however they now all gave the same error message.

[2016-03-27 08:43] hwoarangmy commented on #1138
That's not my point. The way I see it, reinforcing thoses walls will not be straight forward (code wise) and will introduce some special behaviours (auto-claim tiles when some surrounding tiles have been claimed - unclaiming when surrounding tiles have been unclaimed).
Moreover, it will introduce some build orders where you can use auto claim to claim tiles in your dungeon (in your screenshot, for

[2016-03-27 08:47] Loobinex commented on #1138
It will not provide an advantage to try and have additional corner walls to more quickly claim ground. This is because digging walls should take more time than digging dirt, which offsets the time gained.

That said I certainly agree that it's not straightforward to implement for a very trivial thing.

[2016-03-27 09:17] Bertram25 commented on #1138
I must say that would one "bug" remains in OD, it would be that one. That's a lot of work code-wise + testing for a trivial detail.
On another hand, if we had tiles looking better in that situation, it would be evenn better, as no additional code would be involved. :)

[2016-03-27 09:20] Bertram25 commented on #1137
Ok, this one is mine then. I wanted to add a ambient luminositybsetting first though. ;)

[2016-03-27 09:20] Bertram25 commented on #1136
Indeed!

[2016-03-27 09:22] Bertram25 commented on #1134
Hmm, I'll remedy that point. >;)

[2016-03-27 10:43] Danimal696 commented on #1138
so the new tiles textures would be the best fix, fine by me, but there is a lot of things to do before that, ill do it as a low priority thing.

[2016-03-27 10:45] Loobinex commented on #1138
If somebody can point me towards the current textures, I might be able to provide this one.

[2016-03-27 10:47] Danimal696 commented on #1138
which graphic suite do you use?

[2016-03-27 10:49] Loobinex commented on #1138
At the moment? Paint. ;).

For something like this? That would depend on the format of the texture files.

[2016-03-27 10:54] Danimal696 commented on #1138
Can you use gimp or photoshop?

[2016-03-27 10:57] Loobinex commented on #1138
I've worked with photoshop in the past. I've never used GIMP.

[2016-03-27 11:08] Danimal696 commented on #1138
in the game folder, Materials->Textures ; dirt.png should be your base,
DungeonClaimedWall1111 is the closest to what we need, but the lower part being dirt instead of wall and no "flower"; each 1 in the name stands for one corner being true (near a claimed wall) so you need to create four variations from 1 to 4 corners each. Its easier once you see it.

[2016-03-27 12:39] hwoarangmy commented on #1138
GIMP is a photoshop equivalent but free and open source. If you never tried, it is worth testing ^^

[2016-03-27 22:09] #1134 closed, assigned to nobody

[2016-03-28 00:13] Loobinex commented on #1138
I believe I made what is needed. This is the result:
Before:
![before](https://cloud.githubusercontent.com/assets/13840686/14068628/ae1b9536-f489-11e5-8520-f804a0a33779.jpg)

After:
![after](https://cloud.githubusercontent.com/assets/13840686/14068630/b54c7744-f489-11e5-9db4-f6890381456a.jpg)

Here are the files:
[reinforcedcorners.zip](https://github.com/OpenDungeons/OpenDungeons/files/191521/rei

[2016-03-28 11:07] Danimal696 commented on #1138
nice

[2016-03-28 12:09] hwoarangmy commented on #1138
@Loobinex The problem with your texture is that it would fit a special dirt tile (around claimed walls). ATM, we use configurable tilesets. Using special tiles like the ones you made would require to add special cases in the tileset (dirt tile linked to claimed tile). It is possible but quite some work (and possible bugs) for a not mandatory feature IMHO.
When I was talking about changing models,

[2016-03-28 12:58] Danimal696 commented on #1138
he did pretty well for the dirt corners, cant they be declared in the tileset?

[2016-03-28 13:04] Loobinex commented on #1138
@hwoarangmy No problem. Feel free to keep the files for a possible future use. I appreciate this is merely a cosmetic issue and gameplay has to come first.

[2016-03-28 13:06] Danimal696 commented on #1138
your addition is pretty welcome, im sure we wil manage the technical issues of it

[2016-03-28 14:23] Danimal696 commented on #1138
@hwoarangmy when i try to create dirtCorner in the tileset (just a copy of dirtFull, i dont actually use it in any declaration) the game doesnt load and the log shows this:

[code]

Its impossible to add a new kind of tile? is it hardcoded for just the existant ones?

[2016-03-28 16:52] hwoarangmy commented on #1138
Yes, use of the different kind of tiles is hardcoded. If we want to integrate such kind of tiles, we would need to declare all the possible tiles with all possible neighboor tiles (ground and full). ATM, to reduce combinations, we declare linked and not linked tiles (per type) and the tile types that link together.
That means that at the moment, we have:
6 \* 2 \* 2^4 = 192 + links per tileset.

I

[2016-03-28 19:43] Danimal696 commented on #1138
i cant imagine that, can you put a dirty quick sample?

[2016-03-28 22:17] hwoarangmy commented on #1138
Something like that:

![ae1b9536-f489-11e5-8520-f804a0a33779](https://cloud.githubusercontent.com/assets/7493706/14091960/a392831c-f543-11e5-9eb1-f9f852cce668.jpg)

[2016-03-28 22:26] Loobinex opened #1146 "Tought bubble stuck in center of my screen"
I was playing the game, in the process of highlighting gold when suddenly a thought bubble appeared on my screen. There was no creature in sight. I moved my camera but the thought bubble was stuck.

I proceeded to make the screenshot and secured the log file:
[Ogre.zip](https://github.com/OpenDungeons/OpenDungeons/files/192568/Ogre.zip)

![hungry](https://cloud.githubusercontent.com/assets/1384068

[2016-03-28 22:31] Loobinex commented on #1132
I ran into another use case for this request.

Play the map Stonekeep Siege and you're surrounded by conveniently placed gold that you'll receive as you dig out rooms. However, proceed after that and you'll need to mine out irregular shaped gold, which is annoying to highlight with the current method and I find myself just selecting square patches and have my workers dig out the surrounding soil.

[2016-03-28 22:42] Loobinex commented on #1146
Pressing V made it disappear. When I got new bubbles a few minutes later I pressed 'Alt' and noticed this:

![nowwhat](https://cloud.githubusercontent.com/assets/13840686/14092384/bd541416-f546-11e5-9768-11fe7cf459cb.jpg)

All the creature icons are displayed on random dirt, way north of my dungeon, which I can toggle with Alt.

[2016-03-29 07:19] hwoarangmy commented on #1132
Do you mean about the game play overall ? Or code architecture ?

[2016-03-29 07:46] Loobinex commented on #1132
Purely game play. And I'm not talking about the specifics like which
rooms/creatures are to be implemented or what the setting is to be(evil
creatures/demons), but the kind of stuff you'd normally test in your
first vertical slice. What is going to engage the player, why is he
going to play the game, and what is going to provide the fun?

On 29-3-2016 09:19, hwoarangmy wrote:

[2016-03-29 09:41] JKatzwinkel commented on #965
I can build with cegui `0.8.4-12` and run the game without problems. The `UnknownObjectException` persists if I build using cegui `0.8.5-1`.

**Edit:** (_meaning arch linux package releases_)

[2016-03-29 15:26] Danimal696 commented on #1138
You have to admit it looks bad no matter how you look it... i will think for something in the long run..

[2016-03-29 15:36] Danimal696 commented on #1132
those are pretty mudddy waters what you are asking for, i can see different answers, but firstly have into account this game is a work in progress. What to expect would be basically the same as DK:
- Dungeon building
- RTS and creature simulator
- Good humour (not yet in)
- Some fun campaign

[2016-03-29 16:09] Loobinex commented on #1132
A work in progress sure, but I'm understanding you're not working towards a design? Did you receive any input from some experienced (game) designers?

[2016-03-29 17:13] akien-mga commented on #965
I get the package release numbers you mentioned come from Ubuntu? Keep in mind that there are tons of Linux distros so 0.8.4-12 does not mean much in itself.

I've noticed issues with the newly released 0.8.5 too though, I'll have to investigate. I like how the CEGUI team manages to break compatibility at each bugfix release...

[2016-03-29 18:14] akien-mga commented on #1142
I've noticed this issue when trying to make cool zoomed-in screenshots for release announcements. @Loobinex's proposal sounds pretty straightforward.

[2016-03-29 18:20] akien-mga commented on #965
@OpenDungeons/developers If there's a simple fix to make it work with both CEGUI <= 0.8.4 and >= 0.8.5, it would be nice to get it before releasing 0.7.0, as I can already see coming the PlayDeb guy updating CEGUI without testing OD against it, and us getting bug reports about our game being broken :p

Additionally, I've pushed CEGUI 0.8.5 to Mageia's repos already too, so my official opendungeons

[2016-03-29 18:31] Danimal696 commented on #1132
No, we dont have that kind of budget, but we do have an overall design, played&tested mechanics and most importly, the will to finish this as best as some hobbist ragtag team can. Thats the reason we love getting feedback, it help us improve; but we wont deviate much from our main roadmap to cater to everyone tastes. Thats is a certified project killer.

[2016-03-29 18:35] akien-mga commented on #1132
There are are no strong design plans at the moment no, I don't know if there were when the original developers started OpenDungeons, or if they just wanted to implement a DK-like engine. When we took over the development, we went from an alpha graphics engine to something that actually looks like a game - @Danimal696 was the guy with the clearest view of the design we should aim for I think, but i

[2016-03-29 19:01] hwoarangmy commented on #965
I confirm I also have the issue with CEGUI 0.8.5. I guess it comes from the way we set the window title (according to the exception). There might be a better way than to get the child window called "**auto_titlebar**". Note that we might also try to get rid of "**auto_closebutton**" which is much more used and might have the same problem. My guess is that "__auto_*" are not meant to be directly ad

[2016-03-29 19:03] hwoarangmy commented on #1138
Yep. That's why artists are needed ;-)
Note that it is only one solution, there might be other options. However, I think we should stick on this kind of solution (ie not changing dirt tiles depending on other tile types)

[2016-03-29 19:05] hwoarangmy commented on #1146
Strange. Did you find a way to reproduce that ? Overlays are not very verbose and the logs won't say much. Did something unusual happened before the issue ?

[2016-03-29 19:27] Loobinex commented on #1146
I have not tried yet, it was the last game I played and it happened over an hour in. Both times it happened I noticed nothing special and received no notifications, I was just highlighting spaces for digging when suddenly they appeared.
If I come across it again I'll let you know and I'll try to find more information. I'll also save the game to see if persists on loading.

[2016-03-29 21:19] hwoarangmy commented on #1146
ok, thanks. For my part, I will have a look at the code. It might come from something not beeing reset when the creatures owning the overlays are not visible anymore

[2016-03-29 21:27] hwoarangmy commented on #965
I've had a look and it seems not too hard to fix. It seems the proper way to set a windows title is calling window->setText.
Concerning **auto_closebutton**, it seems the proper way is to subscribe to "CEGUI::FrameWindow::EventCloseClicked". I will have a look at the remaining "auto*".
Once it is done, I will release a PR and you can try if it works with CEGUI 0.8.5.

[2016-03-30 00:05] Loobinex opened #1147 "High Concept / Design brief"
In #1132 I asked an off topic question, and the resulting answers need to be addressed. If I understand correctly nothing is written down on what this project is trying to accomplish, so the risk is that nothing is going to be accomplished. We need a High Concept or a Design Brief or something along those lines.

To respond to the comments on the other issue

---

---
###### Danimal696 commented:

[2016-03-30 08:31] eugeneloza opened #1148 "Crash-to-destop #2"
In the latest snapshot (http://download.tuxfamily.org/opendungeons/WIP/OpenDungeons-git20160326-Win32-MSVS2013.zip) I still get crash-to-desktop at closing the game window. Log:
[crash.zip](https://github.com/OpenDungeons/OpenDungeons/files/195102/crash.zip)
Previous issue here:
https://github.com/OpenDungeons/OpenDungeons/issues/1131

[2016-03-30 08:33] eugeneloza opened #1149 "Battle music @ imprisoned/tortured creature"
When I put my own creature into prison I get "we're under attack" message, the music starts "battle theme" and persists...
(got it at Model's Fair + latest release when imprisoned a kretaur).

[2016-03-30 08:34] eugeneloza commented on #1143
Moreover, if you have a crypt, slapped creature's bodies can rot and turn into something useful :)

[2016-03-30 08:38] eugeneloza commented on #1139
Today I've checked git20160326, and _different_ alerts almost come one-by-one with cooldown max at 1-3 seconds, and it seems that after 'another' alert has been fired, the counter resets and puts the next one without a cooldown. I.e. might that be:
NoRoomToSleep(sets NoRoomToSleep counter to 30 sec)->NoFood(discards NoRoomToSleep counter and sets NoFood counter to 30 sec)->(immediately as NoRoomTo

[2016-03-30 08:39] hwoarangmy commented on #1147
1 - I would say the humor. That's what we really lack IMHO in this game because it would require some funny animations and that would mean more work on the artists shoulders.
2 - ATM, I think we have reached graphics level that is pretty good for an amateur project (none of us is working as a professional game developper/artist). The game is stable enough to be playable and we have a strong focus

[2016-03-30 08:39] eugeneloza commented on #1142
Yeah, at close-in view scroll is too fast.

[2016-03-30 09:05] Loobinex opened #1150 "Spells and traps need to have counter-play"
In Dungeon Keeper the spells and traps were poorly designed from a game play perspective. This was especially so in the first game, but OpenDungeons should not repeat the same mistake. That they add so little to these games is because they don't have any counter-play.
###### On spells:

---

For players the spells and traps of DK have always felt both overpowered and useless at the same time. For

[2016-03-30 09:09] Danimal696 commented on #1147
When the last team left, the project was a real mess, most of it was just some proof of concept mechanics and lots of unrealistic goals. At first i simplified and shaped it a lot to resemble more the original DKs, after that i stepped down and everything is decided among all, my opinion may have some weigth but its not final or decisive, so i dont consider myself the project leader, just the older

[2016-03-30 10:05] Loobinex commented on #1143
I'd say that is abuse and should be discouraged, not encouraged.
In DK slaps were a micro-management mechanic, increasing the speed/effectiveness of slapped creatures in combat/research/everything by 25%, on top of it being fun to do. You'd needed many, many slaps to kill a creature. As a result slapping creatures was a good thing to do.

What I see so far in OpenDungeons is that it takes just a f

[2016-03-30 13:34] Loobinex commented on #1147
###### hwoarangmy commented

[code]

@hwoarangmy So (1) a funny (10) multiplayer focused game. That would be quite a challenge I think as comedy is much easier to do in a single player/story setting than it is in a multiplayer game. When you have a 30-minute battle with a friend, you're not exactly wanting to watch your creatures dance when the casino has a jackpot right? So do you have any idea h

[2016-03-30 15:07] hwoarangmy commented on #1147
Yes, of course, looking at your creatures will be much more on purpose during the campaign than during the game. I would also had that once you have seen the black mistress in the torture room once, you won't find it as funny the next time. But you will remind that it was fun. And that's what I think we should go for.

Well, difficulty depends on the map. Changing them is not too hard. What is dif

[2016-03-30 15:31] Danimal696 commented on #1147
well, i dont consider myself a boss at all (and dont want to be) and your feedback is pretty welcome, im not taking any of it as an offense. Anyways, putting something like that together will take a lot of time and effort but may be worth it, currently the wiki tries to fill that spot.

Thats a Conan quote! how cant you not know it? heresy...
To me the answer to that is adapting my dungeon and cre

[2016-03-30 16:09] Loobinex commented on #1147
@Danimal696 The High Concept does not take that much time at all. It should fit on a single page of text. Naturally speccing out the game further will take a lot of effort and that will go along side the development of the game.

It sounds to me like both of you prefer the dungeon management aspect of the game, and that combat in itself is not important.
How would you feel about having 'neutral zo

[2016-03-30 16:15] hwoarangmy commented on #1148
strange. Could you post your log ?

[2016-03-30 16:26] Danimal696 commented on #1147
Theres already such a mechanic, when invading enemy dungeons you cant drop creatures nor in unclaimed lands, there is a spell that makes all ready creatures rush there "call to arms".

[2016-03-30 16:50] Loobinex commented on #1147
Yes I know, just like both dungeon keepers. However, this can all be claimed, and most attacks are begun by claiming first and then fighting on the edge where red and blue land meet. Heroes are almost exclusively battled on claimed ground. This means almost always you'll just drop all your creatures directly on the battle.
I mean a type of land that cannot be claimed ever but can be walked over.

[2016-03-30 17:01] Danimal696 commented on #1147
We have :), rock 0% fullness

[2016-03-30 18:52] hwoarangmy commented on #1149
Yes. ATM, torture room and prison trigger the attacked message/sound

[2016-03-30 20:44] Bertram25 commented on #1147
My turn I guess. (Been pretty busy, but well, I like design discussions :])

Anyone, feel free to correct me if I'm wrong, but here is my opinion:

@Loobinex If I may, I think this issue is pretty cool to summarize a bit why every people involved around is still around. :)
But overall, this issue can be summarized in one of your sentence:

The good thing is that you care enough to try and refine t

[2016-03-30 20:59] Bertram25 commented on #1145
Hey @Loobinex :)
The bug comes from the fact that the game (be it for a lan, or a single game) starts a server part, the client part will try to discuss with over lan or using the local loop (in single player mode), this design permits to have almost the same behavior when you play single and multiplayer mode, reduce the need of lan tests and thus improves the overall quality of the game as testin

[2016-03-30 21:02] Bertram25 commented on #1100
@Danimal696 Should we precise how we want to merge the weapons into the game? The thing is I think the scope of this issue a neverending one.

[2016-03-30 21:04] Bertram25 commented on #1024
Have the creatures we're going to add been decided yet, or is it still up for discussion?

[2016-03-30 21:05] Bertram25 commented on #1028
Closing as duplicate of #1052

[2016-03-30 21:05] #1028 closed, assigned to Bertram25

[2016-03-30 21:07] Bertram25 commented on #1091
Closing since @hwoarangmy answered the question. :)

[2016-03-30 21:07] #1091 closed, assigned to hwoarangmy

[2016-03-30 21:07] Bertram25 commented on #1142
Setting to the later pot for now.

[2016-03-30 21:13] Bertram25 commented on #1143
I think @Loobinex has a point. So I guess we have an issue about setting the number of slaps to kill a creatures much higher.

I suppose we then have the issue to be able to get rid of the creatures. In my humble, we could use two ways:
- Put the creature in a portal, so that it gets away with a protection that if the player drops many creatures in the portal within a turn the creatures do not get

[2016-03-30 21:13] Bertram25 commented on #1146
I confirm the bug.

[2016-03-30 21:16] Bertram25 commented on #1146
@hwoarangmy Just to make sure, will you have a look for 0.7?

[2016-03-30 21:22] Loobinex commented on #1143
As far as I know there's nothing to protect the player from discarding his entire army through the portal in either dungeon keeper game, and I have never seen any complains about it.

[2016-03-30 21:25] Bertram25 commented on #1150
@Loobinex I must say I wholeheartedly agree with your point of view, but as you said, we first need precise examples of how we'll improve each spell and traps.

For instance, that's why we thought about the fear trap which makes the creature flee carelessly away, and adds some strategy upon how you place them, or a trap that makes the creature run while getting zone damages, making them dangerous

[2016-03-30 21:30] Bertram25 commented on #1139
@eugeneloza Yet, this doesn't fit with new and urgent messages. I think we should keep "urgent" messages on top of the queue if possible, like "You are being attacked".

[2016-03-30 21:30] Loobinex commented on #1150
Ok, I'll sign up for the forums.

[2016-03-30 21:32] Bertram25 commented on #1143
We could try without the "protection" first, indeed.

[2016-03-30 21:36] Bertram25 commented on #1150
Thanks! I'd suggest there: http://forum.freegamedev.net/viewforum.php?f=37 Feel free to point out anything. (Closing as it belongs to forums, but I hope precise tasks will come up out of this. :])

[2016-03-30 21:36] #1150 closed, assigned to nobody

[2016-03-30 21:39] Bertram25 commented on #556
@Danimal696 Wasn't this one done btw? (Looks like an oldie)

[2016-03-30 21:41] Bertram25 commented on #1083
@Danimal696 Do you think this is still relevant for 0.7.0? Or do you need more time?

[2016-03-30 21:42] Bertram25 commented on #1032
@akien-mga I actually made the map much more usable by setting the waves to levels between 1 and 4 for the spawned creatures. The yellows then became an annoyance but the map is feasible and the real threat are the other players.

What do you think about that change?

[2016-03-30 21:44] Bertram25 commented on #752
@hwoarangmy Once we have a first usable cegui 0.8.5 snapshot, I'll have a look at whether this bug is gone. :)

[2016-03-30 21:48] hwoarangmy commented on #1143
I would say the only protection we might need is to check if there are enemies in sight nearby. If not, the keeper wants to discard the unit. If yes, it should fight instead.

[2016-03-30 21:51] Loobinex commented on #1143
That should be consistent with how all room assignments are done. If a creature is dropped into a room it is assigned to work that room, unless an enemy is nearby. Being assigned to the portal means leaving the dungeon, the same way being assigned to the training rooms means 'go train'.

[2016-03-30 21:51] Bertram25 commented on #1143
Good idea but we'd need to define "nearby" then. WDYT about the visible enemies within 15 tiles?

[2016-03-30 21:53] Bertram25 commented on #965
Interesting :D Where did you get this information? Does this mean we could get rid of auto stuff in the code or in the looknfeels?

[2016-03-30 21:53] Loobinex commented on #1143
In the dungeon keeper games, the standard combat range is checked. So on drop first check for combat, only afterwards go into room assignment.

[2016-03-30 21:55] hwoarangmy commented on #1145
Well, I guess that we should not take the socket if the savegame/level is not read for any reason. This is a bug a should be fixed. However, until version 1.0, we already said we don't want to bother with compatibility and we accept that even minor upgrades (according to version numbers) break compatibility.
But indeed, broken saved games should only display a message saying that the game could no

[2016-03-30 21:56] hwoarangmy commented on #1146
Yes, I will have a look. However, I'm only going to look in the code since I don't know how to reproduce the bug so I'm not sure it will be fixed.

[2016-03-30 21:59] Loobinex commented on #1147
@Bertram25: Thanks for the reply.
Again though, a 'High Concept' or a 'Brief' is just the opposite to having a 'greatly defined grand plan', the former is at most a page of text and more importantly just articulated the direction you want to go in and the latter sounds like a lot of paperwork to me.
I think Dungeon Keeper is a bit of an unusual game, in the sense that it is one of a kind and almos

[2016-03-30 22:01] hwoarangmy commented on #1143
Well, ATM, when a creature is dropped in a room, the room can handle the creature and push fitting actions. If the creature sees enemies, it will stop what it is doing and fight. That means that the protection might already fit the current architecture and there might be no need to do anything. And in this case, the vision of the creature would be used (15 for most creatures). Note that a problem

[2016-03-30 22:03] Bertram25 commented on #712
I finally did my job: http://cegui.org.uk/forum/viewtopic.php?f=10&t=7161 ;)

[2016-03-30 22:04] Bertram25 commented on #1143
Well, let's see when the case happens. :) I'm fine with the rest.

[2016-03-30 22:06] hwoarangmy commented on #965
For setting the window title:
http://cegui.org.uk/wiki/The_Beginner_Guide_to_Creating_a_CEGUI_Window

For closing the window, I asked google if there was an event and it answered me:
http://cegui.org.uk/forum/viewtopic.php?t=1901

Note that I have had a look in the look n feel and it seems the auto\* are defined in our own widget declarations. Because of that, I'm not really sure the bug will be f

[2016-03-30 22:07] hwoarangmy commented on #752
Yep. Let's hope it will be gone ^^

[2016-03-30 22:08] Bertram25 commented on #1147
Lol, well, it's so good to be bad, right? ;P

Now there is something interesting, if you can pinpoint what is "too easy", we can maybe work on that point per point.

Good! I guess the future of this issue belongs to forums or more precise tasks, then?

[2016-03-30 22:08] hwoarangmy commented on #1032
@Bertram25 Have you also changed the creatures nearby ? From what I remember, you can easily find tier 3 creatures when you only have 2 tier 1 ones...

[2016-03-30 22:10] Bertram25 commented on #1145
Ah yes, that part is very true and deserves a fix.

[2016-03-30 22:13] Bertram25 commented on #965
Agreed. auto window have revealed being a muddy thing to deal with. Plus, they get messed up when editing windows with CEED. So if we have to remove them, all the better.

[2016-03-30 22:16] Bertram25 commented on #1032
I didn't had problems from the 2 games I had, but I may have been lucky, indeed. If the level of the tier2 or 3 creatures is 1 or 2, it should still be feasible.

[2016-03-30 22:22] Bertram25 commented on #982
I think this issue is more a forum thing and has been discussed on other issues more specifically. Closing.

[2016-03-30 22:22] #982 closed, assigned to nobody

[2016-03-30 22:23] Bertram25 commented on #1033
@hwoarangmy Didn't you handle this one already?

[2016-03-30 22:25] Bertram25 commented on #1068
@Loobinex For info.

Closing as duplicate of #1150

[2016-03-30 22:25] #1068 closed, assigned to nobody

[2016-03-30 22:53] Loobinex commented on #1147
When I have some time I indeed want to raise some topics about dungeons and creature concepts.

I'll leave the administration of closing issues and moving discussions to other places to you. However, if you feel you'd like to have High Concept, I have received input for it here so I could provide one for you all. If you don't see any value I won't make one as it is a bit of work.

[2016-03-31 07:50] akien-mga commented on #1142
Setting to 0.8.0, as it's likely easy to implement. I may take a look (but not right now, so I won't assign myself yet).

[2016-03-31 07:59] akien-mga commented on #1032
@Bertram25 That sounds like a good change. I haven't had a look at it myself yet, so feel free to push an improved version.

About the rogue creatures nearby, there might be some tier 3 creatures but still relatively far away from the base (mid way between two bases or so). IIRC the nearest creatures are spiders and the like; but they're still dangerous as very close so if you dig in the wrong dir

[2016-03-31 08:10] Loobinex commented on #1150
@Bertram25: I've opened a topic yesterday: http://forum.freegamedev.net/viewtopic.php?f=37&t=6858

[2016-03-31 08:19] Loobinex opened #1151 "See the full map"
I would like to have an overview of the full map. The levels are quite large and I find I'm always looking for the area's I'm interested in, like where I was digging or where there's still gold to mine.

Here I want to be able to see the entire level and be able to click on a specific location to jump to it.

[2016-03-31 08:21] hwoarangmy commented on #1147
Note that ATM, we are lacking room diversity. When we will have more models, we might be able to have creatures depending on rooms (like in DK).

Since you are talking about concepts, to increase the strategic aspect of the game, for the first attempt at balancing, I've made tier 4 creatures specialized (physical, magical and elemental) depend on 2 corresponding tier 3 creatures. This way, switchi

[2016-03-31 08:23] Loobinex opened #1152 "See number of workers"
It is currently not easy to know how much workers you have. Currently the only available options are to pick them all up or to look at how much mana the create worker spell will costs.

However, I've found myself building the maximum numbers of workers, only to find out much later that I had lost almost all of them in battle. I'd like to see a simple count of the amount of workers somewhere.

[2016-03-31 08:23] hwoarangmy commented on #1033
yes

[2016-03-31 08:23] #1033 closed, assigned to hwoarangmy

[2016-03-31 08:25] eugeneloza commented on #1148
You mean OpenDungeons.log from 'roaming' folder? I'll get it tonight. But it contains no messages I could detect as crash-related.
It happens when I click on cross (close) in the window titlebar.